<template>
    <b-modal
        :hide-footer="true"
        no-close-on-esc
        no-close-on-backdrop
        v-model="showModal"
        modal-class="confirm-update-score"
    >
        <div>
            <h1 class="text-center">{{messages.SR_053_MODAL_CONFIRM_UPDATE_SCORE_TITLE}}</h1>
            <p class="update-score">{{messages.SR_053_MODAL_CONFIRM_UPDATE_SCORE_DESCR}}</p>
            <div class="text-right">
                <button class="btn btn-none" @click="handleCloseModal" type="button" style="margin-right:10px">
                    {{messages.SR_053_MODAL_CONFIRM_UPDATE_SCORE_NO}}
                </button>
                <button class="btn btn-blue" @click="handleSaveChange" type="button" ng-click="yes()">
                    <i class="fa fa-check"></i>
                    {{messages.SR_053_MODAL_CONFIRM_UPDATE_SCORE_YES}}
                </button>
            </div>
        </div>
    </b-modal>
</template>

<script lang="ts">
    import Vue from 'vue';

    const _ = require('lodash');

    export default Vue.extend({

        name: "ConfirmUpdateScoreCard",
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
        },

        methods: {
            handleSaveChange() {
                this.$emit('handleSaveChange')
            },
            handleCloseModal() {
                this.$emit('handleClose')
            }
        }
    })
</script>

<style lang="scss">
    .confirm-update-score {
        p.update-score {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 200;
        }

        .modal-header {
            border-bottom: none;
            padding-bottom: 0px;
        }

        .modal-dialog {
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            background: #edeff0;
            text-align: center;
        }

        .modal-content {
            border: none;
        }

        .modal-body {
            padding-top: 0px;
        }

        .modal-header .close {
            display: none;
        }
    }
</style>

