<template>
    <div>
        <div v-show="currentPortalLandingPage.config == 'bold'">
            <BoldApplySuccess></BoldApplySuccess>
        </div>
        <div v-show="currentPortalLandingPage.config == 'simple'">
            <SimpleApplySuccess></SimpleApplySuccess>
        </div>
    </div>
</template>

<script>
    import {mapGetters,mapActions,mapMutations} from 'vuex';
    import BoldApplySuccess from '@/components/LandingPage/ApplySubmittedComponent/BoldApplySuccess.vue';
    import SimpleApplySuccess from '@/components/LandingPage/ApplySubmittedComponent/SimpleApplySuccess.vue';
    export default {
        name: "ApplySuccess",
        components:{
            BoldApplySuccess,
            SimpleApplySuccess
        },
        computed:{
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'currentDepartmentsLandingPage',
                'currentLocationsLandingPage',
                'currentPositionView',
                'convertLinkToEmbedLink'

            ]),
        },
        mounted(){
            let that = this
            let name_route = that.$route.name
            that.setPositionView(that.$route.params['position_id'])
            that.checkCurrentNamePage(name_route)
            window.scrollTo(0,0);
        },
        methods:{
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage',
                'setPositionView',
                'checkCurrentNamePage',
            ]),
        }
    }
</script>

<style scoped lang="scss">
    .container-wrapper{
        margin-top: 70px;
        .confirmation-container{
            margin-top: 70px;
            padding: 40px;
            height: 500px;
            .application-confirmed{
                margin: 50px 0;
                text-align: center;
                i{
                    text-align: center;
                    font-size: 100px;
                    color: #86c68f;
                }
                h1 {
                    font-size: 43px !important;
                    margin-bottom: 20px !important;
                    color: #444444;
                    font-weight: 400 !important;
                }
                p {
                    color: #444444;
                }
            }
        }
    }
</style>
