<template>
    <div class="position">
        <div v-show="currentPortalLandingPage.config == 'bold'">
            <BoldApplyComponent></BoldApplyComponent>
        </div>
        <div v-show="currentPortalLandingPage.config == 'simple'">
            <SimpleApplyComponent></SimpleApplyComponent>
        </div>
    </div>

</template>

<script>
    import {mapGetters,mapActions,mapMutations} from 'vuex';
    import BoldApplyComponent from '@/components/LandingPage/ApplyPositionComponent/BoldApplyComponent.vue';
    import SimpleApplyComponent from '@/components/LandingPage/ApplyPositionComponent/SimpleApplyComponent.vue';
    import PositionView from '@/models/PositionView';
    import PipelineReport from '@/models/PipelineReport';
    export default {
        name: "PageAppyPosition",
        components:{
            BoldApplyComponent,
            SimpleApplyComponent
        },
        computed:{
            ...mapGetters([
                'currentCandidateLandingPage',
                'currentPortalLandingPage',
                'currentPositionView'
            ])
        },
        mounted(){
            let that = this
            let name_route = that.$route.name
            let position_id = that.$route.params['position_id']
            that.setPositionView(position_id)
            that.checkCurrentNamePage(name_route)
            window.scrollTo(0,0);
            that.createCandidate()
            if (localStorage.getItem(position_id)) {
                // update localStore to current cadidate
                let candidate_local = JSON.parse(localStorage.getItem(position_id))
                that.setCandidate(candidate_local)
            }else {
                // create cadidate to localStorage
                let candidate_str = JSON.stringify(that.currentCandidateLandingPage)
                localStorage.setItem(position_id,candidate_str)
            }
        },
        methods:{
            ...mapMutations([
                'setCandidate'
            ]),
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage',
                'checkCurrentNamePage',
                'setPositionView',
                'createCandidate'
            ]),

        }
    }
</script>
<style scoped>

</style>
