<template>
    <div class="position">
        <div v-if="currentPortalLandingPage.config == 'bold'">
            <BoldPositionsPage></BoldPositionsPage>
        </div>
        <div v-if="currentPortalLandingPage.config == 'simple'">
            <SimplePositionsPage></SimplePositionsPage>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import {mapGetters,mapActions} from 'vuex';
    import BoldPositionsPage from "@/components/LandingPage/DetailPositionComponent/BoldDetailPosition.vue";
    import SimplePositionsPage from "@/components/LandingPage/DetailPositionComponent/SimpleDetailPosition.vue";
    import PositionView from '@/models/PositionView';
    import Meta from 'vue-meta';
    // @ts-ignore
    Vue.use(Meta, {
        keyName: 'metaInfo',
        attribute: 'data-vue-meta',
        ssrAttribute: 'data-vue-meta-server-rendered',
        tagIDKeyName: 'vmid',
        refreshOnceOnNavigation: true
    })
    import _ from 'lodash'
    import Company from "../../models/Company";
    export default {
        name: "DetailPositionPage",
        components:{
            SimplePositionsPage,
            BoldPositionsPage
        },
        metaInfo() {
            let meta = this.meta;
            return { meta };
        },
        data(){
            return {
                meta: []
            }
        },
        // @ts-ignore
        computed:{
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'currentDepartmentsLandingPage',
                'currentLocationsLandingPage',
                'currentPositionView',
                'convertLinkToEmbedLink'

            ]),
        },
        inject:[
            'getAddress'
        ],
        mounted(){
            let that = this
            let name_route = that.$route.name
            // console.warn(that.$route)
                that.setPositionView(that.$route.params['position_id']).then(() => {
                    let position_id = that.$route.params['position_id']
                    that.setPositionView(position_id).then(() => {
                        let position_view = new PositionView()
                        position_view.company_id = that.currentPositionView.company_id
                        position_view.position.id = that.currentPositionView.id
                        position_view.position.user_id = that.currentPositionView.created_by
                        position_view.position.status = that.currentPositionView.status
                        position_view.source.id = "Postal"
                        position_view.source.name = 'Portal';
                        position_view.source.type = 'Portal';
                        position_view.insert()
                    })
                    new Company().getById(that.currentPositionView.company_id).then((company)=> {
                        console.log(company)
                        let location_position = that.getAddress(that.currentPositionView);
                        that.meta = [
                        {
                            'property': 'og:url',
                            'content': window.location.href,
                            'vmid': 'og:url'
                        },
                        {
                            'property': 'og:image',
                            'content': that.currentPortalLandingPage.appearance_header,
                            'vmid': 'og:image'
                        },
                        {
                            'property': 'og:type',
                            'content': 'og:type',
                            'vmid': 'og:type'
                        },
                        {
                            'property': 'og:title',
                            // @ts-ignore
                            'content': that.currentPositionView.title,
                            'vmid': 'og:title'
                        },
                        {
                            'property': 'og:description',
                            // @ts-ignore
                            'content': `${company.name} tuyển dụng ${that.currentPositionView.title} - ${location_position}`,
                            'vmid': 'og:description'
                        },
                        {
                            'name': 'description',
                            // @ts-ignore
                            'content': `${company.name} tuyển dụng ${that.currentPositionView.title} - ${location_position}`,
                            'vmid': 'description'
                        },
                        {
                            'name': 'og:site_name',
                            'content': company.name + " tuyển dụng",
                            'vmid': 'og:site_name'
                        },
                        {
                            'name': 'og:image:alt',
                            'content': `Tuyển dụng - ${company.name}`,
                            'vmid': 'twitter:card'
                        },
                        {
                            'name': 'twitter:card',
                            'content': 'summary_large_image',
                            'vmid': 'twitter:card'
                        },
                        {
                            'name': 'twitter:title',
                            'content': that.currentPositionView.title,
                            'vmid': 'twitter:title'
                        },
                        {
                            'name': 'twitter:description',
                            'content': `${company.name} tuyển dụng ${that.currentPositionView.title} - ${location_position}`,
                            'vmid': 'twitter:description'
                        },
                        {
                            'name': 'twitter:image',
                            'content': that.currentPortalLandingPage.appearance_header,
                            'vmid': 'twitter:image'
                        },
                    ]
                    })
                })
            that.checkCurrentNamePage(name_route)
            window.scrollTo(0,0);
        },
        methods:{
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage',
                'setPositionView',
                'checkCurrentNamePage',
            ]),
        }
    }
</script>

<style scoped>

</style>
