<template>
    <div>
        <div v-if="currentPortalLandingPage.config == 'bold' && showFotter">
            <footer class="bg-dark d-flex justify-content-center align-items-center py-5">
                <!--        <div class="container-footer">-->
                <!--            <p v-if="currentPortalLandingPage.tax_code" class="tax-code"><span class="tax-lable">Tax Code</span>{{currentPortalLandingPage.tax_code}}</p>-->
                <a class="text-light d-flex align-items-center" href="http://www.cloudjetpotential.com/">
                    <span class="mx-3">{{$cjpmessages.SR_046_FOOTER_LABLE_1}}</span>
                    <h4>{{$cjpmessages.SR_046_FOOTER_LABLE_2}}</h4>
                </a>
                <!--        </div>-->
            </footer>
        </div>
        <div v-if="currentPortalLandingPage.config == 'simple' && showFotter">
            <div class="portal-footer">
                <div class="footer-container">
                    <a href="http://www.cloudjetpotential.com/">
                        <span class="label">{{$cjpmessages.SR_046_FOOTER_LABLE_1}}</span>
                        <span class="brand">{{$cjpmessages.SR_046_FOOTER_LABLE_2}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        name: "Footer",
        data(){
            return{
            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'showFotter'
            ])
        },
    }
</script>

<style scoped lang="scss">
    a.align-items-center{
        text-decoration: unset;
        h4{
            margin-bottom: 0px !important;
        }
    }
    .portal-footer{
            text-align: center;
            margin-top: 40px;
            margin-bottom: 20px;
            .footer-container{
                color: #8d9aa5;
                a{
                    cursor: pointer;
                    text-decoration: unset;
                    color: #8d9aa5;
                    &:hover{
                        color: #5d6b76 !important;
                    }
                    .label {
                        position: relative;
                        font-size: 12px;
                        top: -2px;
                    }
                    .brand {
                        margin-left: 5px;
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
        }
    /*.container-footer{*/
    /*    text-align: center;*/
    /*    .tax-code{*/
    /*        color: #fff;*/
    /*        .tax-lable{*/
    /*            margin-right: 10px;*/
    /*        }*/
    /*    }*/
    /*    }*/
</style>
