<template>
    <header class="fixed-top header-nav header headerStyle">
        <div class="container">
            <div class="row">
                <div class="col-sm d-flex align-items-center">
                    <!--                                    <a href="{{ '/' | relative_url }}">-->
                    <ul class="nav">
                        <router-link :to="{name:'LandingPageHome'}"  class="company-name link">
                            <img id="nav-image" v-if="currentPortalLandingPage.appearance_logo"
                                 :src="currentPortalLandingPage.appearance_logo">
                            <h1 v-else>{{currentCompanyLandingPage.name}}</h1>
                        </router-link>
                        <ul class="menu-header" v-if="showMenu">
                            <li class="nav-item mx-3 link" v-if="(currentPortalLandingPage.perks && currentPortalLandingPage.perks.length > 0) && checkShowElmemt('perks')">
                                <a @click="scrollTo('perks')" class="nav-username">
                                    <span>{{$cjpmessages.SR_046_MENU_PERKS}}</span>
                                </a>
                            </li>
                            <li class="nav-item mx-3 link" v-if="(currentPortalLandingPage.photos && currentPortalLandingPage.photos.length > 0) && checkShowElmemt('gallery')">
                                <a  @click="scrollTo('gallery')" class="nav-gallery">
                                    <span>{{$cjpmessages.SR_046_MENU_GALLERY}}</span>
                                </a>
                            </li>
                            <li class="nav-item mx-3 link" v-if="(currentPortalLandingPage.testimonials && currentPortalLandingPage.testimonials.length >0 ) && checkShowElmemt('testimonials')">
                                <a @click="scrollTo('testimonials')" class="nav-testimonial">
                                    <span>{{$cjpmessages.SR_046_MENU_TESTIMONIALS}}</span>
                                </a>
                            </li>
                        </ul>

                    </ul>
                    <ul class="links links-company" v-if="showMenuLink">
                        <li v-if="currentPortalLandingPage.website" class="link misc company">
                            <a :href="currentPortalLandingPage.website"
                               target="_blank"
                               rel="noopener noreferrer"
                               class="bzyButtonColor">
                                <!-- https://developers.google.com/web/tools/lighthouse/audits/noopener-->
                                <span class="polygot" >{{$cjpmessages.SR_046_MENU_COMPANY_WEB}}</span>
                            </a>
                        </li>
                        <li v-if="currentPortalLandingPage.twitter" class="link misc social">
                            <a :href="currentPortalLandingPage.twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li v-if="currentPortalLandingPage.facebook" class="link misc social">
                            <a :href="currentPortalLandingPage.facebook">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li v-if="currentPortalLandingPage.instagram" class="link misc social">
                            <a :href="currentPortalLandingPage.instagram">
                                <i class="fab fa-instagram">
                                </i>
                            </a>
                        </li>
                        <li v-if="currentPortalLandingPage.linkedin" class="link misc social">
                            <a :href="currentPortalLandingPage.linkedin">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li v-if="currentPortalLandingPage.blog" class="link misc social">
                            <a href="">
                                <i class="fab fa-angellist"></i>
                            </a>
                        </li>
<!--                        <li v-if="currentPortalLandingPage.rss" class="link misc social"><a :href="currentPortalLandingPage.rss"><i class="fa fa-rss"></i></a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    import {mapGetters} from 'vuex';
    import $ from 'jquery'
    export default {
        name: "Header",
        data(){
            return{
            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'showMenu',
                'showMenuLink'
            ])
        },
        methods: {
            checkShowElmemt(name_element){
                let index = this.currentPortalLandingPage.layout.findIndex((element) => element.name == name_element)
                return this.currentPortalLandingPage.layout[index].is_show
            },
            scrollTo(id_element){
                let offSetTopElement = $(`#${id_element}`)[0].offsetTop;
                let offSetHeader = $(".landing .header").height();
                let offSetCustomToSmooth = 10;
                window.scrollTo(0,offSetTopElement-offSetHeader-offSetCustomToSmooth);
            }
            // changeColorBtn(e){
            //     var css = '.bzyButtonColor:hover{ background-color: #00ff00 }';
            //     var style = document.createElement('style');
            //
            //     if (style.styleSheet) {
            //         style.styleSheet.cssText = css;
            //     } else {l
            //         style.appendChild(document.createTextNode(css));
            //     }
            //     // alert("tu")
            //     document.getElementsByTagName('head')[0].appendChild(style);
            // }
        }
    }
</script>

<style lang="scss">
    .landing-page {
        @import "~styles/landing_page.header";
    }
</style>
