<template>
    <div>
        <div v-if="currentPortalLandingPage.config == 'bold'">
            <HomeBold></HomeBold>
        </div>
        <div v-if="currentPortalLandingPage.config == 'simple'">
            <SimpleHome></SimpleHome>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import HomeBold from '@/components/LandingPage/HomePageComponent/BoldHome.vue'
    import SimpleHome from '@/components/LandingPage/HomePageComponent/SimpleHome.vue'
    import {mapActions, mapGetters} from 'vuex';

    export default Vue.extend({
        name: "homeLandingPage",
        components: {
            SimpleHome,
            HomeBold
        },
        data() {
            return {
                // messages: messages
                slide_bar_show:true
            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
            ])
        },
        mounted(){
            let that = this as any
            let name_route = that.$route.name
            that.checkCurrentNamePage(name_route)
        },
        methods: {
            ...mapActions([
                'checkCurrentNamePage'
            ]),
        }
    });
</script>

<style scoped lang="scss">
</style>
