<template>
    <div class="filters-colum d-flex flex-column" style="height: 100%; ">
        <div class="flex-grow-1 flex-shrink-1 ml-4" style="border-top:1px solid #eee;">
            <!-- Search filter -->
            <div class="px-0">
                <input type="text" class="form-control my-3" style="font-size: 13px"
                       @keydown="keyEvent($event)" @keyup="keyEvent($event)" @keypress="keyEvent($event)"
                       name="position_name" v-model.trim="sqlFilters.position_name"
                       :placeholder="messages.SR_051_CANDIDATE_NAME_TEXTINPUT">
                <h5 class="my-2">{{messages.SR_028_CANDIDATE_FILTER_TITLE}}</h5>
            </div>
            <!-- Filter options -->
            <div class="px-0">
                <FilterDropdownPositionGroup v-for="item in list_filters"
                                       :filter="item"
                                       :key="item.filter_type"
                                       v-model="sqlFilters.rules[item.filter_type]"></FilterDropdownPositionGroup>
            </div>
            <b-checkbox
                v-model="sqlFilters.archived"
            >
                <i class="fa fa-archive"></i>
                {{messages.SR_051_CHECKBOX_ARCHIVED}}
            </b-checkbox>


        </div>

        <!-- Filter buttons -->
        <div id="filter-column-control" class="btn-group p-3 flex-shrink-0">
            <b-button variant="blue" id="filter-apply-button" @click="applyFilters" :disabled="disable_flag">
                <i class="fas fa-filter"></i>&nbsp;
                {{messages.SR_028_CANDIDATE_FILTER_LABEL}}
            </b-button>
        </div>
    </div>
</template>

<style lang="scss">
    #filter-column-control {
        position: sticky;
        bottom: 0;
    }
    #filter-apply-button {
        flex: 1;
    }
    #filter-apply-save {
        border-left: 1px solid cyan;
        flex: 0 0 auto;
    }
    .filterNav {
        transition: max-width 200ms;
        max-width: 500px;
        width:210px;
        &.closed {
            max-width: 0;
            overflow: hidden;
        }
    }
    .disabled {
        cursor: not-allowed;
    }
    .filters-colum {
        .bootstrap-datetimepicker-widget {
            z-index: 9999;
        }
        .filter-item-close {
            cursor: pointer;
            margin-top: 8px;
        }
        .btn-none.filter-item-close.btn:hover {
            background-color: transparent !important;
        }
        .btn:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
        .filter-dropdown {
            .filter-item-wrapper {
                background-color: #f9fafa;
                padding: 10px;
            }
        }

        .dropdown-menu li.active a {
            background-color: #dedede !important;

        }
        .dropdown-menu li a:hover {
            background-color: #f9fafa !important;
        }

        .dropdown-menu li {
            margin: 3px 5px;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            line-height: 1.4;
            position: relative;
            transition: .3s;
        }

        .span-filter {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            vertical-align: baseline;

        }

        .dropdown-item {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            border-radius: 5px;
            padding-left: 2px;
        }

        .dropdown.b-dropdown .b-dropdown-form {
            padding: 0px;
            margin-bottom: 2px;
        }

        .form-group {
            margin-bottom: 0px !important;
        }

        .custom-dropdown .dropdown-menu {
            width: 223px;
            overflow-y: auto;
            max-height: 250px;
            font-size: 14px;
        }
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapActions} from 'vuex';
    import FilterDropdownPositionGroup from "@/components/OptionDropdown/FilterDropdownPositionGroup.vue";
    import _ from "lodash";
    import {messages} from '@/messages';


    export default Vue.extend({
        name: 'position-filter-column',
        props: ['value','filterObject'],
        components: {
            FilterDropdownPositionGroup: FilterDropdownPositionGroup,
        },
        watch:{

            position_name: {
                handler(val) {
                    let that = this;

                    if ((that.disable_flag) && (val.length > 0))  {
                        that.disable_flag = false;
                    }


                },
                deep: true
            },

            filterObject: {
                handler(val) {
                    let that = this;
                    //clone deep de dam bao khi thay doi value con se khong tra ve tren cha ngay lap tuc
                    that.sqlFilters = _.cloneDeep(that.filterObject);

                },
                deep: true
            },


            resetFilters(val) {
                let that = this as any;
                if(val) {
                    that.sqlFilters = {
                        position_name: '',
                        unseenflag:false,
                        resetflag:false,
                        starflag:false,
                        rules: {},
                        AddDate:{},
                    };
                    that.setFlagFormSubmit(false);
                }
            },
            //reset theo candidatetype voi checkbox
            currentCandidateType(val) {
                let that = this as any;

                if (val == 'unseen') {
                    this.sqlFilters.unseenflag = true
                } else {
                    if (val !='custom') {
                        this.sqlFilters.unseenflag = false;
                    }
                }

                if (val == 'starred') {
                    this.sqlFilters.starflag = true
                } else {
                    if (val !='custom') {
                        this.sqlFilters.starflag = false;
                    }
                }
            },
            randomFlag(value) {
                let that = this as any;
                let val = that.currentCandidateType;
                if (val == 'unseen') {
                    this.sqlFilters.unseenflag = true
                } else {
                    if (val !='custom') {
                        this.sqlFilters.unseenflag = false;
                    }
                }

                if (val == 'starred') {
                    this.sqlFilters.starflag = true
                } else {
                    if (val !='custom') {
                        this.sqlFilters.starflag = false;
                    }
                }
            }

        },
        data() {
            return {
                list_filters: [
                    {
                        filter_name: messages.SR_051_POSITION_FILTER_STATE,
                        filter_type: 'status',
                        filter_options: [],
                        icon: "fa fa-circle",
                        hide_add:false,
                    },
                    {
                        filter_name: messages.SR_051_POSITION_FILTER_LOCATION,
                        filter_type: 'locations',
                        filter_options: [],
                        icon: "fa-map-marker-alt",
                        hide_add:false,
                    },
                    {
                        filter_name: messages.SR_051_POSITION_FILTER_CATEGORIES,
                        filter_type: 'catalogs',
                        filter_options: [],
                        icon: "fa fa-th-large",
                        hide_add:false,
                    },
                    {
                        filter_name: messages.SR_051_POSITION_FILTER_PIPELINE,
                        filter_type: 'piplines',
                        filter_options: [],
                        icon: "fa-list-ol",
                        hide_add: false,
                    },
                    {
                        filter_name: messages.SR_051_POSITION_FILTER_CREATE_DATE,
                        filter_type: 'addeddate',
                        filter_options: [],
                        icon: "fas fa-clock",
                        hide_add:true,
                    },

                ],
                position_name:"",
                disable_flag: false,
                sqlFilters: {
                    position_name: '',
                    unseenflag:false,
                    resetflag:false,
                    starflag:false,
                    rules: {},
                    AddDate:{},
                }
            };
        },
        computed: {
            ...mapGetters([
                'resetFilters',
                'currentUser',
                'currentCandidateType',
                'randomFlag'
            ]),
            classes(): any
            {
                return {
                    "flex-shrink-0": true,
                    "d-flex": true,
                    "flex-column": true,
                    "filterNav": true,
                }
            },
        },
        methods:{
            ...mapActions([
                'setFlagFormSubmit'
            ]),
            applyFilters():any{
                let that = this as any;
                let dataf = {} as any;
                dataf.position_name = that.sqlFilters.position_name;
                dataf.rules = _.cloneDeep(that.sqlFilters.rules);
                dataf.archived = that.sqlFilters.archived;

                _.forEach(dataf.rules, function(e, key) {
                    dataf.rules[key] = e.filter(val=>!!val.value);
                    if ((dataf.rules[key].length === 0)) {
                        delete dataf.rules[key];
                    }
                });

                that.setFlagFormSubmit(true);

                console.log(JSON.stringify(dataf));
               // alert(JSON.stringify(dataf));
                that.$emit('update',dataf );
            },
            keyEvent(event) {
                let that = this as any;
                if (event.code === 'Enter') {
                    that.applyFilters();
                }
            }
        },
        mounted() {
            let that = this as any;
            that.position_name = "";

        }
    })
</script>
