<template>
    <div :class="classes" class="filters-colum" style="height: 100%; ">
        <div class="flex-grow-1 flex-shrink-1 pl-4">
            <!-- Search filter -->
            <div class="px-0">
                <input type="text" class="form-control my-3" style="font-size: 13px"
                       name="candidate_name" v-model.trim="sqlFilters.candidate_name"
                       @keydown="keyEvent($event)" @keyup="keyEvent($event)" @keypress="keyEvent($event)"
                       :placeholder="messages.SR_028_CANDIDATE_NAME_TEXTINPUT">
                <h5 class="my-2">{{messages.SR_028_CANDIDATE_FILTER_TITLE}}</h5>
            </div>
            <!-- Filter options -->
            <div class="px-0">
                <filter-dropdown-group v-for="item in customFilters"
                                       :filter="item"
                                       :key="item.filter_type"
                                       v-model="sqlFilters.rules[item.filter_type]"></filter-dropdown-group>
                <b-checkbox class="filter-dropdown"
                    v-model="sqlFilters.unseenflag"
                >
                    <i class="fa fa-eye-slash"></i>
                    {{messages.SR_028_CHECKBOX_UNSEEN}}
                </b-checkbox>

                <b-checkbox class="filter-dropdown"
                    v-model="sqlFilters.starflag"
                >
                    <i class="fas fa-star"></i>
                    {{messages.SR_028_CHECKBOX_STARRED}}
                </b-checkbox>
            </div>
        </div>

        <!-- Filter buttons -->
        <div id="filter-column-control" class="btn-group p-3 flex-shrink-0">
            <b-button variant="blue" id="filter-apply-button" @click="applyFilters" :disabled="disable_flag">
                <i class="fas fa-filter"></i>&nbsp;
                {{messages.SR_028_CANDIDATE_FILTER_LABEL}}
            </b-button>
        </div>
    </div>
</template>

<style lang="scss">
    #filter-column-control {
        position: sticky;
        bottom: 0;
    }
    #filter-apply-button {
        flex: 1;
    }
    #filter-apply-save {
        border-left: 1px solid cyan;
        flex: 0 0 auto;
    }
    .filterNav {
        transition: max-width 200ms;
        max-width: 500px;
        width:210px;
        &.closed {
            max-width: 0;
            overflow: hidden;
        }
    }
    .disabled {
        cursor: not-allowed;
    }
    .filters-colum {
        .bootstrap-datetimepicker-widget {
            z-index: 9999;
        }
        .filter-item-close {
            cursor: pointer;
            margin-top: 8px;
        }
        .btn-none.filter-item-close.btn:hover {
            background-color: transparent !important;
        }
        .btn:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
        .filter-dropdown {
            .filter-item-wrapper {
                background-color: #f9fafa;
                padding: 10px;
            }
        }

        .dropdown-menu li.active a {
            background-color: #dedede !important;

        }
        .dropdown-menu li a:hover {
            background-color: #f9fafa !important;
        }

        .dropdown-menu li {
            margin: 3px 5px;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            line-height: 1.4;
            position: relative;
            transition: .3s;
        }

        .span-filter {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            vertical-align: baseline;

        }

        .dropdown-item {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            border-radius: 5px;
            padding-left: 2px;
        }

        .dropdown.b-dropdown .b-dropdown-form {
            padding: 0px;
            margin-bottom: 2px;
        }

        .form-group {
            margin-bottom: 0px !important;
        }

        .custom-dropdown .dropdown-menu {
            width: 250px;
            overflow-y: auto;
            max-height: 250px;
            font-size: 14px;
        }
        .filter-dropdown label.custom-control-label {
            margin-top: .5rem;
        }
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapActions} from 'vuex';
    import FilterDropdownGroup from "@/components/OptionDropdown/FilterDropdownGroup.vue";
    import _ from "lodash";
    import {messages} from '@/messages';


    export default Vue.extend({
        name: 'FilterColumn',
        props: ['open','value','filterObject', 'listFilters','positionId'],
        components: {
            FilterDropdownGroup: FilterDropdownGroup,
        },
        watch:{
            candidate_name: {
                handler(val) {
                    let that = this;
                    if ((that.disable_flag) && (val.length > 0))  {
                        that.disable_flag = false;
                    }
                },
                deep: true
            },

            filterObject: {
                handler(val) {
                    let that = this;
                    //clone deep de dam bao khi thay doi value con se khong tra ve tren cha ngay lap tuc
                    that.sqlFilters = _.cloneDeep(that.filterObject);
                },
                deep: true
            },

            resetFilters(val) {
                let that = this as any;
                if(val) {
                    that.sqlFilters = {
                        candidate_name: '',
                        unseenflag:false,
                        resetflag:false,
                        starflag:false,
                        rules: {},
                        AddDate:{},
                    };
                    that.setFlagFormSubmit(false);
                }
            },
            //reset theo candidatetype voi checkbox
            currentCandidateType(val) {
                let that = this as any;

                if (val == 'unseen') {
                    this.sqlFilters.unseenflag = true
                } else {
                    if (val !='custom') {
                        this.sqlFilters.unseenflag = false;
                    }
                }

                if (val == 'starred') {
                    this.sqlFilters.starflag = true
                } else {
                    if (val !='custom') {
                        this.sqlFilters.starflag = false;
                    }
                }
            },
            randomFlag(value) {
                let that = this as any;
                let val = that.currentCandidateType;
                if (val == 'unseen') {
                    this.sqlFilters.unseenflag = true
                } else {
                    if (val !='custom') {
                        this.sqlFilters.unseenflag = false;
                    }
                }

                if (val == 'starred') {
                    this.sqlFilters.starflag = true
                } else {
                    if (val !='custom') {
                        this.sqlFilters.starflag = false;
                    }
                }
            }

        },
        data() {
            return {
                list_filters: [
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_POSITION,
                        filter_type: 'positions',
                        filter_options: [],
                        icon: "fa-briefcase",
                        hide_add:false,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_LOCATION,
                        filter_type: 'locations',
                        filter_options: [],
                        icon: "fa-map-marker-alt",
                        hide_add:false,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_CATEGORIES,
                        filter_type: 'catalogs',
                        filter_options: [],
                        icon: "fa fa-th-large",
                        hide_add:false,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_ADDED_DATE,
                        filter_type: 'addeddate',
                        filter_options: [],
                        icon: "fas fa-clock",
                        hide_add:true,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_CANDIDATETYPE,
                        filter_type: 'candidatetype',
                        filter_options: [],
                        icon: "fa-user-circle",
                        hide_add:true,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_PIPELINE,
                        filter_type: 'stages',
                        filter_options: [],
                        icon: "fa-list-ol",
                        hide_add: false,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_ASSIGNED_TO,
                        filter_type: 'assigned_to',
                        filter_options: [],
                        icon: "fa-user-plus",
                        hide_add: false,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_SOURCED_BY,
                        filter_type: 'sourced_by',
                        filter_options: [],
                        icon: "fa-upload",
                        hide_add: false,
                    },
                ],
                list_filters_byPos: [
                    {
                        filter_name: messages.SR_028_FILTER_STAGE,
                        filter_type: 'piplines',
                        filter_options: [],
                        icon: "fa-list-ol",
                        hide_add: false,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_ADDED_DATE,
                        filter_type: 'addeddate',
                        filter_options: [],
                        icon: "fas fa-clock",
                        hide_add:true,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_CANDIDATETYPE,
                        filter_type: 'candidatetype',
                        filter_options: [],
                        icon: "fa-user-circle",
                        hide_add:true,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_ASSIGNED_TO,
                        filter_type: 'assigned_to',
                        filter_options: [],
                        icon: "fa-user-plus",
                        hide_add: false,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_SOURCED_BY,
                        filter_type: 'sourced_by',
                        filter_options: [],
                        icon: "fa-upload",
                        hide_add: false,
                    },
                ],
                candidate_name:"",
                disable_flag: false,
                sqlFilters: {
                    candidate_name: '',
                    unseenflag:false,
                    resetflag:false,
                    starflag:false,
                    rules: {},
                    AddDate:{},
                }
            };
        },
        computed: {

            ...mapGetters([
                'resetFilters',
                'currentUser',
                'currentCandidateType',
                'randomFlag'
            ]),
            classes(): any
            {
                return {
                    "flex-shrink-0": true,
                    "d-flex": true,
                    "flex-column": true,
                    "filterNav": true,
                    "closed": !this.open,
                }
            },
            customFilters(){
                let that = this as any;
                if (that.listFilters){
                    return that.listFilters;
                }else if (that.positionId === ""){
                    return that.list_filters;
                }else{
                    return that.list_filters_byPos;
                }
            },
        },
        methods:{
            ...mapActions([
                'setFlagFormSubmit'
            ]),
            applyFilters():any{
                let that = this as any;
                let dataf = {} as any;
                dataf.candidate_name = that.sqlFilters.candidate_name;
                dataf.rules = _.cloneDeep(that.sqlFilters.rules);
                _.forEach(dataf.rules, function(e, key) {
                    dataf.rules[key] = e.filter(val=>!!val.value);
                    if ((dataf.rules[key].length === 0)) {
                        delete dataf.rules[key];
                    }
                });

                dataf.unseenflag = that.sqlFilters.unseenflag;
                dataf.starflag = that.sqlFilters.starflag;
                that.setFlagFormSubmit(true);

                console.log(JSON.stringify(dataf));
                that.$emit('update',dataf );
            },
            keyEvent(event) {
                let that = this as any;
                if (event.code === 'Enter') {
                    that.applyFilters();
                }
            },
        },
        mounted() {
            let that = this as any;
            that.candidate_name = "";
        }
    })
</script>
