<template>
    <div class="pipeline-filter">
        <div class="dropdown btn-group b-dropdown custom-dropdown position-static">
            <button type="button" class="btn dropdown-toggle btn-gray" style="padding: 2px 12px;"
                    data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"
                    data-boundary="scrollParent">
                <small v-if="selectedOption && !hidePipeline" class="selected-pipeline">{{ selectedOption ? selectedOption.pipeline.title: ''}}</small>
                {{ selectedOption ? selectedOption.title: messages.SR_028_SELECT_OPTION}}
            </button>
            <ul class="dropdown-menu pipeline-dropdown accordion" id="accordion-pipeline" v-if="!hidePipeline">
                <li v-for="pipeline in pipelines" :key="pipeline.id">
                    <header class="dropdown-header" role="heading" @click="clickHeader($event, pipeline)" :id="`heading${pipeline.id}`"
                            data-toggle="collapse" :data-target="`#collapse${pipeline.id}`" aria-expanded="false"
                            :aria-controls="`#collapse${pipeline.id}`"
                            :class="enableSelect(pipeline)" :ref="`header${pipeline.id}`">
                        <i class="fa fa-plus-square"></i>
                        <i class="fa fa-minus-square"></i>
                        {{pipeline.title}}
                    </header>
                    <ul :id="`collapse${pipeline.id}`" :ref="pipeline.id" class="collapse" data-parent="#accordion-pipeline" :aria-labelledby="`heading${pipeline.id}`">
                        <li v-for="stage in pipelineStages[pipeline.id]" :key="stage.id" class="dropdownfiter" :class="{active: selectedValue == stage.id}">
                            <a @click="choose(stage)" class="dropdown-item" href="javascript:void(0)"><i :class="stage.icon"></i> {{stage.title}}</a>
                        </li>
                    </ul>
                    <div class="dropdown-divider"></div>
                </li>
            </ul>
            <ul class="dropdown-menu pipeline-dropdown accordion" v-else>
                <li v-for="stage in pipelineStages[pipelineID]" :key="stage.id" class="dropdownfiter" :class="{active: selectedValue == stage.id}">
                    <a @click="choose(stage)" class="dropdown-item non-pipeline" href="javascript:void(0)"><i :class="stage.icon"></i> {{stage.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</template>
<style lang="scss">
    .button.gray, .btn-gray {
        background: #dedede !important;
    }
</style>
<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapActions} from 'vuex';
    import _ from "lodash";
    import {candidatetype} from "../common/candidatetype";
    import $ from 'jquery';

    export default Vue.extend({
        name: "FilterPipeline",
        props: {
            value: {
                type: String,
                default: null,
            },
            hidePipeline:{
                type: Boolean,
                default: false
            },
            pipelines: {
                type: Array,
                default: [] as any
            },
            selectedPipeline: {
                type: Object,
                default: null
            },
            pipelineID:{
                type: String,
                default: '',
            },
            filterCount: {
                type: Number,
                default: 0
            }
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'pipelineStages',
            ]),
            selectedOption: {
                get() {
                    let that = this as any;
                    let objs = _.keyBy(that.options, 'id')
                    if (that.selectedValue) {
                        return objs[that.selectedValue];
                    }
                    return null;
                },
                set(val: any) {
                    let that = this as any;
                    that.selectedValue = val.id;
                }
            },
            options() {
                let options = [], that = this as any;
                that.pipelines.forEach(pipeline => {
                    if (pipeline.id in that.pipelineStages) {
                        that.pipelineStages[pipeline.id].forEach((stage) => {
                            stage.pipeline = pipeline;
                            options.push(stage);
                        })
                    }
                })
                return options;
            }
        },
        data() {
            return {
                selectedValue: null
            };
        },

        watch: {
            value(val) {
                this.selectedValue = val;
            },
        },
        methods: {
            choose(option) {
               let that = this as any;
               if (that.filterCount == 0 && that.selectedPipeline && option.pipeline.id != that.selectedPipeline.id) {
                   return;
               }
               that.selectedObject = option;
               that.$emit('input', option.id);
               that.$emit('changePipeline', option.pipeline);
            },
            clickHeader(event, pipeline) {
                if ($(this.$refs[`header${pipeline.id}`][0]).hasClass('disabled')) {
                    event.stopPropagation();
                    return;
                }
                let elm = $(this.$refs[pipeline.id][0]);
                elm.toggleClass("show");
                $(`#heading${pipeline.id}`).toggleClass("expended");
                event.stopPropagation();
            },
            enableSelect(pipeline) {
                let that = this as any;
                if (that.filterCount > 0 && that.selectedPipeline && that.selectedPipeline.id != pipeline.id) {
                    return ['disabled'];
                }
                return []
            }
        },
    });
</script>

<style lang="scss" scoped>
    .pipeline-filter {
        .dropdown-header {
            font-size: 14px;
        }
        .pipeline-dropdown {
            max-height: 220px;
            overflow: auto;
            padding: 0;
        }
        small.selected-pipeline {
            color: #68747e;
            display: block;
            font-size: 12px;
        }
        .dropdown-header {
            padding: 3px 3px 3px 3px;
            margin: 3px 10px;
            color: #4c555c;
            font-weight: bold;
        }
        .dropdown-item {
            padding: 3px 3px 3px 3px;
            margin: 3px 10px;
            color: #4c555c;
            width: auto;
            &.non-pipeline{
                margin:5px;
                padding:3px;
            }
        }
        .dropdown-header .fa-plus-square {
            display: initial;
        }
        .dropdown-header .fa-minus-square {
            display: none;
        }
        .dropdown-header.expended .fa-plus-square {
            display: none;
        }
        .dropdown-header.expended .fa-minus-square {
            display: initial;
        }
        .dropdown-menu i.fa {
            color: #68747e;
        }
        .dropdown-menu li a {
            border-radius: 4px;
        }
        .dropdown-menu li a:hover, .dropdown-menu li.active a {
            background-color: #dedede !important;
        }
        .custom-dropdown {
            height: auto;
            min-height: 2em;
            max-height: 160px;
        }
        .btn:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
        .btn-none.filter-item-close.btn:hover {
            background-color: transparent !important;
        }
        .accordion-pipeline {
            padding: 0;
        }
        .dropdown-divider {
            margin: 0;
        }
        .dropdown-menu header.disabled {
            color: #68747e;
            cursor: initial !important;
            opacity: .65;
        }
    }
</style>
