<template>
    <b-dropdown variant="gray" class="custom-dropdown"
                style="max-width: 100%"
                boundary="window">
        <template slot="button-content">
            {{ selectedOption ? selectedOption.text: messages.SR_028_FILTER_BYNAME}}
        </template>
        <b-dropdown-form>
            <b-form-group  @submit.prevent>
                <b-form-input size="lg"
                              v-model.trim="search_filter"
                              :placeholder="messages.SR_028_CANDIDATE_NAME_TEXTINPUT"></b-form-input>
            </b-form-group>
        </b-dropdown-form>
        <b-dropdown-divider></b-dropdown-divider>
        <b-dropdown-item button v-for="(option,index) in optionsFiltered" class="dropdownfiter"
                         boundary="window"
                         :key="option.value"
                         @click="choose(option)"
                         style="border-bottom: 1px solid #eee;margin-bottom: 1px;"
        >
            <span  style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;">{{option.text}}</span>
            <small  class="ng-scope" ><i class="fa fa-map-marker-alt"></i><span class="ng-binding" style="color: #84929f;"> &nbsp; {{option.location_title}}</span></small>
        </b-dropdown-item>

    </b-dropdown>

</template>
<style lang="scss">
    .button.gray, .btn-gray {
        background: #dedede !important;
    }
</style>
<script lang="ts">
    import Vue from 'vue';
    import ViNormalize from '@/helpers/normalize.vi';
    import Position from '@/models/Position';
    import {mapGetters} from 'vuex';
    import _ from "lodash";

    export default Vue.extend({
        name: "FilterPositionDropdown",
        props: {
            value: {
                type: String,
                default: null,
            },
            filter: {
                type: Object
            }
        },
        computed: {
            ...mapGetters([
                'currentCandidates',
                'currentUser',
                'companyUsers',
                'listPosition',
                'currentShowArchived'
            ]),
            selectedOption: {
                get() {
                    let that = this as any;
                    let objs = _.keyBy(that.options, 'value')
                    if (that.selectedValue) {
                        return objs[that.selectedValue];
                    }
                    return null;
                },
                set(val: any) {
                    this.selectedValue = val.value;
                }
            },
            optionsFiltered(): any[] {
                if (!this.options) return [];
                return this.options.filter((obj)=>{
                    if (!obj.text) return false;
                    return ViNormalize(obj.text).includes(ViNormalize(this.search_filter))
                        || ViNormalize(obj.location_title).includes(ViNormalize(this.search_filter));
                });
            },
        },
        data() {
            return {
                options: [],
                search_filter: '',
                selectedValue: null
            };
        },

        watch: {
            value(val) {
                this.selectedValue = val;
            },

        },

        methods: {
           getAllPosition() {

           },
            choose(option) {
               let that = this as any;
               that.selectedObject = option;
               that.$emit('input', option.value);
            }
        },
        mounted() {
            let that = this as any;

            that.search_filter="";

            let listpos =  that.listPosition;
            listpos = listpos.filter((pos: any) => {
                //console.log( that.$can('read', inbox));
                if (!that.currentShowArchived)
                    return (that.$can('read', pos) && pos.status != "archived");
                else
                    return that.$can('read', pos) ;
            });

            that.options = _.orderBy(listpos, [position => position.title.toLowerCase()],'asc').map(obj =>{
                var rObj = {} as any;
                rObj.value = obj.id;
                rObj.text = obj.title;
                if ( obj.state != '')
                    rObj.location_title= obj.state+', '+obj.location.title;
                else
                    rObj.location_title = obj.location.title;

                return rObj;
            });


        }
    });
</script>
