<template>
    <b-dropdown variant="gray" class="custom-dropdown"
                style="max-width: 100%"
                boundary="window">
        <template slot="button-content">
            {{ selectedOption ? selectedOption.text: messages.SR_051_SELECT_OPTION}}
        </template>

        <b-dropdown-item button v-for="(option,index) in options" class="dropdownfiter"
                         boundary="window"
                         :key="option.value"
                         @click="choose(option)"
                         :class="{active: selectedValue == option.value}"
        >
            <span class="span-filter">{{option.text}}</span>
        </b-dropdown-item>

    </b-dropdown>

</template>
<style lang="scss">
    .button.gray, .btn-gray {
        background: #dedede !important;
    }
</style>
<script lang="ts">
    import Vue from 'vue';
    import ViNormalize from '@/helpers/normalize.vi';
    import Position from '@/models/Position';
    import {mapGetters} from 'vuex';
    import _ from "lodash";

    export default Vue.extend({
        name: "FilterPiplinePositionDropdown",
        props: {
            value: {
                type: String,
                default: null,
            },
            filter: {
                type: Object
            }
        },
        computed: {
            ...mapGetters([
                'currentUser',
                'companyUsers',
                'listPipeline'
            ]),
            selectedOption: {
                get() {
                    let that = this as any;
                    let objs = _.keyBy(that.options, 'value')
                    if (that.selectedValue) {
                        return objs[that.selectedValue];
                    }
                    return null;
                },
                set(val: any) {
                    this.selectedValue = val.value;
                }
            },
        },
        data() {
            return {
                options: [],
                selectedValue: null
            };
        },

        watch: {
            value(val) {
                this.selectedValue = val;
            },

        },

        methods: {
            choose(option) {
               let that = this as any;
               that.selectedObject = option;
               that.$emit('input', option.value);
            }
        },
        mounted() {
            let that = this as any;


            that.options = that.listPipeline.map(obj =>{
                var rObj = {} as any;
                rObj.value = obj.id;
                rObj.text = obj.title;
                return rObj;
            });



        }
    });
</script>
