<template>
    <div class="sourced-by-filter">
        <div class="dropdown btn-group b-dropdown custom-dropdown position-static">
            <button type="button" class="btn dropdown-toggle btn-gray" style="padding: 2px 12px;"
                    data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false"
                    data-boundary="scrollParent">
                {{ selectedOption ? selectedOption.text: messages.SR_028_SELECT_OPTION}}
            </button>
            <ul class="dropdown-menu sourced-by-dropdown accordion" id="accordion-pipeline">
                <li v-for="option in options" :key="option.value" class="dropdownfiter" :class="{active: selectedValue == option.value}">
                    <a @click="choose(option)" class="dropdown-item" href="javascript:void(0)">{{option.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</template>
<style lang="scss">
    .button.gray, .btn-gray {
        background: #dedede !important;
    }
</style>
<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapActions} from 'vuex';
    import _ from "lodash";
    import {candidatetype} from "../common/candidatetype";
    import $ from 'jquery';

    export default Vue.extend({
        name: "FilterSourcedBy",
        props: {
            value: {
                type: String,
                default: null,
            },
            users: {
                type: Array,
                default: [] as any
            },
        },
        computed: {
            ...mapGetters([
                'currentCompany',
            ]),
            selectedOption: {
                get() {
                    let that = this as any;
                    let objs = _.keyBy(that.options, 'value')
                    return objs[that.selectedValue];
                },
                set(val: any) {
                    let that = this as any;
                    that.selectedValue = val.value;
                }
            },
            options() {
                let options = [], that = this as any;
                that.users.forEach(user => {
                    options.push({
                        value: user.id,
                        text: user.name
                    });
                })
                return options;
            }
        },
        data() {
            return {
                selectedValue: null
            };
        },

        watch: {
            value(val) {
                this.selectedValue = val;
            },
        },
        methods: {
            choose(option) {
               let that = this as any;
               that.selectedOption = option;
               that.$emit('input', option.value);
            },
        },
    });
</script>

<style lang="scss" scoped>
    .sourced-by-filter {
        .dropdown-header {
            font-size: 14px;
        }
        .pipeline-dropdown {
            max-height: 220px;
            overflow: auto;
            padding: 0;
        }
        small.selected-pipeline {
            color: #68747e;
            display: block;
            font-size: 12px;
        }
        .dropdown-header {
            padding: 3px 3px 3px 3px;
            margin: 3px 10px;
            color: #4c555c;
            font-weight: bold;
        }
        .dropdown-item {
            padding: 3px 3px 3px 3px;
            margin: 3px 10px;
            color: #4c555c;
            width: auto;
        }
        .dropdown-menu i.fa {
            color: #68747e;
        }
        .dropdown-menu li a {
            border-radius: 4px;
        }
        .dropdown-menu li a:hover, .dropdown-menu li.active a {
            background-color: #dedede !important;
        }
        .custom-dropdown {
            height: auto;
            min-height: 2em;
            max-height: 160px;
        }
        .btn:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
        .btn-none.filter-item-close.btn:hover {
            background-color: transparent !important;
        }
        .accordion-pipeline {
            padding: 0;
        }
        .dropdown-divider {
            margin: 0;
        }
        .dropdown-menu header.disabled {
            color: #68747e;
            cursor: initial !important;
            opacity: .65;
        }
    }
</style>
