<template>
    <b-dropdown variant="gray" class="custom-dropdown"
                boundary="window">
        <template slot="button-content">
            <slot name="button-text" :item="filter">
                {{ selectedOption ? selectedOption.text: messages.SR_028_SELECT_OPTION}}
            </slot>
        </template>
        <b-dropdown-form>
            <b-form-group  @submit.prevent>
                <b-form-input size="lg"
                              v-model="search_filter"
                              :placeholder="messages.SR_028_CANDIDATE_NAME_TEXTINPUT"></b-form-input>
            </b-form-group>
        </b-dropdown-form>
        <b-dropdown-divider></b-dropdown-divider>
        <b-dropdown-item button v-for="(option,index) in optionsFiltered" class="dropdownfiter"
                         boundary="window"
                         :key="option.value"
                         @click="choose(option)" :class="{active: selectedValue == option.value}"
        >
            <span class="span-filter">{{option.text}}</span>
        </b-dropdown-item>

    </b-dropdown>

</template>
<style lang="scss">
    .button.gray, .btn-gray {
        background: #dedede !important;
    }
</style>
<script lang="ts">
    import Vue from 'vue';
    import ViNormalize from '@/helpers/normalize.vi';
    import Position from '@/models/Position';
    import {mapGetters} from 'vuex';
    import _ from "lodash";
    import {positioncategories} from "../common/positioncategories";

    export default Vue.extend({
        name: "FilterPositionCategories",
        props: {
            value: {
                type: String,
                default: null,
            },
            filter: {
                type: Object
            }
        },
        computed: {
            ...mapGetters([
                'currentCandidates',
                'currentUser',
                'companyUsers',
                'listPosition'
            ]),
            selectedOption: {
                get() {
                    let that = this as any;
                    let objs = _.keyBy(that.options, 'value')
                    if (that.selectedValue) {
                        return objs[that.selectedValue];
                    }
                    return null;
                },
                set(val: any) {
                    this.selectedValue = val.value;
                }
            },
            optionsFiltered(): any[] {
                if (!this.options) return [];
                return this.options.filter((obj)=>{
                    if (!obj.text) return false;
                    return ViNormalize(obj.text).includes(ViNormalize(this.search_filter));
                });
            },
        },
        data() {
            return {
                options: [],
                search_filter: '',
                selectedValue: null
            };
        },

        watch: {
            value(val) {
                this.selectedValue = val;
            },

        },

        methods: {
           getAllPosition() {

           },
            choose(option) {
               let that = this as any;
               that.selectedObject = option;
               that.$emit('input', option.value);
            }
        },
        mounted() {
            let that = this as any;

            that.search_filter="";

            that.options = positioncategories.map(obj =>{
                var rObj = {} as any;
                rObj.value = obj.value;
                rObj.text = obj.name;

                return rObj;
            });

            that.options = _.orderBy( that.options, [(v:any) =>
            {   if (v.name)
                    v.name.toLowerCase();
            }
              ],'asc');



        }
    });
</script>
