<template>
    <div class="filter-dropdown">
        <div>
            <b-checkbox v-model="checked">
                <i class="fa" :class="filter.icon"></i>&nbsp;
                {{filter ? filter.filter_name : " "}}
            </b-checkbox>
        </div>
        <div style="width: 100%">
            <template v-for="(rule, idx) in rules">
                <div class="clearfix" v-if="idx >= 1">
                    <div class="mr-4 text-center" style="font-size: 11px">{{messages.COMMON_OR_DEFAULT}}</div>
                </div>
                <div class="rounded filter-item-wrapper" style="width: 100%">
                    <div class="filter-item-dropdown">
                        <filter-position-dropdown v-model="rule.value"
                                                  v-if="filter.filter_type === 'positions'"></filter-position-dropdown>
                        <filter-location-dropdown v-model="rule.value"
                                                  v-if="filter.filter_type === 'locations'"></filter-location-dropdown>
                        <FilterPositionCategories v-model="rule.value"
                                                  v-if="filter.filter_type === 'catalogs'"></FilterPositionCategories>
                        <filter-date-dropdown v-model="rule.value"
                                                  v-if="filter.filter_type === 'addeddate'" :options="CandidateAddedTimeRanges"
                        :custom-filter="isCustomFilter"></filter-date-dropdown>
                        <filter-candidate-type v-model="rule.value"
                                              v-if="filter.filter_type === 'candidatetype'" ></filter-candidate-type>

                        <filter-pipeline v-model="rule.value"
                                         v-if="filter.filter_type === 'stages'"
                                         :pipelines="listPipeline"
                                         :selectedPipeline="selectedPipeline"
                                         :hidePipeline="filter.hide_pipeline"
                                         :pipelineID="filter.pipeline_id"
                                        v-on:changePipeline="changePipeline"
                                        :filter-count="idx"></filter-pipeline>

                        <FilterStagePositionDropdown v-model="rule.value"
                                                       v-if="filter.filter_type === 'piplines'"></FilterStagePositionDropdown>


                        <filter-assigned-to v-model="rule.value" :users="companyUsers" v-if="filter.filter_type === 'assigned_to'"></filter-assigned-to>
                        <filter-sourced-by v-model="rule.value" :users="companyUsers" v-if="filter.filter_type === 'sourced_by'"></filter-sourced-by>
                    </div>
                    <div @click="deleteRule(idx)" class="btn btn-none filter-item-close">
                        <i class="fas fa-times text-secondary"></i>
                    </div>
                </div>
            </template>
            <div class="clearfix" v-if="checked && !filter.hide_add" >
                <div class="float-right">
                    <a href='#' @click="addFilter" class="link ">+ {{messages.SR_028_ADD_FILTER}}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapActions} from 'vuex';
    import FilterPositionDropdown from "@/components/OptionDropdown/FilterPositionDropdown.vue";
    import FilterLocationDropdown from "@/components/OptionDropdown/FilterLocationDropdown.vue";
    import FilterPositionCategories  from "@/components/OptionDropdown/FilterPositionCategories.vue";
    import CandidateAddedTimeRanges from "@/components/Candidate/CandidateAddedTimeRanges";
    import FilterDateDropdown from "@/components/OptionDropdown/FilterDateDropdown.vue";
    import FilterCandidateType from "@/components/OptionDropdown/FilterCandidateType.vue";
    import FilterPipeline from "@/components/OptionDropdown/FilterPipeline.vue";
    import FilterAssignedTo from "@/components/OptionDropdown/FilterAssignedTo.vue";
    import FilterSourcedBy from "@/components/OptionDropdown/FilterSouredBy.vue";
    import FilterStagePositionDropdown from "@/components/OptionDropdown/FilterStagePositionDropdown.vue";
    import {IDateFilter} from "@/components/OptionDropdown/IDateFilter";
    import moment from 'moment';

    export default Vue.extend({
        name: "FilterDropdownGroup",
        props: {
            'filter': Object,
        },
        components: {
            FilterPositionDropdown,
            FilterLocationDropdown,
            FilterPositionCategories,
            FilterDateDropdown,
            FilterCandidateType,
            FilterPipeline,
            FilterAssignedTo,
            FilterSourcedBy,
            FilterStagePositionDropdown
        },
        data() {
            return {
                checked: false,
                rules: [],
                create_null:false,
                CandidateAddedTimeRanges,
                selectedPipeline: null,
                isCustomFilter: false
            };
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'listPipeline',
                'companyUsers',
                'resetFilters',
                'currentCandidateType',
                'currentUser',
                'randomFlag'
            ])
        },
        watch: {
            checked(value) {
                let that = this as any;
                if (value) {
                    if (that.rules.length == 0) {
                        that.rules.push({
                            value: null
                        })
                    }
                    that.setFlagResetFilter(false);
                } else {
                    that.rules = [];

                    if (that.filter.filter_type == 'stages') {
                        that.selectedPipeline = null;
                    }
                }
            },
            rules: {
                handler(val) {
                    let that = this as any;
                    that.$emit("input", that.rules);
                },
                deep: true
            },
            resetFilters(val) {
                if (val && this.checked) {
                    this.rules = [];
                    this.checked = false;
                }
            },
            //reset candidatetype theo group dropdown
            currentCandidateType(val) {
                let that = this as any;
                that.setDefaultFilter(val);
            },
            randomFlag(val) {
                let that = this as any;
                let candidate_type = that.currentCandidateType;
                that.setDefaultFilter(candidate_type);
            }
        },

        methods: {
            ...mapActions([
                'getListPipeline',
                'setFlagResetFilter'
            ]),
            addFilter(): void {
                let that = this as any;
                that.rules.push({
                    value: null
                });
            },
            setDefaultFilter(candidate_type) {
                let that = this as any;
                let val = candidate_type;

                if (val == "mine") {
                    if (that.filter.filter_type == "assigned_to") {
                        this.checked = true;
                        this.rules = [{value: that.currentUser.id}];
                        this.isCustomFilter = false;
                    } else {
                        this.checked = false;
                        this.rules = [];
                    }
                }
                else if (val == "new") {
                    if (that.filter.filter_type == "addeddate") {
                        this.checked = false;
                        this.rules = [];
                        setTimeout(function(){
                            that.checked = true;
                            that.rules = [{value:CandidateAddedTimeRanges[4] }];
                        }, 200);

                        this.isCustomFilter = false;
                    } else {
                        this.checked = false;
                        this.rules = [];
                    }
                }
            },
            deleteRule(index) {
                let that = this as any;
                if (that.filter.filter_type == "stage" && that.rules.length == 1) {
                    that.selectedPipeline = null;
                }
                this.rules.splice(index, 1);
                if (that.rules.length === 0) {
                    that.checked = false;
                }
            },
            changePipeline(pipeline) {
                this.selectedPipeline = pipeline
            }
        },
        mounted() {
            let that = this as any;

            that.getListPipeline(that.currentCompany.id);
        }
    });
</script>

<style lang="scss" scoped>
    .hide {
        display: none;
    }

    button.close {
        border: none;
        font-size: 12px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 17px;
        right: 10px;
    }
    .close:focus, .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
    }
    .filter-item {
        &-wrapper {
            position: relative;
        }
        &-dropdown {
            width: calc(100% - 1.5em);
        }
        &-close {
            width: 2em;
            height: 2em;
            line-height: 2em;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
        }
    }
    .filter-dropdown .link {
        font-size: 12px;
        color: #5ac0e5 !important;
        text-decoration: none;
    }
</style>
