<!--
    input: v-model
    output: {
        start: Moment
        end: Moment
    }
-->

<template>
    <div>
        <b-dropdown variant="gray" class=" custom-dropdown" boundary="window">
            <template slot="button-content">
                {{currentText? currentText:messages.SR_028_SELECT_OPTION}}
            </template>
            <b-dropdown-item v-for="(opt, idx) in options" v-b-tooltip.hover :title="opt.text"
                             @click="choose(opt)"
                             :key="idx">
                {{opt.text}}
            </b-dropdown-item>

            <b-dropdown-item @click="choose(null)" key="custom_time_range">
                {{messages.SR_028_CANDIDATE_FILTER_DATE_CUSTOM_RANGE}}
            </b-dropdown-item>


        </b-dropdown>

<!--        <b-form :model="customTime" v-if="value&&value.id=='8'" class="p-2" @submit="applyCustomRange">-->
        <b-form :model="customTime" v-show="show_custom_time_range" class="p-2" @submit.stop.prevent="">
            <b-alert :show="isEndLessThanStart" variant="danger">{{ messages.SR_028_CANDIDATE_FILTER_DATE_CUSTOM_ERROR }}</b-alert>

            <div class="input-group">
                <DatePicker v-model="customTime.start"
                            required :placeholder="messages.SR_028_START_DATE" :config="datepicker_option"></DatePicker>
                <i class="fas fa-calendar-alt icon"></i>
            </div>
            <div class="input-group">
                <DatePicker v-model="customTime.end"
                            required :placeholder="messages.SR_028_END_DATE" :config="datepicker_option"></DatePicker>
                <i class="fas fa-calendar-alt icon"></i>
            </div>

            <div class="clearfix" v-show="!autoApplyCustomTime">
                <b-button type="submit" @click="applyCustomRange" :disabled="!isReadyToApply"
                          variant="blue float-right" class="btn-xs">{{custom_apply_text}}</b-button>

            </div>
            <hr>
        </b-form>
    </div>
</template>

<style scoped>
    .icon {
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-50%);
        color: var(--gray);
    }
    .input-group {
        margin: 1em  0;
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import moment from 'moment';
    import DatePicker from "vue-bootstrap-datetimepicker";
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min.css';
    import {IDateFilter} from "@/components/OptionDropdown/IDateFilter";
    import {messages} from "@/messages";
    import _ from "lodash";

    export default Vue.extend({
        name: "filter-date-dropdown",
        components: {
            DatePicker,
        },
        props: {
            value: {
                type: Object,
                defaultValue: {},
            },
            options: {
                type: Array as ()=>IDateFilter[],
                default: [],
            },
            custom_apply_text: {
                type: String,
                default: messages.SR_050_FILTER_DATE_BTN_TEXT_APPLY,
            },
            customFilter:{
                type: Boolean,
                default: false,
            },
            autoApplyCustomTime:{
                type: Boolean,
                default: true,
            },
            emitValueType:{
                type: String,
                default: 'number'
            },
        },
        data() {
            const date_format='DD/MM/YYYY';
            return {

                isCustomFilter: false,
                customTime: {
                    start: null,
                    end: null,
                },
                datepicker_option: {
                    format: "DD/MM/YYYY",
                    useCurrent: false,
                    locale: 'vi',
                    widgetPositioning :{
                        horizontal: 'auto',
                        vertical: 'bottom',
                    },
                    tooltips: {
                        selectMonth: messages.SR_050_SELECT_MONTH,
                        selectYear: messages.SR_050_SELECT_YEAR,
                    },
                },
                error: '',
                show_custom_time_range:false,
            };
        },

        computed: {
            currentText(): string {
                let that = this as any;
                let text='';
                if (this.show_custom_time_range==true){
                    text = that.messages.SR_051_CUSTOM_RANGE;
                }else if (!this.value) {
                    text = '';
                }
                else {
                    text = this.value.text;
                }
                return text

            },
            currentTimeRange():{start:moment.Moment, end:moment.Moment}{
                let that = this as any;
                const start = moment(that.customTime.start, that.datepicker_option.format);
                const end = moment(that.customTime.end, that.datepicker_option.format);

                return {start, end}
            },
            isReadyToApply():boolean{
                const {start, end} = this.currentTimeRange;
                return (start.isValid() && end.isValid() && !end.isBefore(start))
            },

            isEndLessThanStart():boolean{
                const {start, end} = this.currentTimeRange;
                return (start.isValid() && end.isValid() && end.isBefore(start))
            }
        },

        watch: {

            // customTime: {
            //     handler: function (val, oldVal) {
            //         let that = this as any;
            //         //alert(JSON.stringify(val));
            //         if (val && val.start &&  val.end) {
            //             let start = null as any;
            //             let end = null as any;
            //
            //             if (that.customTime.start)
            //                 start = moment(val.start,"DD/MM/YYYY").startOf('day').valueOf();
            //
            //             if (that.customTime.end)
            //                 end = moment(val.end,"DD/MM/YYYY").endOf('day').valueOf();
            //
            //
            //             that.$emit("input", { id:"8", text:that.messages.SR_028_CANDIDATE_FILTER_DATE_CUSTOM_RANGE,start:start,end:end});
            //          }
            //     },
            //     deep: true
            // },

            // customFilter(val) {
            //     this.isCustomFilter = val;
            // },
            currentTimeRange(val, oldVal){
            // isReadyToApply(val, oldVal){
            //     alert('change');
                if(this.show_custom_time_range && this.autoApplyCustomTime){
                    this.emitCustomTime();
                }
            }

        },

        methods: {
            emitTimeRange(start:number, end:number, text?:''){
                if(this.emitValueType=='number'){
                    this.$emit("input", {start, end, text});
                }else{ // Moment Object type
                    let s:moment.Moment, e:moment.Moment;
                    s=moment(start);
                    e=moment(end);
                    this.$emit("input", {start:s, end:e, text:text});
                }
            },
            emitCustomTime(){
                let start:moment.Moment;
                let end:moment.Moment;
                if(this.isReadyToApply){
                    start = this.currentTimeRange.start;
                    end = this.currentTimeRange.end;
                    this.emitTimeRange(start.valueOf(), end.valueOf());
                }
            },
            resetCustomTime(){
                let that = this as any;
                that.customTime= {
                    start: null,
                    end: null,
                };
            },
            choose(option) {
                let that = this as any;
                that.error = '';

                that.resetCustomTime();

                // alert('choose custom time range');
                if (option===null){
                    // choose custom time range
                    this.show_custom_time_range = true;
                }
                else{
                    this.show_custom_time_range = false;
                    /*
                   * export interface IAnalyticsTimeRange {
                       text?: string,
                       start: moment.Moment,
                       end: moment.Moment
                   }

                   *
                   * */
                        // that.$emit('input', option);
                    let start:number, end:number;
                    if(_.isFinite(option.start)){
                        start = option.start;
                        end = option.end;
                    }else{//Moment object
                        start = option.start.valueOf();
                        end = option.end.valueOf();
                    }
                    this.emitTimeRange(start, end, option.text);
                }

            },

            // chooseCustomRange() {
            //     let that = this as any;
            //     that.error = '';
            //     that.currentText =  that.messages.SR_051_CUSTOM_RANGE;
            //     that.isCustomFilter = true;
            // },

            applyCustomRange(e: Event) {
                // alert('emit custom range');
                e.preventDefault();

                let that = this as any;


                this.$nextTick(function () {
                    // alert('in nexttick');
                    if(this.isReadyToApply){
                        // alert('emit');

                        this.emitCustomTime();
                    }
                });



            }
        },


        created(): void {
            // this.choose(this.options[0]);
            let that = this as any;
            that.customTime = {
                start: null,
                end: null,
            };
            that.datepicker_option= {
                format: "DD/MM/YYYY",
                useCurrent: false,
                locale: 'vi',
                widgetPositioning :{
                    horizontal: 'auto',
                    vertical: 'bottom',
                },
                tooltips: {
                    selectMonth: messages.SR_050_SELECT_MONTH,
                    selectYear: messages.SR_050_SELECT_YEAR,
                },
            };
            // that.isCustomFilter = that.customFilter;
        }
    });
</script>
