<template>
    <div class="filter-dropdown">
        <div>
            <b-checkbox v-model="checked">
                <i class="fa" :class="filter.icon"></i>&nbsp;
                {{filter ? filter.filter_name : " "}}
            </b-checkbox>
        </div>
        <div style="width: 100%">
            <template v-for="(rule, idx) in rules">
                <div class="clearfix" v-if="idx >= 1">
                    <div class="mr-4 text-center" style="font-size: 11px">{{messages.COMMON_OR_DEFAULT}}</div>
                </div>
                <div class="rounded filter-item-wrapper" style="width: 100%">
                    <div class="filter-item-dropdown">
                        <FilterStatusPositionDropdown v-model="rule.value"
                                                  v-if="filter.filter_type === 'status'"></FilterStatusPositionDropdown>
                        <filter-location-dropdown v-model="rule.value"
                                                  v-if="filter.filter_type === 'locations'"></filter-location-dropdown>
                        <FilterPositionCategories v-model="rule.value"
                                                  v-if="filter.filter_type === 'catalogs'"></FilterPositionCategories>
                        <FilterPiplinePositionDropdown v-model="rule.value"
                                                  v-if="filter.filter_type === 'piplines'"></FilterPiplinePositionDropdown>
                        <filter-date-dropdown v-model="rule.value"
                                                  v-if="filter.filter_type === 'addeddate'" :options="PositionAddedTimeRanges"
                        :custom-filter="isCustomFilter"></filter-date-dropdown>

                    </div>
                    <div @click="deleteRule(idx)" class="btn btn-none filter-item-close">
                        <i class="fas fa-times text-secondary"></i>
                    </div>
                </div>
            </template>
            <div class="clearfix" v-if="checked && !filter.hide_add" >
                <div class="float-right">
                    <a href='#' @click="addFilter" class="link ">+ {{messages.SR_028_ADD_FILTER}}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapActions} from 'vuex';
    import FilterLocationDropdown from "@/components/OptionDropdown/FilterLocationDropdown.vue";
    import FilterPositionCategories  from "@/components/OptionDropdown/FilterPositionCategories.vue";
    import PositionAddedTimeRanges from "@/components/OptionDropdown/PositionAddedTimeRanges.ts";
    import FilterDateDropdown from "@/components/OptionDropdown/FilterDateDropdown.vue";
    import FilterStatusPositionDropdown from "@/components/OptionDropdown/FilterStatusPositionDropdown.vue";
    import FilterPiplinePositionDropdown from "@/components/OptionDropdown/FilterPiplinePositionDropdown.vue";

    import {IDateFilter} from "@/components/OptionDropdown/IDateFilter";
    import moment from 'moment';

    export default Vue.extend({
        name: "FilterDropdownPositionGroup",
        props: {
            'filter': Object,
        },
        components: {
            FilterLocationDropdown,
            FilterPositionCategories,
            FilterDateDropdown,
            FilterStatusPositionDropdown,
            FilterPiplinePositionDropdown,
        },
        data() {
            return {
                checked: false,
                rules: [],
                create_null:false,
                PositionAddedTimeRanges,
                selectedPipeline: null,
                isCustomFilter: false,
            };
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'listPipeline',
                'companyUsers',
                'currentUser',
            ])
        },
        watch: {
            checked(value) {
                let that = this as any;
                if (value) {
                    if (that.rules.length == 0) {
                        that.rules.push({
                            value: null
                        })
                    }
                    that.setFlagResetFilter(false);
                } else {
                    that.rules = [];

                    if (that.filter.filter_type == 'stages') {
                        that.selectedPipeline = null;
                    }
                }
            },
            rules: {
                handler(val) {
                    let that = this as any;
                    that.$emit("input", that.rules);
                },
                deep: true
            },
            resetFilters(val) {
                if (val && this.checked) {
                    this.rules = [];
                    this.checked = false;
                }
            },

        },

        methods: {
            ...mapActions([
                'getListPipeline',
                'setFlagResetFilter'
            ]),
            addFilter(): void {
                let that = this as any;
                that.rules.push({
                    value: null
                });
            },
            deleteRule(index) {
                let that = this as any;
                if (that.filter.filter_type == "stage" && that.rules.length == 1) {
                    that.selectedPipeline = null;
                }
                this.rules.splice(index, 1);
                if (that.rules.length === 0) {
                    that.checked = false;
                }
            },
            changePipeline(pipeline) {
                this.selectedPipeline = pipeline
            }
        },
        mounted() {
            let that = this as any;

            that.getListPipeline(that.currentCompany.id);
        }
    });
</script>

<style lang="scss" scoped>
    .hide {
        display: none;
    }

    button.close {
        border: none;
        font-size: 12px;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 17px;
        right: 10px;
    }
    .close:focus, .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
    }
    .filter-item {
        &-wrapper {
            position: relative;
        }
        &-dropdown {
            width: calc(100% - 1.5em);
        }
        &-close {
            width: 2em;
            height: 2em;
            line-height: 2em;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
        }
    }
    .filter-dropdown .link {
        font-size: 12px;
        color: #5ac0e5 !important;
        text-decoration: none;
    }
</style>
