<template>
    <b-dropdown :variant="variant || 'secondary'" class="custom-dropdown">
        <template slot="button-content">
            <i :class="icon"></i>&nbsp;
            {{currentText}}
        </template>
        <b-dropdown-item @click="choose(item, idx)" v-for="(item, idx) in arrOptions" :key="item.value">
            {{item.text}}
        </b-dropdown-item>
    </b-dropdown>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        name: "OptionDropdown",
        props: {
            value: Object,
            options: {
                type: Array,
                default: [],
            },
            icon: {
                type: String,
                default: 'fas fa-circle',
            },
            variant: {
                type: String,
                default: 'gray',
            },
        },
        data() {
            return {
                current: '',
            }
        },
        computed: {
            currentText(): string {
                const _this = this as any;
                return _this.options[_this.current].text;
            },
            arrOptions(): any[] {
                const _this = this as any;
                return _this.options;
            }
        },
        methods: {
            choose(item: any, index: number): void {
                const _this = this as any;
                _this.current = index;
                _this.$emit("input", item);
            }
        },
        beforeMount(): void {
            const _this = this as any;
            _this.current = 0;
            _this.$emit("input", _this.options[0]);
        },
    });
</script>

<style lang="scss" scoped>
    .custom-dropdown {
        line-height: unset;
        height: unset;
    }
</style>
