<template>
    <b-dropdown variant="gray" boundary="body" class="position-status">
        <template slot="button-content">
            <slot name="button" :value="StatusDisplay">
                <i
                    :class="`fas ${StatusDisplay === 'archived' ? 'fa-archive' : 'fa-circle ' + StatusDisplay }`"></i>
            </slot>
        </template>

        <b-dropdown-item @click="change('published')" v-if="$can('modify', value)" >
            <i class="fas fa-circle published"></i>&nbsp;
            <span>{{messages.SR_051_POSITION_STATUS_ACTIVE}}</span>
        </b-dropdown-item>
        <b-dropdown-item @click="change('draft')"  v-if="$can('modify', value)" >
            <i class="fas fa-circle draft"></i>&nbsp;
            <span>{{messages.SR_051_POSITION_STATUS_DRAFT}}</span>
        </b-dropdown-item>
        <b-dropdown-item @click="change('closed')"  v-if="$can('modify', value)" >
            <i class="fas fa-circle closed"></i>&nbsp;
            <span>{{messages.SR_051_POSITION_STATUS_CLOSED}}</span>
        </b-dropdown-item>
        <b-dropdown-item @click="change('archived')"  v-if="$can('modify', value)" >
            <i class="fas fa-archive"></i>&nbsp;
            <span>{{messages.SR_051_POSITION_STATUS_ARCHIVED}}</span>
        </b-dropdown-item>
    </b-dropdown>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Position from '@/models/Position';
    import PositionStateHistory from "@/models/PositionStateHistory";

    export default Vue.extend({
        name: 'position-status-dropdown',
        props: {
            value: {
                type: Object,
            },
        },
        methods: {
            async change(val: string) {
                let that = this as any;

                if (that.StatusDisplay != val) {

                    if (val) {
                        that.value.status = val;

                        const position = await new Position().getById(that.value.id) as Position;

                        position.status = val;

                        position.update().then(() => {
                            PositionStateHistory.createHistory(position.id, position.status)
                            Position.updateStatusRelation(position);
                        }).catch(e => {
                            console.log(e);
                        })

                        if (val == "published")
                            that.$emit('trigerPublishModal', that.value.id);

                        that.$emit('input', val);
                    }
                }
            },
        },
        computed: {
            StatusDisplay() {
                let that = this as any;
                let status = 'draft';

                if ((that.value) && (that.value.status))
                    status = that.value.status;

                return status;
            }
        },
    });
</script>
<style lang="scss">
    .position-status {
        .button.gray:hover, .btn-gray:hover, .button.gray:focus, .btn-gray:focus {
            background: white !important;
            color: #16181b !important;
            box-shadow: none;
        }

        .button.gray, .btn-gray {
            background-color: #f9fafa !important;
        }

        i {
            font-size: 12px;
        }

        .btn {
            display: inline-block !important;
            padding: 0 12px;
            font-size: 14px;
            border: 1px solid #eee;
        }

    }
</style>
