<template>
    <b-dropdown variant="gray" boundary="window" :disabled="disabled">
        <template slot="button-content">
            <i class="fas fa-arrows-alt-h"></i>&nbsp;
            <span>{{messages.SR_051_POSITION_CHANGE_STATE}}</span>
        </template>

        <b-dropdown-item @click="change('published')">
            <i class="fas fa-circle published"></i>&nbsp;
            <span>{{messages.SR_051_POSITION_STATUS_ACTIVE}}</span>
        </b-dropdown-item>
        <b-dropdown-item @click="change('draft')">
            <i class="fas fa-circle draft"></i>&nbsp;
            <span>{{messages.SR_051_POSITION_STATUS_DRAFT}}</span>
        </b-dropdown-item>
        <b-dropdown-item @click="change('closed')">
            <i class="fas fa-circle closed"></i>&nbsp;
            <span>{{messages.SR_051_POSITION_STATUS_CLOSED}}</span>
        </b-dropdown-item>
        <b-dropdown-item @click="change('archived')">
            <i class="fas fa-archive"></i>&nbsp;
            <span>{{messages.SR_051_POSITION_STATUS_ARCHIVED}}</span>
        </b-dropdown-item>
    </b-dropdown>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Position from '@/models/Position';
    import _ from "lodash";

    export default Vue.extend({
        name: 'position-status-all-dropdown',
        props: {
            value: {
                type: Object,
            },
            disabled :{
                type: Boolean,
                default: false,
            }
        },
        methods: {
            async change(val: string) {
                let that = this as any;
                that.$emit('update', val);
            },
        },
        computed: {

        },
    });
</script>
