<template>
    <div>
        <div v-if="currentPortalLandingPage.config == 'bold' && currentPositionView.id">
            <div id="hero" class="hero ">
                <div id="heroBackgroundImage" :style="{'background-color':currentPortalLandingPage.appearance_header_backgroud_color,'background-image':'url('+ currentPortalLandingPage.appearance_header + ')'}"
                     class="hero-background-image"></div>
                <div id="heroBackgroundColor">
                    <div class="banner banner-position-page">
                        <h1 >{{currentPositionView.title}}</h1>
                        <ul class="meta">
                            <li class="location item">
                                <div class="country">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>{{getAddress(currentPositionView)}} </span>

                                </div>
                                <div class="remote" v-if="currentPositionView.is_remote">
                                    <span class="spacer">-</span>
                                    <i class="fa fa-wifi"></i>
                                    <span class="polygot">{{$cjpmessages.SR_046_POSITION_REMOTE}}</span>
                                </div>
                            </li>
                            <li class="type item" v-if="currentPositionView.position_type">
                                <i class="fa fa-building"></i>
                                <span class="polygot">{{currentPositionView.position_type.title}}</span>
                            </li>
                            <li class="type item" v-if="currentPositionView.department">
                                <i class="fa fa-building"></i>
                                <span class="polygot">{{currentPositionView.department}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="description" class="position-description container">
                <div class="container-wrapper">
                    <ul class="breadcrumbs">
                        <li>
                            <router-link :to="{name:'LandingPageHome'}">
                                <span class="polygot">{{$cjpmessages.SR_047_MENU_JOB_OPENING}}</span>
                            </router-link>
                            <i class="fa fa-chevron-right"></i>
                        </li>
                        <li class="current"><span>{{currentPositionView.title}}</span></li>
                    </ul>
                    <div class="content-description row">
                        <div class="content-left col-md-6 col-lg-8">
                            <div class="video-container" v-if="currentPortalLandingPage.video_position_page && convertLinkToEmbedLink != '' ">
                                <div class="container-wrapper">
                                    <iframe :src="convertLinkToEmbedLink" width="100%" height="313"
                                            frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""
                                            allowfullscreen="">
                                    </iframe>
                                </div>
                            </div>
                            <div class="description" v-if="currentPositionView.job_description">
                                <div v-html="currentPositionView.job_description.description" class="breadcrumbs"></div>
                            </div>
                            <div class="apply-container d-none d-md-block">
                                <ul class="apply-buttons">
                                    <li class="apply-button">
                                        <a @click="nextToApplyPage()"
                                           class="polygot-parent button large bzyButtonColor polygot">{{$cjpmessages.SR_047_BTN_APPLY_POSITIONS}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="content-right col-md-6 col-lg-4">
                            <div class="sidebar-container ">
                            <ul class="actions">
                                <li class="action">
                                    <a @click="nextToApplyPage()" class="polygot-parent button bzyButtonColor apply">
                                        <span class="polygot">{{$cjpmessages.SR_047_BTN_APPLY_POSITIONS}}</span>
                                    </a>
                                </li>
<!--                                <li class="action">-->
<!--                                    <a onclick="openPopup(event)" class="polygot-parent button blue indeed">-->
<!--                                        <img src="@/assets/image/indeed-icon.png">-->
<!--                                        <span class="polygot">{{$cjpmessages.SR_047_BTN_INDEED}}</span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="action">-->
<!--                                    <a target="_self"-->
<!--                                       href=""-->
<!--                                       class="polygot-parent button blue linkedin">-->
<!--                                        <i class="fa fa-linkedin-square"></i>-->
<!--                                        <span class="polygot">{{$cjpmessages.SR_047_BTN_LINKEDIN}}</span>-->
<!--                                    </a>-->
<!--                                </li>-->
                                    <!--</a>-->
                                <!--</li>-->
                            </ul>
                            <div class="location-container">
                                <iframe width="100%"
                                        height="150"
                                        frameborder="0"
                                        style="border:0"
                                        :src="addressMap">
                                </iframe>
                            </div>
                            <div class="gallery-container">
                                <ul class="images" v-if="listImage.length < 9">
                                    <li :key="index" class="item" v-for="(image, index) in listImage">
                                        <a data-fancybox="gallery"
                                           :href="image.url">
                                            <div :style="{'background-image': 'url(' + image.url + ')'}"
                                                 class="gallery-image">
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
    <!--                        <div class="links-container">-->
    <!--                            <ul class="links">-->
    <!--                                <li class="link misc  social">-->
    <!--                                    <a href="https://www.facebook.com/cloudjetsolutions/"-->
    <!--                                       target="_blank">-->
    <!--                                        <i class="fa fa-facebook"></i>-->
    <!--                                    </a>-->
    <!--                                </li>-->
    <!--                            </ul>-->
    <!--                        </div>-->
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import {mapGetters,mapActions} from 'vuex';
    import _ from 'lodash'
    export default {
        name: "DetailPosition",
        components:{
        },
        data(){
            return {}
        },
        inject: [
            'getAddress'
        ],
        computed:{
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'currentDepartmentsLandingPage',
                'currentLocationsLandingPage',
                'currentPositionView',
                'convertLinkToEmbedLink',

            ]),
            addressMap(){
                let queryAddress = this.getAddress(this.currentPositionView);
                return `https://www.google.com/maps/embed/v1/place?key=AIzaSyCphd7p-BHxKBj9Xaxk85ilcYYRm-HCC-Q&q=${queryAddress}`
            },
            listImage(){
                let that = this
                let new_list_photo = _.cloneDeep(that.currentPortalLandingPage.photos)
                let length_list = that.currentPortalLandingPage.photos.length
                if(length_list > 8){
                   for(var i= 0 ;i < (length_list - 8); i++){
                       let index_random = Math.floor(Math.random()*(length_list-i))
                       new_list_photo.splice(index_random,1)
                   }
                }else {

                }

                return new_list_photo
            }
        },
        inject: ['getAddress'],
        mounted(){
            let that = this
            let name_route = that.$route.name

            that.setPositionView(that.$route.params['position_id'])
            that.checkCurrentNamePage(name_route)
            window.scrollTo(0,0);
        },
        methods:{
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage',
                'setPositionView',
                'checkCurrentNamePage',
            ]),
            nextToApplyPage(){
                let that = this
                let router = {
                    name: `LandingPageApplyPosition`,
                    params: {
                        position_id: that.$route.params['position_id'],
                    },
                }
                that.$router.push(router)
            }
        }
    }
</script>
<style lang="scss">
    #landing-page {
        #description{
            .job-description{
                .description{
                    img {
                        max-width: 670px !important;
                    }
                }
            }
            .description{
                ul{
                    list-style: unset;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    padding-inline-start: 40px;
                }
            }
            .content-description{
                .description{
                    img {
                        max-width: 550px !important;
                    }
                }
            }
        }
    }
</style>
<style scoped lang="scss">
    .spacer{
        margin: 0px 5px;
    }
    #description{
        position: static;
        &.container{
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .container-wrapper{
            margin: auto ;
            max-width: 900px;
            position: static;

            .breadcrumbs {
                margin-bottom: 30px;
                li {
                    display: inline-block;
                    a {
                        text-decoration: none;
                        color: #444444;
                    }
                }
                i{
                    font-size: 12px;
                    margin:0 6px;
                    opacity: 0.5;
                }
            }
            .content-description{
                display: flex;
                position: static;

                .content-left{
                    /*width: 100%;*/
                    /*max-width: 550px;*/
                    /*margin-right: 40px;*/
                    .description{
                        max-width: 550px;
                        width: 100%;
                        margin-bottom: 40px;
                        margin-right: 40px;
                    }
                    .apply-container{
                        .apply-button{
                            .button.bzyButtonColor{
                                background-color: #888 ;
                                border: 2px solid transparent;
                                color: #fff;
                                cursor: pointer;
                                padding: 14px 20px !important;
                            }

                        }
                    }
                    .video-container{
                        max-width: 550px;
                        margin-bottom: 40px;
                        .container-wrapper{
                            max-width: 900px;
                            margin: 0 auto;
                        }
                    }
                }
                .content-right{
                    position: sticky;
                    top: 70px;
                    .sidebar-container{
                        /*float: right;*/
                        /*display: inline-block;*/
                        /*width: 300px;*/
                        .actions{
                            margin-bottom: 15px;
                            border-bottom: 1px solid #eee;
                            .action{
                                margin-bottom: 15px;
                                a{
                                    text-decoration: unset;
                                }
                                .button {
                                    background-color: #888 ;
                                    border: 2px solid transparent;
                                    padding: 10px 20px !important;
                                }
                                .button.blue{
                                    padding: 15px;
                                    background-color: #0090ba !important;
                                }
                                a.button.indeed img {
                                    display: inline-block;
                                    margin-right: 10px;
                                    vertical-align: middle;
                                    height: 14px;
                                }
                            }
                            a{
                                display: inline-block;
                                width:100%;
                                padding: 15px;
                                text-align: center;
                            }

                        }
                        .location-container{
                            margin-bottom: 15px;
                            border-bottom: 1px solid #eee;
                            padding-bottom: 13px;
                        }
                        .gallery-container{
                            .images {
                                display: flex;
                                flex-flow: row wrap;
                                justify-content: center;
                            }
                            .item{
                                .gallery-image{
                                    display: inline-block;
                                    width: 134px;
                                    height: 134px;
                                    background-size: cover;
                                    background-position: center;
                                    background-repeat:no-repeat;
                                    border-radius: 4px;
                                    margin: 2px;
                                }
                            }

                        }
                    }
                }
            }
        }

    }


</style>
