<template>
    <div class="p-3 inbox-email">


        <div v-if="currentConversation&& currentCandidate" >
            <!-- Header -->
            <div class="float-right">
                <b-button variant="blue" @click="sendType = 'message'">{{messages.SR_010_COMPOSE_EMAIL}}</b-button>
            </div>

            <h3>{{messages.SR_010_CANDIDATE_CONVERSATION_TITLE}}</h3>
            <div class="px-0">
                <strong>{{messages.SR_010_POSITION_TITLE}}:</strong>&nbsp;
                <span class="ml-2" v-if="currentPosition && currentPosition.status">
                <i
                    :class="`fas ${currentPosition.status === 'archived' ? 'fa-archive' : 'fa-circle ' + currentPosition.status }`"></i>
                <small style="margin-left: 5px;">{{currentPosition.title}}</small>
            </span>
            </div>

            <!-- Compose email -->
            <div id="ComposeMessage" v-show="sendType === 'message'" style="margin-top: 20px;">
                <div class="container px-0">
                    <div class="row d-flex align-items-center">
                        <div class="col-1 d-flex justify-content-start">
                            <small class="text-secondary">
                                <strong>{{messages.SR_010_EMAIL_TO}}</strong>
                            </small>
                        </div>
                        <div class="col-8">
                            <small v-if="currentCandidate && currentCandidate.email_address">
                                {{currentCandidate.email_address}}
                            </small>
                        </div>
                        <div class="col-3" style="text-align: end">
                            <a href="javascript:void(0)" class="blue" v-if="!showCC" @click="toggleCC(true)" id="addCCBtn">+{{messages.SR_010_EMAIL_CC}}</a>
                            <a href="javascript:void(0)" class="blue" v-if="!showBCC" @click="toggleBCC(true)" id="addBCCBtn"
                               style="margin-left: 10px;">+{{messages.SR_010_EMAIL_BCC}}</a>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center" style="margin-top: 5px;" v-if="showCC">
                        <div class="col-1 d-flex justify-content-start">
                            <small class="text-secondary">
                                <strong>{{messages.SR_010_EMAIL_CC}}</strong>
                            </small>
                        </div>

                        <div class="col-11">
                            <div style="display: inline-block;width: 255px;">
                                <b-form-input type="text" style="height: 30px; font-size: 13px;width: 250px;"
                                              maxlength="200" :placeholder="messages.SR_010_EMAIL_EXAMPLE"
                                              v-model="emailObject.cc"
                                />
                            </div>

                            <div style="display: inline-block;"><a href="javascript:void(0)" @click="toggleCC(false)"
                                                                   style="padding-left: 10px;"><i
                                class="fa fa-times"></i></a></div>

                        </div>

                    </div>


                    <div class="row d-flex align-items-center" style="margin-top: 5px;" v-if="showBCC">
                        <div class="col-1 d-flex justify-content-start">
                            <small class="text-secondary">
                                <strong>{{messages.SR_010_EMAIL_BCC}}</strong>
                            </small>
                        </div>

                        <div class="col-11">
                            <div style="display: inline-block;width: 255px;">
                                <b-form-input type="text" style="height: 30px; font-size: 13px;width: 250px;"
                                              maxlength="200" v-model="emailObject.bcc"
                                              :placeholder="messages.SR_010_EMAIL_EXAMPLE"/>
                            </div>

                            <div style="display: inline-block;"><a href="javascript:void(0)" @click="toggleBCC(false)"
                                                                   style="padding-left: 10px;"><i
                                class="fa fa-times"></i></a></div>

                        </div>

                    </div>

                    <div class="row d-flex align-items-center" style="margin-top: 5px;">

                    </div>



                </div>

                <div class="container px-0" id="mailSubject">
                    <div class="row py-1">
                        <div class="col-1 pr-0 d-flex justify-content-start align-items-center">
                            <small class="text-secondary">
                                <strong>{{messages.SR_010_EMAIL_SUBJECT}}</strong>
                            </small>
                        </div>
                        <div class="col-8">
                            <b-form-input type="text" style="height: 30px; font-size: 13px;width: 250px;" v-model="emailObject.subject"
                                          :placeholder="messages.SR_010_EMAIL_TOPIC"/>
                        </div>
                        <div class="col-3">
                            <div class="template-dropdown dropdown" style="float: right">
                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus mr-1"></i> {{messages.SR_038_INSERT}}
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" style="width: 450px">
                                    <Tabs
                                        type="border-card" tab-position="left" class="custom-tab-email">
                                        <TabPane :label="messages.COMMON_TEMPLATES">
                                            <ElInPut @keydown="filterByInput" v-model="textInput"
                                                     :placeholder="messages.SR_038_PLACEHOLDER_FILTER"></ElInPut>
                                            <ul>
                                                <li
                                                    @click="setEmail(email)"
                                                    v-for="email, key in emailSorted"
                                                    :key="key"
                                                    class="ng-binding">
                                                    <span>{{email.name}}</span>
                                                    <p style="height:18px" class="ng-binding">
                                                        {{markedString(email.content)}}</p>
                                                </li>
                                            </ul>
                                            <div class="edit-templates" @click="editTemplates()">
                                                <div>
                                                    <i class="fa fa-edit fa-fw mr-1"></i> {{messages.SR_038_EDIT_TEMPLATES}}
                                                </div>
                                            </div>
                                        </TabPane>
                                    </Tabs>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="px-0 my-2" v-if="sendType === 'message'" >
                    <VueEditor
                        :placeholder="messages.SR_021_PLACEHOLDER_EDIT_EMAIL + ' ' + currentCandidate.name + ' ' + messages.SR_021_SUFFIX_PLACEHOLDER_EDIT_EMAIL"
                        v-model="emailObject.body"
                        ref="editor"
                        :editorToolbar="toolbarOptions"
                        :editorOptions="editorOptions"></VueEditor>
                </div>
                <div>
                    <ul class="file-attachments" v-if="emailObject.attachments.length > 0" style="">
                        <li :key="index" v-for="attachment, index in emailObject.attachments" class="custom-length-name">
                            <div class="attached ng-scope">
                                <i class="fa fa-paperclip"></i><span
                                class="attachment ng-binding"> {{attachment.file_name}} </span><a
                                class="remove" href="javascript:void(0)" @click="removeFileInArray(index)"><i class="fa fa-times"></i></a>
                            </div>
                        </li>
                    </ul>
                    <ElButton type="text" size="mini" :loading="true" v-if="isUpdating">{{messages.SR_021_UPDATING}}</ElButton>
                </div>

                <div class="d-flex justify-content-end">
                    <b-button tag="label" for="tagFileEmail" variant="gray" class="m-0 mr-1">
                        <i class="fas fa-paperclip"></i>
                        <input id="tagFileEmail" @change="pushFileToArray"  ref="uploadFile" type="file" style="visibility: hidden">
                    </b-button>
                    <!-- Send email buttons -->
                    <div class="d-flex">
                        <button class="btn btn-blue btn-sm"
                                style="height: 100%"
                                @click="sendMessage()">
                            <i class="fas fa-envelope"></i>&nbsp;
                            <small>{{messages.SR_010_SEND_EMAIL}}</small>
                        </button>

                    </div>
                </div>
            </div>
            <InboxMessages :currentConversation="currentConversation"></InboxMessages>
            <ModalValidate
                :CC="CC"
                :showModal="showModalError"
                @handleClose="handleCloseModal">
            </ModalValidate>
        </div>
    </div>

</template>
<style lang="scss">
    @import '~quill/dist/quill.bubble.css';

    .inbox-email {
        .custom-length-name {
            width: 100%;
            word-break: break-all;
            margin-bottom: 5px !important;
        }

        li.activity-container {
            cursor: auto !important;
        }

        .quillWrapper {
            margin-top: 10px;
            border: 2px solid #edeff0;
            border-radius: 4px;
            color: #4c555c;
            width: 100%;
            min-height: 100px;
            background-color: #fff7ef;

            .ql-editor {
                font-size: 14px;
                max-height: 400px;
            }
        }

        .template-dropdown{
            .dropdown-menu[x-out-of-boundaries]{
                transform: translate3d(0px,-376px, 0px) !important; //give valid transform
                //or use visiblity hidden;
            }
            .custom-tab-email {
            height: 300px;
            width: 450px;
            position: absolute;
            .el-tabs__content {
                padding: 0px;
                margin-bottom: 0px;

                .el-input {
                    padding: 10px;
                    padding-bottom: 0px;
                }

                ul {
                    padding: 10px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    margin-top: 5px;
                    height: 205px;
                    overflow: auto;

                    li {
                        border-radius: 4px;
                        color: #4c555c !important;
                        padding: 8px 10px !important;
                        cursor: pointer;

                        &:hover {
                            background-color: #f5f5f5;
                        }

                        p {
                            opacity: 0.7;
                            overflow: hidden;
                            width: 100%;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-bottom: 0px;
                        }
                    }
                }

                .edit-templates {
                    border-top: 1px solid #edeff0;
                    background: #fff;
                    padding: 5px 10px;
                    color: #4c555c !important;
                    cursor: pointer;

                    div {
                        padding: 6px 6px !important;
                        width: 100%;
                        border-radius: 5px;

                        &:hover {
                            background-color: #f5f5f5;
                        }

                    }
                }
            }
        }
        }


        .el-tabs__header {
            width: 140px;
            margin-right: 0px !important;
        }

        .el-tabs__nav {
            .el-tabs__active-bar {
                display: none;
            }

            .el-tabs__item {
                text-align: left;
                border-left: 4px solid transparent;
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                cursor: pointer;
                height: 36px;
                padding: 8px 10px 8px 12px;
                transition: 300ms all;
                line-height: unset !important;
                white-space: nowrap;
                color: #4c555c !important;

                &.is-active {
                    padding-left: 10px;
                    font-weight: bold;
                    border-bottom: 1px solid #edeff0 !important;
                    border-top: 1px solid #edeff0 !important;
                    background-color: #fff;
                    border-left: 4px solid #76d691 !important;
                    margin-right: -1px;
                }

                &:first-child {
                    border-top: none !important;
                }
            }
        }

        .fa-circle.published {
            color: #76d691 !important;
        }

        .fa-circle.draft {
            color: #5ac0e5 !important;
        }

        .fa-circle.closed {
            color: #778591 !important;
        }

        .clearfix {
        }

        .send-message.btn-blue {
            /*border-top-right-radius: 0px;*/
            /*border-bottom-right-radius: 0;*/
            margin-left: 10px;
        }

        .schedule-button.btn-blue {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0;
            border-left: 1px solid #4cabcd !important;

            &.dropdown-toggle::after {
                display: none;
            }

            .el-date-editor {
                input {
                    display: none;
                }
            }
        }

        .templates-container {
            float: right;
            margin-top: 10px;
        }

        .custom-popover-send-email {
            float: right;
            background: #edeff0;
            border: none;
            margin-top: 3px;
            border-radius: 4px;
            font-size: 12px !important;
            height: initial !important;
            padding: 5px 8px;
            color: #68747e !important;
            cursor: pointer;
        }

        .meta-actions-container {
            margin-bottom: 10px;
            font-size: 14px;

            .meta-section-header {
                display: inline-block;
                width: 50px;
                text-align: right;
                margin-right: 10px;
            }

            .meta-section-main {
                display: inline-block;
                width: 255px;
                margin-top: 10px;

                &:first-child {
                    margin-top: 0px;
                }

                span {
                    display: inline-block;
                    line-height: 20px;
                    padding: 8px 10px;
                }

                input[type=text] {
                    width: 250px;
                    margin-right: 5px;
                }
            }

            .bcc-toggle-container {
                float: right;

                a {
                    color: #5ac0e5;
                    margin-top: 10px;
                    margin-left: 10px;
                    font-weight: 400;
                    display: inline-block;
                }
            }
        }

    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import $ from 'jquery';
    // @ts-ignore
    import Datepicker from "vue-bootstrap-datetimepicker";
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min.css';
    import InboxMessages from "@/components/Inbox/InboxMessages.vue";
    import {messages} from '@/messages';
    import {fstorage, server_time} from '@/firebase';
    import {VueEditor} from 'vue2-editor';
    import {
        Popover, Button as ElButton, Tabs, TabPane, Input as ElInPut, Dropdown,
        DropdownMenu,
        DropdownItem,
        DatePicker
    } from 'element-ui';
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import _ from 'lodash';
    import Candidate from '@/models/Candidate';
    import ModalValidate from "@/components/Inbox/ModalValidate.vue"
    import {FILE_SIZE_LIMITED} from "@/email";


    export default Vue.extend({
        name: 'InboxDetailColumn',
        props: ['currentCandidate', 'currentPosition', 'currentConversation','filterBy','showEmailTool'],
        components: {
            //Datepicker,
            InboxMessages,
            Tabs,
            TabPane,
            ElInPut,
            VueEditor,
            ElButton,
            ModalValidate
        },
        data() {
            return {
                sendType: '',
                message: {
                    topic: '',
                    text: '',
                    CC: '',
                    BCC: '',
                    date: null as Date | null,
                },
                datepicker: {
                    show: false,
                },
                showCC: false,
                showBCC: false,
                emailObject: {
                    subject: '',
                    body: '',
                    attachments: [],
                },
                toogleEmail:false,
                textInput: '',
                toolbarOptions: [
                    ['bold', 'italic', 'link', {'list': "ordered"}, {'list': 'bullet'}],
                ],
                isUpdating: false,
                showModalError:  false,
                CC: false,
            }
        },
        watch: {
            showEmailTool: function (value) {
                let that = this as any;
                if (value) {
                    that.sendType =  'message';
                }
            }
        },
        computed: {

            ...mapGetters([
                'currentCompany',
                'currentUser',
                'messaging_template',
                'email_templates',
                'templateEmailSignature'
            ]),

            messageSchedule(): string {
                if (this.message.date) {
                    return new Date(this.message.date).toLocaleString();
                } else {
                    return '';
                }
            },
            editorOptions() {
                return {
                    theme: 'bubble',
                    bounds: "#quill-container",
                }
            },

            emailSorted() {
                let that = this as any;
                if (that.textInput == '') {
                    return that.email_templates;
                } else {
                    return that.filterByInput();
                }
            }
        },
        methods: {
            ...mapMutations([
                'setShowEmailTool',
            ]),
            ...mapActions([
                'getMessagingTemplate',
                'getEmailTemplates'
            ]),
            firstFieldName(full_name){
                return full_name.split(" ").pop();
            },
            handleCloseModal(){
                let that = this as any;
                that.showModalError = false;
                that.CC = false;
            },
            validateEmail(email) {
                let that = this as any;
                let re = /^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$/g;
                return re.test(email);
            },

            async sendMessage() {
                let that = this as any;
                let abc = that.templateEmailSignature;
                let emailCompile = _.template(abc);

                if (that.emailObject.subject.trim() == ''){
                    that.emailObject.subject = `Re: ${that.currentPosition.title}`;
                }

                if ((that.emailObject.body.trim() == '') || (that.emailObject.subject.trim() == '') ||( $(that.emailObject.body).text().trim() == '')){
                    return;
                }else if(that.emailObject.cc && that.emailObject.cc.trim() != "" && that.validateEmail(that.emailObject.cc) == false){
                    that.showModalError = true;
                    that.CC = true;
                    return;
                }else if(that.emailObject.bcc && that.emailObject.bcc.trim() != "" && that.validateEmail(that.emailObject.bcc) == false){
                    that.showModalError = true;
                    return;
                }

                that.setShowEmailTool(true);

                let emailObjectClone = _.cloneDeep(that.emailObject);
                emailObjectClone.body = emailCompile({
                    dataMeeting: that.emailObject.body,
                    signatureHtml: that.currentUser.signatureFlag == true?that.currentUser.signatureHtml:'',
                });
                const datares = await new  Candidate().sendEmail(
                    that.currentCandidate,
                    emailObjectClone,
                ).then((res)=>{
                    that.$emit('handleSendConversation', res);
                });
                //console.log(datares);
                that.emailObject = {
                    subject: '',
                    body: '',
                    attachments: [],
                };
                that.CC = false;
                that.showCC = false;
                that.showBCC= false;
            },

            toggleCC(flag: boolean) {
                let that = this as any;
                that.showCC = flag;
                if(flag == true){
                    that.emailObject['cc'] = '';
                    that.$forceUpdate();
                }else {
                    delete that.emailObject['cc'];
                    that.$forceUpdate();
                }
            },
            toggleBCC(flag: boolean) {
                let that = this as any;
                that.showBCC = flag;
                if(flag == true){
                    that.emailObject['bcc'] = '';
                    that.$forceUpdate();
                }else {
                    delete that.emailObject['bcc'];
                    that.$forceUpdate();
                }
            },

            openEditEmailTemplate() {
                let that = this as any;
                that.$router.push(`/company/messages-template`);
            },
            stringGen(len) {
                let text = " ";

                let charset = "abcdefghijklmnopqrstuvwxyz0123456789";

                for (var i = 0; i < len; i++)
                    text += charset.charAt(Math.floor(Math.random() * charset.length));

                return text;

            },
            uploadFileToStore(file) {
                return new Promise((resolve, reject) => {
                    // let fileNameUp = `${file.name}-${this.currentCandidate.id}`;
                    let datetime = server_time.now;
                    let upload = fstorage.ref(`attachment/email/${datetime.getFullYear()}/${this.currentCandidate.id}/${this.stringGen(10)}/${file.name}`).put(file);
                    upload.on('state_changed', null, null,
                        async () => {
                            await upload.snapshot.ref.getDownloadURL().then((downloadUrl) => {
                                file['file_shorturl'] = `attachment/email/${datetime.getFullYear()}/${this.currentCandidate.id}/${this.stringGen(10)}/${file.name}`;
                                file['file_url'] = downloadUrl;
                                console.log(downloadUrl);
                                resolve(file);
                            })
                        })
                })
            },
            pushFileToArray() {
                let that = this as any;
                let file = that.$refs.uploadFile.files[0];
                let size = 0;
                that.emailObject.attachments.forEach((file) => {
                    size += file.file_size || 0;
                })
                if (size + file.size > FILE_SIZE_LIMITED) {
                    alert("Kích thước các tập tin không vượt quá 5MB!");
                    that.$refs.uploadFile['value'] = null;
                    return;
                }
                that.isUpdating = true;
                that.uploadFileToStore(file).then((file) => {
                    let fileObj = {
                        file_name: file.name,
                        file_url: file.file_url,
                        file_shorturl: file.file_shorturl,
                        file_size: file.size,
                        is_new_file: true,
                    };
                    that.emailObject.attachments.push(fileObj);
                    that.$refs.uploadFile.value = null;
                    that.isUpdating = false;
                });

            },
            filterByInput() {
                let that = this as any;
                let result = that.email_templates.filter((email) => {
                    return email.name.toLowerCase().includes(that.textInput.toLowerCase());
                });
                return result;
            },
            markedString(string) {
                var toMarkdown = require('to-markdown');
                return toMarkdown(string);
            },
            setEmail(email) {
                let that = this as any;
                let cachedCC = this.emailObject.hasOwnProperty('cc') ? this.emailObject['cc'] : '';
                let cachedBCC = this.emailObject.hasOwnProperty('bcc') ? this.emailObject['bcc'] : '';
                that.emailObject.attachments = [];
                that.emailObject = _.cloneDeep(email);
                that.toogleEmail = false;
                that.emailObject.subject = that.replaceInfoByCandidate(email.subject);
                that.emailObject.body = that.replaceInfoByCandidate(email.content);
                if (cachedCC != ''){
                    this.emailObject['cc'] = cachedCC;
                }
                if (cachedBCC != ''){
                    this.emailObject['bcc'] = cachedBCC;
                }
            },

            replaceInfoByCandidate(string) {
                let that = this as any;
                let arrayField = [
                    {
                        title: 'candidate_first_name',
                        value: 'name'
                    },
                    {
                        title: 'candidate_name',
                        value: 'name'
                    },
                    {
                        title: 'candidate_email_address',
                        value: 'email'
                    },
                    {
                        title: 'position_link',
                        value: 'position_link'
                    },
                    {
                        title: 'position_title',
                        value: 'position_title'
                    },
                    {
                        title: 'company_name',
                        value: 'company_name'
                    },
                    {
                        title: 'company_user',
                        value: 'company_user'
                    },
                    {
                        title: 'company_user_first_name',
                        value: 'company_user_first_name'
                    },
                ];

                var compiled = _.template(string, {interpolate: /\[\[([\s\S]+?)\]\]/g});
                let result = '';
                let object = {};
                arrayField.forEach((field, index) => {
                    switch (field.title) {
                        case 'candidate_first_name':
                            object[field.title] = that.firstFieldName(that.currentCandidate.name);
                            break;
                        case 'candidate_name':
                            object[field.title] = that.currentCandidate.name;
                            break;
                        case 'company_user_first_name':
                            object[field.title] = that.firstFieldName(that.currentUser.name);
                            break;
                        case 'company_name':
                            object[field.title] = that.currentCompany.name;
                            break;
                        case 'company_user':
                            object[field.title] = that.currentUser.name;
                            break;
                        case 'position_title':
                            object[field.title] = that.currentPosition.title;
                            break;
                        case 'candidate_email_address':
                            object[field.title] = that.currentCandidate.email_address;
                            break;
                        case 'position_link':
                            object[field.title] = that.getPositionLink();
                            break;
                        default:
                            object[field.title] = field.value;
                            break;
                    }
                });
                result = compiled(object);
                return result;
            },
            urlLandingPage(){
                let that = this as any;
                return that.$urlLandingPage('', that.currentCompany.domain);
            },
            getPositionLink() {
                let that = this as any;
                //return `${window.location.origin}/w/${that.currentCompany.slug}/${that.currentPosition.id}`
                return that.urlLandingPage()+'/position/'+this.currentPosition.id;
            },

            removeFileInArray(index) {
                let that = this as any;
                //don't delete file in firestore.
                // if (that.emailObject.attachments[index].hasOwnProperty('is_new_file')) {
                //     that.removeFileInStore(that.emailObject.attachments[index]);
                // }
                that.emailObject.attachments.splice(index, 1);
            },

            removeFileInStore(file) {
                let storageRef = fstorage.ref();
                let attachRef = storageRef.child(file.file_shorturl);
                attachRef.delete().then(() => {
                    console.log('Deleted ', file.file_name);
                })
            },



        },
        mounted(): void {
            let that = this as any;

            if ((!that.messaging_template) || (!that.email_templates)) {
                that.getMessagingTemplate(that.currentCompany.id).then((template) => {
                    that.getEmailTemplates(template.id).then(() => {
                    })
                })
            }

        }
    })
</script>
