<template>
    <div class="activity-attachments ng-scope"
         v-if="attachList.length > 0">
        <ul class="attachments">
            <!-- ngRepeat: attachment in activity.object.attachments | limitTo:limit -->
            <li :key="index" class="attachment ng-scope custom-length-name" v-for="(attach, index) in attachList.slice(0,limit)" v-if="attach.file_name">
                <a :href="attach.file_url"
                   target="_blank"><strong
                    class="attachment ng-binding">{{attach.file_name}}</strong></a><i
                class="fa fa-paperclip"></i></li>
            <!-- end ngRepeat: attachment in activity.object.attachments | limitTo:limit -->
            <li v-if="attachList.length > limit"
                style=""><span class="show-more ng-binding"
                               @click="showMore()">{{messages.SR_008_SHOW_MORE}} {{attachList.length - limit}} more </span>
            </li>
        </ul>
    </div><!-- end ngIf: ::activity.object.attachments.length > 0 -->

</template>

<script lang="ts">
    import Vue from 'vue';
    const _ = require('lodash');
    export default Vue.extend ({
        name: "InboxAttach.vue",
        props: ['attachList'],
        data() {
            return {
                limit:3,

            }
        },
        methods:{
            showMore() {
                let that = this as any;
                that.limit = that.attachList.length;
            }
        }
    });
</script>
<style lang="scss" scoped>
    .custom-length-name {
        width: 100%;
        word-break: break-all;
        margin-bottom: 5px !important;
    }
</style>

