<template>
    <div class="d-flex flex-column overflow-auto inbox" style="height: 100%">
        <header class="p-3 m-0 flex-shrink-0" style="min-width: 100%;">
            <b-dropdown class="default-bg-color" variant="custom-bg-color">
                <template slot="button-content">
                    {{inbox.type.text}}
                </template>
                <b-dropdown-item v-for="(opt, idx) of inbox.options" :key="idx" @click="changeFilter(opt)">
                    {{opt.text}}
                </b-dropdown-item>
            </b-dropdown>
            <!--<b-form-select v-model="inbox.type" style="width: 200px; height:30px ;background-color: #E9ECEF"-->
            <!--:options="inbox.options"></b-form-select>-->
        </header>
        <div class="p-2 flex-grow-1" style="overflow: auto;">
            <div class="d-flex inbox-section" style="height:100%">
                <!-- Left border -->
                <div class="text-center border px-0 rounded inbox-list-column position-inbox-candidates" v-if="loadingInbox" >
                    <div style="margin-top: 150px;">
                    <h3>{{messages.SR_010_LOADING}}</h3>
                    <b-spinner></b-spinner>
                    </div>
                </div>
                <div class="border px-0 rounded inbox-list-column position-inbox-candidates"
                     v-if="list_inbox && (list_inbox.length != 0) && (!loadingInbox)" >
                    <aside >
                        <ul>

                            <li class="border py-2 text-secondary candidate-info"
                                style="background: #ffffff;"
                                v-for="(inbox, idx) in list_inbox" v-if="list_inbox && (list_inbox.length != 0)"
                                v-bind:class="inbox.id === currentInboxId ? 'inbox-active':''"
                                @click="changeIndex(idx)"
                            >
                                <div class="d-flex">
                                    <div class="col-2 align-self-center">
                                        <avatar :size="30" :username="inbox.candidate.name"
                                                :initials="inbox.candidate.name.charAt(0).toUpperCase()"
                                                :src="inbox.candidate.profile_photo_url"></avatar>
                                    </div>
                                    <div class="col-10">
                                        <div class="float-right">
                                            <button class="closeInbox btn btn-small btn-default"
                                                    @click="showModalDeleteInbox(inbox.candidate.name,inbox)">
                                                {{messages.SR_010_HIDE}}
                                            </button>
                                            <small class="updateAt">{{formatUpdatedAt(inbox.updatedAt)}}</small>
                                        </div>
                                        <h5 class="my-0 candidate-name">
                                            <b>{{inbox.candidate.name}}</b>
                                        </h5>
                                        <small v-if="inbox.candidate.headline"><h4 class="headline ng-binding" >{{inbox.candidate.headline}}</h4></small>
                                        <small v-else><br/></small>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="col-2 user-avatar justify-content-end pr-0 align-items-center">
                                        <avatar :size="20" :username="inbox.acting_user.name"
                                                :initials="inbox.acting_user.name.charAt(0).toUpperCase()"
                                                :src="inbox.acting_user.photoURL"></avatar>
                                    </div>
                                    <div class="col-10 d-flex align-items-center">
                                        <p class="mb-0 conversation-snippet">{{inbox.body}}</p>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </aside>
                </div>
                <div class="border px-0 rounded inbox-list-column position-inbox-candidates inbox-empty" v-if="(!list_inbox ||(list_inbox.length == 0)) && (!loadingInbox)" >
                    <div><i class="fa fa-comments"></i>
                        <p>{{messages.SR_008_NO_CONVERSATION}}</p></div>
                </div>
                <!-- Middle border -->
                <div class="border rounded inbox-detail-column">
                    <div class="text-center" v-if="loadingFlag" style="margin-top: 150px;">
                        <h3>{{messages.SR_010_LOADING}}</h3>
                        <b-spinner></b-spinner>
                    </div>
                    <div v-if="!loadingFlag">
                            <InboxDetailColumn :currentCandidate="currentInformationCandidate"
                                               :currentPosition="currentPosition"
                                               :currentConversation="currentUserConversation"
                                               :filterBy="filter_by"
                                               :showEmailTool = "currentShowEmailTool"
                                               v-on:handleSendConversation="handleSendConversation"
                            />
                    </div>
                    <!--<InboxMessages v-model="currentConversation"/>-->
                </div>
                <!-- Right border -->
                <div class="border rounded inbox-candidate-info"
                     style="overflow-y: auto; height: 100%" >
                    <div style="margin-top: 150px; text-align:center" v-if="loadingCandidate">
                        <h3>{{messages.SR_010_LOADING}}</h3>
                        <b-spinner></b-spinner>
                    </div>

                    <div v-if="currentInformationCandidate && (!loadingCandidate)">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-sm btn-primary mx-0" @click="openScheduleInterview()"
                                    v-tooltip="{
                                        content: messages.SR_010_INBOX_SCHEDULE,
                                       placement:'bottom-start',
                                       trigger: 'hover'
                                      }">
                                <i class="fas fa-calendar-alt text-white"></i>
                            </button>
                            <!--                        <button type="button" class="btn btn-sm btn-primary mx-0" >-->
                            <!--                            <i class="fas fa-list text-white"></i>-->
                            <!--                        </button>-->
                            <!--                        <button type="button" class="btn btn-sm mx-0" style="background: #edeff0">-->
                            <!--                            <i class="fas fa-comments text-secondary"></i>-->
                            <!--                        </button>-->
                            <div class="dropdown" v-if="$can('modify', currentInformationCandidate)">
                                <button type="button" class="btn btn-sm dropdown-toggle mx-0"
                                        style="background: #edeff0; color: #68747e;"
                                        id="dropdown-type"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false" v-tooltip="{
                                        content: messages.SR_010_INBOX_MOVE,
                                       placement:'bottom-start',
                                       trigger: 'hover'
                                      }">
                                    <i class="fas fa-arrows-alt-h text-secondary"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdown-type">
                                    <a v-for="item in pipline" class="dropdown-item" href="javascript:void(0)" @click="moveStage(item)">{{item.title}}</a>
                                </div>
                            </div>
                            <div class="dropdown" v-if="$can('modify', currentInformationCandidate)">
                                <button
                                    type="button"
                                    class="btn btn-sm dropdown-toggle mx-0"
                                    style="background: #edeff0; color: #68747e;"
                                    id="dropdownMessage"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    v-tooltip="{
                                        content: messages.SR_010_ASSIGN,
                                       placement:'bottom-start',
                                       trigger: 'hover'
                                      }"
                                >
                                    <i class="fas fa-user-plus text-secondary"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMessage">
                                    <a v-for="user in companyUsers" @click="assignUser(user)" class="dropdown-item"
                                       href="javascript:void(0)" v-if="!userAssign.name">{{user.name}}</a>
                                    <a class="dropdown-item" @click="assignUser()" href="javascript:void(0)" v-if="userAssign.name">{{messages.SR_010_UNASSIGN}}</a>
                                </div>
                            </div>
                        </div>
                        <hr class="style3">
                        <div class="conatiner">
                            <div class="text-center" v-if="currentInformationCandidate.name" style="padding: 20px;">
                                <div class="candidate-avatar-wrap"
                                     :score="currentInformationCandidate.overall_score.score"
                                     v-if="currentInformationCandidate.overall_score.scored_count > 0"
                                     v-bind:class="showClass(currentInformationCandidate.overall_score.score)">
                                    <avatar :size="80" :username="currentInformationCandidate.name"
                                            :initials="currentInformationCandidate.name.charAt(0).toUpperCase()"
                                            :src="currentInformationCandidate.profile_photo_url"></avatar>
                                </div>
                                <div class="candidate-avatar-wrap"
                                     v-if="currentInformationCandidate.overall_score.scored_count === 0">
                                    <avatar :size="80" :username="currentInformationCandidate.name"
                                            :initials="currentInformationCandidate.name.charAt(0).toUpperCase()"
                                            :src="currentInformationCandidate.profile_photo_url"></avatar>
                                </div>
                            </div>
                            <div class="text-center" v-if="currentInformationCandidate.position">
                                <h4 class="mb-0">{{currentInformationCandidate.name}}</h4>
                                <small v-if="currentPosition && currentPosition.title">{{currentPosition.title}}</small>
                                <br>
                                <a class="small blue" href="javascript:void(0)"
                                   @click="navigateToCandidate(currentInformationCandidate.id)">
                                    <span>{{messages.SR_010_VIEW_CANDIDATE}}</span>
                                </a>
                            </div>

                            <hr>
                            <div >
                                <h6>{{messages.SR_010_INBOX_CONTACT_INFORMATION}}</h6>
                                <div class="d-flex align-items-center" v-if="currentInformationCandidate.phone_number">
                                    <small>{{messages.SR_010_INBOX_PHONE}}: &nbsp;</small>
                                    <a class="blue" :href="'tel:'+currentInformationCandidate.phone_number"
                                       target="_blank">
                                        <small>{{currentInformationCandidate.phone_number}}</small>
                                    </a>
                                </div>
                                <div class="d-flex align-items-center" v-if="currentInformationCandidate.email_address">
                                    <small>{{messages.SR_010_INBOX_EMAIL}}: &nbsp;</small>
                                    <a class="blue" :href="'mailto:'+currentInformationCandidate.email_address"
                                       target="_blank">
                                        <small>{{currentInformationCandidate.email_address}}</small>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h6>{{messages.SR_010_INBOX_GENERAL_INFORMATION}}</h6>
                                <small v-if="currentInformationCandidate.stage.name">
                                    {{messages.SR_010_INBOX_STAGE_STATUS}}:
                                </small>
                                <small v-if="currentInformationCandidate.stage.name" class="text-secondary">
                                    {{currentInformationCandidate.stage.name}}
                                </small>
                                <br>
                                <small v-if="userCreate.name">{{messages.SR_010_INBOX_ADDED_BY}}: </small>
                                <small class="text-secondary" v-if="userCreate.name">{{userCreate.name}}</small>
                                <br>
                                <small v-if="userAssign.name">{{messages.SR_010_INBOX_ASSIGNED_TO}}: </small>
                                <small class="text-secondary" v-if="userAssign.name">{{userAssign.name}}</small>
                            </div>
                            <hr>
                            <div
                                v-if="currentInformationCandidate.social_profiles && currentInformationCandidate.social_profiles.length >0 &&currentInformationCandidate.social_profiles[0].url">
                                <h6>{{messages.SR_010_SOCIAL_PROFILE}}</h6>
                                <div class="d-flex align-items-center">
                                    <ul>
                                        <li v-for="item in currentInformationCandidate.social_profiles">
                                            <small v-if="item.typeName">{{item.typeName}}</small>
                                            <a :href="item.url" class="blue"
                                               style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 15px"
                                               v-if="item.url">
                                                <small>{{item.url}}</small>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <ScheduleInterviews
            @closeModal="closedScheduleModal()"
            :showModal="showModalSchedule"
            :currentCandidate="currentInformationCandidate"
            :type="'new'"
            v-if="showModalSchedule"
            :currentPosition="currentPosition">
        </ScheduleInterviews>
        <ConfirmDeleteInbox :showModal="show_confirm_delete" v-on:handleClose="noDeleteInbox()"
                            :candidatename="currentCandidateName"
                            v-if="show_confirm_delete"
                            v-on:handleSaveChange="deleteInbox()"></ConfirmDeleteInbox>
    </div>

</template>

<style lang="scss">
    @import '~styles/inbox';

    .inbox {

        h5.candidate-name {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        h4.headline {
            color: #666;
            font-size: 12px;
            font-weight: 200;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .inbox-empty div {
            align-self: center !important;
            display: inline-block !important;
            margin: 0 auto !important;
            text-align: center !important;
        }

        .inbox-empty {
            color: #666;
            display: flex;
            height: 100%;

        }

        .inbox-empty i {
            font-size: 80px !important;
        }

        .dropdown-item:focus, .dropdown-item:hover {
            color: #262626 !important;
            text-decoration: none;
            background-color: #f5f5f5 !important;
        }


        a.blue {
            cursor: pointer !important;
        }

        p.conversation-snippet {
            border-left: 3px solid #5ac0e5;
            font-size: 12px;
            overflow: hidden;
            padding-left: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .user-avatar .vue-avatar--wrapper {
            left: 35px;
            position: absolute;
        }

        .candidate-avatar-wrap {
            display: inline-block;
            height: 80px;
            position: relative;
            width: 80px;
        }

        .inbox-active {
            background-color: #fff !important;
            border-left: 9px solid !important;
            border-left-color: #76d691 !important;
        }

        .position-inbox-candidates li {
            border-left: 9px solid transparent;
            cursor: pointer !important;
            transition: background-color .3s ease !important;
        }

        .closeInbox {
            display: none !important;
            outline: none;
            font-size: 10px;
            line-height: 20px;
            color: #68747e;
            opacity: 1;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            font-weight: 100;
            padding: 0 6px;
            background: #f9fafa;
            text-shadow: none;
        }

        .candidate-info:hover .closeInbox {
            background-color: #dedede !important;
            color: #68747e !important;
            display: inline-block !important;
        }

        .candidate-info:hover .updateAt {
            display: none !important;
        }

        a.blue {
            color: #5ac0e5;
        }

        .candidate-avatar-wrap[score]:after {
            background-color: #fff9db;
            border: 2px solid #edeff0;
            border-radius: 44px;
            color: #fff;
            content: attr(score);
            display: inline-block;
            font-size: 12px;
            height: 29px;
            left: 50px;
            line-height: 16px;
            padding: 6px 0;
            position: absolute;
            text-align: center;
            top: 56px;
            width: 29px;
            z-index: 3;
        }

        .good[score]:after {
            background-color: #76d691 !important;
            color: #fff;
        }

        .neutral[score]:after {
            background-color: #f5d44f;
            color: #fff;
        }

        .poor[score]:after {
            background-color: #e15258;
            color: #fff;
        }

    }
</style>

<script lang="ts">
    import Vue from "vue";
    import {Component, Prop, Watch} from 'vue-property-decorator';
    import InboxDetailColumn from "@/components/Inbox/InboxDetailColumn.vue";
    import InboxMessages from "@/components/Inbox/InboxMessages.vue";
    import {messages} from '@/messages';
    import avatar from 'vue-avatar';
    import {mapActions, mapMutations, mapGetters} from 'vuex';
    import moment from "moment";
    import Candidate from '@/models/Candidate';
    import Position from '@/models/Position';
    import User from '@/models/User';
    import ScheduleInterviews from '@/components/modals/ScheduleInterviews.vue';
    import PipelineStage from '@/models/PipelineStage';
    import Conversation from '@/models/Conversation';
    import ConfirmDeleteInbox from "@/components/Inbox/ConfirmDeleteInbox.vue";
    import _ from 'lodash';

    moment.locale('vi');
    moment.updateLocale('vi', {
        meridiem : function (hours, minute, isLowercase) {
            if (hours < 12) {
                return  'SA' ;
            } else {
                return  'CH' ;
            }
        }
    });

    @Component({
        components: {
            InboxDetailColumn,
            avatar,
            ScheduleInterviews,
            ConfirmDeleteInbox
        },
        methods: {
            ...mapActions([
                'getInboxes',
                'getCandidates',
                'getPositionInboxes',
                'getConversations',
                'getMessagingTemplate',
                'getEmailTemplates'
            ]),
            ...mapMutations([
                'setCurrentConversations',
                'setShowEmailTool',
            ]),

        },
        computed: {
            ...mapGetters([
                'currentInboxes',
                'currentUser',
                'currentCompany',
                'companyUsers',
                'listAllPosition',
                'currentCandidates',
                'companyUsers',
                'currentConversations',
                'currentPositionInboxes',
                'unsubscribeInboxes',
                'messaging_template',
                'email_templates',
                'currentShowEmailTool',
            ]),

            position_id(): string {
                let that = this as any;
                return that.$route.params.position_id || "";
            },

            list_inbox(){
                let that = this as any;
                if(that.position_id){
                    return _.orderBy(that.currentPositionInboxes, ['updatedAt'], ['desc']);
                }else{

                    let list = that.currentInboxes;
                    list = list.filter((inbox: any) => {
                        //console.log( that.$can('read', inbox));
                        return that.$can('read', inbox);
                    });
                    return _.orderBy(list, ['updatedAt'], ['desc']);
                }
            },
            activeInbox() {
                let that = this as any;
                //let index = that.currentInboxIndex;
                // if (index > -1 && index < that.list_inbox.length) {
                //     return that.list_inbox[index];
                // }

                if ((that.list_inbox.length >0) && (that.currentInboxId)) {
                    return that.list_inbox.find(function(e) {
                        return (e.id == that.currentInboxId);

                    });
                }

                if (that.list_inbox[0] && that.list_inbox[0].id)
                    that.currentInboxId = that.list_inbox[0].id;

                //that.currentInboxIndex = 0;

                return that.list_inbox[0];
            }
        },
        destroyed(): void {
            let that = this as any;
            if (that.unsubscribeInboxes) {
                that.unsubscribeInboxes()
            }
        }
    })
    export default class InboxPage extends Vue {
        inbox = {
            type: null as any,
            options: [
                {value: "all", text: messages.SR_010_INBOX_ALL_CONVERSATIONS},
                {value: "own", text: messages.SR_010_INBOX_MY_CONVERSATIONS}
            ],
            list: [] as any[],
        };
        //list_inbox = [] as any;
        currentInboxIndex = -1;
        currentInformationCandidate = null;
        positions = null;
        currentPosition = null;
        userCreate = null;
        userAssign = null;
        showModalSchedule = false;
        pipline = null;
        show_confirm_delete = false;
        currentCandidateName = "";
        deleteCurrentInbox = null;
        filter_by="all";
        loadingFlag = false;
        loadingInbox = true;
        loadingCandidate = false;
        currentInboxId = null;



        async changeFilter(opt: any): Promise<void> {
            let that = this as any;
            that.inbox.type = opt;
            that.filter_by = opt.value;
            that.loadingInbox = true;

            if (that.filter_by == "all") {
                if(that.position_id){
                    await that.getPositionInboxes({position_id: that.position_id, userflag: false, user :that.currentUser})
                }else {
                    await that.getInboxes()
                }
            } else {
                if(that.position_id){
                    await that.getPositionInboxes({position_id: that.position_id, userflag: true, user :that.currentUser})
                }else {
                    await that.getInboxes(true)
                }
            }
            that.loadingInbox = false;
        }

        // Computed
        get getAllInbox(): any[] {
            return this.inbox.list;
        }

        get ownInbox(): any[] {
            return this.inbox.list.filter(inbox => {
                return true;
            });
        }

        get currentUserConversation(): any[] {
            let that = this as any;
            return that.currentConversations;
        }


        async refeshDataShow(Inboxid: any): Promise<void> {
            let that = this as any;
            let id = null;
            let inbox = null
            if (that.list_inbox.length > 0) {

                // that.list_inbox.forEach(function(e) {
                //     if (e.id == Inboxid)
                //         inbox = e;
                // });

                inbox = that.activeInbox;

                // if (that.list_inbox[index].candidate)
                //     id = that.list_inbox[index].candidate.id;

                if (inbox.candidate)
                    id = inbox.candidate.id;

            } else {
                that.loadingFlag = false;
                that.loadingCandidate = false;
            }
            let candi = null;

            if (id) {
                candi = await that.loadCandidate(id);
            }
            that.currentInformationCandidate = candi;
        }
        @Watch('activeInbox')
        onActiveInboxChange(newValue) {
            let that = this as any;
            if (newValue) {
                that.loadingCandidate = true;
                //this.refeshDataShow(this.currentInboxIndex);
                that.refeshDataShow(that.currentInboxId);
            }
        }

        @Watch('list_inbox')
        onListInboxChange(newValue) {
            let that = this as any;
            let inbox = null;
            if ((that.list_inbox.length >0) && (that.currentInboxId)) {
                inbox =  that.list_inbox.find(function(e) {
                    return (e.id == that.currentInboxId);

                });
            }

            if ((!inbox) && (that.list_inbox.length >0)) {
                if (that.list_inbox[0] && that.list_inbox[0].id)
                    that.currentInboxId = that.list_inbox[0].id;
            }

        }

        async assignUser(user?: any): Promise<void> {
            let that = this as any;
            if (user) {
                let assignee = user.cloneNewObject();
                that.currentInformationCandidate.assignee_id = user.id;
                that.currentInformationCandidate.assignee = assignee;
                await that.currentInformationCandidate.update().catch(err => {
                    console.log(err);
                });
                that.userAssign = assignee;

            } else {

                that.currentInformationCandidate.assignee_id = "";
                that.currentInformationCandidate.assignee = {};
                await that.currentInformationCandidate.update().catch(err => {
                    console.log(err);
                });
                that.userAssign = {};
            }
        }

        navigateToCandidate(id): void {
            let that = this as any;
            that.$router.push(`/candidate/${id}`);
        }

        handleSendConversation(conversation):void {
            //this.currentConversation = [...this.currentConversation, conversation];

        }

        changeIndex(index): void {
            let that = this as any;
            //that.currentInboxIndex = index;
            that.currentInboxId = that.list_inbox[index].id;
            that.setShowEmailTool(false);
            console.log(that.currentShowEmailTool);
        }

        closedScheduleModal(): void {
            let that = this as any;
            that.showModalSchedule = false;
        }

        openScheduleInterview(): void {
            let that = this as any;
            that.showModalSchedule = true;
        }

        showClass(score_num: any): string {
            let that = this;
            let class_css = 'good';

            if (score_num < 0) {
                class_css = 'poor';
            } else if (score_num == 0) {
                class_css = 'neutral';
            }

            return class_css;
        }

        showModalDeleteInbox(name: string, inbox: any): void {
            let that = this as any;
            that.show_confirm_delete = true;
            that.currentCandidateName = name;
            that.deleteCurrentInbox = null;
            that.deleteCurrentInbox = inbox;
        }

        noDeleteInbox(): void {
            let that = this as any;
            that.show_confirm_delete = false;
        }

        async deleteInbox(): Promise<void> {
            let that = this as any;
            that.show_confirm_delete = false;
            if (that.deleteCurrentInbox) {
                that.deleteCurrentInbox.is_showing = false;
                await that.deleteCurrentInbox.update().catch(
                    err => {
                        console.log(err);
                    }
                );
            }

            that.currentInformationCandidate = null;
            //that.currentInboxIndex = -1;
            that.currentInboxId = null;
            that.userCreate = null;
            that.userAssign = null;
            that.pipline = null;
            that.currentPosition = null;
            that.setCurrentConversations(null);

        }

        async moveStage(pipline: any): Promise<void> {
            let that = this as any;
            that.currentInformationCandidate.stage_id = pipline.stage_id;
            that.currentInformationCandidate.stage.id = pipline.stage_id;
            that.currentInformationCandidate.stage.name = pipline.title;
            await that.currentInformationCandidate.update().catch(err => {
                console.log(err);
            });
        }

        async loadCandidate(id): Promise<any> {
            let that = this as any;

            if(!that.currentShowEmailTool) {
                that.loadingCandidate = true;
                that.loadingFlag = true;
            }

            const candi = await new Candidate().getById(id).catch(err => {
                console.log(err);
            }) as Candidate;
            that.loadingCandidate = false;
            if (candi) {
                that.currentPosition = await new Position().getById(candi.position._id).catch(err => {
                    console.log(err);
                }) as Position;

                let user_create = {};
                let user_assign = {};
                let pipline = [];

                if (that.currentPosition.pipeline_id) {
                    pipline = await new PipelineStage().getAllStages(that.currentPosition.pipeline_id);
                    if (pipline) {
                        that.pipline = pipline;
                    }
                }

                that.userCreate = {};
                that.userAssign = {};
                if (candi.created_by) {
                    user_create = that.companyUsers.filter((user) => {
                        return user.id === candi.created_by;
                    })
                    if ((user_create) && (user_create[0])) {
                        that.userCreate = user_create[0];
                    }
                }

                if (candi.assignee_id) {
                    user_assign = that.companyUsers.filter((user) => {
                        return user.id === candi.assignee_id;
                    })
                    if ((user_assign) && (user_assign[0])) {
                        that.userAssign = user_assign[0];
                    }
                }


                 that.getConversations(candi.id).then(result => {
                     that.loadingFlag = false;
                 }).catch(err => {
                    console.error(err);
                })



                console.log(that.currentConversations);
            } else {
                that.loadingFlag = false;
            }


            return candi;
        }

        formatUpdatedAt(val): string {
            return moment(val).fromNow();
        }

        // HOOK
        created() {
            this.inbox.type = this.inbox.options[0];
        }

        mounted() {
            let that = this as any;
            that.setShowEmailTool(false);
            console.log(that.currentShowEmailTool);
            if (that.position_id) {
                that.getPositionInboxes({position_id: that.position_id, userflag: false, user :that.currentUser}).then(()=>{
                    if(that.list_inbox && that.list_inbox.length > 0){
                        //that.currentInboxIndex = 0;
                        //that.currentInboxId = that.list_inbox[0].id;
                    }
                    that.loadingInbox = false;
                })
            }else {
                that.getInboxes().then(() => {
                    if(that.list_inbox && that.list_inbox.length > 0){
                        //that.currentInboxIndex = 0;
                        //that.currentInboxId = that.list_inbox[0].id;
                    }
                    that.loadingInbox = false;
                    }
                )
            }

            if ((!that.messaging_template) || (!that.email_templates)) {
                that.getMessagingTemplate(that.currentCompany.id).then(() => {
                    that.getEmailTemplates(that.messaging_template.id).then(() => {

                    })
                })
            }
        }
    }

</script>
