<template>
    <div class="py-3 pr-3 inbox-conversation">
        <div class="activity-stream-container with-end-dot">
            <div class="timeline"></div>
            <ul class="activity-stream">

                <!-- end ngRepeat: activity in conversation | removePending -->
                <li class="activity-container" v-for="item in conversations">
                    <!-- ngInclude: undefined -->
                    <div v-if="item.type == 'messageToCandidatePosted'" activity="activity" class="ng-scope">
                        <div class="activity company-message messageToCandidatePosted" id="bd2006c754d5">
                            <div class="activity-object high-priority">
                                <div class="activity-type">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <avatar :size="30" :username="item.object.acting_user.name"
                                        :initials="item.object.acting_user.name.charAt(0).toUpperCase()"
                                        :src="item.object.acting_user.photo_url"></avatar>
                                <div
                                    class="activity-info"
                                    ng-class="{'activity-error': activity.object.state === 'error'}"
                                >
                                    <div class="activity-timestamp">
                                        <!-- ngIf: ::activity.object.delivery_method !== "sms" -->
                                        <i
                                            class="fa fa-envelope ng-scope"
                                            ng-if="::activity.object.delivery_method !== &quot;sms&quot;"
                                            tooltip-placement="bottom"
                                            v-tooltip.bottom-start="messages.SR_010_EMAIL"
                                        ></i>
                                        <span
                                            class="timestamp ng-binding"
                                            data-container="body"  v-tooltip.bottom-start="formatTooltipCreateAt(item.createdAt)"
                                        >{{formatUpdatedAt(item.createdAt)}}</span>
                                    </div>
                                    <div class="activity-header">
                                        <p class="author-name ng-binding">
                                            {{item.object.acting_user.name}}
                                        </p>
                                        <div class="other-recipients" v-if="item.object.cc && item.object.cc != ''">
                                            <span class="label mr-1">CC:</span>
                                            <span class="email">{{item.object.cc}}</span>
                                        </div>
                                        <div class="other-recipients" v-if="item.object.bcc && item.object.bcc != ''">
                                            <span class="label mr-1">BCC:</span>
                                            <span class="email">{{item.object.bcc}}</span>
                                        </div>
                                    </div>
                                    <div class="activity-body default-css">
                                        <div
                                            truncate-height-to="140"
                                            style="white-space: pre-line ; list-style: initial;"
                                            v-html="item.object.body"
                                        >
                                        </div>
                                    </div>


                                    <div class="clearfix"><!-- ngIf: ::activity.object.attachments.length > 0 -->
                                        <InboxAttach :attachList="item.object.attachments"></InboxAttach>
                                        <div class="activity-footer"></div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="item.type == 'messageFromCandidatePosted'" activity="activity" class="ng-scope">
                        <div class="activity company-message messageFromCandidatePosted" id="bd2006c754d5">
                            <div class="activity-object high-priority">
                                <div class="activity-type">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <avatar :size="30" :username="item.object.acting_user.name"
                                        :initials="item.object.acting_user.name.charAt(0).toUpperCase()"
                                        :src="item.object.acting_user.photo_url"></avatar>
                                <div
                                    class="activity-info"
                                    ng-class="{'activity-error': activity.object.state === 'error'}"
                                >
                                    <div class="activity-timestamp">
                                        <!-- ngIf: ::activity.object.delivery_method !== "sms" -->
                                        <i
                                            class="fa fa-envelope ng-scope"
                                            ng-if="::activity.object.delivery_method !== &quot;sms&quot;"
                                            tooltip-placement="bottom"
                                            v-tooltip.bottom-start="messages.SR_010_EMAIL"
                                        ></i>
                                        <span
                                            class="timestamp ng-binding"
                                            data-container="body"  v-tooltip.bottom-start="formatTooltipCreateAt(item.createdAt)"
                                        >{{formatUpdatedAt(item.createdAt)}}</span>
                                    </div>
                                    <div class="activity-header">
                                        <p class="author-name ng-binding">
                                            {{item.object.acting_user.name}}
                                        </p>
                                        <div class="other-recipients" v-if="item.object.cc && item.object.cc != ''">
                                            <span class="label mr-1">CC:</span>
                                            <span class="email">{{item.object.cc}}</span>
                                        </div>
                                        <div class="other-recipients" v-if="item.object.bcc && item.object.bcc != ''">
                                            <span class="label mr-1">BCC:</span>
                                            <span class="email">{{item.object.bcc}}</span>
                                        </div>
                                    </div>
                                    <div class="activity-body default-css">
                                        <div
                                            truncate-height-to="140"
                                            style="white-space: pre-line"
                                            v-html="item.object.body"
                                        >
                                        </div>
                                    </div>


                                    <div class="clearfix"><!-- ngIf: ::activity.object.attachments.length > 0 -->
                                        <InboxAttach :attachList="item.object.attachments"></InboxAttach>
                                        <div class="activity-footer"></div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div activity="activity" class="ng-scope" v-else>
                        <div
                            class="activity candidate-interview-added candidatePanelInterviewAdded"
                        >
                            <div class="activity-object low-priority">
                                <div class="activity-type">
                                    <i class="fa fa-calendar-alt"></i>
                                </div>
                                <div class="activity-info">
                                    <div class="activity-timestamp">
                    <span
                        class="timestamp ng-binding"
                        data-container="body"   v-tooltip.bottom-start="formatTooltipCreateAt(item.createdAt)"
                    >{{formatUpdatedAt(item.createdAt)}}</span>
                                    </div>
                                    <!-- ngIf: activity.object.panel_interview.num_interviews === 1 -->
                                    <div
                                        class="activity-header ng-scope"
                                    >
                                        <p class="author-name ng-binding">
                                            {{item.object.acting_user.name}}
                                            <span>{{messages.SR_010_SCHEDULE_MEETING}}:</span>
                                        </p>
                                    </div>
                                    <!-- end ngIf: activity.object.panel_interview.num_interviews === 1 -->
                                    <!-- ngIf: activity.object.panel_interview.num_interviews > 1 -->
                                    <div class="activity-body">
                                        <!-- ngIf: activity.object.panel_interview.num_interviews > 1 -->
                                        <!-- ngIf: activity.object.panel_interview.num_interviews === 1 -->
                                        <p
                                            class="title ng-binding ng-scope"
                                            ng-if="activity.object.panel_interview.num_interviews === 1"
                                        > {{item.object.candidate.name}} ({{item.object.candidate.position.name}})</p>
                                        <!-- end ngIf: activity.object.panel_interview.num_interviews === 1 -->
                                        <p class="datetime">
                                            <i class="fa fa-calendar-alt"></i>
                                            <span class="capitalize ng-binding">
                                                {{date_meeting(item.object.panel_interview.start_time,item.object.panel_interview.end_time)}}
                                            </span>

                                        </p>
                                        <ul class="attendees">

                                            <!-- ngRepeat: attendee in ::activity.object.panel_interview.participants -->
                                            <li
                                                class="attendee ng-scope mr-1"
                                                ng-repeat="attendee in ::activity.object.panel_interview.participants"
                                                v-for="its in item.object.panel_interview.interviewers"
                                            >
                                                <avatar :size="20" :username="its.name"
                                                        :initials="its.name.charAt(0).toUpperCase()"
                                                        :src="its.name.photoURL"></avatar>
                                            </li>
                                            <!-- end ngRepeat: attendee in ::activity.object.panel_interview.participants -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </li>

            </ul>
            <!-- ngIf: conversation.length > 0 && conversation.length % 50 == 0 -->
        </div>
    </div>
</template>

<style lang="scss">
    @import "~styles/activity_stream";

    .inbox-conversation {
        .custom-signaturel {
             padding: 0 0 10px 0 !important;
            p {
                margin-bottom: 2px !important;
            }
        }

        .activity-container .activity-object {
            cursor: auto;
        }

        .default-css ul {
            display: block;
            list-style-type: disc;
            margin-top: .5em;
            margin-bottom: .5em;
            margin-left: 0;
            margin-right: 0;
            padding-left: 40px;
        }

        .vue-avatar--wrapper {
            vertical-align: top;
            z-index: 2;
            position: absolute;
        }

        p.datetime {
            margin-bottom: 0px;
        }

        .attendee {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            vertical-align: baseline;

            .vue-avatar--wrapper {
                vertical-align: top;
                z-index: 2;
                position: inherit;
            }
        }
    }
</style>


<script lang="ts">
    import Vue from "vue";
    import avatar from 'vue-avatar';
    import moment from "moment";
    import InboxAttach from "@/components/Inbox/InboxAttach.vue";
    import _ from "lodash";

    moment.locale('vi');
    moment.updateLocale('vi', {
        meridiem : function (hours, minute, isLowercase) {
            if (hours < 12) {
                return  'SA' ;
            } else {
                return  'CH' ;
            }
        }
    });

    export default Vue.extend({
        name: "InboxMessages",
        props: ["currentConversation"],
        components: {avatar,InboxAttach},
        data() {
            return {};
        },
        computed: {
            conversations() {
                let that = this as any;
                return _.orderBy(that.currentConversation, ['createdAt'], ['desc']);
            }
        },
        methods: {
            formatUpdatedAt(val): string {
                return moment(val).fromNow();
            },
            date_meeting(start: any, end: any): string {
                let result = "";
                if ((start) && (end))
                    result = moment(start).format('dddd, DD/MM, h:mm A') + ' - ' + moment(end).format('h:mm A');

                return result;
            },
            formatTooltipCreateAt(val):string {
                return  moment(val).format('DD/MM/YYYY @ h:mm:ss A');
            },

        }
    });
</script>
