<template>
    <b-modal
        :hide-footer="true"
        no-close-on-esc
        no-close-on-backdrop
        v-model="showModal"
        modal-class="confirm-delete-score">
        <div>
            <h4 v-if="CC == true" class="text-center">{{messages.SR_038_VALIDATE_CC}}</h4>
            <h4 v-else class="text-center">{{messages.SR_038_VALIDATE_BCC}}</h4>
            <div class="text-center">
                <button class="btn btn-none btn-blue" @click="handleCloseModal" type="button" style="width: 100px">{{messages.SR_038_OK}}</button>
            </div>
        </div>
    </b-modal>
</template>

<script>
    import Vue from 'vue';
    const _ = require('lodash');
    export default Vue.extend ({
        name: "ModalValidate",
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            CC: {
                type: Boolean,
                default: false
            },
        },

        methods: {
            handleCloseModal() {
                this.$emit('handleClose')
            }
        }
    })
</script>

<style scoped lang="scss">
    .confirm-delete-score {

        .modal-header {
            border-bottom: none;
            padding-bottom: 0px;
        }

        .modal-dialog {
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            background: #edeff0;
            text-align: center;
        }

        .modal-content {
            border: none;
        }

        .modal-body {
            padding-top: 0px;
        }

        .modal-header .close {
            display: none;
        }

    }
</style>
