<template>
    <div class="content-section candidate-experience ng-scope"
         ng-if="activeTabLeft == 'assessments' &amp;&amp; position.is_admin">
        <section class="section candidate-background-container">
<!--            <a class="btn btn-blue btn-xs section-primary-action ng-hide"-->
<!--               href="#" ng-click="openSendAssessment()"-->
<!--               ng-show="candidate.email_address &amp;&amp; (position.state === &quot;published&quot; || globalCommunication) &amp;&amp; (shared.activeCompany.company.has_hackerrank || shared.activeCompany.company.has_criteriacorp || shared.activeCompany.company.has_indeedassessments || shared.activeCompany.company.has_traitify)"><i-->
<!--                class="fa fa-shield-check">-->
<!--            </i>-->
<!--                <span> Send Assessment</span>-->
<!--            </a>-->
            <h1 class="section-header">{{messages.SR_033_HEARD_TITLE_ASSESSMENTS}}</h1>
            <!-- ngIf: (!other_assessments && !assessments) || (other_assessments.length == 0 && assessments.length == 0) -->
            <div class="empty-state ng-scope"
                 ng-if="(!other_assessments &amp;&amp; !assessments) || (other_assessments.length == 0 &amp;&amp; assessments.length == 0)">
                <i class="fa fa-shield-check"></i>
                <p class="ng-binding">{{messages.SR_033_HEARD_DES_ASSESSMENTS}}</p></div>
            <!-- end ngIf: (!other_assessments && !assessments) || (other_assessments.length == 0 && assessments.length == 0) -->
            <!-- ngIf: assessments && assessments.length -->
            <!-- ngIf: other_assessments && other_assessments.length > 0 --></section>
    </div>
</template>
<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex'
    import _ from 'lodash'
    import VeeValidate from 'vee-validate';
    Vue.use(VeeValidate);
    export default {
        name: "Assessment",
        data(){
            return {
                candidate:{},
                submit_form:false
            }
        },
        computed:{
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate"
            ])
        },
        mounted(){

        },
        methods:{

        }
    }
</script>
