<template>
    <div class="candidate-documents candidate-background-checks">
        <section class="section documents-container">
            <div v-if="!documentUploading" class="btn btn-blue attach-file ng-pristine" variant="blue" style="overflow: hidden; font-size: 12px">
                <a  @click="$refs.uploadFileDocument.click()">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <span> {{messages.SR_033_UPLOAD_ATTACH}}</span>
                </a>
            </div>
            <input type="file" tabindex="-1"
                       ref="uploadFileDocument"
                       @change="showFileSelector($event.target.files)"
                       style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
            <div v-if="documentUploading" class="attach-file text-secondary d-flex align-items-center">
                <b-spinner tag="div" variant="secondary" label="Uploading..."></b-spinner>
                <div class="m-2 ">{{messages.SR_033_UPLOADING}}</div>
            </div>

            <h1 class="section-header">{{messages.SR_033_TITLE_ATTACH}}</h1>
<!--            <div class="empty-state"-->
<!--                 v-if="other_documents.length === 0 && documents.length === 0 && interviewArchives.length === 0">-->
            <div class="empty-state" v-if="currentCandidate.attachfiles.length === 0">
                <i class="fa fa-paperclip"></i>
                <p>{{messages.SR_033_DES_ATTACH}}</p>
            </div>
            <div v-else class="documents">
                <a :href="document.url" class="document" target="_blank" :key="index" v-for="(document,index) in currentCandidate.attachfiles">
                    <div class="document-type">
                        <i class="fas fa-file-image"></i>
                    </div>
                    <div class="details">
                        <span class="remove ng-scope" ng-if="currentUser.id === document.owner_id">
                            <a href="javascript:void(0)" @click="deleteDocument(document,index)">
                                <span>{{messages.SR_033_BTN_DEL_ATTACH}} </span>
                                <i class="fa fa-times"></i>
                            </a>
                        </span>
                        <h3 class="ng-binding">
                            {{document.name}}
                            <span class="size">
                                {{countSize(document.size)}}
                            </span>
                        </h3>
                        <p class="creator ng-binding">
                            {{messages.SR_033_HEARD_TITLE_ADDED_BY}}: {{document.owner}}&nbsp;
                            <span class="timestamp lowercase" time-ago="time-ago"
                                  :from-time="document.created_at">
                                {{calculateTime(document.created_at)}}
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </section>
        <UnSavedChangeModal
            :showModal="show_confirm_delete"
            :sub-title-modal="subTitleModal"
            :title-modal="titleModalDocument"
            :title-ok-button="messages.SR_033_TITLE_BTN_OK_DEL"
            @handleSaveChange="confirmDelete()"
            @handleClose="show_confirm_delete = false">
        </UnSavedChangeModal>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {Component} from 'vue-property-decorator';
    import {fauth, fstorage, server_time} from '@/firebase';
    import {mapGetters, mapActions} from 'vuex'
     import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import { Watch, Prop } from 'vue-property-decorator';
    import _ from 'lodash'
    import moment from 'moment';
    import Activity from "@/models/Activity";
    import {messages} from "@/messages";

    @Component({
        components: {
            UnSavedChangeModal
        },
        computed: {
            ...mapGetters([
                'currentUser',
                "currentCompany",
                "currentCandidate",
                'positionCandidate'
            ]),
        },
    })
    export default class CandidateTabAttachments extends Vue {
        /*props*/
        // DATA


        subTitleModal = "";

        titleModalDocument = "Delete Document";
        show_confirm_delete = false;

        documentUploading: boolean = false;
        file: File | null = null;
        new_attach_file ={
                id: '',
                name: "",
                owner: "",
                created_at: "",
                size: "",
                url:"",
        };
        current_index:null;
        current_document:null;

        // COMPUTED
        get documents(): any[] {
            let that = this as any
            return that.currentCandidate.attachments
        }

        get interviewArchives(): any[] {
            return [];
        }

        get other_documents(): any[] {
            return [];
        }

        // method
        onFileChange(e): void {
            this.file = e.target.files.item(0);
        }

        onFileSelect(e): void {

        }
        deleteDocument(document,index):void{
            let that = this as any
            that.show_confirm_delete = true
            that.subTitleModal =that.messages.SR_033_SUB_TITLE_DEL_ATTACH
            that.titleModalDocument =that.messages.SR_033_TITLE_DEL_ATTACH
            that.current_index = index
            that.current_document = document
        }
        confirmDelete(){
            let that = this as any;
            that.currentCandidate.attachfiles.splice(that.current_index,1);
            that.currentCandidate.update().then(()=>{
                 that.show_confirm_delete = false;
            });
            let activity = new Activity();
                activity.company_id = that.currentCompany.id;
                activity.position_id = that.positionCandidate.id;
                activity.candidate_id = that.currentCandidate.id;
                activity.actor = that.currentUser.cloneNewObject();
                activity.action_text = that.messages.SR_037_REMOVED_A_DOCUMENT;
                activity.activity_type = "document";
                activity.action = "removed";
                activity.attachments = that.current_document;
                activity.insert();

        }
        showFileSelector(file) {
            let that = this as any;
            let company_id = that.currentCompany.id
            that.documentUploading = true
            that.new_attach_file.name = file[0].name;
            that.new_attach_file.size = file[0].size;
            let file_name_up = company_id + '_' + file[0].name;
            let upload = fstorage.ref('image/candidate/' + company_id + '/attachments/' + file_name_up).put(file[0])
            upload.on('state_changed', sp => {
                    if (sp.bytesTransferred = sp.totalBytes) {
                    }
                }, null,
                () => {
                    upload.snapshot.ref.getDownloadURL().then(downloadUrl => {
                        that.$refs.uploadFileDocument['value'] = null
                        that.new_attach_file.created_at = server_time.now.valueOf();
                        that.new_attach_file.owner = that.currentUser.name
                        that.new_attach_file.url = downloadUrl
                        that.currentCandidate.attachfiles.push(that.new_attach_file)
                        that.currentCandidate.update().then(()=>{
                            that.documentUploading = false
                        });
                        let activity = new Activity();
                        activity.company_id = that.currentCompany.id;
                        activity.position_id = that.positionCandidate.id;
                        activity.candidate_id = that.currentCandidate.id;
                        activity.actor = that.currentUser.cloneNewObject();
                        activity.action_text = that.messages.SR_037_ADDED_A_DOCUMENT;
                        activity.activity_type = "document";
                        activity.action = "added";
                        activity.attachments = that.new_attach_file;
                        activity.insert();
                    })
                })
        }
        calculateTime(timestamp: number): string {
            return moment(timestamp).locale("vi-vn").fromNow();
        }
        countSize(size: number):string{
            let i = Math.floor( Math.log(size) / Math.log(1024) );
            let num = ( size / Math.pow(1024, i) ).toFixed(2) as any;
            return num * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i];
        }
    }
</script>
<style scoped lang="scss">
    .candidate-documents {
        h1.section-header{
            font-size: 20px !important;
        }
        .documents{
            display: flex;
            flex:1;
            flex-direction: column;
            h3 {
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
            }
            a{
                width: 100%;
                &:hover{
                    text-decoration: none;
                }
            }
            .document{
                display: block;
                .document-type{
                    margin-top: 0px;
                }
            }


        }
    }
</style>
