<!-- Calendar using FullCalendar Component, docs at -->
<!-- Vue:       https://fullcalendar.io/docs/vue -->
<!-- General:   https://fullcalendar.io/docs#toc -->

<template>
    <div class="candidate-calendar content-section" v-loading="loading">
        <div class="section-primary-action">
            <b-button variant="blue btn-xs" @click="scheduleInterview">
                <i class="fas fa-calendar-alt"></i>
                <span>&nbsp;{{messages.SR_038_SCHEDULE_MEETING}}</span>
            </b-button>
        </div>
        <ScheduleInterviews
            @closeModal="showModalSchedule = false"
            :showModal="showModalSchedule"
            :type="'new'"
            :currentCandidate="currentCandidate"
            :currentPosition="positionCandidate">
        </ScheduleInterviews>
        <h1 class="section-header" style="font-size: 20px !important;">{{messages.SR_038_CALENDAR}}</h1>

        <FullCalendar id="fullcalendar"
                      default-view="dayGridMonth"
                      :locale="viPlugin"
                      :events="events"
                      :plugins="calendarPlugins"
                      :eventTimeFormat="{
                                  hour: 'numeric',
                                    minute: '2-digit',
                                    meridiem: 'short',
                                    hour12: true,
                                    }
                               "
                      :slotLabelFormat="{
                                  hour: 'numeric',
                                    minute: '2-digit',
                                    meridiem: 'short',
                                    hour12: true,
                                    }
                               "
                      :titleFormat="{
                                year: 'numeric', month: 'long', day: 'numeric'
                              }"
                      @eventClick="eventClick"
                      :slotDuration="'00:15:00'"
        >
        </FullCalendar>
        <interview-detail-modal v-model="visibleModal"
                                :interview="selected_interview"
                                @handledModalClose="handleModalClose">
        </interview-detail-modal>
    </div>
</template>

<style lang="scss">
    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';
    @import '~@fullcalendar/bootstrap/main.css';
    @import "~@fullcalendar/timegrid/main.css";
</style>

<script lang="ts">
    import Vue from "vue";
    import FullCalendar from '@fullcalendar/vue';
    import dayGridPlugin from '@fullcalendar/daygrid';
    import timeGridPlugin from '@fullcalendar/timegrid';
    import InteractionPlugin from '@fullcalendar/interaction';
    import InterviewDetailModal from '@/components/Calendar/InterviewDetailModal.vue';
    import BootstrapPlugins from '@fullcalendar/bootstrap';
    //import {Modal} from 'bootstrap-vue';




    import viPlugin from "@fullcalendar/core/locales/vi";
    import OptionDropdown from "@/components/OptionDropdown/OptionDropdown.vue";
    import EventOwnerTypes from '@/components/Calendar/EventOwnerOptions';
    import ScheduleInterviews from '@/components/modals/ScheduleInterviews.vue';
    import {Component, Prop} from "vue-property-decorator";
    import {mapActions, mapGetters} from 'vuex';
    import Schedule from "@/models/Schedule";
    import _ from "lodash";


    @Component({
        components: {
            FullCalendar,
            OptionDropdown,
            InterviewDetailModal,
            ScheduleInterviews
        },
        methods: {
            ...mapActions([
                'getCandidateSchedules',
            ]),
            scheduleInterview(): void {
                let that = this as any;
                //@ts-ignore
                if (this.currentCandidate.email_address.trim() == ''){
                    let data = {
                        titleModal: that.messages.SR_021_MISSING_EMAIL,
                        subTitleModal:that.messages.SR_021_SUB_MISSING_EMAIL,
                    };
                    this.$emit('handleOpenModalMissingEmail', data);
                    return;
                }
                that.showModalSchedule = true
            },
        },
        computed: {
            ...mapGetters([
                'currentUser',
                'candidateSchedules',
                'currentCandidate',
                'positionCandidate',
                'unsubscribeCandidateSchedules'
            ]),
            candidate_id(): string {
                return this.$route.params.candidate_id;
            },
            schedules(){
                let that = this as any;
                return that.candidateSchedules;
            }
        },
        destroyed() {
            let that = this as any;
            if (that.unsubscribeCandidateSchedules) {
                that.unsubscribeCandidateSchedules();
            }
        },
    })
    export default class CalendarPage extends Vue {
        @Prop({default: null}) position_id: string | null;
        loading= false;
        showModalSchedule = false;
        calendarPlugins = [
            dayGridPlugin,
            timeGridPlugin,
            BootstrapPlugins
        ];
        viPlugin = viPlugin;

        event_owner_filters = '';
        event_owner_options = EventOwnerTypes;

        newEvent = {
            startStr: "",
            endStr: "",
        };

        position_filters = [] as string[];
        visibleModal = false;
        selected_interview = {};


        get events(): any[] {
            let that = this as any;
            var events_data = [] as any;
            events_data = [...that.schedules];
            const userid = that.currentUser.id;

            if (that.currentUser.role == "1") {  //admin
                events_data = events_data.filter(e => {
                    if ((_.includes(e.interviewer_ids,userid)) || (e.acting_user.name ==  that.currentUser.name)) {// nguoi tao event hoac tham gia
                        return true;
                    } else {
                        return false;
                    }
                });
            } else {
                events_data = events_data.filter(e => {
                    if  (e.acting_user.name ==  that.currentUser.name) {//nguoi tao
                        return true;
                    } else {
                        return false;
                    }
                });

            }


            return events_data.map((v: any) => {
                let color = '#76d691';

                if (_.includes(v.interviewer_ids,userid))
                    color = '#5ac0e5';

                return {
                    title: v.location,
                    start: v.start_time,
                    end: v.end_time,
                    color: color,
                    textColor: 'white',
                    editable: true,
                    id: v.id,
                }
            });
        }

        eventClick(objEvent: any): void {
            // this.$router.push(`/event/${objEvent.event.id}`);
            let that = this as any;
            //console.log(objEvent.event.id);
            that.selected_interview = _.find(that.schedules, {
                'id': objEvent.event.id
            });
            that.visibleModal = true;
        }

        dateSelect(objEvent: any): void {
            this.newEvent = objEvent;
            (this.$refs.addEventModal as any).show();
        }

        handleModalClose(): void {
            this.visibleModal = false;
            this.selected_interview = {};
        }

        // HOOK

        mounted() {
            let that = this as any;
            that.loading = true;
            that.getCandidateSchedules(that.candidate_id).then(result => {
                    that.loading = false;
                }
            ).catch(err => {
                console.log(err);
            })
        }
    }
</script>
<style lang="scss">
    .candidate-calendar {
        .fc-row.fc-widget-header{
            border-right-width: 0 !important;
            margin-right: 0 !important;
        }
        .fc-scroller.fc-day-grid-container{
            overflow: unset !important;
            height: 100% !important;
        }
    }
</style>
