<template>
    <div id="detail-candidate" class="candidate-experience">
        <EditDetailCandidate :showModal="editing" v-on:dismissEdit="editing = false"></EditDetailCandidate>
        <section v-if="!editing" class="section contact-container"
                 :class="editing ? 'editing' : 'not-editing'">
            <h1 class="section-header">{{messages.SR_033_TITLE_CANDIDATE_DETAIL}}</h1>

            <div v-if="candidate || candidate.id" :class="editing ? 'editing' : 'not-editing'">
                <avatar class="avatar" :username="candidate.name" :src="candidate.profile_photo_url"></avatar>

                <h2 class="name">{{candidate.name}}</h2>
                <div><h2>{{messages.SR_033_TITLE_CANDIDATE_SOURCE_DETAIL}}</h2>
                    <div v-if="!candidate.source">
                        <p>{{messages.SR_033_DES_CANDIDATE_SOURCE_DETAIL}}</p>
                    </div>
                    <div v-else>
                        <ul class="contact-details">
                            <li>
                                {{sourceName}}
                            </li>
                        </ul>

                    </div>


                </div>

                <h2>{{messages.SR_033_CONTACT_POINTS}}</h2>
                <ul class="contact-details">
                    <li class="contact-detail ng-scope" v-if="candidate.address">
                        <h3>{{messages.SR_033_TITLE_ADDRESS_DETAIL}}</h3>
                        <a class="email_address ng-binding">{{candidate.address}}</a>
                    </li>
                    <!-- ngIf: candidate.address --><!-- ngIf: candidate.email_address -->
                    <li class="contact-detail ng-scope" v-if="candidate.email_address">
                        <h3>{{messages.SR_033_TITLE_EMAIL_DETAIL}}</h3>
                        <a class="email_address ng-binding">{{candidate.email_address}}</a>
                    </li>
                    <!-- end ngIf: candidate.email_address --><!-- ngIf: candidate.phone_number -->
                    <li class="contact-detail ng-scope" v-if="candidate.phone_number">
                        <h3>{{messages.SR_033_TITLE_PHONE_DETAIL}}</h3>
                        <a class="email_address ng-binding">{{candidate.phone_number}}</a>
                    </li>
                     <li class="contact-detail ng-scope" v-if="candidate.alt_phone_number">
                        <h3>{{messages.SR_033_TITLE_ALT_PHONE_DETAIL}}</h3>
                        <a class="email_address ng-binding">{{candidate.alt_phone_number}}</a>
                    </li>
                    <!-- end ngIf: candidate.phone_number --><!-- ngIf: candidate.alt_phone_number --></ul>

                <h2>{{messages.SR_033_TITLE_SOCIAL_DETAIL}}</h2>
                <p v-if="!candidate.social_profiles || candidate.social_profiles.length === 0">
                    {{messages.SR_033_DES_SOCIAL_DETAIL}}
                </p>
                <ul v-else class="contact-details social-profiles">
                    <!-- ngRepeat: socialProfile in candidate.social_profiles -->
                    <li class="contact-detail ng-scope" v-for="socialProfile in candidate.social_profiles">
                        <h3 class="ng-binding">{{socialProfile.typeName}}</h3>
                        <a :href="socialProfile.url"
                           target="_blank"
                           class="ng-binding">{{socialProfile.url}}</a>
                    </li>
                    <!-- end ngRepeat: socialProfile in candidate.social_profiles -->
                </ul>
                <!-- ngIf: position.is_admin -->
                <div >
                    <h2 class="other-info">{{messages.SR_033_TITLE_ORTHER_INF}}</h2>
                    <p v-if="!candidate.custom_attributes || candidate.custom_attributes.length === 0">
                        {{messages.SR_033_TITLE_INF_DETAIL}}
                    </p>
                    <ul v-else class="contact-details">
                        <!-- ngRepeat: detail in candidate.custom_attributes -->
                        <li class="contact-detail ng-scope" :key="index" v-for="(detail,index) in candidate.custom_attributes">
                            <h3 title="dsf" class="ng-binding">{{detail.name}}</h3>
                            <span class="ng-binding">{{detail.value}}</span></li>
                        <!-- end ngRepeat: detail in candidate.custom_attributes -->
                    </ul>
                </div>
                <ul class="update-actions main-action ng-scope" ng-if="position.is_admin">
                    <li>
                        <a class="update-action"
                           @click="editingDetail()">
                            <i class="fa fa-edit"></i>
                            <span> {{messages.SR_033_BTN_EDIT_CANDIDATE}}</span>
                        </a>
                    </li>
                </ul>

            </div>
        </section>
    </div>
</template>


<script lang="ts">
    import Vue from 'vue';
    import Avatar from 'vue-avatar';
    import Candidate from '@/models/Candidate'
    import EditDetailCandidate from "@/components/modals/Candidate/ComponentCandidate/EditDetailCandidate.vue";
    import Component from 'vue-class-component'
    import { Watch, Prop } from 'vue-property-decorator'
    import {mapGetters, mapMutations} from 'vuex';
    import _ from 'lodash'
    import {messages} from '@/messages'

    // The @Component decorator indicates the class is a Vue component
    @Component({
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        components: {
            Avatar,
            EditDetailCandidate
        },
        computed: {
            ...mapGetters([
                // 'modals/addCandidate',
                // 'currentCompany',
                "currentCandidate"
            ]),
            candidate(){
                let that = this as any;
                return  _.cloneDeep(that.currentCandidate)
            },
            sourceName(){
                let that = this as any;
                if(that.candidate.source.id == 'Portal'){
                    return messages.SR_028_PORTAL
                }else if( !that.candidate.source.id){
                    return messages.COMMON_SOURCED
                }else{
                    return that.candidate.source.name
                }
            }

        },
        methods: {
            // ...mapMutations(['modals/showAddCandidate']),
        }
    })
    export default class CandidateModalDetail extends Vue {
    // export default Vue.extend({
        /*props*/
        // @Prop({default: null})
        // candidate:{ type:Candidate, required: true, }
        // @Prop({default: false})
        // showModal:{ type:Boolean, default: false, }
        data() {
            return {
                // temp data
                // candidate: {
                //     id: 'asdasd',
                //     name: "Dinh Tung",
                //     email: "gmail@tung.com",
                //     phone: null,
                //     source: ["Google"],
                //     socials: {
                //         "facebook": "https://facebook.com/dinhquangtungbk",
                //     },
                // },
                // candidate:  null as Candidate,

                editing: false,
            }
        }
        // computed
        get candidate_id(): string {
                return this.$route.params.candidate_id;
            }

        get isMyPosition(): boolean {
                return true;
            }
        editingDetail(): void{
            let that = this as any
            that.editing = true
        }
        mounted(){
            // alert(asdfasd)
            // this.candidate = await Candidate.getCandidate(this.candidate_id)

        }
    }
</script>
<style lang="scss" scoped>
    #detail-candidate{
        &.candidate-experience{
            .contact-details{
                h3{
                    width: 100px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: top;
                    font-weight: 400;
                    line-height: 1.5;
                    font-size: 14px !important;
                }
            }
        }
    }
</style>
