<template>
    <div class="content-section-wrapper discussion-wrapper" :class="currentActivity?'editing':''">
        <div class="candidate-activity content-section">
            <h1 class="section-header">{{messages.SR_037_TEAM_DISCUSSION}}</h1>
            <div class="message-compose">
                <b-form-textarea
                    style="border: 2px solid #edeff0;"
                    rows="3"
                    max-rows="20"
                    :placeholder= "messages.SR_037_PLACEHOLDER_NEW"
                    id="textarea"
                    v-model="new_discusstion.content">
                </b-form-textarea>
                <div class="clearfix">
                    <ul class="file-attachments" v-if="new_discusstion.attachments.length > 0">
                        <li class="file-attachment custom-length-name" :key="index" v-for="(file, index) in new_discusstion.attachments">
                            <div class="attached">
                                <i class="fa fa-paperclip"></i>
                                <a class="mr-2 ml-2" target="_blank">
                                    <span class="attachment">{{file.name}}</span>
                                </a>
                                <i class="remove fa fa-times" @click="removeStreamAttachment(index)"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul>
                    <li class="file-attachment" v-if="uploading">
                        <div class="uploading">
                            <i class="fa fa-circle-notch fa-spin mr-2"></i>
                            <span>{{messages.SR_037_UPLOADING}}</span>
                        </div>
                    </li>
                </ul>
                <ul class="actions">
                    <li class="action">
                        <button class="btn btn-default btn-sm " style="overflow: hidden;" @click="onClickFile">
                            <i class="fa fa-paperclip"></i>
                            <input class="upload-files" ref="inputFiles" type="file" @change="handleFileUploads">
                        </button>
                    </li>
                    <li class="action">
                        <button class="post-note btn btn-blue btn-sm" @click="postNote()">
                            <span>{{messages.SR_037_POST}}</span>
                        </button>
                    </li>
                </ul>
            </div>

            <div v-if="loading">
                <vcl-code></vcl-code>
            </div>
            <div class="activity-stream-container with-end-dot" v-if="!loading && activities.length > 0">
                <div class="timeline"></div>
                <ul class="activity-stream" :key="activity.id" v-for="activity in sortActivity">

                    <!--add commented candidate-->
                    <li class="activity-container" v-if="activity.activity_type=='commented'">
                        <div class="activity note companyNotePosted">
                            <div class="activity-object high-priority">
                                <div class="activity-type">
                                    <i class="fa fa fa-comment" v-if="activity.action=='comment'" style="background-color: #fff"></i>
                                </div>
                                <avatar class="avatar color4" :size="30" :username="activity.actor.name" :initials="activity.actor.name.charAt(0).toUpperCase()" :src="activity.actor.photoURL"></avatar>
                                <div class="activity-info">
                                    <div class="activity-timestamp">
                                        <span class="edited timestamp" v-if="activity.updated_date != activity.created_date"
                                              data-container="body"
                                              v-b-tooltip.hover.bottom
                                              :title="'Updated on ' + activity.updated_date | tooltipTime">{{messages.SR_037_EDITED}}
                                        </span>
                                        <span class="timestamp"
                                              data-container="body"
                                              v-b-tooltip.hover.bottom
                                              :title="activity.createdAt | tooltipTime">
                                              {{activity.createdAt | timeCreate}}
                                        </span>
                                    </div>
                                    <ul class="activity-actions">
                                        <li class="action" v-if="activity.actor.id == currentUser.id">
                                            <a href="javascript:void(0)" @click="editDiscussionNote(activity)">
                                                <i class="fa fa-edit mr-1"></i>
                                                <span>{{messages.SR_037_EDIT}}</span>
                                            </a>
                                        </li>
                                        <li class="action">
                                            <a href="javascript:void(0)" @click="deleteDiscussionNote(activity)">
                                                <i class="fa fa-times mr-1"></i>
                                                <span>{{messages.SR_037_REMOVE}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="activity-header">
                                        <p class="author-name">{{activity.actor.name}}
                                            <span class="ml-2">{{activity.action_text}}:</span>
                                        </p>
                                    </div>
                                    <div class="activity-body default-css" style="white-space: pre-line;">
                                        <p>{{activity.content}}</p>
                                    </div>
                                    <div class="clearfix">
                                        <div class="activity-attachments" v-if="activity.attachments.length > 0">
                                            <ul class="attachments">
                                                <li class="attachment custom-length-name" :key="index" v-for="(attachment,index) in activity.attachments">
                                                    <i class="fa fa-paperclip mr-2"></i>
                                                    <a :href="attachment.url" target="_blank">
                                                        <strong class="attachment">{{attachment.name}} </strong>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--add meeting candidate-->
                    <li class="activity-container" v-if="activity.activity_type === 'meeting'">
                        <div class="activity candidate-interview-added candidatePanelInterviewAdded">
                            <div class="activity-object low-priority">
                                <div v-if="activity.action=='scheduled'" class="activity-type" style="background: #ffa955;color: #fff;">
                                    <i class="fa fa-calendar-alt"></i>
                                </div>
                                <div v-if="activity.action=='canceled'" class="activity-type" style="background-color: #e15258;color: #fff;">
                                    <i class="fa fa-calendar-alt"></i>
                                </div>
                                <div class="activity-info">
                                    <div class="activity-timestamp">
                                        <span class="timestamp"
                                              data-container="body"
                                              v-b-tooltip.hover.bottom
                                              :title="activity.createdAt | tooltipTime">
                                              {{activity.createdAt | timeCreate}}
                                        </span>
                                    </div>
                                    <div class="activity-header">
                                        <p class="author-name">
                                            {{activity.actor.name}}
                                            <span class="ml-1 mr-1">{{activity.action_text}}:</span>
                                        </p>
                                    </div>
                                    <div class="activity-body">
                                        <p class="title mb-1">{{activity.title}}</p>
                                        <p class="datetime mb-1">
                                            <i class="fa fa-calendar-alt"></i>
                                            <span class="capitalize">{{activity.target_object.interview_date | dateMeeting}} {{activity.target_object.start_time | timeMeeting}}</span>
                                            <span class="ml-2 mr-2" v-if="activity.action == 'scheduled'" >{{messages.SR_037_TO}}</span>
                                            <span class="capitalize" v-if="activity.action == 'scheduled'">{{activity.target_object.end_time | timeMeeting}}</span>
                                        </p>
                                        <ul class="attendees" v-if="activity.action == 'scheduled'">
                                            <li class="attendee" :key="user.id" v-for="user in activity.target_object.interviewers">
                                                <avatar class="avatar color4" :size="20" :username="user.name"  :src="user.photoURL">
                                                </avatar>
                                            </li>
                                        </ul>
                                        <p class="location " v-if="activity.target_object.location != '' && activity.action == 'canceled'"><i
                                            class="fa fa-map-marker-alt"></i>
                                            <span class="capitalize">{{activity.target_object.location}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--add log candidate-->
                    <li class="activity-container" v-if="activity.activity_type === 'log'">
                        <div class="activity candidate-added candidateAdded">
                            <div class="activity-object low-priority">
                                <div class="activity-type" v-if="activity.action=='updated'" style="background: #ffa955;color: #fff;">
                                    <i class="fa fa-arrows-h"></i>
                                </div>
                                <div class="activity-type" v-if="activity.action=='added' || activity.action=='applied'" style="background: #76d691;color: #fff;">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="activity-type" v-if="activity.action=='assigned'" style="background-color: #1ebbdc;color: #fff;">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="activity-info">
                                    <div class="activity-timestamp">
                                            <span class="timestamp"
                                                  data-container="body"
                                                  v-b-tooltip.hover.bottom
                                                  :title="activity.createdAt | tooltipTime">
                                                  {{activity.createdAt | timeCreate}}</span>
                                    </div>
                                    <div class="activity-header">
                                        <p class="author-name" v-if="activity.action=='added' || activity.action=='assigned' || activity.action=='applied'">
                                            <a href="javascript:void(0)" @click="navigateToCandidate(activity.candidate_id, activity.position_id)">{{activity.target_object.name}}</a>
                                            <span class="ml-1">{{activity.action_text}}</span>
                                            <a v-if="activity.action=='added' || activity.action=='applied'" href="javascript:void(0)" class="ml-1">{{activity.target_object.position.name}}</a>
                                            <span v-if="activity.actor.id" class="ml-1">{{messages.SR_037_BY}} {{activity.actor.name}}</span>
                                        </p>
                                        <p v-else class="author-name">{{activity.actor.name}}
                                            <span class="ml-1">{{activity.action_text}}</span>
                                            <a class="ml-1" href="javascript:void(0)" @click="navigateToCandidate(activity.candidate_id, activity.position_id)">{{activity.target_object.name}}</a>
                                            <span class="ml-1">{{activity.currentStage.name}}
                                                <i class="fa fa-arrow-right ml-1"></i>
                                            </span>
                                            <span class="capitialize ml-1">{{activity.target_object.stage.name}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--add document-->
                    <li class="activity-container" v-if="activity.activity_type === 'document'">
                        <div class="activity"
                             :class="activity.action === 'added'?'candidate-document-added candidateDocumentAdded':'candidate-document-removed candidateDocumentDeleted'">
                            <div class="activity-object low-priority">
                                <div class="activity-type" >
                                    <i class="fa fa-file-alt-o"></i>
                                </div>
                                <div class="activity-info">
                                    <div class="activity-timestamp">
                                         <span class="timestamp"
                                               data-container="body"
                                               v-b-tooltip.hover.bottom
                                               :title="activity.createdAt | tooltipTime">
                                             {{activity.createdAt | timeCreate}}</span>
                                    </div>
                                    <div class="activity-header">
                                        <p class="author-name">{{activity.actor.name}}
                                            <span>{{activity.action_text}}:</span>
                                        </p>
                                    </div>
                                    <div class="activity-body">
                                        <div @click="openDocument(activity.attachments)" :href="activity.attachments.url" :download="activity.attachments.name" target="_blank" class="document custom-length-name">
                                            <div class="document-type">
                                                <i class="fa fa-file-image"></i>
                                            </div>
                                            <div class="details">
                                                <h5 style="color: #444 !important;">{{activity.attachments.name}}
                                                    <span class="size" format-file-size="format-file-size">
                                                        {{countSize(activity.attachments.size)}}</span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ModalConfirmCandidate
                    :conFirmRemoveDiscussion="conFirmRemoveDiscussion"
                    :showModal="showModalConfirm"
                    @handleSaveChange="handleSaveChange()"
                    @handleClose="handleCloseModal()">
                </ModalConfirmCandidate>
            </div>
        </div>

        <div class="edit-discussion-note-modal" v-show="showModal == true">
            <div class="edit-discussion-note-dialog">
                <div class="activity">
                    <div class="message-compose" v-if="currentActivity">
                        <b-form-textarea
                            rows="3"
                            max-rows="20"
                            :placeholder= "messages.SR_037_PLACEHOLDER_EDIT"
                            id="textarea_edit"
                            v-model="currentActivity.content">
                        </b-form-textarea>
                        <div class="clearfix">
                            <div class="clearfix" v-if="currentActivity.attachments.length > 0">
                                <ul class="file-attachments">
                                    <li class="file-attachment custom-length-name" style="width: 100%;" :key="index" v-for="(file, index) in currentActivity.attachments">
                                        <div class="attached">
                                            <i class="fa fa-paperclip"></i>
                                            <a class="mr-1 ml-1" target="_blank">
                                                <span class="attachment">{{file.name}}</span>
                                            </a>
                                            <i class="remove fa fa-times" style="cursor:pointer" @click="deleteEditDiscussionNoteAttachment(index)"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ul v-if="uploading">
                                <li class="file-attachment">
                                    <div class="uploading">
                                        <i class="fa fa-circle-notch fa-spin mr-2"></i>
                                        <span>{{messages.SR_037_UPLOADING}}</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="status"></div>
                            <ul class="actions">
                                <li class="action">
                                    <button class="btn btn-default btn-sm " style="overflow: hidden;" @click="$refs.inputEditFiles.click()">
                                        <i class="fa fa-paperclip"></i>
                                        <input class="upload-files" ref="inputEditFiles" type="file" @change="uploadToEditDiscussionNote">
                                    </button>
                                </li>
                                <li class="action">
                                    <button class="post-note btn btn-sm" @click="cancelEditDiscussionNote(currentActivity)">
                                        <span>{{messages.SR_037_CANCEL_BTN}}</span>
                                    </button>
                                </li>
                                <li class="action">
                                    <button class="post-note btn btn-blue btn-sm" style="min-width: 80px" @click="updateDiscussionNote(currentActivity)">
                                        <span>{{messages.SR_037_UPDATE_BTN}}</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {VclCode} from "vue-content-loading";
    import {fstorage} from '@/firebase';
    import {mapGetters, mapMutations,mapActions} from "vuex";
    import moment from 'moment';
    import $ from "jquery"
    import Activity from "@/models/Activity"
    import _ from "lodash"
    import avatar from "vue-avatar"
    import ModalConfirmCandidate from "@/components/modals/Candidate/Tab/TabModalConfirm/ModalConfirmCandidate.vue"
    import {messages} from "@/messages";

    export default Vue.extend({
        data() {
            return {
                conFirmRemoveDiscussion: false,
                showModalConfirm: false,
                showModal: false,
                currentActivity: null,
                new_discusstion: {
                    content: "",
                    attachments: [],
                },
                uploading: false,
                loading: false,
                upload: {} as firebase.storage.UploadTask,
            }
        },
        components: {
            avatar,
            ModalConfirmCandidate,
            VclCode
        },
        computed:{
            // mix the getters into computed with object spread operator
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "activities",
                "positionCandidate",
                'unsubscribeCandidateActivity'
                // ...
            ]),
            candidate_id(): string {
                return this.$route.params.candidate_id;
            },
            sortActivity() {
                let that = this as any;
                return _.orderBy(that.activities,"createdAt").reverse()
            }
        },
        destroyed() {
            let that = this as any;
            if (that.unsubscribeCandidateActivity) {
                that.unsubscribeCandidateActivity();
            }
        },

        mounted() {
            let that = this as any;
            that.loading = true;
            that.getActivity(that.candidate_id).then(() => {
                that.loading = false;
            });
            moment.updateLocale('vi', {
                meridiem : function (hours, minute, isLowercase) {
                    if (hours < 12) {
                        return  'SA' ;
                    } else {
                        return  'CH' ;
                    }
                }
            });
        },

        filters: {
            tooltipTime: function(value){
                return moment(value).format('L [@] hh:mm:ss a');
            },
            timeCreate: function (value) {
                return moment(value).format("hh:mm:ss A");
            },
            dateMeeting: function (value) {
                return moment(value).format("dddd[,] L");
            },
            timeMeeting: function (value) {
                return moment(value).format("hh:mm A");
            }


        },


        methods: {
            ...mapActions([
                'getActivity',
                'createActivity',
                'updateActivity',
                'deleteActivity'
            ]),
            openDocument(file){
                window.open(file.url,'_blank');
            },
            countSize(size: number):string{
                let i = Math.floor( Math.log(size) / Math.log(1024) );
                let num = ( size / Math.pow(1024, i) ).toFixed(2) as any;
                return num * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i];
            },
            navigateToCandidate(candidate_id,position_id){
                let that = this as any;
                if (candidate_id && position_id) {
                    that.$router.push(`/p/${position_id}/pipeline`);
                }
            },
            updateDiscussionNote(currentActivity){
                let that = this as any;
                if(currentActivity.candidate_id == that.candidate_id && currentActivity.content.trim() != ""){
                    that.updateActivity(currentActivity).then(()=>{
                        that.showModal = false;
                    })
                }
            },
            cancelEditDiscussionNote(activity){
                let that = this as any;
                that.showModal = false;

            },
            editDiscussionNote(activity){
                let that = this as any;
                that.showModal = true;
                that.currentActivity = activity.cloneNewObject();
            },
            deleteDiscussionNote(activity){
                let that = this as any;
                that.showModalConfirm = true;
                that.conFirmRemoveDiscussion = true;
                that.currentActivity = activity.cloneNewObject();
            },
            onClickFile(){
                let that = this as any;
                that.$refs.inputFiles.click();
            },
            handleFileUploads(e){
                let that = this as any;
                let file = e.target.files[0];
                that.$refs.inputFiles['value'] = null;
                that.uploading = true;
                let file_name = Math.random().toString(36).substring(7) + file.name;
                that.upload = fstorage.ref('templates/documents/' + file_name).put(file);
                that.upload.on('state_changed', sp => {},
                    null,
                    () => {
                        that.upload.snapshot.ref.getDownloadURL().then(downloadURL => {
                            that.new_discusstion.attachments.push({
                                name: file.name,
                                url: downloadURL
                            });
                            that.uploading = false;

                        })
                    })
            },
            uploadToEditDiscussionNote(e){
                let that = this as any;
                let file = e.target.files[0];
                that.$refs.inputEditFiles['value'] = null;
                that.uploading = true;
                let file_name = Math.random().toString(36).substring(7) + file.name;
                that.upload = fstorage.ref('templates/documents/' + file_name).put(file);
                that.upload.on('state_changed', sp => {},
                    null,
                    () => {
                        that.upload.snapshot.ref.getDownloadURL().then(downloadURL => {
                            that.currentActivity.attachments.push({
                                name: file.name,
                                url: downloadURL
                            });
                            that.uploading = false;
                        })
                    })
            },
            deleteEditDiscussionNoteAttachment(index){
                let that = this as any;
                that.currentActivity.attachments.splice(index, 1);
            },
            removeStreamAttachment(index){
                let that = this as any;
                    that.new_discusstion.attachments.splice(index, 1);
            },
            postNote(){
                let that = this as any;
                if(that.new_discusstion.content.trim() != ""){
                    that.new_discusstion.position_id = that.positionCandidate.id;
                    that.new_discusstion.candidate_id = that.candidate_id;
                    that.new_discusstion.activity_type = 'commented';
                    that.new_discusstion.action_text = that.messages.SR_037_SAID;
                    that.new_discusstion.action = 'comment';
                    that.createActivity(that.new_discusstion).then(()=>{
                        that.new_discusstion = {
                            content: "",
                            attachments: []
                        };
                        that.uploading= false;
                    })
                }

            },
            handleSaveChange(){
                let that = this as any;
                that.deleteActivity(that.currentActivity).then(()=>{
                    that.showModalConfirm = false
                })
            },
            handleCloseModal(){
                let that = this as any;
                that.showModalConfirm = false
            }
        }
    });
</script>
<style lang="scss">
    .discussion-wrapper {
        .custom-length-name {
            width: 100%;
            word-break: break-all;
            margin-bottom: 5px !important;
        }
        .upload-files {
            display: none;
            width: 1px;
            height: 1px;
            opacity: 0;
            position: absolute;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
        }
        .form-control {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 0px;
            border-radius: .25rem;
            -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        }
        .message-compose .file-attachments {
            display: inline-block;
            margin-left: 10px;
            margin-top: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
        }
        .message-compose .file-attachments .file-attachment {
            margin-bottom: 0;
        }
        .loader-container {
            display: none;
            transition: opacity 300ms linear;
            overflow: hidden;
            opacity: 0;
            background: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin-top: 100px;
        }
    }
</style>
