<template>
    <div class="content-section candidate-conversation">
        <section class="section">
            <div class="btn-group compose">
                <button class="compose-email btn btn-blue btn-xs" @click="sendEmailCandidate()">
                    <span>{{messages.SR_038_COMPOSE_EMAIL}}</span>
                </button>
            </div>
            <h1 class="section-header">{{messages.SR_038_CANDIDATE_CONVERSATION}}</h1>
        </section>

        <!--SenMailCandidate/SMS-->
        <div v-if="showComposeEmail==true">
            <div class="meta-actions-container">
                <div class="meta-section recipient">
                    <div class="meta-section-header">
                        <strong>{{messages.SR_038_TO}}</strong>
                    </div>
                    <div class="meta-section-main" style="margin-top:0px;"><!-- ngIf: candidate -->
                        <span class="ng-binding ng-scope">{{currentCandidate.email_address}}</span>
                    </div>
                    <div class="bcc-toggle-container">
                        <a v-if="!emailObject.hasOwnProperty('cc')" class="blue" href="javascript:void(0)" @click="insertCC"><span class="ml-1">+{{messages.SR_038_CC}}</span></a>
                        <a v-if="!emailObject.hasOwnProperty('bcc')" class="blue" href="javascript:void(0)" @click="insertBCC"><span class="ml-1">+{{messages.SR_038_BCC}}</span></a>
                    </div>
                </div>
                <div class="meta-section" v-if="emailObject.hasOwnProperty('cc')">
                    <div style="display: flex; justify-items:center; justify-content: space-between;">
                        <div>
                            <div class="meta-section-header"><strong>CC</strong></div>
                            <div class="meta-section-main" style="margin-top:0px;">
                                <input
                                    class="subject"
                                    type="text"
                                    v-model="emailObject.cc"
                                    placeholder="e.g. jane@domain.com, mark@domain.com" maxlength="200">
                            </div>
                            <div class="meta-section-hide" style="display: inline-block;">
                                <a href="javascript:void(0)" @click="toggleAddress('cc')">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meta-section" v-if="emailObject.hasOwnProperty('bcc')">
                    <div style="display: flex; justify-items:center; justify-content: space-between;">
                        <div>
                            <div class="meta-section-header"><strong>BCC</strong></div>
                            <div class="meta-section-main">
                                <input
                                    class="subject ng-valid ng-valid-maxlength ng-dirty ng-valid-parse ng-touched"
                                    type="text"
                                    v-model="emailObject.bcc"
                                    placeholder="e.g. stacy@domain.com, david@domain.com" maxlength="200">
                            </div>
                            <div class="meta-section-hide" style="display: inline-block;">
                                <a href="javascript:void(0)" @click="toggleAddress('bcc')">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meta-section">
                    <div style="display: flex; justify-items:center; justify-content: space-between;">
                        <div>
                            <div class="meta-section-header"><strong>{{messages.SR_038_SUBJECT}}</strong></div>
                            <div class="meta-section-main">
                                <input
                                    class="subject"
                                    type="text"
                                    v-model="emailObject.subject"
                                    :placeholder="messages.SR_038_PLACEHOLDER" maxlength="200">
                            </div>
                        </div>

                        <div class="templates-container">
                            <div class="template-dropdown dropdown">
                                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus mr-1"></i> {{messages.SR_038_INSERT}}
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" style="width: 450px">
                                    <Tabs
                                        type="border-card" tab-position="left" class="custom-tab-email">
                                        <TabPane :label="messages.COMMON_TEMPLATES">
                                            <ElInPut @keydown="filterByInput" v-model="textInput"
                                                     :placeholder="messages.SR_038_PLACEHOLDER_FILTER"></ElInPut>
                                            <ul>
                                                <li
                                                    @click="setEmail(email)"
                                                    v-for="email, key in emailSorted"
                                                    :key="key"
                                                    class="ng-binding">
                                                    <span>{{email.name}}</span>
                                                    <p style="height:18px" class="ng-binding">
                                                        {{markedString(email.content)}}</p>
                                                </li>
                                            </ul>
                                            <div class="edit-templates" @click="editTemplates()">
                                                <div>
                                                    <i class="fa fa-edit fa-fw mr-1"></i> {{messages.SR_038_EDIT_TEMPLATES}}
                                                </div>
                                            </div>
                                        </TabPane>
                                    </Tabs>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <VueEditor
                        :placeholder="`${messages.SR_038_PLACEHOLDER_COMPOSE_YOUR} ${currentCandidate.name} ${messages.SR_038_HERE}`"
                        v-model="emailObject.body"
                        ref="editor"
                        :editorToolbar="toolbarOptions"
                        :editorOptions="editorOptions"></VueEditor>
                </div>
            </div>
            <div>
                <ul class="file-attachments" v-if="emailObject.attachments.length > 0">
                    <li :key="index" v-for="(attachment, index) in emailObject.attachments" class="custom-length-name">
                        <div class="attached ng-scope">
                            <i class="fa fa-paperclip mr-2"></i>
                            <span class="attachment"> {{attachment.file_name}} </span>
                            <a class="remove" href="javascript:void(0)" @click="removeFileInArray(index)">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </li>
                </ul>
                <ElButton type="text" size="mini" :loading="true" v-if="isUpdating">Updating</ElButton>
            </div>
            <div  class="clearfix" style="float: right">
                <button @click="selectFile" class="btn btn-default btn-sm ng-valid ng-touched ng-dirty ng-valid-parse" style="overflow: hidden;">
                    <i class="fa fa-paperclip"></i>
                    <input ref="uploadFile" @change="pushFileToArray" type="file" tabindex="-1" hidden>
                </button>
                <button class="send-message btn btn-blue btn-sm" @click="sendMessage" ng-disabled="sendingMessage">
                    <i class="fa fa-envelope mr-1"></i>
                    <span>{{messages.SR_038_SEND_EMAIL}}</span>
                </button>
<!--                <button class="schedule-button btn btn-blue btn-sm dropdown-toggle" type="button"-->
<!--                        uib-dropdown-toggle="uib-dropdown-toggle" aria-haspopup="true" aria-expanded="false">-->
<!--                <span>-->
<!--                    <DatePicker-->
<!--                        popper-class="custom-datetime-picker"-->
<!--                        :time-arrow-control="false"-->
<!--                        v-model="value2"-->
<!--                        type="datetime"-->
<!--                        :align="'right'"-->
<!--                        :unlink-panels="false"-->
<!--                        :clearable="false"-->
<!--                        :editable="false"-->
<!--                        placeholder="Select date and time"-->
<!--                        :picker-options="pickerOptions">-->
<!--                     </DatePicker>-->
<!--                </span>-->
<!--                </button>-->
            </div>
        </div>

        <!--No Email/SMS-->
        <div class="empty-state no-messages" v-if="currentConversations.length == 0 && !loading">
            <i class="fa fa-envelope"></i>
            <p>{{messages.SR_038_NO_MESSAGES}} {{currentCandidate.name}} {{messages.SR_038_YET}}</p>
        </div>

        <div v-if="loading">
            <vcl-code></vcl-code>
        </div>

        <div class="activity-stream-container with-end-dot" v-if="currentConversations.length > 0 && !loading">
            <div class="timeline"></div>
<!--            <ul class="activity-stream" :key="conversation.id" v-for="conversation in sortConversations">-->
            <ul class="activity-stream" :key="conversation.id" v-for="conversation in currentLocalConversations">
                <li class="activity-container" v-if="conversation.type == 'candidatePanelInterviewAdded'">
                    <div class="activity candidate-interview-added candidatePanelInterviewAdded">
                        <div class="activity-object low-priority">
                            <div class="activity-type">
                                <i class="fa fa-calendar-alt"></i>
                            </div>
                            <div class="activity-info">
                                <div class="activity-timestamp">

<!--                                    <span class="mail_state" :set="mail_state=getMailState(conversation)">-->
<!--                                        <span v-if="mail_state === 'failed'">-->
<!--                                            <span class="resend_mail">-->
<!--                                                <button class="btn btn-default" @click="resend_mail(conversation)"><i class="fas fa-redo"></i>Gửi lại</button>-->
<!--                                            </span>-->
<!--                                            <span class="mail_state_failed">-->
<!--                                                 <i class="fas fa-exclamation-triangle"></i>Gửi thất bại-->
<!--                                            </span>-->
<!--                                        </span>-->
<!--                                        <span v-else>-->
<!--                                            <span v-if="mail_state === 'pending'">-->
<!--                                                <i class="fas fa-paper-plane"></i>Đang gửi-->
<!--                                            </span>-->
<!--                                            <span v-else class="mail_state_success">-->
<!--                                                <i class="fas fa-check"></i>Gửi thành công-->
<!--                                                <span v-if="getMailOpenedCount(conversation) == 0" class="mail_not_view">-->
<!--                                                    <i class="fas fa-eye-slash"></i>Chưa xem-->
<!--                                                </span>-->
<!--                                                <span v-else class="mail_viewed">-->
<!--                                                    <i class="far fa-eye"></i>Đã xem {{ getMailOpenedCount(conversation) }} lần-->
<!--                                                </span>-->
<!--                                            </span>-->

<!--                                        </span>-->

<!--                                    </span>-->

                                        <span class="timestamp"
                                              data-container="body"
                                              v-b-tooltip.hover.bottom
                                              :title="conversation.createdAt | tooltipTime">
                                              {{conversation.createdAt | timeCreate}}
                                        </span>
                                </div>
                                <div class="activity-header">
                                    <p class="author-name">{{conversation.object.acting_user.name}}
                                        <span>{{messages.SR_038_LOG_SCHEDULED_MEETING}}:</span>
                                    </p>
                                </div>
                                <div class="activity-body">
                                    <p class="title  mb-1">{{conversation.object.panel_interview.title}}</p>
                                    <p class="datetime  mb-1">
                                        <i class="fa fa-calendar-alt"></i>
                                        <span class="capitalize mr-2" >{{conversation.object.panel_interview.interview_date | dateMeeting}} {{conversation.object.panel_interview.start_time | timeMeeting}}</span>
                                        <span class="mr-2">to</span>
                                        <span class="capitalize">{{conversation.object.panel_interview.end_time | timeMeeting}}</span></p>
                                    <ul class="attendees">
                                        <ul class="attendees">
                                            <li class="attendee" :key="user.id" v-for="user in conversation.object.panel_interview.interviewers">
                                                <avatar class="avatar color4" :size="20" :username="user.name" :initials="user.name.charAt(0).toUpperCase()" :src="user.photoURL">
                                                </avatar>
                                            </li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="activity-container" v-if="conversation.type == 'messageToCandidatePosted'" :data-id="conversation.id">
                    <div class="activity company-message messageToCandidatePosted">
                        <div class="activity-object high-priority">
                            <div class="activity-type">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <avatar :size="26" class="avatar color4" :src="conversation.object.acting_user.photo_url" :username="conversation.object.acting_user.name">
                            </avatar>
                            <div class="activity-info">
                                <div class="activity-timestamp">

                                    <span class="mail_state" :set="mail_state=getMailState(conversation)">
                                        <span v-if="mail_state === 'failed'">
                                            <span class="resend_mail">
                                                <button class="btn btn-default" @click="resend_mail(conversation)"><i class="fas fa-redo"></i>Gửi lại</button>
                                            </span>
                                            <span class="mail_state_failed">
                                                 <i class="fas fa-exclamation-triangle"></i>Gửi thất bại
                                            </span>
                                        </span>
                                        <span v-else>
                                            <span v-if="mail_state === 'pending'">
                                                <i class="fas fa-paper-plane"></i>Đang gửi
                                            </span>
                                            <span v-else class="mail_state_success">
                                                <i class="fas fa-check"></i>Gửi thành công
                                                <span v-if="getMailOpenedCount(conversation) == 0" class="mail_not_view">
                                                    <i class="fas fa-eye-slash"></i>Chưa xem
                                                </span>
                                                <span v-else class="mail_viewed">
                                                    <i class="far fa-eye"></i>Đã xem {{ getMailOpenedCount(conversation) }} lần
                                                </span>
                                            </span>

                                        </span>

                                    </span>
                                    <i class="fa fa-envelope ng-scope" v-b-tooltip.hover.bottom :title="messages.SR_038_VIA_EMAIL"></i>
                                    <span class="timestamp"
                                          data-container="body"
                                          v-b-tooltip.hover.bottom
                                          :title="conversation.createdAt | tooltipTime">
                                          {{conversation.createdAt | timeCreate}}
                                    </span>
                                </div>
                                <div class="activity-header">
                                    <p class="author-name">{{conversation.object.acting_user.name}}</p>
                                </div>
                                <div class="other-recipients" v-if="conversation.object.cc && conversation.object.cc != ''">
                                    <span class="label mr-1">CC:</span>
                                    <span class="email">{{conversation.object.cc}}</span>
                                </div>
                                <div class="other-recipients" v-if="conversation.object.bcc && conversation.object.bcc != ''">
                                    <span class="label mr-1">BCC:</span>
                                    <span class="email">{{conversation.object.bcc}}</span>
                                </div>
                                <div class="activity-body default-css">
                                    <div v-html="conversation.object.body" style="white-space: pre-line">
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="activity-attachments" v-if="conversation.object.attachments.length > 0">
                                        <ul class="attachments">
                                            <li class="attachment custom-length-name" :key="index" v-for="(attachment,index) in conversation.object.attachments">
                                                <a :href="attachment.file_url" target="_blank">
                                                    <strong class="attachment">{{attachment.file_name}} </strong>
                                                </a>
                                                <i v-if="attachment.file_name " class="fa fa-paperclip ml-2"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="activity-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="activity-container" v-if="conversation.type == 'messageFromCandidatePosted'" :data-id="conversation.id">
                    <div class="activity company-message messageToCandidatePosted">
                        <div class="activity-object high-priority">
                            <div class="activity-type">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <avatar :size="26" class="avatar color4" :src="conversation.object.acting_user.photo_url" :username="conversation.object.acting_user.name">
                            </avatar>
                            <div class="activity-info">
                                <div class="activity-timestamp">


                                    <i class="fa fa-envelope ng-scope" v-b-tooltip.hover.bottom :title="messages.SR_038_VIA_EMAIL"></i>
                                    <span class="timestamp"
                                          data-container="body"
                                          v-b-tooltip.hover.bottom
                                          :title="conversation.createdAt | tooltipTime">
                                          {{conversation.createdAt | timeCreate}}
                                    </span>
                                </div>
                                <div class="activity-header">
                                    <p class="author-name">{{conversation.object.acting_user.name}}</p>
                                </div>
                                <div class="other-recipients" v-if="conversation.object.cc && conversation.object.cc != ''">
                                    <span class="label mr-1">CC:</span>
                                    <span class="email">{{conversation.object.cc}}</span>
                                </div>
                                <div class="other-recipients" v-if="conversation.object.bcc && conversation.object.bcc != ''">
                                    <span class="label mr-1">BCC:</span>
                                    <span class="email">{{conversation.object.bcc}}</span>
                                </div>
                                <div class="activity-body default-css">
                                    <div v-html="conversation.object.body" style="white-space: pre-line">
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="activity-attachments" v-if="conversation.object.attachments.length > 0">
                                        <ul class="attachments">
                                            <li class="attachment custom-length-name" :key="index" v-for="(attachment,index) in conversation.object.attachments">
                                                <a :href="attachment.file_url" target="_blank">
                                                    <strong class="attachment">{{attachment.file_name}} </strong>
                                                </a>
                                                <i v-if="attachment.file_name " class="fa fa-paperclip ml-2"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="activity-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>



            </ul>
        </div>

        <ModalConfirmEmail
            :CC="CC"
            :showModal="showModalConfirmEmail"
            @handleClose="handleCloseModal">
        </ModalConfirmEmail>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import {fstorage, requestFunctionUrl, server_time} from '@/firebase';
    import {mapGetters, mapMutations,mapActions} from "vuex";
    import moment from 'moment';
    import $ from "jquery";
    import {VueEditor} from 'vue2-editor'
    import 'quill/dist/quill.bubble.css'
    import _ from 'lodash';
    import Inbox from "@/models/Inbox";
    import Conversation from "@/models/Conversation";
    import {
        Popover, Button as ElButton, Tabs, TabPane, Input as ElInPut, Dropdown,
        DropdownMenu,
        DropdownItem,
        DatePicker
    } from 'element-ui';
    import position from "@/components/LandingPage/HomePageComponent/ComponentHomeBold/position.vue";
    import Candidate from "@/models/Candidate";
    import avatar from "vue-avatar";
    import {VclCode} from "vue-content-loading";
    import ModalConfirmEmail from '@/components/modals/Candidate/Tab/TabModalConfirm/ModalConfirmEmail.vue'
    import { FILE_SIZE_LIMITED } from '@/email';
    import axios from 'axios'
    export default Vue.extend({
        data() {
            return {
                showComposeEmail: false,
                isUpdating: false,
                value2: '',
                pickerOptions: {
                    shortcuts: [{
                        text: 'Send in 1 hour',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 1);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'Send in 4 hours',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 4);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'Send in 1 day',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'Send in 2 days',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 2);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'Send in 1 week',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'Send in 2 weeks',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 14);
                            picker.$emit('pick', date);
                        }
                    },
                        {
                            text: 'Send in 1 month',
                            onClick(picker) {
                                const date = server_time.now;
                                date.setTime(date.getTime() + 3600 * 1000 * 24 * 30);
                                picker.$emit('pick', date);
                            }
                        },
                        {
                            text: 'Send in 6 months',
                            onClick(picker) {
                                const date = server_time.now;
                                date.setTime(date.getTime() + 3600 * 1000 * 24 * 30 * 6);
                                picker.$emit('pick', date);
                            }
                        },
                    ],

                },
                emailObject: {
                    subject: '',
                    body: '',
                    attachments: [],
                },
                email_content: '',
                toogleEmail: false,
                textInput: '',
                toolbarOptions: [
                    ['bold', 'italic', 'link', {'list': "ordered"}, {'list': 'bullet'}],
                ],
                emailCandidates: [],
                loading: false,
                showModalConfirmEmail: false,
                CC: false,
                currentLocalConversations:[],
            }
        },
         filters: {
            tooltipTime: function(value){
                return moment(value).format('L [@] hh:mm:ss a');
            },
            timeCreate: function (value) {
                return moment(value).format("hh:mm:ss A");
            },
            dateMeeting: function (value) {
                return moment(value).format("dddd[,] L");
            },
            timeMeeting: function (value) {
                return moment(value).format("hh:mm A");
            },


        },
        computed:{
            // mix the getters into computed with object spread operator
            ...mapGetters([
                "positionCandidate",
                "currentUser",
                "currentCompany",
                "currentCandidate",
                'messaging_template',
                'email_templates',
                'currentConversations',
                'unsubscribeCandidateConversation',
                'templateEmailSignature'
                // ...
            ]),
            candidate_id(): string {
                return this.$route.params.candidate_id;
            },
            editorOptions() {
                return {
                    theme: 'bubble',
                    bounds: "#quill-container",
                }
            },
            emailSorted() {
                let that = this as any;
                if (that.textInput == '') {
                    return that.email_templates;
                } else {
                    return that.filterByInput();
                }
            },
            sortConversations() {
                let that = this as any;
                return _.orderBy(that.currentConversations,"createdAt").reverse()
            }
        },
        components: {
            Tabs,
            TabPane,
            ElInPut,
            VueEditor,
            //DatePicker,
            ElButton,
            avatar,
            VclCode,
            ModalConfirmEmail
        },
        destroyed() {
            let that = this as any;
            if (that.unsubscribeCandidateConversation) {
                that.unsubscribeCandidateConversation();
            }
        },

        mounted() {
            let that = this as any;
            that.loading = true;
            that.getConversations(that.candidate_id).then(()=>{
                that.loading = false;
            });
            if(!that.messaging_template){
                that.getMessagingTemplate(that.currentCompany.id).then(() => {
                    that.getEmailTemplates(that.messaging_template.id).then(() => {

                    })
                })
            };

            that.currentLocalConversations = _.cloneDeep(_.orderBy(that.currentConversations,"createdAt").reverse());

        },
        watch:{
            currentConversations(val){
                let that = this as any;
                that.currentLocalConversations =_.cloneDeep(_.orderBy(that.currentConversations,"createdAt").reverse());
            },

        },

        methods: {
            ...mapActions([
                'getMessagingTemplate',
                'getEmailTemplates',
                'getConversations'
            ]),
            setLocalConversation(conversation){
                let found_index = _.findIndex(this.currentLocalConversations, (c)=>{
                    return c.id == conversation.id
                });
                if(found_index!=-1){
                    this.$set(this.currentLocalConversations,found_index, conversation);
                }
            },
            async resend_mail(conversation){
                let that = this as any;
                // alert('TODO: RESEND MAIL');
                conversation.object.mail_state='pending';
                // this.$set(conversation.object, 'mail_state', 'pending');
                that.setLocalConversation(conversation);

                await axios.post(requestFunctionUrl('resendMail'), {conversation_id:conversation.id})
                    .then(function (response) {
                        console.log(response);
                        //@ts-ignore
                        if(response.data.status=='error'){
                            // that.$set(conversation.object, 'mail_state', 'failed');
                            conversation.object.mail_state='failed';
                            that.setLocalConversation(conversation);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        // that.$nextTick(()=>{
                            // alert('error');
                            conversation.object.mail_state='failed';
                        // that.$set(conversation.object, 'mail_state', 'failed');
                        that.setLocalConversation(conversation);

                        // });

                    });

            },
            getMailState(conversation){
                return conversation.object.mail_state || 'pending'
            },
            getMailOpenedCount(conversation){
                return conversation.mail_opened_count || 0
            },
            firstFieldName(full_name){
                return full_name.split(" ").pop();
            },
            handleCloseModal(){
                let that = this as any;
                that.showModalConfirmEmail = false;
                that.CC = false;
            },
            validateEmail(email) {
                let that = this as any;
                let re = /^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$/g;
                return re.test(email);
            },
            editTemplates(){
                let that = this as any;
                that.$router.push(`/company/messages-template`);
            },
            sendEmailCandidate(){
                let that = this as any;
                if (that.currentCandidate.email_address.trim() == ''){
                    let data = {
                        titleModal: that.messages.SR_021_MISSING_EMAIL,
                        subTitleModal: that.messages.SR_021_SUB_MISSING_EMAIL2
                    };
                    this.$emit('handleOpenModalMissingEmail', data);
                    return;
                }
                that.showComposeEmail = true;
            },
            async sendMessage() {
                let that = this as any;
                let abc = that.templateEmailSignature;
                let emailCompile = _.template(abc);

                if ((that.emailObject.body.trim() == '')||( $(that.emailObject.body).text().trim() == '')){
                    return;
                }else if(that.emailObject.cc && that.emailObject.cc.trim() != "" && that.validateEmail(that.emailObject.cc) == false){
                    that.showModalConfirmEmail = true;
                    that.CC = true;
                    return;
                }else if(that.emailObject.bcc && that.emailObject.bcc.trim() != "" && that.validateEmail(that.emailObject.bcc) == false){
                    that.showModalConfirmEmail = true;
                    return;
                }
                if(that.emailObject.body.trim() != ''){
                    let emailObjectClone = _.cloneDeep(that.emailObject);
                    emailObjectClone.body = emailCompile({
                        dataMeeting: that.emailObject.body,
                        signatureHtml: that.currentUser.signatureFlag == true?that.currentUser.signatureHtml:'',
                    });
                    new Candidate().sendEmail(
                        that.currentCandidate,
                        emailObjectClone,
                    ).then(()=>{
                        that.resetDataEmail()
                    })
                }
            },
            resetDataEmail() {
                let that = this as any;
                that.emailObject = {
                    subject: '',
                    body: '',
                    attachments: [],
                };
                that.CC = false;
            },
            toggleAddress(type){
                delete this.emailObject[type];
                this.$forceUpdate();

            },
            insertCC() {
                this.emailObject['cc'] = '';
                this.$forceUpdate();
            },
            insertBCC() {
                this.emailObject['bcc'] = '';
                this.$forceUpdate();
            },
            urlLandingPage(){
                const that = <any>this;
                return that.$urlLandingPage('/', that.currentCompany.domain);
            },
            getPositionLink() {
                let that = this as any;
                //return `${window.location.origin}/w/${that.currentCompany.slug}/${that.positionCandidate.id}`
                return that.urlLandingPage()+'/position/'+that.positionCandidate.id;
            },
            removeFileInArray(index) {
                if (this.emailObject.attachments[index].hasOwnProperty('is_new_file')) {
                    this.removeFileInStore(this.emailObject.attachments[index]);
                }
                this.emailObject.attachments.splice(index, 1);
            },
            removeFileInStore(file) {
                let storageRef = fstorage.ref();
                let attachRef = storageRef.child(file.file_shorturl);
                attachRef.delete().then(() => {
                    console.log('Deleted ', file.file_name);
                })
            },
            pushFileToArray() {
                let that = this as any;
                let file = that.$refs.uploadFile.files[0];

                let size = 0;
                that.emailObject.attachments.forEach((file) => {
                    size += file.file_size || 0;
                })
                if (size + file.size > FILE_SIZE_LIMITED) {
                    alert("Kích thước các tập tin không vượt quá 5MB!");
                    that.$refs.uploadFile['value'] = null;
                    return;
                }
                that.isUpdating = true;
                this.uploadFileToStore(file).then((file: any) => {
                    let fileObj = {
                        file_name: file.name,
                        file_url: file.file_url,
                        file_size: file.size,
                        file_shorturl: file.file_shorturl,
                        is_new_file: true,
                    };
                    that.emailObject.attachments.push(fileObj);
                    that.$refs.uploadFile.value= null;
                    that.isUpdating = false;
                });

            },
            replaceInfoByCandidate(string) {
                let that = this as any;
                let arrayField = [
                    {
                        title: 'candidate_first_name',
                        value: 'name'
                    },
                    {
                        title: 'candidate_name',
                        value: 'name'
                    },
                    {
                        title: 'candidate_email_address',
                        value: 'email'
                    },
                    {
                        title: 'position_link',
                        value: 'position_link'
                    },
                    {
                        title: 'position_title',
                        value: 'position_title'
                    },
                    {
                        title: 'company_name',
                        value: 'company_name'
                    },
                    {
                        title: 'company_user',
                        value: 'company_user'
                    },
                    {
                        title: 'company_user_first_name',
                        value: 'company_user_first_name'
                    },
                ];

                var compiled = _.template(string, {interpolate:/\[\[([\s\S]+?)\]\]/g});
                let result = '';
                let object = {};
                arrayField.forEach((field, index) => {
                    switch (field.title) {
                        case 'candidate_first_name':
                            object[field.title] = that.firstFieldName(that.currentCandidate.name);
                            break;
                        case 'candidate_name':
                            object[field.title] = that.currentCandidate.name;
                            break;
                        case 'company_user_first_name':
                            object[field.title] = that.firstFieldName(that.currentUser.name);
                            break;
                        case 'company_name':
                            object[field.title] = that.currentCompany.name;
                            break;
                        case 'company_user':
                            object[field.title] = that.currentUser.name;
                            break;
                        case 'position_title':
                            object[field.title] = that.positionCandidate.title;
                            break;
                        case 'candidate_email_address':
                            object[field.title] = that.currentCandidate.email_address;
                            break;
                        case 'position_link':
                            object[field.title] = that.getPositionLink();
                            break;
                        default:
                            object[field.title] = field.value;
                            break;
                    }
                });
                result = compiled(object);
                return result;
            },
            setEmail(email) {
                let cachedCC = this.emailObject.hasOwnProperty('cc') ? this.emailObject['cc'] : '';
                let cachedBCC = this.emailObject.hasOwnProperty('bcc') ? this.emailObject['bcc'] : '';
                this.emailObject.attachments = [];
                this.emailObject = _.cloneDeep(email);
                this.toogleEmail = false;
                this.emailObject.subject = this.replaceInfoByCandidate(email.subject);
                this.emailObject.body = this.replaceInfoByCandidate(email.content);
                if (cachedCC != ''){
                    this.emailObject['cc'] = cachedCC;
                }
                if (cachedBCC != ''){
                    this.emailObject['bcc'] = cachedBCC;
                }
            },
            uploadFileToStore(file) {
                let that = this as any;
                return new Promise((resolve, reject) => {
                    // let fileNameUp = `${file.name}-${this.currentCandidate.id}`;
                    let datetime = server_time.now;
                    let upload = fstorage.ref(`attachment/email/${datetime.getFullYear()}/${that.currentCandidate.id}/${file.name}`).put(file);
                    upload.on('state_changed', null, null,
                        async () => {
                            await upload.snapshot.ref.getDownloadURL().then((downloadUrl) => {
                                file['file_shorturl'] = `attachment/email/${datetime.getFullYear()}/${that.currentCandidate.id}/${file.name}`;
                                file['file_url'] = downloadUrl;
                                resolve(file);
                            });
                        })
                })
            },
            selectFile() {
                let that = this as any;
                that.$refs.uploadFile.click();
            },
            filterByInput() {
                let that = this as any;
                let result = that.email_templates.filter((email) => {
                    return email.name.toLowerCase().includes(that.textInput.toLowerCase());
                });
                return result;
            },
            markedString(string) {
                let toMarkdown = require('to-markdown');
                return toMarkdown(string);
            },
        }
    });
</script>
<style lang="scss">
    .candidate-conversation {
        .custom-signaturel {
            padding: 0 0 10px 0 !important;
            p {
                margin-bottom: 2px !important;
            }
        }
        .custom-length-name {
            width: 100%;
            word-break: break-all;
            margin-bottom: 5px !important;
        }
        .dropdown-menu[x-out-of-boundaries]{
            transform: translate3d(0px, -376px, 0px) !important; //give valid transform
            //or use visiblity hidden;
        }
        .empty-state {
            margin-top: 80px;
            text-align: center;
            color: #84929f;
        }


        .default-css ul {
            display: block;
            list-style-type: disc;
            margin-top: .5em;
            margin-bottom: .5em;
            margin-left: 0;
            margin-right: 0;
            padding-left: 40px;
        }

        .send-message.btn-blue {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0;
            margin-left: 10px;
        }

        .schedule-button.btn-blue {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0;
            border-left: 1px solid #4cabcd !important;

            &.dropdown-toggle::after {
                display: none;
            }

            .el-date-editor {
                input {
                    display: none;
                }
            }
        }

        .templates-container {
            float: right;
            margin-top: 10px;
        }

        .custom-popover-send-email {
            float: right;
            background: #edeff0;
            border: none;
            margin-top: 3px;
            border-radius: 4px;
            font-size: 12px !important;
            height: initial !important;
            padding: 5px 8px;
            color: #68747e !important;
            cursor: pointer;
        }

        .meta-actions-container {
            margin-bottom: 10px;
            font-size: 14px;

            .meta-section-header {
                display: inline-block;
                width: 50px;
                text-align: right;
                margin-right: 10px;
            }

            .meta-section-main {
                display: inline-block;
                width: 255px;
                margin-top: 10px;

                &:first-child {
                    margin-top: 0px;
                }

                span {
                    display: inline-block;
                    line-height: 20px;
                    padding: 8px 10px;
                }

                input[type=text] {
                    width: 250px;
                    margin-right: 5px;
                }
            }

            .bcc-toggle-container {
                float: right;

                a {
                    color: #5ac0e5;
                    margin-top: 10px;
                    margin-left: 10px;
                    font-weight: 400;
                    display: inline-block;
                }
            }
        }

        .quillWrapper {
            margin-top: 10px;
            border: 2px solid #edeff0;
            border-radius: 4px;
            color: #4c555c;
            width: 100%;
            min-height: 50px;
            background-color: #fff7ef;

            .ql-editor {
                font-size: 14px;
                max-height: 200px;
            }
        }

        .custom-email-email-template-candidate {
            padding: 0px;
            height: 300px;
            border: 2px solid #edeff0;
        }

        .custom-tab-email {
            height: 300px;
            width: 450px;
            position: absolute;

            .el-tabs__content {
                padding: 0px;
                margin-bottom: 0px;

                .el-input {
                    padding: 10px;
                    padding-bottom: 0px;
                }

                ul {
                    padding: 10px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    margin-top: 5px;
                    height: 205px;
                    overflow: auto;

                    li {
                        border-radius: 4px;
                        color: #4c555c !important;
                        padding: 8px 10px !important;
                        cursor: pointer;

                        &:hover {
                            background-color: #f5f5f5;
                        }

                        p {
                            opacity: 0.7;
                            overflow: hidden;
                            width: 100%;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-bottom: 0px;
                        }
                    }
                }

                .edit-templates {
                    border-top: 1px solid #edeff0;
                    background: #fff;
                    padding: 5px 10px;
                    color: #4c555c !important;
                    cursor: pointer;

                    div {
                        padding: 6px 6px !important;
                        width: 100%;
                        border-radius: 5px;

                        &:hover {
                            background-color: #f5f5f5;
                        }

                    }
                }
            }

            .el-tabs__header {
                width: 140px;
                margin-right: 0px !important;
            }

            .el-tabs__nav {
                .el-tabs__active-bar {
                    display: none;
                }

                .el-tabs__item {
                    text-align: left;
                    border-left: 4px solid transparent;
                    border-bottom: 1px solid transparent;
                    border-top: 1px solid transparent;
                    cursor: pointer;
                    height: 36px;
                    padding: 8px 10px 8px 12px;
                    transition: 300ms all;
                    line-height: unset !important;
                    white-space: nowrap;
                    color: #4c555c !important;

                    &.is-active {
                        padding-left: 10px;
                        font-weight: bold;
                        border-bottom: 1px solid #edeff0 !important;
                        border-top: 1px solid #edeff0 !important;
                        background-color: #fff;
                        border-left: 4px solid #76d691 !important;
                        margin-right: -1px;
                    }

                    &:first-child {
                        border-top: none !important;
                    }
                }
            }
        }

        .schedule-button.btn-blue {

            .el-date-editor {
                width: 5px;

                input {
                    display: none;
                }

                .el-input__prefix {
                    top: -23px;
                    left: -10px;

                    .el-input__icon {
                        color: white;
                    }
                }

                .el-input__suffix {
                    display: none;
                }

            }
        }

        .custom-datetime-picker {
            width: 484px !important;

            .el-picker-panel__body {
                margin-left: 160px;
            }

            .el-picker-panel__sidebar {
                width: 160px;
            }

            .el-date-picker__time-header {
                display: none;
            }
        }
    }

</style>
<style lang="scss" scoped>
    .activity-timestamp .mail_state {
        color: #84929f;
        font-size: 10px;
        /*margin-top: 10px;*/
        .mail_state_failed {
            color:#d11420;
            i {
                color:#d11420;
            }
        }
        .mail_state_success{
            color:#77c9e6;
            .mail_not_view{
                color: #84929f;
            }
            .mail_viewed{
                color: #84929f;
            }
        }

        .resend_mail{
            color:#68747e;
        }
        span {
            margin-right: 5px;
        }
    }

</style>



