<template>
    <div class="candidate-experience" ng-if="activeTabLeft == 'experience'">
        <section class="section summary-container ng-hide" v-if="candidate.cover_letter.length > 0">
            <h1 class="section-header">
                <span>{{messages.SR_033_COVER_LETTER_MODAL_TITLE_ADD }}</span>
            </h1>
            <div class="not-editing">
                <div class="summary ng-isolate-scope clearfix" style="white-space: pre-line; display: block;width: 100%">{{candidate.cover_letter}}</div>
                <!-- ngIf: position.is_admin -->
                <ul class="update-actions clearfix" ng-if="position.is_admin">
                    <li>
                        <a class="add link-blue" style="font-size: 14px;margin-top: 15px"  @click="openCoverLetterModal()">
                            <i class="fa fa-edit"></i>
                            <span>{{messages.SR_033_BTN_EDIT_COVER_LETTER}}</span>
                        </a>
                    </li>
                </ul>
                <!-- end ngIf: position.is_admin -->
            </div>
        </section>
        <section class="section summary-container" ng-class="{editing: sections.summary.editing}">
            <h1 class="section-header">
                <span>{{messages.SR_033_SUMMARY_EXPERIANCE}}</span>
                <div class="actions ng-scope"
                     v-if="currentUser.role == 1">
                    <div class="action" v-if="!candidate.summary && !candidate.headline">
                        <a class="add link-blue" href="javascript:void(0)" @click="openSummaryModal()">
                            <i class="fa fa-plus"></i>
                            <span>{{messages.SR_033_BTN_ADD_SUMMARY}}</span>
                        </a>
                    </div>
                </div>
            <!-- ngIf: position.is_admin && !candidate.headline && !candidate.summary -->
            </h1>
            <div class="not-editing">
                <div class="summary  ng-hide" marked="candidate.headline"
                     v-show="candidate.headline">{{candidate.headline}}
                </div>
                <div class="summary pre-line" marked="normalizeText(candidate.summary)"
                     v-show="candidate.summary" style="">{{candidate.summary}}
                </div>
                <!-- ngIf: !candidateCopy.summary && !candidateCopy.headline -->
                <!-- ngIf: position.is_admin && (candidateCopy.summary || candidateCopy.headline) -->
                <ul class="update-actions ng-scope"
                    v-if="currentUser.role == 1">
                    <li>
                        <a v-if="candidate.summary || candidate.headline "
                           class="link-blue"
                           href="javascript:void(0)" @click="openSummaryModal()">
                            <i class="fa fa-edit"></i>
                            <span>{{messages.SR_033_BTN_EDIT_SUMMARY}}</span>
                        </a>
                    </li>
                </ul><!-- end ngIf: position.is_admin && (candidateCopy.summary || candidateCopy.headline) --></div>
        </section>
        <section class="section work-history-container clearfix"
                 ng-class="{editing: sections.work_history.editing}">
            <h1 class="section-header">
                <span>{{messages.SR_033_TITLE_WORK_EXPER}}</span>
                <!-- ngIf: position.is_admin -->
                <div class="actions ng-scope" v-if="currentUser.role == 1">
                    <div class="action">
                        <a class="add link-blue" href="javascript:void(0)" @click="openWorkHistoryModal('add')">
                            <i class="fa fa-plus"></i>
                            <span>{{messages.SR_033_ADD_EXPER}}</span>
                        </a>
                    </div>
                </div><!-- end ngIf: position.is_admin --></h1>
            <div class="not-editing">
                <div class="positions">
                    <!-- ngIf: !candidateCopy.work_history || candidateCopy.work_history.length == 0 -->
                    <p v-if="!candidate.work_history || candidate.work_history.length == 0" class="ng-scope">{{messages.SR_033_DES_EXPER}}</p>
                    <!-- end ngIf: !candidateCopy.work_history || candidateCopy.work_history.length == 0 -->
                    <div v-else class="experience-item position ng-scope"
                         :key="index"
                         v-for="(item, index) in candidate.work_history">
                        <div class="name">
                            <!-- ngIf: position.is_admin -->
                            <div class="actions ng-scope" v-if="currentUser.role == 1">
                                <div class="action">
                                    <a class="edit link-blue"
                                        @click="openWorkHistoryModal('edit',index)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                                <div class="action">
                                    <a class="link-blue" @click="removeWorkHistory(index)">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div><!-- end ngIf: position.is_admin -->
                            <h3 class="ng-binding">{{item.company_name}}</h3></div>
                        <div class="company clearfix">
                            <h3 class="ng-binding">{{item.title}}</h3>
                        </div>
                        <div class="dates clearfix">
                            <p class="dates ng-pristine ng-untouched ng-valid ng-isolate-scope"
                               format-employment-time="format-employment-time"
                               v-if="(item.start_date.month && item.start_date.year) || (item.end_date.month && item.end_date.year)"
                            >{{item.start_date.month}} {{item.start_date.year}} - {{item.end_date.month}} {{item.end_date.year}}</p>
                        </div>
                        <!-- ngIf: item.summary -->
                        <div class="summary-container ng-scope clearfix" v-if="item.summary">
                            <div class="summary ng-isolate-scope" marked="normalizeText(item.summary)">
                                <p class="pre-line">{{item.summary}}</p>
                            </div>
                        </div><!-- end ngIf: item.summary -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section education-container clearfix">
            <h1 class="section-header"><span>{{messages.SR_033_TITLE_EDUCATION}}</span><!-- ngIf: position.is_admin -->
                <div class="actions ng-scope" v-if="currentUser.role == 1">
                    <div class="action"><a class="add link-blue" href="javascript:void(0)" @click="openEducationModal('add')"><i
                        class="fa fa-plus"></i><span>{{messages.SR_033_BTN_ADD_EDUCATION}}</span></a></div>
                </div><!-- end ngIf: position.is_admin --></h1>
            <div class="education"><!-- ngIf: !candidateCopy.education || candidateCopy.education.length == 0 --><p
                v-if="!candidate.education || candidate.education.length == 0" class="ng-scope">
                {{messages.SR_033_DES_EDUCATION}}</p>
                <!-- end ngIf: !candidateCopy.education || candidateCopy.education.length == 0 -->
                <!-- ngRepeat: item in candidateCopy.education | orderBy:['-start_date.year'] -->
                <div v-else class="education-item experience-item ng-scope"
                    :key="index" v-for="(item, index) in candidate.education">
                    <div class="name"><!-- ngIf: position.is_admin -->
                        <div class="actions ng-scope" v-if="currentUser.role == 1">
                            <div class="action">
                                <a class="edit link-blue"
                                   @click="openEducationModal('edit', index)">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                            <div class="action">
                                <a class="link-blue"
                                   @click="removeEducation(index)">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div><!-- end ngIf: position.is_admin --><h3 class="ng-binding">{{item.school_name}}</h3></div>
                    <div class="company clearfix">
                        <h3 format-area-of-study="format-area-of-study"
                            class="ng-pristine ng-untouched ng-valid ng-isolate-scope pre-line ">{{item.field_of_study}}</h3>
                    </div>
                    <div class="dates clearfix" v-if="item.start_date && item.end_date">
                        <p v-if="item.start_date.year && item.end_date.year"
                           class="dates ng-pristine ng-untouched ng-valid ng-isolate-scope"
                           format-education-time="format-education-time">{{item.start_date.year}} - {{item.end_date.year}}</p>
                    </div>
                    <div class="summary-container ng-scope clearfix" v-if="item.summary">
                        <div class="summary ng-isolate-scope" marked="normalizeText(item.summary)">
                            <p class="pre-line">{{item.summary}}</p>
                        </div>
                    </div>
                    <!-- ngIf: item.summary -->
                </div>
            </div>
        </section>
        <section class="candidate-experience questionnare-results clearfix" v-if="candidate.questionnaire.length > 0">
            <h2 class="section-header">{{messages.SR_033_ADDITIONAL_QUESTIONS}}</h2>
            <div class="questions">
                <div class="question-item experience-item" :key="idx" v-for="(item,idx) in candidate.questionnaire">
                    <h3 style="font-weight: bold">{{item.name}}</h3>
                    <div class="question-response "
                         v-if="item.response_type.value !== 'fileattachment' && item.response_type.value !== 'checkboxes' && item.response_type.value !== 'multiplechoice'">
                        <div marked="item.response" class="">
                            <p style="white-space: pre-line;">{{item.response}}</p>
                        </div>
                    </div>
                    <div class="question-response" v-if="item.response_type.value == 'multiplechoice'">
                        <div v-if="item.response">
                            <i class="far fa-check-circle"></i>
                            <div marked="item.response">
                                <p>{{item.response}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="question-response"
                         v-if="item.response_type.value == 'checkboxes'">
                        <div :key="idx" v-for="(option, idx) in item.options" v-show="item.responses && item.responses[idx] === true">
                            <i class="fa fa-check-square"></i>
                            <div>
                                <p>{{option.text}}</p>
                            </div>
                        </div>
                    </div>
                    <div v-if="item.response_type.value == 'fileattachment'">
                        <a class="file-download" :href="item.response.url" target="_blank" v-if="item.response && item.response.url">
                            <i class="fa fa-paperclip" style="line-height: 1.9;"></i>
                            <span class="ml-1"> {{item.response.file_name}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <AddSummary :showModal="show_modal_summary" v-on:dismissModal="closeSummaryModal()"></AddSummary>
        <AddWorkHistory :mode="mode" :indexOfWorkHistory="current_index" :showModal="show_modal_work_history" v-on:dismissModal="closeWorkHistoryModal()" ></AddWorkHistory>
        <AddEducation :mode="mode" :indexOfEducation="current_index" :showModal="show_modal_education" v-on:dismissModal="closeEducationModal()" ></AddEducation>
        <UnSavedChangeModal
            :showModal="showModalConfirm"
            :sub-title-modal="subTitleModal"
            :title-modal="titleModal"
            :title-ok-button="messages.SR_033_TITLE_BTN_OK_DEL"
            @handleSaveChange="saveChange()"
            @handleClose="showModalConfirm = false">
        </UnSavedChangeModal>
        <EditCoverLetter :showModal="show_modal_cover_letter" v-on:dismissModal="closeCoverLetterModal()"></EditCoverLetter>
    </div>
</template>
<script lang="ts">
    import {mapGetters, mapActions} from 'vuex';
    import AddSummary from "@/components/modals/Candidate/ComponentCandidate/AddSummary.vue";
    import AddWorkHistory from "@/components/modals/Candidate/ComponentCandidate/AddWorkHistory.vue";
    import AddEducation from "@/components/modals/Candidate/ComponentCandidate/AddEducation.vue";
    import EditCoverLetter from "@/components/modals/Candidate/ComponentCandidate/editCoverLetter.vue";
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    export default {
        name : 'Experience',
        components:{
            AddSummary,
            AddWorkHistory,
            AddEducation,
            UnSavedChangeModal,
            EditCoverLetter,
        },
        computed: {
            ...mapGetters([
                "currentUser",
                "currentCompany",
                // "currentCandidate", // 'abc' --> 'def' //string
                // "myteststring",
            ]),
            ...mapGetters({
                // map `this.doneCount` to `this.$store.getters.doneTodosCount`
                candidate: 'currentCandidate'
            })


        },
        data(){
            return{
                show_modal_summary:false,
                mode: 'add',
                show_modal_work_history: false,
                show_modal_education: false,
                showModalConfirm:false,
                show_modal_cover_letter:false,
                current_index: null,
                subTitleModal:'',
                titleModal:'',
                current_field_remove:null
            }
        },
        methods:{
            openSummaryModal(): void{
                let that = this as any
                that.show_modal_summary = true;

            },
            closeSummaryModal(): void{
                let that = this as any
                that.show_modal_summary = false;
            },

            openWorkHistoryModal(mode,index = null): void{
                let that = this as any
                that.mode = mode
                that.current_index = index
                that.show_modal_work_history = true;
            },
            closeWorkHistoryModal(): void{
                let that = this as any
                that.show_modal_work_history = false
            },
            openEducationModal(mode,index): void{
                let that = this as any
                that.mode = mode
                that.current_index = index
                that.show_modal_education = true;
            },
            closeEducationModal(): void{
                let that = this as any
                that.show_modal_education = false
            },
            openCoverLetterModal(): void{
                let that = this as any
                that.show_modal_cover_letter = true;
            },
            closeCoverLetterModal():void{
                let that = this as any
                that.show_modal_cover_letter = false;
            },
            removeWorkHistory(index): void{
                let that = this as any
                that.showModalConfirm = true
                that.titleModal = that.messages.SR_033_TITLE_REMOVE_EXPER;
                that.subTitleModal = that.messages.SR_033_DES_REMOVE;

                that.current_index = index
                that.current_field_remove = 'work_history'

            },
            removeEducation(index): void{
                let that = this as any
                that.showModalConfirm = true
                that.titleModal = that.messages.SR_033_TITLE_REMOVE_EDU;
                that.subTitleModal = that.messages.SR_033_DES_REMOVE;
                that.current_index = index;
                that.current_field_remove = 'education'
            },
            saveChange(): void{
                let that = this as any
                that.showModalConfirm = false
                switch (that.current_field_remove) {
                    case "work_history":
                        if(that.current_index != null && that.current_index < that.candidate.work_history.length ){
                            that.candidate.work_history.splice(that.current_index,1)
                            that.candidate.update().then(()=>{
                            })
                        }else {
                            alert('error')
                        }
                        break
                    case "education":
                        if(that.current_index != null && that.current_index < that.candidate.education.length ){
                            that.candidate.education.splice(that.current_index,1)
                            that.candidate.update().then(()=>{
                            })
                        }else {
                            alert('error')
                        }
                        break
                    default:
                        //
                }


            }

        }
    }
</script>
<style lang="scss">
    .candidate-experience{
        .pre-line{
            white-space: pre-line;
        }
        .section{
            a.link-blue{
                color: #5ac0e5;
                font-weight: 200;
                font-size: 14px;
                text-decoration: unset;
                cursor: pointer;
            }
            &.summary-container{
                .summary{
                    display: block;
                }
                a{
                    color: #5ac0e5;
                    font-weight: 200;
                    font-size: 14px;
                    text-decoration: unset;
                    cursor: pointer;
                }
                a.add{
                    display: inline-block;
                    float: right;
                }
                .section-header{
                    span{
                        color: #4c555c;
                        font-size: 20px ;
                    }
                    .action{
                        margin-top: 12px;
                        span{
                            color: #5ac0e5;
                            font-weight: 200;
                            font-size: 14px;
                            text-decoration: unset;
                            cursor: pointer;
                        }
                    }

                }
            }
        }
    }
</style>
