<template>
    <div class="content-section-wrapper notes-wrapper content-section" :class="editCandidateNote?'editing':''" >
        <div class="candidate-notes">
            <section class="section">
                <a class="btn btn-blue btn-xs add-note" href="javascript:void(0)" @click="toggleNoteEditor()">
                    <i class="fa fa-plus mr-1"></i>
                    <span>{{messages.SR_037_ADD_NOTE}}</span>
                </a>
                <h1 class="section-header">{{messages.SR_037_YOUR_NOTE}}</h1>
                <div v-if="showNotes == true " class="message-compose is-editing" id="note-compose"
                     :class="new_note.candidate_note == 'private'?'note-private':'note-public'">
                    <div class="info public alert alert-info" role="alert" type="info">
                        <div>
                            <p style="margin-bottom: 0">
                                <i class="fa fa-unlock"></i>
                                <span>{{messages.SR_037_NOTE_PUBLIC}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="warning private alert  alert-warning" role="alert" type="warning">
                        <div>
                            <p style="margin-bottom: 0">
                                <i class="fa fa-lock"></i>
                                <span>{{messages.SR_037_NOTE_PRIVATE}}</span>
                            </p>
                        </div>
                    </div>
                    <b-form-textarea
                        rows="3"
                        max-rows="8"
                        id="textarea"
                        v-model="new_note.content"
                        :placeholder="`${messages.SR_037_NOTE_PLACEHOLDER} ${currentCandidate.name}`"
                        no-resize
                    ></b-form-textarea>

                    <!-- ngIf: candidateNote.attachments.length > 0 -->
                    <div class="clearfix">
                        <ul class="file-attachments" v-if="new_note.attachments.length > 0">
                            <li class="file-attachment custom-length-name" :key="index" v-for="(file, index) in new_note.attachments">
                                <div class="attached">
                                    <i class="fa fa-paperclip"></i>
                                    <a class="mr-2 ml-2" target="_blank">
                                        <span class="attachment">{{file.name}}</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- ngIf: candidateNote.attachments.length > 0 -->
                    <div class="status"><!-- ngIf: candidateNoteAttachmentUploading -->
                        <ul>
                            <li class="file-attachment" v-if="uploading">
                                <div class="uploading">
                                    <i class="fa fa-circle-notch fa-spin"></i>
                                    <span>{{messages.SR_037_UPLOADING}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="actions">
                        <!--uploadFiles-->
                        <li class="action">
                            <button class="btn btn-default btn-sm " style="overflow: hidden;" @click="onClickFile">
                                <i class="fa fa-paperclip"></i>
                                <input style="display: none;width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;" ref="inputFiles" type="file" @change="handleFileUploads">
                            </button>
                        </li>
                        <!--private || public -->
                        <li class="action private" :class="new_note.candidateNote == 'private'?'private':'public'">
                            <button class="btn btn-default btn-sm" @click="toggleNotePrivacy()">
                                <i class="fa fa-lock"></i>
                                <i class="fa fa-unlock"></i>
                            </button>
                        </li>

                        <li class="action"><!-- ngIf: !candidateNote.id -->
                            <button class="post-note btn btn-sm ng-scope" @click="cancelNote()">
                                <span>{{messages.SR_037_CANCEL_BTN}}</span>
                            </button>
                        </li><!-- ngIf: !candidateNote._id -->
                        <li class="action ng-scope">
                            <button class="post-note btn btn-blue btn-sm" @click="addCandidateNote()">
                                <span>{{messages.SR_037_SAVE_BTN}}</span>
                            </button>
                        </li><!-- end ngIf: !candidateNote._id --></ul>
                </div>

                <!-- ngIf: (!notes || notes.length == 0) && !initializingCandidateMeta -->
                <div class="empty-state" v-if="candidateNotes.length == 0 && !loading">
                    <i class="fas fa-pencil-alt"></i>
                    {{messages.SR_037_NOTE_EMPTY}}
                </div>

                <div v-if="loading">
                    <vcl-code></vcl-code>
                </div>

                <!-- show add log -->
                <div class="activity-stream-container with-end-dot" v-if="candidateNotes.length > 0 && !loading">
                    <div class="timeline"></div>
                    <ul class="activity-stream">
                        <div class="activity notepad" :key="activity.id" v-for="activity in sortActivities" :class="activity.candidate_note == 'private'?'private':'public'">
                            <div class="activity-object">
                                <div class="activity-type">
                                   <i class="fas fa-pencil-alt"></i>
                                </div>
                                <div class="activity-info">
                                    <div class="activity-body default-css">
                                        <div>
                                            <p>{{activity.content}}</p>
                                        </div>
                                    </div>
                                    <div class="activity-footer clearfix">
                                        <div class="activity-attachments" v-if="activity.attachments.length > 0">
                                            <ul class="attachments">
                                                <li class="attachment custom-length-name" :key="index" v-for="(attachment,index) in activity.attachments">
                                                    <a :href="attachment.url" target="_blank">
                                                        <strong class="attachment">{{attachment.name}}</strong>
                                                    </a>
                                                    <i class="fa fa-paperclip ml-2"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="actions"></ul>
                                        <ul class="meta-data">
                                            <li>
                                                <i class="fa fa-clock"></i>
                                                <span class="timestamp"
                                                      data-container="body"
                                                      v-b-tooltip.hover.bottom
                                                      :title="activity.createdAt | tooltipTime">
                                                    {{activity.createdAt | timeCreate}}
                                                </span>
                                            </li>
                                            <!-- ngIf: item.updated_date -->
                                            <li v-if="activity.timeUpdateNote">
                                                <i class="fa fa-flash"></i>
                                                <span class="timestamp"
                                                      data-container="body"
                                                      v-b-tooltip.hover.bottom
                                                      :title="activity.timeUpdateNote | tooltipTime">
                                                    {{activity.timeUpdateNote | timeCreate}}
                                                </span>
                                            </li>
                                            <!-- ngIf: !item.private -->
                                            <li v-if="activity.candidate_note != 'private'">
                                                <i class="fa fa-unlock"
                                                   v-b-tooltip.hover.bottom
                                                   :title="messages.SR_037_TOOLTIP_PUBLIC"
                                                   data-container="body" style="font-weight:700">
                                                </i>
                                            </li>
                                            <li v-else>
                                                <i class="fa fa-lock"
                                                   v-b-tooltip.hover.bottom
                                                   :title="messages.SR_037_TOOLTIP_PRIVATE"
                                                   data-container="body" style="font-weight:700">
                                                </i>
                                            </li>
                                            <!-- end ngIf: !item.private -->
                                            <li class="action" v-if="activity.activity_type === 'notes'">
                                                <a href="javascript:void(0)" @click="editNote(activity)">
                                                    <i class="fa fa-edit mr-1"></i>
                                                    <span>{{messages.SR_037_EDIT}}</span>
                                                </a>
                                            </li>
                                            <li class="action" v-if="activity.activity_type === 'notes'">
                                                <a href="javascript:void(0)" @click="deleteCandidateNote(activity)">
                                                    <i class="fa fa-times mr-1" style="font-weight: bold"></i>
                                                    <span>{{messages.SR_037_REMOVE}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </section>
        </div>


        <div class="edit-note-modal" v-show="showNotesEdit == true">
            <div class="edit-note-dialog">
                <div class="activity" v-if="editCandidateNote">
                    <div class="message-compose" id="note-compose-edit"
                         :class="editCandidateNote.candidate_note == 'private'?'note-private':'note-public'">
                        <div class="info public alert alert-info" role="alert" type="info">
                            <div>
                                <p style="margin-bottom: 0">
                                    <i class="fa fa-unlock"></i>
                                    <span>{{messages.SR_037_NOTE_PUBLIC}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="warning private alert alert-warning" role="alert" type="warning">
                            <div>
                                <p style="margin-bottom: 0" >
                                    <i class="fa fa-lock"></i>
                                    <span>{{messages.SR_037_NOTE_PRIVATE}}</span>
                                </p>
                            </div>
                        </div>
                        <b-form-textarea
                            rows="3"
                            max-rows="8"
                            id="textareaEdit"
                            v-model="editCandidateNote.content"
                            :placeholder="`${messages.SR_037_NOTE_PLACEHOLDER} ${currentUser.name}`"
                            no-resize
                        ></b-form-textarea>
                        <div class="activity-footer clearfix">
                            <div class="activity-attachments ng-hide" v-if="editCandidateNote.attachments.length > 0">
                                <ul class="attachments">
                                    <li class="file-attachment custom-length-name" :key="index" v-for="(file, index) in editCandidateNote.attachments">
                                        <div class="attached">
                                            <i class="fa fa-paperclip"></i>
                                            <a class="mr-1 ml-1" target="_blank">
                                                <span class="attachment">{{file.name}}</span>
                                            </a>
                                            <i class="remove fa fa-times" style="cursor:pointer" @click="removeStreamAttachment(index)"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="status">
                                <ul v-if="uploading">
                                    <li class="file-attachment">
                                        <div class="uploading">
                                            <i class="fa fa-circle-notch fa-spin"></i>
                                            <span>{{messages.SR_037_UPLOADING}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ul class="actions">
                                <li class="action">
                                    <button class="btn btn-default btn-sm " style="overflow: hidden;" @click="$refs.inputFilesEdit.click()">
                                        <i class="fa fa-paperclip"></i>
                                        <input style="display: none;width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;" ref="inputFilesEdit" type="file" @change="uploadToEditNote">
                                    </button>
                                </li>
                                <li class="action public" :class="editCandidateNote.private?'private':'public'">
                                    <button class="btn btn-default btn-sm" @click="toggleEditNotePrivacy()"><i
                                        class="fa fa-lock"></i>
                                        <i class="fa fa-unlock"></i>
                                    </button>
                                </li>
                                <li class="action">
                                    <button class="post-note btn btn-sm" @click="cancelEditNote()">
                                        <span>{{messages.SR_037_CANCEL_BTN}}</span>
                                    </button>
                                </li><!-- ngIf: !candidateNote._id -->
                                <li class="action ng-scope">
                                    <button class="post-note btn btn-blue btn-sm" @click="updateCandidateNote(editCandidateNote)">
                                        <span>{{messages.SR_037_SAVE_BTN}}</span>
                                    </button>
                                </li><!-- end ngIf: !candidateNote._id -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ModalConfirmCandidate
            :showModal="showModalConfirm"
            @handleSaveChange="handleSaveChange()"
            @handleClose="handleCloseModal()">
        </ModalConfirmCandidate>
    </div>
</template>
<script lang="ts">
    import Vue from "vue";
    import {fstorage, server_time} from '@/firebase';
    import {mapGetters, mapMutations,mapActions} from "vuex";
    import moment from 'moment';
    import $ from "jquery"
    import Activity from "@/models/Activity"
    import _ from "lodash"
    import ModalConfirmCandidate from "@/components/modals/Candidate/Tab/TabModalConfirm/ModalConfirmCandidate.vue"
    import CandidateScorecard from "@/models/CandidateScorecard";
    import {VclCode} from "vue-content-loading";

    export default Vue.extend({
        data(){
            return {
                loading: false,
                showModalConfirm: false,
                editCandidateNote: null,
                removeActiviti: null,
                showNotesEdit: false,
                showNotes: false,
                uploading: false,
                upload: {} as firebase.storage.UploadTask,
                new_note:{
                    content: "",
                    attachments: [],
                    candidate_note: "private"
                },
            }
        },
        components: {
            ModalConfirmCandidate,
            VclCode
        },
        computed:{
            // mix the getters into computed with object spread operator
            ...mapGetters([
                "currentUser",
                "currentCompany",
                'positionCandidate',
                "currentCandidate",
                "candidateNotes",
                // ...
            ]),
            candidate_id(): string {
                return this.$route.params.candidate_id;
            },
            sortActivities() {
                let that = this as any;
                return _.orderBy(that.candidateNotes,"createdAt").reverse()
            },
        },
        mounted() {
            let that = this as any;
            that.loading = true;
            that.getCandidateNotes(that.candidate_id).then(()=>{
                that.loading = false;
            });
        },
        filters: {
            tooltipTime: function(value){
                return moment(value).format('L [@] h:mm:ss a');
            },
            timeCreate: function (value) {
                return moment(value).format("h:mm:ss a");
            },

        },
        methods:{
            ...mapActions([
                'createActivity',
                'updateActivity',
                'deleteActivity',
                'getCandidateNotes'
            ]),
            removeStreamAttachment(index){
                let that = this as any;
                if(that.editCandidateNote){
                    that.editCandidateNote.attachments.splice(index, 1);
                }
            },
            deleteCandidateNote(activity){
                let that = this as any;
                that.showModalConfirm = true;
                that.removeActiviti = activity;
            },
            editNote(activity){
                let that = this as any;
                that.showNotesEdit = true;
                that.editCandidateNote = activity.cloneNewObject();

            },
            toggleEditNotePrivacy(){
                let that = this as any;
                if(that.editCandidateNote.candidate_note == "private"){
                    that.editCandidateNote.candidate_note = "public"
                }else {
                    that.editCandidateNote.candidate_note = "private"
                }
            },
            cancelEditNote(){
                let that = this as any;
                that.showNotesEdit = false;
            },
            updateCandidateNote(editCandidateNote){
                let that = this as any;
                if(editCandidateNote.candidate_id == that.candidate_id && that.editCandidateNote.content != ""){
                    editCandidateNote.timeUpdateNote = server_time.now;
                    that.updateActivity(editCandidateNote).then(()=>{
                        that.showNotesEdit = false;
                    })
                }
            },
            toggleNotePrivacy(){
                let that = this as any;
                if(that.new_note.candidate_note == "private"){
                    that.new_note.candidate_note = "public"
                }else {
                    that.new_note.candidate_note = "private"
                }
            },
            addCandidateNote(){
                let that = this as any;
                if(that.new_note.content != ""){
                    that.new_note.candidate_id = that.candidate_id;
                    that.new_note.position_id = that.positionCandidate.id;
                    that.new_note.activity_type = 'notes';
                    that.new_note.action = 'notes';
                    that.new_note.candidate_note = that.new_note.candidate_note;
                    that.createActivity(that.new_note).then(()=>{
                        that.new_note = {
                            content: "",
                            attachments: [],
                            candidate_note: "private"
                        };
                        that.showNotes= false;
                    })
                }

            },
            cancelNote(){
                let that = this as any;
                that.showNotes = false
            },
            toggleNoteEditor(){
                let that = this as any;
                that.showNotes = !that.showNotes
            },
            onClickFile(){
                let that = this as any;
                that.$refs.inputFiles.click();
            },
            handleFileUploads(e){
                let that = this as any;
                let file = e.target.files[0];
                that.$refs.inputFiles['value'] = null;
                that.uploading = true;
                let file_name = Math.random().toString(36).substring(7) + file.name;
                that.upload = fstorage.ref('templates/documents/' + file_name).put(file);
                that.upload.on('state_changed', sp => {},
                    null,
                    () => {
                        that.upload.snapshot.ref.getDownloadURL().then(downloadURL => {
                            that.new_note.attachments.push({
                                name: file.name,
                                url: downloadURL
                            });
                            that.uploading = false;
                        })
                    })
            },
            uploadToEditNote(e){
                let that = this as any;
                let file = e.target.files[0];
                that.$refs.inputFilesEdit['value'] = null;
                that.uploading = true;
                let file_name = Math.random().toString(36).substring(7) + file.name;
                that.upload = fstorage.ref('templates/documents/' + file_name).put(file);
                that.upload.on('state_changed', sp => {},
                    null,
                    () => {
                        that.upload.snapshot.ref.getDownloadURL().then(downloadURL => {
                            that.editCandidateNote.attachments.push({
                                name: file.name,
                                url: downloadURL
                            });
                            that.uploading = false;
                        })
                    })
            },
            handleSaveChange() {
                let that = this as any;
                that.deleteActivity(that.removeActiviti).then(()=>{
                     that.showModalConfirm = false;
                })

            },
            handleCloseModal() {
                let that = this as any;
                that.showModalConfirm = false;
            }
        }
    })

</script>
<style lang="scss" scoped>
    .notes-wrapper {
        .custom-length-name {
            width: 100%;
            word-break: break-all;
            margin-bottom: 5px !important;
        }
        .alert-info {
            color: #31708f !important;
            background-color: #d9edf7 !important;
            border-color: #bce8f1 !important;
        }
        .alert-warning {
            background-color: #fff7ef !important;
            border-color: #fff7ef !important;
        }
        .empty-state {
            margin-top: 80px !important;
            text-align: center !important;
            color: #84929f !important;
            i {
                font-size: 50px !important;
                display: block !important;
            }
        }
    }
</style>
