<template>
    <div id="questionnaires" class="candidate-questionnaires">
        <section class="section candidate-questionnaires-container">
<!--            <b-button href="javascript:void(0)" @click="openSendQuestionnaire()" class="btn-xs send-questionnaire"-->
<!--                      variant="blue">-->
<!--                <i class="fa fa-envelope"></i>-->
<!--                <span> {{messages.SR_033_MENU_TAB_QUESTIONNAIRES}}</span>-->
<!--            </b-button>-->
            <h1 class="section-header">{{messages.SR_033_MENU_TAB_QUESTIONNAIRES}}</h1>
<!--            <div :class="{[`alert-${type || 'warning'}`]: true, 'alert-dismissible': closable}"-->
<!--                 class=""-->
<!--                 role="alert" type="warning"-->
<!--                 v-show="position.state !== 'published' && position.candidate_type !== 'none'">-->
<!--                <button class="close ng-hide" ng-click="close({$event: $event})" type="button" v-show="closable">-->
<!--                    <span aria-hidden="true">×</span>-->
<!--                    <span class="sr-only">Close</span>-->
<!--                </button>-->
<!--                <div ng-transclude="">-->
<!--                    <span class="ng-scope">Sending Questionnaires is only enabled for active positions & candidate pools.</span>-->
<!--                </div>-->
<!--            </div>-->
            <div class="empty-state ng-scope"
                 v-if="!currentCandidateQuestionnaires || currentCandidateQuestionnaires.length == 0 ">
                <i class="fa fa-list"></i>
                <p class="ng-binding">{{messages.SR_033_DES_PRE_NO_QUESTIONNAIRES}} {{currentCandidate.name}} {{messages.SR_033_DES_SUFFIX_NO_QUESTIONNAIRES}}.</p></div>
            <div v-else class="questionnaires candidate-assessments">
                <div :key="idx" class="questionnaire-container " v-for="(questionnaire, idx) in currentCandidateQuestionnaires">
                    <div class="questionnaire " data-toggle="collapse" :data-target="'#open'+idx"  aria-expanded="false" :aria-controls="'open'+idx">
                        <div class="details">
                            <span class="status sent" v-if="questionnaire.status === 'sent'">
                                {{messages.SR_033_QUESTIONNAIRES_MES_TIME}}
                            </span>
                            <span class="status completed" v-if="questionnaire.status == 'completed'">{{messages.SR_033_QUESTIONNAIRES_COMPLETE}}</span>
                            <h3 class="ng-binding">{{questionnaire.name}}</h3>
                            <p class="creator">
                                <span>{{messages.SR_033_QUESTIONNAIRES_SENT_BY}} <strong class="ng-binding">{{questionnaire.sent_by.name}}</strong></span>
                                <span> </span>
                                <span class="timestamp ng-binding"
                                      time-ago="time-ago"
                                      :from-time="questionnaire.created_at"> {{ questionnaire.createdAt | calculateTime}}</span>
                            </p>
                        </div>
                    </div>
                    <div :id="'open'+idx" class="collapse">
                        <section class="candidate-experience questionnare-results" v-show="questionnaire.open && questionnaire.status === 'recinded'">
                            <p>Questionnaire recinded.</p>
                        </section>
                        <section class="candidate-experience questionnare-results" v-show="questionnaire.status === 'sent'">
                            <p class="ng-binding">{{currentCandidate.name}} {{messages.SR_033_QUESTIONNAIRES_MES_NO_COMPLETED}}</p>
                        </section>
                        <section class="candidate-experience questionnare-results clearfix"
                                 v-show="questionnaire.status === 'completed'">
                            <div class="questions">
                                <div class="question-item experience-item" :key="idx" v-for="(item,idx) in questionnaire.questions">
                                    <h3 style="font-weight: bold">{{item.name}}</h3>
    <!--                                <div class="question-response ng-scope"-->
    <!--                                     v-if="item && item.type.id !== 'file' &&item.type.id !== 'checkboxes' && item.type.id !== 'video' && item.type.id !== 'multiplechoice'">-->
    <!--                                    <div class="ng-isolate-scope" marked="item.response"></div>-->
    <!--                                </div>-->
                                    <div class="question-response "
                                         v-if="item.response_type.value !== 'fileattachment' && item.response_type.value !== 'checkboxes' && item.response_type.value !== 'multiplechoice'">
                                        <div marked="item.response" class="">
                                            <p style="white-space: pre-line;">{{item.response}}</p>
                                        </div>
                                    </div>
                                    <div class="question-response "
                                         v-if="item.response_type.value == 'multiplechoice'">
                                        <!-- ngIf: item.response -->
                                        <div v-if="item.response">
                                            <i class="far fa-check-circle"></i>
                                            <div marked="item.response" class="">
                                                <p>{{item.response}}</p>
                                            </div>
                                        </div><!-- end ngIf: item.response -->
                                    </div>
                                    <div class="question-response ng-scope"
                                         v-if="item.response_type.value == 'checkboxes'">
                                        <div :key="idx" v-for="(option, idx) in item.options" v-if="item.responses && item.responses[idx] === true" class="ng-scope">
                                            <i class="fa fa-check-square"></i>
                                            <div>
                                                <p>{{option.text}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="item.response_type.value == 'fileattachment'">
                                        <!-- ngIf: item.response.url -->
                                        <a class="file-download" :href="item.response.url" target="_blank" v-if="item.response && item.response.url">
                                            <i class="fa fa-paperclip" style="line-height: 1.9;"></i>
                                            <span class="ml-1"> {{item.response.file_name}}</span>
                                        </a>
                                        <!-- end ngIf: item.response.url -->
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <b-modal id="send-questionnaires" hide-footer ref="send-questionnaires" :title="messages.SR_033_TITLE_MODAL_QUESTIONNAIRES" @hide="resetvalue">
            <div class="send-questionnaires-modal">
                <div class="bzy-form ng-pristine ng-invalid ng-invalid-required ng-valid-email"
                     name="questionnairesForm">
                    <p class="des">{{messages.SR_033_TITLE_MODAL_QUESTIONNAIRES_DES}} {{currentCandidate.name}}</p>
                    <el-select class="select-quesiontionnaire" :class="validateQa?'':'error'" v-model="currentAddQa" filterable :placeholder="messages.SR_033_TITLE_MODAL_QUESTIONNAIRES_SELECT_PLACEHOLDER" size="small" value-key="id">
                        <el-option
                            @change="checkvalidate"
                            v-for="item in questionnaires"
                            :key="item.id"
                            :label="item.name"
                            :value="item">
                        </el-option>
                    </el-select>
                    <div class="actions">
                        <button class="btn btn-blue" :disabled="dissable_submit" type="submit" @click="sendQuestionnaires()" >
                            <i class="fa fa-save"></i><span> {{messages.SR_033_TITLE_MODAL_QUESTIONNAIRES_BTN_SEND}}</span></button>
                    </div>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import moment from "moment";
    import {Select,Option} from 'element-ui';
    import Questionnaire from "@/models/Questionnaire";
    import CandidateQuestionnaire from "@/models/CandidateQuestionnaire";
    import Question from "@/models/Question";
    import {mapGetters,mapActions} from 'vuex'
    import {db, server_time} from '@/firebase/index'
    Vue.filter('calculateTime',  (value)=>{
        return moment(value).fromNow();

    });
    export default Vue.extend({
        name: "CandidateQuestionnairesTab",
        data() {
            return {
                candidate: {},
                currentAddQa:{},
                dissable_submit: false,
                validateQa:true,

                position: {
                    state: 'published',
                },
                type: 'normal',

                closable: true,
            };
        },
        components:{
            Select,
            Option,
        },
        computed: {
            ...mapGetters([
                'currentUser',
                'currentCandidate',
                'currentCompany',
                'currentCandidateQuestionnaires',
                'questionnaires'
            ]),
            sender(): any {
                return {
                    name: "Nguyen",
                }
            },
        },
        // mounted(){
        //     console.log("tung tung tung")
        // },
        methods: {
            ...mapActions(['getQuestionnaires']),
            toggleQuestionnaire(e): void {
                let el = e
                let is_close = el.currentTarget.classList.contains('closed')

                switch (is_close) {
                    case true:
                        el.currentTarget.classList.remove('closed');
                        el.currentTarget.classList.add('open');
                        break;
                    case false:
                        el.currentTarget.classList.remove('open');
                        el.currentTarget.classList.add('closed');
                        break;
                    default:
                        break;
                }
            },

            openSendQuestionnaire(): void {
                let that = this as any
                that.$refs['send-questionnaires'].show()
                that.getQuestionnaires()

            },
            sendQuestionnaires():void{
                let that = this as any
                that.getQuestionnaire()
            },
            async getQuestionnaire(){
                let that = this as any
                let questionnaire_id = that.currentAddQa.id
                if(!that.currentAddQa || !that.currentAddQa.id ){
                    that.validateQa = false
                }else{
                    that.validateQa = true
                }
                if(that.validateQa){
                    that.dissable_submit = true
                    let questions = await new Question().getAllQuestion(questionnaire_id) as Array<object>
                    questions.forEach((obj) => {
                        delete obj['firestore'];
                    })
                    that.createCandidateQuestionnaire(questions)
                }

            },
            checkvalidate(){
                let that = this as any
                if(!that.currentAddQa || !that.currentAddQa.id ){
                    that.validateQa = false
                }else{
                    that.validateQa = true
                }
            },
            resetvalue(){
                let that = this as any
                that.dissable_submit = false
                that.currentAddQa = {}
                that.validateQa = true
            },

            createCandidateQuestionnaire(questions: Array<object>): void{
                let that = this as any
                let new_candidate_questionnaire = new CandidateQuestionnaire()
                new_candidate_questionnaire.company_id = that.currentCompany.id
                new_candidate_questionnaire.candidate_id = that.currentCandidate.id
                new_candidate_questionnaire.questionnaire_id = that.currentAddQa.id
                new_candidate_questionnaire.name = that.currentAddQa.name
                new_candidate_questionnaire.questions = questions
                new_candidate_questionnaire.acting_user = that.currentUser.cloneNewObject()
                new_candidate_questionnaire.sent_by = that.currentUser.cloneNewObject()
                new_candidate_questionnaire.status = "sent"
                new_candidate_questionnaire.position_id = that.currentCandidate.position_id || that.currentCandidate.position._id,
                new_candidate_questionnaire.insert().then(()=>{
                    that.$refs['send-questionnaires'].hide()
                })
            }

        },
    });
</script>
<style scoped lang="scss">
    #send-questionnaires{
        .send-questionnaires-modal{
            .section{
                .name{
                    width: 50% !important;
                }
                h3{
                    margin-bottom: 5px;
                    font-weight: 400;
                    font-size: 16px !important;
                }
            }
            .email-phone{
                display: flex;
                .inlineblock{
                    width: 100%;
                    margin-right: 10px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .des{
                font-size: 14px;
                line-height: 1.5;
                font-weight: 200;
            }
            .select-quesiontionnaire{
                width: 300px;
                margin-bottom: 10px;
                outline: none !important;
                border-radius: 4px;
            }
            .actions{
                text-align: right;
                margin-top: 20px;
            }
        }
    }

    #questionnaires{
        .mg-r-10{
            margin-right: 10px;
        }
        .btn-xs.send-questionnaire{
            box-shadow:unset;
        }
        .questionnaires{
            .questionnaire-container {
                margin-bottom: 10px;
                .questionnaire{
                    padding: 10px;
                    cursor: pointer;
                    background: #fafafa;
                    border: 1px solid #edeff0;
                    border-radius: 4px;
                    /*border-bottom-color: transparent;*/
                    h3{
                        font-size: 16px !important;
                        margin: 0px !important;
                    }
                    .status.completed{
                        background-color: #76d691;
                        padding: 4px;
                        color: #fff;
                        border-radius: 4px;
                    }
                    /*.actions{*/
                    /*    float: right;*/
                    /*    display: inline-block;*/
                    /*    cursor: pointer;*/
                    /*    color: #4c555c;*/
                    /*    font-size: 10px;*/
                    /*}*/
                    /*p.creator{*/
                    /*    margin: 0px !important;*/
                    /*}*/
                }
            }
            .candidate-experience.questionnare-results {
                padding: 20px;
                border: 2px solid #edeff0;
                border-top: 2px solid transparent;
                border-radius: 0px 0px 4px 4px;
                margin-bottom: 10px;
                border-top-color: transparent;
                .questions{
                    .question-item.experience-item{
                        margin-top: 20px;
                        margin-bottom: 30px;
                        h3 {
                            font-weight: 400;
                            line-height: 1.5;
                            color: #4c555c;
                            margin-bottom: 10px;
                            font-size: 14px !important;
                        }
                        .question-response{
                            p{
                                font-size: 14px;
                                line-height: 1.5;
                                font-weight: 200;
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }



    }
</style>
<style lang="scss">
    #send-questionnaires{
        .select-quesiontionnaire{
            input{
                border: 1px solid #edeff0;
                &:focus{
                    box-shadow:unset;
                }
            }

        }
    }
</style>
