<template>
    <div id="reference">
        <div class="original" ng-transclude="ng-transclude" ng-class="{blocked: block}">
            <div class="header-reference">
                <h1 class="section-header ng-scope">{{messages.SR_033_TITLE_REFERENCE}}</h1>
                <a class="btn btn-blue btn-xs add-reference ng-scope" href="javascript:void(0)" @click="addReference()">
                    <i class="fa fa-plus mg-r-10"></i><span>{{messages.SR_033_ADD_REFERENCE}}</span></a>
            </div>
            <!-- ngIf: (!other_references && !references) || (other_references.length == 0 && references.length == 0) -->
            <div class="empty-state ng-scope"
                 v-if="!currentCandidate || currentCandidate.references.length == 0">
                <i class="fa fa-certificate"></i>
                <p>{{messages.SR_033_DES_REFERENCE}}</p></div>
            <div v-else class="references ng-scope">
                <!-- ngRepeat: reference in references -->
                <div :key="index" class="reference-container ng-scope closed" @click="toggleReference" v-for="(reference, index) in currentCandidate.references">
                    <div class="reference" >
                        <div class="details">
                            <div class="actions">
                                <!-- ngIf: position.is_admin -->
                                <span class="remove ng-scope"
                                      ng-if="position.is_admin">
                                    <a @click.stop="editReference(index)">
                                        <span>{{messages.SR_033_TITLE_BTN_EDIT}} </span>
                                    </a>
                                </span>
                            </div>
                            <h3 class="ng-binding">{{reference.name}}</h3>
                            <p class="creator">
                                <span class="type">{{messages.SR_051_COLUMN_TYPE}}: <strong class="ng-binding">{{reference.type == "professional" ? messages.SR_033_PROFESSIONAL : messages.SR_033_PERSONAL}}</strong></span>
                                <span class="timestamp ng-binding" time-ago="time-ago" :from-time="reference.created_at"> {{calculateTime(reference.created_at)}}</span>
                            </p>
                        </div>
                    </div>
                    <section class="candidate-experience reference-results ng-hide" ng-show="reference.open">
                        <div class="default-items">
                            <div class="question-item experience-item"><h3>{{messages.SR_033_TITLE_REFERENCE_EMAIL}}</h3>
                                <div class="question-response"><p class="ng-binding">{{reference.email_address}}</p></div>
                            </div>
                            <div class="question-item experience-item ng-hide" ng-show="reference.phone_number">
                                <h3>{{messages.SR_033_TITLE_REFERENCE_PHONE}}</h3>
                                <div class="question-response"><p class="ng-binding">{{reference.phone_number}}</p></div>
                           </div>
                        </div>
                    </section>
                </div>
            </div>
                <!-- end ngRepeat: reference in references -->
            <!-- ngIf: other_references && other_references.length > 0 -->
        </div>
        <b-modal :no-close-on-backdrop="true" ref="add-refereces"
                 :title="type =='add' ? messages.SR_033_REFERENCE_MODAL_TITLE_ADD : messages.SR_033_REFERENCE_MODAL_TITLE_EDIT"
                 hide-footer>
            <div class="add-reference-modal">
                <div class="bzy-form ng-pristine ng-invalid ng-invalid-required ng-valid-email"
                     name="referenceForm">
                    <div class="errors" v-show="form_error" style="">
                        <div class="alert alert-danger" role="alert" type="danger">
                            <div ng-transclude="">
                                <span class="ng-scope">{{messages.SR_033_REFERENCE_MODAL_DES_1}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <h3>{{messages.SR_033_REFERENCE_MODAL_TITLE_NAME}}</h3>
                        <input class="name ng-pristine ng-untouched ng-invalid ng-invalid-required"
                               :placeholder="messages.SR_033_REFERENCE_MODAL_PLACEHOLDER_NAME"
                               name="cName"
                               v-validate="{ required: true }"
                               type="text"
                               :class="errors.has('cEmail') && validate_form ?'error':''"
                               v-model.trim="reference.name"
                               >
                    </div>

                    <div class="email-phone">
                        <div class="section inlineblock">
                            <h3>{{messages.SR_033_REFERENCE_MODAL_TITLE_EMAIL}}</h3>
                            <input
                                name="cEmail"
                                v-validate="'required|email'"
                                type="text"
                                :class="errors.has('cEmail') && validate_form ?'error':''"
                                class="ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required"
                                :placeholder="messages.SR_033_REFERENCE_MODAL_PLACEHOLDER_EMAIL"
                                v-model.trim="reference.email_address">
                        </div>
                        <div class="section inlineblock">
                            <h3>{{messages.SR_033_REFERENCE_MODAL_TITLE_PHONE}}</h3>
                            <input class="phone_number ng-pristine ng-untouched ng-valid"
                                   type="text" :placeholder="messages.SR_033_REFERENCE_MODAL_PLACEHOLDER_PHONE"
                                   v-model.trim="reference.phone_number">
                        </div>
                    </div>

                    <div class="section">
                        <div class="reference-type">
                            <h3>{{messages.SR_033_REFERENCE_MODAL_TITLE_REFERENCE_TYPE}}</h3>
                            <ul>
                                <li>
                                    <label> <input type="radio"
                                                   name="type"
                                                   value="professional"
                                                   style="margin-right: 5px;"
                                                   v-model="reference.type"
                                                   class="ng-pristine ng-untouched ng-invalid ng-invalid-required"
                                              >
                                        <span> {{messages.SR_033_REFERENCE_MODAL_TITLE_REFERENCE_PRO}}</span>
                                    </label>
                                </li>
                                <li>
                                    <label> <input type="radio"
                                                   name="type"
                                                   value="personal"
                                                   v-model="reference.type"
                                                   style="margin-right: 5px;"
                                                   class="ng-pristine ng-untouched ng-invalid ng-invalid-required">
                                        <span> {{messages.SR_033_REFERENCE_MODAL_TITLE_REFERENCE_PERSONAL}}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="btn btn-blue" :disabled="dissable_submit" type="submit" @click="updateCandidate()" >
                            <i class="fa fa-save"></i><span> {{messages.SR_033_REFERENCE_MODAL_SAVE}}</span></button>
                    </div>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex'
    import _ from 'lodash'
    import VeeValidate from 'vee-validate';
    import moment from 'moment'
    import {server_time} from "@/firebase";
    Vue.use(VeeValidate);
    export default {
        name: "Refereces",
        data(){
            return {
                candidate:{},
                form_error:false,
                validate_form:false,
                dissable_submit:false,
                type:'',
                current_index_edit:'',
                reference:{
                    name:"",
                    email_address:"",
                    phone_number:"",
                    type:"",
                    created_at:"",
                },
                new_reference: {
                    name:"",
                    email_address:"",
                    phone_number:"",
                    type:"",
                    created_at:"",
                },
            }
        },
        computed:{
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate"
            ])
        },
        watch:{
            // currentCandidate:{
            //     handler(val,old_val){
            //          debugger
            //         let that = this as any
            //         if(val){
            //             that.candidate = _.cloneDeep(val)
            //         }
            //     },deep: true
            // },

        },
        mounted(){

        },
        methods:{
            addReference(){
                let that = this as any
                that.type = 'add'
                that.showModal()
            },
            editReference(index){
                let that = this as any
                that.type = 'edit'
                that.current_index_edit = index
                that.showModal()
            },
            showModal(){
                let that = this as any
                that.validate_form = false
                that.dissable_submit = false
                that.form_error = false
                let current_reference = _.cloneDeep(that.new_reference)
                that.candidate = _.cloneDeep(that.currentCandidate)
                switch (that.type) {
                    case 'add':
                        break
                    case 'edit':
                        if(that.current_index_edit < that.candidate.references.length){
                            current_reference = that.candidate.references[that.current_index_edit]
                        }
                        break
                    default:
                        break
                }
                Object.assign(that.reference,current_reference)
                that.$refs['add-refereces'].show()
            },
            calculateTime(timestamp: number): string {
                return moment(timestamp).locale("vi-vn").fromNow();
            },
            toggleReference(e){
                let el = e
                let is_close = el.currentTarget.classList.contains('closed')

                switch (is_close) {
                    case true:
                        el.currentTarget.classList.remove('closed');
                        el.currentTarget.classList.add('open');
                        break;
                    case false:
                        el.currentTarget.classList.remove('open');
                        el.currentTarget.classList.add('closed');
                        break;
                    default:
                        break;
                }
            },
            updateReferens(){
                let that = this as any
                switch (that.type) {
                    case 'add':
                        that.candidate.references.push(that.reference)
                        that.reference.created_at = server_time.now.valueOf();
                        break
                    case 'edit':
                        Object.assign(that.candidate.references[that.current_index_edit],that.reference)
                        break
                    default:
                        break
                }
                that.currentCandidate.references = that.candidate.references
            },
            updateCandidate(){
                let that = this as any
                that.validate_form = true
                that.form_error = false
                that.dissable_submit = true
                that.$validator.validateAll().then((result)=>{
                    if(result && that.reference.type){
                        that.updateReferens()
                        that.currentCandidate.update().then((data) => {
                            that.$refs['add-refereces'].hide()
                            that.dissable_submit = false
                        })
                    }else {
                        that.form_error = true
                        that.dissable_submit = false
                    }

                })

            }
        }
    }
</script>

<style scoped lang="scss">
    .add-reference-modal{
        .section{
            .name{
                width: 50% !important;
            }
            h3{
                margin-bottom: 5px;
                font-weight: 400;
                font-size: 16px !important;
            }
        }
        .email-phone{
            display: flex;
            .inlineblock{
                width: 100%;
                margin-right: 10px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    #reference{
        .original{
            .header-reference{
                display: flex;
                justify-content: space-between;
                a{
                    height: 24px !important;
                }
                h1{
                    font-size: 20px !important;
                    margin-bottom: 10px !important;
                    color: #4c555c;
                }
            }
        }
        .mg-r-10{
            margin-right: 10px;
        }
        .references{
            white-space: pre-line;
        }
        .references{
            .reference-container {
                margin-bottom: 10px;
                .reference{
                    padding: 10px;
                    cursor: pointer;
                    background: #fafafa;
                    border: 1px solid #edeff0;
                    border-radius: 4px;
                    border-bottom-color: transparent;
                    h3{
                        font-size: 16px !important;
                        margin: 0px !important;
                    }
                    .actions{
                        float: right;
                        display: inline-block;
                        cursor: pointer;
                        color: #4c555c;
                        font-size: 10px;
                    }
                    p.creator{
                        margin: 0px !important;
                    }
                }
            }
            .open{
                .candidate-experience {
                    padding: 20px;
                    border: 2px solid #edeff0;
                    border-radius: 0px 0px 4px 4px;
                    margin-bottom: 10px;
                    border-top-color: transparent;
                    .default-items{
                        .question-item.experience-item{
                            margin-top: 20px;
                            margin-bottom: 30px;
                            h3 {
                                font-weight: 400;
                                line-height: 1.5;
                                color: #4c555c;
                                margin-bottom: 10px;
                                font-size: 14px !important;
                            }
                            .question-response{
                                p{
                                    font-size: 14px;
                                    line-height: 1.5;
                                    font-weight: 200;
                                }
                            }
                            &:last-child{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            .closed{
                .candidate-experience {
                    display: none;
                }
            }

        }


    }
</style>
