<template>
    <div class="content-section candidate-resume ng-scope"
         ng-class="pdfEmbedFullScreen === true ? 'pdf-fullscreen' : ''"
         ng-if="activeTabLeft == 'resume'">

        <div
            accept=".abw, .djvu, .doc, .docm, .docx, .html, .lwp, .md, .odt, .pages, .pages.zip, .pdf, .rst, .rtf, .sdw, .tex, .txt, .wpd, .wps, .zabw"
            class="btn btn-blue btn-xs attach-file ng-pristine ng-untouched ng-valid ng-scope"
            ng-file-change="onResumeFileSelect($files)"
            ng-file-select="ng-file-select"
            ng-if="!resumeUploading && position.is_admin"
            ng-model="myFiles" style="overflow: hidden;"
            type="file"><i class="fas fa-cloud-upload-alt"></i>
            <span class="ng-scope"
                  @click="$refs.uploadFileResume.click()"> {{messages.SR_033_UPDATED_RESUME}}</span>
            <input
                accept=".abw, .djvu, .doc, .docm, .docx, .html, .lwp, .md, .odt, .pages, .pages.zip, .pdf, .rst, .rtf, .sdw, .tex, .txt, .wpd, .wps, .zabw"
                ng-file-generated-elem="true"
                ref="uploadFileResume"
                @change="showFileSelector($event.target.files)"
                style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;"
                tabindex="-1"
                type="file">
        </div>
        <div  v-if="submit_form" class="uploading-resume ng-scope">
            <i class="fa fa-circle-notch fa-spin"></i><span> {{messages.SR_033_UPLOADING}}</span>
        </div>

        <a class="download-resume ng-scope"
           :href="currentCandidate.resume.url"
           v-if="currentCandidate.resume.url && !submit_form"
           target="_blank">  <i class="fas fa-cloud-download-alt"></i>
            <span> {{messages.SR_033_DOWNLOAD}}</span></a>
        <h1 class="section-header">{{messages.SR_033_TITLE_RESUME}}</h1>

        <iframe v-if="currentCandidate.resume.url"
                class="ng-scope"
                allowfullscreen
                frameborder="0"
                iframe-resize="iframe-resize"
                :src="'https://docs.google.com/gview?url='+ encoder_url + '&embedded=true'"
                style="height: 714px;"></iframe>
        <div v-else class="empty-state ng-scope" ng-if="!pdfEmbed">
            <i class="fa fa-file-alt"></i>
            <p>{{messages.SR_033_DES_NO_RESUME}}</p>
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from "vue";
    import {fauth, fstorage} from '@/firebase';
    import {mapGetters, mapActions} from 'vuex'
    import _ from 'lodash'
    export default {
        name: "Resume",
         data(){
            return {
                submit_form:false
            }
        },
        computed:{
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate"
            ]),
            fix_link () {
                let that = this as any;
                let link = that.currentCandidate.resume.url;
                return link;

            },
            encoder_url(){
                let that = this as any
                return encodeURI(that.currentCandidate.resume.url);
            }

        },

        mounted(){

        },
        methods:{
            ...mapActions(['validateUrlResume']),
             async showFileSelector(file) {
                let that = this as any;
                let validate_type_file_resume = true
                await that.validateUrlResume(file[0].name).then((data)=>{
                    validate_type_file_resume = data
                })
                if(validate_type_file_resume) {
                    that.submit_form = true
                    let company_id = that.currentCompany.id
                    let file_name_up = company_id + '_' + file[0].name;
                    let upload = fstorage.ref('image/candidate/' + company_id + '/' + file_name_up).put(file[0])
                    upload.on('state_changed', sp => {
                            if (sp.bytesTransferred = sp.totalBytes) {
                            }
                        }, null,
                        () => {
                            upload.snapshot.ref.getDownloadURL().then(downloadUrl => {
                                that.currentCandidate.resume.url = downloadUrl
                                that.currentCandidate.resume.pdf_url = downloadUrl
                                that.$refs.uploadFileResume['value'] = null
                                that.currentCandidate.update()
                                that.submit_form = false
                            })
                        })
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    .candidate-view-container {
        .candidate-content {
            h1.section-header {
                font-size: 20px !important;
            }
        }
    }

</style>
