<template>
    <div class="content-section candidate-scorecards">
        <section class="section candidiate-scorecards-container">
            <h1 class="section-header">{{messages.SR_038_SCORECARDS}}</h1>
            <div class="scorecard-overview-container " v-if="overallScorecard.scored_count == 0">
                <div class="section">
                    <p>{{messages.SR_038_NO_SCORECARDS}}</p>
                </div>
            </div>
            <div class="scorecard-overview-container">
                <div class="section" v-if="overallScorecard.scored_count > 0">
                    <span class="score lg"
                    :class="{'good': overallScorecard.score > 0,
                            'poor': overallScorecard.score < 0,
                            'neutral': overallScorecard.score === 0 }">
                            {{overallScorecard.score}}</span>
                    <div class="completed">
                        <h2>{{messages.SR_038_SUBMITTED_BY}}</h2>
                        <ul class="users">
                            <li class="user" :key="userScorecards.id" v-for="userScorecards in candidateScorecards" style="vertical-align: top;"
                                v-b-tooltip.hover.bottom :title="userScorecards.acting_user.name" data-container="body">
                                <avatar class="avatar color4" :size="26" :username="userScorecards.acting_user.name"  :src="userScorecards.acting_user.photoURL"></avatar>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="section overall-rating" v-if="overallScorecard.scored_count > 0">
                    <h2>{{messages.SR_038_OVERALL_RATING}}</h2>
                    <table class="data-overview-container">
                        <tbody>
                        <tr class="Team Scorecardsoverview-score very_good">
                            <td class="name">
                                <span>{{messages.SR_038_VERY_GOOD}}</span>
                            </td>
                            <td class="count">
                                <span class="ng-binding">{{overallScorecard.very_good.length }}</span>
                            </td>
                            <td class="graph">
                                <div class="bar very_good">
                                    <div class="line" :style="{'width': per_very_good +'%'}"></div>
                                </div>
                            </td>
                            <td class="percentage"><span class="ng-binding">{{per_very_good}}%</span></td>
                        </tr>
                        <tr class="overview-score good">
                            <td class="name">
                                <span>{{messages.SR_038_GOOD}}</span>
                            </td>
                            <td class="count">
                                <span>{{overallScorecard.good.length}}</span>
                            </td>
                            <td class="graph">
                                <div class="bar good">
                                    <div class="line" :style="{'width': per_good +'%'}"></div>
                                </div>
                            </td>
                            <td class="percentage">
                                <span>{{per_good}}%</span>
                            </td>
                        </tr>
                        <tr class="overview-score neutral">
                            <td class="name">
                                <span>{{messages.SR_038_NEUTRAL}}</span>
                            </td>
                            <td class="count">
                                <span class="ng-binding">{{overallScorecard.neutral.length}}</span>
                            </td>
                            <td class="graph">
                                <div class="bar neutral">
                                    <div class="line" :style="{'width': per_neutral +'%'}"></div>
                                </div>
                            </td>
                            <td class="percentage">
                                <span>{{per_neutral}}%</span>
                            </td>
                        </tr>
                        <tr class="overview-score poor">
                            <td class="name">
                                <span>{{messages.SR_038_POOR}}</span>
                            </td>
                            <td class="count">
                                <span>{{overallScorecard.poor.length}}</span>
                            </td>
                            <td class="graph">
                                <div class="bar poor">
                                    <div class="line" :style="{'width': per_poor +'%'}"></div>
                                </div>
                            </td>
                            <td class="percentage">
                                <span>{{per_poor}}%</span>
                            </td>
                        </tr>
                        <tr class="overview-score very_poor">
                            <td class="name">
                                <span>{{messages.SR_038_VERY_POOR}}</span>
                            </td>
                            <td class="count">
                                <span class="ng-binding">{{overallScorecard.very_poor.length}}</span>
                            </td>
                            <td class="graph">
                                <div class="bar very_poor">
                                    <div class="line" :style="{'width': per_very_poor +'%'}"></div>
                                </div>
                            </td>
                            <td class="percentage"><span>{{per_very_poor}}%</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="section scorecard-criteria" v-show="overallScorecard.scored_count > 0" :key="idx_section" v-for="(section,idx_section) in scorecardPosition.sections">
                    <h2>{{section.section_name}}</h2>
                    <ul class="criteria">
                        <li class="item" :key="idx_criteria" v-for="(item,idx_criteria) in section.list_criteria">
                            <table class="data-overview-container">
                                <tbody>
                                <tr class="overview-score">
                                    <td class="section-item">
                                        <span>
                                            <strong>{{item.criteria_name}}</strong>
                                        </span>
                                    </td>
                                    <td class="results-list">
                                        <ul class="results">
                                            <li class="button-item" :key="idx" v-for="(user,idx) in getCriteriaScore('very_poor', idx_section, idx_criteria)"
                                                v-b-tooltip.hover.bottom :title="user.acting_user.name" data-container="body">
                                                <span class="result poor very">
                                                    <i class="fa fa-thumbs-down"></i>
                                                    <i class="fa fa-thumbs-down"></i>
                                                </span>
                                            </li>

                                            <li class="button-item" :key="idx" v-for="(user,idx) in getCriteriaScore('poor', idx_section, idx_criteria)"
                                                v-b-tooltip.hover.bottom :title="user.acting_user.name" data-container="body">
                                                <span class="result poor">
                                                    <i class="fa fa-thumbs-down"></i>
                                                </span>
                                            </li>

                                             <li class="button-item" :key="idx" v-for="(user,idx) in getCriteriaScore('neutral', idx_section, idx_criteria)"
                                                v-b-tooltip.hover.bottom :title="user.acting_user.name" data-container="body">
                                                <span class="result neutral" >
                                                    <i class="fa fa-circle"></i>
                                                </span>
                                            </li>

                                            <li class="button-item" :key="idx" v-for="(user,idx) in getCriteriaScore('good', idx_section, idx_criteria)"
                                                v-b-tooltip.hover.bottom :title="user.acting_user.name" data-container="body">
                                                <span class="result good">
                                                    <i class="fa fa-thumbs-up"></i>
                                                </span>
                                            </li>

                                            <li class="button-item" :key="idx" v-for="(user,idx) in getCriteriaScore('very_good', idx_section, idx_criteria)"
                                                v-b-tooltip.hover.bottom :title="user.acting_user.name" data-container="body">
                                                <span class="result good very" >
                                                    <i class="fa fa-thumbs-up"></i>
                                                    <i class="fa fa-thumbs-up"></i>
                                                </span>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>


                <div class="section" v-if="overallScorecard.scored_count > 0">
                    <h2>{{messages.SR_038_SCORECARDS_FEEDBACK}}</h2>
                    <p v-if="checkScorecards.length == 0">{{messages.SR_038_NO_SCORECARD_NO_FEEDBACK}}</p>
                    <div v-else class="activity-stream-container">
                        <ul class="activity-stream">
                            <li class="activity-container" :key="idx" v-for="(scorecardFeedback, idx) in candidateScorecards" v-show="scorecardFeedback.scorecard.note">
                                <div class="activity notepad" >
                                    <div class="activity-object">
                                        <avatar :size="26" class="sm avatar color4" :username="scorecardFeedback.acting_user.name"  :src="scorecardFeedback.acting_user.photoURL"></avatar>
                                        <div class="activity-info">
                                            <div class="activity-header">
                                                <p class="author-name">{{scorecardFeedback.acting_user.name}}</p>
                                            </div>
                                            <div class="activity-body">
                                                <p>{{scorecardFeedback.scorecard.note}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="timeline">
                            <div class="end"></div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h2>{{messages.SR_038_NOTES}}</h2>
                    <p v-if="teamNotes.length == 0">{{messages.SR_038_NO_NOTES_PUBLIC}}</p>
                    <div class="activity-stream-container">
                        <ul class="activity-stream notepad" :key="idx" v-for="(noteObj,idx) in teamNotes">
                            <li class="activity-container">
                                <div class="activity notepad">
                                    <div class="activity-object">
                                        <avatar :size="26" class="avatar color4" :username="noteObj.actor.name"  :src="noteObj.actor.photoURL"></avatar>
                                        <div class="activity-info">
                                            <div class="activity-header">
                                                <p class="author-name ng-binding">{{noteObj.actor.name}}</p>
                                            </div>
                                            <div class="activity-body default-css">
                                                <div>
                                                    <p>{{noteObj.content}}</p>
                                                </div>
                                            </div>
                                            <div class="activity-footer">
                                                <div class="activity-attachments" v-if="noteObj.attachments.length > 0">
                                                    <ul class="attachments">
                                                        <!-- ngRepeat: attachment in ::note.attachments -->
                                                        <li class="attachment custom-length-name" :key="idx" v-for="(attachment,idx) in noteObj.attachments">
                                                            <a :href="attachment.url"
                                                               target="_blank">
                                                                <strong class="attachment ng-binding">{{attachment.name}}</strong>
                                                            </a>
                                                            <i class="fa fa-paperclip ml-2"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="meta-data">
                                                    <li>
                                                        <i class="fa fa-clock"></i>
                                                        <span class="timestamp"
                                                              v-b-tooltip.hover.bottom
                                                              :title="noteObj.updated_date | tooltipTime"
                                                              data-container="body">{{noteObj.updated_date | timeCreate}}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="timeline">
                            <div class="end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import {fstorage} from '@/firebase';
    import {mapGetters, mapMutations,mapActions} from "vuex";
    import moment from 'moment';
    import avatar from 'vue-avatar';
    import _ from 'lodash'

    export default Vue.extend({
        data(){
            return{

            }
        },
        components:{
          avatar
        },
        filters: {
            tooltipTime: function(value){
                return moment(value).format('L [@] h:mm:ss a');
            },
            timeCreate: function (value) {
                return moment(value).format("h:mm:ss a");
            },

        },
        computed: {
            ...mapGetters([
                'candidateScorecards',
                "currentCandidate",
                'teamNotes',
                'scorecardPosition'
            ]),
            candidate_id(): string {
                return this.$route.params.candidate_id;
            },
            overallScorecard() {
                let that = this as any;
                return that.currentCandidate.overall_score;
            },
            per_very_good() {
                let that = this as any;
                if (that.overallScorecard.very_good.length == 0) {
                    return 0;
                }
                return (that.overallScorecard.very_good.length / that.overallScorecard.scored_count * 100).toFixed(2);
            },
            per_good() {
                let that = this as any;
                if (that.overallScorecard.good.length == 0) {
                    return 0;
                }
                return (that.overallScorecard.good.length / that.overallScorecard.scored_count * 100).toFixed(2);
            },
            per_neutral() {
                let that = this as any;
                if (that.overallScorecard.neutral.length == 0) {
                    return 0;
                }
                return (that.overallScorecard.neutral.length / that.overallScorecard.scored_count * 100).toFixed(2);
            },
            per_poor() {
                let that = this as any;
                if (that.overallScorecard.poor.length == 0) {
                    return 0;
                }
                return (that.overallScorecard.poor.length / that.overallScorecard.scored_count * 100).toFixed(2);
            },
            per_very_poor() {
                let that = this as any;
                if (that.overallScorecard.very_poor.length == 0) {
                    return 0;
                }
                return (that.overallScorecard.very_poor.length / that.overallScorecard.scored_count * 100).toFixed(2);
            },
            checkScorecards(){
                let that = this as any;
                let countNote = _.sumBy(that.candidateScorecards, (item: any)=>{
                    return item.scorecard.note
                });
                return countNote
            }
        },
        mounted(){
            let that = this as any;
            that.getCandidateScorecards(that.candidate_id).then(()=>{
                that.getPublicNotes(that.candidate_id);
            })
        },
        methods: {
            ...mapActions([
                'getPublicNotes',
                'getCandidateScorecards'
            ]),
            getCriteriaScore(type, idx_section, idx_criteria) {
                let  that = this as any;
                return that.candidateScorecards.filter((item) => {
                    return item.scorecard.sections[idx_section].list_criteria[idx_criteria].score == type;
                });
            }

        }
    });

</script>
<style lang="scss" scoped>
    .custom-length-name {
        width: 100%;
        word-break: break-all;
        margin-bottom: 5px !important;
    }
    .section.scorecard-criteria {
        .item {
            border: 1px solid #edeff0;
            border-radius: 4px;
            padding: 5px 10px;
            margin-bottom: 10px;

        }
        .data-overview-container tbody tr {
            border: none;
        }

    }
    .section.overall-rating {
        .data-overview-container {
            border: 1px solid #edeff0;
            border-radius: 4px;

            tbody{
                tr {
                    td {
                        padding: 10px;
                    }
                }
            }
        }

    }

</style>
