<template>
    <div class="candidate-activity candidate-tasks content-section" style="border: none">
        <div class="section">
            <div class="feature-blocker">
                <div class="blocker ng-hide"></div>
                <div class="original">
                    <create-task
                        :showModal="showModal"
                        @handleClose="showModal=false"
                        @createdTaskAssigee="createdTaskCandidate"
                    >
                    </create-task>
                    <a class="btn btn-blue btn-xs add-task" href="javascript:void(0)" @click="newTask()">
                        <i class="fa fa-plus mr-1"></i>
                        <span>{{messages.SR_038_ADD_TASK}}</span>
                    </a>
                    <h1 class="section-header">
                        <div class="dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                 aria-expanded="false">
                                <span class="segment-name">{{filter_field=='assignee_id'?messages.SR_038_MYTASK:messages.SR_038_CREATED_TASKS}}</span>
                                <span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu dropdown-menu-left" role="menu">
                                <li class="dropdown-item" @click="setTaskCandidate('assignee_id')">{{messages.SR_038_MYTASK}}</li>
                                <li class="dropdown-item" @click="setTaskCandidate('created_by')">{{messages.SR_038_CREATED_TASKS}}</li>
                            </ul>
                        </div>
                    </h1>
                    <div v-if="loading" class="tasks-content">
                        <vcl-code></vcl-code>
                    </div>
                    <div class="activity-stream-container">
                        <div class="empty-state" v-if="!loading && tasksCandidate.length == 0">
                            <i class="fa fa-check-square mr-1"></i>
                            <p>{{messages.SR_038_NO_TASKS}} {{currentCandidate.name}}</p>
                        </div>
                    </div>
                    <div class="activity-stream-container" v-if="!loading && tasksCandidate.length > 0">
                        <div class="tasks-content">
                            <ul class="activity-stream task-list">
                                <li class="activity-container task-upcoming" :class="getClassTask(task)" :key="task.id" v-for="task in orderCandidateTask">
                                    <div class="activity task" :id="task.id">
                                        <div class="activity-type" v-show="task.is_done">
                                            <i class="fa fa-check inactive"></i>
                                        </div>
                                        <div class="activity-type" v-show="!task.is_done"
                                             @click="completeTask(task)" v-b-tooltip.hover.top :title="messages.SR_038_MARK_COMPLETE">
                                            <i class="fa fa-check inactive" style="right: 5.2px;"></i>
                                            <i class="fa fa-refresh fa-spin active"></i>
                                        </div>
                                        <ConfirmCompleteTaskCandidate
                                            @handleSaveChange="handleSaveChange"
                                            @handleClose="handleCloseModalConfirm"
                                            :showModal="ConfirmTaskCandidate">
                                        </ConfirmCompleteTaskCandidate>
                                        <div>
                                            <div class="activity-object">
                                                <div class="activity-info" @click="navigateToTask(task.id)">
                                                    <div class="activity-body">
                                                        <p class="title ng-binding">{{task.title}}</p>
                                                        <ul class="actions">
                                                            <li class="action">
                                                                    <span class="datetime">
                                                                    <i class="fa fa-clock"></i>
                                                                    <span class="mr_1">{{messages.SR_038_DUE}} </span>
                                                                    <span>{{task.deadline | deadlineTask}}</span>
                                                                </span>
                                                            </li>
                                                            <li class="action">
                                                                    <span>
                                                                        <i class="fa fa-user mr-2"></i>
                                                                        <span v-if="task.assignee.id == currentUser.id">{{messages.SR_038_YOU}}</span>
                                                                        <span v-else>{{task.assignee.name}}</span>
                                                                   </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapMutations, mapActions} from 'vuex';
    import Task from "@/models/Task";
    import ConfirmCompleteTaskCandidate from '../../../modals/Candidate/ConfirmCompleteTaskCandidate.vue';
    import $ from "jquery";
    import moment from 'moment';
    import _ from 'lodash';
    import {VclCode, VclFacebook} from 'vue-content-loading';
    import {server_time} from "@/firebase";

    export default Vue.extend({
        components: {
            VclCode,
            ConfirmCompleteTaskCandidate
        },
        data() {
            return {
                loading: true,
                showModal: false,
                filter_field: 'assignee_id',
                ConfirmTaskCandidate: false,
                completeTaskCandidate: null
            }
        },
        computed: {
            ...mapGetters([
                'currentUser',
                'currentCompany',
                'currentCandidate',
                'tasksCandidate',
                'companyUser'
            ]),
            candidate_id(): string {
                return this.$route.params.candidate_id;
            },
            orderCandidateTask() {
                let that = this as any;
                return _.orderBy(that.tasksCandidate, "_deadline")
            },
        },
        mounted() {
            let that = this as any;
            that.getTasksCandidate({
                filter_field: that.filter_field,
                value: that.currentUser.id,
                candidate_id: that.candidate_id
            }).then(() => {
                that.loading = false;
            })
        },
        filters: {
            deadlineTask: function (value) {
                return moment(value).format('L');
            },
        },
        methods: {
            ...mapActions([
                'createdTasks',
                'getTasksCandidate',
                'updateTaskAction',
                'markCompleteTask',
                'hideMyTaskIsDone',
                'unsubscribeCandidateTasks'
            ]),
            navigateToTask(id) {
                let that = this as any;
                if (id) {
                    that.$router.push(`/tasks/${id}`);
                }
            },
            getClassTask(task) {
                let today = moment(server_time.now).format("YYYY-MM-DD");
                let deadline = moment(task.deadline).format("YYYY-MM-DD");
                if (deadline < today) {
                    return ['task-overdue'];
                } else if (deadline == today) {
                    return ['task-today'];
                } else if (deadline > today) {
                    return ['task-upcoming'];
                }
                return []
            },
            setTaskCandidate(value) {
                let that = this as any;
                that.filter_field = value;
                if (value) {
                    that.getTasksCandidate({
                        filter_field: that.filter_field,
                        value: that.currentUser.id,
                        candidate_id: that.candidate_id
                    })
                } else {
                    that.getTasksCandidate({
                        filter_field: that.filter_field,
                        value: that.currentUser.id,
                        candidate_id: that.candidate_id
                    })
                }
            },
            newTask() {
                let that = this as any;
                that.showModal = true
            },
            createdTaskCandidate(e) {
                let that = this as any;
                e.task.add_log.push({
                    timeUpdate: server_time.now,
                    title: that.messages.SR_009_CREATED_TASK,
                    created_by: that.currentUser.cloneNewObject()
                });
                e.task.candidate_id = that.candidate_id;
                if (that.currentCandidate.position._id) {
                    e.task.position_id = that.currentCandidate.position._id
                }
                that.createdTasks(e).then(() => {
                    that.getTasksCandidate({
                        filter_field: that.filter_field,
                        value: that.currentUser.id,
                        candidate_id: that.candidate_id,
                    }).then(() => {
                        that.loading = false;
                    })
                });
            },
            completeTask(task) {
                let that = this as any;
                that.completeTaskCandidate = task;
                that.ConfirmTaskCandidate = true
            },
            handleSaveChange() {
                let that = this as any;
                $('#' + that.completeTaskCandidate.id).addClass('active');
                setTimeout(function () {
                    that.markCompleteTask({task: that.completeTaskCandidate, user: that.currentUser}).then(() => {
                        $('#' + that.completeTaskCandidate.id).removeClass('active');
                        $('#' + that.completeTaskCandidate.id).addClass('inactive');
                        that.hideMyTaskIsDone(that.completeTaskCandidate)
                    });
                }, 2000);
                that.ConfirmTaskCandidate = false;
            },
            handleCloseModalConfirm() {
                let that = this as any;
                that.ConfirmTaskCandidate = false;
            },
            destroyed(): void {
                let that = this as any;
                if (that.unsubscribeCandidateTasks) {
                    that.unsubscribeCandidateTasks();
                }
            }
        }
    });
</script>
<style lang="scss">
    @import "~styles/_task.scss";
    @import "~styles/position_activity";
    @import "~styles/stream";

    .candidate-tasks {
        .dropdown-menu {
            border: 2px solid #dedede;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            /*display: none;*/
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        }
    }

</style>
