<template>

    <b-modal
        v-model="showModal"
        :title="messages.SR_032_MSG_ADD_CANDIDATES"
        @show="resetData"
        @hidden="resetData"
        no-close-on-backdrop no-close-on-esc

    >
        <div class="upload-candidate" v-if="creating_or_done">
            <div class="hero">
                <i class="fa fa-cog fa-spin"></i>
                <div class="" >
                    <h1>{{ messages.SR_032_MSG_ADDING_CANDIDATE }}</h1>
                    <p>{{ messages.SR_032_MSG_INFO_ON_ADD_CANDIDATE }}</p>
                </div>
            </div>
        </div>

        <div class="upload-candidate" v-if="!creating_or_done">
            <div class="p-3" v-if="step === steps.selectType">

                <p>{{ messages.SR_032_MSG_OPTIONS_HINT }}</p>
                <div class="section text-center">
                     <b-alert :show="file_type_error"
                      variant="danger">{{ messages.SR_032_MSG_FILE_TYPE_ERROR }}</b-alert>

                    <label class="upload button blue large "   style="overflow: hidden;" >
                        <i class="fa fa-upload"></i> <span>{{ messages.SR_032_BTN_TEXT_IMPORT_FROM_EXCEL }}</span>
                        <!-- <input type="file"  @change="onFileChange" accept=".xlsx, .xls,"
                         tabindex="-1" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;"> -->
                         <vue-xlsx-table @on-select-file="handleSelectedFile" @change.native="onFileChangeNative" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;"></vue-xlsx-table>
                    </label>
                    <hr>

                    <!-- https://stackoverflow.com/questions/48015954/how-to-download-a-locally-stored-file-in-vuejs -->
                    <a :href="templateUrl" download>{{messages.SR_032_IMPORT_CANDIDATES_SAMPLE_TEMPLATE}} <i class="fas fa-file-download"></i></a>

                </div>
                <div class="divider"><div class="line"></div><span>{{messages.COMMON_OR_DEFAULT}}</span></div>
                <div class="section">
                    <b-form @submit.stop.prevent="handleBtnContinue" ref="form">
                        <section>
                            <h2>{{ messages.SR_032_TEXT_ADD_CANDIDATE_MANUALLY }}</h2>
<!--                            <b-form-input-->
<!--                                :placeholder="messages.SR_032_MSG_PLACEHOLDER_NAME_REQUIRED"-->
<!--                                :required="true"-->
<!--                                :state="nameState"-->
<!--                                v-model="candidate.name"-->
<!--                                trim-->
<!--                                :invalid-feedback="messages.SR_032_MSG_ERROR_NAME_REQUIRED"-->
<!--                            ></b-form-input>-->
                            <b-form-input
                                :placeholder="messages.SR_032_MSG_PLACEHOLDER_NAME_REQUIRED"
                                :required="true"
                                :state="nameState"
                                v-model="candidate.name"
                                :formatter="formatName"
                                lazy-formatter
                                :invalid-feedback="messages.SR_032_MSG_ERROR_NAME_REQUIRED"
                            ></b-form-input>

                            <div class="row my-3">
                                <div class="col-md-6">
                                    <b-form-input v-model="candidate.email_address" :placeholder="messages.SR_032_MSG_PLACEHOLDER_EMAIL"></b-form-input>
                                </div>
                                <div class="col-md-6">
                                    <b-form-input v-model="candidate.phone_number" :placeholder="messages.SR_032_MSG_PLACEHOLDER_PHONE_NUMBER"></b-form-input>
                                </div>
                            </div>
                        </section>

                        <section>
                            <h2>{{ messages.SR_032_MSG_LABEL_SUMMARY }}</h2>
                            <b-form-textarea :placeholder="messages.SR_032_MSG_PLACEHOLDER_SUMMARY" v-model="candidate.summary" rows="4" no-resize></b-form-textarea>
                        </section>

                    </b-form>
                </div>
            </div>
            <div class="p-3" v-if="step === steps.selectPosition">
                <b-form ref="position_form">
                    <div class="section" v-if="!addCandidateWithStage.hasOwnProperty('status') || addCandidateWithStage.status == false">
                        <h2>{{ messages.SR_032_MSG_LABEL_SELECT_POSITION }}</h2>
                        <p >{{ messages.SR_032_MSG_HINT_SELECT_POSITION }}</p>





                        <Select
                            v-model="selected_position"
                            filterable
                            @change="onSelectPosition"
                            default-first-option
                            popper-class="select_position"
                            :no-match-text="messages.SR_032_TEXT_NOT_FOUND"

                                value-key="value"

                            autocomplete
                            :placeholder="messages.SR_032_LABEL_CHOOSE_POSITION">
                            <Option
                                v-for="item in position_options"
                                v-if="item.status != 'archived'"
                                :key="item.value"
                                :label="item.text"
                                :value="item.value">

                                <div class="ui-select-choices-row-inner">
                                    <div class="card position">

                                        <div class="card-box position">
                                            <h3>
                                                <i class="fa fa-circle"
                                                   :class="{ published:item.status==='published', draft:item.status==='draft', closed: item.status==='closed' }"></i>
                                                <span> {{ item.title }}</span>
                                            </h3>
                                            <div class="">
                                                <p>
                                                    <i class="fa fa-map-marker-alt" ></i><span> {{ item.formated_location }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </Option>
                        </Select>

                    </div>
                    <div class="section add-candidate-stage" v-if="selected_position || (addCandidateWithStage.status == true && addCandidateWithStage.position)">
                        <p class="" v-if="!addCandidateWithStage.stage">{{ messages.SR_032_MSG_HINT_SELECT_STAGE }}</p>
                        <b-form-select v-if="!addCandidateWithStage.stage"
                            v-model="selected_pipeline_stage"
                        >
                            <option v-if="option.stage_type != 'missing'" v-for="option in pipeline_stage_options" :value="option.value">{{option.text}}</option>
                        </b-form-select>
                        <div class="section" v-if="showTriggerActionsOptions">
                            <p >{{ messages.SR_032_HINT_PIPELINESTAGE_HAS_ACTION }}<br>
                                <span>{{ messages.SR_032_TEXT_QUESTION_TRIGGER_PIPELINESTAGE_ACTION }}</span>
                            </p>
                            <div class="bzy-switch" >
                                <label>
                                    <input type="radio" v-model="enable_pipelinestage_actions"  :value="true">
                                    <span class="bzy-option"><span class="bzy-name">{{messages.COMMON_YES}}</span></span>
                                </label>
                                <label>
                                    <input type="radio" v-model="enable_pipelinestage_actions" :value="false">
                                    <span class="bzy-option"><span class="bzy-name">{{messages.COMMON_NO}}</span></span>
                                </label>
                            </div>
                        </div>

                    </div>


                </b-form>
            </div>
            <div class="candidates-import" v-if="step === steps.selectMap">
                <b-form>
                    <div class="header">
                        <h2 class="subheader">{{ messages.SR_032_HEADING_COLUMN_MAPPING }}</h2>
                        <p>{{ messages.SR_032_HINT_COLUMN_MAPPING }}</p>
                    </div>
                    <div class="excel-table">
                        <b-table striped hover :items="table_items" :fields="excel_table_field"></b-table>
                    </div>
                    <div class="actions clearfix">
                        <div class="left">
                            <div class="csv-file">
                                <i class="fa fa-paperclip"></i>
                                <span v-b-tooltip.hover.bottom :title="filename"> {{ filename }}</span>
                            </div>
                        </div>
                        <div class="right">
                            <button type="button" class="btn btn-blue" @click="chooseImportDestination">
                                <span>{{ messages.SR_032_BTN_TEXT_NEXT_STEP }} </span><i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </b-form>
            </div>
        </div>


        <template slot="modal-footer" slot-scope="{cancel,}" >
            <div v-if="!creating_or_done">
                <div class="footer-container" v-if="step == steps.selectType">
                    <button  class="btn default" @click="cancel" >Đóng</button>
                    <button type="submit" class="btn btn-blue default" @click="handleBtnContinue" >{{ messages.SR_032_BTN_TEXT_CONTINUE }}</button>
                </div>
                <div class="footer-container" v-if="step == steps.selectPosition">
                    <button type="submit" class="btn btn-blue default"
                            @click="create_candidates"
                            v-if="hasInfo || addCandidateWithStage.status == true"><i class="fa fa-plus"></i> {{ messages.SR_032_BTN_TEXT_ADD_CANDIDATE }}</button>
                </div>
            </div>
            <div class="footer-container" v-else>
<!--                <button  class="btn default" >the fk</button>-->
            </div>

        </template>






    </b-modal>

</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapMutations,mapActions} from 'vuex';
    import Position from '@/models/Position'

    import PipelineStage from '@/models/PipelineStage'
    import Candidate from '@/models/Candidate'
    import Component from 'vue-class-component'
    import { Watch } from 'vue-property-decorator'
    import vueXlsxTable from 'vue-xlsx-table'
    import {messages} from '@/messages'
    import PositionPipelineAction from '@/models/PositionPipelineAction'
    import {Select, Option} from 'element-ui';
    import Activity from "@/models/Activity"
    import User from "@/models/User";
    import Company from "@/models/Company";
    import PipelineReport from "@/models/PipelineReport";
    import Pipeline from "@/models/Pipeline";
    import {IPositionCategory} from "@/common/positioncategories";
    import _ from 'lodash';

    // @ts-ignore
    import template_url from '../../assets/templates/CloudjetPotential_Mau_them_ung_vien.xlsx'


    Vue.use(vueXlsxTable, {rABS: false}) //Browser FileReader API have two methods to read local file readAsBinaryString and readAsArrayBuffer, default rABS false


    let steps = {
        selectType:'selectType',
        selectPosition:'selectPosition',
        selectedPosition:'selectedPosition',
        selectStageAction:'selectStageAction',
        selectStage:'selectStage',
        selectMap:'selectMap',
        creating:'creating',
        done:'done',

    }

    let  add_options = {
        form: 'form',
        import: 'import',
    }

    let candidate = {
        name: '',
        email_address: '',
        phone_number: '',
        summary:'',

        company_id: '',
        assignee_id: '',
        photo: '',
        position_id: '',
        pipeline_stage_id:'',

    }

    // The @Component decorator indicates the class is a Vue component
    @Component({
        components: {
            Select,
            Option,
        },
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        computed: {
            ...mapGetters([
                'modals/addCandidate',
                'currentCompany',
                'companyUsers',
                'currentUser',
                'currentCandidates',
                'modals/addCandidateWithStage',
                'listPosition'
            ]),
            addCandidateWithStage(){
                let result = this['modals/addCandidateWithStage'];
                return result;
            },

        },
        methods: {
            ...mapMutations([
                'modals/showAddCandidate',
                'modals/setAddCandidateWithStage'
            ]),
            ...mapActions([
                'sendEmailManagerPosition',
                'doActionSetted'
            ])
        }
    })
    export default class AddCandidateModal extends Vue {
        currentCompany: Company
        currentUser: User
        add_options = add_options
        add_option = add_options.form

        steps = steps
        // step: 'selectType',
        step: string = steps.selectType

        candidate = candidate

        file: File = null

        nameState: string = null


        all_positions = []
        position = null

        // step selectPosition
        selected_position = null
        position_options = [
            // { value: null, text: this.messages.SR_032_LABEL_CHOOSE_POSITION },
        ]
        all_pipeline_stages=[]
        pipeline_stage:PipelineStage = null
        selected_pipeline:Pipeline = null
        selected_pipeline_stage=null
        pipeline_stage_options = []
        enable_pipelinestage_actions: boolean = false
        position_pipeline_actions:PositionPipelineAction = null
        // creating: false,
        file_type_error: boolean = false
        excelConvertedData: any = null

        readonly templateUrl:string=template_url;

        //https://bootstrap-vue.js.org/docs/components/table/#fields-column-definitions-
        excel_table_field=[
            {
                key: 'name',
                // label: 'Name',
                label: messages.SR_032_EXCEL_HEADER_NAME,
                // sortable: true
            },
            {
                key: 'email_address',
                label: messages.SR_032_EXCEL_HEADER_EMAIL_ADDRESS,
                // sortable: false
            },
            {
                key: 'summary',
                label: messages.SR_032_EXCEL_HEADER_SUMMARY,
                // sortable: true,
                // Variant applies to the whole column, including the header and footer
                // variant: 'danger'
            },
            {
                key: 'phone_number',
                label: messages.SR_032_EXCEL_HEADER_PHONE_NUMBER,
                // sortable: false
            },
        ]
        candidates = []


        // https://github.com/kaorun343/vue-property-decorator#-watchpath-string-options-watchoptions---decorator
        @Watch('selected_pipeline_stage')
        onSelectedPipelineStageChange() {
            this.pipeline_stage = this.findObjectById(this.selected_pipeline_stage, this.all_pipeline_stages)

            this.getPositionPipelineActions()

        }


        @Watch('selected_position')
        onSelectedPositionChange(){
            this.position = this.findObjectById(this.selected_position, this.all_positions)
            this.getPositionPipelineActions()
        }

        @Watch('step')
        onStepChange (val, oldVal){
            // form option
            if (val == this.steps.selectPosition){
                if (this.add_option == this.add_options.form){
                    // this.candidates = [JSON.parse(JSON.stringify(this.candidate))]
                    this.candidates = [this.candidate]
                }else{
                    // import type
                    this.candidates=this.table_items
                }
            }

        }


        get showTriggerActionsOptions(){
           return this.position_pipeline_actions && this.position_pipeline_actions.actions && this.position_pipeline_actions.actions.length > 0;
        }

        get showModal() {
            return this['modals/addCandidate'];
        }

        set showModal(val: boolean) {
            let that = this as any
            // if (val === false) this['step'] = 1;
            if (val === false) {
                that.step = that.steps.selectType
                that.file=null

            }
            if (val == false){
                if (Object.keys(that.addCandidateWithStage).length > 0 && that.addCandidateWithStage.hasOwnProperty('status')){
                    that['modals/setAddCandidateWithStage']({
                        status: false,
                        position: null,
                        stage: null,
                    })
                };
            }

            this['modals/showAddCandidate'](val);
        }

        get hasInfo(): boolean {
            return this.selected_position && this.selected_pipeline_stage;
        }

        get filename():string {
            return this.file?this.file.name:''
        }
        get creating_or_done():boolean{
            return (this.step == this.steps.done || this.step == this.steps.creating)
        }

        get table_items(){

            return this.computed_table_items()
        }

        get categoryBySelectedPosition():IPositionCategory{
            // this.selected_position
            if (this.position) {
                return {
                    value: this.position.category.value,
                    name: this.position.category.name,
                }
            }else{
                return {
                    name: '',
                    value: '',
                }
            }

        }

        // methods: {
        //     ...mapMutations([
        //         'modals/showAddCandidate',
        //     ]),

        async getPositionPipelineActions(){
            let that = this;
            if(that.pipeline_stage && that.position){
                await new PositionPipelineAction().getActionsByPositionStage(that.position.id, that.pipeline_stage.id).then((data)=>{
                    that.position_pipeline_actions = data
                })
            }else{
                that.position_pipeline_actions = null
            }
        }

        computed_table_items(){
            let that = this as any
            let items=[]
            let item={}
            if (!this.excelConvertedData)
            {
                return []
            }else{
                let excel_header = this.excelConvertedData.header
                // map excel header with the definded header


                items=this.excelConvertedData.body.map(row_data=>{
                    item = {}
                    that.excel_table_field.forEach((h, index)=>{
                        let key = h.key
                        let excel_key = excel_header[index]
                        item[key]=row_data[excel_key]
                    })
                    return item
                })
                console.log(items)
                return items
            }
        }

         handleSelectedFile (convertedData) {
            let that = this as any;
             // only handle when onFileChangeNative recognized valid file
            if (that.file){
                 //  alert('handleSelectedFile')
                console.log(convertedData)
                that.excelConvertedData = convertedData




                that.$nextTick(()=>{
                    const g1=_.groupBy(that.table_items, (item)=>_.trim(item.email_address).toLowerCase());
                    const is_duplicated_email:boolean  = _.some(g1, (items:string[], email:string)=>(email && items.length>1));
                    const is_empty_name:boolean  = _.some(that.table_items, (item)=>(!_.trim(item.name)));
                    if(is_empty_name){
                        that.$alert(
                            `<h1 style="font-size:19px !important;">Tên ứng viên trong file không được để trống!</h1>
                               <h2 style="font-size:19px !important;">Vui lòng kiểm tra lại nội dung file!</h2>
                               `,
                            'Lỗi', {
                                confirmButtonText: 'Đóng',
                                callback: action => {
                                    // window['vm'].$message({
                                    //     type: 'info',
                                    //     message: `action: ${ action }`
                                    // });
                                },
                                dangerouslyUseHTMLString: true
                            });

                    }else if(is_duplicated_email){
                        that.$alert(
                            `<h1 style="font-size:19px !important;">Email bị trùng lặp trong file!</h1>
                               <h2 style="font-size:19px !important;">Vui lòng kiểm tra lại nội dung file!</h2>
                               `,
                            'Lỗi', {
                                confirmButtonText: 'Đóng',
                                callback: action => {
                                    // window['vm'].$message({
                                    //     type: 'info',
                                    //     message: `action: ${ action }`
                                    // });
                                },
                                dangerouslyUseHTMLString: true
                            });


                    }else{
                        that.add_option = that.add_options.import;
                        if(that.addCandidateWithStage.status == true){
                            that.position = that.addCandidateWithStage.position;
                            that.getAllCompanyPositions().then(()=>{
                                that.onSelectPosition(that.position.id).then(()=>{
                                    if (that.add_option == that.add_options.form){
                                        // this.candidates = [JSON.parse(JSON.stringify(this.candidate))]
                                        that.candidates = [that.candidate]
                                    }else{
                                        // import type
                                        that.candidates=that.table_items
                                    }
                                    if (that.addCandidateWithStage.stage){
                                        that.pipeline_stage = that.addCandidateWithStage.stage;
                                    }
                                });
                            });
                        }
                        that.step=that.steps.selectMap
                    }

                });



            }

        }
        async chooseImportDestination() {
            //alert('chooseImportDestination')
            let that = this as any;
            if (that.addCandidateWithStage.hasOwnProperty('stage') && that.addCandidateWithStage.stage && that.addCandidateWithStage.hasOwnProperty('status')) {

                that.pipeline_stage = that.addCandidateWithStage.stage;
                await that.getPositionPipelineActions();

                if (that.showTriggerActionsOptions) {
                    that.goToSelectPositionStep();
                } else {
                    that.create_candidates();
                }

            } else {
                that.goToSelectPositionStep()
            }


        }

        onFileChangeNative(e){
            // alert('onFileChange')
            // https://stackoverflow.com/a/11833377
            let sender = e
            let validExts = new Array(".xlsx", ".xls")
            let fileExt = sender.target.value
            fileExt = fileExt.substring(fileExt.lastIndexOf('.'))

            if (validExts.indexOf(fileExt) < 0) {
                // alert("Invalid file selected, valid files are of " +
                //         validExts.toString() + " types.");
                this.file = null
                this.file_type_error = true
                this.excelConvertedData = null
                return false
            }
            else {
                this.file=e.target.files[0]
                this.file_type_error = false
                // move to step selectMap
                // this.step=this.steps.selectMap
                return true
            }

        }

        goToSelectPositionStep() {

            // move to step 2
            this.step=this.steps.selectPosition
            this.getAllCompanyPositions()
            // this.getAllPipeline()
        }
        formatName(value, event){
            // alert ('format name');
            // https://bootstrap-vue.js.org/docs/components/form-input
            return value.trim()
        }
        checkFormValidity() {
            let that = this as any;
            const valid = that.$refs.form.checkValidity()
            this.nameState = valid ? 'valid' : 'invalid'
            return valid
        }

        handleBtnContinue(bvModalEvt) {
            //alert('handleBtnContinue');
            let that = this as any;
            // Prevent modal from closing
            bvModalEvt.preventDefault()
            // Exit when the form isn't valid
            if (!that.checkFormValidity()) {
                return
            }
            that.add_option = that.add_options.form

            if(that.addCandidateWithStage.status == true){
                that.position = that.addCandidateWithStage.position;
                that.getAllCompanyPositions().then(()=>{
                    that.onSelectPosition(that.position.id).then(async () => {

                        if (that.add_option == that.add_options.form) {
                            // this.candidates = [JSON.parse(JSON.stringify(this.candidate))]
                            that.candidates = [that.candidate]
                        } else {
                            // import type
                            that.candidates = that.table_items
                        }
                        if (that.addCandidateWithStage.stage) {
                            that.pipeline_stage = that.addCandidateWithStage.stage;
                            await that.getPositionPipelineActions();

                            // if (this.position_pipeline_actions && this.position_pipeline_actions.actions && this.position_pipeline_actions.actions.length > 0) {
                            //     alert("true");
                            // }
                            if (that.showTriggerActionsOptions) {
                                that.goToSelectPositionStep();
                            } else {
                                that.create_candidates();
                            }


                        } else {
                            that.goToSelectPositionStep()
                        }
                    });
                });


            }else{
                // Trigger submit handler
                that.goToSelectPositionStep()
            }
        }

        resetModal() {

        }

        resetData(){
            this.step = this.steps.selectType
            this.candidate = {
                name: '',
                email_address: '',
                summary:'',
                phone_number:'',
                company_id: '',
                assignee_id: '',
                photo: '',
                position_id: '',
                pipeline_stage_id:'',

            }
            this.nameState = null
            this.position = null
            this.selected_position = null
            this.selected_pipeline = null
            this.selected_pipeline_stage = null
            this.pipeline_stage = null
            this.enable_pipelinestage_actions = false
            this.position_pipeline_actions = null
            this.file_type_error = false

        }

        findObjectById(object_id, object_list){
            let found_index = -1
            found_index = object_list.findIndex((obj, index)=>{
                return obj.id == object_id
            })
            if(found_index!=-1){
                return object_list[found_index]
            }else{
                return null
            }
        }
        findIndexDefaultPipelineStage(all_pipeline_stages){
            let found_index = -1
            found_index = all_pipeline_stages.findIndex((ps, index)=>{
                return ps.stage_type == 'applied'
            })
            return found_index

        }

         async getAllCompanyPositions(){
            let that = this as any
            // let all_positions = await new Position().getAllPositions()

            let listpos =  that.listPosition;

            listpos = listpos.filter((pos: any) => {
                 //console.log( that.$can('read', inbox));
                 return that.$can('read', pos);
             });

            that.all_positions = listpos;

             let formated_location_postions=Position.getFormatedLocationPositions(this.all_positions)

            // this.position_options = all_positions.map(function (position) {
             that.position_options = formated_location_postions.map(function (position) {
                let p = position
                p['value'] = position['id']
                p['text'] = position['title']
                // return {value: position.id, text: position.title}
                return p
            });
        }


        async onSelectPosition(position_id){
            let pipeline_id:string
            let position  = this.findObjectById(position_id, this.all_positions) || null
            if (position){
                let pipeline_id = position.pipeline_id
                const pipeline:Pipeline = await new Pipeline().getById(pipeline_id) as Pipeline
                let  all_pipeline_stages = await new PipelineStage().getAllStages(pipeline_id)
                let defaultPipelineStage = null
                // this.all_pipeline_stages = all_pipeline_stages

                let defaultPipelineStageIndex = this.findIndexDefaultPipelineStage(all_pipeline_stages)
                // pop the default pipeline stage from list of all pipeline stages
                if (defaultPipelineStageIndex!=-1){
                    defaultPipelineStage = all_pipeline_stages.splice(defaultPipelineStageIndex,1)[0]
                }
                //prepend the default pipeline stage to top of array
                if (defaultPipelineStage){
                    all_pipeline_stages.unshift(defaultPipelineStage)
                }

                this.all_pipeline_stages = all_pipeline_stages


                this.pipeline_stage_options = all_pipeline_stages.map(function(pipeline_stage){
                    return {value: pipeline_stage.id, text: pipeline_stage.title, stage_type: pipeline_stage.stage_type}
                })

                this.selected_pipeline = pipeline
                this.selected_pipeline_stage = this.pipeline_stage_options? this.pipeline_stage_options[0].value:null

            }else{
                alert('cannot find data of the selected position')
            }

        }


        create_candidates(){
            let that=this as any;
            that.step = that.steps.creating;
            let candidate = null as Candidate;
            const cs = that.candidates.map(c=>{
                candidate = new Candidate();
                candidate.company_id=that.currentCompany.id;
                candidate.name=c.name;
                candidate.email_address=c.email_address;
                candidate.phone_number=c.phone_number;
                candidate.summary=c.summary;
                candidate.stage_actions_enabled = that.enable_pipelinestage_actions;
                candidate.stage_id = that.pipeline_stage.id;
                candidate.unseen = true;
                candidate.follow_by = '';
                candidate.position_id = that.position.id;
                candidate.position={
                    "_id" :that.position.id,
                    "name" : that.position.title,
                    "location" : that.position.location,
                    "user_id": that.currentUser.id,
                    "status": that.position.status,
                }

                candidate.stage = {
                    "id": that.pipeline_stage.id,
                    "name": that.pipeline_stage.title,
                    "type": that.pipeline_stage.stage_type,
                    "previous_type":""
                }
                candidate.origin = 'sourced'

                candidate.sourced_by={
                    _id: that.currentUser.id as string,
                    // email_address: that.currentUser.em
                }


                // return candidate.insert()
                //
                return new Promise((resolve, reject) =>{
                    candidate.insert().then((new_candidate)=> {
                            // alert('on success 1');
                            let data_send_email = {
                                candidate: new_candidate,
                                position: that.position
                            }
                            // Tung do this
                            that.sendEmailManagerPosition(data_send_email);

                            // Chỉ send khi user muốn trigger actions
                            if (this.enable_pipelinestage_actions == true){
                                that.doActionSetted({
                                    actions: this.position_pipeline_actions.actions,
                                    candidate: new_candidate,
                                    position: this.position,
                                    //@ts-ignore
                                    companyUsers: this.companyUsers,
                                    currentUser: this.currentUser
                                })
                            }

                            let activity = new Activity();
                            activity.company_id = that.currentCompany.id;
                            activity.position_id = candidate.position_id;
                            activity.actor = that.currentUser.cloneNewObject();
                            activity.candidate_id = candidate.id;
                            activity.action_text = that.messages.SR_037_WAS_ADD_TO;
                            activity.target_object = candidate.cloneNewObject();
                            activity.activity_type = "log";
                            activity.action ="added";
                            activity.insert();

                            let pr = PipelineReport.instance;
                            pr.company_id = candidate.company_id;

                            pr.pipeline = {
                                id: that.selected_pipeline.id,
                                name: that.selected_pipeline.title,
                                is_default: that.selected_pipeline.is_default,
                            };

                            pr.stage = {
                                id:candidate.stage.id,
                                name:candidate.stage.name,
                                type: candidate.stage.type,
                            };

                            pr.position = {
                                id: candidate.position._id,
                                name: candidate.position.name,
                                user_id: candidate.position.user_id,
                                status: candidate.position.status,// draft, published, closed
                            };
                            pr.category = this.categoryBySelectedPosition;





                            pr.source =  {
                                id: "",
                                name: "",// vi du: Portal, Facebook, ...
                                type: this.add_option,
                                origin: "sourced", //applied | recruiter | referral | sourced
                                // nguoi tao candidate truc tiep tu he thong
                                sourced_by: {
                                    id:  that.currentUser.id,
                                    email_address:  "",
                                    name:  ""
                                }
                            };
                            pr.candidate={
                                id: new_candidate.id,
                                name: candidate.name,
                            }

                            // for using Promise.all()
                            pr.insert().then((data)=>{
                                resolve()
                            });

                        },
                        ()=>{//on failure
                            // alert('on failure 1')
                            reject('Email đã tồn tại');
                        }
                    )
                })



            });

            // setTimeout(() => {
            //         // alert('run in settimeout')
            //         that.step = that.steps.done
            //         that.showModal = false
            //     },
            //     1000)

            // Promise.all(cs).then(async () => {// on success
            Promise.all(cs).then(() => {// on success
                    // alert('run in settimeout')
                    that.step = that.steps.done
                    that.showModal = false
                },
                ()=>{ // on failure
                    // alert('on failure');
                    if (that.addCandidateWithStage.position && that.addCandidateWithStage.stage){
                        that.step = that.steps.selectType;
                    }else{
                        that.step = that.steps.selectPosition;
                    }
                    that.showModal = true;
                }
            );



        }

    }


</script>

<style lang="scss" scoped>
    @import '~element-ui/lib/theme-chalk/index.css';
    .csv-file {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 450px;
    }
    .modal-content {
        .modal-body{
            .upload-candidate {
                .divider{
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    .line{
                        border: 1px solid #eee;
                        position: relative;
                        top: 10px;
                    }
                    span{
                        position: relative;
                        background-color: #fff;
                        padding: 10px;
                    }
                }
            }
            .hero {
                text-align: center;
                padding: 20px 0;
                i {
                    font-size: 100px;
                    color: #76d691;
                }
            }
            .section {
                margin-top: 10px;
                margin-bottom: 20px;
            }
            .excel-table{
                max-height: 800px;
                overflow: auto;
            }
            .bzy-switch{
                label:first-child span.bzy-option {
                    border-radius: 4px 0 0 4px;
                }
                label:last-child span.bzy-option {
                    border-radius: 0 4px 4px 0;
                }
            }
            .el-select{
                display: block;
                .el-input__icon {
                    line-height: 34px;
                }
            }

        }

    }
    .modal-footer .footer-container{
        >:not(:last-child) {
            margin-right: .25rem;
        }
        >:not(:first-child) {
            margin-left: .25rem;
        }
    }
    .form-control.is-invalid, .was-validated .form-control:invalid {
        border-color: #eba2a5;
    }

    .left{
        float: left;
    }
    .right{
        float: right;
    }



    .el-select-dropdown__item{
        height: auto;
    }
    .el-select-dropdown__item.selected{
        color: #606266;
    }
    .select_position {
        .card-box {
            div p {
                max-width: 500px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .ui-select-choices-row-inner .card.position {
        margin-bottom: 0;
        border: none;
        background: none;
        .card-box.position {
            background-color: initial;
            border: none;
            padding: 5px 0;
            h3 {
                margin-bottom: 0;
                font-size: 14px;
            }
            i.fa-circle {
                font-size: 12px;
                min-height: initial;
                background-color: initial;
                margin: 0;
                .published {
                    color: #76d691 !important;
                }
                .draft {
                    color: #5ac0e5 !important;
                }
                .closed {
                    color: #778591 !important;
                }
            }
            .position-body p {
                margin-bottom: 0;
                color: #68747e;
                font-size: 12px;
            }
        }
    }


    .card .card-box {
        background-color: #fff;
        border: 1px solid #edeff0;
        border-radius: 4px;
        cursor: pointer;
        padding: 15px 10px;
        position: relative;
        transition: .3s ease;
        h3 {
            max-width: 500px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #4c555c;
        }
        p{
            font-weight:200;
        }
    }

    .fa-circle.published {
        color: #76d691 !important;
    }




</style>
