<template>
    <b-modal id="modal-lg" size="lg" :title="template.id ? messages.SR_052_TITLE_UPDATE_EMAIL_TEMPLATE : messages.SR_052_TITLE_ADD_EMAIL_TEMPLATE" :hide-footer="true"
             :visible="showModal" @close="handleClose" :no-close-on-backdrop="true"
             modal-class="email-template-modal">
        <div class="settings-form email-templates">
            <div class="section">
                <input class="template-name"
                       type="text" v-model="template.name" :placeholder="messages.SR_052_TEMLATE_NAME_PLACEHOLDER"
                        required="required" :class="{error: errors.name}" maxlength="500">
                <!-- ngIf: !options.isDocSign -->
                <div>
                    <h4>{{messages.SR_052_EMAIL_SUBJECT_PLACEHOLDER}}</h4>
                    <input class="template-subject" type="text" v-model.trim="template.subject"
                        :placeholder="messages.SR_052_EMAIL_SUBJECT_PLACEHOLDER" maxlength="500" :class="{error: errors.subject}">
                </div>
                <h4>{{messages.SR_052_EMAIL_BODY}}</h4>
                <div class="template-variables">
                    <div class="template-variable-select" style="margin-bottom: 5px">
                        <el-select
                            v-model="selected_option"
                            @change="changeVariable"
                            filterable
                            :placeholder="currentPlaceholder"
                            @visible-change="handlerPlaceholder()"
                            id="valueSelect"
                            popper-class="template-dropdown">
                            <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.title"
                                :value="item">
                            </el-option>
                        </el-select>
                    </div>
                </div>

                <div class="">
                    <VueEditor
                        useCustomImageHandler
                        @imageAdded="handleImageAdded"
                        :class="{error: errors.content}"
                        v-model="template.content"
                        ref="editor"
                        :editorOptions="editorSettings"
                        @focus="toggleFocus($event)"
                        @blur="toggleFocus($event, false)"></VueEditor>
                </div>
                <ul class="file-attachments">
                    <li class="file-attachment custom-length-name" v-for="fileAttachment, index in template.attachments" :key="index">
                        <div class="attached">
                            <i class="fa fa-paperclip"></i>
                            <span class="attachment ng-binding">{{fileAttachment.file_name}}</span>
                            <a class="remove" href="javascript:void(0)" @click="removeFileAttachment(index)"><i class="fa fa-times"></i></a>
                        </div>
                    </li>
                    <li class="file-attachment" v-if="uploading">
                        <div class="uploading">
                            <i class="fa fa-circle-notch fa-spin"></i>
                            <span>{{messages.SR_052_UPLOADING}}</span>
                        </div>
                    </li>
                    <li class="add-attachment">
                        <div class="attach-file btn btn-blue btn-xs" style="cursor: pointer" type="file" @click="onClickFile"><i
                            class="fa fa-plus"></i><span> {{messages.SR_052_TXT_ATTACH_DOCUMENT}}</span>
                            <input ref="inputFile" @change="handleFile" type="file" style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
                        </div>
                    </li>
                </ul>
                <ul class="actions">
                    <li class="action" v-if="template.id">
                        <button class="btn btn-blue" @click="handleSubmit" :disabled="uploading">
                            <i class="fa fa-save"></i><span> {{messages.COMMON_BTN_SAVE}}</span></button>
                    </li>
                    <li class="action" v-else>
                        <button class="btn btn-blue" @click="handleSubmit" :disabled="uploading">
                            <i class="fa fa-plus"></i><span> {{messages.SR_052_TITLE_ADD_EMAIL_TEMPLATE}}</span></button>
                    </li>
                </ul>
            </div>
        </div>
    </b-modal>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from "vuex";
    import {fstorage, server_time} from '@/firebase';
    import {messages} from "@/messages";
    import _ from 'lodash';
    import {FILE_SIZE_LIMITED} from "@/email";
    import $ from 'jquery';

    import { VueEditor, Quill } from "vue2-editor";
    import { ImageDrop } from 'quill-image-drop-module';
    import ImageResize from 'quill-image-resize-module';

    Quill.register('modules/imageDrop', ImageDrop);
    Quill.register('modules/imageResize', ImageResize);

    export default Vue.extend({
        name: "EmailTemplateModal",
        components: {
            VueEditor
        },
        props: ['showModal', 'selected_template', "options"],
        data() {
            return {
                template: {
                    name: "",
                    subject: "",
                    upload: {} as firebase.storage.UploadTask,
                    content: "",
                    attachments: [],
                },
                selected_option: {
                    title: messages.SR_052_TEMPLATE_VAR_TITLE,
                    value: null,
                },
                uploading: false,
                errors: {
                    name: null,
                    subject: null,
                    content: null,
                },
                editor: null,
                currentPlaceholder: messages.SR_052_TXT_TEMPLATE_VAR,
                editorSettings: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image']
                        ],
                        history: {
                            delay: 1000,
                            maxStack: 50,
                            userOnly: false
                        },
                        imageDrop: true,
                        imageResize: {
                            displayStyles: {
                                backgroundColor: 'black',
                                border: 'none',
                                color: 'white'
                            },
                            modules: [ 'Resize', 'DisplaySize', 'Toolbar' ]
                        }
                    }
                }
            }
        },
        computed: {
            ...mapGetters([
                'messaging_template',
            ])
        },
        watch: {
            showModal(val) {
                let that = this as any;
                if (val && !this.selected_template) {
                    that.template = {
                        name: "",
                        subject: this.messaging_template.default_subject,
                        content: "",
                        attachments: []
                    }
                } else if (val && this.selected_template) {
                    this.template = this.selected_template.cloneNewObject();
                    if (!this.template.subject) {
                        this.template.subject = this.messaging_template.default_subject;
                    }
                }
                that.uploading = false;
                that.selected_option = {
                    title: messages.SR_052_TEMPLATE_VAR_TITLE,
                    value: null,
                };
                this.errors = {
                    name: null,
                    subject: null,
                    content: null,
                };
            }
        },
        methods: {
            ...mapActions([
                'updateEmailTemplate',
                'createEmailTemplate'
            ]),
            handlerPlaceholder(){
                let that = this as any;
                setTimeout(()=>{
                    $('#valueSelect')[0].placeholder = that.currentPlaceholder
                },100)

            },
            handleImageAdded(file, Editor, cursorLocation, resetUploader){
                console.log(file);
                let that = this;
                let datetime = server_time.now;
                let randomString = Math.random().toString(36).substring(5);
                let upload = fstorage.ref(`attachment/template_mail/${datetime.getFullYear()}/${randomString}/${file.name}`).put(file);
                upload.on('state_changed',sp=>{
                    },null,
                    ()=>{
                        upload.snapshot.ref.getDownloadURL().then(downloadUrl=>{
                            Editor.insertEmbed(cursorLocation, "image", downloadUrl);
                            resetUploader();
                        })
                    })
            },
            changeVariable(val) {
                let that = this as any;
                that.selected_option = val;
                if (that.editor && that.editor.getSelection(true)) {
                    let selection = that.editor.getSelection(true);
                    that.editor.insertText(selection.index, `[[${val.value}]]`);
                } else {
                    that.template.content += `[[${val.value}]]`;
                }
                that.selected_option = {
                    title: messages.SR_052_TEMPLATE_VAR_TITLE,
                    value: null,
                };
            },
            toggleFocus(event, focused = true){
                if(focused) {
                    this.editor = focused ? event : {};
                }
            },

            onClickFile() {
                (this.$refs.inputFile as any).click();
            },
            handleClose() {
                this.$emit("closeModal");
            },

            checkEmailTemplate(string) {
                let arrayField = [
                    {
                        title: 'candidate_first_name',
                        value: 'name'
                    },
                    {
                        title: 'candidate_name',
                        value: 'name'
                    },
                    {
                        title: 'candidate_email_address',
                        value: 'email'
                    },
                    {
                        title: 'position_link',
                        value: 'position_link'
                    },
                    {
                        title: 'position_title',
                        value: 'position_title'
                    },
                    {
                        title: 'company_name',
                        value: 'company_name'
                    },
                    {
                        title: 'company_user',
                        value: 'company_user'
                    },
                    {
                        title: 'company_user_first_name',
                        value: 'company_user_first_name'
                    },
                ];


                let result = true;
                let st ='';
                let object = {} as any;
                arrayField.forEach((field, index) => {
                    object[field.title] = field.value;
                });


                try {
                    var compiled = _.template(string, {interpolate: /\[\[([\s\S]+?)\]\]/g});
                    st = compiled(object);
                }catch (e) {
                     result = false;
                }
                //debugger


                return result;

            },

            validInput() {
                let isValid = true;
                this.errors = {} as any;
                if (this.template.name.trim() == "") {
                    this.errors.name = true;
                    isValid = false;
                }else if(!this.checkEmailTemplate(this.template.name)) {
                    this.errors.name = true;
                    isValid = false;
                }

                if (this.template.content.trim() == "") {
                    this.errors.content = true;
                    isValid = false;
                }else if(!this.checkEmailTemplate(this.template.content)) {
                    this.errors.content = true;
                    isValid = false;
                }


                return isValid;
            },
            handleSubmit() {
                if (!this.validInput()) {
                    return;
                }
                if ('id' in this.template) {
                    this.updateEmailTemplate(this.template).then(() => {
                        this.$emit("closeModal");
                    });
                } else {
                    this.createEmailTemplate(this.template).then(() => {
                        this.$emit("closeModal");
                    });
                }
            },
            validUploadedFileSize(list_files: Array<object>, extra_size) {
                let total = extra_size;
                list_files.forEach((file: any) => {
                    total += (file.file_size || 0);
                })
                if (total > FILE_SIZE_LIMITED) {
                    return false;
                }
                return true;
            },
            handleFile(e) {
                let _file = e.target.files[0];
                let that = this as any;
                let file_name = Math.random().toString(36).substring(7) + _file.name;
                if (!this.validUploadedFileSize(that.template.attachments, _file.size)) {
                    that.$refs.inputFile['value'] = null;
                    alert("Kích thước các tập tin không vượt quá 5MB!")
                    return;
                }
                that.uploading = true;
                that.upload = fstorage.ref('templates/documents/' + file_name).put(_file);
                that.upload.on('state_changed', sp => {},
                    null,
                    () => {
                        that.upload.snapshot.ref.getDownloadURL().then(downloadURL => {
                            that.template.attachments.push({
                                file_name: _file.name,
                                file_size: _file.size,
                                file_url: downloadURL
                            });
                            that.uploading = false;
                            that.$refs.inputFile['value'] = null;
                        })
                    })
            },
            removeFileAttachment(index) {
                this.template.attachments.splice(index, 1);
            }
        }
    })
</script>

<style scoped lang="scss">
    @import "~vue-wysiwyg/dist/vueWysiwyg.css";
    .custom-length-name {
        width: 100%;
        word-break: break-all;
        margin-bottom: 5px !important;
    }
    .template-name {
        width: 200px !important;
    }
    .select-var {
        width: 220px;
        display: block;
        border: 2px solid #edeff0;
    }
    .email-templates h4 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
        margin-top: 10px;
        color: #333;
    }
    .email-templates .template-subject {
        width: 400px !important;
        display: block;
    }

    .section .file-attachments {
        display: inline-block;
        margin-top: 10px;
        overflow: hidden;
        min-width: 270px;
        text-overflow: ellipsis;
        font-size: 14px;
    }
    .actions {
        text-align: right;
    }
    .file-attachment {
        margin-bottom: 10px;
    }
    .file-attachment .remove {
        margin-left: 5px;
        color: #444;
        display: inline-block;
    }
    .file-attachment i {
        margin-right: 5px;
    }
</style>
<style lang="scss">
    .email-templates {
        .quillWrapper .ql-snow.ql-toolbar {
            padding-top: 5px;
            padding-bottom: 2px;
        }
        .quillWrapper .ql-snow.ql-toolbar .ql-formats {
            margin-bottom: 5px;
        }
        .ql-editor {
            height: 300px;
        }
        .el-select .el-input .el-input__inner::placeholder {
            color: #778591;
        }
        .el-select .el-input.is-focus .el-input__inner, .el-select .el-input__inner:focus {
            border-color: #5ac0e5 !important;
        }
    }
    .template-dropdown .el-select-dropdown__item.selected {
        color: #606266 !important;
    }
    .email-template-modal {
        .modal-content {
            background-color: #fff;
        }
    }
</style>

