<template>
    <b-modal @hide="handleCloseModal" id="schedule-interview-modal"
             ref="mdal"
             no-close-on-backdrop no-close-on-esc
             size="auto"
             @show="handleOpenModal"
             header-class="custom-header-interview"
             body-class="custom-modal-interview"
             v-model="showModal">
        <div class="header" slot="modal-title">
            <h1>{{messages.SR_021_SCHEDULE_MEETING_MODAL_TITLE}}</h1>
            <p>
                {{messages.SR_021_SCHEDULE_MEETING_MODAL_SUBTITLE}}
                <!--<a class="learn-more" href="https://resources.breezy.hr/docs/scheduling-candidate-interviews"-->
                   <!--target="_blank">{{'Learn more'}}</a>-->
            </p>
        </div>
        <!-- This is place Footer-->
        <div class="d-flex justify-content-between container-fluid p-0" slot="modal-footer" style="justify-content: flex-end!important">
            <!--<div class="left">-->
                <!--<div v-if="step === 1">-->
                    <!--<b-button variant="gray">-->
                        <!--<i class="fa fa-save"></i>&nbsp;-->
                        <!--<span>{{'Save as Template'}}</span>-->
                    <!--</b-button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="right pull-right">
                <div v-if="step === 1 && type=='new'">
                    <b-button @click="handleCloseModal" variant="none">{{messages.SR_021_BTN_CANCEL}}</b-button>
                    <ElButton class="btn-blue" @click="continueProgress()" type="primary" :loading="saveInterview">
                        {{messages.SR_021_SCHEDULE_MEETING_CONTINUE}}
                    </ElButton>
                </div>
                <div v-if="step === 2 || type=='edit' ">
                    <b-button v-if="type !='edit'" :disabled="isSending" @click="backStep" variant="none">{{messages.SR_021_SCHEDULE_MEETING_BACK}}</b-button>
                    <b-button v-if="type=='edit'" @click="handleCloseModal" variant="none">{{messages.SR_021_BTN_CANCEL}}</b-button>
                    <button  v-if="type=='edit'" @click="cancelMeeting" class="btn btn-red ng-scope">
                        <i class="fa fa-ban"></i>
                        <span> {{messages.SR_021_CANCEL_MEETING}}</span>
                    </button>
                    <b-button :disabled="isSending" v-if="type=='new'" @click="sendInvite" variant="blue">
                        <i class="fas fa-calendar-alt"></i>
                        <span>&nbsp;{{messages.SR_021_SCHEDULE_MEETING_INVITE}}</span>
                    </b-button>
                    <b-button v-else @click="continueProgress()" variant="blue" :disabled="disabledButton">
                        <i class="fas fa-calendar-alt"></i>
                        <span>&nbsp;{{messages.SR_021_UPDATE_MEETING}}</span>
                    </b-button>
                </div>
            </div>
        </div>
        <!--End footer-->
        <!--Body-->
        <div class="column" style="margin-bottom:15px;" v-show="step === 1">
            <div class="date-time pr-2" style="display: inline-block">
                <el-date-picker
                    :picker-options="{disabledDate: disableAllDates}"
                    size="small"
                    format="dd/MM/yyyy"
                    prefix-icon=""
                    clear-icon="false"
                    v-model="currentScheduleMeeting.interviewDate"
                    type="date"
                    :class="currentScheduleMeeting.interviewDate == null ? 'error-class' : ''"
                    :placeholder="messages.SR_021_DATETIME_PICKTIME">
                </el-date-picker>


            </div>
            <div class="timezone" style="display: inline-block;margin-bottom:15px;">
                <Select popper-class="select-timezones"
                        value-key="value"
                        size="small"
                        v-model="currentScheduleMeeting.timezone" filterable
                        :placeholder="messages.SR_021_SCHEDULE_MEETING_TIMEZONE">
                    <OptionGroup
                        v-for="group in ['Timezones']"
                        :key="group"
                        :label="group">
                        <Option
                            v-for="item, index in options"
                            :key="item.value"
                            :label="getLabelTimeZone(index)"
                            :value="item.value">
                            <div>
                                <p style="margin-bottom:0px;"><strong>{{item.label}}</strong></p>
                                <span>{{item.sublabel}}</span>
                            </div>
                        </Option>
                    </OptionGroup>
                </Select>
            </div>

            <div :key="index" v-for="(interview, index) in currentScheduleMeeting.listMeeting">
                <InterviewCard
                    @removeThisCard="removeInterviewCard(index)"
                    @cancelMoveToNextStep="cancelMoveToNextStep"
                    :interviewGuides="listInterviewGuide"
                    :users="listUsers"
                    :listInterviewCard="currentScheduleMeeting.listMeeting"
                    :currentCandidate="currentCandidate"
                    :currentPosition="currentPosition"
                    :currentDate="currentScheduleMeeting.interviewDate"
                    :timeZone="currentScheduleMeeting.timezone"
                    :index111="index"
                    :saveChange="saveInterview"/>
            </div>
            <a class="add-interview blue" href="javascript:void(0)" @click="addTime()">
                <i class="fa fa-plus"></i>
                <span> {{messages.SR_021_SCHEDULE_MEETING_INTERVIEW}}</span>
            </a>
        </div>
        <div class="panel-details" v-loading="isSending" v-show="step === 2">
            <div class="email-templates">
                <h6>{{messages.SR_021_SCHEDULE_MEETING_EMAILSUBJECT}}</h6>
                <Input class="template-subject" v-model="emailObject.subject"/>
                <div style="display: flex;justify-content: space-between;align-items: center;">
                    <h6 style="margin-bottom:0px;">{{messages.SR_021_SCHEDULE_MEETING_BODY}}</h6>
                    <Checkbox v-model="isDetailInfo" @change="emailBody()">{{messages.SR_021_SCHEDULE_MEETING_DETAILED}}</Checkbox>
                </div>
                <editor :init="editorOptions"
                v-model="emailObject.body"></editor>
            </div>
        </div>
        <!--End body-->
    </b-modal>
</template>

<script>
    import {requestFunctionUrl, email_domain, server_time} from '../../firebase/index';
    import tinymce from 'vue-tinymce-editor'
    import {Select, Option, OptionGroup, Button as ElButton, Input, Checkbox} from 'element-ui';
    import Vue from 'vue';
    import _ from 'lodash';
    // @ts-ignore
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import moment from "moment";
    import User from "@/models/User";
    import InterviewCard from "./ScheduleInterview/InterviewCard.vue";
    import InterviewGuides from "@/models/InterviewGuides";
    import Candidate from "../../models/Candidate";
    import {messages} from "@/messages";
    import axios from 'axios'
    import vi from 'element-ui/lib/locale/lang/vi';
    import locale from 'element-ui/lib/locale';
    vi.el.datepicker.year='';
    locale.use(vi);
    // es modules
    import Editor from '@tinymce/tinymce-vue';
    import Schedule from "../../models/Schedule";
    import Activity from "../../models/Activity";
    export default Vue.extend({
        name: "ScheduleInterview",
        props: [
            'currentPosition',
            'currentCandidate',
            'showModal',
            'type'
        ],
        components: {
            Input,
            ElButton,
            InterviewCard,
            Select,
            Option,
            OptionGroup,
            Checkbox,
            'editor': Editor
        },
        data() {
            return {
                cancelStep: false,
                isDetailInfo: true,
                editorOptions: {
                    toolbar: 'bold italic | bullist numlist',
                    menubar:false,
                    plugins: 'lists',
                },
                toolbarOptions: [
                    ['bold', 'italic', 'link', {'list': "ordered"}, {'list': 'bullet'}],
                ],
                emailObject: {
                    subject: '',
                    body: '',
                    attachments: [],
                },
                listInterviewGuide: [],
                saveInterview: false,
                timezone: '+07',
                step: 1,
                interviewDate: moment(server_time.now).add(1, 'days').format(),
                options: [{
                    value: '+07',
                    code: 'GMT+07:00',
                    label: 'Asia/Ho_Chi_Minh',
                    sublabel: 'GMT+07:00 · +07'
                }],
                modalShown: false,
                listError: [],
                disabledButton:false,
                isSending: false,

            };
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'templateMeeting',
                'listScheduleMeeting',
                'currentUser',
                'currentScheduleMeeting',
                'companyUsers',
                'templateMeetingSignature'
            ]),
            listUsers() {
                let listUsers = _.cloneDeep(this.companyUsers.map(user => {
                    return user.cloneNewObject()
                }));
                return listUsers;
            },
        },
        created(){

        },
        mounted() {

            // alert('scheduleInterviews.vue');
            window.f = this;

        },
        methods: {
            ...mapMutations([
                'setCurrentScheduleMeeting'
            ]),
            ...mapActions(['getCurrentInterview',]),
            backStep(){
                this.step = 1;
                this.cancelStep = false;
            },
            cancelMeeting(){
                let activity = new Activity();
                new Schedule().getById(this.currentScheduleMeeting.listMeeting[0].id).then((data)=>{
                    activity.target_object = data.cloneNewObject();
                    data.cancelSchedule().then(()=>{
                        activity.company_id = this.currentCompany.id;
                        activity.position_id = this.currentCandidate.position_id;
                        activity.candidate_id = this.currentCandidate.id;
                        activity.actor = this.currentUser.cloneNewObject();
                        activity.title = `${this.currentCandidate.name} ${messages.SR_021_SCHEDULE_MEETING_MEETING} (${this.currentCandidate.position.name})`;
                        activity.action_text = this.messages.SR_037_CANCELED_MEETING;
                        activity.activity_type = "meeting";
                        activity.action = "canceled";
                        activity.insert();
                        this.getCurrentInterview(this.currentCandidate.id);
                        this.handleCloseModal();
                        console.log('Remove done');
                    })
                })
                // new Schedule().getScheduleMeetingUser(this.currentPosition.id, this.currentCandidate.id).then((data)=>{
                //     data.forEach((meeting)=>{
                //         meeting.delete();
                //     });
                //     this.handleCloseModal();
                //     console.log('Remove meeting done');
                // })
            },
            disableAllDates(date) {
                if (moment(server_time.now).diff(date, 'days') > 0) {
                    return true;
                } else {
                    return false;
                }
            },
            emailBody() {
                let that = this;
                let abc = that.templateMeeting;
                let emailCompile = _.template(abc);

                function hoursInOut(scheduleData, interviewDate){
                    let hours = parseInt(scheduleData.start_time_by_number/1);
                    let min = (scheduleData.start_time_by_number%1) * 60;
                    let start_time = moment(new Date(interviewDate).setHours(hours, min, 0)).format();

                    let hours_duration = scheduleData.duration/1000/3600;
                    let end_time = moment(start_time).add(hours_duration, 'hours').format();

                    return {startTime: moment(start_time).format(`hh:mm A`), endTime: moment(end_time).format(`hh:mm A`)};
                }

                function listInterviews(interviewers) {
                    let result = '';
                    if (interviewers.length > 0) {
                        interviewers.forEach((interviewer) => {
                            result += `, ${interviewer.name}`;
                        });
                        result = result.replace(',', '');
                    }
                    return result;
                }
                let infoMeeting = '';
                if (that.isDetailInfo == false) {
                    infoMeeting = '<ul>';
                    that.currentScheduleMeeting.listMeeting.forEach((schedule) => {
                        let hourEvent = hoursInOut(schedule, that.currentScheduleMeeting.interviewDate);
                        infoMeeting += `<li>${hourEvent.startTime} - ${hourEvent.endTime} ${that.currentScheduleMeeting.timezone} ${messages.SR_021_WITH} ${listInterviews(schedule.interviewers)}</li>`;
                    });
                    infoMeeting += '</ul>';
                } else {
                    if (that.currentScheduleMeeting.listMeeting.length == 1) {
                        infoMeeting += `<p>${that.currentCandidate.name} ${messages.SR_021_SCHEDULE_MEETING_MEETING} (${that.currentPosition.title})</p>`;
                        that.currentScheduleMeeting.listMeeting.forEach((schedule) => {
                            let hourEvent = hoursInOut(schedule, that.currentScheduleMeeting.interviewDate);
                            infoMeeting += `<p>${hourEvent.startTime} - ${hourEvent.endTime} ${that.currentScheduleMeeting.timezone} ${messages.SR_021_WITH} ${listInterviews(schedule.interviewers)}</p>`;
                            if (schedule.location.trim() != ''){
                                infoMeeting += `<p>${messages.SR_028_COLUMN_LOCATION}: ${schedule.location}</p>`
                            }
                            if (schedule.description.trim() != ''){
                                infoMeeting += `<p v-html="">${schedule.description.split("\n").join("<br/>")}</p>`;
                            }
                        });
                    } else {
                        infoMeeting += '<ul>';
                        that.currentScheduleMeeting.listMeeting.forEach((schedule) => {
                            let hourEvent = hoursInOut(schedule, that.currentScheduleMeeting.interviewDate);
                            infoMeeting += '<li>';
                            infoMeeting += `<p>${that.currentCandidate.name} ${messages.SR_021_SCHEDULE_MEETING_MEETING} (${that.currentPosition.title})</p>`
                            infoMeeting += `<p>${hourEvent.startTime} - ${hourEvent.endTime} ${that.currentScheduleMeeting.timezone} ${messages.SR_021_WITH} ${listInterviews(schedule.interviewers)}</p>`
                            if (schedule.location.trim() != ''){
                                infoMeeting += `<p>${messages.SR_028_COLUMN_LOCATION}: ${schedule.location}</p>`
                            }
                            if (schedule.description.trim() != ''){
                                infoMeeting += `<p>${schedule.description.split("\n").join("<br/>")}</p></li>`;
                            }
                        });
                        infoMeeting += '</ul>';
                    }
                }
                that.emailObject.subject = `${messages.SR_021_SCHEDULE_MEETING_MEETING}: ${that.currentPosition.title}`;
                that.emailObject.body = emailCompile({
                    candidateName: that.currentCandidate.name,
                    dateMeeting: moment(that.currentScheduleMeeting.interviewDate).format('Do MMMM'),
                    somethingAboutMeeting: infoMeeting,
                    regardByWho: that.currentUser.name,
                });
            },
            getDescriptionInICS(listMeeting){
                let description = '';
                description += `${messages.SR_021_DS_ICS_TITLE1} ${moment(this.currentScheduleMeeting.interviewDate).format('Do MMMM')}:\n\n`;
                listMeeting.forEach((meeting, index)=>{
                    description += `${messages.SR_021_DS_ICS_TITLE2}: ${this.currentCandidate.name} ${messages.SR_021_SCHEDULE_MEETING_MEETING} (${this.currentPosition.title})\n`;
                    if (meeting.description.trim() != ''){
                        description += `${messages.SR_020_MODAL_NEW_POSITION_TITLE_5}: \n${meeting.description}\n`;
                    }
                    description += `${messages.SR_045_LBL_START_TIME}: ${moment(meeting.start_time).format("H:mm A")}\n\n`;
                    if (index < listMeeting.length - 1){
                        description += `-\n`;
                    }
                })
                return description;
            },
            async sendInvite() {
                // alert('send invite');
                // return;
                let that = this;
                const ical = require('ical-generator');
                that.isSending = true;

                // Create new Calendar and set optional fields
                const calendarToCandidate = ical({
                    prodId: {company: 'cloudjetkpi.com', product: 'cjs-potential'},
                    name: 'Invite meeting',
                    timezone: 'Asia/Ho_Chi_Minh',
                    method: 'request',
                });
                let rangeTimeCalendar = {
                    startTime: '',
                    endTime: ''
                }
                const Parray = that.currentScheduleMeeting.listMeeting.map(async (meet, index)=>{

                    let schedule = new Schedule();
                    let scheduleData = that.currentScheduleMeeting.listMeeting[index];
                    schedule.title = scheduleData.title;
                    let hours = parseInt(scheduleData.start_time_by_number/1);
                    let min = (scheduleData.start_time_by_number%1) * 60;
                    schedule.start_time = moment(new Date(that.currentScheduleMeeting.interviewDate).setHours(hours, min, 0)).format();

                    let hours_duration = scheduleData.duration/1000/3600;
                    schedule.end_time = moment(schedule.start_time).add(hours_duration, 'hours').format();
                    schedule.duration = scheduleData.duration;
                    schedule.interviewers = scheduleData.interviewers;
                    schedule.interviewer_ids = scheduleData.interviewers.map((user)=>{
                        return user.id;
                    });
                    schedule.description = scheduleData.description;
                    if (scheduleData.interview_guide.hasOwnProperty('id')){
                        schedule.interview_guide_id = scheduleData.interview_guide.id;
                        if (scheduleData.interview_guide.hasOwnProperty('firestore')){
                            schedule.interview_guide = scheduleData.interview_guide.cloneNewObject();
                        }else{
                            schedule.interview_guide = scheduleData.interview_guide;
                        }
                    }
                    schedule.location = scheduleData.location;
                    schedule.company_id = that.currentCompany.id;
                    schedule.candidate_id = that.currentCandidate.id;
                    schedule.position_id = that.currentPosition.id;
                    schedule.interview_date = that.currentScheduleMeeting.interviewDate;
                    schedule.candidate_name = that.currentCandidate.name;
                    schedule.timezone = that.currentScheduleMeeting.timezone;

                    // Need fix user updated
                    if (this.type=='edit' && scheduleData.hasOwnProperty('id')){
                        schedule.acting_user = scheduleData.acting_user;
                    }else{
                        schedule.acting_user = that.currentUser.cloneNewObject();
                    }
                    schedule.start_time_by_number = scheduleData.start_time_by_number;
                    //schedule.candidate = that.currentCandidate.cloneNewObject();
                    // schedule.id = scheduleData.id;
                    if (that.currentCandidate.hasOwnProperty('firestore')){
                        schedule.candidate = that.currentCandidate.cloneNewObject();
                    }else{
                        schedule.candidate = that.currentCandidate;
                    }

                    schedule.id = scheduleData.id;
                    await schedule.upsert().then(async (data) => {
                        //get list interview
                        that.getCurrentInterview(that.currentCandidate.id).then(()=>{
                        });


                        if (that.currentScheduleMeeting.listMeeting.length == 1){
                            that.currentScheduleMeeting.listMeeting[0] = data;
                        }else{
                            schedule.id = data.id;
                            that.currentScheduleMeeting.listMeeting.splice(index, 1, data);
                        }
                        try{
                            // let attendees = data.interviewers.map((interview)=>{
                            //     if (interview.id != that.currentUser.id){
                            //         let attendee = {
                            //             name: interview.name,
                            //             email: interview.email
                            //         }
                            //         return attendee
                            //     }
                            // })
                            //Find range time (startTime is lowest start time of list Meeting, endTime is highest end time of list Meeting).
                            if (!rangeTimeCalendar.startTime){
                                rangeTimeCalendar.startTime = data.start_time;
                            }else{
                                if (moment(rangeTimeCalendar.startTime).format('HH:mm') > moment(data.start_time).format('HH:mm')){
                                    rangeTimeCalendar.startTime = data.start_time;
                                }
                            }
                            if (!rangeTimeCalendar.endTime){
                                rangeTimeCalendar.endTime = data.end_time;
                            }else{
                                if (moment(rangeTimeCalendar.endTime).format('HH:mm') < moment(data.end_time).format('HH:mm')){
                                    rangeTimeCalendar.endTime = data.end_time;
                                }
                            }


                            meet['interview_guide'] = schedule.interview_guide;
                            meet['end_time'] = schedule.end_time;
                            meet['start_time'] = schedule.start_time;
                            meet['interview_date'] = schedule.interview_date
                            let cloneMeeting = meet.hasOwnProperty('firestore') ? meet.cloneNewObject() : meet;
                            const dataConversation = await new Candidate().createConversation( schedule.candidate, cloneMeeting);
                            // .then((dataConversation)=>{
                            meet['id'] = dataConversation.id;
                            let activity = new Activity();
                            activity.company_id = that.currentCompany.id;
                            activity.position_id = that.currentCandidate.position_id;
                            activity.candidate_id = that.currentCandidate.id;
                            activity.action_text = that.messages.SR_037_SCHEDULED_A_MEETING;
                            activity.title = `${that.currentCandidate.name} ${messages.SR_021_SCHEDULE_MEETING_MEETING} (${that.currentCandidate.position.name})`;
                            activity.activity_type = "meeting";
                            activity.action = "scheduled";
                            activity.actor = that.currentUser.cloneNewObject();
                            activity.target_object = cloneMeeting;
                            activity.insert();
                            // return meet;
                            // });

                            if (this.type == 'new'){
                                // Create new Calendar and set optional fields
                                const calendarToInterviewer = ical({
                                    prodId: {company: 'cloudjetkpi.com', product: 'cjs-potential'},
                                    name: 'Invite meeting',
                                    timezone: 'Asia/Ho_Chi_Minh',
                                    method: 'request',
                                });

                                // create a new event
                                const event = calendarToInterviewer.createEvent({
                                    start: data.start_time,
                                    end: data.end_time,
                                    timestamp: moment(server_time.now),
                                    summary: data.title,
                                    // organizer: `${ data.acting_user.name } <mail@${data.acting_user.email_address}>`,
                                    // organizer: `Cloudjet Potential HR <no-reply@cloudjetpotential.com>`,
                                    // attendees: attendees.filter((attendee)=> {
                                    //     return attendee;
                                    // }),
                                    // attendees: [`${ data.acting_user.name } <mail@${data.acting_user.email_address}>`],
                                });



                                const attendees = scheduleData.interviewers.map((interviewer)=>{
                                    return `${interviewer.name} <${interviewer.email}>`

                                });
                                attendees.unshift(`${that.currentCandidate.name} <${that.currentCandidate.email_address}>`);

                                event.organizer(`Cloudjet Potential HR <calendar-${schedule.id}@${email_domain}>`);
                                event.attendees(attendees);
                                const calendar_event = {
                                    base64_content: btoa(unescape(encodeURIComponent(calendarToInterviewer.toString()))),
                                    filename: 'invite.ics',
                                };

                                const PInterviews = scheduleData.interviewers.map(async (interviewer)=>{
                                    // event.organizer(`Cloudjet Potential HR <no-reply@${email_domain}>`);


                                    // event.attendees([`${data.acting_user.name} <${data.acting_user.email_address}>`]);


                                    // const contentType = 'application/ics; charset=UTF-8; method=REQUEST';
                                    // const contentType = 'application/ics';
                                    // let attachByInterview = [
                                    //     // {
                                    //     //     filename: 'invite.ics',
                                    //     //     content: calendarToInterviewererer.toString(),
                                    //     //     // contentType: 'text/calendar'
                                    //     //     contentType: contentType,
                                    //     //     contentDisposition: 'inline'
                                    //     // },
                                    //     {
                                    //         filename: 'invite.ics',
                                    //         content: btoa(unescape(encodeURIComponent(calendarToInterviewererer.toString()))),
                                    //         // contentType: 'text/calendar'
                                    //         contentType: contentType,
                                    //         encoding: 'base64'
                                    //     },
                                    // ];



                                    let dataSendEmail = {
                                        toWho:{
                                            name: interviewer.name,
                                            email: interviewer.email,
                                            cc: schedule.acting_user.email != interviewer.email ? schedule.acting_user.email: '',
                                            // http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.recipient-errors
                                            // Sendgrid deny send email if 'email' and 'cc' are same.
                                        },
                                        data:{
                                            actor_name: that.currentUser.name,
                                            candidate_name: that.currentCandidate.name,
                                            conversation_id: dataConversation.id,
                                            position_name: that.currentPosition.title,
                                            link: `${window.location.origin}/candidate/${that.currentCandidate.id}/experience`,
                                            description: scheduleData.description,
                                            // attachments: [ attachByInterview ],
                                            calendar_event: calendar_event,
                                            interview_guide: scheduleData.interview_guide || {},
                                            location: scheduleData.location,
                                            // schedule_id: schedule.id,
                                        }
                                    }
                                    // debugger
                                    await this.axios.post(requestFunctionUrl('sendInterviewerInvitation'), dataSendEmail)
                                        .then(function (response) {
                                            console.log(response)
                                        })
                                        .catch(function (error) {
                                            console.log(error)
                                        });




                                    return interviewer;
                                });
                                await Promise.all(PInterviews);
                                // event.organizer(`${ data.acting_user.name } <mail@${data.acting_user.email_address}>`);
                                // event.attendees([]);
                                that.isSending = false;
                            }
                            return meet;

                            console.log('Create Done');
                        }
                        catch (e) {
                            console.error('Error: ', e)
                        }
                    });

                });


                await Promise.all(Parray);
                let hasSendMail = that.type == 'edit'?false:true;
                if (hasSendMail){
                    let abc = that.templateMeetingSignature;
                    let emailCompile = _.template(abc);
                    let candidate;
                    if(that.currentCandidate.hasOwnProperty('firestore')){
                        candidate = that.currentCandidate.cloneNewObject();
                    }else{
                        candidate = that.currentCandidate;
                    }
                    const attendees=[`${that.currentCandidate.name} <${that.currentCandidate.email_address}>`];

                    const event = calendarToCandidate.createEvent({
                        start: rangeTimeCalendar.startTime,
                        end: rangeTimeCalendar.endTime,
                        timestamp: moment(server_time.now),
                        summary: `${this.currentCandidate.name} ${messages.SR_021_SCHEDULE_MEETING_MEETING} (${this.currentPosition.title})`,
                        organizer: `${that.currentUser.name} <${that.currentUser.email}>`,
                        // organizer: `${that.currentUser.name} <${that.currentUser.email}>`,
                        // organizer: `Cloudjet Potential HR <calendar-${schedule_id}@${email_domain}>`; // todo: need improve logic here
                        description: that.getDescriptionInICS(that.currentScheduleMeeting.listMeeting),
                        attendees: attendees // todo: need add attendees here (hint: candidate email + interviewer emails + (maybe) organizer email)
                    });
                    // let attach = {
                    //     filename: 'invite.ics',
                    //     content: btoa(unescape(encodeURIComponent(calendarToCandidate.toString()))),
                    //     contentType: 'text/calendar'
                    // };
                    // let contentType = 'application/ics; charset=UTF-8; method=REQUEST';
                    let attachs = [
                        // {
                        //     filename: 'invite.ics',
                        //     content: calendarToCandidate.toString(),
                        //     // contentType: 'text/calendar'
                        //     contentType: contentType,
                        //     contentDisposition: 'inline'
                        // },
                        // {
                        //     filename: 'invite.ics',
                        //     content: btoa(unescape(encodeURIComponent(calendarToCandidate.toString()))),
                        //     // contentType: 'text/calendar'
                        //     contentType: contentType,
                        //     encoding: 'base64'
                        // },
                    ];


                    const calendar_event = {
                        base64_content: btoa(unescape(encodeURIComponent(calendarToCandidate.toString()))),
                        filename: 'invite.ics',
                    };



                    let emailObjectClone = _.cloneDeep(that.emailObject);
                    emailObjectClone.attachments = [...attachs];
                    emailObjectClone.body = emailCompile({
                        dataMeeting: that.emailObject.body,
                        signatureHtml: that.currentUser.signatureFlag == true?that.currentUser.signatureHtml:'',
                    });
                    emailObjectClone.calendar_event = calendar_event;
                    new Candidate().sendEmail(candidate, emailObjectClone, true).then(()=>{
                        console.log('Send email and create Inbox');
                    })

                }
                this.handleCloseModal();
            },





            cancelMoveToNextStep(error){
                this.listError.push(error);
            },
            continueProgress() {
                let that = this;
                that.disabledButton = true;
                this.saveInterview = true;
                setTimeout( () => {
                    this.saveInterview = false;
                    let cancelStep = that.listError.indexOf(true) == -1;
                    if (this.type == 'edit' && cancelStep) {
                        this.sendInvite();
                        this.handleCloseModal();
                    }
                    if (cancelStep){
                        this.step = 2;
                        this.emailBody();
                    }
                    that.listError = [];
                    this.cancelStep = true;
                    that.disabledButton = false;
                }, 2000);
            },
            removeInterviewCard(index) {
                this.currentScheduleMeeting.listMeeting.splice(index, 1);
            },
            getInterviewGuides() {
                new InterviewGuides().getAllInterviewGuides(this.currentCompany.id).then((interviewData) => {
                    this.listInterviewGuide = interviewData;
                })
            },
            addTime() {
                let newMeeting =  {
                    title :`${this.currentCandidate.name} ${messages.SR_021_SCHEDULE_MEETING_MEETING} (${this.currentPosition.title})`,
                    start_time_by_number: messages.SR_021_SCHEDULE_MEETING_TIME,
                    interview_guide: messages.SR_021_SCHEDULE_MEETING_GUIDE,
                    interviewers: [],
                    description: '',
                    location: '',
                    duration: messages.SR_021_SCHEDULE_MEETING_DURATION
                };
                let lengthSchedule = this.currentScheduleMeeting.listMeeting.length;
                let latestMeeting = this.currentScheduleMeeting.listMeeting[lengthSchedule - 1];
                if (latestMeeting.duration > 0 && latestMeeting.start_time_by_number >= 0){
                    let newStartTime = latestMeeting.start_time_by_number + (latestMeeting.duration/1000/3600);
                    if (newStartTime >= 24){
                        newStartTime = newStartTime - 24;
                    }
                    newMeeting.start_time_by_number = newStartTime;
                    newMeeting.duration = latestMeeting.duration;
                }
                this.currentScheduleMeeting.listMeeting.push(newMeeting);
            },
            handleCloseModal() {
                this.listError = [];
                this.$emit('closeModal')
            },
            handleOpenModal(){
                this.step = 1;
                this.isDetailInfo = true;
                this.isSending = false;
                this.cancelStep = false;
                if (this.type != 'edit'){
                    this.setCurrentScheduleMeeting({});
                    let scheduleData = {
                        interviewDate: moment(server_time.now).add(1, 'days').format(),
                        listMeeting: [
                            {
                                title: `${this.currentCandidate.name} ${messages.SR_021_SCHEDULE_MEETING_MEETING} (${this.currentPosition.title})`,
                                start_time_by_number: messages.SR_021_SCHEDULE_MEETING_TIME,
                                interview_guide: messages.SR_021_SCHEDULE_MEETING_GUIDE,
                                interviewers: [],
                                description: '',
                                location: '',
                                duration: messages.SR_021_SCHEDULE_MEETING_DURATION
                            }
                        ],
                        timezone: '+07',
                    };
                    this.setCurrentScheduleMeeting(scheduleData);
                }
                this.getInterviewGuides();

                this.$forceUpdate();
            },
            getLabelTimeZone(index) {
                return `${this.options[index].code} - ${this.options[index].label}`;
            },
        },
    });
</script>
<style lang="scss">
    .email-templates{
        .signature{
            display: none;
        }
    }

</style>
<style lang="scss" scoped>
    .btn-red{
        height:31px;
        margin-right:10px;
        margin-left: 10px;
    }
    .btn-blue{
        font-weight:normal;
    }
    .ui-select-bootstrap button {
        text-align: left;
    }

    .panel-details {
        width: 900px;
    }

</style>
<style>
    span.el-date-picker__header-label:first-of-type::before {
        content: 'Năm ';
    }

</style>

<style lang="scss">
    .error-class{
        input{
            border: 2px solid #eba2a5 !important;
        }
        &.select-interviews{
            .el-select__input{
                border: unset!important;
            }
        }
    }
    .mce-statusbar.mce-container.mce-panel.mce-stack-layout-item.mce-last {
        display: none;
    }
    .mce-edit-area.mce-container.mce-panel.mce-stack-layout-item{
        iframe{
            height: 300px!important;
        }
    }
    .mce-content-body{
        height:300px;
    }
    @import "~styles/interview_schedule";
    @import "~pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min.css";
    @import '~@fullcalendar/core/main.min.css';
    @import '~@fullcalendar/timegrid/main.min.css';
    @import "~styles/calendar";

    .custom-text-area {
        .el-textarea__inner {
            border: 2px solid #edeff0;

            &:hover {
                border-width: 2px !important;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    .el-button.btn-blue {
        margin-left: 10px;
        background-color: #5ac0e5 !important;
        color: #fff !important;
        padding: 9px 12px;
        font-weight: normal;
        font-size: 14px;
    }

    .select-interviews {
        .el-input__inner {
            width: 100% !important;;

        }

        .el-input__suffix {
            display: none;
        }
    }

    .date-time.pr-2 {
        .el-date-editor {
            width: 145px;
            margin-right: 5px;

            .el-input__inner {
                padding-right: 0px;
                padding-left: 10px;
            }

            .el-input__prefix {
                display: none;
            }
        }
    }

    .custom-modal-interview {
        max-height: 660px;
        overflow: auto;

        .add-interview.blue {
            color: #5ac0e5;

            &:hover {
                text-decoration: unset;
            }

        }
    }

    .modal-content {
        background: none;
    }

    .timezone {
        .el-select {
            min-width: 250px;
        }
    }

    .select-timezones {
        .el-scrollbar {
            .el-select-group {
                .el-select-dropdown__item {
                    line-height: unset !important;;
                    min-height: 50px;
                    padding: 5px 20px;
                }
            }
        }
    }

    .start-time .dropdown-menu {
        height: 200px;
        overflow: auto;
    }

    .dropdown-menu.show {

    }

    .schedule-interview-calendar table {
        background-color: transparent;
    }

    .select-candidate {
        &.hidden {
            display: none;
        }

        .el-scrollbar {
            .el-select-dropdown__item {
                line-height: unset !important;;
                /*min-height: 50px;*/
                padding: 5px 20px;

                strong {
                    margin-left: 5px;
                }
            }

            .el-select-dropdown__item::after {
                display: none;
            }
        }

        .el-select-dropdown__empty {
            display: none;
        }

        .popper__arrow {
            display: none;

            & ::after {
                display: none;
            }
        }

    }

    .schedule-interview-panel {
        .ql-container {
            border: 2px solid #edeff0;
        }

        .ql-toolbar {
            display: none;
        }
    }
    .interview-guide{
        .el-select{
            width:100%;
        }
    }
    .ng-isolate-scope {
        float: left;
    }

    .panel-times {
        .row:first-child {
            align-items: center;
        }

        .el-select {
            .el-tag {
                margin-top: 3px;
                margin-left: 0px;
                margin-right: 5px;

                &:first-child {
                }
            }

            .el-select__caret {
                /*display: none;*/
            }

            /*display:flex;*/
            flex: 1;
            /*height:32px;*/
            /*margin-left: 15px;*/
            /*margin-right: 5px;*/
            .el-select__tags {
                padding-left: 10px;
                max-width: unset !important;
                /*margin-top:3px;*/
            }

            input {
                padding-right: 10px;

                width: 120px;
            }
        }
    }

    .duration-time {
        .dropdown-menu {
            overflow: auto;
            max-height: 200px;
        }
    }

    .schedule-interview-panel-details {
        .ui-select-bootstrap button.dropdown-toggle {
            display: flex !important;
            justify-content: space-around;

            &::after {
                margin-top: 8px;
            }
        }
    }

    .custom-header-interview {
        background: white;
        margin-bottom: 0px!important;
    }

    .template-subject {
        width: 400px;
        margin-bottom: 10px;
    }

    .custom-vue-editor-class {
        width: 835px;
    }

    /*.ql-bubble .ql-tooltip {*/
    /*left: 0% !important;*/
    /*}*/

    /*.ql-bubble .ql-out-bottom,*/
    /*.ql-bubble .ql-out-top {*/
    /*visibility: hidden;*/
    /*}*/
</style>
