<template>
    <div>
        <div class=" modal-content interview-guides">
            <div class="modal-main">
                <div class="settings portal">
                    <div class="main-content">
                        <div class="interviewguides">
                            <div class="header">
                                <h1>{{messages.SR_006_INTERVIEW_GUIDES_TITILE}}</h1>
                                <p>{{messages.SR_006_INTERVIEW_GUIDES_DES_1}}</p>
                            </div>
                            <div class="scorecards-container section">
                                <div class="none " v-if="listShowInterviewGuide.length == 0">
                                    <p>{{messages.SR_006_INTERVIEW_GUIDES_DES_2}}</p>
                                </div>
                                <div class="feature-blocker">
                                    <div class="blocker"></div>
                                    <div class="original" v-if="listShowInterviewGuide.length>0">
                                        <div class="list-helpers">
                                            <div class="items-filter"></div>
                                            <div class="list-sort-order dropdown">
                                                <div class="sort-dropdown-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="">{{messages.SR_006_INTERVIEW_GUIDES_SORT}}: {{options_sorted == "Default" ? messages.COMMON_SORT_DEFAULT: messages.COMMON_SORT_ALPHABETICAL}}</span>
                                                    <span class="caret"></span>
                                                </div>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li @click="options_sorted = 'Default'">{{messages.SR_006_INTERVIEW_GUIDES_SORT_OPTION_1}}</li>
                                                    <li @click="options_sorted = 'Alphabetical'">{{messages.SR_006_INTERVIEW_GUIDES_SORT_OPTION_2}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="application-options">
                                            <li :key="index" class="option-item-guide" v-for="(guide,index) in listShowInterviewGuide">
                                                <h3 class=""><i class="fa fa-book"></i>{{guide.name}}</h3>
                                                <ul class="actions">
                                                    <li class="action">
                                                        <a class="remove"
                                                           href="javascript:void(0)"
                                                           @click="openModalEditGuide(guide)">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </li>
                                                    <li class="action">
                                                        <a class="remove" href="javascript:void(0)" @click="copyInterviewGuide( guide)">
                                                            <i class="fa fa-clone"></i>
                                                        </a>
                                                    </li>
                                                    <li class="action">
                                                        <a class="remove" href="javascript:void(0)" @click="deleteInterviewGuide(guide)">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="add-scorecard btn btn-blue btn-xs" href="javascript:void(0)" @click="openModaladdGuide()">
                                    <i class="fa fa-plus"></i><span>{{messages.SR_006_INTERVIEW_GUIDES_BTN_ADD}}</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <NewInterviewGuide :typeModal="mode" :idInterviewGuide="idInterviewGuide" :showModal="showModal" v-on:dismissModal="handerClose()">
            </NewInterviewGuide>
            <ConfirmDeleteGuide :showModal="show_confirm_delete" v-on:handleClose="noDeleteGuide()" v-on:handleSaveChange="deleteGuide()"></ConfirmDeleteGuide>
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import NewInterviewGuide from '@/components/modals/InterviewGuides/NewInterviewGuides.vue';
    import ConfirmDeleteGuide from '@/components/modals/InterviewGuides/confirmDeleteGuide.vue';
    import InterviewGuide from '@/models/InterviewGuides.ts'
    import _ from "lodash"
    import {mapActions, mapGetters} from 'vuex';

    export default Vue.extend({
        name: 'InterviewGuide',
        components:{
            NewInterviewGuide,
            ConfirmDeleteGuide
        },


        data(){
            return {
                mode:'add',
                options_sorted:'Default',
                show_confirm_delete:false,
                guide_delete: new InterviewGuide,
                idInterviewGuide:'',
                showModal:false
            }
        },
        computed:{
            ...mapGetters([
                "currentListInterviewGuide",
                "listInterviewGuide",
                "currentCompany"
            ]),
            // eslint-disable-next-line vue/return-in-computed-property
            listShowInterviewGuide() :Array<object>{
                if(this.options_sorted == 'Alphabetical'){
                    return _.orderBy(this['listInterviewGuide'],[guide => guide.name.toLowerCase()],'asc')
                }else if(this.options_sorted == 'Default'){
                    return this['listInterviewGuide']
                }
            }
        },
        mounted(){
            let that = this as any;
            that.getAllListInterviewGuide().then(()=>{
                console.log(that.currentListInterviewGuide)
            })
        },

        methods:{
            ...mapActions([
                "setCurrentListInterviewGuide",
                "editListInterviewGuide"
            ]),
            async getAllListInterviewGuide(){
                let that = this as any;
                let listInterview = new InterviewGuide()
                await listInterview.getAllInterviewGuides(that.currentCompany.id).then((data)=>{
                    that.setCurrentListInterviewGuide(data)
                })
            },
            noDeleteGuide(){
                this.show_confirm_delete = false
            },
            openModaladdGuide(){
                this.mode = 'add';
                this.idInterviewGuide = "";
                this.showModal = true;
            },
            openModalEditGuide(guide){
                this.mode = 'edit';
                this.idInterviewGuide = guide.id;
                this.showModal = true;
            },
            handerClose(){
                this.showModal = false
            },
            deleteGuide(){
                let that = this as any;
                if(that.guide_delete.id){
                    console.log("tesst remove", that.guide_delete)
                    that.guide_delete.delete().then(()=>{
                        that.editListInterviewGuide({type:'remove',content: that.guide_delete})
                        that.show_confirm_delete = false
                        // that.$toasted.show(that.messages.COMMON_REMOVED)
                    })
                }
            },
            deleteInterviewGuide(guide){
                this.show_confirm_delete = true
                Object.assign(this.guide_delete,guide)
            },
            copyInterviewGuide(guide){
                let that = this as any;
                if(guide.id){
                    console.log("tesst duplicate", guide)
                    that.editListInterviewGuide({type:'duplicate',content: guide}).then(()=>{
                    })
                }
            },
        }
    })


</script>
<style scoped lang="scss">
    .modal-content .settings .main-content {
        margin-left: 0 !important;
    }

    .modal-content .modal-main .main-content{
         padding: 20px 20px 20px 20px;
    }
    .modal-content{
        border: none;
    }
    .settings.portal .section a.remove, .settings.portal .section a:focus {
        color: #4c555c;
        outline: none;
    }
    .application-options .option-item-guide h3, .application-options .option-item-guide .option-label {
        flex: 1;
        font-size: 14px !important;
    }
    .interview-guides {
        .add-scorecard i {
            margin-right: 5px;
        }
        .interviewguides .list-helpers {
            /*display: flex;*/
            /*align-items: flex-end;*/
            text-align: right;
            margin-bottom: 10px;
            .list-sort-order{
                display: inline-block;
                font-size: 12px;
                text-align: right;
                .sort-dropdown-toggle{
                    cursor: pointer;
                }
                ul {padding: 3px;
                    & > li {
                        cursor: pointer;
                        font-size: 12px;
                        padding: 3px;
                        margin-bottom: 3px;
                        &:hover{
                            background-color: #f9fafa;
                        }
                    }
                }
            }
        }
        .feature-blocker {
            height: inherit;
            position: relative;
        }
        .application-options {
            background: #fafafa;
            border: 1px solid #edeff0;
            border-radius: 4px;
            margin-bottom: 10px;
            display: block;
            li.option-item-guide {
                display: flex;
                align-items: flex-start;
                border-bottom: 1px solid #edeff0;
                padding: 10px;

                ul {
                    display: flex;
                    height: 18px;

                    li {
                        margin-left: 10px;
                    }

                    li > a {
                        font-size: 10px;
                        box-sizing: border-box;
                        vertical-align: baseline
                    }
                }

                & h3 {
                    margin-bottom: 0px !important;
                    font-weight: 500;
                    line-height: 1.1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    vertical-align: middle;
                    white-space: nowrap;

                    > i {
                        font-weight: 900;
                        width: 18px;
                        height: 18px;
                        margin-right: 5px;
                        color: #4c555c;
                        font-size: 14px;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
        }
    }
</style>
