<template>
    <div class="main-content">
        <div class="modal-main">
            <div class="settings">
                <div class="main-content">
                    <div class="header">
                        <h1>{{messages.SR_005_QUESTIONNAIRES}}</h1>
                        <p>{{messages.SR_005_CONTENT_QUESTIONNAIRES}}
<!--                            <a href="https://help.cloudjetkpi.com/" target="_blank" style="color: #5ac0e5;">{{messages.SR_005_LEARN_MORE}}</a>-->
                        </p>
                    </div>
                    <div class="questionnaires-container section">
                        <div class="none" v-if="questionnaires.length === 0">
                            <p>{{messages.SR_005_CREATED_ANY_QUESTIONNAIRES}}</p>
                        </div>
                        <div class="list-sort-order" v-if="questionnaires.length > 0">
                            <div class="dropdown-toggle sort-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span>{{messages.COMMON_TEXT_SORT}}: {{sortOption == "name" ? messages.SR_005_SORT_ALPHABETICAL : messages.SR_005_SORT_DEFAULT }}</span>
                            </div>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-sort-questionnaire">
                                <li class="dropdown-item" @click="sortQuesionnaires('createdAt')">{{messages.SR_005_SORT_DEFAULT}}</li>
                                <li class="dropdown-item" @click="sortQuesionnaires('name')">{{messages.SR_005_SORT_ALPHABETICAL}}</li>
                            </ul>
                        </div>
                        <b-list-group v-if="questionnaires.length > 0">
                            <b-list-group-item class="state-item" :key="questionnaire.id" v-for="questionnaire in sortQuestionnaire" >
                                <div class="d-flex">
                                    <i class="fa fa-list icon-list-question"></i>
                                    <h3>{{ questionnaire.name }}</h3>
                                </div>
                                <div class="flex-box-right" style="cursor: pointer;">
                                    <i class="fa fa-edit" @click="showModalEdit(questionnaire)"></i>
                                    <i class="fa fa-clone" @click="copyQuestionnaire(questionnaire)"></i>
                                    <i class="fa fa-times" @click="deleteQuestionnaire(questionnaire)"></i>
                                </div>
                            </b-list-group-item>
                        </b-list-group>
                        <Addquestionnaires
                            :showModal="showModal"
                            @handleClose="handleCloseModalAddQuestionnaires"
                            :external_questionnaire="selectedQuestionnaire"
                        >
                        </Addquestionnaires>
                        <button  class="add-questionnaire btn btn-blue btn-xs mt-2" @click="openModalAddQuestionnaire">
                            <i class="fa fa-plus pr-1"></i>
                            <span>{{messages.SR_005_BTN_ADD_QUESTIONNAIRE}}</span>
                        </button>
                        <ModalConfirm
                            @handleSaveChange="handleSaveChange()"
                            @handleClose="handleCloseUnSavedChange"
                            :showModal="showModalUnSavedChange"></ModalConfirm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex';
    import Addquestionnaires from '../modals/Questionnaries/Addquestionnaires.vue';
    import ModalConfirm from "../modals/Questionnaries/ModalConfirm.vue";
    import _ from "lodash"

    export default Vue.extend({
        components: {
            Addquestionnaires,
            ModalConfirm
        },
        data() {
            return {
                selectedItem: '',
                showModalConfirm: false,
                showModal: false,
                selectedQuestionnaire: null,
                showModalUnSavedChange: false,
                questionnaireDelete: null,
                sortOption: 'createdAt',
            };
        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentCompany',
                'questionnaires'
                // ...
            ]),
            sortQuestionnaire(){
                let that = this as any;
                let objs = _.orderBy(that.questionnaires,(item) => {
                    if (that.sortOption == "name") {
                        return item.name.toLowerCase();
                    } else {
                        return item[that.sortOption]
                    }
                });
                return objs;
            }
        },
        mounted() {
            let that = this as any;
            that.getQuestionnaires();
        },
        methods: {
            ...mapActions([
                'getQuestionnaires',
                'removeQuestionnaire',
                'duplicateQuestionnaire'
            ]),
            sortQuesionnaires(sortOption){
                let that = this as any;
                that.sortOption = sortOption;
            },
            copyQuestionnaire(questionnaire){
                let that = this as any;
                that.duplicateQuestionnaire(questionnaire)
            },
            deleteQuestionnaire(questionnaire){
                let that = this as any;
                that.showModalUnSavedChange = true;
                that.questionnaireDelete = questionnaire
            },
            handleCloseModalAddQuestionnaires() {
                let that = this as any;
                that.showModalConfirm = false;
                that.showModal = false;
                that.selectedQuestionnaire = null;
            },
            openModalAddQuestionnaire(){
                let that = this as any;
                that.showModal = true;
                that.selectedQuestionnaire = null;
            },
            updateCompany: function () {
                let that = this as any;
                that.getCompany.update();
                that.$toasted.show('Saved!')
            },
            showModalEdit(questionnaire) {
                let that = this as any;
                that.selectedQuestionnaire = questionnaire;
                that.showModal = true;
            },
            handleSaveChange() {
                let that = this as any;
                that.showModalUnSavedChange = false;
                that.removeQuestionnaire(this.questionnaireDelete)
            },
            handleCloseUnSavedChange() {
                let that = this as any;
                that.showModalUnSavedChange = false;
                that.handleCloseModalAddQuestionnaires()
            }
        },
    });
</script>
<style lang="scss" scoped>
    .list-sort-order ul li {
        cursor: pointer;
        font-size: 12px;
        padding: 3px;
        margin-bottom: 3px;
    }
    .list-sort-order{
        font-size: 12px;
        text-align: right;
    }
    .list-sort-order .sort-dropdown-toggle {
        cursor: pointer;
    }
    .items-filter {
        flex: 1;
    }
    .list-helpers {
        align-items: flex-end;
        display: flex;
        margin-bottom: 10px;
        width: 100%;
    }
    .header {
        margin-bottom: 20px
    }
    .application-options {
        background: #fafafa;
        border: 1px solid #edeff0;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .state-item h3{
        width: 530px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }
    .icon-list-question{
        width: 18px;
        height: 18px;
        margin-right: 5px;
        vertical-align: middle;
    }
    .state-item {
        background: #fafafa;
        border: 1px solid #edeff0;
        justify-content: space-between;
        display: flex;
        align-content: center;
        height: 40px;
        padding: 9px;
    }

    .flex-box-right i{
        margin-left:10px;
        font-size:10px;
    }
</style>
<style>
    >>>.dropdown-menu.dropdown-sort-questionnaire {
        padding: 0;
        position: absolute;
        top: 100%;
        left: 6px !important;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 170px;
        margin: 1px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
</style>
