<template>
    <div class="settings">
        <div class="main-content">


            <div class="header">
                <h1>{{messages.SR_053_TITLE}}</h1>
                <p>{{messages.SR_053_DESCR}}
                </p>
            </div>

            <div class="scorecards-container section">
                <div class="none ng-scope" v-if="currentScorecard.length == 0">
                    <p>{{messages.SR_053_NO_SCORECARD}}</p>
                </div>
                <div class="feature-blocker">
                    <div class="blocker ng-hide" ng-show="block"
                         ng-class="{'fade-background': (type === 'full')}"></div>
                    <div class="original" ng-transclude="ng-transclude" ng-class="{blocked: block}"
                         v-if="currentScorecard.length>0">
                        <div class="list-helpers">
                            <div class="items-filter"></div>
                            <div class="list-sort-order dropdown">
                                <div class="sort-dropdown-toggle dropdown-toggle" data-toggle="dropdown"
                                     aria-haspopup="true" aria-expanded="false">
                                    <span class="">{{messages.COMMON_TEXT_SORT}}: {{options_sorted == "Default" ? messages.COMMON_SORT_DEFAULT: messages.COMMON_SORT_ALPHABETICAL}}</span>
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li @click="options_sorted = 'Default'"><a>{{messages.COMMON_SORT_DEFAULT}}</a></li>
                                    <li @click="options_sorted = 'Alphabetical'"><a>{{messages.COMMON_SORT_ALPHABETICAL}}</a></li>
                                </ul>
                            </div>
                        </div>

                        <ul class="application-options ng-scope" v-if="currentScorecard.length > 0">
                            <li :key="index" class="option-item ng-scope"
                                v-for="(score,index) in listShowScoreCard"
                                ng-repeat="score in currentScorecard | orderBy:listSortOrder.value ">
                                <h3 class="ng-binding"><i class="fas fa-thumbs-up"></i>{{score.scorecard_name}}</h3>
                                <ul class="actions">
                                    <li class="action">

                                        <ScoreCardComponent :typeModal="'edit'" :idScorecard="score.id">
                                            <a slot="btn_show_modal"
                                               class="remove"
                                               href="javascript:void(0)"
                                               ng-click="openAddScorecard($index, score)">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </ScoreCardComponent>
                                    </li>
                                    <li class="action">
                                        <a class="remove" href="javascript:void(0)" @click="copyScorecard(score)">
                                            <i class="fa fa-clone"></i>
                                        </a>
                                    </li>
                                    <li class="action">
                                        <a class="remove" href="javascript:void(0)" @click="deleteScorecard(score)">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <ScoreCardComponent :typeModal="'add'" :idScorecard="-1">
                    <a slot="btn_show_modal" class="add-scorecard btn btn-blue btn-xs" href="javascript:void(0)">
                        <i class="fa fa-plus"></i><span> {{messages.SR_053_ADD_SCORE_BUTTON}}</span>
                    </a>
                </ScoreCardComponent>
                <ConfirmDeleteScoreCard :showModal="show_confirm_delete" v-on:handleClose="noDeleteScoreCard()"
                                        v-on:handleSaveChange="deleteScoreCard()"></ConfirmDeleteScoreCard>

            </div>

        </div>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import ConfirmDeleteScoreCard from '../modals/ScoreCards/ConfirmDeleteScoreCard.vue';
    import ScoreCardComponent from '../modals/ScoreCards/ScoreCardComponent.vue';
    import _ from "lodash";
    import {mapGetters, mapActions} from 'vuex';
    import Scorecard from '@/models/Scorecard.ts';

    export default Vue.extend({
        name: 'Scorecards',
        components: {
            ScoreCardComponent,
            ConfirmDeleteScoreCard
        },


        data() {
            return {
                options_sorted: 'Default',
                show_confirm_delete: false,
                scorecard_delete: new Scorecard,
            }
        },
        computed: {
            ...mapGetters([
                "currentScorecard",
                "currentCompany"
            ]),
            // eslint-disable-next-line vue/return-in-computed-property
            listShowScoreCard(): Array<object> {
                const self = this;
                console.log(self['currentScorecard']);
                if (!self['currentScorecard']) {
                    return [];
                } else if (self.options_sorted == 'Alphabetical') {
                    return _.orderBy(self['currentScorecard'],[score => score.scorecard_name.toLowerCase()],'asc');
                } else if (self.options_sorted == 'Default') {
                    return _.orderBy(self['currentScorecard'], 'createdAt', 'asc');
                }
            }
        },
        mounted() {
            let self = this as any;
            self.getScorecard();

        },

        methods: {
            ...mapActions([
                "getScorecard",
            ]),
            noDeleteScoreCard() {
                this.show_confirm_delete = false;
            },
            deleteScoreCard() {
                let self = this as any;
                if (self.scorecard_delete.id) {
                    console.log("Scorecard remove", self.scorecard_delete)
                    self.scorecard_delete.delete().then(result => {
                        self.show_confirm_delete = false;
                        // self.$toasted.show('removed');
                    }).catch(err => {
                        console.log(err);
                    })
                }
            },
            deleteScorecard(score) {
                let self = this;
                self.show_confirm_delete = true;
                Object.assign(this.scorecard_delete, score);
            },
            copyScorecard(score) {
                let self = this as any;
                if (score.id) {
                    console.log("Scorecard duplicate", score);
                    let _duplicate = new Scorecard();
                    Object.assign(_duplicate, score);
                    _duplicate.scorecard_name += " (Copy)";
                    _duplicate.insert().then(result => {
                        // self.$toasted.show('duplicated ok!');
                    }).catch(err => {
                        console.log(err);
                    })
                }
            },
        }
    })


</script>
<style scoped lang="scss">
    @import "../../assets/styles/constants";
    @import "../../assets/styles/_settings.scss";

    .modal-content .modal-main .main-content {
        padding: 20px 20px 20px 20px;
    }

    .modal-content {
        border: none;
    }

    .settings.portal .section a.remove, .settings.portal .section a:focus {
        color: #4c555c;
        outline: none;
    }

    .application-options .option-item h3, .application-options .option-item .option-label {
        flex: 1;
        font-size: 14px !important;
        font-weight: 400;
        margin-bottom: 0px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
    }
</style>
