<template>
    <b-modal v-model="showModal"
             :no-close-on-backdrop="true"
             no-close-on-esc
             @show="handleOpenModal()"
             modal-class="modal-creat-task">
        <template slot="modal-header" slot-scope="{ close }">
            <h4 v-if="external_task" class="modal-title">{{messages.SR_009_EDIT_A_TASK}}</h4>
            <h4 v-else class="modal-title">{{messages.SR_009_CREATE_A_TASK}}<br>
                <small class="text-secondary" style="font-size: 13px">{{messages.SR_009_CREATE_A_TASK_CONTENT}}</small>
            </h4>
            <button type="button" aria-label="Close" class="close" @click="handleCloseModal()">×</button>
        </template>

        <template slot="modal-footer" slot-scope="{ ok }">
            <button size="sm" variant="primary" class="btn btn-blue" @click="insertTask()">
                <i class="fa fa fa-check-square pr-1"></i>
                <span v-if="task.created_by">{{messages.SR_009_SAVE_TASK}}</span>
                <span v-else> {{messages.SR_009_CREATE_TASK}}</span>
            </button>
        </template>
        <!-- Errs -->
        <div class="alert alert-danger my-3" v-if="selectedUsers.length == 0 && errorsTasks.blank_user_assign">
            <span>{{messages.SR_009_WARNING_USER_ASSIGN}}</span>
        </div>
        <div class="alert alert-danger my-3" v-if="task.deadline == null && errorsTasks.deadline">
            <span>{{messages.SR_009_WARNING_DEADLINE}}</span>
        </div>
        <!-- Task name -->
        <div class="my-3">
            <input type="text" class="form-control border-created-task" :placeholder="messages.SR_009_TASK_NAME" v-model.trim="task.title"
                   :class="task.title.trim()==='' && errorsTasks.title?'error':''">
        </div>
        <!-- Task description -->
        <div class="my-3">
            <div class="form-group">
                <textarea class="form-control border-created-task" :placeholder="messages.SR_009_TASK_DESCRIPTION" rows="3" v-model="task.description" style="resize:none;"></textarea>
            </div>
        </div>
        <!--Attach file-->
        <ul class="my-3">
            <li class="file-attachment" :key="index" v-for="(file, index) in task.files">
                <div class="attached">
                    <i class="fa fa-paperclip"></i>
                    <span class="mr-2 ml-2">{{file.name}}</span>
                    <span class="attachment"></span>
                    <a class="remove" href="javascript:void(0)" @click="removeFileAttachment(index)">
                        <i class="fa fa-times ml-2"></i>
                    </a>
                </div>
            </li>
            <li class="file-attachment" v-if="uploading">
                <div class="uploading">
                    <i class="fa fa-circle-notch fa-spin"></i>
                    <span>{{messages.SR_009_UPLOADING}}</span>
                </div>
            </li>
            <div class="btn btn-blue btn-xs py-1 mr-2 attach-file" @click="onClickFile">
                <i class="fa fa-plus mr-1"></i>
                <span>{{messages.SR_009_ATTACH_FILE}}</span>
                <input id="tagFileEmail" type="file" ref="inputFiles" @change="handleFileUploads" style="display: none">
            </div>
        </ul>
        <!-- Time picker -->
        <div class="my-3">
            <div class="row">
                <div class="col-sm-6">
                    <el-date-picker
                        popper-class="custom-class-date-picker"
                        input-style="String"
                        v-model="task.deadline"
                        type="date"
                        :placeholder="messages.SR_009_DATE_DEADLINE"
                        :picker-options="pickerOptions"
                        format="dd/MM/yyyy"
                        value-format="yyyy-MM-dd">
                    </el-date-picker>
                </div>
            </div>
        </div>
        <!-- People who take the task -->
        <div class="container px-0 d-flex my-3">
            <SelectSearch
                @changeValue="changetemplateVariables"
                :class-container="( selectedUsers.length === 0 && errorsTasks.blank_user_assign ? 'isError':'') + ' select-container'"
                :place-holder="messages.SR_009_SELECT_SEARCH_USER"
                :title-field="'name'"
                :value-field="'email'"
                :data-options="companyUsers"
                :is-show-avatar="true"
                :width="300"
                :value="currentAction"
                :disabled="selectedUsers.length > 0 && external_task != null"
            >
            </SelectSearch>
            <div class="pt-1">
                <button class="btn btn-blue btn-xs ml-3" @click="addUser()" :disabled="selectedUsers.length > 0 && external_task != null">
                    <i class="fa fa-plus mr-1"></i>
                    <span>{{messages.SR_009_ADD}}</span>
                </button>
            </div>
        </div>
        <div class="section">
            <div class="selected-user" :key="index" v-for="(user, index) in selectedUsers">
                <avatar :size="26" :username="user.name" :initials="user.name.charAt(0).toUpperCase()" :src="user.photoURL"></avatar>
                <span class="user-name ml-2">{{user.name}}</span>
                <i class="fa fa-times" @click="removeUser(index)"></i></div>
        </div>
        <div class="container" id="assignedPeople"></div>
    </b-modal>
</template>

<script lang="ts">
    import Vue from 'vue'
    import {fstorage, server_time} from '@/firebase';
    import {mapGetters, mapMutations, mapActions} from "vuex";
    import {Datetime} from 'vue-datetime';
    import User from "../../models/User";
    import SelectSearch from '../select/main.vue';
    import VueI18n from 'vue-i18n'
    import {DatePicker} from 'element-ui';
    import Task from "@/models/Task";
    import _ from "lodash";
    import lang from 'element-ui/lib/locale/lang/vi';
    import locale from 'element-ui/lib/locale';
    import {messages} from "@/messages";
    import avatar from 'vue-avatar';

    locale.use(lang);

    Vue.use(DatePicker);
    Vue.use(VueI18n);

    export default Vue.extend({
        name: "create-task",
        components: {
            // datetime: Datetime,
            SelectSearch,
            avatar
        },
        props: ['showModal','external_task'],
        data() {
            return {
                pickerOptions: {
                    shortcuts: [{
                        text: messages.SR_009_TXT_TODAY,
                        onClick(picker) {
                            picker.$emit('pick', server_time.now)
                        }
                    },{
                        text: messages.SR_009_TOMORROW,
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 1);
                            picker.$emit('pick', date);
                        }
                    },{
                        text: messages.SR_009_IN_2_DAYS,
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 2);
                            picker.$emit('pick', date);
                        }
                    },{
                        text: messages.SR_009_IN_1_WEEK,
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    },{
                        text: messages.SR_009_IN_2_WEEK,
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 14);
                            picker.$emit('pick', date);
                        }
                    },{
                        text: messages.SR_009_IN_1_MONTH,
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', date);
                        }
                    },{
                        text: messages.SR_009_IN_2_MONTH,
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 60);
                            picker.$emit('pick', date);
                        }
                    }]
                },
                task: new Task(),
                uploading: false,
                assignee: (this as any).currentUser,
                errorsTasks: {},
                currentAction: {
                    name: messages.SR_009_SELECT_SEARCH_USER,
                },
                selectedUsers: [],
                upload: null as firebase.storage.UploadTask,
            }
        },
        mounted() {
            let that = this as any;
        },
        watch: {
            currentUser(val, oldVal) {
                let that = this as any;
                if (that.assignee == null) {
                    that.assignee = val;
                }
            },
            showModal(val){
                let that = this as any;
                if(val && !that.external_task){
                    that.task = new Task();
                    that.errorsTasks = {};
                    that.uploading = false;
                    that.selectedUsers = [];
                    that.currentAction = {
                        name: messages.SR_009_SELECT_SEARCH_USER,
                    }
                }
            },
        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentCompany',
                'companyUsers'
            ]),
        },
        methods: {
            ...mapActions([
                'createdTasks',
                'updateTaskAction'
            ]),
            changetemplateVariables(data){
                let that = this as any;
                if(data){
                    that.currentAction = data
                }
            },
            addUser(){
                let that = this as any;
                let compareListUserAssign = that.selectedUsers.some(user => {
                    return user.id === that.currentAction.id
                });
                if(that.selectedUsers.length > 0 && that.currentAction.id){
                    if(!compareListUserAssign){
                        that.selectedUsers.push(that.currentAction);
                        that.currentAction = {
                            name: messages.SR_009_SELECT_SEARCH_USER,
                        }
                    }else {
                        that.currentAction = {
                            name: messages.SR_009_SELECT_SEARCH_USER,
                        }
                    }
                }else if(that.currentAction.id){
                    that.selectedUsers.push(that.currentAction);
                    that.currentAction = {
                        name: messages.SR_009_SELECT_SEARCH_USER,
                    }
                }else {
                    that.currentAction = {
                        name: messages.SR_009_SELECT_SEARCH_USER,
                    }
                }
            },
            removeUser(index){
                let that = this as any;
                that.selectedUsers.splice(index,1)
            },
            validateTask(){
                let that = this as any;
                that.is_errors = false;
                that.errorsTasks = {};
                if(that.task.title.trim() === ""){
                    that.errorsTasks.title = true;
                    that.is_errors = true;
                }
                if(that.selectedUsers.length == 0){
                    that.errorsTasks.blank_user_assign = true;
                    that.is_errors = true
                }else if(that.task.deadline == null) {
                    that.errorsTasks.deadline = true;
                    that.is_errors = true;
                }
                return that.is_errors
            },
            handleOpenModal(){
                let that = this as any;
                that.selectedUsers = [];
                that.uploading = false;
                if(that.external_task != null){
                    let _cloneTask = _.cloneDeep(that.external_task);
                    if (_.isArray(_cloneTask)) {
                        _cloneTask.forEach((obj) => {
                            delete obj['firestore'];
                            delete obj['updatedAt'];
                            delete obj['createdAt'];
                        })
                    } else {
                        delete _cloneTask['firestore'];
                        delete _cloneTask['updatedAt'];
                        delete _cloneTask['createdAt'];
                    }
                    that.task = _cloneTask;
                    that.selectedUsers.push(that.task.assignee)
                }
            },
            onClickFile(){
                let that = this as any;
                that.$refs.inputFiles.click();
            },
            handleFileUploads(e) {
                let that = this as any;
                let file = e.target.files[0];
                that.uploading = true;
                let file_name = Math.random().toString(36).substring(7) + file.name;
                that.upload = fstorage.ref('templates/documents/' + file_name).put(file);
                that.upload.on('state_changed', sp => {},
                    null,
                    () => {
                        that.upload.snapshot.ref.getDownloadURL().then(downloadURL => {
                            that.task.files.push({
                                name: file.name,
                                url: downloadURL
                            });
                            that.uploading = false;
                            that.$refs.inputFiles.value = null
                        })
                    })
            },
            removeFileAttachment(index) {
                let that = this as any;
                that.task.files.splice(index, 1);
            },
            handleCloseModal() {
                let that = this as any;
                that.$emit("handleClose");
                that.currentAction = {
                    name: messages.SR_009_SELECT_SEARCH_USER,
                };
                if(that.upload){
                    that.upload.cancel();
                    that.upload.ref_.delete()
                }
            },
            insertTask() {
                let that = this as any;
                if(!that.validateTask()){
                    if(that.task.id == ""){
                        that.$emit("createdTaskAssigee", {task: that.task, users: that.selectedUsers})
                    }else {
                        that.$emit("updateCurrent", {task: that.task, users: that.selectedUsers})
                    }
                    that.$emit("handleClose");
                    that.currentAction = {
                        name: messages.SR_009_SELECT_SEARCH_USER,
                    };
                }
            }
        }
    });
</script>

<style lang="scss">
    @import '~element-ui/lib/theme-chalk/index.css';
    .custom-class-date-picker {
        width: 463px !important;
        .el-picker-panel__sidebar {
            position: absolute !important;
            top: 0 !important;
            bottom: 0 !important;
            width: 150px !important;
            border-right: 1px solid #e4e4e4 !important;
            -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
            padding-top: 6px !important;
            background-color: #FFF !important;
            overflow: auto !important;
        }
        .el-picker-panel__sidebar+.el-picker-panel__body {
            margin-left: 150px !important;
        }
    }
    .modal-creat-task {
        .border-created-task{
            border: 2px solid #dedede;
        }
        .select-container {
            width: 300px !important;
            max-width: 300px !important;

            input{
                border: 2px solid #dedede;
                padding-right: 25px;
            }

            li {
                width: 300px !important;
            }

            .container-item {
                width: 300px !important;
                max-width: 300px !important;
            }
        }
        .select-container.isError {
            input.form-control {
                border: 2px solid #eba2a5;
            }
        }
        .error{
            border: 2px solid #eba2a5;
        }
        .attach-file{
            border: none;
            position: relative;
            overflow: hidden;
        }
        .form-control::placeholder {
            color: white;
        }
        .modal-header{
            border-bottom:none;
            padding-bottom:0px;
        }
        .modal-dialog{
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            background: #edeff0;
        }
        .modal-content{
            border:none;
        }
        .modal-body{
            padding-top:0px;
        }
        .modal-footer{
            border-top:none;
            background-color:#f9fafa;
            border-top: 1px solid #edeff0;
        }
    }
</style>
