<template>
    <b-modal
        :hide-footer="true"
        no-close-on-esc
        no-close-on-backdrop
        modal-class="modal-unsaved-change"
        v-model="showModal">
        <div>
            <h3 class="text-center" v-if="confirmComplete">{{messages.SR_009_CONFIRM_COMPLETE_TASK}}</h3>
            <h3 class="text-center" v-else>{{messages.SR_009_CONFIRM_DELETE_TASK}}</h3>
<!--            <p class="text-center">Would you like to save your changes to this pipeline?</p>-->
            <div class="text-right pt-4">
            <button class="btn btn-none" @click="handleCloseModal" type="button" style="margin-right:10px">{{messages.SR_009_BTN_NO_THANKS}}</button>
            <button class="btn btn-blue" @click="handleSaveChange" type="button">
                <i class="fa fa-check"></i>
                {{messages.SR_009_YES_PLEASE}}
            </button>
            </div>
        </div>
    </b-modal>
</template>

<script>
    const _ = require('lodash');

    export default {

        name: "ModalConfirm",
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
            confirmComplete: {
                type: Boolean,
                default: false
            }
        },

        methods: {
            handleSaveChange(){
                this.$emit('handleSaveChange')
            },
            handleCloseModal() {
                this.$emit('handleClose')
            }
        }
    }
</script>

<style>
    .modal-unsaved-change .modal-header{
        border-bottom:none;
        padding-bottom:0px;
    }
    .modal-unsaved-change .modal.show .modal-dialog{
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
        background: #edeff0;
        text-align: center;
    }
    .modal-unsaved-change .modal-content{
        border:none;
    }
    .modal-unsaved-change .modal-body{
        padding-top:0px;
    }
    .modal-unsaved-change .modal-header .close{
        display: none;
    }
</style>
