<template>
    <li class="activity-container task-list-item" :class="getClassTask(task)">
        <div>
            <div class="activity task taskGeneral inactive" id="b9af0b7ee0cf"
                 ng-class="{ 'active': task.active === true, 'inactive': task.active !== true }">
                <div class="ng-hide activity-type" style="display: none">
                    <i class="ng-hide fa fa-check inactive"></i>
                </div>
                <div class="activity-type" @click="completeTask(task, $event)"
                     v-tooltip="{content: messages.SR_045_LBL_MARK_COMPLETE, class: 'common-tooltip'}">
                    <i class="ng-hide fa fa-check inactive"></i>
                    <i class="ng-hide fa fa-refresh fa-spin active"></i>
                </div>
                <div class="ng-scope">
                    <div class="activity-object ng-scope" @click="navigateToTask(task.id)">
                        <div class="activity-info">
                            <div class="activity-body"><p class="title ng-binding">{{task.title}}</p>
                                <ul class="actions mb-0">
                                    <li class="action"><span class="datetime"><i
                                        class="fa fa-clock"></i><span>{{messages.COMMON_DUE}} </span><span class="ng-binding">{{formatDate(task.deadline)}}</span></span>
                                    </li>
                                    <li class="action"><span><i class="fa fa-user"></i>
                                                    <span ng-if="task.assigned" class="ng-scope"> {{messages.SR_045_LBL_YOU}}</span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <confirm-complete-task-candidate
            @handleSaveChange="handleSaveChange"
            @handleClose="handleCloseModal"
            :showModal="showMarkDoneModal">
        </confirm-complete-task-candidate>
    </li>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapActions} from "vuex";
    import moment from "moment";
    import ConfirmCompleteTaskCandidate from '../modals/Candidate/ConfirmCompleteTaskCandidate.vue';
    import {server_time} from "@/firebase";

    export default Vue.extend({
        name: "TaskListItem",
        props: ['task'],
        components: {
            ConfirmCompleteTaskCandidate,
        },
        data() {
            return {
                showMarkDoneModal: false
            }
        },
        computed: {
            ...mapGetters([
                'currentUser',
            ]),
            item(): any {
                return this.task;
            },
            this_class(): any {
                if (typeof this.$attrs.class === "object") {
                    return {
                        ...(this.$attrs.class as object),
                        'task-list-item': true,
                    }
                } else {
                    return this.$attrs.class + ' task-list-item';
                }
            }
        },
        methods: {
            ...mapActions([
                'markCompleteTask',
                'hideMyTaskIsDone'
            ]),
            handleClick(item: any): void {
                this.$emit("click", item);
            },
            getClassTask(task) {
                let cls = [];
                let deadline = moment(task.deadline).format("YYYY-MM-DD");
                let today = moment(server_time.now).format("YYYY-MM-DD");
                if (deadline == today) {
                    cls.push("task-today");
                } else if (deadline < today) {
                    cls.push("task-overdue");
                } else {
                    cls.push("task-upcoming");
                }
                return cls;
            },
            formatDate(date) {
                let deadline = moment(date).format("YYYY-MM-DD");
                let today = moment(server_time.now).format("YYYY-MM-DD");
                let tomorrow = moment(server_time.now).add(1, 'days').format("YYYY-MM-DD");
                let that = this as any;
                if (deadline == today) {
                    return that.messages.SR_045_LBL_TODAY;
                } else if (deadline == tomorrow) {
                    return that.messages.SR_045_LBL_TOMORROW;
                }
                return moment(date).format("DD/MM/YYYY");
            },
            navigateToTask(id) {
                let that = this as any;
                if (id) {
                    that.$router.push(`/tasks/${id}`);
                }
            },
            completeTask(task, event) {
                let that = this as any;
                that.showMarkDoneModal = true
            },
            handleSaveChange() {
                let that = this as any;
                that.markCompleteTask({task: that.task, user: that.currentUser}).then(() => {
                    that.showMarkDoneModal = false;
                    that.hideMyTaskIsDone(that.task);
                })
            },
            handleCloseModal() {
                let that = this as any;
                that.showMarkDoneModal = false;
            }
        }
    })
</script>

<style lang="scss">
    .task-list-item{
        .activity-object {
            cursor: pointer;
        }

        .task .activity-type i {
            right: 5.2px !important;
        }
    }
</style>
