<template>
    <div class="flex-grow-1 overflow-auto ml-4 bg-light">
        <div style="background-color: white; padding: 20px;" v-if="!currentTask.id && loading">
            <vcl-facebook></vcl-facebook>
        </div>

        <!-- Upcoming task 1 -->
        <div v-if="currentTask.id" style="min-height: 100%" class="border p-3 text-secondary rounded">
            <!-- Header -->
            <div class="d-flex align-items-center border-bottom pb-4">
                <div class="activity-type task-complete task-check mx-2" v-show="currentTask.is_done">
                    <i class="fas fa-check inactive"></i>
                </div>
                <div class="activity-type task-check mx-2 flex-shrink-0" v-show="!currentTask.is_done"
                     @click="completeTask(currentTask)"
                     v-b-tooltip.hover.bottom="messages.SR_009_TOOLTIP_COMPLETE">
                    <i class="fas fa-check inactive"></i>
                    <i class="fas fa-refresh fa-spin active"></i>
                </div>
                <ModalConfirm
                    @handleSaveChange="handleSaveChange"
                    @handleClose="handleCloseModalConfirm"
                    :showModal="showModalConfirmTask"
                    :confirmComplete="confirmComplete">
                </ModalConfirm>
                <div class="flex-grow-1">
                    <h5 class="my-0">
                        <b>{{ currentTask.title }}</b>
                    </h5>
                    <small>
                        <strong>{{messages.SR_009_ASSIGNEE}}</strong> {{currentTask.assignee.name }}
                    </small>
                    <i class="fas fa-clock ml-2 mr-1"></i>
                    <small>
                        <strong>{{messages.SR_009_DEADLINE}}</strong> {{ new Date(currentTask.deadline) | formatTimeTask }}
                    </small>
                    <small class="target action ml-2" v-if="currentTask.candidate_id">
                            <a style="color: #5ac0e5;" href="javascript:void(0)" @click="navigateToCandidate(currentTask)">{{messages.SR_038_VIEW_CANDIDATE}}</a>
                    </small>
                    <small class="target action ml-2" v-if="currentTask.position_id && !currentTask.candidate_id">
                        <a style="color: #5ac0e5;" href="javascript:void(0)" @click="navigateToPosition(currentTask)">{{messages.SR_038_VIEW_POSITION}}</a>
                    </small>
                </div>
                <div class="col-0">
                    <b-dropdown no-caret variant="custom-bg-color">
                        <template slot="button-content">
                            <i class="fas fa-ellipsis-v"></i>
                        </template>
                        <b-dropdown-item @click="updateCurrentTask(currentTask)">{{messages.SR_009_EDIT_TASK}}</b-dropdown-item>
                        <b-dropdown-item @click="deleteTask(currentTask)">{{messages.SR_009_DELETE_TASK}}</b-dropdown-item>
                    </b-dropdown>
                    <create-task
                        :external_task="external_task"
                        :showModal="showModalTaskEdit"
                        v-on:handleClose="showModalTaskEdit=false"
                        v-on:updateCurrent="updateCurrent">
                    </create-task>
                </div>
            </div>

            <div class="section details-container border-bottom pb-3 pt-2" v-if="currentTask.description">
                <h4>{{messages.SR_009_DETAILS}}</h4>
                <p class="description" style="white-space: pre-line">{{ currentTask.description}}</p>
                <div class="approval-attachments">
                    <div :key="index" v-for="(fileAttachment, index) in currentTask.files">
                        <a :href="fileAttachment.url" target="_blank">
                            <i class="fa fa-paperclip mr-2"></i>
                            <span>{{fileAttachment.name}}</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="section activity-section-container pt-2">
                <h4>{{messages.SR_009_ACTIVITY}}</h4>
                <div class="activity taskAdded">
                    <div class="activity-object" :key="index" v-for="(addLog, index) in activities">
                        <avatar class="avatar color4" :size="26" :username="addLog.created_by.name" :initials="addLog.created_by.name.charAt(0).toUpperCase()" :src="addLog.created_by.photoURL"></avatar>
                        <div>
                            <div class="activity-header">
                                <p class="author-name">{{addLog.created_by.name}}
                                    <span class="ml-1">{{addLog.title}}</span>
                                </p>
                            </div>
                            <div class="activity-footer ml-5 time-creat-task">
                                <span class="timestamp"
                                      v-b-tooltip.hover.bottom
                                      :title="addLog.timeUpdate | tooltipTimeLog"
                                      data-container="body">{{ addLog.timeUpdate | timeLog }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'
    import {mapGetters, mapMutations, mapActions} from 'vuex';
    import {VclCode, VclFacebook} from 'vue-content-loading';
    import ModalConfirm from "../tasks/ModalConfirm.vue";
    import {messages} from "@/messages";
    import Task from '@/models/Task';
    import moment from 'moment';
    import _ from "lodash";
    import $ from "jquery";
    import avatar from "vue-avatar";
    import {server_time} from "@/firebase";

    export default Vue.extend({
        name: "TaskDetails",
        components: {
            VclFacebook,
            ModalConfirm,
            avatar
        },
        data() {
            return {
                showModalTaskEdit: false,
                external_task: null,
                loading: true,
                showModalConfirmTask: false,
                confirmComplete: false,
                taskComplete: null,
                taskAssign: null,
            }
        },
        mounted() {
            let that = this as any;
            that.getTaskByID(that.$route.params.task_id).then(()=>{
                that.loading = false;
            });
            moment.updateLocale('vi', {
                meridiem : function (hours, minute, isLowercase) {
                    if (hours < 12) {
                        return isLowercase ? 'am' : 'AM';
                    } else {
                        return isLowercase ? 'pm' : 'PM';
                    }
                }
            });
        },
        inject:['setSelectTask'],
        watch: {
            '$route.params.task_id': function (id) {
                let that = this as any;
                if(id){
                    that.getTaskByID(id);
                }
            },
        },
        computed: {
            ...mapGetters([
                'currentUser',
                'currentCompany',
                'tasks',
                'filterField',
                'companyUsers'
            ]),
            task_id() {
                let that = this as any;
                return that.$route.params.task_id || "";
            },
            activities() {
                let that = this as any;
                return _.sortBy(that.currentTask.add_log, ['timeUpdate']).reverse()
            },
            position_id(): string {
                let that = this as any;
                return that.$route.params.position_id || "";
            },
            currentTask() {
                let that = this as any;
                return _.find(that.tasks, (task) => {
                    return task.id == that.task_id;
                }) || {}
            },
        },
        filters: {
            formatTimeTask: function (value) {
                return moment(value).format('L');
            },
            tooltipTimeLog: function(value){
                return moment(value).format('L [@] h:mm:ss a');
            },
            timeLog: function (value) {
                return moment(value).format("h:mm:ss a");
            },

        },
        methods: {
            ...mapActions([
                'getTaskByID',
                'getFilteredTasks',
                'updateTaskAction',
                'removeTask',
                'markCompleteTask'

            ]),
            navigateToPosition(task){
                let that = this as any;
                if (task.position_id) {
                    that.$router.push(`/p/${task.position_id}/pipeline`);
                }
            },
            navigateToCandidate(task){
                let that = this as any;
                if (task.candidate_id) {
                    that.$router.push(`/candidate/${task.candidate_id}/?right=tasks`);
                }
            },
            updateCurrentTask(currentTask){
                let that = this as any;
                that.showModalTaskEdit = true;
                that.external_task = currentTask;
            },
            updateCurrent(e){
                let that = this as any;
                let changed = that.currentTask.assignee.id != e.users[0].id;
                if(changed){
                    e.task.add_log.push({
                        timeUpdate: server_time.now,
                        title: messages.SR_009_REASSIGNED_TASK_TO + ` ${e.users[0].name}`,
                        created_by: that.currentUser.cloneNewObject()
                    });
                }
                if(e.task.deadline != that.currentTask.deadline){
                    e.task.add_log.push({
                        timeUpdate: server_time.now,
                        title: messages.SR_009_UPDATE_TASK_DUE_DATE,
                        created_by: that.currentUser.cloneNewObject()
                    });
                }
                that.updateTaskAction(e).then(()=>{
                    if(changed){
                        that.getFilteredTasks({value:that.currentUser.id, position_id: that.position_id}).then(() => {
                            that.loading = false;
                            if(that.filterField == 'assignee_id'){
                                that.setSelectTask();
                            }
                            if (that.tasks.length == 0) {
                                that.currentTask = new Task();
                            }
                        });
                    }
                });
            },
            deleteTask(currentTask) {
                let that = this as any;
                that.confirmComplete = false;
                that.showModalConfirmTask = true;
                that.taskAssign = currentTask
            },
            completeTask(e){
                let that = this as any;
                that.taskComplete = e;
                that.showModalConfirmTask = true;
                that.confirmComplete = true;
            },
            handleSaveChange(){
                let that = this as any;
                if(that.taskAssign){
                    that.removeTask(that.taskAssign).then(()=>{
                        that.setSelectTask();
                    });
                }else {
                    $('#'+that.taskComplete.id).addClass('active');
                    setTimeout(function () {
                        that.markCompleteTask({task: that.taskComplete, user: that.currentUser}).then(() => {
                            that.setSelectTask();
                            $('#' + that.taskComplete.id).removeClass('active');
                            $('#' + that.taskComplete.id).addClass('inactive');
                        });
                    },2000)
                }
                that.showModalConfirmTask = false;
            },
            handleCloseModalConfirm() {
                let that = this as any;
                that.showModalConfirmTask = false;
            }
        }
    });
</script>

<style lang="scss" scoped>
    @import "~styles/_task.scss";
    @import "~styles/position_activity";
    @import "~styles/stream";
    .task-check {
        width: 45px;
        height: 45px;
        font-size: 1.25em;
        padding: 0;
        border: 3px solid #ccc;
        line-height: 40px;
        text-align: center;
        background-color: #fff;
        color: var(--secondary);
        border-radius: 50%;
    }
    .task-check:hover {
        border-color: var(--success);
        background-color: var(--success);
        color: #fff;
    }

</style>
