<template>
    <div class="d-flex flex-column task-page" style="height: 100%;">
        <header class="flex-shrink-0">
            <div class="p-4">
                <b-dropdown :text="filterField == 'assignee_id' ? messages.SR_009_TASK_ASSIGNE_TO_ME: messages.SR_009_TASK_I_HAVE_ASSIGNED" variant="custom-bg-color" class="mr-5 ">
                    <b-dropdown-group class="option-todo">
                        <b-dropdown-item @click="filterTask('assignee_id')">{{messages.SR_009_TASK_ASSIGNE_TO_ME}}</b-dropdown-item>
                        <b-dropdown-item @click="filterTask('created_by')">{{messages.SR_009_TASK_I_HAVE_ASSIGNED}}</b-dropdown-item>
                    </b-dropdown-group>
                </b-dropdown>
                <div class="dropdown pr-3">
                    <button class="btn dropdown-toggle btn-custom-bg-color dropdown-toggle-no-caret" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><label class="check-item"><input type="radio" v-model="taskView.type" value="incomplete"><span>{{messages.SR_009_INCOMPLETE}}</span></label></li>
                        <li><label class="check-item"><input type="radio" v-model="taskView.type" value="complete"><span>{{messages.SR_009_COMPLETE}}</span></label></li>
                        <li><label class="check-item"><input type="radio" v-model="taskView.type" value="all"><span>{{messages.SR_009_ALL_TASK}}</span></label></li>
                    </ul>
                </div>
                <create-task
                    :showModal="showModal"
                    @handleClose="showModal=false"
                    @createdTaskAssigee="createdTaskAssigee">
                </create-task>
                <b-button variant="blue" @click="showAddTask()">
                    <i class="fas fa-plus"></i>
                </b-button>
            </div>
        </header>
        <!-- Task content -->
        <div class="d-flex flex-grow-1 overflow-auto p-4 tasks-stream">
            <!-- Left border -->
            <div v-if="loading" class="tasks-content">
                <vcl-code></vcl-code>
            </div>

            <div v-else class="tasks-content flex-shrink-0">
                <div class="not-task" v-if="!currentTask.id">
                    <div>
                        <i class="fa fa-check-square" style="font-size: 80px;"></i>
                        <p>{{messages.SR_009_NO_TASK}}</p>
                    </div>
                </div>
                <div v-else>
                    <TaskGroup
                        @completeTask="completeTask"
                        :groupTitle=messages.SR_009_TXT_OVERDUE
                        statusTasks="Overdue"
                        :tasks="overdue_tasks"
                        v-if="taskView.type != 'complete'">
                    </TaskGroup>

                    <TaskGroup
                        @completeTask="completeTask"
                        :groupTitle= messages.SR_009_TXT_TODAY
                        statusTasks="Today"
                        :tasks="today_tasks"
                        v-if="taskView.type != 'complete'">
                    </TaskGroup>

                    <TaskGroup
                        @completeTask="completeTask"
                        :groupTitle=messages.SR_009_TXT_UPCOMING
                        statusTasks="Upcoming"
                        :tasks="upcoming_tasks"
                        v-if="taskView.type != 'complete'">
                    </TaskGroup>
                    <TaskGroup
                        @completeTask="completeTask"
                        :groupTitle=messages.SR_009_TXT_COMPLETE
                        statusTasks="Complete"
                        :tasks="complete_tasks"
                        v-if="taskView.type != 'incomplete'">
                    </TaskGroup>
                </div>
            </div>
            <ModalConfirm
                @handleSaveChange="handleSaveChange"
                @handleClose="handleCloseModalConfirm"
                :showModal="showModalConfirmTask"
                :confirmComplete="confirmComplete">
            </ModalConfirm>
            <router-view></router-view>
            <!-- Right border -->
        </div>
    </div>
</template>

<style lang="scss">
    @import "~styles/_task.scss";
    @import "~styles/position_activity";
    @import "~styles/stream";
</style>


<script lang="ts">
    import Vue from 'vue';
    import {Datetime} from 'vue-datetime';
    import Task from '@/models/Task';
    import {mapGetters, mapMutations, mapActions} from 'vuex';
    import {VclCode, VclFacebook} from 'vue-content-loading';
    import moment from 'moment';
    import ModalWrapper from "@/components/ModalWrapper.vue";
    import TaskGroup from "./TaskGroup.vue"
    import ModalConfirm from "../tasks/ModalConfirm.vue"
    import {messages} from "@/messages";
    import $ from "jquery";
    import _ from "lodash";
    import {server_time} from "@/firebase";


    export default Vue.extend({
        name: 'home',
        components: {
            VclCode,
            TaskGroup,
            ModalConfirm
        },

        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentCompany',
                'tasks',
                'currentTask',
                'filterField',
                'unsubscribeTasks'
            ]),

            position_id(): string {
               let that = this as any;
                return that.$route.params.position_id || "";
            },

            overdue_tasks() {
                let that = this as any, tasks = [];
                let today = moment(server_time.now).format("YYYY-MM-DD");
                tasks = _.filter(that.tasks, (task) => {
                    let deadline = moment(task.deadline).format("YYYY-MM-DD");
                    return deadline < today && task.is_done == false;
                });
                return _.sortBy(tasks, '_deadline');
            },
            today_tasks() {
                let that = this as any, tasks = [];
                let today = moment(server_time.now).format("YYYY-MM-DD");
                tasks = _.filter(that.tasks, (task) => {
                    let deadline = moment(task.deadline).format("YYYY-MM-DD");
                    return deadline == today && task.is_done == false;
                });
                return _.sortBy(tasks, '_deadline');
            },
            upcoming_tasks() {
                let that = this as any, tasks = [];
                let today = moment(server_time.now).format("YYYY-MM-DD");
                tasks = _.filter(that.tasks, (task) => {
                    let deadline = moment(task.deadline).format("YYYY-MM-DD");
                    return deadline > today && task.is_done == false;
                });
                return _.sortBy(tasks, '_deadline');
            },
            complete_tasks() {
                let that = this as any, tasks = [];
                tasks = _.filter(that.tasks, (task) => {
                    return task.is_done;
                });
                return _.sortBy(tasks, '_deadline');
            },
        },
        data() {
            return {
                taskView: {
                    type: "incomplete"
                },
                loading: true,
                filters: new Task().getAllTasks(),
                showModal: false,
                taskComplete: null,
                confirmComplete: false,
                showModalConfirmTask: false,
                init_task_id: null
            }
        },
        watch:{
            'taskView.type': function (val) {
                let that = this as any;
                if(val){
                    that.setSelectTask();
                }
            },
            selectedTask(val){
                let that = this as any;
                if(val){
                    that.selectedTask = val;
                }
            },
        },
        provide(){
            let that = this as any;
            return{
                setSelectTask: that.setSelectTask
            }
        },
        mounted() {
            let that = this as any;
            that.setDefaultFilterField();
            that.getFilteredTasks({value:that.currentUser.id, position_id: that.position_id}).then(() => {
                that.setSelectTask(that.$route.params.task_id);
                that.loading = false;
            });
        },
        methods: {
            ...mapActions([
                'getFilteredTasks',
                'updateTaskAction',
                'createdTasks',
                'setSelectedTask',
                'setFilterField',
                'markCompleteTask',
                'setDefaultFilterField'
            ]),
            createdTaskAssigee(e){
                let that = this as any;
                e.task.add_log.push({
                    timeUpdate: server_time.now,
                    title: messages.SR_009_CREATED_TASK ,
                    created_by: that.currentUser.cloneNewObject()
                });
                if(that.position_id){
                    e.task.position_id = that.position_id
                }
                that.createdTasks(e).then(()=>{
                    if(!that.currentTask.id){
                        that.setSelectTask();
                    }
                });
            },
            filterTask(field){
                let that = this as any;
                that.setFilterField(field);
                if(field){
                    that.getFilteredTasks({value:that.currentUser.id, position_id: that.position_id}).then(()=>{
                        that.setSelectTask();
                    })
                }else {
                     that.getFilteredTasks({value:that.currentUser.id, position_id: that.position_id}).then(()=>{
                         that.setSelectTask();
                     })
                }
            },
            setSelectTask(task_id?){
                let that = this as any;
                let selectedTask = {} as Task;
                let tasks = [];
                if (that.taskView.type == 'incomplete') {
                    tasks = [...that.overdue_tasks, ...that.today_tasks, ...that.upcoming_tasks];
                    if (tasks.length > 0 ) {
                        selectedTask = tasks[0];
                    }
                } else if (that.taskView.type == 'complete') {
                    if (that.complete_tasks.length > 0) {
                        selectedTask = that.complete_tasks[0];
                    }
                } else if (that.taskView.type == 'all') {
                    tasks = [...that.overdue_tasks, ...that.today_tasks, ...that.upcoming_tasks, ...that.complete_tasks];
                    if (tasks.length > 0) {
                        selectedTask = tasks[0];
                    }
                }
                if (task_id) {
                    let task = _.find(tasks, (task) => {
                        return task.id == task_id;
                    });
                    if (task) {
                        selectedTask = task;
                    }
                    that.setSelectedTask(selectedTask);
                    return;
                }
                that.setSelectedTask(selectedTask);
                if (that.position_id) {
                    if (selectedTask.id) {
                        that.$router.push(`/p/${that.position_id}/tasks/${selectedTask.id}/`);
                    } else {
                        that.$router.push(`/p/${that.position_id}/tasks/{}`);
                    }
                } else {
                    if(selectedTask.id){
                        that.$router.push(`/tasks/${selectedTask.id}/`);
                    }else {
                        that.$router.push(`/tasks/{}/`);
                    }
                }
            },
            completeTask(value){
                let that = this as any;
                that.taskComplete = value;
                that.showModalConfirmTask = true;
                that.confirmComplete = true;

            },
            showAddTask() {
                let that = this as any;
                that.showModal = true;
            },
            handleSaveChange(){
                let that = this as any;
                $('#' + that.taskComplete.id).addClass('active');
                setTimeout(function () {
                   that.markCompleteTask({task: that.taskComplete, user: that.currentUser}).then(() => {
                       that.setSelectTask();
                        $('#' + that.taskComplete.id).removeClass('active');
                        $('#' + that.taskComplete.id).addClass('inactive');
                    });
                },2000);
                that.showModalConfirmTask = false;
            },
            handleCloseModalConfirm() {
                let that = this as any;
                that.showModalConfirmTask = false;
            }
        },
        destroyed(): void {
            let that = this as any;
            if (that.unsubscribeTasks) {
                that.unsubscribeTasks();
            }
        }
    });
</script>
<style lang="scss">
    .task-page {
        .dropdown{
            display: initial;
            .dropdown-menu{
                min-width: 220px;
                li {
                    padding: 1px;
                    input {
                        margin: 4px;
                    }
                }
            }
        }
        .custom-control-label {
            margin-top: 0;
            position: relative;
            margin-bottom: 0;
            vertical-align: top;
        }
        .el-input__icon {
            height: 100%;
            width: 25px;
            text-align: center;
            -webkit-transition: all .3s;
            transition: all .3s;
            line-height: 35px;
        }
        .not-task{
            color: #666;
            display: flex;
            height: 100%;
            width: 100%;
        }
        .not-task div{
            align-self: center;
            display: inline-block;
            margin: 0 auto;
            text-align: center;
        }
        .activity-type.task-complete {
            border-color: #76d691;
            background-color: #fff !important;
            cursor: default;
        }
        .activity-type.task-complete i{
            color: #76d691;
        }
        .task-selected .details-container {
            margin-top: 15px;
            border-top: 1px solid #eee;
            padding-top: 15px;
        }
        .check-item:hover {
            background-color: #dedede;
        }
        .check-item {
            margin: 3px 10px;
            min-width: 120px;
            border-radius: 4px;
            cursor: pointer;
            display: block;
            line-height: 1.4;
            //padding: 3px 3px 3px 25px;
            position: relative;
            transition: 0.3s all;
        }
        .status-task {
            min-width: 226px;
            margin-bottom: 0;
        }
        .activity .avatar {
            border-color: #dedede;
        }
        .activity .avatar {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            float: left;
            position: relative;
            z-index: 300;
            border: 2px solid #dedede;
        }
        .activity-header .author-name {
            font-size: 14px;
            font-weight: 400;
            margin-top: -1px;
            margin-bottom: 4px;
        }
        .activity-section-container .activity .activity-object .time-creat-task{
            margin-top: -10px !important;
        }
    }

</style>

