<template>
    <div v-if="tasks.length > 0">
        <div class="tasks-section">
            <h2>{{ groupTitle }}</h2>
            <ul class="activity-stream task-list">
                <li :key="task.id" class="activity-container" v-for="task in tasks"
                    :class="{selected: task.id === currentTask.id,[`task-${statusTasks.toLowerCase()}`]: true}">
                    <router-link :to="routerLink(task)">
                        <div class="activity task" :id="task.id">
                            <div class="activity-type" v-show="task.is_done">
                                <i class="fas fa-check inactive"></i>
                            </div>
                            <div class="activity-type" v-show="!task.is_done" @click="completeTask(task)" v-b-tooltip.hover.bottom="messages.SR_009_TOOLTIP_COMPLETE">
                                <i class="fas fa-check inactive"></i>
                                <i class="fas fa-refresh fa-spin active"></i>
                            </div>
                            <div>
                                <div class="activity-object">
                                    <div class="activity-info">
                                        <div class="activity-body">
                                            <p class="title">{{task.title}}</p>
                                            <ul class="actions content-task">
                                                <li class="action" v-b-tooltip.hover.bottom :title="new Date(task.deadline) | deadlineTask">
                                                    <span class="datetime">
                                                        <i class="fa fa-clock"></i>
                                                        <span>{{messages.SR_009_DUE}} </span>
                                                        <span>{{new Date(task.deadline) | deadlineTask}}</span>
                                                    </span>
                                                </li>
                                                <li class="action" v-b-tooltip.hover.bottom :title="task.assignee.id == currentUser.id?messages.SR_009_YOU:task.assignee.name">
                                                    <span>
                                                        <i class="fa fa-user mr-1"></i>
                                                        <span v-if="task.assignee.id == currentUser.id">{{messages.SR_009_YOU}}</span>
                                                        <span v-else>{{task.assignee.name}}</span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script lang="ts">
    import {mapGetters, mapMutations, mapActions} from 'vuex';
    import {messages} from "@/messages";
    import moment from 'moment';
    import _ from 'lodash'
    moment.locale('vi');
    moment.updateLocale('vi', {
        meridiem : function (hours, minute, isLowercase) {
            if (hours < 12) {
                return  'SA' ;
            } else {
                return  'CH' ;
            }
        }
    });
    export default {
        name: "TaskGroup",
        props: ['groupTitle', 'tasks', 'statusTasks'],
        data() {
            return {
                filter_field: 'assignee_id',
            }
        },
        computed:{
             ...mapGetters([
                 'currentUser',
                 'currentTask',
                 'companyUsers'
            ]),
            position_id(): string {
                let that = this as any;
                return that.$route.params.position_id || "";
            },
        },
        watch: {
            tasks(val){
                let that = this as any;
                if(val){
                    that.tasks  = val
                }
            }
        },
        filters: {
            deadlineTask: function (value) {
                return moment(value).format('L');
            },
        },
        methods: {
            ...mapActions([
                'setSelectedTask',
                'getFilteredTasks',
            ]),
            routerLink(task){
                let that = this as any;
                if(that.position_id){
                    return {name: 'positionTaskDetail', params: {task_id: task.id, position_id: that.position_id}}
                } else {
                    return {name: 'taskDetail', params: {task_id: task.id}}
                }
            },
            completeTask(task){
                let that = this as any;
                that.$emit("completeTask", task)
            },
        }
    }
</script>

<style lang="scss">
    @import "~styles/_task.scss";
    @import "~styles/position_activity";
    @import "~styles/stream";
    .tasks-section {
        .actions.content-task {
            min-width: 220px;
            width: 220px;
            max-width: 220px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
</style>
