<template>
    <div>
        <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
            <h1 class="">
                {{messages.SR_050_REPORT_OVERVIEW_HEADING}}
            </h1>
<!--            <div>Apr 1st, 2019 - Apr 14th, 2019</div>-->
            <div><h2>{{getTimeRangeFormat}}</h2></div>
        </div>
        <div class="bg-light p-4 border rounded">
<!--            <PhanTichTongQuan :range="time_range"></PhanTichTongQuan>-->
            <PhanTichTongQuan ></PhanTichTongQuan>
        </div>
        <div v-if="is_position_report" class="bg-light p-4 border rounded mt-3">
            <OverviewSourced ></OverviewSourced>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import PhanTichTongQuan from "@/components/Analytics/Overview/PhanTichTongQuan.vue";
    import OverviewSourced from './OverviewSourced.vue';
    import Component from 'vue-class-component'
    import { Get, Sync, Call } from 'vuex-pathify'
    import {IAnalyticsTimeRange} from "@/components/Analytics/AnalyticsTimeRange";
    import {IAnalyticsPositionFilterOption} from "@/components/Analytics/AnalyticsPositionFilterOption";
    import { Watch, Prop } from 'vue-property-decorator'
    import {messages} from '@/messages'

    @Component({
        components: {
            PhanTichTongQuan,
            OverviewSourced,
        },
    })
    export default class ReportOverview extends Vue {
        @Get('report/time_range') time_range!: IAnalyticsTimeRange;
        @Get('report/position_filter') position_filter!: IAnalyticsPositionFilterOption;
        @Get('report/is_position_report') is_position_report!: boolean;


        @Call('report/getPositionViewsByFilterConditions') getPositionViewsByFilterConditions!: () => any;
        @Call('report/getPipelineReportByFilterConditions') getPipelineReportByFilterConditions!: () => any;
        @Call('report/getCandidatesByPosition') getCandidatesByPosition!: (position_id:string) => any;
        @Sync('report/overview_chart_data_loaded') overview_chart_data_loaded!:boolean;

        get getTimeRangeFormat():string{
            const that = this as any;
            const timeRange=that.time_range;
            return `${timeRange.start.format('ll')} - ${timeRange.end.format('ll')}`
        }
        async getDataByFilterConditions(){
            // this.chart.loaded=false;
            this.overview_chart_data_loaded = false;
            const list_actions = [
                this.getPositionViewsByFilterConditions(),
                this.getPipelineReportByFilterConditions(),
            ];
            if(this.is_position_report){
                const position_id:string = this.position_filter.value;
                list_actions.push(this.getCandidatesByPosition(position_id))
            }

            await Promise.all(list_actions);
            this.overview_chart_data_loaded = true;
            // this.$nextTick(()=>{this.overview_chart_data_loaded = true;})

            // this.buildChartData()

        }
        async mounted(){
            await this.getDataByFilterConditions()

        }
        @Watch('time_range')
        onTimeRangeChange(){
            this.getDataByFilterConditions()
        }

        @Watch('position_filter')
        onPositionFilterChange() {
            this.getDataByFilterConditions()
        }
    }
</script>
<style scoped>
    .btn:focus{
        box-shadow: unset !important;
    }

</style>
