<template>
    <div class="container mx-0 px-0 pb-3 my-3 border rounded" style="background: #F9FAFA">
<!--        {{appliedCandidatesLegendData}}-->
<!--        <br>-->
<!--        {{positionViewsLegendData}}-->
        <!-- Chart 01 -->
        <div v-if="is_position_report">


                <!-- Header -->
                <div class="container mt-3 d-flex justify-content-between align-items-center" >
                    <h2>{{messages.SR_027_OVERVIEW_HEADING_PIPELINE_STAGES}}</h2>
                <button class="btn py-1 px-1" style="background: #edeff0" :aria-disabled="!overview_chart_data_loaded" @click="exportOverviewSource('pipeline_stages')">
                        <i class="fas fa-cloud-download-alt text-secondary"></i>
                        <small class="text-secondary">&nbsp;{{messages.SR_050_BTN_TEXT_EXPORT}}</small>
                    </button>
                </div>
                <div v-if="!overview_chart_data_loaded"><vcl-code></vcl-code></div>
                <!-- Chart content -->
                <div v-else class="container border rounded py-3 my-2 d-flex justify-content-between"
                     style="width: 95%; background: #ffffff">
                    <div style="width: 300px" v-if="overview_chart_data_loaded">
                        <PieChart :chartData="stagesChartData" :options="stages_chart_options"></PieChart>
                    </div>

                    <div class="d-flex justify-content-end">
                        <table class="table">
                            <tbody>
                            <tr v-for="legend,i in stagesChartLegendData" :key="i">
                                <td class="px-3"><span>{{legend.labels}}</span></td>
                                <td class="px-3"><span>{{legend.size}}</span></td>
                                <td class="px-3" style="width: 200px">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" :style="`background: ${legend.backgroundColor}; width: ${legend.percentage}%;`"
                                             :aria-valuenow="legend.percentage" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>{{legend.percentage}}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


        </div>
        <!-- Chart 02 -->

        <!-- temporary disabled because there was currently has only one source: web Portal-->
        <div v-if="false">
            <!-- Header -->
            <div class="container mt-3 d-flex justify-content-between align-items-center" >
                <h2>{{messages.SR_050_OVERVIEW_VIEW_SOURCES_HEADING}}</h2>
                <button class="btn py-1 px-1" style="background: #edeff0" :aria-disabled="!overview_chart_data_loaded">
                    <i class="fas fa-cloud-download-alt text-secondary"></i>
                    <small class="text-secondary">&nbsp;{{messages.SR_050_BTN_TEXT_EXPORT}}</small>
                </button>
            </div>
            <!-- Chart content -->
            <div v-if="!overview_chart_data_loaded"><vcl-code></vcl-code></div>
            <div v-else class="container border rounded py-3 my-2 d-flex justify-content-between"
                 style="width: 95%; background: #ffffff">
                <div style="width: 300px" v-if="position_view_chart.loaded">
                    <PieChart :chartData="position_view_chart.data" :options="position_view_chart.options"></PieChart>
                </div>

                <div class="container d-flex justify-content-end">
                    <table>
                        <tbody>
                        <tr v-for="legend in positionViewsLegendData">
                            <td class="px-3"><span>{{legend.labels}}</span></td>
                            <td class="px-3"><span>{{legend.size}}</span></td>
                            <td class="px-3" style="width: 200px">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" :style="`background: ${legend.backgroundColor}; width: ${legend.percentage}%;`"
                                         :aria-valuenow="legend.percentage" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td>{{legend.percentage}}%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Chart 03 -->
        <!-- temporary disabled because there was currently has only one source: web Portal-->
        <div v-if="false">
            <!-- Header -->
            <div class="container mt-3 d-flex justify-content-between align-items-center" >
                <h2>{{messages.SR_050_OVERVIEW_APPLY_SOURCES_HEADING}}</h2>
                <button class="btn py-1 px-1" style="background: #edeff0" :aria-disabled="!overview_chart_data_loaded" @click="exportOverviewSource('applied_sourced')">
                    <i class="fas fa-cloud-download-alt text-secondary"></i>
                    <small class="text-secondary">{{messages.SR_050_BTN_TEXT_EXPORT}}</small>
                </button>
            </div>
            <!-- Chart content -->
            <div v-if="!overview_chart_data_loaded"><vcl-code></vcl-code></div>
            <div v-else class="container border rounded py-3 my-2 d-flex justify-content-between"
                 style="width: 95%; background: #ffffff">
                <div style="width: 300px" v-if="applied_candidates_chart.loaded">
                    <PieChart :chartData="applied_candidates_chart.data" :options="applied_candidates_chart.options"></PieChart>
                </div>
                <div class="container d-flex justify-content-end">
                    <table>
                        <tbody>
                        <tr v-for="legend in appliedCandidatesLegendData">
                            <td class="px-3"><span>{{legend.labels}}</span></td>
                            <td class="px-3"><span>{{legend.size}}</span></td>
                            <td class="px-3" style="width: 200px">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" :style="`background: ${legend.backgroundColor}; width: ${legend.percentage}%;`"
                                         :aria-valuenow="legend.percentage" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td>{{legend.percentage}}%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <ExportExcel ref="exportOverViewSourced" :fileName="file_name_export" :dataBodyExport="dataBodyExport" :dataHeaderExport="dataHeaderExport"></ExportExcel>

    </div>


</template>


<script lang="ts">
    import Vue from 'vue';
    import PieChart from '../Charts/PieChart.vue';
    import Component from 'vue-class-component'
    import { Watch, Prop } from 'vue-property-decorator'
    import {mapGetters, mapMutations, mapState, mapActions} from 'vuex';
    import _ from 'lodash'
    import PositionView from "@/models/PositionView";
    import { mapFields } from 'vuex-map-fields';
    import Candidate from "@/models/Candidate";
    import PipelineReport from "@/models/PipelineReport";
    import { Get, Sync, Call } from 'vuex-pathify';
    import Moment from 'moment';
    import ExportExcel from "@/components/Analytics/exportExcel/index.vue";
    import {ICandidatePipelineStages} from "@/store/report/store";
    import PipelineStage from "@/models/PipelineStage";
    import {messages} from '@/messages'
    import {VclCode, VclFacebook} from 'vue-content-loading';

    // import colors from 'nice-color-palettes'// not work
    let colors = require('nice-color-palettes');

    // The @Component decorator indicates the class is a Vue component
    @Component({
        components: {
            PieChart,
            ExportExcel,
            VclCode
        },
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        computed: {
            ...mapGetters([

                'currentCompany',
                'currentUser',

                // moved to getFields
                // 'position_views',
                // 'candidates',
            ]),
            ...mapGetters('report', [


                'candidateAppliedPipelineReportsGroupBySource',


            ]),
            ...mapState('report', [
                'position_filter',
                // 'candidates',
                'position_views',
                'time_range',
            ]),
            ...mapState({}),

            ...mapFields('report', [
                // 'candidates',
                // 'position_views',
            ]),

        },
        methods: {
            // ...mapMutations(['modals/showAddCandidate']),
            // ...mapActions('report', {
            //     getPositionViewsByFilterConditions:'getPositionViewsByFilterConditions',
            // }),
            ...mapActions('report', [
                'getPositionViewsByFilterConditions',
            ])
        }
    })

    export default class OverviewSourced extends Vue {

        @Get('report/is_position_report') is_position_report!: boolean;
        @Get('report/candidatesGroupByStages') candidatesGroupByStages: ICandidatePipelineStages;

        @Sync('report/overview_chart_data_loaded') overview_chart_data_loaded!:boolean;


        candidateAppliedPipelineReportsGroupBySource: {[source_name:string]: PipelineReport[]};
        position_views: PositionView[];
        getPositionViewsByFilterConditions:Function;
        dataBodyExport: object = {}
        dataHeaderExport: Array<object>=[]
        file_name_export:string="";

        stages_chart_options = {
            responsive: true,
            legend: { // legend not work as expected
                display: false,
                position: 'right',
                labels: {
                    text: 'fkfkfkfk'
                }
            }
        };






        position_view_chart = {
            loaded: true,
            data: {
                labels: ["Portal", "ITViec", "Facebook"],
                datasets: [{
                    data: [10, 2, 0],
                    backgroundColor: ['#333', 'red', 'blue'],
                }],
            },

            options: {
                responsive: true,
                legend: { // legend not work as expected
                    display: false,
                    position: 'right',
                    labels: {
                        text: 'fkfkfkfk'
                    }
                }
            }
        };

        applied_candidates_chart = {
            loaded: true,
            data: {
                // customize label: https://codepen.io/k3no/pen/WGmVBr?editors=0010
                labels: ["Portal", "ITViec", "Facebook"],
                datasets: [{
                    data: [10, 2, 0],
                    backgroundColor: ['#333', 'red', 'blue'],
                }],
            },

            options: {
                responsive: true,
                legend: { // legend not work as expected
                    display: false,
                    position: 'right',
                    labels: {
                        text: 'aaaaaaa',
                    }
                }
            }
        };

        getStageName(stages:PipelineStage[], stage_id:string):string{
            const s:PipelineStage = _.find(stages, (stage:PipelineStage)=>(stage.id==stage_id));
            if(s){
                return s.title
            }else{
                return '<unknown>'
            }
        }

        get stagesChartRawData():{labels:string[], size: number[], backgroundColor:string[], percentage: number[]}{
            const data = {
                labels: [],
                // data: [],
                backgroundColor: [],
                percentage: [],
                size: []
            };

            if(this.candidatesGroupByStages){
                const stages:PipelineStage[] = this.candidatesGroupByStages.stages;
                const count_palletes = (stages.length/colors[0].length) + 1;
                let color_palletes = [];
                _.range(count_palletes).forEach((i)=>{
                    color_palletes=[...color_palletes, ...colors[i]]
                });



                const a:{[stage_id:string]:Candidate[]} = _.reduce(this.candidatesGroupByStages.candidates_group_by_stages, (result, cs:Candidate[], stage_id:string)=>{
                    if(_.find(stages, (s:PipelineStage)=>s.id==stage_id)){
                        result[stage_id] = cs;
                    }
                    return result
                }, {});




                const totalCandidateInPosition:number = _.sumBy(_.values(a), (o:Candidate[])=>o.length);



                _.forEach(a, (cs:Candidate[], stage_id:string)=>{
                    data.labels.push(this.getStageName(stages, stage_id));
                    // data.data.push(candidates.length);
                    data.backgroundColor.push(color_palletes[data.backgroundColor.length]);
                    data.percentage.push(_.round(cs.length/totalCandidateInPosition*100, 1));
                    data.size.push(cs.length);
                    // console.error(data.labels)
                });


            }
            return data

        }

        get stagesChartData(){
            const chart_data = {
                labels:this.stagesChartRawData.labels,

                datasets: [{
                    data:this.stagesChartRawData.size,
                    backgroundColor:this.stagesChartRawData.backgroundColor
                }],
            };

            return chart_data

        }



        // get isPositionReport():boolean{
        //     return is_position_report
        // }
        get positionViewsGroupBySource():{[key:string]: PositionView[]} {//https://forums.asp.net/t/2138288.aspx?create+object+with+dynamic+keys+in+typescript
            let pvs=_.groupBy(this.position_views, (position_view)=>{
                return position_view.source.name
            })

            return pvs

        }



        get positionViewsSourcesCount():number{
            // return Object.keys(this.positionViewsGroupBySource).length
            return _.size(this.positionViewsGroupBySource)
        }

        // ok
        get appliedCandidatesSourcesCount():number{

            return _.size(this.candidateAppliedPipelineReportsGroupBySource)
        }
        get totalAppliedCandidates():number{
            return _.reduce(this.candidateAppliedPipelineReportsGroupBySource, (total, prs, source_name)=>{
                return total + prs.length
            }, 0)

        }
        get totalPositionViews():number{
            return this.position_views.length
        }

        get positionViewsChartData():{labels:string[], size: number[], backgroundColor:string[], percentage: number[]}{
            const count_palletes = (this.positionViewsSourcesCount/colors[0].length) + 1

            let color_palletes = []
            _.range(count_palletes).forEach((i)=>{
                color_palletes=[...color_palletes, ...colors[i]]
            })


            let data= {
                labels: [],
                size: [],
                backgroundColor: [],
                percentage: []
            }



            _.forEach(this.positionViewsGroupBySource, (position_views, source_name)=>{
                data.labels.push(source_name)
                data.size.push(position_views.length)
                data.backgroundColor.push(color_palletes[data.backgroundColor.length])
                data.percentage.push(_.round(position_views.length/this.totalPositionViews*100, 1))
            })


            return data

        }

        get appliedCandidatesChartData():{labels:string[], size: number[], backgroundColor:string[], percentage: number[]}{

            const count_palletes = (this.appliedCandidatesSourcesCount/colors[0].length) + 1

            let color_palletes = []
            _.range(count_palletes).forEach((i)=>{
                color_palletes=[...color_palletes, ...colors[i]]
            })


            let data= {
                labels: [],
                // data: [],
                backgroundColor: [],
                percentage: [],
                size: []
            }




            _.forEach(this.candidateAppliedPipelineReportsGroupBySource, (prs, source_name)=>{
                data.labels.push(source_name)
                // data.data.push(candidates.length)
                data.backgroundColor.push(color_palletes[data.backgroundColor.length])
                data.percentage.push(_.round(prs.length/this.totalAppliedCandidates*100, 1))
                data.size.push(prs.length)
            })
            return data

        }

        get pipelineStagesChartData():{labels:string[], size: number[], backgroundColor:string[], percentage: number[]}{

            const count_palletes = (this.appliedCandidatesSourcesCount/colors[0].length) + 1

            let color_palletes = []
            _.range(count_palletes).forEach((i)=>{
                color_palletes=[...color_palletes, ...colors[i]]
            })


            let data= {
                labels: [],
                // data: [],
                backgroundColor: [],
                percentage: [],
                size: []
            }




            _.forEach(this.candidateAppliedPipelineReportsGroupBySource, (prs, source_name)=>{
                data.labels.push(source_name)
                // data.data.push(candidates.length)
                data.backgroundColor.push(color_palletes[data.backgroundColor.length])
                data.percentage.push(_.round(prs.length/this.totalAppliedCandidates*100, 1))
                data.size.push(prs.length)
            })
            return data

        }


        get appliedCandidatesLegendData():{[key:string]:any}[]{
            /*
            *
               {
                    size: [5,7],
                    color: ['red', 'blue']
                }

                ==>
                [
                    {size: 5, color: 'red'},
                    {size: 7, color: 'blue'}
                ]

            *
            * */
            // const obj = this.appliedCandidatesChartData
            return  this.getChartLegendData((this.appliedCandidatesChartData))

        }
        get positionViewsLegendData():{[key:string]:any}[]{
            /*
            *
               {
                    size: [5,7],
                    color: ['red', 'blue']
                }

                ==>
                [
                    {size: 5, color: 'red'},
                    {size: 7, color: 'blue'}
                ]

            *
            * */
            // const obj = this.positionViewsChartData
            return this.getChartLegendData(this.positionViewsChartData);

        }

        get stagesChartLegendData():{[key:string]:any}[]{
            return this.getChartLegendData(this.stagesChartRawData);
        }
        getChartLegendData(rawObjData:{labels:string[], size: number[], backgroundColor:string[], percentage: number[]}):{[key:string]:any}[]{
            /*
           *
              {
                   size: [5,7],
                   color: ['red', 'blue']
               }

               ==>
               [
                   {size: 5, color: 'red'},
                   {size: 7, color: 'blue'}
               ]

           *
           * */
            const obj = rawObjData;
            const props:string[] = Object.keys(obj); //[labels, size, backgroundColor,percentage]

            const pvs:{[key:string]:any}[] = _.reduce(obj.size, (result, value:string|number, index:number)=>{
                const item:{[key:string]:string|number} = _.reduce(props, (r, v:string, i:number)=>{
                    r[v]=obj[v][index];
                    return r
                }, {});

                result.push(item);
                return result
            }, []);

            return pvs
        }
        exportOverviewSource(type){
            let that = this as any
            let star_date = Moment(that.time_range.start._d).format("DD-MM-YYYY")
            let end_date = Moment(that.time_range.end._d).format("DD-MM-YYYY")
            switch (type) {
                case 'view_sourced':
                    that.dataHeaderExport = that.createHeaderExportViewSource()
                    that.dataBodyExport = that.createBodyExportViewSource()
                    that.file_name_export = `Potential_Overview_ViewSources_${star_date}-${end_date}`
                    break
                case 'applied_sourced':
                    that.dataHeaderExport = that.createHeaderExportAppliedSource()
                    that.dataBodyExport = that.createBodyExportAppliedSource()
                    that.file_name_export = `Potential_Overview_CandidateSources_${star_date}-${end_date}`
                    break
                case'pipeline_stages':
                    that.dataHeaderExport = that.createHeaderExportPipelineStages()
                    that.dataBodyExport = that.createBodyExportPipelineStages()
                    that.file_name_export = `Potential_Overview_PipelineStages_${star_date}-${end_date}`
                    break
                default:
                    break
            }
            setTimeout(()=>{that.$refs.exportOverViewSourced.createWorkBook()},500)
        }
        createHeaderExportViewSource(){
            let that = this as any
            let header =[]
            let _header = that.positionViewsLegendData.map((data)=>{
                return {
                    text: data.labels,
                    slug: data.labels,
                }
            })
            header = [{
                text:'View Sources',
                slug:'view_sources'
            },..._header]
            return header
        }
        createBodyExportViewSource(){
            let that = this as any
            let data_body =[]
            let _data_body = that.positionViewsLegendData.map((data)=>{
                return {
                    text: data.size,
                    slug: data.labels,
                }
            })
            data_body = [{
                text:'Value',
                slug:'view_sources'
            },..._data_body]
            return _.groupBy(data_body,'slug')
        }
        createHeaderExportAppliedSource(){
            let that = this as any
            let header =[]
            let _header = that.appliedCandidatesLegendData.map((data)=>{
                return {
                    text: data.labels,
                    slug: data.labels,
                }
            })
            header = [{
                text:'Apply Sources',
                slug:'apply_sources'
            },..._header]
            return header
        }
        createBodyExportAppliedSource(){
            let that = this as any
            let data_body =[]
            let _data_body = that.appliedCandidatesLegendData.map((data)=>{
                return {
                    text: data.size,
                    slug: data.labels,
                }
            })
            data_body = [{
                text:'Value',
                slug:'apply_sources'
            },..._data_body]
            return _.groupBy(data_body,'slug')
        }
        createHeaderExportPipelineStages(){
            let that = this as any
            let header =[]
            let _header = that.stagesChartLegendData.map((data)=>{
                return {
                    text: data.labels,
                    slug: data.labels,
                }
            })
            header = [{
                text:'Stage',
                slug:'Stage'
            },..._header]
            return header
        }
        createBodyExportPipelineStages(){
            let that = this as any
            let data_body =[]
            let _data_body = that.stagesChartLegendData.map((data)=>{
                return {
                    text: data.size,
                    slug: data.labels,
                }
            })
            data_body = [{
                text:'Value',
                slug:'Stage'
            },..._data_body]
            return _.groupBy(data_body,'slug')
        }

        buildChartData():void{
            // console.log(colors[0]);
            this.position_view_chart.loaded=false

            this.position_view_chart.data.labels=this.positionViewsChartData.labels
            this.position_view_chart.data.datasets= [{
                data: this.positionViewsChartData.size,
                backgroundColor: this.positionViewsChartData.backgroundColor,
            }]

            this.applied_candidates_chart.loaded=false

            this.applied_candidates_chart.data.labels=this.appliedCandidatesChartData.labels
            this.applied_candidates_chart.data.datasets= [{
                data: this.appliedCandidatesChartData.size,
                backgroundColor: this.appliedCandidatesChartData.backgroundColor,
            }]


            this.$nextTick(()=>{
                this.position_view_chart.loaded = true
                this.applied_candidates_chart.loaded = true

            })

        }

        mounted(){
            this.buildChartData()
        }

        @Watch('position_views')
        onPositionViewsChange(value){
            this.buildChartData()
        }
        @Watch('candidateAppliedPipelineReportsGroupBySource')
        onCandidateAppliedPipelineReportsGroupBySourcesChange(value){
            this.buildChartData()
        }



    }
</script>
<style scoped>
    .btn:focus{
        box-shadow: unset !important;
    }

</style>
