<template>
    <section>
        <div class="d-flex justify-content-between align-items-center mb-3">

            <h2 class="m-0">{{messages.SR_050_OVERVIEW_CANDIDATES_HEADING}}</h2>
            <b-button variant="light" @click="exportData('export_chart')">
                {{messages.SR_050_BTN_TEXT_EXPORT}}&nbsp;<i class="fas fa-cloud-download-alt"></i>
            </b-button>
        </div>
<!--        <div class="border rounded bg-white" v-if="chart.loaded">-->
<!--        <div class="border rounded bg-white" v-if="chart_loaded">-->
        <div class="border rounded bg-white" v-if="overview_chart_data_loaded">
<!--            <LineChart :chartData="chart.data" :options="chart.options"></LineChart>-->
            <LineChart :chartData="chartData" :options="chart_options"></LineChart>
        </div>
        <div v-else>
            <vcl-code></vcl-code>
        </div>

        <div v-if="!overview_chart_data_loaded"><vcl-code></vcl-code></div>
        <div v-else>

            <div class="row my-4">
                <div class="col-md-6 text-center">
                    <div class="border rounded bg-white p-4">
                        <h4>
                            <i class="fas fa-eye"></i>&nbsp;{{messages.SR_050_TEXT_POSITION_VIEWS_COUNT}}
                        </h4>
                        <h1>{{ positionViewsCount }}</h1>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="border rounded bg-white p-4">
                        <h4>
                            <i class="fas fa-users"></i>&nbsp;{{messages.SR_050_TEXT_CANDIDATES_APPLIED_COUNT}}
                        </h4>
                        <h1>{{ appliedCandidatesCount }}</h1>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-md-4">
                    <div class="container border rounded py-3" style="background: #ffffff">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h6><i class="fas fa-upload"></i>&nbsp;&nbsp;{{messages.SR_050_TEXT_CANDIDATES_SOURCED_COUNT}}</h6>
                            </div>
                            <div class="w-100"></div>
                            <div class="col d-flex justify-content-center">
                                <h2>{{ sourcedCandidatesCount }}</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="container border rounded py-3" style="background: #ffffff">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h6><i class="fas fa-trash"></i>&nbsp;&nbsp;{{messages.SR_050_TEXT_CANDIDATES_DISQUALIFIED_COUNT}}</h6>
                            </div>
                            <div class="w-100"></div>
                            <div class="col d-flex justify-content-center">
                                <h2>{{disqualifiedCandidatesCount}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container border rounded py-3" style="background: #ffffff">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h6><i class="fas fa-trophy"></i>&nbsp;&nbsp;{{messages.SR_050_TEXT_CANDIDATES_HIRED_COUNT}}</h6>
                            </div>
                            <div class="w-100"></div>
                            <div class="col d-flex justify-content-center">
                                <h2>{{hiredCandidatesCount}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ExportExcel ref="exportOveral" :dataBodyExport="dataBodyExport" :fileName="file_name_export" :dataHeaderExport="dataHeaderExport"></ExportExcel>
        </div>

    </section>
</template>


<script lang="ts">
    import Vue from 'vue';
    import LineChart from "@/components/Analytics/Charts/LineChart.vue";
    import ExportExcel from "@/components/Analytics/exportExcel/index.vue"
    import Moment from 'moment';
    import Component from 'vue-class-component'
    import { Watch, Prop } from 'vue-property-decorator'
    import {mapGetters, mapMutations, mapState, mapActions} from 'vuex';
    import Position from '@/models/Position'
    import Company from "@/models/Company";
    import Candidate from "@/models/Candidate";
    import _ from 'lodash'
    import User from "@/models/User";
    import PositionView from "@/models/PositionView";
    // https://markus.oberlehner.net/blog/form-fields-two-way-data-binding-and-vuex/
    // https://github.com/maoberlehner/vuex-map-fields
    import { mapFields } from 'vuex-map-fields';
    import {IAnalyticsTimeRange} from "@/components/Analytics/AnalyticsTimeRange";
    import PipelineReport from "@/models/PipelineReport";
    import {fullfillDates} from '@/store/report/store'
    import { Get, Sync, Call } from 'vuex-pathify'
    import {messages} from '@/messages'
    import {VclCode, VclFacebook} from 'vue-content-loading';
    import {server_time} from "@/firebase";


    const lineStyle = (color: string):any =>({
        backgroundColor: 'rgba(0, 0, 0, 0)',
        borderColor: color,
        pointBackgroundColor: color,
        pointBorderColor: "white",
    });

    // The @Component decorator indicates the class is a Vue component
    @Component({
        components: {
            LineChart,
            ExportExcel,
            VclCode
        },
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        computed: {
            ...mapGetters([

                'currentCompany',
                'currentUser',

                // moved to getFields
                // 'position_views',
                // 'candidates',
            ]),
            ...mapGetters('report',[
                'candidateAppliedPipelineReportsGroupByDate',
                'pipelineReportsGroupByDate',
                'candidateSourcedPipelineReportsGroupByDate',
                'candidateHiredPipelineReports',
                'candidateHiredPipelineReportsGroupByDate',
                'candidateDisqualifiedPipelineReportsGroupByDate',
                'candidateDisqualifiedPipelineReports',
            ]),

            ...mapState('report', ['position_filter', 'pipeline_reports', 'time_range']),
            ...mapState({}),

            ...mapFields('report', [
                'candidates',
                'position_views',
            ]),
        },
        methods: {
            // ...mapMutations(['modals/showAddCandidate']),
            // ...mapActions('report', {
            //     getPositionViewsByFilterConditions:'getPositionViewsByFilterConditions',
            //     getCandidatesByFilterConditions:'getCandidatesByFilterConditions',
            // }),
            ...mapActions('report', [
                'getPositionViewsByFilterConditions',
                'createSamplePipelineReports',
                'getPipelineReportByFilterConditions',
            ])
        }
    })
    export default class PhanTichTongQuan extends Vue {
    // export default Vue.extend({
    //     name: "PhanTichTongQuan",

        // @Prop({default: {
        //         start: Moment().subtract(7, 'd'),
        //         end: Moment(),
        //     }})
        // // range: Object
        // range: {
        //     start: Moment.Moment,
        //     end: Moment.Moment
        // }

        time_range: IAnalyticsTimeRange;

        // position_filter: Object = {
        //     type: 'system',// system, position
        //     scope: 'all', //all, my-all, my-published, my-draft
        //     id: ''
        // }


        currentCompany:Company
        currentUser: User
        candidateAppliedPipelineReportsGroupByDate:{[date:string]: PipelineReport[]};
        candidateDisqualifiedPipelineReportsGroupByDate:{[date:string]:PipelineReport[]};
        candidateHiredPipelineReportsGroupByDate:{[date:string]:PipelineReport[]}
        pipelineReportsGroupByDate:{[date:string]: PipelineReport[]};
        candidateSourcedPipelineReportsGroupByDate:{[date:string]: PipelineReport[]};
        candidateHiredPipelineReports: PipelineReport[];
        candidateDisqualifiedPipelineReports: PipelineReport[];

        all_positions: Position[]=[]
        candidates: Candidate[]
        position_views: PositionView[]
        getPositionViewsByFilterConditions:Function;
        createSamplePipelineReports:Function;
        getPipelineReportByFilterConditions:Function;
        dataBodyExport: object = {};
        dataHeaderExport: Array<object>=[];
        file_name_export:string="";
        @Get('report/date_format') date_format!:string;
        @Get('report/overview_chart_data_loaded') overview_chart_data_loaded!:boolean;


        chart_loaded:boolean = false;
        chart_options = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    }
                }],
                xAxes: [
                    {
                        type: 'time',
                        time: {
                            unit: 'day',
                            dateFormat: {

                            }
                        }
                    }
                    ],
            },
            legend: {
                display: true,
                labels: {
                    // usePointStyle: true,
                }
            }
        };

        chart = {
            loaded: false,
            key: server_time.now.valueOf(),
            data: {
                datasets: [] as any[],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [
                        {
                            type: 'time',
                            time: {
                                unit: 'day',
                                dateFormat: {

                                }
                            }
                        }
                    ],
                },
                legend: {
                    display: true,
                    labels: {
                        // usePointStyle: true,
                    }
                }
            }
        }

        get chartData():{}{
            // this.chart.loaded=false
            const data = {
                datasets: [],
            };

            data.datasets.push({
                ...lineStyle("red"),
                label: messages.SR_050_CANDIDATES_CHART_TEXT_APPLIED,
                data: this.appliedCandidatesChartData,
            });

            data.datasets.push({
                ...lineStyle("orange"),
                label: messages.SR_050_CANDIDATES_CHART_TEXT_SOURCED,
                data: this.sourcedCandidatesChartData,
            });

            data.datasets.push({
                ...lineStyle("blue"),
                label: messages.SR_050_CANDIDATES_CHART_TEXT_VIEWS,
                data: this.positionViewsChartData,
            });
            // this.$nextTick(()=>{
            //     this.chart.loaded = true
            //
            // })
            return data
        }

        // Lifecycle hook
        async mounted() {
            // this.createSamplePositionView()
            // this.createSamplePipelineReports()

            // https://javascript.info/async-await
            // await this.getDataByFilterConditions()

        }

        // async getDataByFilterConditions(){
        //     this.chart.loaded=false;
        //
        //
        //     await Promise.all([
        //         this.getPositionViewsByFilterConditions(),
        //         this.getPipelineReportByFilterConditions(),
        //     ]);
        //
        //     this.buildChartData()
        //
        // }






        get positionViewsGroupByDate():{[key:string]: PositionView[]} {
            let pvs=_.groupBy(this.position_views, (position_view)=>{
                return Moment(position_view.createdAt).format(this.date_format)
            })

            return fullfillDates(pvs, this.time_range)

            // return this.fullfillDates(pvs)
        }


        get hiredCandidatesCount():number{
            // group by candidate id
            const group_rps = _.groupBy(this.candidateHiredPipelineReports, (pr)=>(pr.candidate.id))
            return _.size(group_rps)
        }

        get disqualifiedCandidatesCount():number{
            // group by canidate id
            const group_rps:{[candidate_id:string]:PipelineReport[]} = _.groupBy(this.candidateDisqualifiedPipelineReports, (pr:PipelineReport)=>(pr.candidate.id));
            return _.size(group_rps)

        }





        get appliedCandidatesChartData(): {x:string, y:number}[] {
            let c1 = _.reduce(this.candidateAppliedPipelineReportsGroupByDate,
                (result:{x:string, y:number}[], prs:PipelineReport[], date:string)=>{
                     result.push({x: date, y: prs.length});
                    return result
                }, [])


            let c2 = _.sortBy(c1, (c)=>{
                return c.x
            })


            return c2

        }

        get sourcedCandidatesChartData(): {x:string, y:number}[]{

            let c1 = _.reduce(this.candidateSourcedPipelineReportsGroupByDate,
                (result:{x:string, y:number}[], prs:PipelineReport[], date:string)=>{
                    result.push({x: date, y: prs.length});
                    return result
                }, [])


            let c2 = _.sortBy(c1, (c)=>{
                return c.x
            })


            return c2

        }


        get appliedCandidatesCount():number{

            return _.reduce(this.candidateAppliedPipelineReportsGroupByDate, (total, rps, date)=>{
                return total + rps.length
            }, 0)

        }

        get sourcedCandidatesCount():number{

            return _.reduce(this.candidateSourcedPipelineReportsGroupByDate, (total, rps, date)=>{
                return total + rps.length
            }, 0)
        }
        get positionViewsCount():number{
            return this.positionViewsChartData.reduce((total, o)=>{
                return total + o.y
            }, 0)
        }

        // buildChartData():void{
        //     this.chart.loaded=false
        //
        //     this.chart.data.datasets=[]
        //
        //     this.chart.data.datasets.push({
        //         ...lineStyle("red"),
        //         label: "Ứng tuyển",
        //         data: this.appliedCandidatesChartData,
        //     });
        //
        //     this.chart.data.datasets.push({
        //         ...lineStyle("orange"),
        //         label: "Nguồn",
        //         data: this.sourcedCandidatesChartData,
        //     });
        //
        //     this.chart.data.datasets.push({
        //         ...lineStyle("blue"),
        //         label: "Lượt xem",
        //         data: this.positionViewsChartData,
        //     });
        //
        //     this.chart.key = Date.now()
        //     this.$nextTick(()=>{
        //         this.chart.loaded = true
        //
        //     })
        //
        // }

        exportData(type:string):void{
            let that = this as any
            let star_date = Moment(that.time_range.start._d).format("DD-MM-YYYY")
            let end_date = Moment(that.time_range.end._d).format("DD-MM-YYYY")
            that.dataHeaderExport= that.setDataHeaderExportChart()
            that.dataBodyExport = that.setDataBodyExportChart()
            that.file_name_export = `Potential_Overview_Candidates_${star_date}-${end_date}`
            setTimeout(()=>{that.$refs.exportOveral.createWorkBook()},500)
        }
        setDataBodyExportChart():object{
            let that = this as any
            let dates = Object.keys(that.positionViewsGroupByDate).map((date)=>{
                let _date = new Date(date)
                let current_date = _date.getDate()
                let data_format = Moment(date).format("MMM")
                return{
                    text: `${data_format} ${current_date - 1}-${current_date}`, // month date-date,
                    slug:"dates",
                }
            })
            let dataChart = {
                dates:dates,
                postition_view: that.setDataBodyForExort(that.positionViewsGroupByDate,'View','postition_view'),
                candidate_applied: that.setDataBodyForExort(that.candidateAppliedPipelineReportsGroupByDate,'Applied','candidate_applied') ,
                candidates_disqualified:that.setDataBodyForExort(that.candidateDisqualifiedPipelineReportsGroupByDate,'Disqualified','candidates_disqualified'),
                candidates_hired: that.setDataBodyForExort(that.candidateHiredPipelineReportsGroupByDate,'Hired','candidates_hired') ,
                candidates_sourced:that.setDataBodyForExort(that.candidateSourcedPipelineReportsGroupByDate,'Sourced','candidates_sourced'),
            }
            return dataChart
        }
        setDataBodyForExort(data_group_by_date:object, title:string,slug:string):Array<object>{
            let data_body: Array<object>=[]
            data_body = Object.keys(data_group_by_date).map((date)=>{
                return{
                    date:date,
                    text:data_group_by_date[date].length,
                    slug: slug,
                }
            })
            return data_body
        }
        setDataHeaderExportChart():Array<object>{
            let headerData = [
                {
                    text:messages.SR_050_EXCEL_HEADER_DATE,
                    slug:'dates'
                },{
                    text:messages.SR_050_TEXT_POSITION_VIEWS_COUNT,
                    slug:'postition_view'
                },
                {
                    text:messages.SR_050_TEXT_CANDIDATES_APPLIED_COUNT,
                    slug:'candidate_applied'
                },
                {
                    text:messages.SR_050_TEXT_CANDIDATES_SOURCED_COUNT,
                    slug:'candidates_sourced'
                },

                {
                    text:messages.SR_050_TEXT_CANDIDATES_DISQUALIFIED_COUNT,
                    slug:'candidates_disqualified'
                },
                {
                    text:messages.SR_050_TEXT_CANDIDATES_HIRED_COUNT,
                    slug:'candidates_hired'
                },
            ]
            return headerData
        }


        get positionViewsChartData(): {x:string, y:number}[]{
            let c1= Object.keys(this.positionViewsGroupByDate).map((date)=>{
                return {
                    x: date,
                    y: this.positionViewsGroupByDate[date].length
                }
            })

            let c2 = _.sortBy(c1, (c)=>{
                return c.x
            })


            return c2

        }

        // this not work ????!!!!!!!!!!
        set appliedCandidatesChartData(val){
            alert('change 1')
            this.chart.data.datasets.push({
                ...lineStyle("red"),
                label: "Ứng tuyển",
                data: this.appliedCandidatesChartData,
            });
            // this.chart.loaded=true
        }

        @Watch('overview_chart_data_loaded')
        onChartDataChange(val, oldVal){
            // alert(val)
            // console.error(`this.overview_chart_data_loaded ${val} ${oldVal}`)

        }

        // @Watch('chartData')
        // onChartDataChange(){
        //     this.chart_loaded=false;
        //     this.$nextTick(()=>{this.chart_loaded=true;});
        // }

        // @Watch('time_range')
        // onTimeRangeChange(){
        //     this.getDataByFilterConditions()
        // }
        //
        // @Watch('position_filter')
        // onPositionFilterChange() {
        //     this.getDataByFilterConditions()
        // }
        // @Watch('appliedCandidatesChartData')
        // onAppliedCandidatesChartDataChange(){
        //     // alert('change')
        //     this.chart.data.datasets.push({
        //         ...lineStyle("red"),
        //         label: "Ứng tuyển",
        //         data: this.appliedCandidatesChartData,
        //     });
        //     // this.chart.loaded=true
        // }
        //
        // @Watch('sourcedCandidatesChartData')
        // onSourcedCandidatesChartDataChange(){
        //
        //
        //     this.chart.data.datasets.push({
        //         ...lineStyle("orange"),
        //         label: "Nguồn",
        //         data: this.sourcedCandidatesGroupByDate,
        //     });
        //
        //     // this.chart.loaded=true
        // }



    }
</script>
<style scoped>
    .btn:focus{
        box-shadow: unset !important;
    }

</style>
