<template>
        <!-- Funnel Table -->
        <div  class="container mx-0 px-0 pb-3 my-3 border rounded" style="background: #F9FAFA">
            <!-- Header -->
            <div class="container mt-3 d-flex justify-content-between align-items-center">
                <h2 class="report-type-name">{{messages.SR_050_PERFORMANCE_FUNNEL_HEADING}}</h2>
                <button class="btn py-1 px-1" style="background: #edeff0" @click="exportExcelFunnelProgress()">
                    <i class="fas fa-cloud-download-alt text-secondary"></i>
                    <small class="text-secondary">&nbsp;{{messages.SR_050_BTN_TEXT_EXPORT}}</small>
                </button>
            </div>
            <div class="container justify-content-between align-items-center mb-4">
                <h2 class="recruitment-process">{{messages.SR_050_RECRUITMENT_PROCESS}} {{heading}}</h2>
            </div>
            <!-- Table content -->
            <div class="container my-3">


                <div class="container my-3">
                    <table style="width: 100%" border="1" frame="void" rules="rows">
                        <tr style="font-size: 14px; text-align: center">
                            <td height="50" style="text-align: left">{{messages.SR_050_PERFORMANCE_FUNNEL_TBL_NAME}}</td>
                            <td height="50" width="80">{{messages.SR_050_PERFORMANCE_FUNNEL_TBL_FUNNEL}}</td>
                            <td height="50">{{messages.SR_050_PERFORMANCE_FUNNEL_TBL_COUNT}}</td>
                            <td height="50">{{messages.SR_050_PERFORMANCE_FUNNEL_TBL_FORWARD_PERCENT}}</td>
                            <td height="50">{{messages.SR_050_PERFORMANCE_FUNNEL_TBL_PREV_COUNT}}</td>
                            <td height="50">{{messages.SR_050_PERFORMANCE_FUNNEL_TBL_PREV_FORWARD_PERCENT}}</td>
                            <td height="50">{{messages.SR_050_PERFORMANCE_FUNNEL_TBL_CHANGE}}</td>
                        </tr>
                        <tr style="font-size: 13px" v-if="!is_position_report">
                            <td class="text-secondary" height="40">{{messages.SR_050_PERFORMANCE_TEXT_ALL_ALL_CANDIDATES}}</td>
                            <td class="text-secondary" style="text-align: center" height="40">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%; background: #5ac0e5" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td class="text-secondary" style="text-align: center" height="40">{{p.total_unique_candidates}}</td>
                            <td class="text-secondary" style="text-align: center" height="40">-</td>
                            <td class="text-secondary" style="text-align: center" height="40">{{p.prev_total_unique_candidates}}</td>
                            <td class="text-secondary" style="text-align: center" height="40">-</td>
                            <td class="text-secondary" style="text-align: center" height="40">-</td>
                        </tr>
                        <template v-for="(stage, stage_index) in p.stages">
                            <template v-for="colors in getStageColors(p.stages)">
                                <template v-for="(d,i1) in getFunnelDenominators(p)" >

                                    <tr v-for="(percent, i2) in getFunnelForwardPercentages(p.funnel_reports_count[stage.id], d.denominator, p.prev_funnel_reports_count[stage.id], d.prev_denominator)"
                                        v-bind:key="`${stage.id}-${i1}-${i2}`"

                                        style="font-size: 13px">

                                        <td class="text-secondary" height="40">{{stage.title}}</td>
                                        <td class="text-secondary" style="text-align: center" height="40">
                                            <!--                                    <template>adsfas</template>-->
                                            <div class="progress" v-show="percent.current.value || stage_index==d.index">
                                                <div v-if="stage_index==d.index" class="progress-bar" role="progressbar" :style="`width: 100%; background: ${colors[stage_index]}`" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                <div v-else-if="!percent.current.value"></div>
                                                <div v-else  class="progress-bar" role="progressbar" :style="`width: ${percent.current.value}%; background: ${colors[stage_index]}`" :aria-valuenow="percent.current.value" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                        <td class="text-secondary" style="text-align: center" height="40">{{p.funnel_reports_count[stage.id]}}</td>
                                        <td class="text-secondary" style="text-align: center" height="40">
                                            <span v-if="stage_index!=d.index">{{ percent.current.format }}</span>
                                            <span v-else> - </span>
                                        </td>

                                        <td class="text-secondary" style="text-align: center" height="40">{{p.prev_funnel_reports_count[stage.id]}}</td>
                                        <td class="text-secondary" style="text-align: center" height="40">
                                            <span v-if="stage_index!=d.index">{{ percent.prev.format }}</span>
                                            <span v-else> - </span>
                                        </td>
                                        <td class="text-secondary" style="text-align: center" height="40">
                                            <template v-for="data in getChangedPerentage(p.funnel_reports_count[stage.id], p.prev_funnel_reports_count[stage.id])">
                                                <span class="previous-change" :class="data.class" :key="data.value">{{ data.format }}</span>
                                                <!--                                                <i class="fas fa-arrow-up"></i>-->
                                            </template>
                                        </td>
                                    </tr>


                                </template>
                            </template>
                        </template>

                    </table>
                    <!--                    <a href="#" id="showDisqualifiedStages"><i class="fas fa-plus"></i>Show Disqualified Stages</a>-->
                </div>
            </div>
            <ExportExcel ref="exportFunelProgress" :fileName="file_name_export" :dataBodyExport="dataBodyExport" :dataHeaderExport="dataHeaderExport"></ExportExcel>
        </div>

</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapState} from 'vuex';
    import Component from 'vue-class-component'
    import Moment from 'moment';
    import { Watch, Prop } from 'vue-property-decorator'
    import ExportExcel from "@/components/Analytics/exportExcel/index.vue"
    import {IAnalyticsTimeRange} from "@/components/Analytics/AnalyticsTimeRange";

    import _ from 'lodash'

    import PipelineStage from "@/models/PipelineStage";
    import {IXPipelineFunnelReport} from "../../../store/report/store";
    import { Get, Sync, Call } from 'vuex-pathify'
    import {messages} from '@/messages'
    import {server_time} from "@/firebase";
    // import colors from 'nice-color-palettes'// not work
    const colors = require('nice-color-palettes');
    // The @Component decorator indicates the class is a Vue component
    @Component({
        components: {
            ExportExcel
        },
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        computed: {
            ...mapGetters([
                // 'positions', // map position here
            ]),
            ...mapState('report', {
                // positions: "all_positions"
            }),

        },
        methods: {

        }
    })
    export default class PipelineFunnelProgression extends Vue {
        @Get('report/time_range') time_range!: IAnalyticsTimeRange;
        @Prop({required:true})
        readonly p!:IXPipelineFunnelReport;
        @Get('report/is_position_report') is_position_report!: boolean;

        date_format:string="YYYY-MM-DD";

        excluded_stages:string[] = ['hired', 'disqualified', '']

        dataBodyExport: object = {}
        dataHeaderExport: Array<object>=[]
        file_name_export:string="";
        get heading():string{
            if(this.is_position_report){
                return '';
            }else{
                return `${this.getPipelineTitle(this.p.pipeline)}`
            }
        }


        randomTime():number{
            return server_time.now.valueOf()
        }
        randomTime1 = ():number => {
            return server_time.now.valueOf()
        }

        getPipelineTitle = function(pipeline):string  {
            return pipeline? pipeline.title : '<unknown>'
        }

        exportExcelFunnelProgress(){
            let that = this as any
            let star_date = Moment(that.time_range.start._d).format("DD-MM-YYYY")
            let end_date = Moment(that.time_range.end._d).format("DD-MM-YYYY")
            that.dataHeaderExport = that.createHeaderExportFunnelProgression()
            that.dataBodyExport = that.createBodyExportFunnelProgression()
            that.file_name_export = `Potential_PipelinePerformance_PipelineFunnel_DefaultPipeline_${star_date}-${end_date}`
            setTimeout(()=>{that.$refs.exportFunelProgress.createWorkBook()},500)
        }
        createHeaderExportFunnelProgression(){
            let that = this as any
            let header =[];
            let _header = []
            if(that.p.stages) {
                _header = that.p.stages.map((data,index)=>{
                    return {
                        text: data.title,
                        slug: data.title,
                        id:data.id,
                        stage_index:index,
                    }
                })
            }

            header = [{
                text:'Name',
                slug:'Name'
            },{text:'Total Candidates',slug:'Total Candidates'},..._header]
            return header
        }
        createBodyExportFunnelProgression(){

            let that = this as any
            let header = that.createHeaderExportFunnelProgression()
            let body_data = [];
            if(header.length >0 ) {
                body_data = header.map((_header)=>{
                    if(_header.slug == 'Name'){
                        return _.groupBy([{
                            text:messages.SR_050_PERFORMANCE_FUNNEL_TBL_COUNT,
                            slug: _header.slug,
                            name:'Count',
                            },{
                            text:messages.SR_050_PERFORMANCE_FUNNEL_TBL_FORWARD_PERCENT,
                            slug: _header.slug,
                            name:'% Forward',
                            },
                            {
                            text:messages.SR_050_PERFORMANCE_FUNNEL_TBL_PREV_COUNT,
                            slug: _header.slug,
                            name:'Prev. Count',
                            },
                            {
                            text:messages.SR_050_PERFORMANCE_FUNNEL_TBL_PREV_FORWARD_PERCENT,
                            slug: _header.slug,
                            name:'Prev. % Forward',
                            },
                            {
                            text:messages.SR_050_PERFORMANCE_FUNNEL_TBL_CHANGE,
                            slug: _header.slug,
                            name:'Change',
                            },
                        ],'slug')
                    }else if(_header.slug == 'Total Candidates'){
                        return _.groupBy([{
                            text:that.p.total_unique_candidates,
                            slug:_header.slug
                            },{
                            text:'-',
                            slug:_header.slug
                            },
                            {
                            text:that.p.prev_total_unique_candidates,
                            slug:_header.slug
                            },
                            {
                            text:'-',
                            slug:_header.slug
                            },
                            {
                            text:'-',
                            slug:_header.slug
                            }
                        ],'slug')
                    }else {
                       let d =  that.getFunnelDenominators(that.p)
                       let percent = that.getFunnelForwardPercentages(that.p.funnel_reports_count[_header.id], d.denominator, that.p.prev_funnel_reports_count[_header.id], d.prev_denominator);
                       let data = that.getChangedPerentage(that.p.funnel_reports_count[_header.id], that.p.prev_funnel_reports_count[_header.id])

                        return _.groupBy([{
                            text:that.p.funnel_reports_count[_header.id],
                            slug:_header.slug
                            },{
                            text: _header.stage_index!=d.index?percent[0].current.format:'-',
                            slug:_header.slug
                            },
                            {
                            text:that.p.prev_funnel_reports_count[_header.id],
                            slug:_header.slug
                            },
                            {
                            text: _header.stage_index!=d.index?percent[0].prev.format:'-',
                            slug:_header.slug
                            },
                            {
                            text:data[0].format,
                            slug: _header.slug
                            }
                        ],'slug')
                    }
                })
            }
            let _body_data = {}
            let merger_body_data = {}
            body_data.map((data)=>{
                //convert array to object
                merger_body_data = _.merge(_body_data,data)
                return data
            })
            return (merger_body_data)
        }

        getFunnelForwardPercentage(numerator, denominator):{value:string|number, format:string}{
            const result={
                value: 0,
                format: ''
            };
            try {
                const value = _.round(numerator/denominator*100, 1);
                if(!denominator) throw `denominator invalid (${numerator} - ${denominator})`;
                result.value = value;
                result.format = `${value}%`;
            } catch (e) {
                // alert(e);
                result.value = undefined;
                result.format = '-';

            }
            return result as {value:string|number, format:string}
        }

        // getfunnelForwardPercentage(tuso, mauso){
        // static getFunnelForwardPercentage(numerator, denominator):[{value:string|number, format:string}]{
        getFunnelForwardPercentages(numerator, denominator, prev_numerator, prev_denominator):[{current:{value:string|number, format:string},
            prev:{value:string|number, format:string}}]{
            const percent:{value:string|number, format:string}=this.getFunnelForwardPercentage(numerator, denominator);
            const prev_percent:{value:string|number, format:string}=this.getFunnelForwardPercentage(prev_numerator, prev_denominator);
            return [{
                current: percent,
                prev: prev_percent,
            }]

        }

        getFunnelDenominators=(f:IXPipelineFunnelReport):[{
            denominator: number,
            index:number,
            prev_denominator: number,
            prev_index:number,
        }] => {
            // getFunnelDenominator(funnel_reports_count:{[stage_id:string]:number}, stages:PipelineStage[]):[[number, number]]{

            // https://stackoverflow.com/a/28343437
            type Index = number;
            type Denominator = number;

            const currentDenominator:[Denominator, Index] = this.getFunnelDenominator(f.funnel_reports_count, f.stages);
            const prevDenominator:[Denominator, Index] = this.getFunnelDenominator(f.prev_funnel_reports_count, f.stages);

            return [{
                denominator: currentDenominator[0],
                index: currentDenominator[1],
                prev_denominator: prevDenominator[0],
                prev_index: prevDenominator[1]
            }] as [{
                denominator: Denominator,
                index:Index,
                prev_denominator: Denominator,
                prev_index:Index,
            }]

        }

        getFunnelDenominator(funnel_reports_count:{[stage_id:string]:number}, stages:PipelineStage[]):[number, number]{

            // https://stackoverflow.com/a/28343437
            type Index = number;
            type Denominator = number;
            let result:[Denominator, Index]=[0,0];
            try{
                const firstPositiveCountStageIndex:number = _.findIndex(stages, (stage:PipelineStage, index)=>(funnel_reports_count[stage.id]>0));
                if(firstPositiveCountStageIndex == -1) {
                    result = [0, 0];
                }
                else {
                    result=[funnel_reports_count[stages[firstPositiveCountStageIndex].id], firstPositiveCountStageIndex];
                }
            }catch (e) {
                // alert(e);
                // console.error('cannot get funnel denominator')
            }
            // alert(result[0][0]);
            return result

        }

        getChangedPerentage(current_count:number, prev_count:number):[{value:number, format:string, class:string}]{

            const result= {
                value: undefined,
                format: '-',
                class: ''
            };

            try{
                const value = _.round((current_count-prev_count)/prev_count * 100, 1);
                if (_.isNaN(value) || value===undefined) throw 'not a number';
                result.value=value;
            }catch (e) {
                result.value = undefined;
            }

            if(result.value===undefined){
                result.format='-';
            }else if(result.value === Infinity){
                 result.format='-';
            }else {
                result.format = `${result.value}%`;
                if (result.value==0){
                    result.class=''
                }else if (result.value > 0){
                    result.class='increase'
                }else{
                    result.class='decrease'
                }
            }
            return [result]
        }

        getStageColors(stages:PipelineStage[]):[string[]]{
            const count_palletes = (stages.length/colors[0].length) + 1;

            let color_palletes:string[] = [];
            _.range(count_palletes).forEach((i)=>{
                color_palletes=[...color_palletes, ...colors[i]]
            })
            // return [color_palletes.reverse()]
            return [color_palletes]
        }

        // showStageInTimeStage(stages:PipelineStage[], stage_index: number):boolean{
        //     return  this.isExcludedStageByIndex(stages, stage_index)
        //
        // }
        isExcludedStageByIndex(stages:PipelineStage[], stage_index:number):boolean{
            return this.excluded_stages.includes((stages[stage_index] && stages[stage_index].stage_type)||'')
        }
        isExcludedStageById(stages:PipelineStage[], stage_id:string):boolean{
            const foundStage:PipelineStage=_.find(stages, (stage:PipelineStage)=>(stage.id==stage_id))
            if(this.excluded_stages.includes((foundStage && foundStage.stage_type) || '')){
                return true
            }else{
                return false
            }
        }
        getTimingStages(stages:PipelineStage[]):PipelineStage[]{
            return _.filter(stages, (stage:PipelineStage)=>(!this.isExcludedStageById(stages,stage.id)))
        }
        getLargestRowValue(stages:PipelineStage[], collection:{[key_id:string]:{[stage_id:string]:number}}):number{

            const a:{[key_id:string]:number} = _.mapValues(collection, (obj:{[stage_id:string]:number})=>{
                return _.reduce(obj, (total:number, n:number, stage_id:string)=>{
                    // console.error(`_.values(a) ${total} ${n}`);
                    if (stages[stage_id]) return total;
                    if(this.isExcludedStageById(stages, stage_id)){
                        return total
                    }else{
                        return total + n
                    }
                }, 0) as number
            });
            // alert(a);
            // console.error(`_.values(a) ${_.values(a)}`);
            const b:number[]=_.values(a);
            return (_.size(b) && _.max(b)) || 0
        }
        getTimingStageDayRange(largest:number):number[]{
            const ceil=_.ceil(largest);
            // console.error(`ceil ${largest}`);
            return _.range(ceil + 1)
        }





    }
</script>
<style scoped>
    .report-type-name {
        color: #4C555C;
        font-weight: 600
    }
    .recruitment-process {
        font-size: 14px;
        line-height: 20px;
        color: #4C555C;
    }
    .btn:focus{
        box-shadow: unset !important;
    }

</style>
