<template>
    <div id="reportNo06" class="container" style="height: 100%;">
        <div class="container mx-0 px-0 d-flex justify-content-between pt-3 pb-3">
            <h1 style="font-weight: 600;">{{messages.SR_050_PERFORMANCE_HEADING}}</h1>
            <!--            <h6>Apr 1st, 2019 - Apr 14th, 2019</h6>-->
            <h2 style="font-weight: 600;">{{ timeRangeFormat }}</h2>
        </div>

        <div v-if="!pipeline_performance_data_loaded"><vcl-code></vcl-code></div>
        <div v-else v-for="p, key in pipelinePerformanceData" :key="p.pipeline.id">
            <div class="border rounded mx-0 px-0 pr-3 pl-3 my-3" style="background: rgb(239, 239, 237);">
                <div class="rounded p-2" @click="toggleExpansion(key)" style="cursor: pointer;">
                    <div class="group-header">
                        <div class="container-fluid">
                            <div class="row" style="display: flex;">
                                <div class="mr-3">
                                    <span v-if="isExpanded(key)">
                                        <i class="fa fa-2x fa-angle-down" style="color:#68747E"></i>
                                    </span>
                                    <span v-else>
                                        <i class="fa fa-2x fa-angle-right" style="color:#68747E"></i>
                                    </span>
                                </div>
                                <div class="recruitment_process_groups">
                                    <span>
                                        {{is_position_report?messages.SR_050_RECRUITMENT_PROCESS:`${messages.SR_050_RECRUITMENT_PROCESS} ${getPipelineTitle(p.pipeline)}`}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-show="isExpanded(key)" class="border-top">
                    <PipelineFunnelProgression :set="p1=p.funnel_progression" :p="p1"></PipelineFunnelProgression>

                    <div class="container mx-0 px-0 pb-3 my-3 border rounded" style="background: #F9FAFA">

                        <!-- pipelineInStageByPositions Table -->
                        <PipelineTimeInStageByAttribute v-if="!is_position_report"
                                                        :set="p1=p.time_in_stage.by_position"
                                                        :p="p1"
                                                        :pipeline_report_all="p1.pipeline_report_all_positions"
                                                        :pipeline_report_by_attr_id="p1.pipeline_report_by_positions"
                                                        :attr_value_list="p1.positions"
                                                        attr_value_key="id"
                                                        attr_name_key="title"
                                                        attr_type="position"
                        ></PipelineTimeInStageByAttribute>


                        <!-- pipelineInstageByCategories Table-->
                        <PipelineTimeInStageByAttribute
                            :set="p1=p.time_in_stage.by_category"
                            :p="p1"
                            :pipeline_report_all="p1.pipeline_report_all_categories"
                            :pipeline_report_by_attr_id="p1.pipeline_report_by_categories"
                            :attr_value_list="p1.categories"
                            attr_type="category"
                        ></PipelineTimeInStageByAttribute>


                    </div>


                    <MovementHistory :p="p.movement" v-if="is_position_report"></MovementHistory>


                    <PipelineMovement :p="p.movement"></PipelineMovement>

                </div>
            </div>

        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapState} from 'vuex';
    import Component from 'vue-class-component'
    import {Watch} from 'vue-property-decorator'
    import {Call, Get} from 'vuex-pathify'
    import {IAnalyticsTimeRange} from "@/components/Analytics/AnalyticsTimeRange";
    import {IPipelinePerformanceData} from "@/store/report/store";
    import PipelineMovement from "@/components/Analytics/PipelinePerformance/Movement.vue";
    import PipelineTimeInStageByAttribute from "@/components/Analytics/PipelinePerformance/TimeInStageByAttribute.vue";
    import PipelineFunnelProgression from "@/components/Analytics/PipelinePerformance/FunnelProgression.vue";
    import MovementHistory from "@/components/Analytics/PipelinePerformance/MovementHistory.vue";
    import {VclCode} from 'vue-content-loading';
    import {server_time} from "@/firebase";
    import {messages} from '@/messages'
    // import colors from 'nice-color-palettes'// not work
    const colors = require('nice-color-palettes');
    // The @Component decorator indicates the class is a Vue component
    @Component({
        components: {

            PipelineMovement,
            PipelineTimeInStageByAttribute,
            PipelineFunnelProgression,
            MovementHistory,
            VclCode,
        },
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        computed: {
            ...mapGetters([
                // 'positions', // map position here
            ]),
            ...mapState('report', {
                // positions: "all_positions"
            }),

        },
        methods: {

        }
    })
    export default class PipelinePerformance extends Vue {
        expandedGroup: Array<object> = []
        //     props: {
        //         value: {
        //             type: Object,
        //             defaultValue: {
        //                 text: '',
        //             },
        //         }
        //     },
        // this will be not available in Vue component data
        thisvar:234213;


        // https://davestewart.github.io/vuex-pathify/#/api/property-decorator
        // `!` assert that its operand is non-null and non-undefined
        // // read-only, single property, or, 1-way binding
        // Properties are accessed by simply referencing the state name; but should be get through generated getter internally. ref: https://davestewart.github.io/vuex-pathify/#/api/paths?id=property-access
        // @Get('report/XPipelines_all') XPipelines_all!: IXPipelines; //computed -->  XPipelines_all: get('report/XPipelines_all'),
        @Get('report/time_range') time_range!: IAnalyticsTimeRange;
        @Get('report/pipelinePerformanceData') pipelinePerformanceData:IPipelinePerformanceData[];
        @Get('report/is_position_report') is_position_report!: boolean;
        @Get('report/pipeline_performance_data_loaded') pipeline_performance_data_loaded!: boolean;


        @Call('report/getAllPipelines') getAllPipelines!: () => any;
        @Call('report/getPipelineReportByPipelines') getPipelineReportByPipelines!: () => any;

        getPipelineTitle = function(pipeline):string  {
            return pipeline? pipeline.title : '<unknown>'
        };

        isExpanded(key) {
            let that = this as any;
            return  that.expandedGroup.indexOf(key) !== -1;
        }

        toggleExpansion(key) {
            let that = this as any;
            if (that.isExpanded(key)){
                that.expandedGroup.splice(that.expandedGroup.indexOf(key), 1);
            }
            else {
                that.expandedGroup.push(key);
            }
        }

        randomTime():number{
            return server_time.now.valueOf()
        }
        randomTime1 = ():number => {
            return server_time.now.valueOf()
        };

        get timeRangeFormat():string{
            const timeRange=this.time_range;
            return `${timeRange.start.format('ll')} - ${timeRange.end.format('ll')}`
        }

        async getPipelineData(){
            await this.getAllPipelines();
        }

        async getPipelineReportData(){
            // alert ('getPipelineReportData')
            await this.getPipelineReportByPipelines()
        }


        async created() {
            await this.getAllPipelines();
            await this.getPipelineReportData();
        }
        // lifecycle hook
        async mounted(){
            let that = this as any;
            that.expandedGroup.push(0)
            // alert('mounted');
            // await Promise.all([
            //
            // ])
            // await this.getPipelineData(); // this will trigger change pipelines
            // await this.getPipelineReportData();
            // await this.getAllPipelines();
        }


        @Watch('time_range')
        async onTimeRangechange(value){
            // alert('onTimeRangechange');
            // alert(`${value.start.format()} - ${value.end.format()}`)
            await this.getPipelineReportData();
        }
        // @Watch('position_filter')
        // async onPositionFilterChange() {
        //     alert('onPositionFilterChange');
        //     // await this.getPipelineReportData();
        // }
        @Watch('pipelines')
        async onPipelinesChange() {
            // alert('change pipelines');
            await this.getPipelineReportData();
        }






    }
</script>

<style lang="scss">
    .el-table__header-wrapper{
        th{
            text-align: center;
            vertical-align: middle;
            font-size: 13px;
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
    .el-table__row{

        td{
            text-align: center;
            vertical-align: middle;
            padding-bottom: 10px;
            padding-top: 10px;
            .cell{
                min-width: 15px;
                padding: 1px;
                line-height: 13px;
                font-size: 13px;
                text-align: center;
                display: inline-block;

            }
        }
        td.highlight_cell{
            .cell{

                background: #5ac0e5;
                border-radius: .25rem!important;

                color: #f8f9fa!important;
            }
        }
        td.stage_name{
            text-align: left;

            .cell{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    .pipeline_report_number{
        background: #5ac0e5;
    }
</style>

<style lang="scss" >
    /* using scoped will not work! */
    .previous-change {
        display: inline-block;
        vertical-align: middle;
        &:before { /*overwrite parent css when not scoped*/
            display: inline-block;
            font-family: 'Font Awesome 5 Free';
            margin-right: 5px;
            font-weight: bold;
        }
        &.increase {
            color: #76d691;
            :before {
                font-weight: bold;
                content: '\f062';
            }
        }
        &.decrease {
            color: #e15258;
            :before {
                font-weight: bold;
                content: '\f063';
            }
        }

    }

</style>
<style lang="scss" scoped>
    /*work!*/
    .recruitment_process_groups {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
        color: #84929F
    }
    .myclass {
        color:red;
        .mysubclass{
            color:blue;
        }
        &.overwrite{
            color: yellow;
        }
    }
    .btn:focus{
        box-shadow: unset !important;
    }
</style>
