<template>
    <!-- Movement Table -->
    <div  class="container mx-0 px-0 pb-3 my-3 border rounded" style="background: #F9FAFA">
        <!-- Header -->
        <div class="container mt-3 d-flex justify-content-between align-items-center">
            <h2 class="report-type-name">{{heading}}</h2>
            <button class="btn py-1 px-1" style="background: #edeff0" @click="exportExcelMovement()">
                <i class="fas fa-cloud-download-alt text-secondary"></i>
                <small class="text-secondary">&nbsp;{{messages.SR_050_BTN_TEXT_EXPORT}}</small>
            </button>
        </div>
        <div class="container justify-content-between align-items-center mb-4">
            <h2 class="recruitment-process">{{is_position_report?messages.SR_050_RECRUITMENT_PROCESS:`${messages.SR_050_RECRUITMENT_PROCESS} ${getPipelineTitle(this.p.pipeline)}`}}</h2>
        </div>
        <!-- Table content -->
        <div
             class="container my-3" style="width: 95%;overflow-x:auto">
            <!--                <table style="width: 120%">-->
            <!--                    <tbody><tr style="font-size: 13px; text-align: center">-->
            <!--                        <td height="40" style="text-align: left" > </td>-->
            <!--                        <td v-for="dateobj in time_range_dates" height="40">{{dateobj.format}}</td>-->
            <!--                    </tr>-->

            <!--                    <tr v-for="stage in p.stages"-->
            <!--                        style="font-size: 13px; text-align: center">-->
            <!--                        <td class="text-secondary" height="40" style="text-align: left">{{stage.title}}</td>-->
            <!--                        <td v-for="(spr, date) in p.movement_pipeline_reports_group_by_date"  height="40" class="text-secondary">-->
            <!--                            <span :class="{ 'rounded text-light pipeline_report_number': spr[stage.id].length>0}">&nbsp;{{ spr[stage.id].length }}&nbsp;</span>-->
            <!--                        </td>-->

            <!--                    </tr>-->

            <!--                    </tbody>-->
            <!--                </table>-->

            <Table
                :data="p.movement_pipeline_reports"
                style="width: 100%"
                row-class-name="hahahaaaaa"
                :cell-class-name="tableCellClassName"
                :key="p.pipeline.id"
            >
                <TableColumn
                    fixed
                    prop="stage_name"
                    label=""
                    width="120"

                >
                </TableColumn>
                <TableColumn v-for="dateobj in time_range_dates" :key="dateobj.format"
                             :prop="dateobj.format"
                             :label="dateobj.header_format"
                >

                </TableColumn>

            </Table>

            <!-- el tables -->

        </div>
        <ExportExcel ref="exportMovement" :fileName="file_name_export" :dataBodyExport="dataBodyExport" :dataHeaderExport="dataHeaderExport"></ExportExcel>
    </div>

</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component'
    import { Watch, Prop } from 'vue-property-decorator'
    import Moment from 'moment'
    import {Table, TableColumn} from 'element-ui';
    import { Get, Sync, Call } from 'vuex-pathify'

    import _ from 'lodash'
    import {IPipelineReportsGroupByPipelineFullfillDates} from "@/store/report/store";
    import {IAnalyticsTimeRange} from "@/components/Analytics/AnalyticsTimeRange";
    import ExportExcel from "@/components/Analytics/exportExcel/index.vue";
    import {messages} from '@/messages'
    import {server_time} from "@/firebase";

    // The @Component decorator indicates the class is a Vue component
    @Component({
        components: {
            Table,
            TableColumn,
            ExportExcel,
        },
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        computed: {

        },
        methods: {

        }
    })
    export default class PipelineMovement extends Vue {

        //     props: {
        //         value: {
        //             type: Object,
        //             defaultValue: {
        //                 text: '',
        //             },
        //         }
        //     },
        // this will be not available in Vue component data
        thisvar:234213;

        // @Prop({required:true, type: IPipelineReportsGroupByPipelineFullfillDates}) // cannot declare the type here
        @Prop({required:true})
        readonly p!:IPipelineReportsGroupByPipelineFullfillDates;


        @Get('report/time_range') time_range!: IAnalyticsTimeRange;
        @Get('report/is_position_report') is_position_report!: boolean;


        dataBodyExport: object = {}
        dataHeaderExport: Array<object>=[]
        file_name_export:string="";
        date_format:string="YYYY-MM-DD";
        table_header_date_format:string = "MMM Do";

        get heading():string {
            if(this.is_position_report){
                return messages.SR_027_PERFORMANCE_HEADING_PIPELINE_MOVEMENT
            }
            else{
                return messages.SR_050_PERFORMANCE_MOVEMENT_ALL_POSITION
            }
        }

        get time_range_dates():{date:Moment.Moment, format: string, header_format:string}[]{

            const res:{date:Moment.Moment, format: string, header_format:string}[] = []
            const current: Moment.Moment = Moment(this.time_range.start);
            while (current.isBefore(this.time_range.end)) {
                res.push({
                    date: Moment(current),
                    format: current.format(this.date_format),
                    header_format: current.format(this.table_header_date_format),
                });

                current.add(1, 'd');
            }
            return res;
        }



        tableCellClassName({row, rowIndex, column, columnIndex}){
            // debugger
            if (column.property=='stage_name') return 'stage_name'
            else {
                return row[column.property]>0 ? 'highlight_cell': '';
            }
            // column.property //2019-06-12
            // row[column.property]
            // return 'highlight_cell'
        }
        randomTime():number{
            return server_time.now.valueOf()
        }
        randomTime1 = ():number => {
            return server_time.now.valueOf()
        }
        getPipelineTitle = function(pipeline):string  {
            return pipeline? pipeline.title : '<unknown>'
        }
        exportExcelMovement(){
            let that = this as any
            let star_date = Moment(that.time_range.start._d).format("DD-MM-YYYY")
            let end_date = Moment(that.time_range.end._d).format("DD-MM-YYYY")
            that.dataHeaderExport = that.createHeaderExportMovement()
            that.dataBodyExport = that.createBodyExportMovement()
            that.file_name_export = `Potential_report_pipeline_movement _${star_date}-${end_date}`
            setTimeout(()=>{that.$refs.exportMovement.createWorkBook()},500)

        }
        createHeaderExportMovement(){
            let that = this as any
            let header =[];
            let _header = []
            if(that.p.stages) {
                _header = that.p.movement_pipeline_reports.map((data,index)=>{
                    return {
                        text: data.stage_name,
                        slug: data.stage_name,
                        index:index,
                    }
                })
            }
            header = [{
                text:'dates',
                slug:'dates'
            },..._header]



            return header
        }
        createBodyExportMovement(){
             let that = this as any
            let header = that.createHeaderExportMovement()
            let body_data = [];
            if(header.length >0 ) {
                body_data = header.map((_header)=>{
                    if(_header.slug == 'dates'){
                        let list_time = that.time_range_dates.map((time_range_dates)=>{
                            let value :string|number = ""
                            value = Moment(time_range_dates.format).format('DD - MMM')
                            return {
                                text: value,
                                slug: _header.slug,
                            }
                        })

                        return _.groupBy(list_time,'slug')
                    }else {
                         let list_score_by_time = that.time_range_dates.map((time_range_dates)=>{
                            let index_time = time_range_dates.format
                            let value :string|number = ""
                            if(that.p.movement_pipeline_reports[_header.index] && that.p.movement_pipeline_reports[_header.index][index_time]!= undefined){
                                value = that.p.movement_pipeline_reports[_header.index][index_time]
                            }
                            return {
                                text: value,
                                slug: _header.slug,
                            }
                        })
                        return _.groupBy(list_score_by_time,'slug')
                    }
                })
            }
            let _body_data = {}
            let merger_body_data = {}
            body_data.map((data)=>{
                //convert array to object
                merger_body_data = _.merge(_body_data,data)
                return data
            })
            return (merger_body_data)
        }


        // error
        // randomTime2:():number => {
        //     return 1
        //     // return Date.now()
        // }




    }
</script>
<style scoped>
    .report-type-name {
        color: #4C555C;
        font-weight: 600
    }
    .recruitment-process {
        font-size: 14px;
        line-height: 20px;
        color: #4C555C;
    }
    .btn:focus{
        box-shadow: unset !important;
    }

</style>
