<template>
    <!-- Movement Chart -->
    <div  class="container mx-0 px-0 pb-3 my-3 border rounded" style="background: #F9FAFA">
        <div class="container mt-3 mb-4">
            <h2 class="report-type-name">{{messages.SR_027_PERFORMANCE_HEADING_PIPELINE_MOVEMENT_HISTORY}}</h2>
        </div>

        <div class="container mt-3 border rounded bg-white" v-if="chart.loaded" style="width: 95%; background: rgb(255, 255, 255);">
            <LineChart :chartData="chart.data" :options="chart.options" :key="chart.key"></LineChart>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import LineChart from "@/components/Analytics/Charts/LineChart.vue";
    import { Get, Sync, Call } from 'vuex-pathify'
    import { Watch, Prop } from 'vue-property-decorator'
    import {IPipelineReportsGroupByPipelineFullfillDates, IStageCount, NumberString} from "../../../store/report/store";
    import Moment from 'moment';
    import {IAnalyticsTimeRange} from "../AnalyticsTimeRange";
    import _ from 'lodash';
    import PipelineReport from "@/models/PipelineReport";
    import {messages} from '@/messages'
    import {server_time} from "@/firebase";


    const lineStyle = (color: string):any =>({
        backgroundColor: 'rgba(0, 0, 0, 0)',
        borderColor: color,
        pointBackgroundColor: color,
        pointBorderColor: "white",
    });

    @Component({
        components: {
            LineChart,
        },
    })
    export default class MovementHistory extends Vue {
        // pipelineReportsGroupByPipelineFullfillDates(state, getters):IPipelineReportsGroupByPipelineFullfillDates[]{
        @Prop({required:true})
        readonly p!:IPipelineReportsGroupByPipelineFullfillDates;

        @Get('report/time_range') time_range!: IAnalyticsTimeRange;
        @Get('report/date_format') date_format!: string;

        chart = {
            loaded: false,
            key: server_time.now.valueOf(),
            data: {
                datasets: [] as any[],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [
                        {
                            type: 'time',
                            time: {
                                unit: 'day',
                                dateFormat: {

                                }
                            }
                        }
                    ],
                },
                legend: {
                    display: false,
                    labels: {
                        // usePointStyle: true,
                    }
                }
            }
        };
        get movementChartData(): {x:string, y:number}[] {
            //IStageCount:[] = {[stage_id:string]:number}[]
            // const movement_pipeline_reports:{[date:string]:NumberString, stage_name:string }[] = this.p.movement_pipeline_reports;
            const movement_pipeline_reports_group_by_date:{[date:string]:{[stage_id:string]:PipelineReport[]}} = this.p.movement_pipeline_reports_group_by_date;

            const a:{[date:string]:number} = _.mapValues(movement_pipeline_reports_group_by_date, (obj:{[stage_id:string]:PipelineReport[]})=>{
                const a1:(PipelineReport[])[] = _.values(obj);
                // console.error(obj);
                return _.sumBy(a1, (o:PipelineReport[])=>o.length);
            });

            // console.error(a);

            const b:{x:string, y:number}[] = _.map(a, (no:number, date:string)=>{
                return {
                    x: date,
                    y: no
                }
            });
            let c = _.sortBy(b, (o)=>{
                return o.x
            });
            return c




        }
        get time_range_dates():Moment.Moment[]{
            const res:Moment.Moment[] = [];
            const current: Moment.Moment = Moment(this.time_range.start);
            while (current.isBefore(this.time_range.end)) {
                res.push(Moment(current));

                current.add(1, 'd');
            }
            return res;
        }

        buildChartData():void{
            this.chart.loaded=false;

            this.chart.data.datasets=[];
            this.chart.data.datasets.push({
                ...lineStyle("red"),
                label: "Movement",
                data: this.movementChartData,
            });



            this.chart.key = server_time.now.valueOf();
            this.$nextTick(()=>{
                this.chart.loaded = true

            })

        }
        mounted(){
            this.buildChartData();
        }

        @Watch('time_range')
        onTimeRangeChange(){
            this.buildChartData();
        }
    }
</script>
<style lang="scss" scoped>
    .report-type-name {
        color: #4C555C;
        font-weight: 600
    }
</style>
