<template>

        <div  class="time-in-stage-by-attr" style="background: #F9FAFA">

            <!-- pipelineInStageByPositions Table -->
            <div>
                <!-- Header -->
                <div  class="container mt-3  justify-content-between align-items-center dg-fade-enter-active d-flex">
                    <h2 class="report-type-name">{{titles.heading_report_type_name}}</h2>
                    <button class="btn py-1 px-1" style="background: #edeff0" @click="exportExcelTimeInStage()">
                        <i class="fas fa-cloud-download-alt text-secondary"></i>
                        <small class="text-secondary">&nbsp;{{messages.SR_050_BTN_TEXT_EXPORT}}</small>
                    </button>
                </div>
                <div class="container justify-content-between align-items-center mb-4">
                    <h2 class="recruitment-process">{{titles.heading_type_of_recruitment_process}}</h2>
                </div>
                <!-- Table's note -->
                <div class="container mt-3 d-flex justify-content-between align-items-center">
                    <!--                    <template v-for="colors in getStageColors(p.stages)">-->
                    <!--                    https://stackoverflow.com/a/56249209 -->
                    <ul class="legend pl-0" :set="colors = getStageColors(p.stages)[0]">
                        <li v-for="stage, stage_index in stages" :key="stage_index" >
                            <i class="fa fa-square" :style="`color: ${colors[stage_index]};`"></i>
                            <span> {{stage.title}}</span>
                        </li>

                    </ul>
                    <!--                    </template>-->

                </div>

                <!-- Table content -->
                <!--                <div class="container border rounded d-flex justify-content-center align-items-center" style="width: 95%; background: #ffffff">-->
                <div class="container border rounded justify-content-center align-items-center" style="width: 95%; background: #ffffff">

                    <div >
                        <table style="width: 100%" class="table">
                            <tbody>
                            <tr class="container" style="font-size: 13px" v-if="show_row_all">
                                <td class="text-secondary" height="40" width="200">{{titles.heading_all}}</td>
                                <td class="text-secondary" style="text-align: center" height="40" :colspan="max_day">
                                    <div class="progress" v-if="largest">

                                        <PipelineTimeInStageRowItem v-for="stage,stage_index in stages" :key="stage_index"
                                            :count="pipeline_report_all[stage.id]"
                                            :largest="largest"
                                            :color="colors[stage_index]"
                                        ></PipelineTimeInStageRowItem>


                                    </div>
                                </td>
                            </tr>
                            <tr v-for="v,i in attr_value_list"  :key="i"
                                class="container" style="font-size: 13px">
                                <td class="text-secondary" height="40" width="200">{{v[attr_name_key]}}</td>
                                <td class="text-secondary" style="text-align: center" height="40" :colspan="max_day">
                                    <div class="progress" v-if="largest">
                                        <PipelineTimeInStageRowItem v-for="stage,stage_index in stages" :key="stage_index"
                                                                    :count="getStageDaysCount(v, stage)"
                                                                    :largest="largest"
                                                                    :color="colors[stage_index]"
                                        ></PipelineTimeInStageRowItem>

                                    </div>
                                </td>
                            </tr>
                            </tbody>

                            <tbody>
                            <tr style="font-size: 13px">
                                <td class="text-secondary" height="40"> </td>

                                <td v-for="d,i in timingDayRange" :key="i"
                                    class="text-secondary" height="40">{{d}}</td>

                            </tr>
                            <tr style="font-size: 13px">
                                <td class="text-secondary" height="40"> </td>
                                <td class="text-secondary" style="text-align: center" height="40" :colspan="max_day">{{messages.SR_050_DAYS}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <ExportExcel ref="exportTimeInStage" :fileName="file_name_export" :dataBodyExport="dataBodyExport" :dataHeaderExport="dataHeaderExport"></ExportExcel>
        </div>


</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapState} from 'vuex';
    import Component from 'vue-class-component';
    import ExportExcel from "@/components/Analytics/exportExcel/index.vue";
    import { Watch, Prop } from 'vue-property-decorator'
    import { Get, Sync, Call } from 'vuex-pathify'
    import _ from 'lodash';
    import PipelineStage from "@/models/PipelineStage";
    import {
        IPipelineInStageByCategory,
        IPipelineInStageByPosition,
        IStageCount,
        IStageCountByAttrID
    } from "@/store/report/store";
    import PipelineReport from "@/models/PipelineReport";
    import {IPositionCategory} from "@/common/positioncategories";
    import {IAnalyticsPositionFilterOption} from "@/components/Analytics/AnalyticsPositionFilterOption";
    import {messages} from '@/messages'
    import {IAnalyticsTimeRange} from "@/components/Analytics/AnalyticsTimeRange";
    import Moment from 'moment';

    import PipelineTimeInStageRowItem from './TimeInStageRowItem.vue'

    // import colors from 'nice-color-palettes'// not work
    const colors = require('nice-color-palettes');
    // The @Component decorator indicates the class is a Vue component
    @Component({
        components: {
            ExportExcel,
            PipelineTimeInStageRowItem
        },
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        computed: {
            ...mapGetters([
                // 'positions', // map position here
            ]),
            ...mapState('report', {
                // positions: "all_positions"
            }),

        },
        methods: {

        },
        filters: {

        }
    })
    export default class PipelineTimeInStageByAttribute extends Vue {
        @Get('report/time_range') time_range!: IAnalyticsTimeRange;
        @Prop({required:true})
        readonly p!:IPipelineInStageByPosition|IPipelineInStageByCategory;
        @Prop({required:true})
        readonly pipeline_report_all!:IStageCount;
        @Prop({required:true})
        readonly pipeline_report_by_attr_id!:IStageCountByAttrID;

        @Prop({default: 'name'})
        readonly attr_name_key: string;
        @Prop({ default: 'value'})
        readonly attr_value_key: string;

        @Prop({required:true})
        readonly attr_value_list!:Position[]|IPositionCategory[];

        @Prop({ default: 'category'})
        readonly attr_type: string;

        @Get('report/position_filter') position_filter!: IAnalyticsPositionFilterOption;

        @Get('report/is_position_report') is_position_report!: boolean;

        dataBodyExport: object = {}
        dataHeaderExport: Array<object>=[]
        file_name_export:string="";
        date_format:string="YYYY-MM-DD";

        excluded_stages:string[] = ['hired', 'disqualified', ''];

        get titles():{heading_report_type_name:string,heading_type_of_recruitment_process:string,heading_all:string}{
            if(this.attr_type=='position'){
                return {
                    heading_report_type_name: messages.SR_050_PERFORMANCE_TIME_POSITION,
                    heading_type_of_recruitment_process:`${messages.SR_050_RECRUITMENT_PROCESS} ${this.getPipelineTitle(this.p.pipeline)}`,
                    heading_all: messages.SR_050_PERFORMANCE_TEXT_ALL_POSITIONS,
                }
            }
            else{
                let heading_recruitment_process:string='';
                if(this.is_position_report){
                    heading_recruitment_process=messages.SR_050_RECRUITMENT_PROCESS;
                }else {
                    heading_recruitment_process=`${messages.SR_050_RECRUITMENT_PROCESS} ${this.getPipelineTitle(this.p.pipeline)}`
                }
                return {
                    heading_report_type_name: messages.SR_050_PERFORMANCE_TIME_CATEGORY,
                    heading_type_of_recruitment_process: heading_recruitment_process,
                    heading_all: messages.SR_050_PERFORMANCE_TEXT_ALL_CATEGORIES
                }

            }
        }

        get show_row_all(){
            return !(this.position_filter.type=='by_position')

        }
        timeInStage (time:number):number {
            if (!time) return 0;
            return _.round(time/1000/3600/24, 1)

        }
        get max_day():number{
            const largest_days:number = this.timeInStage(this.largest);
            const ceil=_.ceil(largest_days);
            // console.error(`ceil ${largest}`);
            let max_day:number = ceil;
            if (ceil==0){
                max_day=5;
            }
            return max_day+1
        }

        get largest():number{
            return this.getLargestRowValue(this.p.stages, this.pipeline_report_by_attr_id)
        }

        get stages():PipelineStage[]{
            return _.filter(this.p.stages, (stage:PipelineStage)=>(!this.isExcludedStageById(this.p.stages,stage.id)))

        }
        get timingDayRange():number[]{
            return _.range(this.max_day)
        }

        getCount(stage_id:string):number{
            return this.pipeline_report_all[stage_id];
        }

        getPipelineTitle = function(pipeline):string  {
            return pipeline? pipeline.title : '<unknown>'
        };

        getStageDaysCount(v:Position|IPositionCategory, stage:PipelineStage):number{
            if(!v){
            }
            if(!v[this.attr_value_key]){
            }
            if(!this.pipeline_report_by_attr_id[v[this.attr_value_key]]){
                return 0
            }else{
                return this.pipeline_report_by_attr_id[v[this.attr_value_key]][stage.id]
            }
        }

        getStageColors(stages:PipelineStage[]):[string[]]{
            const count_palletes = (stages.length/colors[0].length) + 1;

            let color_palletes:string[] = [];
            _.range(count_palletes).forEach((i)=>{
                color_palletes=[...color_palletes, ...colors[i]]
            })
            // return [color_palletes.reverse()]
            return [color_palletes]
        }
        exportExcelTimeInStage(){
            let that = this as any
            let star_date = Moment(that.time_range.start._d).format("DD-MM-YYYY")
            let end_date = Moment(that.time_range.end._d).format("DD-MM-YYYY")
            that.dataHeaderExport = that.createHeaderExportTimeInStage()
            that.dataBodyExport = that.createBodyExportTimeInStage()
            if(that.attr_type=='position'){
                that.file_name_export = `Potential_PipelinePerformance_TimeInStageByPosition_DefaultPipeline_${star_date}-${end_date}`
            }else{
                that.file_name_export = `Potential_PipelinePerformance_TimeInStageByCategory_DefaultPipeline_${star_date}-${end_date}`
            }

            setTimeout(()=>{that.$refs.exportTimeInStage.createWorkBook()},500)
        }
        createHeaderExportTimeInStage(){
            let that = this as any
            let header =[];
            let _header = []
            if(that.p.stages) {
                _header = that.attr_value_list.map((data,index)=>{
                    return {
                        text: data.title,
                        slug: data.title,
                        position_id:data.id,
                        position_index:index,
                    }
                })
            }
            if(that.show_row_all){
                header = [{
                    text:'Position',
                    slug:'Position'
                },{text:that.attr_type=='position'?'All Positions':'All Categories',
                    slug:that.attr_type=='position'?'All Positions':'All Categories'
                },..._header]
            }else{
                header = [{
                    text:'Position',
                    slug:'Position'
                },..._header]
            }


            return header
        }
        createBodyExportTimeInStage(){
            let that = this as any
            let header = that.createHeaderExportTimeInStage()
            let body_data = [];
            let largest = that.getLargestRowValue(that.p.stages, that.pipeline_report_by_attr_id)
            if(header.length >0 ) {
                body_data = header.map((_header)=>{
                    if(_header.slug == 'Position'){
                        let list_stage = that.stages.map((stage)=>{
                            return {
                                text: stage.title,
                                slug: _header.slug,
                            }
                        })

                        return _.groupBy(list_stage,'slug')
                    }else if(_header.slug == 'All Positions' || _header.slug == 'All Categories'){
                        let list_stage_all_position = that.stages.map((stage)=>{
                            let value : string|number = ""
                            if(largest){
                                value = that.pipeline_report_all[stage.id]
                            }
                            return {
                                text: value ,
                                slug: _header.slug,
                            }
                        })
                        return _.groupBy(list_stage_all_position,'slug')
                    }else {
                        let current_position = that.attr_value_list[_header.position_index]
                        let list_stage_position = that.stages.map((stage)=>{
                            let value : string|number = ""
                            if(largest){
                                value = that.pipeline_report_by_attr_id[current_position[that.attr_value_key]][stage.id]
                            }
                            return {
                                text: value ,
                                slug: _header.slug,
                            }
                        })
                        return _.groupBy(list_stage_position,'slug')
                    }
                })
            }
            let _body_data = {}
            let merger_body_data = {}
            body_data.map((data)=>{
                //convert array to object
                merger_body_data = _.merge(_body_data,data)
                return data
            })
            return (merger_body_data)
        }


        // showStageInTimeStage(stages:PipelineStage[], stage_index: number):boolean{
        //     return  this.isExcludedStageByIndex(stages, stage_index)
        //
        // }
        isExcludedStageByIndex(stages:PipelineStage[], stage_index:number):boolean{
            return this.excluded_stages.includes((stages[stage_index] && stages[stage_index].stage_type)||'')
        }
        isExcludedStageById(stages:PipelineStage[], stage_id:string):boolean{
            const foundStage:PipelineStage=_.find(stages, (stage:PipelineStage)=>(stage.id==stage_id))
            if(this.excluded_stages.includes((foundStage && foundStage.stage_type) || '')){
                return true
            }else{
                return false
            }
        }

        getLargestRowValue(stages:PipelineStage[], collection:{[key_id:string]:{[stage_id:string]:number}}):number{

            const a:{[key_id:string]:number} = _.mapValues(collection, (obj:{[stage_id:string]:number})=>{
                return _.reduce(obj, (total:number, n:number, stage_id:string)=>{
                    // console.error(`_.values(a) ${total} ${n}`);
                    if (stages[stage_id]) return total;
                    if(this.isExcludedStageById(stages, stage_id)){
                        return total
                    }else{
                        return total + n
                    }
                }, 0) as number
            });
            // alert(a);
            // console.error(`_.values(a) ${_.values(a)}`);
            const b:number[]=_.values(a);
            const v:number = _.size(b) && _.max(b);

            return v > 0 ? v : 0
            // return (_.size(b) && _.max(b)) || 0
        }





    }
</script>
<style lang="scss">

    .time-in-stage-by-attr .progress{
        background: none;
    }
    ul.legend {
        li{
            float: left;
            display: inline-block;
            margin-left: 10px;
        }
        li:first-child{
            margin-left: 0px;
        }

    }
    .btn:focus{
        box-shadow: unset !important;
    }
</style>
<style scoped lang="scss">
    .report-type-name {
        color: #4C555C;
        font-weight: 600
    }
    .recruitment-process {
        font-size: 14px;
        line-height: 20px;
        color: #4C555C;
    }
</style>
