<template>




            <div
                 v-if="count>0"
                 :style="`width: ${count/largest*100}%; background-color: ${color};`"
                 :aria-valuenow="count/largest*100"
                 :title="getTimeInStageFormat()"
                 class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">

            </div>

</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { Watch, Prop } from 'vue-property-decorator'
    import _ from 'lodash';


    // import colors from 'nice-color-palettes'// not work
    const colors = require('nice-color-palettes');
    // The @Component decorator indicates the class is a Vue component
    @Component({


    })
    export default class PipelineTimeInStageRowItem extends Vue {


        @Prop({default: 0})
        readonly count!: number;
        @Prop({default: 0})
        readonly largest!: number;

        @Prop({default: 0})
        readonly color!: string;

        getTimeInStageFormat():string{
            if (!this.count) return `0 ngày`;
                return `${_.round(this.count/1000/3600/24, 1)} ngày`

        }




    }
</script>
