<template>
    <div class="candidate-container">
        <div class="candidate-color-bar-container">
            <ul class="color-bars">
                <li class="score-bar ng-scope assigned" v-tooltip="assigneeTooltip(candidate)" v-if="candidate.assignee_id != ''">
                    <div class="low-score" tooltip-placement="bottom" uib-tooltip="Scored" data-container="body"></div>
                </li>
                <li class="score-bar" :class="scoreClass()" v-tooltip="messages.SR_021_CANDIDATE_CARD_SCORED_TOOLTIP" v-if="scoreClass() != ''">
                    <div class="bar good" tooltip-placement="bottom" uib-tooltip="Scored" data-container="body"></div>
                </li>
            </ul>
        </div>
        <div class="candidate-info" :class="{'unseen-candidate':!checkSeenCandidate(candidate)}">
            <div class="unseen-marker" v-tooltip="messages.SR_028_CHECKBOX_UNSEEN"></div>
            <!--<avatar v-if="candidate.unseen" :size="30" show-score-sm="show-score-sm"-->
                    <!--src="https://s3.amazonaws.com/nimble-assets/favicon_128.png"-->
                    <!--class="ng-isolate-scope sm avatar color2">-->
            <!--</avatar>-->
            <div style="position:relative">
                <avatar :size="30" show-score-sm="show-score-sm"
                        :src="candidate.profile_photo_url"
                        :username="candidate.name"
                        :initials="candidate.name.charAt(0).toUpperCase()"
                        class="ng-isolate-scope sm avatar color2">
                </avatar>
                <div v-if="scoreClass() != ''" class="score-near-avatar" :class="scoreClass()">{{candidate.overall_score.score}}</div>
            </div>
            <div class="candidate-header-actions">
                <p>{{candidate.name}}
                </p>

                <div class="dropdown-btu">
                    <b-dropdown class="dropdown-custom" :right="true" size="lg"
                                variant="link"
                                toggle-class="text-decoration-none" no-caret>
                        <template slot="button-content"><i
                            class="fa fa-chevron-down"></i></template>
                        <b-dropdown-item v-for="effect,index in listEffectCandidate"
                                         :key="index"
                                         v-if="!effect.hide"
                                         @click.stop="effectingCandidate(effect.name, index)">
                            <span v-if="effect != 'Follow'">{{effect.name}}</span>
                            <span v-else>{{candidate.follow_by == '' ? effect: 'Unfollow'}}</span>
                        </b-dropdown-item>
                    </b-dropdown>
                </div>
                <div class="candidate-icon">
                    <div style="display: flex; max-width:calc(100% - 35px)">
                        <div  v-tooltip="displayTimeAction(candidate.createdAt)">
                            <i class="fa fa-clock"></i>
                            <span class="timestamp lowercase">{{candidate.createdAt|timeAgo}}</span>
                        </div>
                        <div style="margin-left:10px;"  v-tooltip="displayTimeAction(candidate.updatedAt)">
                            <i class="fa fa-bolt"></i>
                            <span class="timestamp lowercase">{{candidate.updatedAt|timeAgo}}</span>
                        </div>
                    </div>
                    <div class="icon-2">
                        <span class="fa fa-upload" v-tooltip="messages.SR_007_MODAL_PIPELINE_STAGE_SOURCED" v-if="candidate.origin == 'sourced'"></span>
                        <span class="fa fa-rss-square"
                              @click.stop="changeFollowCandidate('Unfollow')"
                              v-if="candidate.follow_by != ''"></span>
                        <span :class="{'starred': checkStarCandidate()}"
                              @click.stop="starCandidate(candidate.id, candidate.name)"
                              class="fa fa-star"></span>
                    </div>
                </div>
            </div>
        </div>
        <UnSavedChangeModal
            :showModal="isShowModalConfirm"
            :title-modal="messages.SR_021_DEL_CANDIDATE"
            :sub-title-modal="messages.SR_021_SUB_DEL_CANDIDATE"
            @handleSaveChange="deleteCandidate"
            @handleClose="isShowModalConfirm=false">
        </UnSavedChangeModal>
        <SendEmailCandidateModal
            @handleCloseModal="handelCloseModalSendEmail"
            :currentCandidate="candidate"
            :currentPosition="currentPosition"
            :showModal="showModalSendEmail"/>
        <CopyCandidate
            @handleCloseModal="showModalCopy = false"
            @handleEvent="reloadCandidate"
            :candidate="candidate"
            :type="'copy'"
            :showModal="showModalCopy"/>
        <ScheduleInterviews
            @closeModal="showModalSchedule = false"
            type="new"
            :showModal="showModalSchedule"
            :currentCandidate="candidate"
            :currentPosition="currentPosition">
        </ScheduleInterviews>
    </div>
</template>

<script>
    import Candidate from '@/models/Candidate.ts';
    import avatar from 'vue-avatar';
    import {mapGetters, mapActions, mapMutations} from 'vuex';
    import moment from 'moment'
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import SendEmailCandidateModal from '@/components/Position/SendEmailCandidateModal.vue';
    import CopyCandidate from '@/components/Position/CopyCandidate.vue';
    import ScheduleInterviews from '@/components/modals/ScheduleInterviews.vue';
    import Activity from "@/models/Activity";
    import PipelineReport from "../../models/PipelineReport";

    import {messages} from "../../messages";

    export default {
        name: "CandidateCard",
        props: [
            'candidate',
            'currentStage',
            'currentPosition',
            'currentPipeline'
        ],
        computed: {
            ...mapGetters([
                'listCandidate',
                'currentUser',
                'currentCompany',
                'openModalSendEmail'
            ]),
            listEffectCandidate(){
                let listEffect =  [
                    messages.SR_021_SEND_MAIL_OPTION,
                    // 'Send Questionnaire',
                    messages.SR_021_SCHEDULE_MEETING_OPTION,
                    // messages.SR_021_FOLLOW_OPTION, => Comment this feature, not develop in v1
                    messages.SR_021_COPY_OPTION,
                    messages.SR_021_DELETE_OPTION
                ];
                listEffect = listEffect.map((effect, index)=>{
                    let result = {
                        name: effect,
                        hide: false
                    };
                    // Ẩn send email và đặt lịch hẹn khi không có email.
                    if (this.candidate.email_address.trim() == '' && (index == 0 || index == 1)){
                        result.hide = true;
                    }
                    return result;
                });
                return listEffect;
            }
        },
        components: {
            avatar,
            ScheduleInterviews,
            UnSavedChangeModal,
            SendEmailCandidateModal,
            CopyCandidate
        },
        filters: {
            timeAgo(value) {
                moment.locale('vi');
                moment.updateLocale('vi', {
                    relativeTime: {
                        future: '%s tới',
                        past: '%s trước',
                        s: 'vài giây',
                        ss: '%d giây',
                        m: '1 phút',
                        mm: '%d phút',
                        h: '1 giờ',
                        hh: '%d giờ',
                        d: '1 ngày',
                        dd: '%d ngày',
                        M: '1 tháng',
                        MM: '%d tháng',
                        y: '1 năm',
                        yy: '%d năm'
                    },
                });

                moment.updateLocale('vi', {
                    meridiem : function (hours, minute, isLowercase) {
                        if (hours < 12) {
                            return  'SA' ;
                        } else {
                            return  'CH' ;
                        }
                    }
                });

                return moment(value).fromNow();
            },
        },
        data() {
            return {
                showModalSchedule: false,
                showModalCopy: false,
                showModalSendEmail: false,
                isShowModalConfirm: false,
            }
        },
        methods: {
            ...mapActions([
                'setListCandidate',
                'removeCandidate'
            ]),
            ...mapMutations([
                'setOpenModalSendEmail'
            ]),
            handelCloseModalSendEmail(goToMessageTemplate){
                this.showModalSendEmail = false;
                // if(goToMessageTemplate){
                //     let data = {
                //         name: 'messages-template',
                //         params:{
                //             openModalEmailAgain: true
                //         }
                //     };
                //     this.$router.push(data);
                // }
            },
            displayTimeAction(time){
                return `${moment(time).format('Do MMMM [@] hh:mm a')}`
            },
            assigneeTooltip(candidate){
                if (candidate.assignee_id == this.currentUser.id){
                    return messages.SR_021_CANDIDATE_CARD_ASSIGN_TOOLTIP;
                }else{
                    return `${messages.SR_021_CANDIDATE_CARD_ASSIGN_TOOLTIP2} ${candidate.assignee.name}`
                }
            },
            reloadCandidate(stage){
                let listCandidate = this.listCandidate;
                new Candidate().getCandidatesByPipelineID(this.currentPosition.id, stage.id).then((candidates) => {
                    listCandidate[stage.stage_type] = candidates.map((candidate) => {
                        return candidate.cloneNewObject()
                    })
                });
            },
            openModalScheduleMeeting() {
                this.showModalSchedule = true;
            },
            deleteCandidate() {
                let that = this;
                that.removeCandidate(that.candidate.id);
                that.isShowModalConfirm = false;
            },
            changeFollowCandidate(type) {
                new Candidate().getById(this.candidate.id).then((candidateObject) => {
                    if (type == 'Follow') {
                        candidateObject.follow_by = this.currentUser.id;
                    } else {
                        candidateObject.follow_by = '';
                    }
                    candidateObject.update();
                    this.findCandidateUpdate(candidateObject);
                })
            },
            effectingCandidate(effect, index) {
                switch (effect) {
                    case messages.SR_021_DELETE_OPTION:
                        this.isShowModalConfirm = true;
                        break;
                    case messages.SR_021_FOLLOW_OPTION:
                        this.changeFollowCandidate(this.candidate.follow_by == '' ? effect : 'Unfollow');
                        break;
                    case messages.SR_021_COPY_OPTION:
                        this.showModalCopy = true;
                        break;
                    case messages.SR_021_SEND_MAIL_OPTION:
                        this.showModalSendEmail = true;
                        break;
                    case messages.SR_021_SCHEDULE_MEETING_OPTION:
                        this.openModalScheduleMeeting();
                    default:
                        break;
                }
            },
            findCandidateUpdate(candidateUpdated, isDelete = false) {
                let listCandidate = _.cloneDeep(this.listCandidate[this.currentStage.id]);
                let index = listCandidate.findIndex((candidate) => {
                    return candidateUpdated.id == candidate.id;
                })
                if (isDelete) listCandidate.splice(index, 1)
                else {
                    listCandidate.splice(index, 1, candidateUpdated);
                }

                this.listCandidate[this.currentStage.stage_type] = listCandidate;
                this.setListCandidate(this.listCandidate);

            },
            viewDetailtCandidate() {

            },
            checkStarCandidate() {
                let that = this;
                let candidate_id = that.candidate.id
                let flag = false;
                if (that.currentUser.candidate_star) {
                    const indexID = that.currentUser.candidate_star.findIndex(u => u.id == candidate_id);
                    if (indexID !== -1) {
                        flag = true;
                    }
                }
                return flag;
            },
            scoreClass(){
                let result = '';
                let that = this;
                // console.log(this.candidate.overall_score['good'].findIndex((data)=> {return data == this.currentUser.id}))
                let overall_scores = ['very_good', 'good', 'neutral', 'poor','very_poor'];
                overall_scores.forEach((overall)=>{
                    let index = that.candidate.overall_score[overall].findIndex((user_id)=>{
                        return user_id == this.currentUser.id;
                    });
                    if (index > -1){
                        result = overall;
                    }
                });
                switch (result) {
                    case 'very_good':
                        return 'good-score';
                    case 'good':
                        return 'good-score';
                    case 'neutral':
                        return 'medium-score';
                    case 'poor':
                        return 'low-score';
                    case 'very_poor':
                        return 'low-score';
                    default:
                        return '';
                        break
                }
            },
            starCandidate(candidate_id, candidate_name) {

                const data_candidate = {
                    id: candidate_id,
                    name: candidate_name
                };

                let that = this;
                if (that.currentUser) {
                    if (that.currentUser.candidate_star) {
                        const indexID = that.currentUser.candidate_star.findIndex(u => u.id == candidate_id);
                        if (indexID !== -1) {
                            that.currentUser.candidate_star.splice(indexID, 1);
                        } else {
                            that.currentUser.candidate_star.push(data_candidate);
                        }

                    } else {
                        that.currentUser.candidate_star = [];
                        that.currentUser.candidate_star.push(data_candidate);
                    }

                    that.currentUser.update().then(result => {

                    }).catch(err => {
                        console.log(err);
                    })
                }
            },

            checkSeenCandidate(candidate) {
                return new Candidate().checkSeenCandidate(candidate);
            }

        }
    }
</script>

<style lang="scss" scoped>
    .score-near-avatar{
        color:white;
        position: absolute;
        padding: 2px;
        width: 18px;
        text-align: center;
        height: 18px;
        top: 16px;
        right: -4px;
        font-size: 9px;
        border-radius: 50%;
        border: 2px solid #edeff0;
    }
    .low-score{
        background: #e15258;
    }
    .medium-score{
        background-color: #f5d44f;
    }
    .good-score{
        background: #76d691;
    }
    .assigned{
        background: #5ac0e5;
    }

    .candidate-container {
        cursor: pointer;

        .unseen-candidate {
            .unseen-marker {
                color: red;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 14px 14px 0 0;
                border-color: #76d691 transparent transparent transparent;
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }

        .candidate-color-bar-container {
            position: absolute;
            right: 0px;
            top: -11px;
            li{
                display: inline-block;
                margin-right:5px;
            }
            .score-bar{
                width: 30px;
                height: 4px;
                border-radius: 0px 0px 4px 4px;
            }
        }

        .candidate-info {
            display: flex;

            .dropdown-toggle-no-caret {
                background: transparent;
            }

            .color2 {
                min-width: 30px;
                background-position: center !important;
            }

            .candidate-header-actions {
                position: relative;
                margin-left: 5px;
                width: calc(100% - 30px);

                .dropdown-btu {
                    position: absolute;
                    right: 0px;
                    top: -5px;
                }

                .candidate-icon {
                    display: flex;
                    justify-content: space-between;
                    color: #68747e;
                    font-size: 10px;

                    i {
                        margin-right: 3px;
                    }

                    .icon-2 {
                        span {
                            cursor: pointer;
                            margin-right: 7px;
                        }

                        .starred {
                            color: #F9E921;
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: #d7ce51
                        }
                    }
                }

                p {
                    max-width: calc(100% - 20px);
                    overflow: hidden;
                    margin-bottom: 2px;
                    text-overflow: ellipsis;
                }
            }
        }
    }
</style>
