<template>
    <b-modal
        @show="handleOpenModal"
        @hide="handleCloseModal"
        no-close-on-backdrop
        footer-class="custom-footer-copy-candidate"
        no-close-on-esc
        v-model="showModal">
        <template slot="modal-header" slot-scope="{ close }">
            <h1 v-if="type=='copy'">{{messages.SR_021_COPY_CANDIDATE}}</h1>
            <h1 v-else>{{messages.SR_021_MOVE_CANDIDATE}}</h1>
            <button type="button" aria-label="Close" class="close" @click="handleCloseModal()">×</button>
        </template>
        <div>
            <h2>{{messages.SR_021_SELECT_POSITION}}</h2>
            <p>{{messages.SR_021_PRE_COPY_CANDIDATE}} {{type == 'copy' ? messages.SR_021_MOVE_CANDIDATE_COPY :
                messages.SR_021_MOVE_CANDIDATE_MOVE}} {{messages.SR_021_SUFFIX_COPY_CANDIDATE}}</p>
            <Select size="small"
                    @change="handleChangePosition(currentPosition)"
                    filterable
                    popper-class="custom-select-copy-candidate"
                    v-model="currentPosition" value-key="id" :placeholder="messages.SR_021_PLACEHOLDER_CHOOSE_POSITION">
                <Option
                    v-if="position.status != 'archived' && checkConditionToShowStage(position)"
                    v-for="position in listCurrentPosition"
                    :key="position.id"
                    :label="position.title"
                    :value="position">
                    <a href="javascript:void(0)" class="ui-select-choices-row-inner" uis-transclude-append="">
                        <div class="card ng-scope">
                            <div class="card-box position-custom">
                                <h3>
                                    <i :class="'fa fa-circle ' + position.status" ng-class="p.state">
                                    </i>
                                    <span class="ng-binding">
                                   {{position.title}}</span>
                                </h3>
                                <div class="position-body">
                                    <p class="ng-scope" style="margin-bottom:0px;">
                                        <i class="fa fa-map-marker-alt"></i>
                                        <span>  {{displayLocation(position)}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </Option>
            </Select>
            <div v-if="currentPosition.hasOwnProperty('id') && currentPosition.id != null">
                <p style="margin-top:10px;">{{messages.SR_021_DES_COPY_CANDIDATE}}</p>
                <Select size="small"
                        @change="getPositionPipelineActions"
                        :disabled="listStage.length == 0"
                        v-model="currentStage" value-key="id"
                        :placeholder="messages.SR_021_PLACEHOLDER_CHOOSE_POSITION">
                    <Option
                        v-for="stage in listStage"
                        :key="stage.id"
                        :label="stage.title"
                        :value="stage || {}">
                        <a href="javascript:void(0)" class="ui-select-choices-row-inner" uis-transclude-append="">
                            <div class="card position custom-position-select ng-scope">
                                <div class="card-box position ">
                                    <h3>
                                        <i :class="stage.icon" ng-class="p.state">
                                        </i>
                                        <span class="ng-binding">
                                       {{stage.title}}</span>
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </Option>
                </Select>
            </div>
        </div>
        <div class="section" v-if="showTriggerActionsOptions">
            <p>{{ messages.SR_032_HINT_PIPELINESTAGE_HAS_ACTION }}<br>
                <span>{{ messages.SR_032_TEXT_QUESTION_TRIGGER_PIPELINESTAGE_ACTION }}</span>
            </p>
            <div class="bzy-switch" >
                <label>
                    <input type="radio" v-model="enable_pipelinestage_actions"  :value="true">
                    <span class="bzy-option"><span class="bzy-name">{{messages.COMMON_YES}}</span></span>
                </label>
                <label>
                    <input type="radio" v-model="enable_pipelinestage_actions" :value="false">
                    <span class="bzy-option"><span class="bzy-name">{{messages.COMMON_NO}}</span></span>
                </label>
            </div>
        </div>
        <div slot="modal-footer" :class="{'justify-content-end': !isExistEmail}">
            <span v-show="isExistEmail" style="color:#F7634B">{{messages.SR_021_ALREADY_CANDIDATE}}</span>
            <div>
                <button style="margin-right:10px;" class="btn default btn" @click="handleCloseModal">
                    {{messages.SR_021_BTN_CANCEL}}
                </button>
                <Button :disabled="currentStage && !currentStage.hasOwnProperty('id') || currentStage.id == null" variant="primary"
                        :loading="isMoving"
                        class="el-button btn-blue el-button--primary" @click="saveChange()">
                    {{type == 'copy' ? messages.SR_021_COPY : messages.SR_021_MOVE}} {{messages.SR_021_BTN_CANDIDATE}}
                </Button>
            </div>
        </div>
    </b-modal>
</template>

<style lang="scss">
    .custom-select-copy-candidate{
        .el-select-dropdown__item{
            height:auto;
        }
    }
    .custom-footer-copy-candidate {
        div:first-child {
            display: flex;
            flex:1;
            align-items: center;
            justify-content: space-between;
        }
    }

    .el-select-dropdown__item {
        height: auto;

        .ui-select-choices-row-inner {
            border: none;

            .card {
                padding: 10px 5px;

                &:hover {
                    background-color: transparent;;
                }

                background: transparent;
                border: none;
            }

            .custom-position-select {
                padding: 5px;
                height: 30px;
                justify-content: center;
            }

            .position-custom {
                height: auto;
            }

            text-decoration: unset !important;

            h3 {
                font-size: 14px;
                margin-bottom: 0px;
            }
        }
    }
    .el-button.btn-blue.btn.custom-footer  {
        padding: 6px 12px;
    }
</style>
<script >

    import {mapGetters, mapActions} from "vuex";
    import Candidate from "@/models/Candidate.ts";
    import Pipeline from "@/models/Pipeline.ts"
    import PipelineStage from "../../models/PipelineStage";
    import {Select, Option, Button} from 'element-ui';
    import Activity from "../../models/Activity"
    import PositionPipelineAction from "../../models/PositionPipelineAction";
    import Position from "../../models/Position";
    export default {
        name: "MoveToStageCandidate",
        components: {
            Select,
            Option,
            Button
        },
        props: [
            'showModal',
            'candidate',
            'type'
        ],
        data() {
            return {
                enable_pipelinestage_actions:false,
                listStage: [],
                isMoving: false,
                currentPosition: {
                    title: 'Choose a Position',
                    id: null,
                },
                isExistEmail: false,
                currentStage: {},
                position_pipeline_actions: {},
            }
        },
        computed: {
            ...mapGetters([
                'listCandidateToMove',
                'listCandidate',
                'currentCompany',
                'listPipeline',
                'listPosition',
                'companyUsers',
                'currentUser'
            ]),
            showTriggerActionsOptions(){
                return this.currentPosition.hasOwnProperty('id')
                    && this.currentPosition.id != null
                    && this.position_pipeline_actions
                    && this.position_pipeline_actions.actions
                    && this.position_pipeline_actions.actions.length > 0
            },
            listStageCustom() {
                let customList = this.listStage.map((stage) => {
                    if (stage.hide) stage.hide = false;
                    return stage;
                });
                return customList;
            },
            listCurrentPosition() {
                let that = this;
                let listpos;

                listpos = that.listPosition.filter((pos) => {
                    //console.log( that.$can('read', inbox));
                    return that.$can('read', pos);
                });
                return listpos;
            }
        },
        methods: {
            ...mapActions([
                'setListCandidate',
                'setListPipeline',
                'sendEmailManagerPosition',
                'doActionSetted'
            ]),
            getPositionPipelineActions(){
                if(this.currentStage && this.currentPosition){
                    new PositionPipelineAction().getActionsByPositionStage(this.currentPosition.id, this.currentStage.id).then((data)=>{
                        this.position_pipeline_actions = data
                    })
                }else{
                    this.position_pipeline_actions = null
                }
            },
            displayLocation(position){
                if (position.state != ''){
                    return `${position.state}, ${position.location.title}`;
                }else{
                    return `${position.location.title}`;
                }
            },
            checkConditionToShowStage(position) {
                switch (this.type) {
                    case 'copy':
                        return true;
                    case 'move':
                        return !(this.candidate.position_id == position.id || this.candidate.position._id == position.id);
                }
            },
            handleOpenModal() {
                this.currentPosition = {
                    title: 'Choose a Position',
                    id: null,
                };
            },
            handleChangePosition(data) {
                this.currentPosition = data;
                new PipelineStage().getAllStages(data.pipeline_id).then(async (stages) => {
                    this.listStage = stages;
                    this.currentStage = stages.find((stage) => {
                        return stage.stage_type == 'applied';
                    });

                    // Case: Pipeline haven't `Applied` stage.
                    if (!this.currentStage){
                        this.currentStage = this.listStage[0];
                    }

                    this.getPositionPipelineActions();
                })
            },
            handleCloseModal() {
                this.isExistEmail = false;
                this.$emit('handleCloseModal');
            },
            async saveChange() {
                // alert('moving candidate')
                this.isMoving = true;
                await new Candidate().checkExistCandidateByEmail(this.currentCompany.id, this.candidate.email_address, this.currentPosition.id).then(async (result) => {
                    this.isExistEmail = result;
                    if (this.isExistEmail && this.candidate.email_address.trim() != '') {
                        this.isMoving = false;
                        return;
                    }
                    let candidateDuplicate = new Candidate();
                    Object.assign(candidateDuplicate, this.candidate);
                    if (this.type == 'copy') delete candidateDuplicate['id'];

                    await new Position().moveOrCopyCandidateToAnotherPosition(
                        this.candidate.position_id,
                        this.currentPosition,
                        candidateDuplicate,
                        this.currentStage,
                        this.enable_pipelinestage_actions
                    ).then((candidate)=>{
                        try{
                            if (this.enable_pipelinestage_actions && this.position_pipeline_actions.hasOwnProperty('actions') && this.position_pipeline_actions.actions.length > 0){
                                this.doActionSetted({
                                    actions: this.position_pipeline_actions.actions,
                                    candidate: candidate,
                                    position: this.currentPosition,
                                    companyUsers: this.companyUsers,
                                    currentUser: this.currentUser,
                                    senderName: this.currentPosition.automated_email_sender
                                });
                            }
                            if (this.type == 'copy'){
                                let data_send_email = {
                                    candidate: candidate,
                                    position: this.currentPosition
                                };
                                this.sendEmailManagerPosition(data_send_email)
                            }
                        }
                        catch{

                        }
                        let activity = new Activity();
                        activity.company_id = this.currentCompany.id;
                        activity.position_id = candidate.position_id;
                        activity.actor = this.currentUser.cloneNewObject();
                        activity.candidate_id = candidate.id;
                        activity.action_text = this.messages.SR_037_WAS_ADD_TO;
                        activity.target_object = candidate.cloneNewObject();
                        activity.activity_type = "log";
                        activity.action ="added";
                        activity.insert();
                        this.handleCloseModal();
                        this.isMoving = false;

                        this.$emit('handleEvent', this.currentStage);
                        console.log(candidate);
                    });

                })
            }
        }
    }
</script>
<style lang="scss" scoped>
    .section {
        .status-move {
            margin-top: 10px;
            color: #4c555c;
        }
    }

    .empty-candidates {
        background-color: #fff;
        border-radius: 4px;
        margin: 10px;
        padding: 20px;
        padding-bottom: 0px;
        text-align: center;

        .custom-footer {
            min-width: 100px;
            margin-left: 10px;
            float: unset;
        }
    }

    .custom-footer {
        /*padding: 6px 12px !important;*/
        border: none;

        font-weight: 300;
        float: right;

        &:disabled {
            cursor: not-allowed;
        }
    }
</style>
