<template>
    <b-modal
        @show="handleOpenModal"
        @hide="handleCloseModal"
        no-close-on-backdrop
        no-close-on-esc
        hide-footer
        :hide-header="listCandidateToMove.length == 0"
        v-model="showModal">
        <template slot="modal-header" slot-scope="{ close }">
            <h1>{{messages.SR_021_MOVE_CANDIDATE}}</h1>
            <button type="button" aria-label="Close" class="close" @click="handleCloseModal()">×</button>
        </template>
        <div v-if="listCandidateToMove.length > 0">
            <p>{{messages.SR_021_DES_MOVE_CANDIDATE_1}}</p>
            <div class="section">
                <h5>{{messages.SR_021_DES_MOVE_CANDIDATE_2}}</h5>
                <SelectSearch
                    :value="currentStage"
                    :value-field="'id'"
                    :data-options="listStageCustom"
                    @changeValue="handleChangeStage">
                </SelectSearch>
                <p class="status-move" v-if="isMoved">{{messages.SR_021_UPDATED}}</p>
            </div>
            <b-button :disabled="!currentStage.hasOwnProperty('id') || currentStage.id == null" variant="primary"
                      class="btn btn-blue custom-footer" @click="saveChange()">
                {{messages.SR_021_MOVE}}
            </b-button>
        </div>
        <div class="empty-candidates" v-else>
            <p>
                {{messages.SR_021_DES_MOVE_CANDIDATE_3}}
            </p>
            <b-button variant="primary"
                      class="btn btn-blue custom-footer" @click="handleCloseModal">
                {{messages.SR_021_DES_OKAY}}
            </b-button>
        </div>
    </b-modal>
</template>

<script>

    import SelectSearch from "../select/main";
    import {mapGetters, mapActions} from "vuex";
    import Candidate from "@/models/Candidate.ts";
    import {messages} from "../../messages";
    export default {
        name: "MoveToStageCandidate",
        components: {SelectSearch},
        props: [
            'showModal',
            'listStage',
            'currentStageType',
            'sortedCandidate'
        ],
        data() {
            return {
                isMoved: false,
                currentStage: {
                    title: messages.SR_028_COLUMN_STAGE,
                    id: null,
                }
            }
        },
        computed: {
            ...mapGetters([
                'listCandidateToMove',
                'listCandidate',
                'positionKanban',
                'companyUsers',
                'currentUser'
            ]),
            listStageCustom() {
                let customList = this.listStage.map((stage) => {
                    if (stage.hide) stage.hide = false;
                    return stage;
                });
                return customList;
            }
        },
        methods: {
            ...mapActions([
                'doActionSetted'
            ]),
            handleOpenModal() {
                this.currentStage = {
                    title: messages.SR_028_COLUMN_STAGE,
                    id: null,
                };
            },
            handleChangeStage(data) {
                this.currentStage = data;
            },
            handleCloseModal() {
                this.$emit('handleClose');
            },
            async saveChange() {
                let that = this;
                this.isMoved = true;
                let listMove = [];
                const Parray = this.listCandidateToMove.map(async (candidate)=>{

                    await new Candidate().getById(candidate.id).then(async (candidateObject)=>{
                        if (candidateObject.hasOwnProperty('stage_id')){
                            candidateObject.stage_id = this.currentStage.id;
                        }
                        candidateObject.stage = {
                            id: this.currentStage.id,
                            name: this.currentStage.title,
                            type: this.currentStage.stage_type
                        }
                        await candidateObject.update().then((dataUp)=>{
                            console.log('Update done ', candidateObject.name);
                            listMove.push(dataUp);
                            let stageData = this.listStage.find((stage)=>{
                                return stage.stage_type == this.currentStage.stage_type;
                            })
                            if (stageData && stageData.actions.length > 0){
                                this.doActionSetted({
                                    actions: stageData.actions,
                                    candidate: dataUp,
                                    position: this.positionKanban,
                                    companyUsers: this.companyUsers,
                                    currentUser: this.currentUser,
                                }).then(()=>{
                                    console.log('SEND ACTION COMPLETED');
                                })
                            }
                        })
                        return candidate;

                    })
                });
                await Promise.all(Parray);
                this.$emit('handleMoveCandidates', this.currentStage.stage_type);

                this.handleCloseModal();
                setTimeout(() => {
                    this.isMoved = false;
                }, 800);
            }
        }
    }
</script>
<style lang="scss" scoped>
    .section {
        .status-move {
            margin-top: 10px;
            color: #4c555c;
        }
    }
    .empty-candidates{
        background-color: #fff;
        border-radius: 4px;
        margin: 10px;
        padding: 20px;
        padding-bottom:0px;
        text-align: center;
        .custom-footer{
            min-width: 100px;
            margin-left: 10px;
            float:unset;
        }
    }
    .custom-footer {
        font-weight: 300;
        float: right;

        &:disabled {
            cursor: not-allowed;
        }
    }
</style>
