<template>
    <div class="about d-flex flex-column" style="height: 100%">
        <header class="flex-shrink-0 p-3">
            <div class="d-flex justify-content-between">
                <!-- Left buttons -->
                <div class="d-flex">
                    <!-- Filter -->
                    <b-button
                        @click="filterNav.open = !filterNav.open"
                        class="mx-3"
                        variant="gray"
                        style="height: 30px;">
                        <i class="fas fa-filter"></i>
                        <template v-if="filterNav.open">
                            <i class="fas fa-angle-left"></i>
                        </template>
                        <template v-else>
                            <i class="fas fa-angle-right"></i>
                        </template>
                    </b-button>
                    <!-- Position filter -->
                    <CandidatePiplineTypeDropdown v-model="candidateType"/>
                    <!-- Roomy dropdown -->
                    <!--<b-dropdown class="mx-3" variant="gray">-->
                    <!--<template slot="button-content">-->
                    <!--<i class="fas fa-bars"></i>-->
                    <!--Không gian-->
                    <!--</template>-->
                    <!--<b-dropdown-item href="#">Ấm cúng</b-dropdown-item>-->
                    <!--<b-dropdown-item href="#">Rộng rãi</b-dropdown-item>-->
                    <!--</b-dropdown>-->
                </div>
                <!-- Right buttons -->
                <div class="d-flex">
                    <!-- Add candidate button -->
                    <b-button class="mx-2" variant="blue"
                              v-if="$can('create', 'Candidate')"
                              @click="addCandidate">
                        <i class="fas fa-plus"></i>&nbsp;
                        Thêm ứng viên
                    </b-button>
                </div>
            </div>
        </header>
        <!-- Task content -->
        <div class="d-flex flex-grow-1 overflow-auto" v-loading="loadingKanban && $route.name == 'Pipeline'">
            <!-- Left border -->
            <FilterColumn :open="filterNav.open" class="candidate-filters" :listFilters="customFilters"
                          @update="updateFilter" :filterObject="sqlFilter"/>
            <!--<FilterColumn class="flex-shrink-0" :open="filterNav.open"/>-->
            <!-- Right border -->
            <div class="lists-container flex-grow-1 overflow-auto pb-2" style="height: 100%">
                <div class="demo-content simple" style="height:100%">
                    <div class="v-row">
                        <div v-for="(stage, index) in currentListStage" :key="index" class="v-col--auto"
                             v-if="stage.stage_type!='missing' || (stage.stage_type == 'missing' && sortedCandidate[stage.id].length > 0)">
                            <div class="panel__heading">
                                <div>
                                    <i :class="'icon ' + stage.icon"></i>
                                    <h3 :title="stage.title"> {{stage.title}}
                                    </h3>
                                    <span
                                        class="column-count ng-binding" v-if="sortedCandidate[stage.id]">{{sortedCandidate[stage.id].length || 0}}</span>
                                </div>
                                <div>
                                    <button @click="openModalAddCandidateWithStage(stage)"
                                            v-if="stage.stage_type != 'missing'"
                                            class="btn add-candidate ng-scope">
                                        <i class="fa fa-plus"></i></button>
                                    <b-dropdown class="dropdown-custom" :right="true" size="lg" variant="link"
                                                toggle-class="text-decoration-none" no-caret>
                                        <template slot="button-content"><i class="fa fa-ellipsis-v"></i></template>
                                        <b-dropdown-item href="javascript:void(0)" @click="openModalStageAction(stage)">{{messages.SR_021_KANBAN_EDIT_ACTIONS}}
                                        </b-dropdown-item>
                                        <b-dropdown-divider></b-dropdown-divider>
                                        <b-dropdown-item href="javascript:void(0)"
                                                         @click="openModalMoveCandidate(stage, sortedCandidate[stage.id])">
                                            {{messages.SR_005_MOVE_TO_STAGE}}
                                        </b-dropdown-item>
                                        <b-dropdown-item href="javascript:void(0)"
                                                         @click="openModalDeleteCandidates(stage, sortedCandidate[stage.id])">
                                            {{messages.SR_021_KANBAN_DELETE_CANDIDATES}}
                                        </b-dropdown-item>
                                    </b-dropdown>
                                </div>

                            </div>
                            <div class="panel" ref="panelElement">
                                <div class="panel__body">
                                    <draggable
                                        @change="onEndMove($event, stage)"
                                        class="list-group" v-model="sortedCandidate[stage.id]"
                                        group="candidate">
                                        <div
                                            class="list-group-item"
                                            v-for="(candidate, index)
                                             in sortedCandidate[stage.id]"
                                            :key="index"
                                            @click="openCandidateDetail(candidate)"
                                        >
                                            <CandidateCard
                                                :currentPipeline="cachePipeline"
                                                :currentPosition="positionKanban"
                                                :candidate="candidate"
                                                :currentStage="stage"/>
                                        </div>
                                        <div
                                            v-if="isLoading"
                                            class="list-group-item">
                                            <vue-content-loading
                                                :height="50">
                                                <rect x="0" y="5" rx="4" ry="4" width="40" height="40"/>
                                                <rect x="50" y="5" rx="4" ry="4" width="30%" height="15"/>
                                                <rect x="50" y="30" rx="4" ry="4" width="100%" height="15"/>
                                            </vue-content-loading>
                                        </div>
                                    </draggable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Edit stage modal -->
        <AddStageModal
            :type="'edit'"
            :title-stage="titleStage"
            :stage-data="currentStage"
            :hide-stage-type="true"
            @handleClose="showModalAddStage=false"
            @handleSaveChange="handleStageModalClose"
            @resetDefault="resetDefault"
            :showModal="showModalAddStage"/>

        <!-- Move to another stage modal -->
        <MoveToStageModal
            :listStage="currentListStage"
            :showModal="showModalMoveCandidate"
            :currentStageType="currentStage.stage_type"
            :sortedCandidate="sortedCandidate"
            @handleMove="handleMoveCandidates"
            @handleClose="showModalMoveCandidate=false"
        />
        <UnSavedChangeModal
            :showModal="isShowModalConfirm"
            :title-modal="messages.SR_021_DEL_CANDIDATE"
            :sub-title-modal="messages.SR_021_SUB_DEL_CANDIDATE"
            @handleSaveChange="deleteCandidates"
            @handleClose="isShowModalConfirm=false">
        </UnSavedChangeModal>


    </div>
</template>
<style lang="scss">
    .position-page-filter-column {
        transition: max-width 200ms;
        max-width: 500px;
        width: 210px;

        &.closed {
            max-width: 0;
            overflow: hidden;
        }
    }

    .dropdown-custom {
        button.dropdown-toggle-no-caret {
            padding: 2px 6px !important;

            i {
                margin-right: 0px !important;
            }

            &::after {
                display: none;
            }
        }
    }

    .candidate-info {
        .dropdown-toggle-no-caret {
            &:hover {
                background: transparent !important;
            }

            background: transparent;
        }
    }
</style>
<style lang="scss" scoped>
    @import "~styles/position_pipeline";


    $base-color: #42B983;
    $red: #E32822;

    $max-width: 980px;
    $min-width: 730px;

    $item-height: 40px;
    $placeholder-bg: #f5f5f5;

    .simple {
        .vddl-placeholder {
            line-height: $item-height;
            border-bottom: 1px solid #eee;
            font-size: 14px;
            padding-left: 15px;
        }
    }

    .red {
        color: red;
    }


    .v-row {
        height: 100%;
        padding: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 10px;
        white-space: nowrap;

        .v-col--auto {
            display: inline-block;
            background-color: #f9fafa;
            border: 1px solid #edeff0;
            border-radius: 4px;
            height: 100%;
            margin-right: 10px;
            vertical-align: top;
            width: 280px;

            .panel__heading {
                padding: 10px 10px 0px 10px;
                position: relative;
                z-index: 100;
                margin-bottom: 0;
                display: flex;
                justify-content: space-between;

                button.add-candidate {
                    padding: 0px;
                    margin-right: 5px;
                    transition: .3s;
                    background: #edeff0;
                    color: #68747e !important;
                    outline: none !important;

                    i {
                        line-height: 20px;
                        margin: 2px 8px;
                    }
                }

                h3 {
                    line-height: 30px;
                    font-weight: 400;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 160px;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 16px;
                    margin-bottom: 0px;
                }

                i {
                    margin-right: 4px;
                    font-weight: 900;
                }

                .column-count {
                    font-size: 12px;
                    margin-left: 3px;
                    background: #ddd;
                    line-height: 1;
                    border-radius: 10px;
                    padding: 0 5px;
                    color: #888;
                    font-size: 11px;
                }
            }

            .panel {
                border: 2px solid #f9fafa;
                border-radius: 4px;
                height: calc(100% - 45px);
                padding: 5px;
                position: relative;
                vertical-align: top;
                transition: border .3s ease;
                overflow: auto;

                .panel__body {
                    overflow-y: auto;
                    overflow-x: hidden;

                    .list-group {
                        height: 100%;
                        /*padding-left: 8px;*/
                        /*padding-right: 8px;*/
                        /*padding-top: 10px;*/

                        .list-group-item {
                            padding: 10px 5px;
                        }
                    }

                    height: 100%;

                    .panel__body--list {
                        min-height: 40px;

                    }

                    .panel__body--item {
                        border: 1px solid #edeff0;
                        border-radius: 4px;
                        cursor: pointer;
                        position: relative;
                        transition: .3s ease;
                        background: #ffffff;
                        padding: 10px;
                        min-height: 50px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
</style>

<script >
    import tinymce from 'vue-tinymce-editor'

    import Vue from "vue";
    import CandidatePiplineTypeDropdown from "@/components/Candidate/CandidatePiplineTypeDropdown.vue";
    import FilterColumn from "@/components/FilterColumn/FilterColumn.vue";
    // import FilterColumn from "@/components/FilterColumn/FilterColumn_Pipeline.vue";
    import CandidateColumnFilter from "@/components/Candidate/CandidateColumnFilter";
    import Candidate from "@/models/Candidate";
    import {mapMutations, mapGetters, mapActions} from 'vuex';
    import User from "@/models/User";
    import MoveToStageModal from './MoveToStageCandidate.vue';
    import PositionFilterColumn from '@/components/Position/Filter/PositionFilterColumn.vue';
    import AddStageModal from '../modals/PinelineStage/AddStageModal.vue';
    import draggable from "vuedraggable";
    import PositionPipelineAction from "../../models/PositionPipelineAction";
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import CandidateCard from './CandidateCard.vue';
    import {VueContentLoading, VclCode, VclFacebook} from 'vue-content-loading';
    import {messages} from "../../messages";
    import _ from 'lodash';
    import PipelineReport from "../../models/PipelineReport";
    import Activity from "../../models/Activity";
    import Pipeline from "../../models/Pipeline";
    import EmailTemplate from "../../models/EmailTemplate";
    import moment from 'moment';
    import ViNormalize from '@/helpers/normalize.vi';
    import Task from "../../models/Task";
    import {server_time} from "../../firebase";
    import $ from "jquery";



    export default Vue.extend({
        name: "PipelinePage",
        components: {
            CandidatePiplineTypeDropdown,
            FilterColumn,
            draggable,
            AddStageModal,
            MoveToStageModal,
            UnSavedChangeModal,
            CandidateCard,
            VueContentLoading,
        },
        destroyed(){
            this.resetAllDefault();
        },
        watch: {
            candidateType(val) {
                this.setCandidateType(val);
                if (val != 'custom') {
                    this.sqlFilter = {
                        candidate_name: '',
                        unseenflag: false,
                        resetflag: false,
                        starflag: false,
                        rules: {},
                        AddDate: {},
                    }
                    this.setFlagResetFilter(true);
                }
            },
            positionKanban(val) {
                if (val.hasOwnProperty('pipeline_id') && val.id != '') {
                    this.customFilters[0].pipeline_id = val.pipeline_id;
                    this.getImportedAction();
                }
            },
            currentPosition(val){

                this.resetAllDefault();
            }
        },
        mounted() {
            if (this.positionKanban && this.positionKanban.hasOwnProperty('pipeline_id') && this.positionKanban.id != '') {
                this.customFilters[0].pipeline_id = this.positionKanban.pipeline_id;
                this.getImportedAction();
            }
        },
        computed: {
            ...mapGetters([
                'listCandidate',
                'modals/addCandidate',
                'cachePipeline',
                'listCandidateToMove',
                'positionKanban',
                'isLoading',
                'currentUser',
                'currentCompany',
                'currentPosition',
                'loadingKanban',
                'companyUsers'
            ]),
            ...mapGetters({
                currentListStage: 'listStage',
                actionsCurrentPipeline: 'listActions'
            }),
            position_id() {
                return this.$route.params.position_id;
            },

            sortedCandidate() {
                let that = this;

                let listCandidateCanView = that.listCandidate.filter((candi) => {
                    return that.$can('read', candi);
                });
                let listCandidate = {};
                this.currentListStage.forEach((stage) => {
                    listCandidate[stage.id] = _.filter(listCandidateCanView, (candidate)=>{
                        return candidate.stage.id == stage.id;
                    });

                    // Sort theo tên thời gian tạo
                    listCandidate[stage.id] = _.orderBy(listCandidate[stage.id], 'createdAt', 'desc')
                });
                return this.filterCandidate(listCandidate);
            }
        },
        data() {
            return {
                customFilters: [
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_PIPELINE,
                        filter_type: 'piplines',
                        filter_options: [],
                        icon: "fa-list-ol",
                        hide_add: false,
                        hide_pipeline: true,
                        pipeline_id: null,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_ADDED_DATE,
                        filter_type: 'addeddate',
                        filter_options: [],
                        icon: "fas fa-clock",
                        hide_add: true,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_CANDIDATETYPE,
                        filter_type: 'candidatetype',
                        filter_options: [],
                        icon: "fa-user-circle",
                        hide_add: true,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_ASSIGNED_TO,
                        filter_type: 'assigned_to',
                        filter_options: [],
                        icon: "fa-user-plus",
                        hide_add: false,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_SOURCED_BY,
                        filter_type: 'sourced_by',
                        filter_options: [],
                        icon: "fa-upload",
                        hide_add: false,
                    },
                ],
                sqlFilter: {
                    candidate_name: '',
                    unseenflag: false,
                    resetflag: false,
                    starflag: false,
                    rules: {},
                    AddDate: {},

                },
                hasChangePositionID: false,
                isProcessing: false,
                isShowModalConfirm: false,
                showModalMoveCandidate: false,
                // actionsCurrentPipeline: [],
                showModalAddStage: false,
                currentStage: {},
                titleStage: '',
                // isLoading: true,
                selected: null,
                filterNav: {
                    open: false
                },
                candidateType: 'all',
                column_filters: {...CandidateColumnFilter},
                row_check: [],
                // currentListStage: [],
                currentStageToMove: {},
                candidateDragStage: {},
            };
        },
        methods: {
            ...mapActions([
                'setCachePipeline',
                'setFlagResetFilter',
                'createdTasks',
                'setCandidateType',
                'doActionSetted'
            ]),
            ...mapMutations(
                [
                    'modals/showAddCandidate',
                    'modals/setAddCandidateWithStage',
                    'setListCandidateToMove',
                    'setListActions',
                    'setLoadingKanban'
                ],
            ),
            validateEmail(inputText) {
                const mailformat = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (inputText.match(mailformat)) {
                    return true;
                } else {
                    return false;
                }
            },
            validateTelephone(inputText) {
                return $.isNumeric(inputText);
            },
            checkSeenCandidate(candidate) {
                return new Candidate().checkSeenCandidate(candidate);
            },
            filterCandidate(listCandidate){
                let that = this;
                let candidates = listCandidate;
                let result = {};
                switch (this.candidateType) {
                    case 'all':
                        return candidates;
                    case 'new':
                        this.currentListStage.forEach((stage) => {
                            // result[stage.id] = _.sortBy(candidates[stage.id], (candidate) => {
                            //     return candidate.created_at;
                            // })
                            result[stage.id] = candidates[stage.id].filter((v) => {
                                return _.inRange(v.createdAt, moment(server_time.now).startOf('day').subtract(6, "day").valueOf(), moment(server_time.now).endOf('day').valueOf());
                            })

                        });
                        break;
                    case 'mine':
                        this.currentListStage.forEach((stage) => {
                            result[stage.id] = _.filter(candidates[stage.id], (candidate) => {
                                return candidate.assignee_id == this.currentUser.id;
                            })
                        });
                        break;
                    case 'starred':
                        this.currentListStage.forEach((stage) => {
                            result[stage.id] = _.filter(candidates[stage.id], (candidate) => {
                                let res = this.currentUser.candidate_star.find((_candidate) => {
                                    return _candidate.id == candidate.id;
                                })
                                return res;
                            })
                        });
                        break;
                    case 'unseen':
                        this.currentListStage.forEach((stage) => {
                            result[stage.id] = _.filter(candidates[stage.id], (candidate) => {
                                return !this.checkSeenCandidate(candidate);
                            })
                        });
                        break;

                    case 'custom':
                        let isFilter = false;

                        let query = _.sortBy(Object.keys(this.sqlFilter.rules), (n)=>{ return n != 'piplines'});
                        if (query.length > 0) {
                            let filterByCondition = false;
                            that.currentListStage.forEach((stage) => {
                                if (!result.hasOwnProperty(stage.id)) {
                                    result[stage.id] = [];
                                }
                            });
                            let data = {};

                            query.forEach((q) => {
                                switch (q) {
                                    case 'piplines':
                                        // result = candidates[this.sqlFilter.rules[q].value];
                                        data = filterByCondition == true ? result : candidates;
                                        that.sqlFilter.rules[q].forEach((rule) => {
                                            that.currentListStage.forEach((stage) => {
                                                if (stage.id == rule.value) {
                                                    result[stage.id] = _.filter(candidates[stage.id], (candidate) => {
                                                        return candidate.stage.id == rule.value;
                                                    })
                                                }
                                            });
                                        });
                                        filterByCondition = true;
                                        break;
                                    case 'candidatetype':
                                        data = filterByCondition == true ? result : candidates;

                                        that.sqlFilter.rules[q].forEach((rule) => {
                                            that.currentListStage.forEach((stage) => {
                                                if ((filterByCondition && that.checkStageHasInFilter(stage.id)) || !filterByCondition) {
                                                    result[stage.id] = _.filter(data[stage.id], (candidate) => {
                                                        return candidate.origin == rule.value;
                                                    })
                                                }

                                            });
                                        });
                                        filterByCondition = true;
                                        break;

                                    case 'assigned_to':
                                        data = filterByCondition == true ? result : candidates;
                                        that.sqlFilter.rules[q].forEach((rule) => {
                                            switch (rule.value) {
                                                case 'any':
                                                    that.currentListStage.forEach((stage) => {
                                                        if ((filterByCondition && that.checkStageHasInFilter(stage.id)) || !filterByCondition) {
                                                            result[stage.id] = _.filter(data[stage.id], (candidate) => {
                                                                return candidate;
                                                            })
                                                        }
                                                    });
                                                    break;
                                                case 'unassigned':
                                                    that.currentListStage.forEach((stage) => {
                                                        if ((filterByCondition && that.checkStageHasInFilter(stage.id)) || !filterByCondition) {
                                                            result[stage.id] = _.filter(data[stage.id], (candidate) => {
                                                                return candidate.assignee_id == '';
                                                            })
                                                        }
                                                    });
                                                    break;
                                                default:
                                                    that.currentListStage.forEach((stage) => {
                                                        if ((filterByCondition && that.checkStageHasInFilter(stage.id)) || !filterByCondition) {
                                                            result[stage.id] = _.filter(data[stage.id], (candidate) => {
                                                                return candidate.assignee_id == rule.value;
                                                            })
                                                        }
                                                    });
                                                    break;
                                            }
                                        })
                                        filterByCondition = true;
                                        break;
                                    case 'sourced_by':
                                        data = filterByCondition == true ? result : candidates;
                                        that.sqlFilter.rules[q].forEach((rule) => {
                                            that.currentListStage.forEach((stage) => {
                                                if ((filterByCondition && that.checkStageHasInFilter(stage.id)) || !filterByCondition) {
                                                    result[stage.id] = _.filter(data[stage.id], (candidate) => {
                                                        return candidate.sourced_by._id == rule.value;
                                                    })
                                                }
                                            });
                                        });
                                        filterByCondition = true;
                                        break;
                                    case 'addeddate':
                                        data = filterByCondition == true ? result : candidates;
                                        that.sqlFilter.rules[q].forEach((rule) => {
                                            that.currentListStage.forEach((stage) => {
                                                if ((filterByCondition && that.checkStageHasInFilter(stage.id)) || !filterByCondition) {
                                                    result[stage.id] = _.filter(data[stage.id], (candidate) => {
                                                        return _.inRange(candidate.createdAt, rule.value.start, rule.value.end);
                                                    })
                                                }
                                            });
                                        });
                                        filterByCondition = true;
                                        break;
                                    default:
                                        break;
                                }
                            })
                            isFilter = true;
                        }

                        if (that.sqlFilter.starflag) {
                            that.currentListStage.forEach((stage) => {
                                let data = isFilter == true ? result : candidates;
                                result[stage.id] = _.filter(data[stage.id], (candidate) => {
                                    let res = that.currentUser.candidate_star.find((_candidate) => {
                                        return _candidate.id == candidate.id;
                                    });
                                    return res;
                                })
                            });
                            isFilter = true;
                        }

                        if (that.sqlFilter.unseenflag) {
                            let data = isFilter == true ? result : candidates;
                            that.currentListStage.forEach((stage) => {
                                result[stage.id] = _.filter(data[stage.id], (candidate) => {
                                     return !that.checkSeenCandidate(candidate);
                                })
                            });
                            isFilter = true;
                        }

                        if (that.sqlFilter.candidate_name.trim() != '') {
                            const inputDatatext =that.sqlFilter.candidate_name.toLowerCase().trim();
                            let data = isFilter == true ? result : candidates;
                            that.currentListStage.forEach((stage) => {
                                result[stage.id] = _.filter(data[stage.id], (v) => {
                                    let validate_search = false;
                                    if (that.validateEmail(inputDatatext) && v && v.email_address.toLowerCase().includes(inputDatatext)) {
                                        validate_search = true;
                                    }
                                    if (that.validateTelephone(inputDatatext) && v && v.phone_number.toLowerCase().includes(inputDatatext)) {
                                        validate_search = true;
                                    }

                                    if (v.questionnaire && v.questionnaire.length > 0) {
                                        let responses = [];
                                        v.questionnaire.forEach((quesition) => {
                                            if (quesition.response) {
                                                responses.push(quesition.response)
                                            } else if (quesition.responses) {
                                                quesition.responses.forEach((q, index) => {
                                                    if (index < quesition.options.length && q == true) {
                                                        responses.push(quesition.options[index].text);
                                                    }
                                                })
                                            }
                                        });
                                        if (responses.join('`').toLocaleLowerCase().indexOf(inputDatatext) != -1) {
                                            validate_search = true;
                                        }
                                    }
                                    return validate_search || (v && ViNormalize(v.name.toLowerCase()).includes(ViNormalize(inputDatatext)));
                                })
                            });
                            isFilter = true;
                        }

                        if (isFilter == false) {
                            result = candidates;
                        }
                        break;
                    default:
                        break;
                };

                console.log(result);
                return result;
            },
            checkStageHasInFilter(stage_id) {
                return this.sqlFilter.rules.piplines.findIndex((stage) => {
                    return stage.value == stage_id;
                }) > -1;
            },
            updateFilter(newValue) {
                let that = this;
                that.sqlFilter = newValue;
                that.flagcustom = true;
                that.candidateType = "custom";
            },
            onEndMove(e, stage) {
                let that = this;
                if (e.hasOwnProperty('added') && e.added.hasOwnProperty('element')) {
                    that.setLoadingKanban(true);
                    this.candidateDragStage = e.added.element;
                    let oldStage = e.added.element.stage;
                    this.candidateDragStage.stage_id = stage.id;
                    this.candidateDragStage.stage = {
                        id: stage.id,
                        type: stage.stage_type,
                        name: stage.title
                    };
                    let newCandidate = new Candidate();
                    Object.assign(newCandidate, this.candidateDragStage);
                    newCandidate.update().then((dataUpdated) => {
                        that.setLoadingKanban(false);
                        that.addLogReport(stage, oldStage.id);
                        that.addLogMoveToStage(dataUpdated, oldStage);
                        let stageHasAction = that.cachePipeline.list_stage.find((_stage)=>{
                            return _stage.id == stage.id;
                        });
                        if (stageHasAction && stageHasAction.hasOwnProperty('actions') && stageHasAction.actions.length > 0){
                            that.doActionSetted({
                                actions: stageHasAction.actions,
                                candidate: dataUpdated,
                                position: that.currentPosition,
                                companyUsers: that.companyUsers,
                                currentUser: that.currentUser,
                                senderName: that.currentPosition.automated_email_sender
                            })
                        }
                        console.log('Moved ', this.candidateDragStage.name, ' to ', stage.title);

                    });
                }
            },
            async addLogReport(newStage, oldStageID) {
                new PipelineReport().getReportByStage(oldStageID, this.candidateDragStage.id).then((data) => {
                    // debugger
                    // report of the oldStage
                    if (data.id != '') {
                        data.movement_date.out = server_time.now.getTime();
                        data.update();
                    } else {

                    }
                });

                const p = (await new Pipeline().getById(newStage.pipeline_id));

                // add new report when move in new stage
                let logReport = new PipelineReport();

                logReport.movement_date.in = server_time.now.getTime();


                logReport.company_id = this.currentCompany.id;
                // debugger
                // logReport.pipeline = {
                //     id: this.cachePipeline.id,
                //     name: this.cachePipeline.title,
                //     is_default: this.cachePipeline.is_default
                // };

                logReport.pipeline = {
                    id: p.id,
                    name: p.title,
                    is_default: p.is_default
                };

                logReport.stage = {
                    id: newStage.id,
                    name: newStage.title,
                    type: newStage.stage_type
                };

                logReport.position = {
                    id: this.positionKanban.id,
                    name: this.positionKanban.title,
                    user_id: this.positionKanban.created_by,
                    status: this.positionKanban.status
                };

                logReport.candidate = {
                    id: this.candidateDragStage.id,
                    name: this.candidateDragStage.name
                };

                logReport.category = {
                    value:this.positionKanban.category.value,
                    name:this.positionKanban.category.name,
                };

                logReport.insert();
            },
            addLogMoveToStage(dataUpdated,oldStage) {
                let that = this;
                let activity = new Activity();
                activity.company_id = that.currentCompany.id;
                activity.position_id = that.positionKanban.id;
                activity.candidate_id = that.candidateDragStage.id;
                activity.actor = that.currentUser.cloneNewObject();
                activity.action_text = that.messages.SR_037_UPDATE;
                activity.activity_type = "log";
                activity.action = "updated";
                activity.currentStage = oldStage;
                activity.target_object = dataUpdated.cloneNewObject();
                activity.insert()
            },
            openCandidateDetail(candidate) {
                this.$router.push(`/candidate/${candidate.id}`);
            },

            openModalMoveCandidate(stage, candidates) {
                this.showModalMoveCandidate = true;
                this.currentStage = stage;
                this.setListCandidateToMove(candidates);
            },
            openModalDeleteCandidates(stage, candidates) {
                if (candidates.length == 0) {
                    this.showModalMoveCandidate = true;
                } else {
                    this.isShowModalConfirm = true;
                }
                this.setListCandidateToMove(candidates);
                this.currentStage = stage;
            },
            async getImportedAction(){
                await new PositionPipelineAction().getActionsImported(this.positionKanban.id, this.positionKanban.pipeline_id).then(async (data) => {
                    this.setListActions(data);
                    await new Pipeline().getById(this.positionKanban.pipeline_id).then((pipeline) => {
                        this.currentListStage = this.currentListStage.map((stage) => {
                            stage['actions'] = [];
                            let index = data.findIndex((action) => {
                                return stage.id == action.stage_id;
                            });
                            if (index > -1 && data[index]) {
                                stage['actions'] = data[index].actions;
                            }
                            console.log(stage.title, stage.actions);
                            return stage;
                        })
                        pipeline['list_stage'] = this.currentListStage;
                        this.setCachePipeline(pipeline);
                    });

                })
            },
            openModalStageAction(stage) {
                this.getImportedAction().then(()=>{
                    this.titleStage = stage.title;
                    this.currentStage.actions = [];
                    this.currentStage = _.cloneDeep(stage);
                    // this.currentStage['indexInCurrentArray'] = stage.index + 1;
                    // this.$forceUpdate();
                    this.showModalAddStage = true;
                });
            },
            openModalAddCandidateWithStage(stage) {
                let data = {
                    position: this.positionKanban.cloneNewObject(),
                    stage: stage,
                    status: true,
                };
                this['modals/setAddCandidateWithStage'](data);
                this['modals/showAddCandidate'](true);

            },
            getAddedByWho(userID) {
                return new Promise(resolve => {
                    new User().getById(userID).then((data) => {
                        resolve(data)
                    })
                })
            },
            deleteCandidates() {
                this.listCandidateToMove.forEach((candidate) => {
                    new Candidate().getById(candidate.id).then((candidateObject) => {
                        candidateObject.delete().then(() => {
                            console.log('Deleted candidate ', candidate.name);
                        });
                    })
                })
                this.isShowModalConfirm = false;
            },
            handleMoveCandidates(to_stage_type) {
                console.log('Move candidates to ', to_stage_type);
            },
            handleStageModalClose(actions) {
                this.showModalAddStage = false;
                let actionsExist = this.actionsCurrentPipeline.find(stage => {
                    return stage.stage_id == this.currentStage.id;
                });
                let action = new PositionPipelineAction();
                if (actionsExist) {
                    Object.assign(action, actionsExist);
                    action.actions = actions;
                    action.update().then((data) => {
                        console.log('Update done!!!', data);
                    })
                } else {
                    action.pipeline_id = this.positionKanban.pipeline_id;
                    action.position_id = this.positionKanban.id;
                    action.stage_id = this.currentStage.id;
                    action.actions = actions;
                    action.insert().then((data) => {
                        console.log('Create done!!!', data);
                    })
                }
            },
            resetDefault() {

            },
            resetAllDefault() {
                this.customFilters = [
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_PIPELINE,
                        filter_type: 'piplines',
                        filter_options: [],
                        icon: "fa-list-ol",
                        hide_add: false,
                        hide_pipeline: true,
                        pipeline_id: null,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_ADDED_DATE,
                        filter_type: 'addeddate',
                        filter_options: [],
                        icon: "fas fa-clock",
                        hide_add: true,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_CANDIDATETYPE,
                        filter_type: 'candidatetype',
                        filter_options: [],
                        icon: "fa-user-circle",
                        hide_add: true,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_ASSIGNED_TO,
                        filter_type: 'assigned_to',
                        filter_options: [],
                        icon: "fa-user-plus",
                        hide_add: false,
                    },
                    {
                        filter_name: messages.SR_028_CANDIDATE_FILTER_SOURCED_BY,
                        filter_type: 'sourced_by',
                        filter_options: [],
                        icon: "fa-upload",
                        hide_add: false,
                    },
                ];

                this.sqlFilter= {
                    candidate_name: '',
                        unseenflag: false,
                        resetflag: false,
                        starflag: false,
                        rules: {},
                    AddDate: {},

                };

                this.hasChangePositionID= false;
                this.isProcessing= false;
                this.isShowModalConfirm = false;
                this.showModalMoveCandidate = false;
                this.showModalAddStage = false;
                this.currentStage =  {};
                this.titleStage = '';
                    // isLoading: true,
                this.selected = null;
                this.filterNav = {
                    open: false
                },
                this.candidateType = 'all';
                this.setCandidateType(this.candidateType);
                this.column_filters = {...CandidateColumnFilter};

                this.currentStageToMove = {};
                this.candidateDragStage = {};

            },
            addCandidate() {
                let data = {
                    position: this.positionKanban.cloneNewObject(),
                    stage: null,
                    status: true,
                };
                this['modals/setAddCandidateWithStage'](data);
                this['modals/showAddCandidate'](true);
            },
        },
    })
    ;
</script>
