<template>
    <div class="border p-2 position" style="background: #ffffff;cursor: pointer" @click="navigateToPosition(position)">
        <div class="d-flex justify-content-between align-items-start position-header">
            <p class="mb-0 pos-header">
                <i class="fas fa-circle mr-1" :class="position.status"></i>
                <span class="font-weight-bold">{{position.title}}</span>
            </p>
            <ul class="desktop-only mb-0" style="width: 150px;text-align: right">
<!--                <li class="promote-cta"-->
<!--                    v-show="position.status == 'published' && position.candidate_type == 'enabled'">-->
<!--                    <a class="btn btn-xxs btn-green" href="#"-->
<!--                       @click="editPosition(position, 'application', $event)"-->
<!--                       uib-tooltip="Drive More Candidates" tooltip-placement="bottom">-->
<!--                        <i class="fa fa-bullhorn"></i><span>Promote</span></a>-->
<!--                </li>-->
                <li class="promote-cta "
                    v-show="position.status == 'published' && position.candidate_type == 'unlisted'">
                    <a class="btn btn-xxs btn-grey" href="javascript:void(0)"
                       @click="editPosition(position, 'application', $event)"
                       v-tooltip="{content: messages.SR_045_LBL_UNLISTED_DESC, class: 'common-tooltip'}">
                        <i class="fa fa-user-secret"></i><span>{{messages.SR_045_LBL_UNLIST}}</span></a>
                </li>
                <li class="promote-cta "
                    v-show="position.status == 'published' && position.candidate_type == 'internal'">
                    <a class="btn btn-xxs btn-grey" href="javascript:void(0)"
                       @click="editPosition(position, 'application', $event)"
                       v-tooltip="{content: messages.SR_045_LBL_INTERNAL_DESC, class: 'common-tooltip'}">
                        <i class="fa fa-sign-in fa-rotate-90"></i><span>{{messages.SR_045_LBL_INTERNAL}}</span></a></li>
                <li class="promote-cta"
                    v-show="position.status == 'published' && position.candidate_type == 'disabled'">
                    <a class="btn btn-xxs btn-grey" href="javascript:void(0)"
                       @click="editPosition(position, 'application', $event)"
                       v-tooltip="{content: messages.SR_045_LBL_DISABLED_DESC, class: 'common-tooltip'}">
                        <i class="fa fa-pause"></i><span>{{messages.SR_045_LBL_DISABLED}}</span></a>
                </li>
                <li class="promote-cta edit-cog"  v-if="$can('modify', position)">
                    <a class="btn btn-xxs btn-grey " href="javascript:void(0)"
                    @click="editPosition(position, 'detail', $event)"
                       v-tooltip="{content: messages.SR_045_LBL_EDIT_POSITION, class: 'common-tooltip'}"><i class="fa fa-cog"></i></a>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <small v-if="position.location" class="ml-1">
                <i class="fa fa-map-marker-alt text-secondary mr-1"></i>
                <span class=" mr-3">
                     {{getAddress(position)}}
                    </span>
            </small>
            <small v-if="position.internal_id">
                <i class="fa fa-qrcode mr-1"></i>
                <span class="mr-2">{{position.internal_id}}</span>
            </small>
        </div>
        <div class="clearfix">
            <div class="">
                <div class="position-footer">
                    <ul class="statuses mb-0">
                        <li class="tab-link">
                            <a href="javascript:void(0)" @click="navigateToPosition(position);$event.stopPropagation(); ">{{messages.SR_051_COLUMN_PIPELINE }}</a>
                        </li>
                        <li class="tab-link">
                            <a href="javascript:void(0)" @click="navigateToCandidates(position);$event.stopPropagation();">{{messages.SR_051_COLUMN_CANDIDATES}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="d-flex">
                <small class='mx-2' v-for="(status, idx) in statuses" :key="idx">
                    {{status}}
                </small>
            </div>

        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    name: 'PositionItem',
    props: ['position'],
    computed: {
        positionName(): string
        {
            return this.position.name;
        },
        location(): string
        {
            return this.position.location || '';
        },
        orgType(): string
        {
            return this.position.org_type || '';
        },
        team(): any
        {
            return this.position.team;
        },
        statuses(): Array<string> {
            return this.position.statuses;
        }
    },
    methods: {
        getAddress(position){
            let result = '';
            if (Object.keys(position).length > 0){
                if (position.address && position.address.trim() != '') {
                    result = `${position.address}, ${position.state}, ${position.location.title}`
                } else if (position.state && position.state.trim() != '') {
                    result = `${position.state}, ${position.location.title}`
                }else{
                    result = `${position.location.title}`
                }
            }
            return result;
        },
        editPosition(position, tab, event) {
            this.$router.push(`/positions/${position.id}/edit/${tab}`);
            event.stopPropagation();
        },
        navigateToPosition(position) {
            this.$router.push(`/p/${position.id}/pipeline`);
        },
        navigateToCandidates(position) {
            this.$router.push(`/p/${position.id}/candidates`);
        },
    }
})
</script>

<style lang="scss" scoped>

    .position {
        .position-header .pos-header {
            overflow: hidden;
            text-overflow: ellipsis;
            color: #444;
            flex-grow: 1;
            flex: 1;
        }
        .team-avatar {
            width: 1em;
            height: 1em;
            object-fit: cover;
            border-radius: 50%;
        }
        .position-header ul li {
            display: inline-block;
        }
        .position-header ul i {
            margin-right: 3px;
        }
        .position-header ul li.edit-cog {
            margin-left: 5px;
        }
        .position-footer {
            float: right;
        }
        .position-footer .statuses li {
            margin-left: 10px;
        }
        .position-footer ul li {
            display: inline-block;
            font-size: 12px;
        }
        .position-footer ul li a {
            text-decoration: none;
        }
        .card-box.unseen .unseen-marker {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 14px 14px 0 0;
            border-color: #76d691 transparent transparent transparent;
            position: absolute;
            left: 0px;
            top: 0px;
        }
    }
    .position.border {
        border-bottom: 0 !important;
    }
    .position.border:last-child {
        border-bottom: 1px;
    }


</style>
