<template>
    <div>
        <div class="main-content">
            <h1>{{messages.SR_020_MODAL_NEW_POSITION_TITLE_1}}</h1>
            <div>
                <b-form-input size="sm" class="input-common-css position-title"
                              :class="{'isError':isErrorForm.titleInput}"
                              v-model="currentPosition.title"
                              :placeholder="messages.SR_005_POSITION_TITLE +' *'">
                </b-form-input>
                <div class="flex-item">
                    <b-form-input size="sm" class="input-common-css another-title" v-model="currentPosition.department"
                                  :placeholder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_2"></b-form-input>
                </div>
                <h3 class="location-title">{{messages.SR_020_MODAL_NEW_POSITION_TITLE_2}}</h3>
                <el-select
                    @change="handleChangeLocation"
                    :class="{'isErrorSelect': isErrorForm.location}"
                    :placeholder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_4"
                    v-model="currentPosition.location"
                    size="small"
                    value-key="value"
                    filterable >
                    <el-option
                        v-for="item in positionData.listLocation"
                        :key="item.value"
                        :label="item.title"
                        :value="item">
                    </el-option>
                </el-select>
                <br/>
                <div v-if="currentPosition.location && currentPosition.location.value"
                     style="display: flex; justify-content: space-between">
                    <el-select
                        style="margin-top:10px"
                        ref="inputStateRef"
                        @visible-change="setPlaceHolder"
                        :class="isErrorForm.location ? 'isErrorSelect':''"
                        :placeholder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_5"
                        v-model="currentPosition.state"
                        size="small"
                        filterable >
                        <el-option
                            v-for="item in listStage"
                            :key="item"
                            :label="item"
                            :value="item">
                        </el-option>
                    </el-select>
                    <el-autocomplete
                        size="small"
                        style="flex:1;margin-top:10px;margin-left:10px"
                        class="inline-input"
                        :maxlength="500"
                        v-model="currentPosition.address"
                        :fetch-suggestions="querySearchAddress"
                        :trigger-on-focus="false"
                        :placeholder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_5_5"
                        @select="handleSelectAddress"
                    >
                        <template slot-scope="{ item }">
                            <div class="value">{{ item }}</div>
                        </template>
                    </el-autocomplete>

                </div>
                <b-form-checkbox
                    style="margin-top:10px;"
                    id="checkbox-1"
                    v-model="currentPosition.is_remote"
                    name="checkbox-1"
                    :value="true"
                    :unchecked-value="false"
                >
                    <span style="font-size:12px">{{messages.SR_020_MODAL_NEW_POSITION_TITLE_3}}</span>
                </b-form-checkbox>
                <h3 class="location-title">{{messages.SR_020_MODAL_NEW_POSITION_TITLE_4}}</h3>
                <div style="display:flex; margin-bottom:10px;">
                    <el-select
                        style="margin-right:10px"
                        :class="isErrorForm.positionType ? 'isErrorSelect':''"
                        :placeholder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_6"
                        v-model="currentPosition.position_type"
                        value-key="value"
                        size="small"
                        filterable >
                        <el-option
                            v-for="item in positionData.listPositionType"
                            :key="item.value"
                            :label="item.title"
                            :value="item">
                        </el-option>
                    </el-select>
                    <el-select
                        style="margin-right:10px"
                        :placeholder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_7"
                        v-model="currentPosition.category"
                        value-key="value"
                        size="small"
                        filterable >
                        <el-option
                            v-for="item in positionData.listCategory"
                            :key="item.value"
                            :label="item.name"
                            :value="item">
                        </el-option>
                    </el-select>
                </div>
                <div style="display:flex">
                    <el-select
                        style="margin-right:10px"
                        :placeholder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_8"
                        v-model="currentPosition.education"
                        value-key="value"
                        size="small"
                        filterable >
                        <el-option
                            v-for="item in positionData.listEducation"
                            :key="item.value"
                            :label="item.title"
                            :value="item">
                        </el-option>
                    </el-select>

                    <el-select
                        style="margin-right:10px"
                        :placeholder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_9"
                        v-model="currentPosition.experience"
                        value-key="value"
                        size="small"
                        filterable >
                        <el-option
                            v-for="item in positionData.listExperience"
                            :key="item.value"
                            :label="item.title"
                            :value="item">
                        </el-option>
                    </el-select>
                </div>
                <h3 class="location-title">{{messages.SR_020_MODAL_NEW_POSITION_TITLE_5}}</h3>
                <p>{{messages.SR_020_MODAL_NEW_POSITION_TITLE_6}}</p>
                <div style="position:relative; " class="custom-vue-editor">
                    <SelectSearch
                        style="position: absolute;z-index: 1;padding: 40px 0 0 9px;"
                        @changeValue="handleChangeJobDescription"
                        :place-holder="messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_12"
                        :value="currentPosition.job_description"
                        :is-show-group="false"
                        :data-options="listJobDescription"/>
                    <VueEditor
                        useCustomImageHandler
                        @imageAdded="handleImageAdded"
                        v-if="currentPosition.job_description"
                        :editorOptions="editorSettings"
                        :class="isErrorForm.jobDescription ? 'isError':''"
                        v-model="currentPosition.job_description.description">
                    </VueEditor>
                </div>

                <!-- Comment vì sẽ pending chức năng tag -->
                <!--<div style="display: block">-->
                    <!--<h3 class="location-title">Tags</h3>-->
                    <!--<p>{{messages.SR_020_MODAL_NEW_POSITION_TITLE_8}}</p>-->
                    <!--<div style="display: inline-block">-->
                        <!--<span class="object-tag"-->
                              <!--:key="index"-->
                              <!--v-for="(tag, index) in currentPosition.tags">-->
                            <!--<i class="tag-icon fa fa-tag"></i>-->
                            <!--<i class="remove-icon fa fa-times" @click="removeTag(index)">-->
                            <!--</i>{{tag}}-->
                        <!--</span>-->
                        <!--<a @click="showTagModal=true"-->
                           <!--class="add btn btn-blue btn-xs" href="#">-->
                            <!--<i class="fa fa-plus"></i>-->
                            <!--<span> {{messages.SR_020_MODAL_NEW_POSITION_BUTTON_ADD_TAG}}</span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->

                <div style="display: block;margin-bottom:90px;">
                    <h3 class="location-title">{{messages.SR_020_MODAL_NEW_POSITION_TITLE_9}}
                    </h3>
                    <!--<p v-html="messages.SR_020_MODAL_NEW_POSITION_TITLE_10"></p>-->
                    <!--<p>{{messages.SR_020_MODAL_NEW_POSITION_TITLE_11}}</p>-->
                    <b-alert :show="isDuplicated" variant="danger">
                        {{messages.SR_020_MODAL_NEW_POSITION_DUPLICATED_INFOR}}
                    </b-alert>
                    <div class="custom-field ng-scope" v-if="currentPosition.other_information.length > 0"
                         v-for="(info, index) in currentPosition.other_information"
                         :key="index"
                    >
                        <div class="custom-field-name">
                            <el-autocomplete
                                :class="{'isErrorSelect':isErrorForm.other_information[index] && isErrorForm.other_information[index].title}"
                                v-model="currentPosition.other_information[index].title"
                                :fetch-suggestions="querySearch"
                                :placeholder="messages.SR_020_MODAL_NEW_POSITION_INFOR_PLACEHOLDER_1"
                                @focus="indexOtherInfo = index"
                                value-key="title"
                                @select="handleChangeOtherInformation"
                            ></el-autocomplete>
                        </div>
                        <div class="custom-field-value">
                            <input
                                class="data item-value" type="text"
                                v-model="currentPosition.other_information[index].value"
                                :class="{'isError':isErrorForm.other_information[index] && isErrorForm.other_information[index].value}"
                                :placeholder="messages.SR_020_MODAL_NEW_POSITION_INFOR_PLACEHOLDER_2">
                        </div>
                        <div class="custom-field-actions"><a class="remove" href="javascript:void(0)"
                                                             @click="removeCustomField(index)"><i
                            class="fa fa-times"></i><span> {{messages.SR_020_MODAL_NEW_POSITION_INFOR_REMOVE}}</span></a>
                        </div>
                    </div>
                    <a class="add btn btn-blue btn-xs" href="javascript:void(0)" @click="pushOtherInformation"><i
                        class="fa fa-plus"></i><span> {{messages.SR_020_MODAL_NEW_POSITION_BUTTON_ADD_INFORMATION}}</span></a>
                </div>
            </div>
        </div>

        <div>
            <div class="step-place" v-if="$route.params.type == 'new'">
                <StepComponent
                    :total-step="steps"></StepComponent>
                <button :disabled="isSaving" @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit"><span>{{messages.SR_020_BUTTON_STEP}}</span><i
                    class="fa fa-chevron-right"></i></button>
            </div>
            <div class="step-place" v-else>
                <button @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit">
                    <span v-if="isSaved == false">
                        <i class="default fa fa-save"></i>
                        <span class="default"> {{messages.SR_020_BUTTON_SAVE_CHANGE}}</span>
                    </span>
                    <span v-else>
                         <i class="success fa fa-check"></i>
                         <span class="default"> {{messages.SR_020_BUTTON_SAVED_CHANGE}}</span>
                    </span>
                </button>
            </div>
        </div>
        <UnSavedChangeModal
            :showModal="showModalUnSavedChange"
            @handleSaveChange="saveChange()"
            @handleClose="handleCloseUnSavedChange"/>

        <!-- Handle change Job Description when create -->
        <UnSavedChangeModal
            :showModal="showModalConfirmChangeJob"
            :sub-title-modal="subTitleModal"
            :title-modal="titleModal"
            @handleSaveChange="setJobDescription()"
            @handleClose="handleCloseUnSavedChange">
        </UnSavedChangeModal>


        <!-- Tạm thời remove vì không nằm trong kế hoạch V1-->
        <!--<TagModal-->
            <!--@handleCloseModal="handleCloseTagModal"-->
            <!--:show-modal="showTagModal">-->
        <!--</TagModal>-->
    </div>
</template>

<script>
    import {Select, Option} from 'element-ui';
    import lang from 'element-ui/lib/locale/lang/vi'
    import locale from 'element-ui/lib/locale'
    import SelectSearch from '../select/main.vue';
    import { VueEditor, Quill } from "vue2-editor";
    import StepComponent from './step.vue';
    import {mapGetters, mapActions, mapMutations} from 'vuex';
    import Position, {PositionTypes, Category, Experience, Education} from "@/models/Position.ts";
    import {positioncategories} from '@/common/positioncategories.ts';
    // import TagModal from "./TagModal.vue";
    import OtherInformation from "@/models/OtherInformation.ts";
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import Pipeline from '@/models/Pipeline';
    import {fauth, fstorage} from '@/firebase';
    import {messages} from "../../messages";
    import PositionJDs from '@/common/PositionJD.ts';
    import PositionPipelineAction from "@/models/PositionPipelineAction.ts";
    import PipelineStage from "../../models/PipelineStage";
    import {server_time} from "../../firebase";
    import States from "@/common/positionState.ts";
    import { ImageDrop } from 'quill-image-drop-module';
    import ImageResize from 'quill-image-resize-module';

    Quill.register('modules/imageDrop', ImageDrop);
    Quill.register('modules/imageResize', ImageResize);

    locale.use(lang);
    export default {
        components: {
            SelectSearch,
            VueEditor,
            StepComponent,
            UnSavedChangeModal
        },
        computed: {
            ...mapGetters([
                'currentPosition',
                'currentCompany',
                'steps',
                'templatePosition',
                'listPosition',
                'currentUser',
                'listPosition',
                'listAddress'
            ]),
        },
        created() {
            let type = this.$route.params.type;
            let position_id = this.$route.params.position_id;
            let isClone = this.$route.params.isClone;
            this.listOtherInformation = [];
            switch (type) {
                case 'new':
                    if (!isClone){
                        this.setCurrentPosition(_.cloneDeep(this.templatePosition));
                        this.currentPosition.state = this.listStage[0];
                        this.currentPosition.automated_email_sender = this.currentUser.name;
                    }
                    this.revertSteps();
                    break;
                case 'edit':
                    if (position_id) {
                        // new Position().getById(position_id).then((data) => {
                        //     this.setCurrentPosition(data);
                        //     this.setCachePosition(_.cloneDeep(this.currentPosition));
                        // });

                        let positionInListPosition = this.listPosition.find((position)=>{
                            return position.id == position_id;
                        })
                        if (positionInListPosition){
                            this.setCurrentPosition(positionInListPosition);
                            this.setCachePosition(_.cloneDeep(positionInListPosition));
                        }else{
                            this.$router.push({name: 'NewPosition'})
                        }
                    } else {
                        this.$router.push({name: 'NewPosition'})
                    }
                    break;
            }
            new OtherInformation().getAllOtherInformation().then((data) => {
                this.listOtherInformation = data;
            })

        },
        methods: {
            ...mapMutations([
                'setCachePosition',
                'setPositionKanban'
            ]),
            ...mapActions([
                'setCurrentPosition',
                'setsteps',
                'setListPosition',
                'revertSteps',
                'getListPipeline',
            ]),
            setPlaceHolder(){
                // Set static placeholder of element-ui select.
                this.$refs.inputStateRef.currentPlaceholder = this.messages.SR_020_MODAL_NEW_POSITION_PLACEHOLDER_5;
            },
            handleSelectAddress(item){
                this.currentPosition.address = item;
            },
            querySearchAddress(queryString, cb) {
                let results = this.listAddress.filter((address)=>{
                    if (queryString){
                        return address.toLowerCase().includes(queryString.toLowerCase());
                    }
                });
                cb(results);
            },
            querySearch(query, cb) {
                let that = this;
                let results = that.listOtherInformation.filter((item) => {
                    return item.title.toLowerCase().indexOf(query.toLowerCase()) != -1;
                })
                cb(results);
            },
            handleImageAdded(file, Editor, cursorLocation, resetUploader){
                console.log(file);
                let fileNameUp = file.name;
                let upload = fstorage.ref(`image/position/${this.currentPosition.id$}/${fileNameUp}`).put(file)
                upload.on('state_changed',sp=>{
                    },null,
                     ()=>{
                        upload.snapshot.ref.getDownloadURL().then(downloadUrl=>{
                            Editor.insertEmbed(cursorLocation, "image", downloadUrl);
                            resetUploader();
                        })
                    })
            },
            setJobDescription(){
                this.currentPosition.job_description = this.current_jobDes;
                this.showModalConfirmChangeJob = false;
            },
            handleCloseUnSavedChange() {
                this.showModalConfirmChangeJob = false;
                this.showModalUnSavedChange = false;
            },
            saveChange() {
                this.handleCloseUnSavedChange();
                this.handleSaveChange();
            },
            removeCustomField(index) {
                this.currentPosition.other_information.splice(index, 1);
            },
            handleCloseTagModal() {
                this.showTagModal = false;
            },
            positionInfoDuplicated(value) {
                let positionDuplicate = [];
                this.currentPosition.other_information.forEach((info, index) => {
                    if (info.title == value && value.trim() != '') {
                        positionDuplicate.push(index)
                    }
                });
                if (positionDuplicate.length > 1) {
                    this.isDuplicated = true;
                } else {
                    this.isDuplicated = false;
                }
                return positionDuplicate;
            },
            removeTag(index) {
                this.currentPosition.tags.splice(index, 1);
            },
            handleChangeOtherInformation(value) {
                let indexOther = this.listOtherInformation.find(info => {
                    return info.title == value.title;
                });
                if (indexOther) {
                    this.currentPosition.other_information[this.indexOtherInfo]['id'] = indexOther.id;
                    this.currentPosition.other_information[this.indexOtherInfo]['is_encrypt'] = indexOther.is_encrypt;
                }
                // this.checkErrorFrom();
            },
            pushOtherInformation() {
                this.currentPosition.other_information.push({
                    'title': '',
                    'value': null,
                })
            },
            handleChangeLocation(data) {
                this.currentPosition.location = data;
            },
            handleChangePositionType(data) {
                this.currentPosition.position_type = data;
            },
            handleChangeCategory(data) {
                this.currentPosition.category = data;
            },
            handleChangeEducation(data) {
                this.currentPosition.education = data;
            },
            handleChangeExperience(data) {
                this.currentPosition.experience = data;
            },
            handleChangeJobDescription(data) {
                if (this.currentPosition.job_description.value != null && this.cached_JDes != data.job_description){
                    this.titleModal = messages.SR_020_MODAL_CHANGE_JOB_DESCRIPTION_TITLE;
                    this.subTitleModal = messages.SR_020_MODAL_CHANGE_JOB_DESCRIPTION_SUB_TITLE;
                    this.showModalConfirmChangeJob = true;
                    this.current_jobDes = data;
                    return;
                }
                this.currentPosition.job_description = _.cloneDeep(data);
            },
            checkErrorFrom() {
                let isError = false;
                if (this.currentPosition.title.trim() == '') {
                    this.isErrorForm.titleInput = true;
                    isError = true;
                } else {
                    this.isErrorForm.titleInput = false;
                }

                if (this.currentPosition.location.value == null) {
                    this.isErrorForm.location = true;
                    isError = true;
                } else {
                    this.isErrorForm.location = false;
                }

                if (this.currentPosition.position_type.value == null) {
                    this.isErrorForm.positionType = true;
                    isError = true;
                } else {
                    this.isErrorForm.positionType = false;
                }
                // Special case: Update Image.
                let descriptionHasImage = this.currentPosition.job_description.description.includes('<img');
                if (!descriptionHasImage && this.currentPosition.job_description.description.replace(/<[^>]*>?/gm, '').trim() == '') {
                    this.isErrorForm.jobDescription = true;
                    isError = true;
                } else {
                    this.isErrorForm.jobDescription = false;
                }
                this.currentPosition.other_information.forEach((info, index) => {
                    let result = {
                        title: false,
                        value: false
                    }
                    this.isErrorForm.other_information[index] = result;
                    let arrayPositionInfoDuplicated = this.positionInfoDuplicated(info.title);
                    if (info.title.trim() == '' || arrayPositionInfoDuplicated.length > 1) {
                        this.isErrorForm.other_information[index].title = true;
                        isError = true;
                    }
                    if (info.value == null || info.value == '' || arrayPositionInfoDuplicated.length > 1) {
                        this.isErrorForm.other_information[index].value = true;
                        isError = true
                    }
                });

                if (this.currentPosition.automated_email_sender.trim() == ''){
                    isError = true
                }

                this.$forceUpdate();
                return isError;
            },
            async handleSaveChange() {
                let isError = this.checkErrorFrom();
                if (isError) {
                    //@ts-ignore
                    this.notify = this.$notify.error({
                        customClass:'custom-class-alert-position-kanban',
                        title: this.messages.SR_021_REQUIRED_FIELD_ALERT,
                        duration: 0
                    });
                    return;
                } else {
                    this.notify.close();
                    let position = new Position();
                    Object.assign(position, this.currentPosition);
                    if (this.$route.params.type == 'new') {
                        this.$emit('setLoading');
                        this.isSaving = true;
                        position.company_id = this.currentCompany.id;
                        if (this.steps[0].done == false) {
                            if (!position.id) {
                                position.last_view_date = server_time.now.valueOf();
                            }
                            await position.insert().then(async (data) => {
                                this.setCurrentPosition(data);
                                this.cached_JDes = data.job_description;
                                await this.getListPipeline(this.currentCompany.id).then(async (_data) => {

                                    // Cần tạo PositionPipelineAction tại đây.
                                    // Clone actions từ PipelineStage.
                                    // Cần phải chờ tạo xong mới next progress.
                                    if (_data && _data.length > 0) {
                                        this.currentPosition.pipeline_id = _data[0].id;
                                        this.currentPosition.update();
                                        await new PipelineStage().getAllStages(this.currentPosition.pipeline_id).then(async (stages) => {
                                            const createPLActionsProgress = stages.map(async (stage) => {
                                                if (stage.stage_type != 'missing'){
                                                    let PipelineActions = new PositionPipelineAction();
                                                    PipelineActions.pipeline_id = this.currentPosition.pipeline_id;
                                                    PipelineActions.position_id = this.currentPosition.id;
                                                    PipelineActions.stage_id = stage.id;
                                                    PipelineActions.actions = stage.actions;
                                                    await PipelineActions.insert().then((data) => {
                                                        console.log('Create plactions !!!', data);
                                                        return data;
                                                    })
                                                }
                                            });
                                            await Promise.all(createPLActionsProgress);
                                            await new Pipeline().getById(this.currentPosition.pipeline_id).then((pipeline) => {
                                                pipeline.used_positions.push({
                                                    'title': position.title,
                                                    'id': position.id
                                                });
                                                pipeline.update().then(() => {
                                                    this.setCurrentPosition(data);
                                                    this.isSaving = false;
                                                    this.$emit('setLoading');

                                                    // this.setListPosition(listPosition);
                                                    let step = this.steps[0];
                                                    let nextStep = this.steps[1];
                                                    step.active = false;
                                                    step.done = true;
                                                    nextStep.active = true;
                                                    let router = {
                                                        name: `PositionApplicationTab`,
                                                        params: {
                                                            position_id: data.id,
                                                        },
                                                    };
                                                    this.$router.push(router);
                                                });
                                            })
                                        })
                                    }
                                })
                            });
                        } else {
                            let step = this.steps[0];
                            let nextStep = this.steps[1];
                            step.active = false;
                            step.done = true;
                            nextStep.active = true;
                            let router = {
                                name: `PositionApplicationTab`,
                                params: {
                                    position_id: this.currentPosition.id,
                                },
                            };
                            this.isSaving = false;
                            this.$router.push(router)
                        }
                    } else if(this.$route.params.type == 'edit') {
                        this.isSaved = true;
                        await position.update().then((data) => {
                            this.setCurrentPosition(data);
                            // this.setPositionKanban(data);
                            this.isSaved = false;
                            // let positionIndex = this.listPosition.findIndex((position) => {
                            //     return position.id == data.id;
                            // })
                            // // this.listPosition.splice(positionIndex, 1, data);
                            // debugger
                            this.setCachePosition(_.cloneDeep(data));
                        });
                    }
                    const arrayP = this.currentPosition.other_information.map((info) => {
                        return new Promise((resolve) => {
                            let _info = new OtherInformation();
                            Object.assign(_info, info);
                            delete _info.index;
                            _info.company_id = this.currentCompany.id;
                            if (!info.hasOwnProperty('id')) {
                                _info.insert().then((newInfo) => {
                                    info['id'] = newInfo.id;
                                    console.log(newInfo);
                                    resolve(info);
                                })
                            } else {
                                _info.update().then((newInfo) => {
                                    resolve(info);
                                })
                            }

                        })
                    })
                    await Promise.all(arrayP)
                }

            }
        }
        ,
        data() {
            return {
                notify: null,
                listStage: States,
                isSaving: false,
                titleModal: '',
                subTitleModal: '',
                current_jobDes: '',
                cached_JDes: '',
                showModalConfirmChangeJob:false,
                showModalUnSavedChange: false,
                isDuplicated: false,
                indexOtherInfo: -1,
                showTagModal: false,
                isSaved: false,
                text: '',
                signatureHtml: '',
                positionData: {
                    is_remote: false,
                    listLocation:
                        [
                            {
                                'title': 'Việt Nam',
                                'value': 'vn',
                            }
                        ],
                    listPositionType:PositionTypes,
                    listCategory: positioncategories,
                    listEducation: Education,
                    listExperience: Experience,
                },
                listJobDescription:PositionJDs,
                isErrorForm: {
                    titleInput: false,
                    location: false,
                    positionType: false,
                    jobDescription: false,
                    other_information: [],
                },
                listOtherInformation: [],
                editorSettings: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image']
                        ],
                        history: {
                            delay: 1000,
                            maxStack: 50,
                            userOnly: false
                        },
                        imageDrop: true,
                        imageResize: {
                            displayStyles: {
                                backgroundColor: 'black',
                                border: 'none',
                                color: 'white'
                            },
                            modules: [ 'Resize', 'DisplaySize', 'Toolbar' ]
                        }
                    }
                }
            }
        }
    }
</script>
<style scoped>
    @import '~element-ui/lib/theme-chalk/index.css';

    .v--modal-overlay .v--modal-box {
        top: 50px !important;
    }

    >>> .isErrorSelect input {
        border: 2px solid #eba2a5 !important;
    }
</style>
<style lang="scss" scoped>
    .isError {
        border: 2px solid #eba2a5 !important;
    }


    .step-place {
        display: flex;
        justify-content: flex-end;
        justify-items: center;
        background: #fcfcfc;
        border-top: 1px solid #eee;
        padding: 20px;

        position: absolute;
        bottom: 0px;
        flex: 1;
        width: calc(100% - 166.5px);

        button {
            margin-right: 10px;
            min-width: 120px;
            text-align: center;

            i {
                margin-left: 5px;
            }
        }
    }

    .main-content {
        padding: 20px;
        max-height: 780px;

        h1, h3 {
            font-weight: bold;
        }

        .location-title {
            margin: 25px 0 10px;
            font-size: 16px;
        }
    }

    .input-common-css {
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
        line-height: 1.5;
        height: 40px;

        &.position-title {
            width: 410px;
        }

        &.another-title {
            width: 200px;
            margin-right: 10px;
            font-size: 14px;
            display: block;
            height: 34px;
        }
    }

    .flex-item {
        display: flex;
    }

    .object-tag {
        background: #eee;
        border-radius: 3px;
        color: #68747e;
        font-size: 12px;
        padding: 3px 5px;
        line-height: 24px;
        margin-right: 10px;

        i {
            margin-right: 5px;
            text-align: center;
            width: 14px;
        }

        .tag-icon {
            display: inline-block;
        }

        .remove-icon {
            display: none;
        }

        &:hover {
            .tag-icon {
                display: none;
            }

            .remove-icon {
                display: inline-block;
                cursor: pointer;
            }
        }
    }

    .custom-field {
        margin-top: 10px;
        display: flex;
        align-items: center;
        align-content: center;
        margin-bottom: 10px;

        [class^="custom-field-"] {
            padding-right: 10px;
        }

        .custom-field-value {
            flex: 1;

            input {
                width: 100%;
            }
        }
    }

    ::v-deep.custom-select-without-arrow{
        .el-input {
            .el-select__caret {
                display: none;
            }
        }
    }

    ::v-deep.el-select {
        &:hover {
            .el-input__inner {
                border: 2px solid #edeff0;
            }
        }

        .el-input__inner {
            &:focus {
                border: 2px solid #5ac0e5 !important;
            }
        }

        .el-input {
            .el-input__suffix {
            }

            /*.el-select__caret {*/
            /*    display: none;*/
            /*}*/
        }
    }

</style>
<style>
    .custom-vue-editor .quillWrapper .ql-snow.ql-toolbar {
        min-height: 85px !important;
        max-height: 85px !important;
        height: 85px !important;
        padding: 0px !important;
        padding-top: 4px !important;
    }
    .ql-editor{
        max-height:500px;
    }
</style>
