<template>
    <div>
        <div class="main-content" v-loading="isMoving">
            <div class="header">
                <h1>{{messages.SR_020_MODAL_POSITON_PIPELINE_TITLE}}</h1>
                <p>{{messages.SR_020_MODAL_POSITON_PIPELINE_DES_1}}</p>
            </div>
            <div class="questionnaire-content">
                <h3>{{messages.SR_020_MODAL_POSITON_PIPELINE_TITLE}}</h3>
                <p>{{messages.SR_020_MODAL_POSITON_PIPELINE_CONTENT_1_DES}}</p>
                <SelectSearch
                    style="margin-bottom:5px;"
                    :value="currentPosition.pipeline_id"
                    :value-field="'id'"
                    :data-options="listPipeline"
                    :width="300"
                    @changeValue="handleChangePipeline"
                />
            </div>
            <div class="questionnaire-content">
                <h3>{{messages.SR_020_MODAL_POSITON_PIPELINE_CONTENT_2_TITLE}}</h3>
                <p>{{messages.SR_020_MODAL_POSITON_PIPELINE_CONTENT_2_DES_1}}</p>
                <vue-content-loading
                    v-if="isLoading"
                    :width="500"
                    :height="35">
                    <rect x="0" y="13" rx="4" ry="4" width="15" height="15" />
                    <rect x="20" y="13" rx="4" ry="4" width="100%" height="15" />
                </vue-content-loading>
                <b-list-group v-if="!isLoading">
                    <b-list-group-item class="state-item" style="" v-for="(state, index) in cachePipeline.list_stage"
                                       :key="index"
                                       v-if="state.showInPositionPipelineStageModal && !state.deleted">
                        <div>
                            <i :class="state.icon"></i>
                            {{state.title}}
                            <!--<br/>-->
                            <div class="total-actions" v-if="state.actions && state.actions.length > 0">
                                <i class="fa fa-bolt"></i>
                                {{state.actions.length}} {{messages.SR_007_MODAL_PIPELINE_TOTAL_ACTIONS}}
                            </div>
                        </div>
                        <div class="flex-box-right">
                            <i @click="handleOpenModalAddStage(state, index)" class="fa fa-edit"></i>
                        </div>
                    </b-list-group-item>
                </b-list-group>
                <AddStageModal
                    :type="'edit'"
                    :title-stage="titleState"
                    :stage-data="currentStage"
                    :hide-stage-type="true"
                    @handleClose="handleCloseStageModal"
                    @resetDefault="resetDefault"
                    v-on:handleSaveChange="handleSaveChangeStageModal"
                    :showModal="showModalAddState"></AddStageModal>
            </div>
            <div class="questionnaire-content" style="margin-bottom:75px">
                <h3>{{messages.SR_020_MODAL_POSITON_PIPELINE_CONTENT_3_TITLE}}</h3>
                <p>{{messages.SR_020_MODAL_POSITON_PIPELINE_CONTENT_3_DES}}</p>
                <input type="text"
                       :class="{'isError':isError}"
                       @change="checkError"
                       v-model="currentPosition.automated_email_sender"
                       :placeholder="'eg: ' + currentUser.name" required="required">
            </div>
        </div>
        <UnSavedChangeModal
            :showModal="isShowModalConfirm"
            :sub-title-modal="messages.SR_020_MODAL_UNSAVED_CHANGE_TITLE_2"
            :title-modal="messages.SR_020_MODAL_UNSAVED_CHANGE_SUB_TITLE_2"
            @handleSaveChange="saveChange()"
            @handleClose="handleCloseUnSavedChange">
        </UnSavedChangeModal>
        <div>
            <div class="step-place" v-if="$route.params.type == 'new'">
                <StepComponent
                    :total-step="steps"></StepComponent>
                <button :disabled="isLoading" @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit"><span>{{messages.SR_020_BUTTON_STEP}}</span><i
                    class="fa fa-chevron-right"></i></button>
            </div>
            <div class="step-place" v-else>
                <button :disabled="isLoading" @click="handleSaveChange" class="btn btn-blue ng-scope" type="submit">
                    <span v-if="isSaved == false">
                        <i class="default fa fa-save"></i>
                        <span class="default"> {{messages.SR_020_BUTTON_SAVE_CHANGE}}</span>
                    </span>
                    <span v-else>
                         <i class="success fa fa-check"></i>
                         <span class="default"> {{messages.SR_020_BUTTON_SAVED_CHANGE}}</span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import SelectSearch from '../select/main.vue';
    import AddStageModal from '../modals/PinelineStage/AddStageModal.vue';
    import Position from "@/models/Position";
    import StepComponent from './step.vue';
    import VueContentLoading from 'vue-content-loading';
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import Pipeline from "../../models/Pipeline";
    import PositionPipelineAction from '@/models/PositionPipelineAction.ts';
    import Candidate from "../../models/Candidate";
    import PipelineStage from "../../models/PipelineStage";

    export default {
        name: "PipelineTab",
        components: {
            AddStageModal,
            SelectSearch,
            StepComponent,
            UnSavedChangeModal,
            VueContentLoading
        },
        computed: {
            ...mapGetters([
                'currentPosition',
                'listPipeline',
                'listPipelineStage',
                'currentCompany',
                // 'cachePipeline',
                'steps',
                'currentUser',
                'listCandidate'
            ])
        },
        watch: {
            'currentPosition.pipeline_id':{
                handler(val){
                    if (this.$route.params.type == 'edit'){
                        // Must to reload Position.
                        // Cái này là TH mở modal ở Page Kanban => Vì sử dụng router nên sẽ gây ra 1 số lỗi.
                        this.setNeedRefetchKanban({
                            status: true,
                            stage: {
                                id: 'all'
                            }
                        });
                    }
                }
            }
        },
        data() {
            return {
                isSaved: false,
                showModalAddState: false,
                currentStage: {},
                titleState: '',
                isError: false,
                isShowModalConfirm: false,
                isChangePipeline: false,
                PositionPipelineActionData: [],
                actionsCurrentPipeline: [],
                old_pipeline_id: '',
                isLoading: false,
                isMoving: false,
                cachePipeline: []
            }
        },
        mounted(){
            if ((this.currentPosition.automated_email_sender == '') &&(!this.currentPosition.id)){
                this.currentPosition.automated_email_sender = this.currentUser.name;
            }
        },
        async created() {
            let that = this;
            that.isLoading = true;
            this.old_pipeline_id = this.currentPosition.pipeline_id;

            this.getListPipeline(this.currentCompany.id).then(async ()=>{
                if (this.currentPosition.hasOwnProperty('id') && this.currentPosition.id == ''){
                    await new Position().getById(this.$route.params.position_id).then((position)=>{
                        this.setCurrentPosition(position);
                    })
                };
                await this.getListPipelineStage(this.currentPosition.pipeline_id).then((data)=>{
                    this.cachePipeline['list_stage'] = data;

                    this.getActionsAndMap(data);
                    this.isLoading = false;
                });
            });

        },
        methods: {
            ...mapActions([
                'getListPipeline',
                'getListPipelineStage',
                'setCurrentPosition',
                // 'setCachePipeline',
                'getListCandidate'
            ]),
            ...mapMutations([
                'setNeedRefetchKanban',
                'setPositionKanban'
            ]),
            getActionsAndMap(stages){
                new PositionPipelineAction().getActionsImported(this.currentPosition.id, this.currentPosition.pipeline_id).then(async (data)=>{
                    this.actionsCurrentPipeline = data;
                    if (data.length > 0){
                        const PArray = this.cachePipeline.list_stage = stages.map((stage)=>{
                            let index = this.actionsCurrentPipeline.findIndex((action)=>{
                                return stage.id == action.stage_id;
                            });
                            if (index != -1) stage.actions = this.actionsCurrentPipeline[index].actions;
                            return stage;
                        })
                        await Promise.all(PArray);
                        this.$forceUpdate();
                    }
                })
            },
            positionInfoDuplicated(value) {
                let that = this ;
                let positionDuplicate = [];
                that.currentPosition.other_information.forEach((info, index) => {
                    if (info.title == value && value.trim() != '') {
                        positionDuplicate.push(index)
                    }
                });
                return positionDuplicate;
            },
            checkErrorForm() {
                let that = this;
                let isError = false;
                if (that.currentPosition) {

                    if (that.currentPosition.title.trim() == '') {

                        isError = true;
                    }

                    if (that.currentPosition.location.value == null) {

                        isError = true;
                    }

                    if (that.currentPosition.position_type.value == null) {

                        isError = true;
                    }
                    // Special case: Update Image.
                    let descriptionHasImage = that.currentPosition.job_description.description.includes('<img');
                    if (!descriptionHasImage && that.currentPosition.job_description.description.replace(/<[^>]*>?/gm, '').trim() == '') {
                        isError = true;
                    }
                    that.currentPosition.other_information.forEach((info, index) => {

                        let arrayPositionInfoDuplicated = that.positionInfoDuplicated(info.title);
                        if (info.title.trim() == '' || arrayPositionInfoDuplicated.length > 1) {
                            isError = true;
                        }
                        if (info.value == null || info.value == '' || arrayPositionInfoDuplicated.length > 1) {
                            isError = true;
                        }
                    });
                }

                return isError;
            },
            checkError(){
                if (this.currentPosition.automated_email_sender.trim() == ''){
                    this.isError = true;
                }else{
                    this.isError = false;
                }
            },
            handleCloseUnSavedChange() {
                this.isShowModalConfirm = false;
            },
            resetDefault() {
                this.getListPipelineStage(this.currentPosition.pipeline_id).then((stages) => {
                    let stage = stages.find((stage)=>{
                        return stage.id == this.currentStage.id;
                    })
                    this.currentStage = stage;
                })
            },
            async saveChange() {
                let isError = this.checkErrorForm();
                if (!isError) {
                    if (this.isError == true) {
                        return;
                    }
                    let position = new Position();
                    Object.assign(position, this.currentPosition);
                    this.handleCloseUnSavedChange();

                    delete this.cachePipeline['firestore'];
                    this.isSaved = true;
                    position.update().then((data) => {
                        if (this.$route.params.type == 'new') {
                            let step = this.steps[2];
                            let nextStep = this.steps[3];
                            step.active = false;
                            nextStep.active = true;
                            let router = {
                                name: `PositionScorecardTab`,
                                params: {
                                    position_id: data.id,
                                },
                            };
                            this.$router.push(router)
                        }
                        this.isSaved = false;
                    });
                    this.isMoving = true;

                    if (this.isChangePipeline){
                        // If user has changed pipeline so system must be doing this function.
                        await new Position().changePipeline(this.currentPosition.id, this.old_pipeline_id,
                            this.currentPosition.pipeline_id, this.cachePipeline.list_stage);
                        // When user has updated Pipeline of this Position so must be set old pipeline id to current pipeline id.
                        this.old_pipeline_id = this.currentPosition.pipeline_id;
                        this.isChangePipeline = false;
                    }
                    // Update new Position Data to Vuex PositionKanban.
                    this.setPositionKanban(_.cloneDeep(this.currentPosition));
                    this.isMoving = false;
                }
            },
            // updatePositionToPipeline(position) {
            //     if (this.old_pipeline_id != ''){
            //         new Pipeline().getById(this.old_pipeline_id).then((pipeline) => {
            //             let index = pipeline.used_positions.findIndex((p) => {
            //                 return p.id == position.id;
            //             });
            //             if (index != -1) {
            //                 pipeline.used_positions.splice(index, 1);
            //                 pipeline.update();
            //             }
            //         })
            //
            //         // Remove PositionPipelineAction of old Pipeline
            //         new PositionPipelineAction().getActionsImported(position.id, this.old_pipeline_id).then((stages)=>{
            //             stages.forEach((stage)=>{
            //                 console.log('Deleted positiona actions, ', stage.id);
            //                 stage.delete();
            //             })
            //         })
            //     }
            //     new Pipeline().getById(position.pipeline_id).then((pipeline) => {
            //         let index = _.sumBy(pipeline.used_positions, (p) => {
            //             return p.id == position.id;
            //         });
            //         if (index > 0) {
            //             // pipeline.used_positions.splice(index, 1);
            //         } else {
            //             pipeline.used_positions.push({
            //                 'title': position.title,
            //                 'id': position.id
            //             });
            //             pipeline.update();
            //         }
            //
            //         // Create PositionPipelineAction
            //         this.cachePipeline.list_stage.forEach((stage)=>{
            //             let PipelineActions = new PositionPipelineAction();
            //             PipelineActions.pipeline_id = position.pipeline_id;
            //             PipelineActions.position_id = position.id;
            //             PipelineActions.stage_id = stage.id;
            //             PipelineActions.actions = stage.actions;
            //             PipelineActions.insert().then((data) => {
            //                 console.log('Create plactions !!!', stage.title);
            //             })
            //         })
            //
            //     })
            // },
            handleSaveChange() {
                if (this.isChangePipeline && this.$route.params.type == 'edit') {
                    this.isShowModalConfirm = true;
                } else {
                    this.saveChange();
                }
            },
            handleCloseStageModal(){
                this.showModalAddState = false;
            },
            handleSaveChangeStageModal(stage_actions) {
                let indexAction = this.actionsCurrentPipeline.findIndex(stage=>{
                    return stage.stage_id == this.currentStage.id;
                });
                let indexStage = this.cachePipeline.list_stage.findIndex(stage=>{
                    return stage.id == this.currentStage.id;
                })
                let action = new PositionPipelineAction();
                if (indexAction == -1){
                    action.pipeline_id = this.currentPosition.pipeline_id;
                    action.position_id = this.currentPosition.id;
                    action.stage_id = this.currentStage.id;
                    action.actions = stage_actions;
                    action.insert().then((data)=>{
                        this.actionsCurrentPipeline.push(data);
                        console.log(' done');

                    })
                }else{
                    action = this.actionsCurrentPipeline[indexAction];
                    action.actions = stage_actions;
                    action.update().then(()=>{
                        console.log('Update done');
                    })
                }
                this.cachePipeline.list_stage[indexStage].actions = stage_actions;
                this.handleCloseStageModal();
            },
            async handleChangePipeline(data) {
                this.isLoading = true;
                if (data.id != this.old_pipeline_id) {
                    this.isChangePipeline = true;
                } else {
                    this.isChangePipeline = false;
                }
                this.currentPosition.pipeline_id = data.id;

                await this.getListPipelineStage(data.id).then(() => {
                    data['list_stage'] = this.listPipelineStage;
                    this.cachePipeline = data;
                    this.getActionsAndMap(data.list_stage);
                    this.isLoading = false;
                });

            },
            // moveCandidateToNewPipeline(candidate){
            //     let oldPipelineStages = [];
            //     let missingStage = {};
            //     new PipelineStage().getAllStages(this.old_pipeline_id).then((stages)=>{
            //         oldPipelineStages = stages;
            //     });
            //     new PipelineStage().getMissingStage(this.currentPosition.pipeline_id).then((data)=>{
            //         missingStage = data;
            //         this.isMoving = true;
            //         this.getListCandidate(this.currentPosition.id).then(async ()=>{
            //             const Parray = this.listCandidate.map(async (candidate)=>{
            //                 candidate.position_id = this.currentPosition.id;
            //                 candidate.position = {
            //                     _id: this.currentPosition.id,
            //                     name: this.currentPosition.title,
            //                     location: {
            //                         name: this.currentPosition.location.title,
            //                     },
            //                     user_id: this.currentPosition.created_by,
            //                     status: this.currentPosition.status
            //                 };
            //
            //                 let stage = this.listPipelineStage.find((_stage)=>{
            //                     return _stage.stage_type == candidate.stage.type;
            //                 })
            //                 if (stage){
            //                     candidate.stage_id = stage.id;
            //                     candidate.stage = {
            //                         id: stage.id,
            //                         name: stage.title,
            //                         type: stage.stage_type
            //                     }
            //                 }else{
            //                     candidate.stage_id = missingStage.id;
            //                     candidate.stage = {
            //                         id:missingStage.id,
            //                         name: missingStage.title,
            //                         type: missingStage.stage_type
            //                     }
            //
            //                 }
            //                 await candidate.update().then(()=>{
            //                     console.log('Moved ', candidate.name);
            //                     return candidate;
            //                 })
            //             })
            //             await Promise.all(Parray);
            //             this.isMoving = false;
            //         })
            //     });
            // },
            handleOpenModalAddStage(stage, index) {
                this.showModalAddState = true;
                this.currentStage = _.cloneDeep(stage)
                delete this.currentStage['firestore']
                // indexInCurrentArray is position of this item in list_stage of state
                // this.currentStage['indexInCurrentArray'] = index;
                this.titleState = this.currentStage['title'];
            }
        }
    }
</script>


<style lang="scss">
    .v--modal-overlay {
        .v--modal-box {
            top: 50px !important;
        }
    }

    .select-container {
        width: 275px !important;
        max-width: 275px !important;

        li {
            width: 275px !important;
        }

        .container-item {
            width: 275px !important;
            max-width: 275px !important;
        }
    }
</style>

<style lang="scss" scoped>
    .flex-box-right i {
        /*margin-left:10px;*/
        font-size: 10px;
        padding: 5px;
        cursor: pointer;
    }


    .btn-custom {
        margin-top: 10px;
        font-size: 12px !important;
        height: initial !important;
        padding: 2px 8px;
        background-color: #5ac0e5 !important;
        color: #fff !important;
        border: none;
    }

    .btn-custom:hover {
        font-size: 12px;
        background-color: #4cabcd !important;
        color: #fff !important;
    }

    .state-item {
        justify-content: space-between;
        display: flex;
        align-content: center;
        background: #edeff0;
        height: auto;
        min-height: 40px;
        padding: 10px;

        div.total-actions {
            line-height: 1;
            border-radius: 10px;
            font-size: 12px;
            display: block;
            opacity: 0.7;
            padding-left: 5px;
            padding-top: 3px;
        }
    }

    .btn-blue {
        border: none;
        padding: 5px 12px;
        font-weight: bold;
    }

    .step-place {
        display: flex;
        justify-content: flex-end;
        justify-items: center;
        background: #fcfcfc;
        border-top: 1px solid #eee;
        padding: 20px;

        position: absolute;
        bottom: 0px;
        flex: 1;
        width: calc(100% - 166.5px);

        button {
            margin-right: 10px;
            min-width: 120px;
            text-align: center;

            i {
                margin-left: 5px;
            }
        }
    }

    .questionnaire-content {
        &:last-child {
            margin-bottom: 90px;
        }

        h3 {
            font-size: 16px;
            margin-top: 30px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .add-questionnaire {
            margin-top: 10px;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;

            i {
                margin-right: 5px;
            }
        }
    }

    .main-content {
        height: 780px;
        padding: 20px 20px 20px 20px;
    }

    .header {
        margin-bottom: 20px;

        h1 {
            font-weight: bold;
        }
    }
</style>
