<template>
    <b-modal
        @shown="handleOpenModal"
        @hide="handleCloseModal"
        no-close-on-backdrop
        no-close-on-esc
        hide-footer
        v-model="showModal">
        <template slot="modal-header" slot-scope="{ close }">
            <h1>{{messages.SR_021_CANDIDATE_EMAIL}}</h1>
            <button type="button" aria-label="Close" class="close" @click="handleCloseModal()">×</button>
        </template>
        <div class="meta-actions-container" v-if="currentCandidate">
            <div class="meta-section recipient">
                <div class="meta-section-header">
                    <strong>{{messages.SR_021_CANDIDATE_EMAIL_TO}}</strong>
                </div>
                <div class="meta-section-main" style="margin-top:0px;"><!-- ngIf: candidate -->
                    <span class="ng-binding ng-scope">{{currentCandidate.email_address}}</span>
                </div>
                <div class="bcc-toggle-container">
                    <a class="blue" v-if="!emailObject.hasOwnProperty('cc')" href="javascript:void(0)" @click="insertCC"><span> +CC</span></a>
                    <a class="blue" v-if="!emailObject.hasOwnProperty('bcc')" href="javascript:void(0)" @click="insertBCC"><span> +BCC</span></a>
                </div>
            </div>
            <div class="meta-section" v-if="emailObject.hasOwnProperty('cc')">
                <div style="display: flex; justify-items:center; justify-content: space-between;">
                    <div>
                        <div class="meta-section-header"><strong>CC</strong></div>
                        <div class="meta-section-main" style="margin-top:0px;" >
                            <input
                                :class="{'isError':checkErrorForm.cc}"
                                class="subject ng-valid ng-valid-maxlength ng-dirty ng-valid-parse ng-touched"
                                type="text"
                                v-model="emailObject.cc" ng-model-options="{ debounce: 250 }"
                                placeholder="e.g. jane@domain.com, mark@domain.com" maxlength="200">
                        </div>
                        <a href="javascript:void(0)" @click="toggleAddress('cc')"><i class="fa fa-times"></i></a>

                    </div>

                </div>
            </div>
            <div class="meta-section" v-if="emailObject.hasOwnProperty('bcc')">
                <div style="display: flex; justify-items:center; justify-content: space-between;">
                    <div>
                        <div class="meta-section-header"><strong>BCC</strong></div>
                        <div class="meta-section-main" >
                            <input
                                :class="{'isError':checkErrorForm.bcc}"
                                class="subject ng-valid ng-valid-maxlength ng-dirty ng-valid-parse ng-touched"
                                type="text"
                                v-model="emailObject.bcc" ng-model-options="{ debounce: 250 }"
                                placeholder="e.g. stacy@domain.com, david@domain.com" maxlength="200">
                        </div>
                        <a href="javascript:void(0)" @click="toggleAddress('bcc')"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="meta-section">
                <div style="display: flex; justify-items:center; justify-content: space-between;">
                    <div>
                        <div class="meta-section-header"><strong>{{messages.SR_021_CANDIDATE_EMAIL_SUBJECT}}</strong></div>
                        <div class="meta-section-main">
                            <input
                                :class="{'isError':checkErrorForm.subject}"
                                class="subject ng-valid ng-valid-maxlength ng-dirty ng-valid-parse ng-touched"
                                type="text"
                                v-model="emailObject.subject" ng-model-options="{ debounce: 250 }"
                                :placeholder="messages.SR_010_EMAIL_TOPIC" maxlength="200">
                        </div>
                    </div>
                    <div class="templates-container">
                        <div class="template-dropdown dropdown">
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-plus mr-1"></i> {{messages.SR_038_INSERT}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" style="width: 450px">
                                <Tabs
                                    type="border-card" tab-position="left" class="custom-tab-email">
                                    <TabPane :label="messages.COMMON_TEMPLATES">
                                        <ElInPut @keydown="filterByInput" v-model="textInput"
                                                 :placeholder="messages.SR_038_PLACEHOLDER_FILTER"></ElInPut>
                                        <ul>
                                            <li
                                                @click="setEmail(email)"
                                                v-for="email, key in emailSorted"
                                                :key="key"
                                                class="ng-binding">
                                                <span>{{email.name}}</span>
                                                <p style="height:18px" class="ng-binding">
                                                    {{markedString(email.content)}}</p>
                                            </li>
                                        </ul>
                                        <div class="edit-templates" @click="editTemplates()">
                                            <div>
                                                <i class="fa fa-edit fa-fw mr-1"></i> {{messages.SR_038_EDIT_TEMPLATES}}
                                            </div>
                                        </div>
                                    </TabPane>
                                </Tabs>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <VueEditor
                    :placeholder="messages.SR_021_PLACEHOLDER_EDIT_EMAIL + ' ' + currentCandidate.name + ' ' + messages.SR_021_SUFFIX_PLACEHOLDER_EDIT_EMAIL"
                    v-model="emailObject.body"
                    ref="editor"
                    :class="{'isError':checkErrorForm.body}"
                    :editorToolbar="toolbarOptions"
                    :editorOptions="editorOptions"></VueEditor>
            </div>
        </div>
        <div>
            <ul class="file-attachments" v-if="emailObject.attachments.length > 0" style="">
                <li class="custom-length-name" v-for="attachment, index in emailObject.attachments" :key="index">
                    <div class="attached">
                        <i class="fa fa-paperclip mr-2"></i>
                        <span class="attachment"> {{attachment.file_name}} </span>
                        <a class="remove" href="javascript:void(0)" @click="removeFileInArray(index)"><i class="fa fa-times"></i></a>
                    </div>
                </li>
            </ul>
            <ElButton type="text" size="mini" :loading="true" v-if="isUpdating">{{messages.SR_021_UPDATING}}</ElButton>
        </div>
        <div class="clearfix mt-2">
            <button @click="selectFile" class="btn btn-default btn-sm ng-valid ng-touched ng-dirty ng-valid-parse"
                    style="overflow: hidden;"><i
                class="fa fa-paperclip"></i>
                <input ref="uploadFile" @change="pushFileToArray" type="file" tabindex="-1" hidden>
            </button>
            <button class="send-message btn btn-blue btn-sm" @click="sendMessage" ng-disabled="sendingMessage"><i
                class="fa fa-envelope"></i><span class="ng-binding"> {{messages.SR_021_SEND_EMAIL}}</span></button>
            <!--<button class="schedule-button btn btn-blue btn-sm dropdown-toggle" type="button"-->
                    <!--uib-dropdown-toggle="uib-dropdown-toggle" aria-haspopup="true" aria-expanded="false">-->
                <!--<span>-->
                    <!--<DatePicker-->
                        <!--popper-class="custom-datetime-picker"-->
                        <!--:time-arrow-control="false"-->
                        <!--v-model="value2"-->
                        <!--type="datetime"-->
                        <!--:align="'right'"-->
                        <!--:unlink-panels="false"-->
                        <!--:clearable="false"-->
                        <!--:editable="false"-->
                        <!--placeholder="Select date and time"-->
                        <!--:picker-options="pickerOptions">-->
                     <!--</DatePicker>-->
                <!--</span>-->
            <!--</button>-->
        </div>
    </b-modal>
</template>

<script lang="js">
    import Vue from 'vue';
    import {VueEditor} from 'vue2-editor'
    import 'quill/dist/quill.bubble.css'
    import {
        Popover, Button as ElButton, Tabs, TabPane, Input as ElInPut, Dropdown,
        DropdownMenu,
        DropdownItem,
        DatePicker
    } from 'element-ui';
    import {mapGetters, mapActions, mapMutations} from 'vuex';
    import _ from 'lodash';
    import Inbox from "../../models/Inbox";
    import {fstorage, server_time} from '@/firebase';
    import Conversation from "../../models/Conversation";
    import Candidate from "../../models/Candidate";
    import $ from 'jquery';
    import {FILE_SIZE_LIMITED} from "@/email";

    export default Vue.extend({
        name: "SendEmailCandidateModal",
        props: [
            'showModal',
            'currentCandidate',
            'currentPosition',

        ],
        components: {
            Tabs,
            TabPane,
            ElInPut,
            VueEditor,
            DatePicker,
            ElButton
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'currentUser',
                'messaging_template',
                'email_templates',
                'templateEmailSignature'
            ]),
            editorOptions() {
                return {theme: 'bubble'}
            },
            emailSorted() {
                if (this.textInput == '') {
                    return this.email_templates;
                } else {
                    return this.filterByInput();
                }
            }
        },
        watch: {
        },
        filters: {},
        data() {
            return {
                isUpdating: false,
                value2: '',
                pickerOptions: {
                    shortcuts: [{
                        text: 'Send in 1 hour',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 1);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'Send in 4 hours',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 4);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'Send in 1 day',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'Send in 2 days',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 2);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'Send in 1 week',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: 'Send in 2 weeks',
                        onClick(picker) {
                            const date = server_time.now;
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 14);
                            picker.$emit('pick', date);
                        }
                    },
                        {
                            text: 'Send in 1 month',
                            onClick(picker) {
                                const date = server_time.now;
                                date.setTime(date.getTime() + 3600 * 1000 * 24 * 30);
                                picker.$emit('pick', date);
                            }
                        },
                        {
                            text: 'Send in 6 months',
                            onClick(picker) {
                                const date = server_time.now;
                                date.setTime(date.getTime() + 3600 * 1000 * 24 * 30 * 6);
                                picker.$emit('pick', date);
                            }
                        },
                    ]
                },
                emailObject: {
                    subject: '',
                    body: '',
                    attachments: [],
                },
                email_content: '',
                toogleEmail: false,
                textInput: '',
                toolbarOptions: [
                    ['bold', 'italic', 'link', {'list': "ordered"}, {'list': 'bullet'}],
                ],
                checkErrorForm:{
                    cc: false,
                    bcc: false,
                    body: false,
                }
            }
        },
        methods: {
            ...mapMutations([
                'setOpenModalSendEmail'
            ]),
            ...mapActions([
                'getMessagingTemplate',
                'getEmailTemplates'
            ]),
            firstFieldName(full_name){
                return full_name.split(" ").pop();
            },
            checkError(){
                let that = this;
                let fields = Object.keys(that.checkErrorForm);
                let regexEmail = /^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$/g;
                fields.forEach((field)=>{
                    if (that.emailObject.hasOwnProperty(field)){
                        switch (field) {
                            case 'body':
                                that.checkErrorForm[field] = that.emailObject[field].trim() == '';
                                break;
                            case 'bcc':
                                that.checkErrorForm[field] = regexEmail.test(that.emailObject[field]) != true;
                                console.log(field, that.emailObject[field])
                                break;
                            case 'cc':
                                that.checkErrorForm[field] = regexEmail.test(that.emailObject[field]) != true;
                                console.log(field, regexEmail.test(that.emailObject[field]))
                                break;
                            default:
                                break;
                        }
                    }
                })
                that.$forceUpdate();
                if (Object.values(that.checkErrorForm).indexOf(true) > -1 ){
                    return true;
                }else{
                    return false;
                }
            },
            goToTemplateEmail(){
                this.toogleEmail = !this.toogleEmail;
                // this.setOpenModalSendEmail(true);
                this.handleCloseModal(true);
            },
            toggleAddress(type){
                delete this.emailObject[type];
                if (this.checkErrorForm.hasOwnProperty(type)) delete this.checkErrorForm[type];

                this.$forceUpdate();

            },
            async sendMessage() {
                let abc = this.templateEmailSignature;
                let emailCompile = _.template(abc);
                if ((this.checkError() == true) ||( $(this.emailObject.body).text().trim() == '')){
                    return;
                }
                if (this.emailObject.subject.trim() == ''){
                    this.emailObject.subject = `Re: ${this.currentPosition.title}`
                }
                let emailObjectClone = _.cloneDeep(this.emailObject);
                emailObjectClone.body = emailCompile({
                    dataMeeting: this.emailObject.body,
                    signatureHtml: this.currentUser.signatureFlag == true?this.currentUser.signatureHtml:'',
                });
                new Candidate().sendEmail(
                    this.currentCandidate,
                    emailObjectClone,
                ).then(()=>{
                    this.handleCloseModal();
                });

            },
            insertCC() {
                this.emailObject['cc'] = '';
                this.$forceUpdate();
            },
            insertBCC() {
                this.emailObject['bcc'] = '';
                this.$forceUpdate();
            },
            urlLandingPage(){
                let that = this;
                return that.$urlLandingPage('', that.currentCompany.domain);
            },
            getPositionLink() {
               // return `${window.location.origin}/w/${this.currentCompany.slug}/${this.currentPosition.id}`
                return this.urlLandingPage()+'/position/'+this.currentPosition.id;
            },
            removeFileInArray(index) {
                if (this.emailObject.attachments[index].hasOwnProperty('is_new_file')) {
                    this.removeFileInStore(this.emailObject.attachments[index]);
                }
                this.emailObject.attachments.splice(index, 1);
            },
            removeFileInStore(file) {
                let storageRef = fstorage.ref();
                let attachRef = storageRef.child(file.file_shorturl);
                attachRef.delete().then(() => {
                    console.log('Deleted ', file.file_name);
                })
            },

            pushFileToArray() {
                let file = this.$refs.uploadFile.files[0];
                let size = 0;
                this.emailObject.attachments.forEach((file) => {
                    size += file.file_size || 0;
                })
                if (size + file.size > FILE_SIZE_LIMITED) {
                    alert("Kích thước các tập tin không vượt quá 5MB!");
                    this.$refs.uploadFile['value'] = null;
                    return;
                }
                this.isUpdating = true;
                this.uploadFileToStore(file).then((file) => {
                    let fileObj = {
                        file_name: file.name,
                        file_url: file.file_url,
                        file_shorturl: file.file_shorturl,
                        file_size: file.size,
                        is_new_file: true,
                    };
                    this.emailObject.attachments.push(fileObj);
                    this.$refs.uploadFile.value = null;
                    this.isUpdating = false;
                });

            },
            replaceInfoByCandidate(string) {
                let that = this;
                let arrayField = [
                    {
                        title: 'candidate_first_name',
                        value: 'name'
                    },
                    {
                        title: 'candidate_name',
                        value: 'name'
                    },
                    {
                        title: 'candidate_email_address',
                        value: 'email'
                    },
                    {
                        title: 'position_link',
                        value: 'position_link'
                    },
                    {
                        title: 'position_title',
                        value: 'position_title'
                    },
                    {
                        title: 'company_name',
                        value: 'company_name'
                    },
                    {
                        title: 'company_user',
                        value: 'company_user'
                    },
                    {
                        title: 'company_user_first_name',
                        value: 'company_user_first_name'
                    },
                ];

                var compiled = _.template(string, {interpolate: /\[\[([\s\S]+?)\]\]/g});
                let result = '';
                let object = {};
                arrayField.forEach((field, index) => {
                    switch (field.title) {
                        case 'candidate_first_name':
                            object[field.title] = that.firstFieldName(that.currentCandidate.name);
                            break;
                        case 'candidate_name':
                            object[field.title] = that.currentCandidate.name;
                            break;
                        case 'company_user_first_name':
                            object[field.title] = that.firstFieldName(that.currentUser.name);
                            break;
                        case 'company_name':
                            object[field.title] = that.currentCompany.name;
                            break;
                        case 'company_user':
                            object[field.title] = that.currentUser.name;
                            break;
                        case 'position_title':
                            object[field.title] = that.currentPosition.title;
                            break;
                        case 'candidate_email_address':
                            object[field.title] = that.currentCandidate.email_address;
                            break;
                        case 'position_link':
                            object[field.title] = that.getPositionLink();
                            break;
                        default:
                            object[field.title] = field.value;
                            break;
                    }
                });
                result = compiled(object);
                return result;
            },
            setEmail(email) {
                let cachedCC = this.emailObject.hasOwnProperty('cc') ? this.emailObject.cc : '';
                let cachedBCC = this.emailObject.hasOwnProperty('bcc') ? this.emailObject.bcc : ''
                this.emailObject.attachments = [];
                this.emailObject = _.cloneDeep(email);
                this.toogleEmail = false;
                this.emailObject.subject = this.replaceInfoByCandidate(email.subject);
                this.emailObject.body = this.replaceInfoByCandidate(email.content);
                if (cachedCC != ''){
                    this.emailObject['cc'] = cachedCC;
                }
                if (cachedBCC != ''){
                    this.emailObject['bcc'] = cachedBCC;
                }
            },
            uploadFileToStore(file) {
                return new Promise((resolve, reject) => {
                    // let fileNameUp = `${file.name}-${this.currentCandidate.id}`;
                    let datetime = server_time.now;
                    let upload = fstorage.ref(`attachment/email/${datetime.getFullYear()}/${this.currentCandidate.id}/${file.name}`).put(file);
                    upload.on('state_changed', null, null,
                        async () => {
                            await upload.snapshot.ref.getDownloadURL().then((downloadUrl) => {
                                file['file_shorturl'] = `attachment/email/${datetime.getFullYear()}/${this.currentCandidate.id}/${file.name}`;
                                file['file_url'] = downloadUrl;
                                resolve(file);
                            })
                        })
                })
            },
            selectFile() {
                this.$refs.uploadFile.click();
            },
            filterByInput() {
                let result = this.email_templates.filter((email) => {
                    return email.name.toLowerCase().includes(this.textInput.toLowerCase());
                });
                return result;
            },
            markedString(string) {
                var toMarkdown = require('to-markdown');
                return toMarkdown(string);
            },
            handleOpenModal() {
                this.toogleEmail=false;
                this.emailObject = {
                    subject: '',
                    body: '',
                    attachments: [],
                };
                this.checkErrorForm = {
                    cc: false,
                    bcc: false,
                    body: false,
                    subject: false,
                }
                this.getMessagingTemplate(this.currentCompany.id).then(() => {
                    this.getEmailTemplates(this.messaging_template.id).then(() => {

                    })
                })
            },
            handleCloseModal(data) {
                this.$emit('handleCloseModal', data)
            }
        }
    });
</script>
<style lang="scss">
    .isError{
        border: 2px solid #eba2a5 !important
    }
    .quillWrapper {
        margin-top: 10px;
        border: 2px solid #edeff0;
        border-radius: 4px;
        color: #4c555c;
        width: 100%;
        min-height: 100px;
        background-color: #fff7ef;

        .ql-editor {
            font-size: 14px;
            max-height: 400px;
        }
    }

    .custom-email-email-template-candidate {
        padding: 0px;
        height: 300px;
        border: 2px solid #edeff0;
    }

    .custom-tab-email {
        height: 300px;

        .el-tabs__content {
            padding: 0px;
            margin-bottom: 0px;

            .el-input {
                padding: 10px;
                padding-bottom: 0px;
            }

            ul {
                padding: 10px;
                padding-top: 0px;
                padding-bottom: 0px;
                margin-bottom: 0px;
                margin-top: 5px;
                height: 240px;
                overflow: auto;

                li {
                    border-radius: 4px;
                    color: #4c555c !important;
                    padding: 8px 10px !important;
                    cursor: pointer;

                    &:hover {
                        background-color: #f5f5f5;
                    }

                    p {
                        opacity: 0.7;
                        overflow: hidden;
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 0px;
                    }
                }
            }

            .edit-templates {
                border-top: 1px solid #edeff0;
                background: #fff;
                padding: 5px 10px;
                color: #4c555c !important;
                cursor: pointer;

                div {
                    padding: 6px 6px !important;
                    width: 100%;
                    border-radius: 5px;

                    &:hover {
                        background-color: #f5f5f5;
                    }

                }
            }
        }

        .el-tabs__header {
            width: 140px;
            margin-right: 0px !important;
        }

        .el-tabs__nav {
            .el-tabs__active-bar {
                display: none;
            }

            .el-tabs__item {
                text-align: left;
                border-left: 4px solid transparent;
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                cursor: pointer;
                height: 36px;
                padding: 8px 10px 8px 12px;
                transition: 300ms all;
                line-height: unset !important;
                white-space: nowrap;
                color: #4c555c !important;

                &.is-active {
                    padding-left: 10px;
                    font-weight: bold;
                    border-bottom: 1px solid #edeff0 !important;
                    border-top: 1px solid #edeff0 !important;
                    background-color: #fff;
                    border-left: 4px solid #76d691 !important;
                    margin-right: -1px;
                }

                &:first-child {
                    border-top: none !important;
                }
            }
        }
    }

    .schedule-button.btn-blue {

        .el-date-editor {
            width: 5px;

            input {
                display: none;
            }

            .el-input__prefix {
                top: -23px;
                left: -10px;

                .el-input__icon {
                    color: white;
                }
            }

            .el-input__suffix {
                display: none;
            }

        }
    }

    .custom-datetime-picker {
        width: 484px !important;

        .el-picker-panel__body {
            margin-left: 160px;
        }

        .el-picker-panel__sidebar {
            width: 160px;
        }

        .el-date-picker__time-header {
            display: none;
        }
    }
</style>
<style lang="scss" scoped>
    .custom-length-name {
        width: 100%;
        word-break: break-all;
        margin-bottom: 5px !important;
    }
    .clearfix {
        float: right;
    }

    .send-message.btn-blue {
        /*border-top-right-radius: 0px;*/
        /*border-bottom-right-radius: 0;*/
        margin-left: 10px;
    }

    .schedule-button.btn-blue {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0;
        border-left: 1px solid #4cabcd !important;

        &.dropdown-toggle::after {
            display: none;
        }

        .el-date-editor {
            input {
                display: none;
            }
        }
    }

    .templates-container {
        float: right;
        margin-top: 10px;
    }

    .custom-popover-send-email {
        float: right;
        background: #edeff0;
        border: none;
        margin-top: 3px;
        border-radius: 4px;
        font-size: 12px !important;
        height: initial !important;
        padding: 5px 8px;
        color: #68747e !important;
        cursor: pointer;
    }

    .meta-actions-container {
        margin-bottom: 10px;
        font-size: 14px;

        .meta-section-header {
            display: inline-block;
            width: 50px;
            text-align: right;
            margin-right: 10px;
        }

        .meta-section-main {
            display: inline-block;
            width: 255px;
            margin-top: 10px;

            &:first-child {
                margin-top: 0px;
            }

            span {
                display: inline-block;
                line-height: 20px;
                padding: 8px 10px;
            }

            input[type=text] {
                width: 250px;
                margin-right: 5px;
            }
        }

        .bcc-toggle-container {
            float: right;

            a {
                color: #5ac0e5;
                margin-top: 10px;
                margin-left: 10px;
                font-weight: 400;
                display: inline-block;
            }
        }
    }
</style>

