<template>
    <div class="settings">
        <div class="main-content">
            <div class="profile">
                <div>
                    <div class="header">
                        <h1>{{messages.SR_003_PORTAL_APPEARANCE_TITLE}}</h1>
                    </div>
                    <div name="appearanceForm"
                         class="nigvlxpristine nigvlxvalid nigvlxvalid-url nigvlxvalid-pattern appearanceForm">
                        <div class="company">
                            <div class="section">
                                <h2>{{messages.SR_003_PORTAL_APPEARANCE_TITLE_CONTENT_1}}</h2>
                                <p>{{messages.SR_003_PORTAL_APPEARANCE_DES_1_CONTENT_1}}</p>
                                <div class="portal-logo-container">

                                    <div class="logo">
                                        <img :src="currentPortal.appearance_logo">
                                    </div>
                                    <div class="upload-btn-wrapper">
                                        <button class="btn btn-xs btn-blue " @click="$refs.uploadLogo.click()">
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-refresh fa-spin"></i>
                                            {{messages.SR_003_PORTAL_APPEARANCE_BTN_1_CONTENT_1}}
                                        </button>
                                        <input hidden ref='uploadLogo' type="file" accept="image/*" @change="detectFiles($event.target.files, 'appearance_logo')">

                                    </div>

                                </div>
                            </div>
                            <div class="section">
                                <h2>{{messages.SR_003_PORTAL_PORTAL_APPEARANCE_TITLE_CONTENT_2}}</h2>
                                <p>{{messages.SR_003_PORTAL_APPEARANCE_DES_1_CONTENT_2}}</p>
                                <div class="company-hero-container">
                                    <div class="hero-wrap">
                                        <div class="hero-preview"
                                             :style="{'background-color': currentPortal.appearance_header_backgroud_color,
                                              'background-image': 'url(' + currentPortal.appearance_header + ')','color':'#fff'}">
                                            <h1>{{ currentPortal.messaging_header }}</h1>
                                            <p>{{ currentPortal.messaging_subheader }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="section"><br>
                                    <h3>{{messages.SR_003_PORTAL_APPEARANCE_DES_2_CONTENT_2}}</h3>
                                    <p>{{messages.SR_003_PORTAL_APPEARANCE_DES_3_CONTENT_2}}</p>
                                    <div class="active-color-container">
                                        <div class="selected-color" :style="{background: currentPortal.appearance_header_backgroud_color}"></div>
                                        <div
                                            class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
                                            <swatches-picker colors="text-advanced" v-model="currentPortal.appearance_header_backgroud_color" @input="changePicker">
                                            <input
                                                class="color-picker nigvlxpristine nigvlxuntouched nigvlxvalid minicolors-input"
                                                type="text"
                                                size="20"
                                                slot="trigger"
                                                data-opacity="1.00"
                                                @change="changePicker($event.target.value)"
                                                v-model="currentPortal.appearance_header_backgroud_color"
                                                @focus="displayPicker = 'appearance_header_backgroud_color'"/>
                                            </swatches-picker>
                                        </div>
                                    </div>
                                </div>
                                <div><br>
                                    <h3>{{messages.SR_003_PORTAL_APPEARANCE_DES_4_CONTENT_2}}</h3>
                                    <p>{{messages.SR_003_PORTAL_APPEARANCE_DES_5_CONTENT_2}}</p>
                                    <div class="hero-image-controls">
                                        <div>
                                            <div class="buttons">

                                                <div class="upload-btn-wrapper">
                                                    <button @click="handlerClick()" class="btn btn-xs btn-blue " v-if="!currentPortal.appearance_header">
                                                        <i class="fa fa-plus"></i>
                                                        <i class="fa fa-refresh fa-spin"></i>
                                                        {{messages.SR_003_PORTAL_APPEARANCE_BTN_1_CONTENT_2}}
                                                    </button>
                                                    <button class="btn btn-xs btn-blue " @click="handlerClick()" v-else>
                                                        <i class="fa fa-plus"></i>
                                                        <i class="fa fa-refresh fa-spin"></i>
                                                        {{messages.SR_003_PORTAL_APPEARANCE_BTN_2_CONTENT_2}}
                                                    </button>

                                                    <input hidden ref="uploadHeroBackground" type="file" accept="image/*" @change="detectFiles($event.target.files, 'appearance_header')">
                                                </div>
                                                <div class="upload-btn-wrapper">
                                                    <button class="btn btn-grey btn-xs btn-delete-background" v-if="currentPortal.appearance_header" type="button" @click="removeImage()">
                                                        <i class="fa fa-times"></i><span style="margin-left: 10px">{{messages.SR_003_PORTAL_APPEARANCE_BTN_3_CONTENT_2}}</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <h2>{{messages.SR_003_PORTAL_APPEARANCE_TITLE_CONTENT_3}}</h2>
                                <p>{{messages.SR_003_PORTAL_APPEARANCE_DES_1_CONTENT_3}}</p>
                                <div class="favicon">
                                    <div class="preview mr-3" v-if="currentPortal.appearance_favicon&&currentPortal.appearance_favicon!=''">
                                        <img style="width: 30px; height: 30px;margin-bottom: 10px;" :src="appearanceFavicon">
                                    </div>
                                    <div class="preview mr-3" v-else>
                                        <img style="width: 30px; height: 30px;margin-bottom: 10px;" :src="url+ '/favicon.png'">
                                    </div>
                                    <div style="margin-bottom: 10px">
                                        <button @click="handlerClickFavicon()" class="btn btn-xs btn-blue">
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-refresh fa-spin"></i>
                                            {{currentPortal.appearance_favicon?messages.SR_003_PORTAL_APPEARANCE_BTN_FAVICON_UPDATE:messages.SR_003_PORTAL_APPEARANCE_BTN_FAVICON_UPLOAD}}
                                        </button>
                                    </div>
                                    <input hidden ref="uploadFavicon" type="file" accept=".jpg,.jpeg,.png" @change="detectFiles($event.target.files, 'appearance_favicon')">
                                </div>
                            </div>
                            <div class="section">
                                <h2>{{messages.SR_003_PORTAL_APPEARANCE_TITLE_CONTENT_4}}</h2>
                                <div class="active-color-container inline-color">
                                    <h3>{{messages.SR_003_PORTAL_APPEARANCE_DES_1_CONTENT_4}}</h3>
                                    <div class="selected-color" :style="{background: currentPortal.appearance_button_color}"></div>
                                    <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
                                        <swatches-picker colors="text-advanced" v-model="currentPortal.appearance_button_color" @input="changePicker">
                                            <input
                                                class="color-picker nigvlxpristine nigvlxuntouched nigvlxvalid minicolors-input"
                                                size="20"
                                                slot="trigger"
                                                data-opacity="1.00"
                                                 @change="changePicker($event.target.value)"
                                                v-model="currentPortal.appearance_button_color"
                                                @focus="displayPicker = 'appearance_button_color'"/>
                                        </swatches-picker>


                                    </div>
                                </div>
                                <div class="active-color-container inline-color">
                                    <h3>{{messages.SR_003_PORTAL_APPEARANCE_DES_2_CONTENT_4}}</h3>
                                    <div class="selected-color" :style="{background: currentPortal.appearance_link_color}"></div>
                                    <div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom minicolors-position-left">
                                        <swatches-picker colors="text-advanced" v-model="currentPortal.appearance_link_color" @input="changePicker">
                                        <input
                                            class="color-picker nigvlxpristine nigvlxuntouched nigvlxvalid minicolors-input"
                                            type="text"
                                            size="20"
                                            data-opacity="1.00"
                                            slot="trigger"
                                             @change="changePicker($event.target.value)"
                                            v-model="currentPortal.appearance_link_color"
                                            @focus="displayPicker = 'appearance_link_color'"/>
                                        </swatches-picker>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer align-right">
                            <button v-if="!flag_save_change" :disabled="disable_save" @click="saveAppearance" class="btn btn-blue default"
                                    type="submit">
                                <i class="default fa fa-save"></i>
                                <span class="default">{{messages.COMMON_SAVE}}</span>
                            </button>
                            <button v-else class="btn btn-blue default"
                                    type="submit">
                                <i class="success fa fa-check">&nbsp;&nbsp;</i>
                                <span class="success">{{messages.COMMON_SAVED}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {fauth, fstorage} from '@/firebase';
    import {messages} from "@/messages";
    import {mapGetters} from 'vuex';
    // https://github.com/xiaokaike/vue-color
    import Swatches from 'vue-swatches'
    import * as firebase from "firebase";
    import {FILE_SIZE_LIMITED} from "@/email";


    var colors = {
        hex: '#194d33',
    }

    export default Vue.extend({
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentPortal',
                'currentOriginPortal'
                // ...
            ]),
            appearanceFavicon(){
                let that = this as any;
                if(that.currentPortal.appearance_favicon === ''){
                    if(that.currentPortal.appearance_logo !== ''){
                        return  that.currentPortal.appearance_favicon = that.currentPortal.appearance_logo;
                    }
                    return that.currentPortal.appearance_favicon = '';
                }else {
                    return that.currentPortal.appearance_favicon
                }
            }

        },
        components: {
            'swatches-picker': Swatches
        },
        data() {
            return {
                flag_save_change:false,
                progressUpload: 0,
                file: File,
                displayPicker: '',
                colors: { 'hex': '#000'},
                flag_change:{
                    logo: false,
                    header: false,
                    color_header_title:false,
                    color_button: false,
                    color_link: false,
                    favicon:false
                },
                fileupload:{
                    logo:{},
                    header:{},
                    favicon:{},
                },
                disable_save:true,
                url: window.location.origin,
            }
        },
        methods: {
            handlerClickFavicon(){
                let that = this as any;
                that.$refs.uploadFavicon.click()
            },
            changeField(){
                this.disable_save = false
            },
            handlerClick(){
                let that = this as any;
                that.$refs.uploadHeroBackground.click()
            },
            changePicker(value) {
                let that = this as any;
                switch (that.displayPicker) {
                    case 'appearance_header_backgroud_color':
                        that.flag_change.color_header_title = true;
                        that.currentPortal.appearance_header_backgroud_color = value;
                        that.displayPicker = '';
                        break;
                    case 'appearance_button_color':
                        that.flag_change.color_button = true;
                        that.currentPortal.appearance_button_color = value;
                        that.displayPicker = '';
                        break;
                    case 'appearance_link_color':
                        that.flag_change.color_link = true;
                        that.currentPortal.appearance_link_color = value;
                        that.displayPicker = '';
                        break;
                    default:
                        //not thing
                        break
                }
                this.changeField()
            },
            detectFiles(fileList, whichFile) {
                if(fileList.length == 1){
                    if(fileList[0].type.indexOf("image")== -1){
                        // this.$toasted.error(messages.COMMON_UPLOAD_IMAGE);
                    }else{
                        this.createImagePreview(fileList[0],whichFile)
                    }
                }
                this.changeField()
            },
            createImagePreview(file,whichFile){
                let reader = new FileReader();
                let that = this as any;
                // todo : Created template link image to display
                switch (whichFile) {
                    case 'appearance_logo':
                        this.flag_change.logo = true;
                        this.fileupload.logo = file;
                        reader.onload = (e:Event) =>{
                            that.currentPortal.appearance_logo = reader.result as string
                        };
                        this.$refs.uploadLogo['value'] = null;
                        break;
                    case 'appearance_header':
                        this.flag_change.header = true;
                        this.fileupload.header = file;
                        reader.onload = (e:Event) =>{
                            that.currentPortal.appearance_header = reader.result as string
                        };
                        this.$refs.uploadHeroBackground['value'] = null;
                        break;
                    case 'appearance_favicon':
                        if(!that.validUploadedFileType(file['name'])){
                            that.$refs.uploadFavicon['value'] = null;
                            alert("Tập tin không đúng định dạng!");
                        }else if(!that.validUploadedFileSize(file['size'])){
                            that.$refs.uploadFavicon['value'] = null;
                            alert("Kích thước các tập tin không vượt quá 5MB!");
                        }else {
                            that.flag_change.favicon = true;
                            that.fileupload.favicon = file;
                            reader.onload = (e:Event) =>{
                                that.currentPortal.appearance_favicon = reader.result as string
                            };
                            that.$refs.uploadFavicon['value'] = null;
                        }
                        break;
                    default:
                        // nothing
                        break

                }
                reader.readAsDataURL(file)
            },
            validUploadedFileSize(extra_size) {
                if (extra_size > FILE_SIZE_LIMITED) {
                    return false;
                }
                return true;
            },
            validUploadedFileType(file_name) {
               let validFileExtensions  = ['png','jpeg','jpg'];
               let fileNameExt = file_name.substr(file_name.lastIndexOf('.') + 1).toLowerCase();
               if(validFileExtensions.indexOf(fileNameExt) == -1){
                   return false;
               }
               return true;
            },
            uploadFavicon (){

                let that = this as any;
                /*
                * todo: this function update image portal favicon to store in firebase after get link this image at to data firebase
                * */
                if(that.currentPortal.appearance_favicon){
                    let fileNameUp = that.currentPortal['company_id'] + "_" + that.fileupload.favicon['name'];
                    let upload = fstorage.ref('image/portal/'+ that.currentPortal['company_id'] +'/favicon/' + that.currentPortal['company_id'] + fileNameUp).put(that.fileupload.favicon);
                    upload.on('state_changed',sp=>{
                            if(sp.bytesTransferred = sp.totalBytes){

                            }
                        },null,
                        ()=>{
                            upload.snapshot.ref.getDownloadURL().then(downloadUrl=>{
                                that.currentPortal.appearance_favicon = downloadUrl;
                                that.currentOriginPortal['appearance_favicon'] = downloadUrl;
                                that.currentOriginPortal.update()
                            })
                        })
                }
            },
            uploadLogo (){

                let that = this as any;
                /*
                * todo: this function update image portal logo to store in firebase after get link this image at to data firebase
                * */
                if(that.currentPortal.appearance_logo){
                    let fileNameUp = that.currentPortal['company_id'] + "_" + that.fileupload.logo['name']
                    let upload = fstorage.ref('image/portal/'+ that.currentPortal['company_id'] +'/logo/' + that.currentPortal['company_id'] + fileNameUp).put(that.fileupload.logo)
                    upload.on('state_changed',sp=>{
                            if(sp.bytesTransferred = sp.totalBytes){

                            }
                        },null,
                        ()=>{
                            upload.snapshot.ref.getDownloadURL().then(downloadUrl=>{
                                that.currentPortal.appearance_logo = downloadUrl
                                that.currentOriginPortal['appearance_logo'] = downloadUrl
                                that.currentOriginPortal.update()
                            })
                        })
                }
            },
            uploadHeaderSection(){
                let that = this as any;
                /*
                * todo: this function update image background header logo to store in firebase after get link this image at to data firebase
                * */
                if(that.currentPortal.appearance_header && that.currentPortal.appearance_header != '' ){
                    let fileNameUp = that.currentPortal['company_id'] + "_" + that.fileupload.header['name']
                    let upload = fstorage.ref('image/portal/'+ that.currentPortal['company_id'] +'/headerImage/' + that.currentPortal['company_id'] + fileNameUp).put(that.fileupload.header)
                    upload.on('state_changed',sp=>{
                            if(sp.bytesTransferred = sp.totalBytes){
                                // that.$toasted.show(messages.COMMON_UPLOADED)

                            }
                        },null,
                        ()=>{
                            upload.snapshot.ref.getDownloadURL().then(downloadUrl=>{
                                that.currentPortal.appearance_header= downloadUrl
                                that.currentOriginPortal['appearance_header'] = downloadUrl
                                that.currentOriginPortal.update();
                            })
                        })
                }else {
                    that.currentOriginPortal['appearance_header'] = that.currentPortal.appearance_header;
                    that.currentOriginPortal.update();
                }
            },
            removeImage() {
                let that = this as any;
                that.changeField();
                that.currentPortal.appearance_header = '';
                that.flag_change.header = true
            },
            update_color_and_favicon(){
                let that = this as any;
                if(that.flag_change.color_header_title){
                    that.currentOriginPortal['appearance_header_backgroud_color'] = that.currentPortal['appearance_header_backgroud_color']
                }
                if(that.flag_change.color_button){
                    that.currentOriginPortal['appearance_button_color'] = that.currentPortal['appearance_button_color']
                }
                if(that.flag_change.color_link){
                    that.currentOriginPortal['appearance_link_color'] = that.currentPortal['appearance_link_color']
                }
                if(that.flag_change.favicon){
                    that.currentOriginPortal['appearance_favicon'] = that.currentPortal['appearance_favicon']
                }
                that.currentOriginPortal.update();
            },
            saveAppearance(){
                let that = this as any;
                that.$validator.validateAll().then((result)=>{
                    if(result){
                        that.flag_save_change = true;
                        if (that.flag_change.logo){
                            that.uploadLogo()
                        }
                        if(that.flag_change.header){
                            that.uploadHeaderSection()
                        }
                        if(that.flag_change.color_header_title || that.flag_change.color_button || that.flag_change.color_link || that.flag_change.favicon){
                            that.update_color_and_favicon()
                        }
                        if(that.flag_change.favicon){
                            that.uploadFavicon()
                        }
                        // that.$toasted.show(messages.COMMON_SAVED)
                        that.disable_save = true;
                        that.flag_change.favicon = false;
                        setTimeout(()=>{
                            that.flag_save_change = false
                        },1500)
                    }
                })
            }

        },

    });
</script>

<style scoped>
    @import "~vue-swatches/dist/vue-swatches.min.css";
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    .btn-delete-background{
        background: #edeff0;
        color: #68747e !important;
    }
    .settings .main-content .profile .portal-logo-container img{
        max-width: 200px ;
        max-height: 100px;
        margin-bottom: 10px;
    }
    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .appearanceForm input{
        background-color: #fff !important;
    }
    .minicolors.minicolors-theme-bootstrap {
        display: inline-block;
    }
</style>
