<template>
    <div class="settings portal">
        <div class="main-content">
            <div class="profile nigvlxscope">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_CUSTOMCSS_TITLE}}</h1>
                    <p>{{messages.SR_003_PORTAL_CUSTOMCSS_DES}}</p>
                </div>
                <div name="customCssForm"
                     novalidate="novalidate"
                     class="nigvlxpristine nigvlxvalid">
                    <div class="company">
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_CUSTOMCSS_TITLE_CONTENT_1}}</h2>
                            <p>{{messages.SR_003_PORTAL_CUSTOMCSS_DES_1_CONTENT_1}}</p>
                            <div>
                                <textarea
                                          ref="css_textarea"
                                          style="font-family: 'Roboto Mono', monospace;"
                                          v-model=" currentPortal.css" cols="30" rows="10"
                                          class="form-control"
                                          @paste="changeField()"
                                          @change="changeField()"
                                          @keypress="changeField"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="footer align-right">
                        <button v-if="!flag_save_change" :disabled="disable_save" @click="save()"
                                class="btn btn-blue default"
                                type="submit">
                            <i class="default fa fa-save"></i>
                            <span class="default">{{messages.COMMON_SAVE}}</span>
                        </button>
                        <button v-else class="btn btn-blue default" type="submit">
                            <i class="success fa fa-check">&nbsp;&nbsp;</i>
                            <span class="success">{{messages.COMMON_SAVED}}</span>
                        </button>
                    </div>
<!--                    <photoshop-picker v-model="colors"/>-->
                </div>
            </div><!-- end ngIf: activeTab == "custom-css-js" -->
        </div>
    </div>

</template>


<script lang="ts">
    import Vue from "vue";
    import {fauth} from '@/firebase';
    import {mapGetters} from 'vuex';
    import {messages} from "@/messages";

    export default Vue.extend({
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentPortal',
                'currentOriginPortal'
                // ...
            ]),
        },
        data(){
            return{
                flag_save_change:false,
                portal: {},
                disable_save:true
            }
        },
        // mounted(){
        //     this.portal = this.currentPortal.cloneNewObject()
        // },
        methods: {
            changeField(){
                this.disable_save = false
            },
            save(){
                this.disable_save = true
                this.currentOriginPortal['css'] = this.currentPortal['css']
                let that = this
                that.flag_save_change = true
                setTimeout(()=>{
                    that.flag_save_change = false
                },1500)
                this.currentOriginPortal.update().then((data)=>{
                     // that.$toasted.show(messages.COMMON_SAVED)
                });

            },

            // https://sumtips.com/snippets/javascript/tab-in-textarea/
            useTab: function(e: KeyboardEvent): void {
                if (e.key === 'Tab') {
                    // get caret position/selection
                    let target = e.target as HTMLTextAreaElement;

                    let start = target.selectionStart;
                    let end = target.selectionEnd;
                    console.debug(target);

                    let value = target.value;

                    // set textarea value to: text before caret + tab + text after caret
                    target.value = value.substring(0, start)
                        + "    " // 4 spaces
                        + value.substring(end);

                    // put caret at right position again (add one for the tab)
                    target.selectionStart = target.selectionEnd = start + 4; // 4 spaces

                    // prevent the focus lose
                    e.preventDefault();
                    return;
                }
                return;
            } as EventListener,
        },
        mounted(): void {
            const textarea = this.$refs.css_textarea as Element;
            textarea.addEventListener('keydown', this.useTab);
        },
        destroyed(): void {
            const textarea = this.$refs.css_textarea as Element;
            textarea.removeEventListener('keydown', this.useTab);
        }
    });
</script>
