<template>
    <div class="settings portal">
        <div class="main-content">

            <div class="profile ">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_GENERAL_TITLE}}</h1>
                </div><!-- ngIf: updateFailed -->
                <div name="appearanceForm" novalidate="novalidate"
                         class="ng-pristine ng-valid ng-valid-required">
                        <div class="company">
                            <div class="section">
                                <p>{{messages.SR_003_PORTAL_GENERAL_DES_1_CONTENT_1}}</p>
                                <div class="portal-logo-container">

                                    <div class="logo">
                                        <img :src="currentPortal.appearance_logo">
                                    </div>
                                    <div class="upload-btn-wrapper">
                                        <button class="btn btn-xs btn-blue " @click="$refs.uploadLogo.click()">
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-refresh fa-spin"></i>
                                            {{messages.SR_003_PORTAL_APPEARANCE_BTN_1_CONTENT_1}}
                                        </button>
                                        <input hidden ref="uploadLogo" type="file" accept="image/*" @change="detectFiles($event.target.files)">
                                    </div>

                                </div>
                            </div>
                            <div class="section">
                                <h2>{{messages.SR_003_PORTAL_GENERAL_TITLE_CONTENT_2}}</h2>
                                <p>{{messages.SR_003_PORTAL_GENERAL_DES_1_CONTENT_2}}.</p>
                                <input class="name ng-pristine ng-untouched ng-valid ng-valid-required" type="text"
                                       @change="changeField"
                                       :class="!validate && company_name == '' ?'error':''"
                                    v-model.trim="company_name" :placeholder="messages.SR_003_PORTAL_GENERAL_PLACEHOLDER_CONTENT_2"
                                    >
                            </div>
                            <div class="section"><h2>{{messages.SR_003_PORTAL_GENERAL_TITLE_CONTENT_3}}</h2>
                                <p>{{messages.SR_003_PORTAL_GENERAL_DES_1_CONTENT_3}}</p><input
                                    @change="changeField"
                                    class="website ng-pristine ng-untouched ng-valid" type="text" v-model.trim="currentPortal.company_address_url"
                                    :placeholder="messages.SR_003_PORTAL_GENERAL_PLACEHOLDER_CONTENT_3">
                            </div>
                            <div class="section">
                                <h2>{{messages.SR_003_PORTAL_GENERAL_TITLE_CONTENT_4}}</h2>
                                <p>{{messages.SR_003_PORTAL_GENERAL_DES_1_CONTENT_4}}</p>
                                <VueEditor @focus="changeField" v-model.trim="currentPortal.description" :editorToolbar="toolbarOptions"></VueEditor>

                            </div>
                            <div class="section">
                                <h2>{{messages.SR_003_PORTAL_MEDIA_TITLE_CONTENT_1}}</h2>
                                <p>{{messages.SR_003_PORTAL_MEDIA_DES_1_CONTENT_1}}</p>
                                <h3>{{messages.SR_003_PORTAL_MEDIA_TITLE_INPUT_1}}</h3>
                                <input class="form-control"
                                       type="text"
                                       @change="changeField"
                                       :placeholder="messages.SR_003_PORTAL_MEDIA_PLACEHOLDER_INPUT_1"
                                       v-model.trim="currentPortal.vimeo_video">
                                <div class="form-divider"></div>
                                <h3>{{messages.SR_003_PORTAL_MEDIA_TITLE_INPUT_2}}</h3>
                                <input class="form-control"
                                       type="text"
                                       @change="changeField"
                                       :placeholder="messages.SR_003_PORTAL_MEDIA_PLACEHOLDER_INPUT_2"
                                       v-model.trim="currentPortal.youtube_video">
                                <div class="form-divider"></div>
                            </div>
                        </div>

                    </div>
            </div><!-- end ngIf: activeTab == "media" -->
            <div class="footer align-right">
                <button v-if="!flag_save_change" :disabled="disable_save" @click="save()" class="btn btn-blue default"
                        type="submit">
                    <i class="default fa fa-save"></i>
                    <span class="default">{{messages.COMMON_SAVE}}</span>
                </button>
                <button v-else class="btn btn-blue default" type="submit">
                    <i class="success fa fa-check">&nbsp;&nbsp;</i>
                    <span class="success">{{messages.COMMON_SAVED}}</span>
                </button>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
    import Vue from "vue";
    import {fauth, fstorage} from '@/firebase';
    //import {storage} from 'firebase.storage'
    import {mapGetters} from 'vuex';
    // https://github.com/xiaokaike/vue-color
    import * as firebase from "firebase";
    import {VueEditor} from 'vue2-editor';
    import {messages} from "@/messages";

    let colors = {
        hex: '#194d33',
        // hsl: {h: 150, s: 0.5, l: 0.2, a: 1},
        // hsv: {h: 150, s: 0.66, v: 0.30, a: 1},
        // rgba: {r: 25, g: 77, b: 51, a: 1},
        // a: 1
    }

    export default Vue.extend({
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentPortal',
                'currentCompany',
                'currentOriginPortal',
                // ...
            ]),

        },
        components: {
            VueEditor
        },
        mounted(){
            this.company_name = this.currentCompany.cloneNewObject().name
        },
        data() {
            return {
                flag_save_change:false,
                company_name:'',
                validate:true,
                disable_save:true,
                description: '',
                file: File,
                flag_upload:false,
                toolbarOptions: [[{ 'header': [1, 2, 3, 4, 5, 6, false] }],['code-block','bold', 'italic', 'underline', 'strike', 'image','link'],[{ 'list': 'ordered'}, { 'list': 'bullet' }]],
            }
        },
        methods: {
            changeField(){
                this.disable_save = false
            },
            detectFiles(fileList) {
                this.changeField()
                console.log(fileList);
                if(fileList.length == 1){
                    if(fileList[0].type.indexOf('image') == -1){
                        // this.$toasted.error(messages.COMMON_UPLOAD_IMAGE)
                    }else{
                        this.createImagePreview(fileList[0])
                    }
                }
            },
            createImagePreview(file){
                let reader = new FileReader();
                this.file = file
                this.flag_upload = true
                reader.onload = (e)=>{
                    let url_template_img = reader.result as string
                    this.currentPortal['appearance_logo']= url_template_img
                }
                reader.readAsDataURL(file)
                this.$refs.uploadLogo['value'] = null
            },
            uploadLogo() {
                let that = this as any
                if(that.flag_upload){
                    let fileNameUp = that.currentPortal['company_id'] + "_" + that.file.name
                    let upload = fstorage.ref('image/portal/'+ that.currentPortal['company_id'] +'/logo/' + that.currentPortal['company_id'] + fileNameUp).put(that.file as any)
                    upload.on('state_changed',sp=>{
                            if(sp.bytesTransferred = sp.totalBytes){
                                // that.$toasted.show(messages.COMMON_UPLOADED)
                            }
                        },null,
                        ()=>{
                            upload.snapshot.ref.getDownloadURL().then(downloadUrl=>{
                                that.currentPortal['appearance_logo'] = downloadUrl
                                that.currentOriginPortal['appearance_logo'] = downloadUrl
                                that.currentOriginPortal.update().then(()=>{
                                    that.flag_upload = false
                                });
                            })
                        })
                }
            },
            save(){
                let that = this as any
                that.disable_save = true
                that.uploadLogo()
                if(!that.company_name || that.company_name =='' ){
                    that.validate = false
                }else{
                    that.flag_save_change = true
                    that.validate = true
                    that.currentCompany['name'] = that.company_name
                    that.currentOriginPortal['youtube_video'] = that.currentPortal['youtube_video']
                    that.currentOriginPortal['vimeo_video'] = that.currentPortal['vimeo_video']
                    that.currentOriginPortal['company_name'] = that.currentPortal['company_name']
                    that.currentOriginPortal['company_address_url'] = that.currentPortal['company_address_url']
                    that.currentOriginPortal['description'] = that.currentPortal['description']
                    that.currentCompany.update()
                    that.currentOriginPortal.update().then(()=>{
                        // that.$toasted.show(messages.COMMON_SAVED)
                    })
                    setTimeout(()=>{
                        that.flag_save_change = false
                    },1500)
                }

            }
        }


    });
</script>
<style scoped>
    .gallery .gallery-item .image {
        height: 100px;
        width: 100px;
        background-size: cover;
    }
    .settings .main-content .profile .portal-logo-container img{
        max-width: 200px ;
        max-height: 100px;
        margin-bottom: 10px;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
</style>
