<template>
    <div class="settings">
        <div class="main-content">
            <div class="profile nigvlxscope">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_MESSAGING_TITLE}}</h1>
                </div>
                <div name="messagingForm" novalidate="novalidate">
                    <div class="company">
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_MESSAGING_TITLE_CONTENT_1}}</h2>
                            <p>{{messages.SR_003_PORTAL_MESSAGING_DES_1_CONTENT_1}}</p>
                            <b-form-textarea v-model="currentPortal.messaging_header"
                                             style="border: 2px solid #edeff0;overflow-y: auto;"
                                             rows="3"
                                             max-rows="8"
                                             :placeholder="messages.SR_003_PORTAL_MESSAGING_PLACEHOLDER_1_CONTENT_1"
                                             @change="changeField"
                                             @keyup="changeField"
                                             maxlength="150"
                                             no-resize>
                            </b-form-textarea>
                        </div>
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_MESSAGING_TITLE_CONTENT_2}}</h2>
                            <p>{{messages.SR_003_PORTAL_MESSAGING_DES_1_CONTENT_2}}</p>
                            <b-form-textarea v-model="currentPortal.messaging_subheader"
                                             style="border: 2px solid #edeff0;overflow-y: auto;"
                                             rows="3"
                                             max-rows="8"
                                             :placeholder="messages.SR_003_PORTAL_MESSAGING_PLACEHOLDER_1_CONTENT_2"
                                             @change="changeField"
                                             @keyup="changeField"
                                             maxlength="250 "
                                             no-resize>
                            </b-form-textarea>
                        </div>
                        <div class="section">
                            <h2>{{messages.SR_003_PORTAL_MESSAGING_TITLE_CONTENT_3}}</h2>
                            <p>{{messages.SR_003_PORTAL_MESSAGING_DES_1_CONTENT_3}}</p>
                            <div class="redactor-box redactor-styles-on redactor-toolbar-on redactor-blur">
                                <VueEditor
                                    @imageAdded="handleImageAdded"
                                    useCustomImageHandler
                                    ref="editor"
                                    v-model="currentPortal.messaging_introduction"
                                    :editorOptions="editorSettings"
                                    @text-change="changeField">
                                </VueEditor>
                            </div>
                        </div>

                    </div>
                    <div class="footer align-right">
                        <button v-if="!flag_save_change" :disabled="disable_save" @click="save()" class="btn btn-blue default" type="submit"><i class="default fa fa-save"></i><span
                            class="default">{{messages.COMMON_SAVE}}</span></button>
                        <button v-else class="btn btn-blue default" type="submit">
                            <i class="success fa fa-check">&nbsp;&nbsp;</i>
                            <span class="success">{{messages.COMMON_SAVED}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {VueEditor, Quill} from 'vue2-editor';
    import { ImageDrop } from 'quill-image-drop-module';
    import ImageResize from 'quill-image-resize-module';

    import Vue from 'vue';
    import {mapGetters,mapActions} from 'vuex';
    import {fstorage, server_time} from '@/firebase';
    import {messages} from "@/messages";
    import _ from "lodash"

    Quill.register('modules/imageDrop', ImageDrop);
    Quill.register('modules/imageResize', ImageResize);

    export default Vue.extend({
        components:{
            VueEditor
        },
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentPortal',
                'currentOriginPortal',
                // ...
            ]),

        },
        mounted(){
        },
        data(){
            return{
                flag_save_change:false,
                disable_save:true,
                editorSettings: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image']
                        ],
                        history: {
                            delay: 1000,
                            maxStack: 50,
                            userOnly: false
                        },
                        imageDrop: true,
                        imageResize: {
                            displayStyles: {
                                backgroundColor: 'black',
                                border: 'none',
                                color: 'white'
                            },
                            modules: [ 'Resize', 'DisplaySize', 'Toolbar' ]
                        }
                    }
                }
            }
        },
        methods: {
            handleImageAdded(file, Editor, cursorLocation, resetUploader){
                console.log(file);
                let that = this as any;
                let datetime = server_time.now;
                let randomString = Math.random().toString(36).substring(5);
                let upload = fstorage.ref(`attachment/messaging/${datetime.getFullYear()}/${randomString}/${file.name}`).put(file);
                upload.on('state_changed',sp=>{
                    },null,
                    ()=>{
                        upload.snapshot.ref.getDownloadURL().then(downloadUrl=>{
                            Editor.insertEmbed(cursorLocation, "image", downloadUrl);
                            resetUploader();
                        })
                    })
            },
            changeField(){
                let that = this;
                if( that.currentOriginPortal['messaging_header'] !== that.currentPortal['messaging_header'].trim() ||
                    that.currentOriginPortal['messaging_subheader'] !== that.currentPortal['messaging_subheader'].trim() ||
                    that.currentOriginPortal['messaging_introduction'] !== that.currentPortal['messaging_introduction']){
                    return that.disable_save = false
                }
                return that.disable_save = true;
            },
            updateinfor: function () {
                let that = this;
                that.currentOriginPortal['messaging_header'] = that.currentPortal['messaging_header'].trim();
                that.currentOriginPortal['messaging_subheader'] = that.currentPortal['messaging_subheader'].trim();
                that.currentOriginPortal['messaging_introduction'] = that.currentPortal['messaging_introduction'];
            },
            save(){
                let that = this;
                that.disable_save = true;
                that.flag_save_change = true;
                that.updateinfor();
                that.currentOriginPortal.update().then((data)=>{
                    // that.$toasted.show(messages.COMMON_SAVED)
                });
                setTimeout(()=>{
                    that.flag_save_change = false
                },1500)
            }
        },
    });
</script>
<style scoped>
    /*@import "~vue-wysiwyg/dist/vueWysiwyg.css";*/
    .gallery .gallery-item .image {
        height: 100px;
        width: 100px;
        background-size: cover;
    }
</style>
