<template>

    <div class="settings portal">
        <div class="main-content">
            <div class="profile nigvlxscope">
                <div class="header">
                    <h1>{{messages.SR_003_PORTAL_TESTIMONIALS_TITLE}}</h1>
                </div>
                <div class="company">
                    <div class="section">
                        <h2>{{messages.SR_003_PORTAL_TESTIMONIALS_TITLE_CONTENT_1}}</h2>
                        <p>{{messages.SR_003_PORTAL_TESTIMONIALS_DES_1_CONTENT_1}} </p>
                        <div class="testimonial-container upload-btn-wrapper" >
                            <div class="headshot-placeholder " :class="check_error && !newTestimonial.photo ? 'error' : '' " style="position: relative;" id="parent-hover">
                                <i class="fa fa-camera-retro hover-headshot" v-if="newTestimonial.photo"  @click="$refs.fileTestimonial.click()"></i>
                                <div class="headshot nigvlxscope" v-if="!newTestimonial.photo" @click="$refs.fileTestimonial.click()">
                                    <i class="fa fa-camera-retro"></i>
                                </div>
                                <input hidden type="file" accept="image/*" @change="detectFiles($event.target.files)" style="display: none" ref="fileTestimonial">
                                <img class="avatar" style="object-fit: cover;" :src="newTestimonial.photo" v-if="newTestimonial.photo" @click="$refs.fileTestimonial.click()" >

                            </div>
                            <input v-model="newTestimonial.name"
                                   class="emp-name half"
                                   type="text"
                                   :class="check_error && newTestimonial.name =='' ? 'error' : '' "
                                   :placeholder="messages.SR_003_PORTAL_TESTIMONIALS_PLACEHOLDER_1_CONTENT_1"
                                   required="required">
                            <div class="form-divider"></div>
                            <input v-model="newTestimonial.position"
                                   :class="check_error && newTestimonial.position =='' ? 'error' : '' "
                                   class="title half nigvlxpristine nigvlxuntouched nigvlxinvalid nigvlxinvalid-required"
                                   type="text"
                                   :placeholder="messages.SR_003_PORTAL_TESTIMONIALS_PLACEHOLDER_2_CONTENT_1"
                                   required="required">
                        </div>
                        <div class="form-divider"></div>
<!--                        <input v-model.trim="newTestimonial.testimonial"-->
<!--                               :class="check_error && newTestimonial.testimonial =='' ? 'error' : '' "-->
<!--                               class="body full"-->
<!--                               type="text" style="width: 340px"-->
<!--                               :placeholder="`${messages.SR_003_PORTAL_TESTIMONIALS_PLACEHOLDER_3_CONTENT_1_PRE} ${currentCompany.name} ${messages.SR_003_PORTAL_TESTIMONIALS_PLACEHOLDER_3_CONTENT_1_SUFFIX}`"-->
<!--                               required="required">-->

                        <b-form-textarea
                            id="textarea"
                            class="body full"
                            :class="check_error && newTestimonial.testimonial =='' ? 'error' : '' "
                            v-model="newTestimonial.testimonial"
                            :placeholder="`${messages.SR_003_PORTAL_TESTIMONIALS_PLACEHOLDER_3_CONTENT_1_PRE} ${currentCompany.name} ${messages.SR_003_PORTAL_TESTIMONIALS_PLACEHOLDER_3_CONTENT_1_SUFFIX}`"
                            rows="3"
                            max-rows="6"
                            required="required"
                        ></b-form-textarea>

                        <div class="form-divider" style="margin-top: 10px;"></div>
                        <a class="add btn btn-blue btn-xs"
                           @click="addTestimonial()" v-if="!show_edit"><i class="fa fa-plus"></i> &nbsp;<span>{{messages.SR_003_PORTAL_TESTIMONIALS_BTN_1_CONTENT_1}}</span></a>
                        <a class="add btn btn-blue btn-xs"
                           @click="cancelEdit()" v-if="show_edit"><i class="fa fa-times"></i> &nbsp;<span>{{messages.SR_003_PORTAL_TESTIMONIALS_BTN_1_CONTENT_4}}</span></a>
                        <a class="add btn btn-blue btn-xs"
                           @click="saveEdit()" v-if="show_edit" style="margin-left: 15px;"><i class="fa fa-save"></i> &nbsp;<span>{{messages.SR_003_PORTAL_TESTIMONIALS_BTN_1_CONTENT_5}}</span></a>

                    </div>
                    <div class="section">
                        <h2>{{messages.SR_003_PORTAL_TESTIMONIALS_TITLE_CONTENT_2}}</h2>
                        <p v-if="currentPortal.testimonials.length > 0" class="nigvlxscope">{{messages.SR_003_PORTAL_TESTIMONIALS_DES_1_CONTENT_2}}</p>
                        <ul class="testimonials">
                            <li :key="index" class="testimonial nigvlxscope list-des" v-for="(testimonial, index) in currentPortal.testimonials" v-if="testimonial != currentTestimonial">
                                <img class="avatar-sm" style="object-fit: cover;" :src="testimonial.photo">
                                <div class="content">
                                    <h4>{{testimonial.name}}</h4>
                                    <h5>{{testimonial.position}}</h5>
                                    <div class="body"><i class="fa fa-quote-left" style="font-size: 14px;"></i>
                                        <p class="nigvlxbinding">{{testimonial.testimonial}}</p>
                                    </div>
                                    <a class="remove" @click="removeTestimonial(testimonial)">
                                        <i class="fa fa-times"></i><span> {{messages.SR_003_PORTAL_TESTIMONIALS_BTN_1_CONTENT_2}}</span>
                                    </a>
                                    <a class="remove" @click="editTestimonial(testimonial)" style="margin-left: 20px;">
                                        <i class="fas fa-pen"></i><span> {{messages.SR_003_PORTAL_TESTIMONIALS_BTN_1_CONTENT_3}}</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div v-if="show_save&&!show_edit" class="footer align-right" >
                    <button v-if="!flag_save_change"  @click="save()" class="btn btn-blue default"
                            type="submit">
                        <i class="default fa fa-save"></i>
                        <span class="default">{{messages.COMMON_SAVE}}</span>
                    </button>
                    <button v-else class="btn btn-blue default" type="submit">
                        <i class="success fa fa-check">&nbsp;&nbsp;</i>
                        <span class="success">{{messages.COMMON_SAVED}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</template>


<style scoped lang="scss">
    .half-black {
        background: rgba(black, 0.5);
        z-index: 9999;
        position: absolute !important;
        top: 0!important;
        display: none;
    }

    #parent-hover:hover > .hover-headshot {
        display: block !important;
    }

    .hover-headshot {
        top: 0 !important;
        position: absolute !important;
        font-size: 20px !important;
        color: #aaa !important;
        margin-left: 28px !important;
        margin-top: 28px !important;
        display: none;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    img.avatar {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    .avatar-sm {
        border-radius: 100%;
        border: 2px solid #fff;
        display: inline-block;
        height: 40px;
        vertical-align: middle;
        width: 40px;
    }
    input:focus{
        border-color: #5ac0e5;
    }
    *:focus {
        outline: none;
    }
    .list-des .body{
        display: flex;
    }
    .list-des {
        display: flex;
        margin-left: 15px ;
    }
    .list-des .content{
        margin-left:5px !important;
    }
    .list-des .nigvlxbinding{
        margin-left: 5px;
    }
    .testimonials .remove{
        cursor: pointer !important;
        display: inline-block !important;
    }
    .logo.add.btn {
        i{
            margin-right: 5px;
        }
    }
    .avatar-sm {
        flex: 0 0 40px;
    }

</style>


<script lang="ts">
    import Vue from "vue";
    import {fauth, fstorage} from '@/firebase';
    //import {storage} from 'firebase.storage'
    import {mapGetters} from 'vuex';
    // https://github.com/xiaokaike/vue-color
    import {Swatches} from 'vue-color';
    import * as firebase from "firebase";
    import Company from '../../models/Company'
    import {messages} from "@/messages";
    import _ from 'lodash';


    var colors = {
        hex: '#194d33',
        // hsl: {h: 150, s: 0.5, l: 0.2, a: 1},
        // hsv: {h: 150, s: 0.66, v: 0.30, a: 1},
        // rgba: {r: 25, g: 77, b: 51, a: 1},
        // a: 1
    }

    export default Vue.extend({
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentPortal',
                'currentOriginPortal',
                'currentCompany',
                // ...
            ]),

        },
        components: {
            'swatches-picker': Swatches
        },
        data() {
            return {
                flag_save_change:false,
                check_error:false,
                list_file: [],
                file:File,
                newTestimonial: {
                    name: '',
                    photo: '',
                    position: '',
                    testimonial: ''
                },
                show_save : false,
                show_edit: false,
                index_edit:-1,
                currentTestimonial: null
            }
        },
        methods: {
            changeField(){
                this.show_save = true
            },
            detectFiles(fileList) {
                // Array.from(Array(fileList.length).keys()).map(x => {
                //     this.upload(fileList[x])
                // })
                if(fileList.length == 1){
                    if(fileList[0].type.indexOf("image")== -1){
                        // this.$toasted.error(messages.COMMON_UPLOAD_IMAGE);
                    }else{

                        this.createImagePreview(fileList[0])
                    }
                }
            },
            createImagePreview(file){
                let reader = new FileReader();
                let that = this;
                this.file = file
                reader.onload = (e:Event) =>{
                    that.newTestimonial.photo = reader.result as string
                }
                reader.readAsDataURL(file)
            },
             async uploadListImage() {
                console.log('list_file:',this.list_file)
                let that = this as any;
                if(that.list_file.length >0){
                    const upload_attach_file = that.list_file.map((file, index) => {
                    console.log(index)
                    let fileNameUp = that.currentPortal['company_id'] + "_" + file.name

                    let upload = fstorage.ref('image/portal/'+ that.currentPortal['company_id'] +'/Testimonials/' + that.currentPortal['company_id'] + fileNameUp).put(file)
                    return new Promise((resolve, reject) => {
                        upload.on('state_changed',null,null,
                        async ()=> {
                                await upload.snapshot.ref.getDownloadURL().then(downloadUrl => {
                                    let index_file_in_testimonials = (that.currentPortal['testimonials'].length - that.list_file.length) + index  // get index in this.currentPortal['testimonials']

                                    if (0 <= index_file_in_testimonials && index_file_in_testimonials <= that.currentPortal['testimonials'].length) {
                                        that.currentPortal['testimonials'][index_file_in_testimonials].photo = downloadUrl

                                    }
                                    that.currentOriginPortal['testimonials'] = that.currentPortal['testimonials']
                                    resolve()
                                    that.currentOriginPortal.update()
                                })
                            })
                        })
                    })
                    await Promise.all(upload_attach_file)
                }else{
                    that.currentOriginPortal['testimonials'] = that.currentPortal['testimonials']
                }
            },
            reset_newTestimonial(){
                this.$refs.fileTestimonial['value'] = null
                this.file = File
                this.newTestimonial = {
                        name: '',
                        photo: '',
                        position: '',
                        testimonial: ''
                    };
                this.check_error = false;
                this.currentTestimonial =null;
            },
            addTestimonial() {
                let that = this as any;

                if (that.newTestimonial.photo == '' || that.newTestimonial.name.trim() == '' || that.newTestimonial.position.trim() == '' || that.newTestimonial.testimonial.trim() == '') {
                    that.check_error = true
                } else {
                    that.changeField()
                    that.check_error = false;
                    that.currentPortal['testimonials'].push(this.newTestimonial);
                    that.list_file.push(this.file);
                    console.log(that.currentPortal['testimonials']);
                    this.reset_newTestimonial()
                }
            },
            removeTestimonial(obj) {
                let that = this as any;
                if(that.currentPortal['testimonials'].length >0){
                    that.changeField();
                    let index = that.currentPortal['testimonials'].indexOf(obj);
                    if (index != -1) {
                        let index_file_in_testimonials = index - (that.currentPortal['testimonials'].length - this.list_file.length)  // get index in this.currentPortal['testimonials']
                        that.currentPortal['testimonials'].splice(index, 1);
                        if (0 <= index_file_in_testimonials && index_file_in_testimonials <= that.list_file.length) {
                            that.list_file.splice(index_file_in_testimonials, 1);
                        }
                    }

                }
            },
            editTestimonial(obj) {
                let that = this as any;
                that.cancelEdit();
                if(that.currentPortal['testimonials'].length >0){
                    let index = that.currentPortal['testimonials'].indexOf(obj);

                    if (index != -1) {
                        that.show_edit = true;
                        that.newTestimonial =    _.cloneDeep(that.currentPortal['testimonials'][index]);
                        that.index_edit = index;
                        that.currentTestimonial = that.currentPortal['testimonials'][index];
                    }

                }
            },
             saveEdit() {
                let that = this as any;
                const index = that.index_edit;

                 if (that.newTestimonial.photo == '' || that.newTestimonial.name.trim() == '' || that.newTestimonial.position.trim() == '' || that.newTestimonial.testimonial.trim() == '') {
                     that.check_error = true;
                 } else {

                     that.check_error = false;

                     let index = that.currentPortal['testimonials'].indexOf(that.currentTestimonial);
                     if (index != -1) {
                         that.currentPortal['testimonials'][index] = that.newTestimonial;

                         if (that.file.name != "File")
                             that.list_file.push(that.file);
                     }


                     that.index_edit = -1;
                     that.show_edit = false;
                     that.show_save = true;
                     that.reset_newTestimonial();
                 }

            },
            cancelEdit(){
                let that = this as any;
                that.index_edit = -1;
                that.show_edit = false;
                that.show_save = false;
                that.reset_newTestimonial();
            },
            save(){
                let that = this as any;
                that.uploadListImage().then(()=>{
                   that.updateFb()
                })
            },
            updateFb(){
                let that = this as any;
                that.flag_save_change = true
                that.currentOriginPortal.update().then(()=>{
                        // that.$toasted.show(messages.COMMON_SAVED)
                 })
                setTimeout(()=>{
                    that.show_save = false
                    that.flag_save_change = false
                },1500)
            }
        },

    });
</script>
