<template>
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="p-3">{{messages.SR_050_OPEN_POSITIONS_REPORT}}</h1>
        </div>
        <div>
            <PiplinePositionTableGroup :key="pipeline_id" v-for="(positions, pipeline_id) in positionsByPipeline"
                :positions="positions"
                :pipeline_id="pipeline_id">
            </PiplinePositionTableGroup>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import _ from "lodash";
    import {mapGetters, mapMutations, mapState, mapActions} from 'vuex';
    import PiplinePositionTableGroup from '@/components/Analytics/OpenPositions/PiplinePositionTableGroup.vue';

    export default Vue.extend({
        name: "ReportOpenPosition",
        components: {
            PiplinePositionTableGroup,
        },
        computed:{
            ...mapGetters([
                'currentCompany',
                'currentUser',
            ]),
            ...mapGetters({
                listPipeline: 'listPipeline',
                list_position: 'listPosition',
                pipelineStages: 'pipelineStages',
                condition_filter: 'report/position_filter',
            }),
            positionsByPipeline() {
                let that = this as any;
                let positions = {} as any;
                if(that.condition_filter.type == 'by_system' && that.condition_filter.value == 'all'){
                    positions = that.all_company_position
                }
                else if(that.condition_filter.type == 'by_system'){
                    if (that.condition_filter.value == 'my-all'){
                        positions = that.my_all_positions
                    }
                    else if (that.condition_filter.value == 'my-published'){
                        positions = that.my_published_positions
                    }
                    else if (that.condition_filter.value == 'my-draft'){
                        positions =  that.my_draft_positions
                    }

                } else if(that.condition_filter.type == 'by_position'){
                    const position = _.find(that.list_position, (position)=>(position.id==that.condition_filter.value));
                    if (position) {
                        positions = [position];
                    }
                }
                return _.groupBy(positions, 'pipeline_id');
            },
            all_company_position(){
                let that = this as any;
                return _.filter(that.list_position, (p,)=>{
                    return  p.status == 'published'
                });
            },
            all_positions(){
                let that = this as any;
                return _.filter(that.list_position, (p,)=>{
                    return p.created_by == that.currentUser.id
                });

            },

            my_all_positions(){
                let that = this as any;
                return _.filter(that.all_positions, (p,)=>{
                    return p.status == 'published'
                });

            },

            my_published_positions(){
                let that = this as any;
                return _.filter(that.all_positions, (p)=>{
                    return p.status == 'published'
                })
            },
            my_draft_positions (){
                let that = this as any;
                return _.filter(that.all_positions, (p)=>{
                    return p.status == 'draft'
                })
            },
        },
        watch:{
            condition_filter(val){
                if(val){
                    this.positionsByPipeline
                }
            }
        },
        data(){
            return {
                loading: false
            }
        }
    });
</script>
