<template>
    <div class="chart-full-container">
        <div class="chart-pie">
            <h2 class="chart-label">
                <span>{{messages.SR_050_POSITION_COUNT_BY_USER}}</span>
<!--                <div class="chart-actions">-->
<!--                    <a class="btn btn-gray" href="#" ng-click="exportPieChart('PositionCountByUser', pipeline.name, reports['total_positions_' + pipeline.id].table)">-->
<!--                        <i class="fas fa-cloud-download-alt"></i>-->
<!--                        <span>Export</span>-->
<!--                    </a>-->
<!--                </div>-->
            </h2>
            <!-- Chart content -->
            <div class="border rounded py-3 my-2 d-flex justify-content-between" style="width: 100%; background: #ffffff" v-if="dataChartCountByUser">
                <div class="pl-4" style="width: 300px">
                    <PieChart :chartData="dataChartCountByUser" :options="stages_chart_options"></PieChart>
                </div>
                <div class="container d-flex justify-content-end">
                    <table class="table ml-5">
                        <tbody>
                            <tr v-for="(user, index) in Object.keys(positionUsers)" :key="index" class="pl-5">
                                <td class="px-3 name"><span v-b-tooltip.hover.bottom="chartDataPositionCountByUser.labels[index]">{{chartDataPositionCountByUser.labels[index]}}</span></td>
                                <td class="px-3 count"><span>{{chartDataPositionCountByUser.data[index]}}</span></td>
                                <td class="px-3 graph" style="width:95%">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" :style="`background: ${chartDataPositionCountByUser.backgroundColor[index]}; width: ${chartDataPositionCountByUser.percentage[index]}%;`"
                                             :aria-valuenow="parseInt(chartDataPositionCountByUser.percentage[index])" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td>{{chartDataPositionCountByUser.percentage[index]}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="chart-pie">
            <h2 class="chart-label">
                <span>{{messages.SR_050_AVG_DAYS_OPEN_BY_USER}}</span>
<!--                <div class="chart-actions">-->
<!--                    <a class="btn btn-gray" href="#" ng-click="exportPieChart('AverageDaysOpenByUser', pipeline.name, reports['avg_open_time_' + pipeline.id].table)">-->
<!--                        <i class="fas fa-cloud-download-alt"></i>-->
<!--                        <span>Export</span>-->
<!--                    </a>-->
<!--                </div>-->
            </h2>
            <!-- Chart content -->
            <div class="border rounded py-3 my-2 d-flex justify-content-between" style="width: 100%; background: #ffffff" v-if="dataAvgDaysOpenByUser">
                <div class="pl-4" style="width: 300px">
                    <BarChart :chartData="dataAvgDaysOpenByUser" :options="options"></BarChart>
                </div>
                <div class="container d-flex justify-content-end">
                    <table class="table ml-5">
                        <tbody>
                            <tr v-for="(user, index) in Object.keys(positionUsers)" :key="index">
                                <td class="px-3 name"><span v-b-tooltip.hover.bottom="chartAvgDayOpen.labels[index]">{{chartAvgDayOpen.labels[index]}}</span></td>
                                <td class="px-3 count"><span>{{chartAvgDayOpen.avgDayOpen[index] | toFixResult}}</span></td>
                                <td class="px-3 graph" style="width:95%">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" :style="`background: ${chartAvgDayOpen.backgroundColor[index]}; width: ${chartAvgDayOpen.percentage[index]}%;`"
                                             :aria-valuenow="parseInt(chartAvgDayOpen.percentage[index])" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import PieChart from '../Charts/PieChart.vue';
    import BarChart from '../Charts/BarChart.vue';
    import _ from "lodash";
    import {mapGetters, mapMutations, mapState, mapActions} from 'vuex';
    import moment from "moment";
    import $ from "jquery"
    import {server_time} from "@/firebase";
    let colors = require('nice-color-palettes');

    const lineStyle = (color: string):any =>({
        backgroundColor: 'rgba(0, 0, 0, 0)',
        borderColor: color,
        pointBackgroundColor: color,
        pointBorderColor: "white",
    });
    export default Vue.extend({
        name: "OpenPositionByUser",
        props:{
            positions: {
                type: Array,
                default: () => {return []},
            },
            pipeline_id: {
                type: String,
                default: null
            },
        },
        components: {
            PieChart,
            BarChart
        },
        mounted(){
            this.chartPositionCountByUser();
            this.chartAvgDaysOpenByUser();
        },
        filters:{
            toFixResult(value){
                if(isNaN(parseInt(value)) == false){
                    return Number((value).toFixed(2)).toLocaleString()
                }
                return ""
            }
        },
        computed: {
            ...mapGetters({
                listPipeline: 'listPipeline',
                pipelineStages: 'pipelineStages',
                companyUsers: 'companyUsers',
            }),
            pipeline() {
                let that = this as any;
                return that.pipelineStages[that.pipeline_id] || {};
            },
            stages() {
                let that = this as any;
                let stages = that.pipelineStages[that.pipeline_id] || [];
                return stages
            },
            positionUsers() {
                let that = this as any;
                return _.groupBy(that.positions, 'created_by');
            },
            chartDataPositionCountByUser(){
                let that = this as any;
                let sizeChartData =  _.size(that.positionUsers);
                const count_palletes = (sizeChartData/colors[0].length) + 1;
                let color_palletes = [];
                _.range(count_palletes).forEach((i)=>{
                    color_palletes=[...color_palletes, ...colors[i]]
                });
                let data = {labels: [], data: [], backgroundColor: [], percentage: []};
                let total = 0;
                Object.keys(that.positionUsers).forEach((created_by) => {
                    data.labels.push(that.getCreator(created_by));
                    data.data.push(that.positionUsers[created_by].length);
                    total += that.positionUsers[created_by].length;
                    data.backgroundColor.push(color_palletes[data.backgroundColor.length])

                });
                Object.keys(that.positionUsers).forEach((created_by) => {
                    data.percentage.push((that.positionUsers[created_by].length/total * 100).toFixed(0));
                });
                return data
            },
            chartAvgDayOpen(){
                let that = this as any;
                let sizeChartData =  _.size(that.positionUsers);
                const count_palletes = (sizeChartData/colors[0].length) + 1;
                let color_palletes = [];
                _.range(count_palletes).forEach((i)=>{
                    color_palletes=[...color_palletes, ...colors[i]]
                });
                let data = {labels: [], avgDayOpen: [], backgroundColor: [], percentage: []};
                let total = 0;
                Object.keys(that.positionUsers).forEach((created_by) => {
                    data.labels.push(that.getCreator(created_by));
                    data.avgDayOpen.push(that.avgPositionByuser(that.positionUsers[created_by]));
                    total += that.avgPositionByuser(that.positionUsers[created_by]);
                    data.backgroundColor.push(color_palletes[data.backgroundColor.length])

                });
                let index = 0;
                Object.keys(that.positionUsers).forEach((created_by) => {
                    data.percentage.push(data.avgDayOpen[index]/total * 100);
                    index += 1
                });
                return data
            }

        },
        watch:{
            positions(val){
                if(val){
                    let that = this as any;
                    that.chartPositionCountByUser();
                    that.chartAvgDaysOpenByUser()
                }
            }
        },
        data(){
            return {
                stages_chart_options:{
                    responsive: true,
                    legend: {
                        display: false,
                        position: 'right',
                        labels: {
                            text: '00'
                        }
                    }
                },
                options: {
                    legend: {
                        display: false,
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0
                            }
                        }]
                    },
                },
                dataChartCountByUser: null,
                dataAvgDaysOpenByUser: null
            }
        },
        methods: {
            avgPositionByuser(positions){
                let that = this as any;
                let total = 0;
                positions.forEach((position)=>{
                    let diff = moment(server_time.now).diff(moment(position.created_date));
                    total +=  moment.duration(diff).days();
                });
                return total/positions.length
            },
            avgDayOpen(created_by){
                let avgDayOpen;
                let that = this as any;
                avgDayOpen =  Object.keys(that.positionUsers).forEach((item)=>{
                    return item = created_by
                });
                let avgDate = moment(avgDayOpen[0].created_date).diff(moment());
                return moment.duration(avgDate).days();
            },
            getCreator(created_by){
                let createdBy;
                let that = this as any;
                createdBy = _.filter(that.companyUsers, (user)=>{
                    return user.id == created_by
                });
                return createdBy.length>0? createdBy[0].name:'-';
            },
            chartPositionCountByUser () {
                let that = this as any;
                that.dataChartCountByUser = {
                    labels: that.chartDataPositionCountByUser.labels,
                    datasets: [
                        {
                            backgroundColor: that.chartDataPositionCountByUser.backgroundColor,
                            data: that.chartDataPositionCountByUser.data
                        }
                    ]
                }
            },
            chartAvgDaysOpenByUser(){
                let that = this as any;
                that.dataAvgDaysOpenByUser = {
                    labels: that.chartAvgDayOpen.labels,
                    datasets: [
                        {
                            backgroundColor: that.chartAvgDayOpen.backgroundColor,
                            data: that.chartAvgDayOpen.avgDayOpen
                        }
                    ]
                }
            }
        }
    })
</script>

<style lang="scss">

</style>
