<template>
    <!-- Table -->
    <div class="chart-full-container mx-0 px-0 pb-3 my-3 rounded opent-position-report">
        <!-- Header -->
        <div class="bg-light border p-4 rounded mb-5" :key="pipeline_id" v-if="pipeline">
            <h2 class="chart-label">
                <span>{{messages.SR_050_OPEN_POSITIONS_STATISTICS}} ({{pipeline.title}})</span>
<!--                <div class="chart-actions">-->
<!--                    <a class="btn btn-gray" href="#" ng-click="export(pipeline.name, pipeline.id)">-->
<!--                        <i class="fas fa-cloud-download-alt"></i>-->
<!--                        <span>Export</span>-->
<!--                    </a>-->
<!--                </div>-->
            </h2>
            <!-- Table content -->
            <div style="overflow:auto">
                <table class="data-table-grid">
                    <tbody>
                        <tr style="font-weight: bold">
                            <th>{{messages.SR_050_POSITION}}</th>
                            <th>{{messages.SR_050_REQUISITION_ID}}</th>
                            <th>{{messages.SR_050_CREATOR}}</th>
                            <th>{{messages.SR_050_LOCATION}}</th>
                            <th class="centered">{{messages.SR_050_DAY_OPEN}}</th>
                            <th class="centered" :key="stage.id" v-for="stage in stages">{{stage.title}}</th>

                        </tr>
                        <tr :key="position.id" v-for="position in positions">
                            <td>
                                <span class="secondary-link" v-b-tooltip.hover.bottom="position.title" data-container="body"
                                      @click="gotoCandidates(position.id)">{{position.title}}</span>
                            </td>
                            <td>
                                <span v-b-tooltip.hover.bottom="position.department" data-container="body">{{position.department}}</span>
                            </td>
                            <td>
                                <span v-b-tooltip.hover.bottom="creatorPosition(position.created_by)" data-container="body">{{creatorPosition(position.created_by)}}</span>
                            </td>
                            <td>
                                <span v-b-tooltip.hover.bottom="`${position.state}   ${position.location.title}`" data-container="body"
                                      class="ng-binding">{{position.state}}, {{position.location.title}}</span>
                            </td>
                            <td class="centered">
                                <span :class="countDaysOpenPosition(position.created_date)?'count':''">{{countDaysOpenPosition(position.created_date)}}</span>
                            </td>
                            <td class="centered" :key="stage.id" v-for="stage in stages">
                                <p >
                                    <span :class="getData(position, stage)?'count':''">{{getData(position, stage) || 0}}</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-light border p-4 rounded">
            <OpenPositionByUser
                :positions="positions"
                :pipeline_id="pipeline_id">
            </OpenPositionByUser>
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapMutations, mapState, mapActions} from 'vuex';
    import OpenPositionByUser from '@/components/Analytics/OpenPositions/OpenPositionByUser.vue'
    import _ from "lodash";
    import moment from "moment"

    export default {
        name: "PiplinePositionTableGroup",
        props:{
            positions: {
                type: Array,
                default: () => {return []},
            },
            pipeline_id: {
                type: String,
                default: null
            },

        },
        components:{
            OpenPositionByUser
        },
        data() {
            return {
                data_report: {},
            }
        },
        computed: {
            ...mapGetters({
                listPipeline: 'listPipeline',
                pipelineStages: 'pipelineStages',
                companyUsers: 'companyUsers',
                currentCandidates: "currentCandidates",
                unsubscribeCandidates:"unsubscribeCandidates"
            }),
            pipeline() {
                let that = this as any;
                return  _.find(that.listPipeline, ['id', that.pipeline_id])|| {};
            },
            candidatesByPosition() {
                let that = this as any;
                let candidates = that.currentCandidates.map((candidate) => {
                    return candidate.cloneNewObject()
                });
                let groups =_.groupBy(candidates, 'position_id') as object;
                Object.keys(groups).forEach((position_id) => {
                    groups[position_id] = _.groupBy(groups[position_id], 'stage_id')
                });
                return groups;
            },
            stages() {
                let that = this as any;
                let stages = that.pipelineStages[that.pipeline_id] || [];
                return stages
            },

        },
        destroyed(): void {
            let that = this as any;
            if(that.unsubscribeCandidates){
                that.unsubscribeCandidates()
            }
        },
        mounted() {
            let that = this as any;
            that.getCandidates()
        },
        methods: {
            ...mapActions([
                'getCandidates'
            ]),
            creatorPosition(pcb) {
                let createdBy;
                let that = this as any;
                createdBy = _.filter(that.companyUsers, (user)=>{
                    return user.id == pcb
                });
                return createdBy.length > 0?createdBy[0].name : '-'
            },
            countDaysOpenPosition(cd){
                let newDate = moment();
                let createdDate = moment(cd, "x");
                return newDate.diff(createdDate, "days")
            },
            gotoCandidates(id){
                let that = this as any;
                that.$router.push(`/p/${id}/pipeline`);
            },
            getData(position, stage) {
                let that = this as any;
                let temp = that.candidatesByPosition[position.id];
                if (temp) {
                    return temp[stage.id]? temp[stage.id].length : 0;
                }
                return 0;
            }
        }
    }
</script>
<style lang="scss">
    .opent-position-report {
        .secondary-link {
            border-bottom: 1px dotted #84929f !important;
            cursor: pointer !important;
            display: inline-block !important;
            vertical-align: middle !important;
            transition: .3s !important;
        }
    }
</style>
