<template>
    <ul
        :style="{'width':width + 'px'}"
        :class="isShowGroup?'container-item-group':'container-item'">
        <li
            v-for="(option, index) in listData"
            v-if="!option.hide"
            @click="setSelectedOption(option)"
            :key="index">
            <i v-if="option.icon && isShowIcon" :class="option.icon"></i>
            <avatar style="display: inline-block" class="avatar color4" :size="26" :username="option.name"  :src="option.photoURL" v-if="isShowAvatar"></avatar>
            {{ option[titleField] }}
        </li>
    </ul>
</template>

<script>
    import avatar from 'vue-avatar';
    export default {
        name:"ItemComponent",
        components:{
            avatar
        },
        props: {
            listData: {
                type: Array,
                default: () => {
                    return [];
                }
            },
            isShowIcon: {
                type: Boolean,
                default: () => {
                    return false;
                }
            },
            isShowGroup:{
                type: Boolean,
                default: ()=>{
                    return false;
                }
            },
            titleField:{
                type: String,
                default: 'title'
            },
            width:{
                type: Number,
                default: 200
            },
            isShowAvatar: {
                type: Boolean,
                default: () => {
                    return false
                }
            },
        },
        methods: {
            setSelectedOption(option) {
                this.$emit('setSelectedOption', option)
            },
        },
    }
</script>

<style lang="scss" scoped>
    .container-item {
        transition: visibility 0s linear 0.33s, opacity 0.33s linear;
        position: absolute;
        z-index: 1000;
        padding: 5px 10px;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        border: 2px solid #edeff0;
        background-clip: padding-box;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        max-height: 200px;
        overflow-x: hidden;

        li {
            overflow: hidden;
            text-overflow: ellipsis;
            color: #4c555c !important;
            padding: 3px 10px !important;
            border-radius: 4px;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            white-space: nowrap;
            transition: .3s;
            overflow: hidden;
            text-overflow: ellipsis;
            /*font-weight: bold;*/
            &:hover {
                background-color: #edeff0;
                cursor: pointer;
            }
        }
    }
    .container-item-group{
        left:0px;
        li{
            overflow: hidden;
            text-overflow: ellipsis;
            color: #4c555c !important;
            padding: 3px 10px !important;
            border-radius: 4px;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            /*font-weight:bold;*/
            white-space: nowrap;
            transition: .3s;
            margin-left: -10px;
            margin-right: -10px;
            font-size:14px;
        }
    }
</style>



