<template>
    <div class="container-wrapper container">
        <h2 class="company-name">
            <router-link :to="{name:'LandingPageHome'}" class="back">
                <i class="fa fa-arrow-left"></i>
                <span> {{currentPositionView.title}}</span>
            </router-link>
        </h2>
        <div class="confirmation-container">
            <div class="application-confirmed">
                <i class="fa fa-check"></i>
                <h1 class="polygot">{{$cjpmessages.SR_048_TITLE_SUBMITTED}}</h1>
                <p class="polygot text-center">{{$cjpmessages.SR_048_DES_SUBMITTED}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: "SimpleApplySuccess",
         computed:{
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'currentDepartmentsLandingPage',
                'currentLocationsLandingPage',
                'currentPositionView',
                'convertLinkToEmbedLink',
                'currentCandidateLandingPage'

            ])
        },
    }
</script>

<style scoped lang="scss">
    .container-wrapper{
        margin-top: 70px;
        .company-name{
            max-width: 900px;
            margin: auto;
            padding: 0px 40px;
            a{
                text-decoration: unset;
                color: #8d9aa5;
            }
            &:hover{
                color: #5d6b76;
            }
        }
        .confirmation-container{
            margin-top: 70px;
            padding: 40px;
            height: 500px;
            .application-confirmed{
                margin: 50px 0;
                text-align: center;
                i{
                    text-align: center;
                    font-size: 100px;
                    color: #86c68f;
                }
                h1 {
                    font-size: 43px !important;
                    margin-bottom: 20px !important;
                    color: #444444;
                    font-weight: 400 !important;
                }
                p {
                    color: #444444;
                }
            }
        }
    }
</style>
