<template>
    <div>
        <b-modal id="modal-add-education" :no-close-on-backdrop="true" ref="add-education" :title="mode=='add'?messages.SR_033_EDUCATION_MODAL_TITLE_ADD:messages.SR_033_EDUCATION_MODAL_TITLE_EDIT" @hidden="$emit('dismissModal')"
                 hide-footer>
            <div class="candidate-update-container">
                <div class="positions section">
                    <div class="position">
                        <input
                        class="name data ng-pristine ng-untouched ng-invalid ng-invalid-required"
                        type="text"
                        name="shool_name"
                        v-model="current_education.school_name"
                        :placeholder="messages.SR_033_PLACEHOLDER_SCHOOL_NAME"
                        v-validate="'required:true'"
                        :class="errors.has('shool_name') && submit_form ?'error':''"
                        >
                        <input class="name data ng-pristine ng-untouched ng-invalid ng-invalid-required"
                               type="text"
                               v-model="current_education.field_of_study"
                               :placeholder="messages.SR_033_PLACEHOLDER_FIELD_STUDY"
                               ng-required="true"
                               required="required">
                        <div class="selected-data-container">
                            <div class="selected-time start-date-container date-container" v-if="Object.keys(current_education).length > 0">
                                <div class="month dd ng-valid">
                                    <Select
                                        v-model="current_education.start_date.year"
                                        size="small"
                                        :placeholder="messages.SR_033_PLACEHOLDER_START_YEAR"
                                        class="departments">
                                        <Option :key="index" v-for="(year,index) in list_year" :label="year" :value="year"></Option>
                                    </Select>
                                </div>
                            </div>
                            <div class="selected-time splitter">-</div>
                            <div class="selected-time end-date-container date-container" style="margin-left: 10px" v-if="Object.keys(current_education).length > 0">
                                <div class="month dd ng-valid">
                                     <Select
                                         size="small"
                                         v-model="current_education.end_date.year"
                                         :placeholder="messages.SR_033_PLACEHOLDER_END_YEAR"
                                         class="departments">
                                         <Option :key="index" v-for="(year,index) in list_year" :label="year" :value="year"></Option>
                                     </Select>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            <div class="actions-container">
                <span class="status ng-binding"></span>
                <div class="primary-actions">
                    <span v-if="updating" class="actions" style="float: left;">
                       {{messages.SR_033_UPDATED}}
                    </span>
                    <ul class="actions" style="text-align: right;">
                        <li style="display: inline-block">
                            <a class="btn btn-none cancel" @click="$refs['add-education'].hide()">
                                <i class="fa fa-times"></i>
                                <span> {{messages.SR_033_BTN_CANCEL}}</span>
                            </a>
                        </li>
                        <li style="display: inline-block">
                            <button class="btn btn-blue" @click="updateCandidate()">
                                <i class="fa fa-edit"></i>
                                <span> {{messages.SR_033_BTN_CHANGE}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </b-modal>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex';
    import {Select,Option} from 'element-ui';
    import _ from 'lodash'
    import VeeValidate from 'vee-validate';
    import {server_time} from "@/firebase";
    Vue.use(VeeValidate);
    export default {
        name: "AddEducation",
        data(){
            return {
                new_education:{
                    school_name:'',
                    field_of_study:'',
                    summary:'',
                    start_date: {
                        month:  null,
                        year:  null
                    },
                    end_date: {
                        month:  null,
                        year:  null
                    }
                },
                list_year:[],
                current_education:{},
                candidate:{},
                submit_form:false,
                updating:false,
            }
        },
        props:{
            showModal:{
                type: Boolean,
                default: false
            },
            mode:{
                type: String,
                default: 'add',
            },
            indexOfEducation:{
                type: [String,Number],
                default: null,
            }
        },
        components:{
          Select,
          Option
        },
        computed:{
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate"
            ])
        },
        watch:{
            showModal:{
                 handler(val,old_val) {
                     let that = this as any
                     if (val) {
                         that.candidate = _.cloneDeep(that.currentCandidate)
                         that.openModal()
                     }
                 },deep: true
            }
        },
        mounted(){
            let that = this as any
            that.getcurrentYear();
        },
        methods:{
            openModal(){
                let that = this as any
                let index = that.indexOfEducation
                that.current_education = _.cloneDeep(that.new_education)
                if(that.mode == 'edit' && index != null ){
                    that.current_education = Object.assign(that.current_education,that.candidate.education[index])
                }else{
                    //not thing
                }
                that.$refs['add-education'].show()
            },
            getcurrentYear(){
                let that = this as any
                let currentTime = server_time.now
                let max_year = currentTime.getFullYear()
                let min_year = max_year -80
                console.log('year:', max_year)
                that.list_year = _.range(min_year,max_year + 1).reverse() // create arr min_year -> maxyear
            },
            updateCandidate(){
                let that = this as any
                let index = that.indexOfEducation
                that.submit_form = true

                that.$validator.validateAll().then((result)=>{
                    if (result) {
                        that.updating = true
                        if(that.mode == 'add'){
                            that.currentCandidate.education.push(that.current_education)
                        }else if(that.mode == 'edit') {
                           that.currentCandidate.education[index] = Object.assign(that.currentCandidate.education[index],that.current_education)
                        }else{
                            //not thing
                        }
                        that.currentCandidate.update().then((data) => {
                            that.$refs['add-education'].hide()
                            that.submit_form = false
                            that.updating = false
                        })
                    }

                })
            }
        }
    }
</script>

<style  lang="scss">
    /*@import '~element-ui/lib/theme-chalk/index.css';*/
    #modal-add-education{
        .candidate-update-container {
            .selected-data-container{
                display: flex;
                justify-content: flex-start;
                .date-container{
                    .month.dd{
                        display: block;
                        margin: 10px;
                        margin-left: 0px;
                        min-width: 130px;
                        input {
                            width: 100% !important;
                            color: #4c555c;
                            font-size: 14px ;
                            font-weight: 200;
                            margin-bottom: 0px !important;
                        }
                        &:focus{
                            border-color: #5ac0e5 !important;
                        }
                    }
                    .year.dd{
                        min-width: 130px;
                    }
                }
                .splitter{
                    margin: auto 10px;
                }
            }
        }
        .btn.cancel{
            margin-right: 10px;
        }
    }

</style>
