<template>
    <div>
        <b-modal :no-close-on-backdrop="true" ref="add-email" :title="messages.SR_033_CONTACT_TITLE_MODAL" @hidden="$emit('dismissModal')" hide-footer>
            <div class="section">
                <input class="name ng-pristine ng-valid ng-valid-email ng-touched"
                       style="margin-bottom: 10px; width: 250px;"
                       name="cEmail"
                       v-model.trim="candidate.email_address"
                       v-validate="'email'"
                       type="email"
                       :class="errors.has('cEmail')?'error':''"
                       :placeholder="messages.SR_033_PLACEHOLDER_EMAIL">
                <input class="name ng-pristine ng-untouched ng-valid"
                       type="text"
                       style="margin-bottom: 10px; width: 250px;"
                       v-model="candidate.phone_number"
                       :placeholder="messages.SR_033_PLACEHOLDER_PHONE">
            </div>
            <div class="actions-container">
                <span class="status ng-binding"></span>
                <div class="primary-actions">
                    <span v-if="submit_form" class="actions" style="float: left;">
                       {{messages.SR_033_UPDATED}}
                    </span>
                    <ul class="actions" style="text-align: right;">
                        <li style="display: inline-block">
                            <a class="btn btn-none cancel" @click="$refs['add-email'].hide()">
                                <i class="fa fa-times"></i>
                                <span> {{messages.SR_033_BTN_CANCEL}}</span>
                            </a>
                        </li>
                        <li style="display: inline-block">
                            <button class="btn btn-blue" @click="updateCandidate()">
                                <i class="fa fa-edit"></i>
                                <span> {{messages.SR_033_BTN_CHANGE}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex'
    import _ from 'lodash'
    import VeeValidate from 'vee-validate';
    Vue.use(VeeValidate);
    export default {
        name: "AddEmail",
        data(){
            return {
                candidate:{},
                submit_form:false
            }
        },
        props:{
          showModal:{
              type: Boolean,
              default: false
          }
        },
        computed:{
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate"
            ])
        },
        watch:{
            // currentCandidate:{
            //     handler(val,old_val){
            //          debugger
            //         let that = this as any
            //         if(val){
            //             that.candidate = _.cloneDeep(val)
            //         }
            //     },deep: true
            // },
            showModal:{
                 handler(val,old_val) {
                     let that = this as any
                     if (val) {
                         that.candidate = _.cloneDeep(that.currentCandidate)
                         that.openModal()
                     }
                 },deep: true
            }
        },
        mounted(){

        },
        methods:{
            openModal(){
                let that = this as any
                that.$refs['add-email'].show()
            },
            updateCandidate(){
                let that = this as any
                that.$validator.validateAll().then((result) => {
                    if(result){
                        that.submit_form = true
                        that.currentCandidate.email_address = that.candidate.email_address
                        that.currentCandidate.phone_number = that.candidate.phone_number

                        that.currentCandidate.update().then((data) => {
                            that.$refs['add-email'].hide()
                            that.submit_form = false
                        })
                    }
                })
            }
        }
    }
</script>

<style scoped>
    .btn.cancel{
        margin-right: 10px;
    }
</style>
