<template>
     <div>
        <b-modal :no-close-on-backdrop="true" ref="add-summary" :title="messages.SR_033_SUMMARY_TITLE_MODAL" @hidden="$emit('dismissModal')" hide-footer>
            <div class="candidate-update-container">
                <div class="section summary-container ng-scope">
                    <input class="name data ng-pristine ng-untouched ng-valid"
                           type="text"
                           v-model.trim="candidate.headline"
                           :placeholder="messages.SR_033_PLACEHOLDER_HEADLINE">
                    <textarea v-model.trim="candidate.summary"
                              :placeholder="messages.SR_033_PLACEHOLDER_SUMMARY"
                              class="ng-pristine ng-untouched ng-valid">
                    </textarea>
                </div>
            </div>
            <div class="actions-container">
                <span class="status ng-binding"></span>
                <div class="primary-actions">
                    <span v-if="submit_form" class="actions" style="float: left;">
                       {{messages.SR_033_UPDATED}}
                    </span>
                    <ul class="actions" style="text-align: right;">
                        <li style="display: inline-block">
                            <a class="btn btn-none cancel" @click="$refs['add-summary'].hide()">
                                <i class="fa fa-times"></i>
                                <span> {{messages.SR_033_BTN_CANCEL}}</span>
                            </a>
                        </li>
                        <li style="display: inline-block">
                            <button class="btn btn-blue" @click="updateCandidate()">
                                <i class="fa fa-edit"></i>
                                <span> {{messages.SR_033_BTN_CHANGE}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex'
    import _ from 'lodash'
    export default {
        name: "AddSummary",
         data(){
            return {
                candidate:{},
                submit_form:false
            }
        },
        props:{
          showModal:{
              type: Boolean,
              default: false
          }
        },
        computed:{
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate"
            ])
        },
        watch:{
            showModal:{
                 handler(val,old_val) {
                     let that = this as any
                     if (val) {
                         that.candidate = _.cloneDeep(that.currentCandidate)
                         that.openModal()
                     }
                 },deep: true
            }
        },
        mounted(){

        },
        methods:{
            openModal(){
                let that = this as any
                that.$refs['add-summary'].show()
            },
            updateCandidate(){
                let that = this as any
                that.submit_form = true
                that.currentCandidate.headline = that.candidate.headline
                that.currentCandidate.summary = that.candidate.summary

                that.currentCandidate.update().then((data) => {
                    that.$refs['add-summary'].hide()
                    that.submit_form = false
                })

            }
        }
    }
</script>

<style scoped>
    .btn.cancel{
        margin-right: 10px;
    }
</style>
