<template>
    <div>
        <b-modal id="modal-edit-experience" :no-close-on-backdrop="true" ref="add-work-history" :title="mode=='add'?messages.SR_033_WORK_EXPERIENCE_MODAL_TITLE_ADD:messages.SR_033_WORK_EXPERIENCE_MODAL_TITLE_EDIT" @hidden="$emit('dismissModal')"
                 hide-footer>
            <div class="candidate-update-container">
                <div class="positions section">
                    <div class="position">
                        <input
                        class="name data ng-pristine ng-untouched ng-invalid ng-invalid-required"
                        type="text"
                        name="workTitle"
                        v-model="current_work_history.title"
                        :placeholder="messages.SR_033_PLACEHOLDER_JOB_TITLE"
                        v-validate="'required:true'"
                        :class="errors.has('workTitle') && submit_form?'error':''"
                        >
                        <input class="name data ng-pristine ng-untouched ng-invalid ng-invalid-required"
                               type="text"
                               name="workName"
                               v-model="current_work_history.company_name"
                               :placeholder="messages.SR_033_PLACEHOLDER_COP_NAME"
                               v-validate="'required:true'"
                               :class="errors.has('workName') && submit_form?'error':''">
                        <textarea
                            v-model="current_work_history.summary"
                            :placeholder="messages.SR_033_SUMMARY_EXPERIANCE"
                            class="ng-pristine ng-valid ng-touched">
                        </textarea>
                        <div class="selected-data-container">
                            <div class="selected-time start-date-container date-container" v-if="Object.keys(current_work_history).length > 0">
                                <div class="month dd ng-valid">
                                    <Select
                                        v-model="current_work_history.start_date.month"
                                        size="small"
                                        :placeholder="messages.SR_033_PLACEHOLDER_START_MONTH"
                                        class="departments">
                                        <Option :key="index" v-for="(month,index) in list_month" :label="month.name" :value="month.value"></Option>
                                    </Select>
                                </div>
                                <div class="month dd ng-valid">
                                    <Select
                                        v-model="current_work_history.start_date.year"
                                        size="small"
                                        :placeholder="messages.SR_033_PLACEHOLDER_START_YEAR"
                                        class="departments">
                                        <Option :key="index" v-for="(year,index) in list_year" :label="year" :value="year"></Option>
                                    </Select>
                                </div>
                            </div>
                            <div class="selected-time splitter" >-</div>
                            <div style="margin-left: 10px" class="selected-time end-date-container date-container" v-if="Object.keys(current_work_history).length > 0">
                                <div class="month dd ng-valid">
                                     <Select
                                         size="small"
                                         :placeholder="messages.SR_033_PLACEHOLDER_END_MONTH"
                                         v-model="current_work_history.end_date.month"
                                         class="departments">
                                         <Option :key="index" v-for="(month,index) in list_month" :label="month.name" :value="month.value"></Option>
                                    </Select>
                                </div>
                                <div class="month dd ng-valid">
                                     <Select
                                         size="small"
                                         v-model="current_work_history.end_date.year"
                                         :placeholder="messages.SR_033_PLACEHOLDER_END_YEAR"
                                         class="departments">
                                         <Option :key="index" v-for="(year,index) in list_year" :label="year" :value="year"></Option>
                                     </Select>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            <div class="actions-container">
                <span class="status ng-binding"></span>
                <div class="primary-actions">
                    <span v-if="updating" class="actions" style="float: left;">
                       {{messages.SR_033_UPDATED}}
                    </span>
                    <ul class="actions" style="text-align: right;">
                        <li style="display: inline-block">
                            <a class="btn btn-none cancel" @click="$refs['add-work-history'].hide()">
                                <i class="fa fa-times"></i>
                                <span> {{messages.SR_033_BTN_CANCEL}}</span>
                            </a>
                        </li>
                        <li style="display: inline-block">
                            <button class="btn btn-blue" @click="updateCandidate()">
                                <i class="fa fa-edit"></i>
                                <span> {{messages.SR_033_BTN_CHANGE}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </b-modal>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex';
    import {Select,Option} from 'element-ui';
    import _ from 'lodash'
    import VeeValidate from 'vee-validate';
    Vue.use(VeeValidate);
    import {messages} from "@/messages";
    import {server_time} from "@/firebase";
    export default {
        name: "AddWorkHistory",
        data(){
            return {
                new_work_history:{
                    "company_name":  "",
                    "title": "",
                    "summary":  "",
                    "is_current": true,
                    "start_date": {
                        "month":  null,
                        "year":  null
                    },
                    "end_date": {
                        "month":  null,
                        "year":  null
                    }
                },
                list_month:[
                    {name:messages.SR_033_JAN,value:'01'},
                    {name:messages.SR_033_FEB,value:'02'},
                    {name:messages.SR_033_MAR,value:'03'},
                    {name:messages.SR_033_APR,value:'04'},
                    {name:messages.SR_033_MAY,value:'05'},
                    {name:messages.SR_033_JUN,value:'06'},
                    {name:messages.SR_033_JUL,value:'07'},
                    {name:messages.SR_033_AUG,value:'08'},
                    {name:messages.SR_033_SEP,value:'09'},
                    {name:messages.SR_033_OCT,value:'10'},
                    {name:messages.SR_033_NOV, value:'11'},
                    {name:messages.SR_033_DEC,value:'12'}
                ],
                validate_form:false,
                list_year:[],
                current_work_history:{},
                candidate:{},
                submit_form:false,
                updating:false,
            }
        },
        props:{
          showModal:{
              type: Boolean,
              default: false
          },
          mode:{
              type: String,
              default: 'add',
          },
          indexOfWorkHistory:{
              type: [String,Number],
              default: null,
          }
        },
        components:{
          Select,
          Option
        },
        computed:{
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate"
            ])
        },
        watch:{
            showModal:{
                 handler(val,old_val) {
                     let that = this as any
                     if (val) {
                         that.candidate = _.cloneDeep(that.currentCandidate)
                         that.openModal()
                     }
                 },deep: true
            }
        },
        mounted(){
            let that = this as any
            that.getcurrentYear();
        },
        methods:{
            openModal(){
                let that = this as any
                let index = that.indexOfWorkHistory
                that.current_work_history = _.cloneDeep(that.new_work_history)
                if(that.mode == 'edit' && index != null ){
                    that.current_work_history = Object.assign(that.current_work_history,that.candidate.work_history[index])
                }else{
                    //not thing
                }

                that.$refs['add-work-history'].show()
            },
            getcurrentYear(){
                let that = this as any
                let currentTime = server_time.now
                let max_year = currentTime.getFullYear()
                let min_year = max_year -80
                console.log('year:', max_year)
                that.list_year = _.range(min_year,max_year + 1).reverse() // create arr min_year -> maxyear
            },
            updateCandidate(){
                let that = this as any
                let index = that.indexOfWorkHistory
                that.submit_form = true

                that.$validator.validateAll().then((result)=>{
                    if (result) {
                        that.updating = true
                        if(that.mode == 'add'){
                        that.currentCandidate.work_history.push(that.current_work_history)
                        }else if(that.mode == 'edit') {

                           that.currentCandidate.work_history[index] = Object.assign(that.currentCandidate.work_history[index],that.current_work_history)
                        }else{
                            //not thing
                        }
                        that.currentCandidate.update().then((data) => {
                            that.$refs['add-work-history'].hide()
                            that.submit_form = false
                            that.updating = false
                        })
                    }

                })
            }
        }
    }
</script>

<style  lang="scss">
    /*@import '~element-ui/lib/theme-chalk/index.css';*/
    #modal-edit-experience{
        .candidate-update-container {
            .selected-data-container{
                display: flex;
                justify-content: flex-start;
                .date-container{
                    .month.dd{
                        display: block;
                        margin: 10px;
                        min-width: 140px;
                        margin-left: 0px;
                        input {
                            width: 100% !important;
                            color: #4c555c;
                            font-size: 14px ;
                            font-weight: 200;
                            margin-bottom: 0px !important;
                        }
                        &:focus{
                            border-color: #5ac0e5 !important;
                        }
                    }
                    .year.dd{
                        min-width: 140px;
                    }
                }
                .splitter{
                    margin: auto 10px;
                }
            }
        }
    }
    .btn.cancel{
        margin-right: 10px;
    }

</style>
