<template>
    <div>
        <b-modal :no-close-on-backdrop="true" ref="cover-letter" :title="messages.SR_033_COVER_LETTER_MODAL_TITLE_ADD" @hidden="$emit('dismissModal')" hide-footer>
            <div class="section">
                <textarea v-model="candidate.cover_letter" class="ng-pristine ng-valid ng-touched" spellcheck="false"></textarea>
            </div>
            <div class="actions-container">
                <span class="status ng-binding"></span>
                <div class="primary-actions">
                    <span v-if="submit_form" class="actions" style="float: left;">
                       {{messages.SR_033_UPDATED}}
                    </span>
                    <ul class="actions" style="text-align: right;">
                        <li style="display: inline-block">
                            <a class="btn btn-none cancel" @click="$refs['cover-letter'].hide()">
                                <i class="fa fa-times"></i>
                                <span> {{messages.SR_033_BTN_CANCEL}}</span>
                            </a>
                        </li>
                        <li style="display: inline-block">
                            <button class="btn btn-blue" @click="updateCandidate()">
                                <i class="fa fa-edit"></i>
                                <span> {{messages.SR_033_BTN_CHANGE}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex'
    import _ from 'lodash'
    import VeeValidate from 'vee-validate';
    Vue.use(VeeValidate);
    export default {
        name: "EditCoverLetter",
        data(){
            return {
                candidate:{},
                submit_form:false
            }
        },
        props:{
          showModal:{
              type: Boolean,
              default: false
          }
        },
        computed:{
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate"
            ])
        },
        watch:{
            // currentCandidate:{
            //     handler(val,old_val){
            //          debugger
            //         let that = this as any
            //         if(val){
            //             that.candidate = _.cloneDeep(val)
            //         }
            //     },deep: true
            // },
            showModal:{
                 handler(val,old_val) {
                     let that = this as any
                     if (val) {
                         that.candidate = _.cloneDeep(that.currentCandidate)
                         that.openModal()
                     }
                 },deep: true
            }
        },
        mounted(){

        },
        methods:{
            openModal(){
                let that = this as any
                that.$refs['cover-letter'].show()
            },
            updateCandidate(){
                let that = this as any
                that.submit_form = true
                that.currentCandidate.cover_letter = that.candidate.cover_letter
                that.currentCandidate.update().then((data) => {
                    that.$refs['cover-letter'].hide()
                    that.submit_form = false
                })
            }
        }
    }
</script>

<style scoped>
    .btn.cancel{
        margin-right: 10px;
    }
</style>
