<template>
    <div>
        <div v-if="showModal" id="modal-edit-container">
            <div v-if="candidate">
                <div class="photo-upload-container">
                    <div style="display: inline-block">
                        <avatar class="avatar" :username="candidate.name" :src="candidate.profile_photo_url"></avatar>
                    </div>
                    <div class="attach-file ng-pristine ng-untouched ng-valid"
                         style="overflow: hidden;display: inline-block">
                        <a @click="$refs.uploadAvatar.click()">
                            <i class="fa fa-plus"></i>
                            <span> {{messages.SR_033_BTN_UPLOAD_PHOTO}}</span>
                        </a>

                        <input type="file" accept="image/*"
                               tabindex="-1"
                               ng-file-generated-elem="true"
                               ref="uploadAvatar"
                               @change="uploadAvatar($event.target.files)"
                               style="width: 1px; height: 1px; opacity: 0; position: absolute; padding: 0px; margin: 0px; overflow: hidden;">
                    </div>
                </div>

                <input class="name ng-pristine ng-untouched ng-valid ng-valid-required"
                       type="text"
                       v-model="candidate.name"
                       name="cName"
                       :placeholder="messages.SR_033_PLACEHOLDER_INT_NAME"
                        v-validate="'required:true'"
                       :class="errors.has('cName') && validate_form ?'error':''">
                <textarea class="address ng-pristine ng-untouched ng-valid"
                          v-model="candidate.address"
                          :placeholder="messages.SR_033_PLACEHOLDER_INT_ADDRESS">
                </textarea>
                <input class="data ng-pristine ng-untouched ng-valid"
                       type="text"
                       v-model="candidate.email_address"
                       :placeholder="messages.SR_033_PLACEHOLDER_INT_EMAIL">
                <input class="data ng-pristine ng-valid ng-touched"
                       type="text"
                       v-model="candidate.phone_number"
                       :placeholder="messages.SR_033_PLACEHOLDER_INT_PHONE">
                <input class="data ng-pristine ng-valid ng-touched"
                       type="text"
                       v-model="candidate.alt_phone_number"
                       :placeholder="messages.SR_033_PLACEHOLDER_ALT_PHONE">

    <!--            <input class="data ng-pristine ng-valid ng-touched" type="text" v-model="candidate.alt_phone_number" placeholder="Alt Phone Number">-->

                <h2>{{messages.SR_033_TITLE_CANDIDATE_SOURCE}}</h2>
                <el-select
                    v-model="candidate.source"
                    filterable
                    allow-create
                    default-first-option
                    class="tbxCandidateSource departments"
                    size="small"
                    value-key="id"
                    @visible-change="handlerPlaceholder()"
                    @change="createSource"
                    :placeholder="messages.SR_033_PLACEHOLDER_CANDIDATE_SOURCE">
                    <el-option
                        v-for="item in listCandidateSource"
                        :key="item.sources.id"
                        :label="item.sources.id == 'Portal' ? messages.SR_028_PORTAL :item.sources.name"
                        :value="item.sources">
                    </el-option>
                </el-select>
<!--                <Select-->
<!--                    v-model="candidate.source.name"-->
<!--                    size="small"-->
<!--                    :placeholder="messages.SR_033_PLACEHOLDER_CANDIDATE_SOURCE"-->
<!--                    class="departments">-->
<!--                    <Option label="Portal" value="Portal"></Option>-->
<!--                </Select>-->

                <h2>{{messages.SR_033_TITLE_SOCIAL}}</h2>
                <p v-if="!candidate.social_profiles || candidate.social_profiles.length == 0" class="ng-hide" style="">{{messages.SR_033_DES_NO_SOCIAL}}</p>
                <ul class="contact-details social-profiles" v-show="candidate.social_profiles.length > 0" style="">
                    <!-- ngRepeat: socialProfile in candidate.social_profiles -->
                    <li class="contact-detail ng-scope" :key="index" v-for="(socialProfile,index) in candidate.social_profiles">
                        <div class="social-profile-type ng-valid">
                            <Select v-model="socialProfile.typeName" filterable size="small">
                                <Option
                                    v-for="(item,index) in list_social"
                                    :key="index"
                                    :label="item.name"
                                    :value="item.value">
                                </Option>
                            </Select>
                        </div>
                        <input class="social-resource data ng-pristine ng-untouched ng-invalid ng-invalid-required"
                               type="text"
                               v-model="socialProfile.url"
                               :placeholder="messages.SR_033_PLACEHOLDER_SOCIAL_URL"
                               ng-required="true"
                               required="required">
                        <a class="btn btn-xs btn-none"
                           @click="removeSocialProfile(index)">
                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                    <!-- end ngRepeat: socialProfile in candidate.social_profiles --></ul>
                <ul class="update-actions " ng-if="position.is_admin">
                    <li><a class="update-action smaller btn btn-blue btn-xs" href="javascript:void(0)" @click="addSocialProfile()"><i
                        class="fa fa-plus"></i><span> {{messages.SR_033_BTN_ADD_SOCIAL}}</span></a></li>
                </ul>


                <div ng-if="position.is_admin" class="">
                    <!-- ngIf: shared.beta || shared.activeCompany.company._id === '25c139f2a68f' -->
                    <h2 class="other-information-header">{{messages.SR_033_TITLE_ORTHER_INF}}</h2>

<!--                    <div class="info alert alert-info"-->
<!--                         ng-class="['alert-' + (type || 'warning'), closeable ? 'alert-dismissible' : null]"-->
<!--                         role="alert" type="info">-->
<!--    &lt;!&ndash;                    <button ng-show="closeable" type="button" class="close ng-hide" ng-click="close({$event: $event})">&ndash;&gt;-->
<!--    &lt;!&ndash;                        <span aria-hidden="true">×</span>&ndash;&gt;-->
<!--    &lt;!&ndash;                        <span class="sr-only">Close</span>&ndash;&gt;-->
<!--    &lt;!&ndash;                    </button>&ndash;&gt;-->
<!--                        <div ng-transclude="">-->
<!--                            <p class="">-->
<!--                                <strong>{{messages.SR_033_TITLE_DES_BOLD_ORTHER_INF}}</strong>&nbsp;{{messages.SR_033_TITLE_DES_ORTHER_INF}}</p>-->
<!--                            <p class="">{{messages.SR_033_DES_ORTHER_INF}}</p>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!--            <script type="text/ng-template" id="customAttributes.html">-->
                    <!--                <ul class="dropdown-menu"><li ng-repeat="option in data | filter:search as filterOptions">-->
                    <!--                <a href="#" ng-click="click(option)">{{option.name}}</a></li>-->
                    <!--                <li class="empty" ng-show="filterOptions.length == 0">New Attribute</li>-->
                    <!--                </ul>-->
                    <!--            </script>-->

                    <ul class="contact-details other-information">
                        <!-- ngRepeat: detail in candidate.custom_attributes -->
                        <li :key="index" class="contact-detail ng-scope" v-for="(detail,index) in candidate.custom_attributes">
                            <input  style="display: inline-block;width: 150px; margin-right: 10px" class="data item-name ng-pristine ng-untouched ng-isolate-scope ng-invalid ng-invalid-required"
                                   type="text"
                                   v-model="detail.name"
                                   :placeholder="messages.SR_033_PLACEHOLDER_ITEM"
                                   required="required" id="item-name-0"/>
                            <input class="data item-value ng-pristine ng-untouched ng-valid"
                                   type="text"
                                   v-model="detail.value"
                                   :placeholder="messages.SR_038_ITEM_VALUE">
<!--                            <label>-->
<!--                                <input type="checkbox" v-model="detail.secure"-->
<!--                                       class="ng-pristine ng-untouched ng-valid">-->
<!--                                <span> {{messages.SR_033_TITLE_CHECK_ENCRYPT}}</span>-->
<!--                            </label>-->
                            <a class="btn btn-none btn-xs"
                               @click="removeCustomDetail(index)">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                        <!-- end ngRepeat: detail in candidate.custom_attributes -->
                    </ul>
                    <p v-if="!candidate || candidate.custom_attributes.length == 0" class="ng-scope">{{messages.SR_033_TITLE_INF_NO_ADD}}</p>
                    <!-- ngIf: !candidate.custom_attributes || candidate.custom_attributes.length == 0 -->
                    <!-- ngIf: position.is_admin -->
                    <ul class="update-actions ng-scope" ng-if="position.is_admin">
                        <li>
                            <a class="update-action smaller btn btn-blue btn-xs" href="javascript:void(0)" @click="addCustomDetail()">
                                <i class="fa fa-plus"></i>
                                <span> {{messages.SR_033_BTN_ADD_INF}}</span>
                            </a>
                        </li>
                    </ul>
                    <!-- end ngIf: position.is_admin -->
                </div>


                <ul class="update-actions main-action">
                    <li>
                        <div v-if="!submit_form">
                            <button  class="btn btn-blue save-button default"
                                    ng-class="updateSuccess ? &quot;saved&quot; : &quot;default&quot;"
                                    @click="updateCandidateDetails()">
                                <i class="default fa fa-save"></i>
                                <span class="default">{{messages.SR_033_BTN_CHANGE}}</span>
                            </button>
                            <a class="update-action btn btn-none cancel" href="javascript:void(0)" @click="cancelEditCandidateDetails()">
                                <i class="fa fa-times"></i>
                                <span> {{messages.SR_033_BTN_CANCEL}}</span>
                            </a>
                        </div>
                        <button v-else class="btn btn-blue save-button default">
                            <i class="success fa fa-check"></i>
                            <span class="default">{{messages.COMMON_SAVED}}</span>
                        </button>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from 'vuex';
    import Avatar from 'vue-avatar';
    import {Select,Option} from 'element-ui';
    import {fauth, fstorage} from '@/firebase';
    import _ from 'lodash'
    import VeeValidate from 'vee-validate';
    import CandidateSources from "@/models/CandidateSources";
    import {messages} from "@/messages";
    // @ts-ignore
    const $ = window.jQuery = window.$ = require('jquery');
    Vue.use(VeeValidate);
    export default {
        name: "EditDetailCandidate",
        data(){
            return {
                submit_form:false,
                validate_form:false,
                candidate:{},
                new_social:{
                    "type":  "",
                    "typeId": "",
                    "typeName": "",
                    "url":  ""
                },
                new_custom_attributes:{
                    "name": "",
                    "id": "",
                    "secure":  true,
                    "value": ""
                },
                list_social:[
                    {value: 'Facebook', name:'Facebook'},
                    {value: 'LinkedIn', name:'LinkedIn'},
                    {value: 'Twitter', name:'Twitter'},
                    {value: 'Dribbble', name:'Dribbble'},
                    {value: 'Instagram', name:'Instagram'},
                    {value: 'Behance', name:'Behance'},
                    {value: 'AngelList', name:'AngelList'},
                    {value: 'Flickr', name:'Flickr'},
                    {value: 'Github', name:'Github'},
                    {value: 'GooglePlus', name:'GooglePlus'},
                    {value: 'Skype', name:'Skype'},
                    {value: 'Website', name:'Website'},
                ],
                new_candidate_source:{
                    id:"",
                    name:"",
                    type:"",
                }
            }
        },
        props:{
            showModal:{
                type: Boolean,
                default: false,
            }
        },
        components:{
            Select,
            Option,
            Avatar
        },
        computed:{
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate",
                "listCandidateSource",
            ])
        },
        watch:{
            showModal:{
                handler(val,old_val){
                    let that = this as any
                    if(val){
                        that.validate_form = false
                        that.candidate = _.cloneDeep(that.currentCandidate)
                    }

                },deep: true
            }

        },
        mounted(){
        },
        methods:{
            cancelEditCandidateDetails(): void{
                let that = this as any
                that.$emit('dismissEdit')
            },
            addSocialProfile():void{
                let that = this as any
                let new_social = _.cloneDeep(that.new_social)
                that.candidate.social_profiles.push(new_social)
            },
            removeSocialProfile(index):void{
                let that = this as any
                var confirm_delete = confirm(that.messages.SR_033_DES_REMOVE);
                if(confirm_delete){
                    that.candidate.social_profiles.splice(index,1)
                }
            },
            removeCustomDetail(index){
                let that = this as any
                var confirm_delete = confirm(that.messages.SR_033_DES_REMOVE);
                if(confirm_delete){
                    that.candidate.custom_attributes.splice(index,1)
                }
            },
            check_custom_attributes(){
                let that = this as any
                let custom_attributes = _.cloneDeep(that.candidate.custom_attributes)
                if(that.candidate.custom_attributes.length >0){
                     custom_attributes = custom_attributes.map((item,index)=>{
                        if (!item.name || !item.value){
                            that.candidate.custom_attributes.splice(index,1)
                        }else{
                        }
                        return item
                     })
                }
                return that.candidate.custom_attributes

            },
            addCustomDetail():void{
                let that = this as any
                let new_custom_attributes = _.cloneDeep(that.new_custom_attributes)
                that.candidate.custom_attributes.push(new_custom_attributes)
            },
            uploadAvatar(file) {
                let that = this as any
                let company_id = that.currentCandidate.company_id
                let file_name_up = company_id + '_' + file[0].name;
                let upload = fstorage.ref('image/candidate/' + company_id +'/profile_url/' + file_name_up).put(file[0])
                that.candidate.resume.file_name = file[0].name;
                upload.on('state_changed', sp => {
                        if (sp.bytesTransferred = sp.totalBytes) {
                        }
                    }, null,
                    () => {
                        upload.snapshot.ref.getDownloadURL().then(downloadUrl => {
                            that.candidate.profile_photo_url = downloadUrl
                            that.$refs.uploadAvatar['value'] = null
                        })
                    })
            },
            createSource(e):void{
                let that = this as any
                console.log(e)
                if(!e.id){
                    that.new_candidate_source = {
                        id:e,
                        name :e,
                        type: e
                    }
                    // that.candidate.source = that.new_candidate_source
                }
            },
            handlerPlaceholder(){
                setTimeout(()=>{
                    $('.tbxCandidateSource input')[0].placeholder = messages.SR_033_PLACEHOLDER_CANDIDATE_SOURCE
                },100)

            },
            updateCandidateDetails():void{
                let that = this as any
                that.submit_form = true
                that.validate_form = true
                that.$validator.validateAll().then((result)=>{
                    if(result){
                        that.currentCandidate['profile_photo_url'] = that.candidate.profile_photo_url;
                        that.currentCandidate['name'] = that.candidate.name;
                        that.currentCandidate['address'] = that.candidate.address;
                        that.currentCandidate['email_address'] = that.candidate.email_address;
                        that.currentCandidate['phone_number'] = that.candidate.phone_number;
                        that.currentCandidate['alt_phone_number']=that.candidate.alt_phone_number
                        that.currentCandidate['source'] = that.candidate.source
                        that.currentCandidate['social_profiles'] = []
                        that.currentCandidate['social_profiles'] = that.candidate.social_profiles
                        that.currentCandidate['custom_attributes'] = []
                        if(!that.candidate.source.id && that.new_candidate_source.id != ''){
                            // tạo mới 1 candidate source
                            that.candidate.source = that.new_candidate_source
                            that.currentCandidate['source'] = that.candidate.source
                            let new_source = new CandidateSources()
                            new_source.company_id = that.currentCompany.id
                            new_source.sources = that.new_candidate_source
                            new_source.insert()
                        }

                        that.currentCandidate['custom_attributes'] = that.check_custom_attributes()
                        that.currentCandidate.update().then(()=>{
                            that.submit_form = false
                            that.$emit('dismissEdit')
                        })
                    }else {
                        that.submit_form = false
                    }

                })



            }
        }
    }
</script>

<style lang="scss">
    #modal-edit-container{
        .photo-upload-container{
            display: flex;
            .attach-file{
                padding-top: 15px;
                padding-left: 10px;
                color: #5ac0e5;
                cursor: pointer;
            }
        }
        input:focus{
            box-shadow: unset;
            border-color: #5ac0e5 !important;
        } textarea:focus{
            box-shadow: unset;
            border-color: #5ac0e5 !important;
        }
        input.name{
             margin-bottom: 10px;
             margin-top: 10px;
             font-size: 18px;
             display: block;
             border: 2px solid #edeff0;
             background: #fff;
             color: #4c555c;
             line-height: 20px;
             padding: 6px 10px;
        }
        textarea.address{
            margin-bottom: 10px;
            width: 100%;
            height: 150px;
            border: 2px solid #edeff0;
            background: #fff;
            font-size: 14px;
            color: #4c555c;
            line-height: 20px;
            padding: 6px 10px;
            display: block;
        }
        input.data{
            width: 250px;
            margin-bottom: 10px;
            display: block;
            border: 2px solid #edeff0;
            background: #fff;
            font-size: 14px;
            color: #4c555c;
            line-height: 20px;
            padding: 6px 10px;
        }
        .contact-details {
            &.social-profiles{
                .social-profile-type{
                    width: 120px;
                    display: inline-block;
                    margin-right: 10px;
                }
                .social-resource{
                    display: inline-block;
                }
            }
            &.other-information{
                margin-bottom: 10px;
                display: block;
                .custom-attributes{
                    display: inline-block;
                    width: 120px;
                    margin-right: 10px;
                    input{
                        width:100%
                    }
                }
                .data.item-value {
                    display: inline-block !important;
                    margin-right: 10px;
                }
            }
        }
        h2{
            margin-bottom: 5px;
            margin-top: 30px;
        }
    }
</style>
