<template>
    <div>
        <modal aria-expanded="true" :visible="showModal" @before-close="resetdata()" name="modal-scorecard" :clickToClose="false" ref="your-scorecard" :maxWidth="500" :pivotY="0" :adaptive="true">
            <div class="candidate-scorecard-container ng-scope modal-content">
                <div class="candidate-modal close ng-scope">
                    <a class="fa fa-times" href="javascript:void(0)" @click="closeModal()"></a>
                </div>
                <div class="bzy-form ng-pristine ng-valid ng-valid-required" v-if="candidate && candidate.id">
                    <div class="candidate-header">
                        <div class="candidate-header-actions">
                            <ul class="actions">
                                <li class="action"></li>
                            </ul>
                        </div>
                        <div class="media">
                            <div class="candidate-avatar-wrap">
                                <avatar class="avatar xl color2" :size="64" :username="candidate.name" :src="candidate.profile_photo_url"></avatar>
                            </div>
                            <div class="candidate-info">
                                <h1 class="name ng-binding">{{candidate.name}}</h1></div>
                        </div>

                    </div>
                    <div v-loading="isLoading" class="main-content-container" v-if="currentScoreCardCandidateByUser">
                        <div class="scorecard-container">
                            <div class="section">
                                <h2>{{messages.SR_021_MODAL_YOUR_SCORE_TITLE}}</h2>
                                <textarea
                                    class="message ng-pristine ng-untouched ng-valid"
                                    msd-elastic=""
                                    v-model="scorecard_candidate.scorecard.note"
                                    :placeholder="messages.SR_021_PLACEHOLDER_SCORE_CARD"
                                    style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 100px;">
                                </textarea>
                            </div>
                            <div class="section">
                                <h2>{{messages.SR_021_OVERAL_RATING_TITLE}}</h2>
                                <div class="scorecard-overall">
                                    <div class="bzy-switch" :class="submit_form && !scorecard_overall?'error':''">
                                        <label>
                                            <input type="radio"
                                                   name="scorecard_overall"
                                                   v-model="scorecard_overall"
                                                   value="very_poor"
                                                   ng-required="true"
                                                   required="required"
                                                   class="ng-pristine ng-untouched ng-valid ng-valid-required">
                                            <span class="bzy-option poor" :class="addClassScore(scorecard_overall,'very_poor')">
                                                <i class="fa fa-thumbs-down"></i>
                                                <i class="fa fa-thumbs-down"></i>
                                                <span class="bzy-name">{{messages.SR_021_VERY_POOR}}</span>
                                            </span>
                                        </label>
                                        <label>
                                            <input type="radio"
                                                   name="scorecard_overall"
                                                   v-model="scorecard_overall"
                                                   value="poor"
                                                   ng-required="true"
                                                   required="required"
                                                   class="ng-pristine ng-untouched ng-valid ng-valid-required">
                                            <span class="bzy-option poor" :class="addClassScore(scorecard_overall,'poor')">
                                                <i class="fa fa-thumbs-down"></i>
                                                <span class="bzy-name">{{messages.SR_021_POOR}}</span>
                                            </span>
                                        </label>
                                        <label class="neutral">
                                            <input type="radio"
                                                   name="scorecard_overall"
                                                   v-model="scorecard_overall"
                                                   value="neutral"
                                                   ng-required="true"
                                                   required="required"
                                                   class="ng-pristine ng-untouched ng-valid ng-valid-required">
                                            <span class="bzy-option neutral" :class="addClassScore(scorecard_overall,'neutral')">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </label>
                                        <label>
                                            <input type="radio"
                                                   name="scorecard_overall"
                                                   v-model="scorecard_overall"
                                                   value="good"
                                                   ng-required="true" required="required"
                                                   class="ng-pristine ng-untouched ng-valid ng-valid-required">
                                            <span class="bzy-option good" :class="addClassScore(scorecard_overall,'good')">
                                                <i class="fa fa-thumbs-up"></i>
                                                <span class="bzy-name">{{messages.SR_021_GOOD}}</span>
                                            </span>
                                        </label>
                                        <label>
                                            <input type="radio"
                                                   name="scorecard_overall"
                                                   v-model="scorecard_overall"
                                                   value="very_good"
                                                   ng-required="true"
                                                   required="required"
                                                   class="ng-pristine ng-untouched ng-valid ng-valid-required">
                                            <span class="bzy-option good" :class="addClassScore(scorecard_overall,'very_good')">
                                                <i class="fa fa-thumbs-up"></i>
                                                <i class="fa fa-thumbs-up"></i>
                                                <span class="bzy-name">{{messages.SR_021_VERY_GOOD}}</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- ngRepeat: section in scorecard.sections -->
                            <div class="section scorecard-criteria ng-scope" :key="index_section" v-for="(section,index_section) in scorecard_candidate.scorecard.sections">
                                <h2 class="ng-binding">{{section.section_name}}</h2>
                                <!-- ngIf: section.feedback -->
                                <ul class="criteria">
                                    <!-- ngRepeat: item in section.criteria -->
                                    <li class="item ng-scope" :key="index" v-for="(item, index) in section.list_criteria">
                                        <div class="scores">
                                            <h3 class="ng-binding">{{item.criteria_name}}</h3>
                                            <div class="bzy-switch">
                                                <label>
                                                    <input type="radio"
                                                           v-model="item.score"
                                                           value="very_poor"
                                                           class="ng-pristine ng-untouched ng-valid"
                                                           name="2035">
                                                    <span class="bzy-option poor" :class="addClassScore(item.score,'very_poor')">
                                                        <i class="fa fa-thumbs-down"></i>&nbsp;<i class="fa fa-thumbs-down"></i>
                                                    </span>
                                                </label>
                                                <label>
                                                    <input type="radio" v-model="item.score"
                                                           value="poor" class="ng-pristine ng-untouched ng-valid" name="2036">
                                                    <span class="bzy-option poor" :class="addClassScore(item.score,'poor')"><i class="fa fa-thumbs-down"></i></span>
                                                </label>
                                                <label class="neutral">
                                                    <input type="radio"
                                                           v-model="item.score"
                                                           value="neutral"
                                                           class="ng-pristine ng-untouched ng-valid"
                                                           name="2037">
                                                    <span class="bzy-option neutral" :class="addClassScore(item.score,'neutral')">
                                                        <i class="fa fa-circle"></i>
                                                    </span>
                                                </label>
                                                <label>
                                                    <input
                                                        type="radio"
                                                        v-model="item.score"
                                                        value="good"
                                                        class="ng-pristine ng-untouched ng-valid"
                                                        name="2038">
                                                    <span class="bzy-option good" :class="addClassScore(item.score,'good')">
                                                        <i class="fa fa-thumbs-up"></i>
                                                    </span>
                                                </label>
                                                <label>
                                                    <input type="radio"
                                                           v-model="item.score"
                                                           value="very_good"
                                                           class="ng-pristine ng-untouched ng-valid"
                                                           name="2039">
                                                    <span class="bzy-option good" :class="addClassScore(item.score,'very_good')">
                                                        <i class="fa fa-thumbs-up"></i>&nbsp;<i class="fa fa-thumbs-up"></i>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>

                                        <!-- ngIf: item.feedback -->
                                    </li>
                                    <!-- end ngRepeat: item in section.criteria -->
                                </ul>
                            </div><!-- end ngRepeat: section in scorecard.sections -->
                            <div class="section footer">
                                <span v-if="updating" style="margin-top: 10px" class="status">{{messages.SR_021_MES_UPDATING}}</span>
                                <ul class="actions">
                                    <li>
                                        <button class="btn btn-blue" @click="updateCandidate()" :disabled="updating">
                                            <i class="fa fa-save"></i><span> {{messages.SR_021_BTN_SAVE_SCORE_CARD}}</span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import avatar from 'vue-avatar';
    import {mapGetters, mapActions,mapMutations} from 'vuex'
    import _ from 'lodash'
    import VeeValidate from 'vee-validate';
    import CandidateScorecard from "@/models/CandidateScorecard"
    import moment from "moment";
    import {server_time} from "@/firebase";
    Vue.use(VeeValidate);
    export default {
        name: "YourScorecard",
        components:{
            avatar
        },
        data(){
            return {
                isLoading:false,
                updating:false,
                submit_form:false,
                scorecard_candidate:{
                    scorecard: {
                        note: '',
                        sections: [],
                    }
                },
                scorecard_overall:"",
                list_score:{
                    "very_good": 2,
                    "good": 1,
                    "neutral":0,
                    "poor":-1,
                    "very_poor":-2
                },
                candidate:{}

            }
        },
        props:{
            showModal:{
                type: Boolean,
                default: false
            },
            candidateScoreCard:{
                type: Object,
                // eslint-disable-next-line vue/require-valid-default-prop
                default: {}
            }
        },
        watch:{
            candidateScoreCard:{
                immediate: true,
                handler(val,oval){
                    let that = this as any;
                    if(val){
                        that.candidate = _.cloneDeep(val)
                    }
                },
            },
            showModal:{
                handler(val,oval){
                    if(val){
                        let that = this as any
                        that.openModal()
                    }
                }
            }
        },
        computed:{
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate",
                "scorecardPosition",
                "positionCandidate",
                "currentScoreCardCandidateByUser"
            ]),
        },
        mounted(){

        },
        methods:{
            ...mapActions([
                'getScoreCardCandidateByUser'
            ]),
            dismissModal(){
                let that = this as any
                that.$emit('dismiss')
            },
            addClassScore(score_current,score_id){
                let that = this as any
                let class_score = ''
                switch(score_current){
                    case 'very_good':
                        if (score_id == 'very_good') class_score = "score-green"
                        break
                    case 'good':
                        if (score_id == 'good') class_score = "score-green"
                        break
                    case 'neutral':
                        if (score_id == 'neutral') class_score = "score-yelow"
                        break
                    case 'poor':
                        if (score_id == 'poor') class_score = "score-red"
                        break
                    case 'very_poor':
                        if (score_id == 'very_poor') class_score = "score-red"
                        break
                    default:
                }
                return class_score
            },
            openModal(){
                let that = this as any
                console.log("tesssstt",that.currentCandidate)
                let candidate_id = that.currentCandidate.id
                let user_id = that.currentUser.id;

                that.$modal.show('modal-scorecard');
                let new_score
                let new_overall_score =  Object.keys(that.currentCandidate.overall_score).map((index)=>{
                    if(index != 'scored_count' && index != 'score')
                        new_score = that.currentCandidate.overall_score[index].map((id)=>{
                            if(id == that.currentUser.id) that.scorecard_overall = index ;
                            return id != that.currentUser.id
                        })
                    return that.currentCandidate.overall_score
                })
                that.isLoading = true
                that.getScoreCardCandidateByUser({candidate_id,user_id}).then(()=>{
                    that.getDetailScoreByUser()
                })
            },

            closeModal(){
                let that = this as any
                that.$modal.hide('modal-scorecard');
            },
            resetdata(){
                let that = this as any
                that.submit_form =false;
                that.scorecard_candidate={
                    scorecard: {
                        note: '',
                        sections: [],
                    }
                };
                that.scorecard_overall="";
                that.dismissModal()
            },
            removeScoreCardUserExist(){
                let that = this as any
                // that.currentCandidate.overall_score.very_good.push(that.currentUser.id)
                let old_score = ''
                let new_score
                let overall_score_key =  Object.keys(that.currentCandidate.overall_score)
                let new_overall_score =  overall_score_key.map((score_name)=>{
                    if(score_name != 'scored_count' && score_name != 'score')
                        new_score = that.currentCandidate.overall_score[score_name].map((id)=>{
                            if(id == that.currentUser.id){
                                old_score = score_name ;
                                let index = that.currentCandidate.overall_score[score_name].indexOf(id)
                                that.currentCandidate.overall_score[score_name].splice(index,1)
                                that.currentCandidate.overall_score.scored_count =  that.currentCandidate.overall_score.scored_count -1
                            }
                            return id
                        })
                    return that.currentCandidate.overall_score
                })
                if(Object.keys(that.list_score).indexOf(old_score) == -1){
                    //not thing
                }else{
                    that.currentCandidate.overall_score.score = that.currentCandidate.overall_score.score - that.list_score[old_score]
                }
            },
            updateUserToOverallScoreCard(){
                let that = this as any
                if(Object.keys(that.list_score).indexOf(that.scorecard_overall) == -1){
                    // alert("score card don't exist")
                }else{
                    that.currentCandidate.overall_score.score = that.currentCandidate.overall_score.score + that.list_score[that.scorecard_overall]
                    that.currentCandidate.overall_score[that.scorecard_overall].push(that.currentUser.id)
                    that.currentCandidate.overall_score.scored_count =  that.currentCandidate.overall_score.scored_count +1
                }
            },
            setversion(){
                let that = this

            },
            resetScoreCard(){
                let that = this as any;
                that.scorecard_candidate.company_id = that.currentCompany.id
                that.scorecard_candidate.candidate_id = that.currentCandidate.id
                that.scorecard_candidate.position_id = that.positionCandidate.id
                that.scorecard_candidate.acting_user_id = that.currentUser.id
                that.scorecard_candidate.scorecard.score = that.scorecard_overall;
                that.scorecard_candidate.acting_user = that.currentUser.cloneNewObject()
                if(that.scorecardPosition && that.scorecardPosition.id ){
                    //nếu có score card được gán vào position của candidate
                    let version_current_score = that.scorecardPosition.updatedAt;
                    if(that.currentScoreCardCandidateByUser.version != version_current_score) {
                        // nếu version của scored card của position cùng version với score card của user đánh giá
                        that.scorecard_candidate.version = that.scorecardPosition.updatedAt
                        that.scorecard_candidate.scorecard.sections = _.cloneDeep(that.scorecardPosition.sections);
                    }
                }else{
                     that.scorecard_candidate.scorecard.sections = []
                }
            },
            getDetailScoreByUser(){
                let that = this as any;
                that.scorecard_candidate = that.currentScoreCardCandidateByUser.cloneNewObject();
                    if (!that.scorecard_candidate.id) {
                        // nếu có score card user của cadidate chưa tồn tại
                        that.scorecard_candidate = new CandidateScorecard();
                        that.scorecard_candidate.version = server_time.now.valueOf()
                    }
                    that.resetScoreCard();
                that.isLoading = false
            },
            updateDetailScorecard(){
                let that = this as any
                that.scorecard_candidate.scorecard.score = that.scorecard_overall
                Object.assign(that.currentScoreCardCandidateByUser, that.scorecard_candidate);
                if(!that.currentScoreCardCandidateByUser.id){
                    that.currentScoreCardCandidateByUser.insert()
                }else{
                    that.currentScoreCardCandidateByUser.update()
                }

            },
            updateCandidate(){
                let that = this as any
                that.submit_form = true
                if(!that.scorecard_overall || that.scorecard_overall == ""){

                }else {
                    that.updating = true
                    that.removeScoreCardUserExist()
                    that.updateUserToOverallScoreCard()
                    that.updateDetailScorecard()
                    that.currentCandidate.update().then(()=>{
                        that.$modal.hide('modal-scorecard');
                        that.updating = false
                    })
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .candidate-header .media{
        display: block;
        overflow: hidden;
        _overflow: visible;
        zoom: 1;

        .candidate-header-actions{

        }
        .candidate-avatar-wrap{
            float: left;
            margin-bottom: 0;
            font-size: 74px;
            color: #007dab;
            font-weight: 500;
            margin-right: 10px;
        }
        .candidate-info{
            overflow: hidden;
            margin: 0;
            h1{
                line-height: 64px;
            }
        }
    }

    a{
        text-decoration: unset;
    }
    .candidate-scorecard-container {
        &.modal-content {
            /*max-width: 500px;*/
            position: relative;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #999;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            outline: 0;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            .status{
                float: right;
            }
            .score-green{
                background-color: #76d691;
                border-color: #76d691;
                color: #fff;
            }
            .score-yelow{
                background-color: #f5d44f;
                border-color: #f5d44f;
                color: #fff;
            }
            .score-red{
                background-color: #e15258;
                border-color: #e15258;
                color: #fff;
            }
            .candidate-modal {
                color: #4c555c;
                display: block;
                position: absolute;
                padding: 15px;
                background: #edeff0;
                opacity: 1;
                border-radius: 4px;
                transition: color .3s ease;
                z-index: 1000;

                &.close {
                    left: -5px;
                    right: auto;
                    top: -5px;
                    padding: 2px 4px;
                    float: left;
                    font-size:21px ;
                }
            }
            .candidate-header{
                min-height: 110px;
                padding: 20px;
                background-color: #384047;
                border-radius: 4px 0 0 0;
                    .candidate-avatar-wrap{
                        display: inline-block;
                        .avatar{
                        width: 70px;
                        height: 70px;
                        border-radius: 44px;
                        border: 4px solid #edeff0;
                        line-height: 60px;
                    }
                }
                .candidate-info{
                    display: inline-block;
                    margin-left: 15px;
                    h1{
                        color: #fff;
                    }
                }

            }
            .scorecard-container{
                padding: 20px;
                .section{
                    margin-bottom: 20px;
                    textarea{
                        width: 100%;
                    }
                    h2{
                        margin-bottom: 10px;
                        font-size: 18px !important;
                        font-weight: 400;
                        line-height: 1.5;
                    }
                    .scores {
                        display: flex;

                        h3 {
                            flex: 3;
                            font-size: 16px !important;
                            padding-top: 10px;
                            margin-right: 0px !important;
                            line-height: 1.5;
                        }
                        .bzy-switch{
                            flex: 7;
                        }
                    }
                    .bzy-switch{
                        width: 100%;
                        label{
                            width: 23%;
                            text-align: center;
                            border: 1px solid #edeff0;
                            background-color: #edeff0;
                            cursor: pointer;
                            display: inline-block;
                            font-size: 12px;
                            line-height: 1.5;

                            transition: .3s ease;
                            &.neutral{
                                width: 8%;
                            }
                            span{
                                width: 100%;
                                padding: 1px 5px;
                                &.poor:hover{
                                    background-color: #e15258;
                                    border-color: #e15258;
                                    color: #fff;
                                }
                                &.neutral:hover{
                                    background-color: #f5d44f;
                                    border-color: #f5d44f;
                                    color: #fff;
                                }
                                &.good:hover{
                                    background-color: #76d691;
                                    border-color: #76d691;
                                    color: #fff;
                                }
                            }
                            i.fa{
                                margin-right: 5px;
                            }
                        }

                    }

                }
            }
        }
    }

</style>
