<template>
    <b-modal
        @show="handleOpenModal"
        no-close-on-backdrop
        no-close-on-esc
        modal-class="modal-add-edit-pipeline"
        header-class="modal-header-add-pipeline"
        v-model="showModal">
        <AddStageModal
            :type="typeOfModalAddPipelineStage"
            :title-stage="titleState"
            :stage-data="currentStage"
            @handleClose="showModalAddState=false;"
            v-on:handleSaveChange="handleSaveChangeStageModal"
            :showModal="showModalAddState"></AddStageModal>
        <UnSavedChangeModal
            @handleSaveChange="chooseActionByConfirm"
            @handleClose="handleCloseUnSavedChange"
            :title-modal="titleModalConfirm"
            :sub-title-modal="subtitleModalConfirm"
            :title-ok-button="messages.SR_021_DES_OKAY"
            :showModal="showModalUnSavedChange"></UnSavedChangeModal>
        <template slot="modal-header" slot-scope="{ close }">
            <h1 v-if="type=='new'">{{messages.SR_007_MODAL_ADD_TITLE}}</h1>
            <h1 v-else>{{messages.SR_007_MODAL_PIPELINE_TITLE}}</h1>
            <button type="button" aria-label="Close" class="close" @click="handleCloseModal()">×</button>
        </template>
        <div>
            <h5>{{messages.SR_007_MODAL_PIPELINE_INPUT_NAME_TITLE}}</h5>
            <b-form-input :class="{'isError':isErrorInput}" v-model="title"
                          :disabled="disabledInputTitle"
                          :placeholder="messages.SR_007_MODAL_PIPELINE_STAGE_INPUT_REQUIRED"></b-form-input>
            <h5 style="margin-top:10px">{{messages.SR_007_MODAL_PIPELINE_TYPE_TITLE}}</h5>
            <vue-content-loading
                v-if="isLoading"
                :width="500"
                :height="35">
                <rect x="0" y="13" rx="4" ry="4" width="15" height="15" />
                <rect x="20" y="13" rx="4" ry="4" width="100%" height="15" />
            </vue-content-loading>
            <b-list-group v-if="!isLoading">
                <draggable v-model="cachePipeline.list_stage" v-bind:dragOptions="dragOptions" @start="drag=true"
                           @end="changeIndexListStage">
                    <b-list-group-item class="state-item" style="" v-for="stage, index in cachePipeline.list_stage"
                                       :key="index"
                                       v-if="stage.showInPositionPipelineStageModal && !stage.deleted">
                        <div>
                            <i :class="stage.icon"></i>
                            {{stage.title}}
                            <!--<br/>-->
                            <div class="total-actions" v-if="stage.actions && stage.actions.length > 0">
                                <i class="fa fa-bolt"></i>
                                {{stage.actions.length}} {{messages.SR_007_MODAL_PIPELINE_TOTAL_ACTIONS}}
                            </div>
                        </div>
                        <div class="flex-box-right">
                            <i class="fa fa-arrows-alt"></i>
                            <i @click="handleOpenModalAddStage('edit', stage, index)" class="fa fa-edit"></i>
                            <i @click="handleRemovePipelineStage(index)" v-if="!stage.hide && !stage.deleted"
                               class="fa fa-times"></i>
                        </div>
                    </b-list-group-item>
                </draggable>
            </b-list-group>
            <!--<div v-text="cachePipeline.list_stage"></div>-->
            <button
                :disabled="isLoading || isProcessing"
                class="btn btn-primary btn-custom" @click="handleOpenModalAddStage('new')">
                <i class="fa fa-plus"></i>
                {{messages.SR_007_MODAL_PIPELINE_BUTTON_ADD}}
            </button>
        </div>
        <template slot="modal-footer" slot-scope="{ ok }">
            <!-- Emulate built in modal footer ok and cancel button actions -->
            <p v-if="isProcessing && type == 'new'">{{messages.SR_007_MODAL_STAGE_ADDING}}</p>
            <p v-if="isProcessing && type == 'edit'">{{messages.SR_007_MODAL_STAGE_UPDATING}}</p>
            <b-button :disabled="isLoading || isProcessing" size="sm" variant="primary" class="btn btn-blue" @click="saveChange()">
                <i class="fa fa-save"></i> {{messages.SR_007_MODAL_PIPELINE_BUTTON_SAVE}}
            </b-button>
        </template>
    </b-modal>
</template>

<script lang="ts">
    import draggable from 'vuedraggable';
    import Vue from "vue";
    import {mapGetters, mapActions, mapMutations} from 'vuex';
    import AddStageModal from './AddStageModal.vue';
    import Pipeline from "@/models/Pipeline";
    import PipelineStage from "@/models/PipelineStage";
    import {Component, Prop, Emit} from "vue-property-decorator";
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import VueContentLoading from 'vue-content-loading';
    import {
        Getter,
        Action, Mutation,
    } from 'vuex-class'
    import Position from "@/models/Position";
    import PositionPipelineAction from "@/models/PositionPipelineAction";
    import Candidate from "@/models/Candidate";
    import {messages} from "../../../messages";
    import {listStage} from "@/common/pipeline";
    const _ = require('lodash');
    @Component({
        components: {
            UnSavedChangeModal,
            AddStageModal,
            draggable,
            VueContentLoading
        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentCompany',
                'listPipelineStage',
                'listPipeline',
                'cachePipeline',
                'currentPipeline'
            ]),
            disabledInputTitle() {
                let that = this as any;
                return that.type == 'edit' && that.currentPipeline.is_default == true;
            }
        },
        methods: {
            ...mapMutations([
               'setNeedRefetchKanban'
            ]),
            ...mapActions('action', [
                'setListPipelineStage',
                'setListPipeline',
                'setCachePipeline',
                'setCurrentPipeline'
            ]),
        },
    })
    export default class AddEditPipeline extends Vue {
        @Prop(Boolean) showModal: false;
        @Prop(String) type: 'new';
        @Prop(Number) index: 1;

        @Getter('cachePipeline') cachePipeline;
        @Getter('currentPipeline') currentPipeline;
        @Getter('listPipeline') listPipeline;
        @Getter('listPipelineStage') listPipelineStage;
        @Getter('currentCompany') currentCompany;
        @Getter('defaultPipelineStage') defaultPipelineStage;
        @Mutation('setDefaultPipelineStage') setDefaultPipelineStage;

        @Action('setListStage') setListStage;
        @Action('setListPipeline') setListPipeline;
        @Action('setCachePipeline') setCachePipeline;
        @Action('setCurrentPipeline') setCurrentPipeline;
        @Action('setListStageToPipeline') setListStageToPipeline;
        @Action('getListPipelineStage') getListPipelineStage;

        showModalAddState: boolean = false;
        title: string = '';
        showModalUnSavedChange: boolean = false;
        drag: boolean = false;
        titleState: string = '';
        currentStage: object = {};
        newPositionPipeline: object = {} as Pipeline || {};
        typeOfModalAddPipelineStage: string = 'new';
        isErrorInput: boolean = false;
        isProcessing: boolean = false;
        isSavedChange: boolean = false;
        cloneListPipelineStage: Array<object> = [];
        isLoading: boolean = false;
        listStageData: Array<object> = listStage;
        cacheIndexToDelete: number =  0;
        titleModalConfirm: string = '';
        subtitleModalConfirm: string = '';
        typeConfirm: string = 'unsaved';
        changeIndexListStage() {
            Object.freeze(this.listPipelineStage)
            this.cachePipeline.list_stage.map((stage, index) => {
                if (stage.index > -1) {
                    stage.index = index;
                }
                return stage;
            })
            console.log(this.cachePipeline.list_stage);
        }

        dragOptions() {
            return {
                animation: 0,
                group: "description",
                ghostClass: "ghost"
            };
        }

        handleSaveChange() {
            this.showModalUnSavedChange = false;
            this.isSavedChange = true;
            this.saveChange();
        }

        handleCloseUnSavedChange() {
            this.showModalUnSavedChange = false;
            if (this.typeConfirm == 'unsaved'){
                this.$emit('handleClose');
            }
        }

        async saveChange() {
            if (this.title.trim() == '') {
                this.isErrorInput = true;
                return;
            } else {
                this.isErrorInput = false;
            }

            this.isProcessing = true;
            switch (String(this.type)) {
                case 'new':
                    await this.createNewPipeline();
                    break;
                case 'edit':
                    await this.editPipeline();
                    break;
            }
            this.isProcessing = false;
            this.isSavedChange = true;


            await this.handleCloseModal();
        }
        handleSaveChangeStageModal(stage_actions){
            if (String(this.type) == 'edit'){
                let index = this.cachePipeline.list_stage.findIndex(stage=>{
                    return stage.id == this.currentStage['id'];
                });
                if (index > -1){
                    let stage = this.cachePipeline.list_stage[index];
                    stage.actions = stage_actions;
                    this.cachePipeline.list_stage.splice(index, 1, stage);
                }
            }
            this.showModalAddState=false
        }
        editPipeline()  {
            return new Promise(async (resolve, reject) => {
                this.cachePipeline.title = this.title;
                this.changeIndexListStage();
                const pArray = await this.cachePipeline.list_stage.map(async (stage) => {
                    if (stage.id == '') {
                        let _newStage = new PipelineStage();
                        Object.assign(_newStage, stage);
                        _newStage.pipeline_id = this.currentPipeline.id;
                        await _newStage.insert().then((data) => {
                            stage.id = data.id;
                            stage.pipeline_id = data['pipeline_id'];

                        })
                    } else {
                        await new PipelineStage().getById(stage.id).then((data) => {
                            Object.assign(data, stage);
                            data['index'] = stage.index;
                            if (data['title'] != stage.title) {
                                data['title'] = stage.title;
                            }
                            if (data['stage_type'] != stage.stage_type) {
                                data['stage_type'] = stage.stage_type;
                            }
                            data.update();
                        })
                    }
                    if (stage.deleted == true) {
                        await new PositionPipelineAction().getByStageID(stage.id).then((action) => {
                            action.forEach(_act => {
                                _act.delete();
                                console.log('Remove Doned =>', _act)
                            })
                        })
                        await new PipelineStage().getById(stage.id).then((data) => {
                            this.moveCandidateToMissingStage(stage).then(()=>{
                                data.delete();
                            })
                        })
                    }
                    return stage;
                });
                await Promise.all(pArray);
                this.cachePipeline.list_stage = this.cachePipeline.list_stage.filter((stage) => {
                    return !stage.deleted;
                });
                new Pipeline().getById(this.currentPipeline.id).then((data) => {
                    Object.assign(data, this.cachePipeline);
                    delete data['list_stage'];
                    data.update().then((_data) => {
                        this.listPipeline.splice(this.index, 1, data);
                        this.setListPipeline(this.listPipeline);
                        //@ts-ignore
                        this.setNeedRefetchKanban({
                            status: true,
                            stage:{
                                id: 'all'
                            }
                        });
                        resolve();
                    });
                });
            })
        }
        async moveCandidateToMissingStage(fromStage:any){
            new Candidate().getCandidateByStage(fromStage.id).then((candidates)=>{
                if (candidates.length > 0){
                    new PipelineStage().getMissingStage(fromStage.pipeline_id).then((missingStage)=>{
                        candidates.forEach((candidate)=>{
                            candidate.stage_id = missingStage.id;
                            candidate.stage = {
                                id: missingStage.id,
                                type: missingStage.stage_type,
                                name: missingStage.title,
                                previous_type: fromStage.stage_type
                            }
                            candidate.update().then((candidateUpdated)=>{

                            })
                        })
                    })
                }
            })
        }
        createNewPipeline() {
            return new Promise(resolve => {
                this.newPositionPipeline = new Pipeline();
                this.changeIndexListStage();
                Object.assign(this.newPositionPipeline, this.cachePipeline);
                this.newPositionPipeline['title'] = this.title;
                this.newPositionPipeline['used_positions'] = [];
                delete this.newPositionPipeline['list_stage'];
                //@ts-ignore
                console.log('Start create');
                console.log(this.cachePipeline.list_stage)
                //@ts-ignore
                this.newPositionPipeline.insert().then(async (data) => {
                    const pArray = this.cachePipeline.list_stage.map(async (stage) => {
                        stage['pipeline_id'] = data.id;
                        if ((!stage.hasOwnProperty('id') || stage.id == '')  && !stage.deleted && stage.showInPositionPipelineStageModal) {
                            let _newStage = new PipelineStage();
                            delete stage['firestore'];
                            Object.assign(_newStage, _.cloneDeep(stage));
                            _newStage.pipeline_id = data.id;
                            await _newStage.insert().then((_data) => {
                                stage.id = _data.id;
                                // Stage vẫn lưu actions dù có PositionPipelineActions rồi vì:
                                // Những actions đó không liên quan gì tới Position cả => Position Pipeline chỉ lấy những actions này làm actions để clone.
                                //TODO: Tạo thêm actions khi tạo Position ngay lúc draft.
                            })
                        }
                        return stage;
                    });
                    await Promise.all(pArray);
                    console.log('end')
                    //@ts-ignore
                    this.newPositionPipeline.update().then((data) => {
                        let _array = this.listPipeline.concat(data);
                        this.setListPipeline(_array);
                        resolve();
                    })
                })
            })

        }

        async handleOpenModal() {
            let _data = {};
            this.isLoading = true;
            this.isErrorInput = false;
            this.typeConfirm = 'unsaved';
            // this.changeIndexListStage();

            // Use cloneDeep cuz remove Observer Property in Object.
            if (String(this.type) == 'new') {
                // await this.getListPipelineStage('default').then((data) => {
                //     this.setDefaultPipelineStage(data);
                    _data = {
                        company_id: this.currentCompany.id,
                        list_stage: _.cloneDeep(this.listStageData.filter((stage, index)=>{
                            //@ts-ignore
                            if (stage.showInPositionPipelineStageModal == true){
                                stage['index'] = index+1;
                                stage['id'] = '';
                                return stage;
                            }

                        })),
                        title: '',
                        used_positions: []
                    };
                    this.cloneListPipelineStage = _.cloneDeep(this.listStageData);
                // })
                    this.title = '';

            } else {
                await this.getListPipelineStage(this.currentPipeline.id).then((data) => {
                    _data = {
                        company_id: this.currentCompany.id,
                        list_stage: data,
                    };
                    this.title = this.currentPipeline.title;
                    this.cloneListPipelineStage = _.cloneDeep(data);
                });
                await this.setListStageToPipeline({id: this.currentPipeline.id, content: _data['list_stage']});
            }
            await this.setCachePipeline(_data);
            this.isLoading = false;
        }
        handleRemovePipelineStage(index){
            this.typeConfirm = 'removeStage';
            this.showModalUnSavedChange = true;
            this.titleModalConfirm = messages.SR_021_DELETE_STAGE_TITLE1;
            this.subtitleModalConfirm = messages.SR_021_DELETE_STAGE_TITLE2;
            this.cacheIndexToDelete = index;
        }
        chooseActionByConfirm() {
            if (this.typeConfirm == 'unsaved'){
                this.handleSaveChange();
            }else{
                this.cachePipeline.list_stage[this.cacheIndexToDelete]['deleted'] = true;
                this.cachePipeline.list_stage.splice(this.cacheIndexToDelete, 1, this.cachePipeline.list_stage[this.cacheIndexToDelete]);
                this.setCachePipeline(this.cachePipeline);
                this.showModalUnSavedChange = false;
            }
        }

        handleOpenModalAddStage(type, stage, index) {
            this.showModalAddState = true;
            this.typeOfModalAddPipelineStage = type;
            if (type == 'new') {
                this.currentStage = {
                    title: messages.SR_007_MODAL_STAGE_STAGE_TITLE,
                    value: null
                };
                this.titleState = '';
            } else {
                this.currentStage = _.cloneDeep(stage)
                delete this.currentStage['firestore']
                // indexInCurrentArray is position of this item in list_stage of state
                // this.currentStage['indexInCurrentArray'] = index;
                this.titleState = this.currentStage['title'];
            }
        }

        handleCloseModal() {
            let compareTitle = '';
            let compareStage = false;
            if (!this.isSavedChange) {
                this.cloneListPipelineStage.forEach((stage) => {
                    delete stage['firestore'];
                    delete stage['updatedAt'];
                    delete stage['createdAt'];
                })
                let checkArray = [];
                if (this.type == 'new') {
                    compareTitle = this.cachePipeline.title;
                    checkArray = _.cloneDeep(this.cachePipeline.list_stage)
                    checkArray.forEach((stage) => {
                        delete stage['firestore'];
                        delete stage['updatedAt'];
                        delete stage['createdAt'];
                    })
                    compareStage = _.isMatch(this.cloneListPipelineStage, checkArray)
                } else {
                    compareTitle = this.currentPipeline.title;
                    checkArray = _.cloneDeep(this.currentPipeline.list_stage)
                    checkArray.forEach((stage) => {
                        delete stage['firestore'];
                        delete stage['updatedAt'];
                        delete stage['createdAt'];
                    })
                    compareStage = _.isMatch(this.cloneListPipelineStage, checkArray, _.isEqual)
                }


                // Compare
                if (!compareStage || this.title != compareTitle) {
                    this.typeConfirm = 'unsaved';
                    this.titleModalConfirm = messages.SR_020_MODAL_UNSAVED_CHANGE_TITLE;
                    this.subtitleModalConfirm = messages.SR_020_MODAL_UNSAVED_CHANGE_SUB_TITLE;
                    this.showModalUnSavedChange = true;
                    return;
                }
            }
            this.showModalUnSavedChange = false;
            this.title = '';
            this.isSavedChange = false;
            this.$emit('handleClose')
        }
    }
</script>

<style lang="scss" scoped>
    .flex-box-right i {
        /*margin-left:10px;*/
        font-size: 10px;
        padding: 5px;
        cursor: pointer;
    }

    .flex-box-right i.fa-arrows-alt {
        cursor: move;
    }

    .btn-custom {
        margin-top: 10px;
        font-size: 12px !important;
        height: initial !important;
        padding: 2px 8px;
        background-color: #5ac0e5 !important;
        color: #fff !important;
        border: none;
    }

    .btn-custom:hover {
        font-size: 12px;
        background-color: #4cabcd !important;
        color: #fff !important;
    }

    .state-item {
        justify-content: space-between;
        display: flex;
        align-content: center;
        background: #edeff0;
        cursor: move;
        height: auto;
        min-height: 40px;
        padding: 10px;

        div.total-actions {
            line-height: 1;
            border-radius: 10px;
            font-size: 12px;
            display: block;
            opacity: 0.7;
            padding-left: 5px;
            padding-top: 3px;
        }
    }

    .btn-blue {
        border: none;
        padding: 5px 12px;
        font-weight: bold;
    }

</style>
<style lang="scss">
    .modal-add-edit-pipeline {
        color: #4c555c;

        .modal-header-add-pipeline {
            border-bottom: none;
            padding-bottom: 0px;
        }

        .modal-dialog {
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            background: #edeff0;
        }

        .modal-content {
            border: none;
            /*padding-left: 5px;*/
            /*padding-right: 5px;*/
        }

        .modal-body {
            padding-top: 0px;

            h5 {
                font-weight: bold;
            }
        }

        .modal-footer {
            border-top: none;
            display: flex;
            justify-content: flex-end;
            align-content: center;
        }

        .modal-footer p {
            flex: 1;
        }

        .button-add-pipeline {
            padding: 10px;
            padding-left: 15px;
            position: absolute;
            right: 0;
            border: none;
            font-weight: bold;
            background: #edeff0;
            top: 0;
            font-size: 21px !important;
            color: #4c555c;
        }

        .button-add-pipeline i {
            font-size: 21px !important;
        }
    }

    .isError {
        border: 2px solid #eba2a5 !important
    }
</style>
