<!--/////////////////////////////////////////-->

<!--         SU DUNG THU VIEN FULL-CALENDAR -->
<!--         https://fullcalendar.io/docs/event-parsing -->

<!--===========================================-->



<template>
    <div class="d-flex flex-grow-1 overflow-auto" style="height: 100%;">
        <!--FILTER COLUMN-->
<!--        <div class="flex-shrink-0"-->
<!--             style="min-width: 250px">-->
<!--            <div class="p-3">-->
<!--                <h3>Các bộ lọc</h3>-->
<!--            </div>-->
<!--            <div class="p-2">-->
<!--                <OptionDropdown v-model="event_owner_filters"-->
<!--                                :options="event_owner_options"-->
<!--                                icon="fas fa-user"-->
<!--                                variant="light">-->
<!--                </OptionDropdown>-->
<!--            </div>-->
<!--            <div class="p-2">-->
<!--                <b-dropdown variant="light"-->
<!--                            class="custom-dropdown">-->
<!--                    <template slot="button-content">-->
<!--                        <i class="fas fa-briefcase"></i>&emsp;-->
<!--                        Vị trí-->
<!--                    </template>-->

<!--                    &lt;!&ndash;EACH DRAFTS, PUBLISHED, ...&ndash;&gt;-->
<!--                    <template>-->
<!--                        <b-dropdown-header>Draft</b-dropdown-header>-->
<!--                        <b-form-checkbox-group v-model="position_filters" name="nothing">-->
<!--                            <b-dropdown-text v-for="position in positions" :key="position.id">-->
<!--                                <b-form-checkbox :value="position.id">{{position.name}}</b-form-checkbox>-->
<!--                            </b-dropdown-text>-->
<!--                        </b-form-checkbox-group>-->
<!--                        <b-dropdown-divider></b-dropdown-divider>-->
<!--                    </template>-->

<!--                </b-dropdown>-->
<!--            </div>-->
<!--        </div>-->
        <div class="flex-grow-1 overflow-auto m-4 p-4 border rounded default-bg-color" style="max-height: 100%">
            <div style="height: 100%">
                <FullCalendar id="fullcalendar"
                              ref="calendar"
                              default-view="dayGridMonth"
                              height="parent"
                              :locale="viPlugin"
                              :eventTimeFormat="{
                                  hour: 'numeric',
                                    minute: '2-digit',
                                    meridiem: 'short',
                                    hour12: true,
                                    }
                               "
                              :slotLabelFormat="{
                                  hour: 'numeric',
                                    minute: '2-digit',
                                    meridiem: 'short',
                                    hour12: true,
                                    }
                               "
                              :titleFormat="{
                                year: 'numeric', month: 'long', day: 'numeric'
                              }"
                              :events="events"
                              :header="calendarHeader"
                              :plugins="calendarPlugins"
                              @eventClick="eventClick"
                              :slotDuration="'00:15:00'"
                             >
                </FullCalendar>
            </div>
        </div>
        <interview-detail-modal v-model="visibleModal" :interview="selected_interview"
                                v-on:handledModalClose="handleModalClose"></interview-detail-modal>
    </div>

</template>

<style lang='scss'>
    @import '~@fullcalendar/core/main.css';
    @import "~@fullcalendar/daygrid/main.css";
    @import "~@fullcalendar/timegrid/main.css";
    .fc-button{
        margin-right: 5px;
    }
</style>

<script lang="ts">
    import Vue from "vue";
    import FullCalendar from '@fullcalendar/vue';
    import dayGridPlugin from '@fullcalendar/daygrid';
    import timeGridPlugin from '@fullcalendar/timegrid';
    import InteractionPlugin from '@fullcalendar/interaction';
    import InterviewDetailModal from '@/components/Calendar/InterviewDetailModal.vue';
    //import {Modal} from 'bootstrap-vue';




    import viPlugin from "@fullcalendar/core/locales/vi";
    import OptionDropdown from "@/components/OptionDropdown/OptionDropdown.vue";
    import EventOwnerTypes from '@/components/Calendar/EventOwnerOptions';
    import {Component, Prop} from "vue-property-decorator";
    import {mapActions, mapGetters, mapState} from 'vuex';
    import Schedule from "@/models/Schedule";
    import _ from "lodash";
    //import momentPlugin from '@fullcalendar/moment';



    @Component({
        components: {
            FullCalendar,
            OptionDropdown,
            InterviewDetailModal
        },
        methods: {
            ...mapActions([
                'getPositionSchedules',
                'getAllSchedules',
            ]),
        },
        computed: {
            ...mapGetters([
                'listAllScheduleMeeting',
                'currentPositionSchedule',
                'currentUser',
                'unsubscribeSchedules'
            ]),
             position_id() {
                return this.$route.params.position_id || ''
            },
            schedules() {
                let that = this as any;
                return that.listAllScheduleMeeting;
            }
        },
        destroyed(): void {
            let that = this as any;
            if (that.unsubscribeSchedules) {
                that.unsubscribeSchedules();
            }
        }
    })
    export default class CalendarPage extends Vue {
        //@Prop({default: null})
        //position_id: string | null;

        calendarPlugins = [
            dayGridPlugin,
            timeGridPlugin,
        ];
        viPlugin = viPlugin;
        calendarHeader = {
            left: "today prev,next",
            center: "title",
            right: "dayGridMonth,timeGridWeek,timeGridDay",
        };


        event_owner_filters = '';
        event_owner_options = EventOwnerTypes;

        newEvent = {
            startStr: "",
            endStr: "",
        };

        position_filters = [] as string[];
        visibleModal = false;
        selected_interview = {};


        get events(): any[] {
            let that = this as any;
            let events_data = [] as any;
            events_data = that.schedules;
            const userid = that.currentUser.id;

            if (that.currentUser.role == "1") {  //admin
                events_data = events_data.filter(e => {
                    if ((_.includes(e.interviewer_ids,userid)) || (e.acting_user.name ==  that.currentUser.name)) {// nguoi tao event hoac tham gia
                        return true;
                    } else {
                        return false;
                    }
                });
            } else {
                events_data = events_data.filter(e => {
                    if  (e.acting_user.name ==  that.currentUser.name) {//nguoi tao
                        return true;
                    } else {
                        return false;
                    }
                });
            }

            return events_data.map((v: any) => {
                let color = '#76d691';

                if (_.includes(v.interviewer_ids,userid))
                    color = '#5ac0e5';

                return {
                    title: v.candidate_name,
                    start: v.start_time,
                    end: v.end_time,
                    color: color,
                    textColor: 'white',
                    editable: true,
                    id: v.id,
                }
            });
        }

        eventClick(objEvent: any): void {
            // this.$router.push(`/event/${objEvent.event.id}`);
            let that = this as any;

            console.log(objEvent.event.id);
            that.selected_interview = _.find(that.schedules, {
                'id': objEvent.event.id
            })

            console.log(that.selected_interview);

            that.visibleModal = true;
        }

        dateSelect(objEvent: any): void {
            this.newEvent = objEvent;
            (this.$refs.addEventModal as any).show();
        }


        handleModalClose(): void {
            this.visibleModal = false;
            this.selected_interview = {};
        }

        // HOOK

        mounted() {
            const that = this as any;
            if(that.position_id){
                that.getPositionSchedules(that.position_id)
            }else{
                that.getAllSchedules()
            }
        }
    }
</script>
