<template>
    <b-modal :visible="value" @hide="handledClose" modal-class="interview-detail"
             :hide-footer="true"
             id="interview-modal">
        <template slot="modal-title">
            <div class="candidate-header" v-if="interview.id">
                <div class="candidate-header-actions">
                    <ul class="actions">
                        <li class="action">
                            <button class="btn btn-sm" type="button"  @click="gotoCandidate()"><span>{{messages.SR_008_CALENDAR_VIEWCANDIDATE}}</span>
                            </button>
                        </li><!-- ngIf: position.is_member && interview.type === "panel" -->
                        <li class="action ng-scope"
                            ng-if="position.is_member &amp;&amp; interview.type === &quot;panel&quot;">
                            <button class="btn btn-sm" type="button"
                                    @click="openScheduleInterview()" v-tooltip="{
                                        content: messages.SR_008_CALENDAR_MAKE_CHANGES,
                                       placement:'bottom-start',
                                       trigger: 'hover'
                                      }"
                                    data-container="body"><i class="fa fa-edit"></i></button>
                        </li><!-- end ngIf: position.is_member && interview.type === "panel" -->
                        <!-- ngIf: position.is_admin -->
                        <li class="action ng-scope" ng-if="position.is_admin">
                            <button class="btn btn-sm" type="button"  @click="cancelInterview()"
                                    v-tooltip.bottom-start="messages.SR_008_CALENDAR_CANCEL" data-container="body"><i
                                class="fa fa-times"></i></button>
                        </li><!-- end ngIf: position.is_admin --></ul>
                    <ul class="actions"><!-- ngIf: interview.video_session_id -->
                        <!-- ngIf: !interview.video_session_id -->
                        <li class="action ng-scope" ng-if="!interview.video_session_id" style="display:none"><a
                            class="btn btn-sm"
                            href="/interview/2cf567ab1299/overview"
                            target="_blank"><i
                            class="fa fa-external-link-alt"></i><span> Feedback Card</span></a></li>
                        <!-- end ngIf: !interview.video_session_id --></ul>
                </div>
                <avatar :size="74" :username="interview.candidate.name"
                        :initials="interview.candidate.name.charAt(0).toUpperCase()" :src="interview.candidate.photoURL"
                        v-if="interview.candidate.name"
                        class="ng-isolate-scope sm avatar color4"
                        style="border: 4px solid #dedede;position: absolute"></avatar>
                <div class="candidate-info"><h1 class="name ng-binding">{{interview.candidate_name}}</h1>
                    <ul class="contact-points">
                        <li class="candidate-detail-item phone-number" v-if="interview.candidate.phone_number"><a
                            :href="'tel:'+interview.candidate.phone_number" target="_blank"><i
                            class="fa fa-phone"></i><span
                            class="ng-binding"> {{interview.candidate.phone_number}}</span></a></li>
                        <li class="candidate-detail-item email-address" v-if="interview.candidate.email_address"><a
                            :href="'mailto:'+interview.candidate.email_address" target="_blank"><i
                            class="fa fa-envelope"></i><span style="padding-left: 5px;">{{interview.candidate.email_address}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </template>

        <div class="details-container" v-if="interview.id">
            <div class="section">
                <div class="organizer-container"><h1><strong>{{messages.SR_008_CALENDAR_ORGANIZER}}</strong>
                </h1><span class="ng-binding">{{interview.acting_user.name}}</span></div>
                <div class="time-container">
                    <h1><strong>{{messages.SR_008_CALENDAR_DATE_TIME}}</strong></h1><span
                    class="ng-binding datemeeting">{{date_meeting(interview.start_time,interview.end_time)}}</span>
                </div>
            </div>
            <div class="section" v-if="interview.location" >
                <h1><strong>{{messages.SR_008_CALENDAR_LOCATION}}</strong></h1>
                <p class="ng-binding">{{interview.location}}</p>
            </div><!-- end ngIf: interview.location -->
            <!-- ngIf: interview.description -->
            <div class="section clearfix" v-if="interview.description">
                <h1><strong>{{messages.SR_008_CALENDAR_DESCRIPTION}}</strong></h1>
                <div class="description ng-isolate-scope" style="white-space: pre-line;width: 100%;overflow: hidden;" marked="interview.description">{{interview.description}}</div>
            </div><!-- end ngIf: interview.description --><!-- ngIf: interview.has_video -->
            <div class="section">
                <div class="guests-container"><h1><strong>{{messages.SR_008_CALENDAR_ATTENDEES}}</strong></h1>
                    <ul class="guests"><!-- ngRepeat: attendee in interview.attendees -->
                        <li class="participant ng-scope" v-if="interview.candidate.name">
                            <!-- ngIf: attendee.attendee_status --><!-- ngIf: !attendee.attendee_status -->
                            <span class="meeting-status unknown ng-scope" data-container="body"
                            ></span>
                            <span class="name ng-binding ng-scope"
                                  ng-if="attendee.name"> <strong class="ng-binding">{{interview.candidate.name}} </strong>({{interview.candidate.email_address}})</span>
                        </li>
                        <li class="participant ng-scope" :key="idx" v-for="(item, idx) in interview.interviewers">
                            <!-- ngIf: attendee.attendee_status --><!-- ngIf: !attendee.attendee_status -->
                            <span class="meeting-status unknown ng-scope" data-container="body"
                            ></span>
                            <span class="name ng-binding ng-scope"
                                  ng-if="attendee.name"> <strong class="ng-binding">{{item.name}} </strong>({{item.email}})</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section" v-if="interview.interview_guide.sections" >
                <h1><strong>{{messages.SR_008_CALENDAR_INTERVIEW}}</strong></h1>
                <ul class="guide-sections">
                    <li class="guide-section ng-scope" v-for="section in interview.interview_guide.sections ">
                        <h2 class="ng-binding">{{section.section_name}}</h2>
                        <ul>
                            <li class="section-criteria ng-scope" v-for="c in section.list_criteria">
                                <span class="ng-binding">{{c.criteria_name}}</span>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <ScheduleInterviews
            v-on:closeModal="closedScheduleModal"
            :showModal="showModalSchedule"
            :currentCandidate="candidate"
            :type="'edit'"
            :currentPosition="currentPosition">
        </ScheduleInterviews>
    </b-modal>

</template>

<script lang="ts">
    import Avatar from 'vue-avatar';
    import moment from 'moment';
    import ScheduleInterviews from '@/components/modals/ScheduleInterviews.vue';
    import Position from '@/models/Position';
    import Candidate from "@/models/Candidate";
    import Activity from "@/models/Activity";
    import {mapMutations, mapGetters,mapActions} from 'vuex';
    import {messages} from "@/messages";
    import _ from "lodash"

    moment.locale('vi');
    moment.updateLocale('vi', {
        meridiem : function (hours, minute, isLowercase) {
            if (hours < 12) {
                return  'SA' ;
            } else {
                return  'CH' ;
            }
        }
    });

    export default {
        name: "InterviewDetailModal",
        props: {
            value: {
                type: Boolean,
                default: false
            },
            interview: {
                type: Object,
                default: () => {
                    return {}
                }
            }
        },
        components: {
            Avatar,
            ScheduleInterviews,
        },
        data() {
            return {
                showModal: false,
                showModalSchedule: false,
                currentPosition: {},
                candidate: {},
            }
        },
        computed: {
            ...mapGetters([
                'currentCandidate',
                'currentUser',
                'currentCompany',
                'positionCandidate',
                'listPosition'
            ]),
            position() {
                let that = this as any;
                return _.find(that.listPosition, (position) => {
                    return position.id == that.interview.position_id;
                })
            }
        },
        methods: {
            ...mapMutations([
                'setCurrentScheduleMeeting',
                'setCandidate'
            ]),
            ...mapActions([
                'getCurrentInterview',
            ]),
            date_meeting(start: any, end: any): string {
                let result = "";
                if ((start) && (end))
                    result = moment(start).format('dddd, DD/MM, h:mm A') + ' - ' + moment(end).format('h:mm A');

                return result;
            },

            closedScheduleModal() {
                let that = this as any;
                that.showModalSchedule = false;
                that.$emit("handledModalClose");
            },

            handledClose() {
                let that = this as any;
                that.$emit("handledModalClose");
            },
            gotoCandidate() {
                let that = this as any;
                that.$emit("handledModalClose");
                that.$router.push(`/candidate/${that.interview.candidate.id}`);
            },
            openScheduleInterview() {
                let that = this as any;
                //let pos = await new Position().getById(that.interview.position_id) as Position;
                // let candi = await new Candidate().getById(that.interview.candidate.id) as Candidate;
                that.currentPosition = that.position;
                that.candidate = that.interview.candidate;
                let datas ={
                    interviewDate: that.interview.interview_date,
                    listMeeting: [that.interview],
                    timezone: that.interview.timezone,
                };
                that.setCurrentScheduleMeeting(datas);
                that.showModalSchedule = true;
            },
            async cancelInterview() {
                let that = this as any;
                var r = confirm(that.messages.SR_008_CALENDAR_CONFIRM);
                if (!that.currentCandidate) {
                    let candi = await new Candidate().getById(that.interview.candidate.id);
                    that.setCandidate(candi);
                }

                if (r == true) {
                    let activity = new Activity();
                    activity.company_id = that.currentCompany.id;
                    activity.position_id = that.currentCandidate.position_id;
                    activity.candidate_id = that.currentCandidate.id;
                    activity.actor = that.currentUser.cloneNewObject();
                    activity.title = `${that.currentCandidate.name} ${that.messages.SR_037_MEETING} (${that.currentCandidate.position.name})`;
                    activity.action_text = that.messages.SR_037_CANCELED_MEETING;
                    activity.activity_type = "meeting";
                    activity.action = "canceled";
                    activity.target_object = that.interview.cloneNewObject();
                    activity.insert();
                    that.interview.cancelSchedule().catch(er => {
                        console.log(er);
                    }).then(() => {
                        that.getCurrentInterview(that.currentCandidate.id).then(() => {
                        });
                    });
                    that.$emit('canceledInterview');
                    that.$emit("handledModalClose");
                }

            }
        }

    }
</script>

<style lang="scss">
    @import "../../assets/styles/constants";

    .interview-detail {
        span.datemeeting {
            text-transform: capitalize;
        }
        .modal-dialog {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .candidate-header {
            min-height: 110px;
            padding: 20px;
            background-color: #384047;
            border-radius: 4px 0 0 0;
        }
        .candidate-header .candidate-header-actions {
            float: right;
        }
        .candidate-header .candidate-header-actions .actions {
            text-align: right;
            margin-bottom: 5px;
        }
        .candidate-header .candidate-header-actions .actions li.action {
            display: inline;
            margin-left: 5px;
        }
        .candidate-header .candidate-info {
            margin-left: 90px;
        }
        .candidate-header .candidate-info {
            margin-top: 10px;
        }
        .candidate-header .candidate-info h1 {
            color: #fff;
            font-size: 18px !important;
            line-height: 1.3;
        }
        .candidate-header .contact-points, .candidate-main .candidate-header .contact-points a {
            font-size: 12px;
        }
        .candidate-header .contact-points li a {
            color: #bbb;
        }
        .modal-title {
            width: 100%;
        }
        .modal-header {
            padding: 0;
        }
        .modal-content .close {
            left: -10px;
            right: auto;
            top: 0px;
            padding: 0px 4px;
        }
        .modal-content .close {
            color: #444;
            display: block;
            position: absolute;
            right: 0;
            background: #dedede;
            opacity: 1;
            border-radius: 4px;
            transition: color .3s ease;
            z-index: 1000;
        }
        .details-container {
            padding: 20px 0;
            background-color: #fff;
        }
        .btn:active , .btn:hover, .btn:focus  {
            background: #edeff0 !important;
            color: #68747e !important;
        }

        .details-container .section {
            padding: 0px 20px 20px 20px !important;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        @media (min-width: 768px) {
            .organizer-container {
                float: right;
                width: 220px;
                border-left: 1px solid $border-color;
                padding-left: $padding * 2;
            }
        }

        @media (max-width: 768px) {
            .organizer-container {
                margin-bottom: $margin * 2;
            }

            .candidate-header {
                text-align: center;
            }
            .candidate-header .avatar {
                display: inline-block;
            }
        }
        .details-container h1 {
            font-size: 16px !important;
        }
        .guests-container li .meeting-status.unknown {
            background: #eee;
        }
        .guests-container li .meeting-status {
            border: 1px solid #fafafa;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            display: inline-block;
            z-index: 1000;
            margin-right: 5px;
        }
        p, h1 {
            margin-bottom: 0;
        }
        .modal-body {
            padding: 0;
        }
        .modal-header {
            margin-bottom: 0;
        }

        .guide-section {
            margin-bottom: 20px;
        }

        .guide-section h2 {
            font-size: 14px;
            margin-bottom: 5px;
        }

        .section span {
            font-size: 14px;
        }

        .guide-section li.section-criteria {
            list-style: disc;
            margin-left: 20px;
            margin-bottom: 10px;
        }
        .guests .participant {
            margin-bottom: 4px;
        }
    }
</style>
