<template>
    <div id="_401"
        class="d-flex flex-column justify-content-center align-items-center">
        <img src="@/assets/image/cjp.svg" width="200" alt="">

        <h1>401</h1>
        <h3>{{'Missing Permission'}}</h3>
        <p>{{"You don't have permission to access this page"}}</p>

        <p style="margin-top: 2em">
            <a href="/"><i class="fas fa-home"></i> Home</a>
        </p>
    </div>
</template>

<script lang='ts'>
    import Vue from 'vue';

    export default Vue.extend({
        name: 'MissingPermission',
        data() {
            return {};
        },
    });
</script>

<style lang="scss">
    @import "~styles/app_color";
    #_401 {
        height: 100%;
        h1 {
            font-size: 60px !important;
            font-weight: bold;
            text-shadow: 0 5px 10px #0003;
            color: $cjp-variant;
        }
    }
</style>
