<template>
    <div id="fullbody" class="bg-cjp-linear"
         v-loading="loading"
        element-loading-background="rgba(0, 0, 0, 0.7)">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" >
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="@/assets/image/cjp.svg" width="120px" alt="">
                            </div>

                            <template v-if="error">
                                <div class="d-flex align-items-center flex-column " >
                                    <h2 class="font-weight-bold text-danger" style="font-size: 19px;">{{'Lời mời đã hết hạn'}}</h2>
                                    <h5 style="padding-bottom: 10px;font-size: 16px;">

                                           Lời mời tham gia Cloudjet Potential đã hết hạn,<br/>
                                        liên hệ quản trị viên hoặc gọi về (028) 66 808 662<br/>
                                        để được hỗ trợ.
<!--                                        <a style="word-wrap: break-word; word-break: break-all" :href="url">{{url}}</a>-->
                                    </h5>
<!--                                    <div class="rounded p-3 bg-light mb-4 container-fluid overflow-auto">-->
<!--                                        <code>-->
<!--                                            <pre class="text-danger">{{error}}</pre>-->
<!--                                        </code>-->
<!--                                    </div>-->
                                    <a href="http://www.cloudjetpotential.com/#contact" target="_blank">
                                        <el-button type="primary" icon="el-icon-s-help">{{'Liên hệ trợ giúp'}}</el-button>
                                    </a>
                                </div>
                            </template>
                            <template v-else>
                                <h3 class="card-title text-center">{{messages.SR_002_CREATE_USER_TEXT}}</h3>
                                <b-card class="m-2 shadow" v-if="inviter">
                                    <h5>{{messages.SR_002_EMAIL_INVITE_BY_LABEL}}</h5>
                                    <b-media vertical-align="center">
                                        <b-media-aside slot="aside">
                                            <avatar :src="inviter.photoURL" :size="56" :username="inviter.name"></avatar>
                                        </b-media-aside>
                                        <h4>{{inviter.name}}</h4>
                                        <p>{{inviter_company.name}}</p>
                                    </b-media>
                                </b-card>
                                <form action="#" @submit="login" autocomplete="off">
                                    <b-form-group v-for="(item, field) in form"
                                                  :key="field"
                                                  v-tooltip.left="messages.SR_005_REQUIRED"
                                                  :state="errors.has(item.label) ? 'invalid' : null"
                                                  :invalid-feedback="errors.first(item.label)"
                                                  :label="item.label">
                                        <b-form-input v-model="item.input"
                                                      :type="item.type || 'text'"
                                                      :name="item.label"
                                                      :ref="item.ref"
                                                      autocomplete="new-password"
                                                      v-validate="item.rule"
                                                      :disabled="item.disabled"
                                                      :placeholder="item.label"
                                                      :data-vv-as="item['data-vv-as']"

                                        ></b-form-input>
                                    </b-form-group>

                                    <b-button type="submit"
                                              block
                                              variant="blue">
                                        {{messages.SR_002_LOGIN_TEXT}}
                                    </b-button>
                                </form>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
    @import "~styles/app_color";
    label {
        display: inline-block;
        margin-top: .5rem;
        margin-bottom: 0px;
    }
    .form-label-group {
        margin-bottom: .5rem;
    }
    #fullbody {
        min-height: 100vh;
        height: max-content;

        form legend::after {
            content: " (*)";
            color: red;
        }
    }
</style>


<script lang="ts">
    import Vue from "vue";
    import {fauth, server_time} from '@/firebase';
    import User from "@/models/User";
    import Invite from "@/models/Invite";
    import Avatar from 'vue-avatar';
    import Company from "@/models/Company";
    import VeeValidate, {Validator} from 'vee-validate';

    const dictionary = {
        vi: {
            messages: {
                required:(field) => `${field} là bắt buộc và không được nhập khoảng trắng.`,

            }
        }
    };


    const dict = {
        custom: {
            'Mật khẩu': {
                required: 'Mật khẩu là bắt buộc và không được nhập khoảng trắng.'
            },
            'Xác nhận lại mật khẩu': {
                required: 'Xác nhận lại mật khẩu là bắt buộc và không được nhập khoảng trắng.',
                confirmed:'Mật khẩu xác nhận lại không khớp'
            },

        }
    };
    Validator.localize('vi', dict);
   // Validator.localize(dictionary);


    export default Vue.extend({
        components: {
            Avatar,
        },
        data() {
            return {
                url: window.location.href,
                form: {
                    name: {
                        input: "",
                        rule: "required|min:5",
                        label: this.$cjpmessages.SR_002_NAME_TEXT,
                        'data-vv-as':this.$cjpmessages.SR_002_NAME_TEXT
                    },
                    email: {
                        input: "",
                        type: "email",
                        rule: "required|email",
                        label: this.$cjpmessages.SR_002_EMAIL_TEXT,
                        disabled: false,
                        'data-vv-as':this.$cjpmessages.SR_002_EMAIL_TEXT
                    },
                    password: {
                        input: "",
                        rule: "required|min:6",
                        label: this.$cjpmessages.SR_002_PASSWORD_TEXT,
                        type: 'password',
                        'data-vv-as':this.$cjpmessages.SR_002_PASSWORD_TEXT,
                        ref:'password'
                    },
                    confirm: {
                        input: "",
                        rule: "required|confirmed:password",
                        label: this.$cjpmessages.SR_001_CONFIRM_PASSWORD,
                        type: 'password',
                        'data-vv-as':this.$cjpmessages.SR_001_CONFIRM_PASSWORD,
                        ref:'password'
                    },
                },
                error: "",
                loading: false,
                inviteInfo: null as Invite | null,
                inviter: null as User | null,
                inviter_company: null as Company | null,
            }
        },
        computed: {
            origin() {
                return window.location.href.replace("create-user", "reset-password");
            },
        },
        methods: {
            async login(ev: Event) {
                ev.preventDefault();
                this.loading = true;
                const self = this;

                try {
                    const isValidated = await this.$validator.validateAll();
                    const email = this.form.email.input;
                    const name = this.form.name.input;
                    const password = this.form.password.input;

                    if (isValidated && email) {

                        this.inviteInfo = await Invite.instance.getbyEmail(email);
                        if (!this.inviteInfo) throw new Error(
                            `Không tìm thấy lời mời với email ${email},
                        hoặc lời mời đã hết hạn`
                        );

                        // now, currentUser is sign in
                        const result = await fauth.signInWithEmailLink(email, this.origin);
                        const user = result.user;


                        await user.updatePassword(password);

                        let data = {
                            name: name,
                            email: email,
                            company_id: this.inviter_company.id,
                            role: this.inviteInfo.role,
                            created_by: this.inviter.id,
                            updated_by: this.inviter.id,
                            created_date: server_time.now.valueOf(),
                            updated_date: server_time.now.valueOf(),
                            signatureFlag: false,
                            signatureHtml:
                                `<p>-</p><p>${name}</p>`,
                            meetingRemind: true,
                            candidateAssign:  true,
                            taskAssign:  true,
                            taskDuel: true,
                            status: "1",
                        };

                        await this.inviteInfo.delete();

                        const existsUser = await User.instance.getUserbyEmail(email);
                        if (!existsUser) {
                            await User.instance.collection().doc(user.uid).set(data);
                        } else {
                            await User.instance.collection().doc(existsUser.id).update(data);
                        }

                        window.location.href = '/';
                        return;
                    }
                } catch (e) {
                    console.error(e + "");
                    this.error = e + "";
                   // this.$message.error(this.error);
                } finally {
                    this.loading = false;
                }
            }
        },
        async created() {
            this.loading = true;
            try {
                const continueUrl = this.$route.query.continueUrl as string;
                const otherQuery = new URL(continueUrl);
                const email = otherQuery.searchParams.get("email");
                if (email) {
                    this.form.email.input = email;
                    this.form.email.disabled = true;

                    this.inviteInfo = await Invite.instance.getbyEmail(email);
                    if (!this.inviteInfo) throw new Error(
                        `Không tìm thấy lời mời với email ${email},
                        hoặc lời mời đã hết hạn`
                    );

                    this.inviter = await User.instance.getById(this.inviteInfo.invite_by) as User;
                    this.inviter_company = await Company.instance.getById(this.inviteInfo.company_id) as Company;
                } else {
                    console.error("Cannot get email");
                    this.error = "Không tìm thấy email";
                    //this.$message.error(this.error);
                }
            } catch (e) {
                this.error = e + "";
                //this.$message.error(this.error);
            } finally {
                this.loading = false;
            }
        },
    });
</script>
