<template>
    <div  class="home dashboard d-flex flex-column" style="height: 100%">
        <header v-if="listAllPosition.length > 0" class="border rounded flex-shrink-0 bg-light">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="px-4">{{messages.SR_045_LBL_MY_DASHBOARD}}</h4>
                <div class >
                    <ul class="list-inline my-4 d-flex align-items-center justify-content-end dashboard-summary" >
                        <li class="list-inline-item d-flex mx-4">
                            <h5 class="d-flex align-items-center mb-0" style="font-weight: 600">{{messages.SR_045_LBL_RECENT_STATS}}</h5>
                        </li>
                        <li class="list-inline-item d-flex mx-4">
                            <h4 class="d-flex align-items-center mx-2 mb-0">{{countPositionsActivated}}</h4>
                            <div class="text-secondary">
                                <p class="mb-0" v-html="messages.SR_045_LBL_POS_ACTIVATE">Positions<br>Activated</p>
                            </div>
                        </li>
                        <li class="list-inline-item d-flex mx-4">
                            <h4 class="d-flex align-items-center mx-2 mb-0">{{countNewCandidates}}</h4>
                            <div class="text-secondary">
                                <p class="mb-0" v-html="messages.SR_045_LBL_NEW_CANDIDATE">New<br>Candidates</p>
                            </div>
                        </li>
                        <li class="list-inline-item d-flex align-items-center mx-4">
                            <h4 class="d-flex mx-2 mb-0">{{countCandidatesMoved}}</h4>
                            <div class="text-secondary">
                                <p class="mb-0" v-html="messages.SR_045_LBL_CAN_MOVE_FORD">Candidates<br>Moved Forward</p>
                            </div>
                        </li>
                        <li class="list-inline-item d-flex mx-4">
                            <h4 class="d-flex align-items-center mx-2 mb-0">{{countCandidateHired}}</h4>
                            <div class="text-secondary">
                                <p class="mb-0" v-html="messages.SR_045_LBL_CAN_HIRED">Candidates<br>Hired</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div v-if="listAllPosition.length > 0" class="flex-grow-1 overflow-auto">
            <div class="row m-0" style="height: 100%;">
                <!-- First column -->
                <div class="col-lg-4 p-3 " style="height: 100%;">
                    <position-section class="d-flex flex-column"></position-section>
                </div>
                <!-- Second column -->
                <div class="col-lg-4 overflow-auto d-flex flex-column p-3" style="height: 100%;">
                    <candidate-section class="d-flex flex-column"
                                       style="flex-basis: 50%;overflow: auto"></candidate-section>

                    <my-task-section class="d-flex flex-column"
                                     style="flex-basis: 50%;overflow: auto"></my-task-section>
                </div>
                <!-- Third column -->
                <div class="col-lg-4 d-flex flex-column p-3" style="height: 100%;">
                    <my-agenda-section class="d-flex flex-column"
                                       style="flex-basis: 50%;overflow: auto"></my-agenda-section>

                    <conversation-section class="d-flex flex-column"
                                          style="flex-basis: 50%;overflow: auto"></conversation-section>
                </div>
            </div>
        </div>
        <Onboarding v-else></Onboarding>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import {mapGetters, mapActions} from "vuex";
    import Task from "@/models/Task";
    import Position from "@/models/Position";
    import Candidate from "@/models/Candidate";
    import PositionSection from "../components/Dashboard/PositionSection.vue";
    import CandidateSection from "../components/Dashboard/CandidateSection.vue";
    import MyTaskSection from "../components/Dashboard/MyTaskSection.vue";
    import MyAgendaSection from "../components/Dashboard/MyAgendaSection.vue";
    import ConversationSection from "../components/Dashboard/ConversationSection.vue";
    import Onboarding from "../components/Onboarding/Onboarding.vue"
    import {VclCode} from "vue-content-loading";

    export default Vue.extend({
        name: "home",
        components: {
            PositionSection,
            CandidateSection,
            MyTaskSection,
            MyAgendaSection,
            ConversationSection,
            VclCode,
            Onboarding
        },
        data() {
            return {
                tasks: [] as Task[],
                positions: [] as Position[],
                candidates: [] as Candidate[]
            };
        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "listAllPosition",
                'countPositionsActivated',
                'countNewCandidates',
                'countCandidatesMoved',
                'countCandidateHired',
                'unsubscribeDashboardInbox',
                'unsubscribePositionDashboard',
                'unsubscribeCandidateDashboard',
                'candidateLoading',
                'unsubscribeCandidates'
            ])
        },
        mounted() {
            let that = this as any;
            that.getRecentStats();
        },

        methods: {
            ...mapActions([
                'getRecentStats'
            ])
        },
        destroyed(): void {
            let that = this as any;
            if (that.unsubscribeDashboardInbox) {
                that.unsubscribeDashboardInbox()
            }
            if (that.unsubscribePositionDashboard) {
                that.unsubscribePositionDashboard()
            }
            if (that.unsubscribeCandidateDashboard) {
                that.unsubscribeCandidateDashboard()
            }
            if (that.unsubscribeCandidates) {
                that.unsubscribeCandidates();
            }
        }
    });
</script>

<style lang="scss">
    .dashboard {
        .dashboard-summary {
            .text-secondary {
                p {
                    font-size: 12px;
                    color: #84929f !important;
                }
            }
        }

        .no-activity-container {
            text-align: center;
            padding: 30px;
            border: 1px solid #edeff0;
            background: #fefefe;
            color: #84929f;
        }

        h1 {
            font-size: 24px;
            font-weight: 400;
            line-height: 1.5;
        }

        p {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 200;
        }
    }
    .common-tooltip {
        font-size: 11px;
    }
</style>
