<template>
    <div class="landing-page">
        <div v-if="currentPortalLandingPage.config == 'bold'" class="landing">
            <Header></Header>
        </div>
        <router-view ></router-view>
        <Footer></Footer>
    </div>
</template>


<script lang="ts">
    import Vue from 'vue';
    import Header from '@/components/LandingPage/Header.vue';
    import Footer from '@/components/LandingPage/Footer.vue';
    import {mapActions, mapGetters} from 'vuex';
    import Meta from 'vue-meta'
    // @ts-ignore
    Vue.use(Meta, {
        keyName: 'metaInfo',
        attribute: 'data-vue-meta',
        ssrAttribute: 'data-vue-meta-server-rendered',
        tagIDKeyName: 'vmid',
        refreshOnceOnNavigation: true
    })
    // @ts-ignore
    const $ = window.jQuery = window.$ = require('jquery');
    require("@fancyapps/fancybox/dist/jquery.fancybox.min");

    export default Vue.extend({
        name: 'LandingPage',
        components: {
            Header,
            Footer,
        },
        metaInfo() {
            return {
                meta: [
                    {
                        'property': 'og:url',
                        'content':window.location.href,
                        'vmid': 'og:url'
                    },
                    {
                        'property': 'og:image',
                        // @ts-ignore
                        'content':this.currentPortalLandingPage.appearance_header,
                        'vmid': 'og:image'
                    },
                    {
                        'name': 'og:image:alt',
                        // @ts-ignore
                        'content': `Tuyển dụng - ${this.currentCompanyLandingPage.name}`,
                        'vmid': 'twitter:card'
                    },
                    {
                        'property': 'og:type',
                        'content': 'website',
                        'vmid': 'og:type'
                    },
                    {
                        'property': 'og:title',
                        // @ts-ignore
                        'content': this.currentCompanyLandingPage.name + ' - ' + this.currentPortalLandingPage.messaging_header,
                        'vmid': 'og:title'
                    },
                    {
                        'property': 'og:description',
                        // @ts-ignore
                        'content': this.currentPortalLandingPage.messaging_subheader,
                        'vmid': 'og:description'
                    },
                    {
                        'name':'description',
                        // @ts-ignore
                        'content': this.currentPortalLandingPage.messaging_subheader,
                        'vmid': 'description'
                    },
                    {
                        'name':'og:site_name',
                        // @ts-ignore
                        'content': this.currentCompanyLandingPage.name + " tuyển dụng",
                        'vmid': 'og:site_name'
                    },
                    {
                        'name':'twitter:card',
                        // @ts-ignore
                        'content': 'summary_large_image',
                        'vmid': 'twitter:card'
                    },
                    {
                        'name':'twitter:title',
                        // @ts-ignore
                        'content': this.currentCompanyLandingPage.name + ' - ' + this.currentPortalLandingPage.messaging_header,
                        'vmid': 'twitter:title'
                    },
                    {
                        'name':'twitter:description',
                        // @ts-ignore
                        'content': this.currentPortalLandingPage.messaging_subheader,
                        'vmid': 'twitter:description'
                    },
                    {
                        'name':'twitter:image',
                        // @ts-ignore
                        'content': this.currentPortalLandingPage.appearance_header,
                        'vmid': 'twitter:image'
                    },
                ]
            }
        },
        data() {
            return {
                // messages: messages
                slide_bar_show:true,
            }
        },
        provide() {
            //@ts-ignore
            let that = this as any;
            return {
                getAddress: that.addressPosition
            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'currentPositionView',
            ]),
            cssAppend(){
                let that  = this as any;
                 if(that.currentPortalLandingPage['config'] === 'simple'){
                    return that.currentPortalLandingPage['css'] = '';
                }else {
                    return that.currentPortalLandingPage['css']
                }
            }
        },
        watch: {
            currentPositionView(val){
                let that = this as any;
                if(val){
                    let positionViewTitle = val.title.split(" ");
                    for(let i=0, x=positionViewTitle.length; i<x; i++){
                        positionViewTitle[i] = positionViewTitle[i][0].toUpperCase() + positionViewTitle[i].substr(1)
                    }
                    return document.title = "Tuyển dụng " + positionViewTitle.join(" ") + " | " + that.currentCompanyLandingPage.name;
                }
            },
            '$route.name': function (val) {
                let that = this as any;
                if(val === 'LandingPageHome' || val === 'LandingPageHomeSimple'){
                    return document.title = "Tuyển dụng | " + that.currentCompanyLandingPage.name;
                }
                return;
            }
        },
        async mounted() {
            let that = this as any;
            document.title = "Tuyển dụng | " + that.currentCompanyLandingPage.name;
            await that.getPortalLandingPage(that.currentCompanyLandingPage.id);
            var css = '.bzyButtonColor:hover{ background-color:'+ that.currentPortalLandingPage.appearance_button_color + '!important;'
                + ' color: #ffffff !important; border: 2px solid transparent !important}' +
                '.breadcrumbs li a,.breadcrumbs a, .breadcrumbs li a:hover { color:' + that.currentPortalLandingPage.appearance_link_color + '!important;}'
                + that.cssAppend;
            var style = document.createElement('style');

            if (style['styleSheet']) {
                style['styleSheet'].cssText = css;
            } else {
                style.appendChild(document.createTextNode(css));
            }
            // alert("tu")
            document.getElementsByTagName('head')[0].appendChild(style);
            if(that.$route.name =='LandingPage'){
                let name_route = that.currentPortalLandingPage.config == 'bold'?'LandingPageHome':'LandingPageHomeSimple'
                let router = {
                    name: name_route,
                };
                that.$router.push(router)
            }


            $(document).ready(() => {
                that.checkFavicon();
                if (that.currentPortalLandingPage.appearance_favicon) {
                    $("link[rel='icon']").remove();
                }
                let a = $(`<link rel="icon" href="${that.currentPortalLandingPage.appearance_favicon}">
                      <link rel="icon" href="${that.currentPortalLandingPage.appearance_favicon}">
                      <link rel="apple-touch-icon" sizes="128x128"  href="${that.currentPortalLandingPage.appearance_favicon}">
                      <link rel="apple-touch-icon-precomposed" href="${that.currentPortalLandingPage.appearance_favicon}">
                      <link rel="shortcut icon" href="${that.currentPortalLandingPage.appearance_favicon}">
                      <link rel="icon" href="${that.currentPortalLandingPage.appearance_favicon}">
                      <link rel="icon" href="${that.currentPortalLandingPage.appearance_favicon}">
                      `);
                $('head').prepend(a);
            });


            await that.getPositionsPublishLandingPage(that.currentCompanyLandingPage.id);

            // @ts-ignore
            window.prerenderReady = true;
        },
        methods: {
            ...mapActions([
                'getCompanyLandingPageByDomain',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage'
            ]),
            addressPosition(position){
                let result = '';
                if (Object.keys(position).length > 0){
                    if (position.address && position.address.trim() != '') {
                        result = `${position.address}, ${position.state}, ${position.location.title}`
                    } else if (position.state && position.state.trim() != '') {
                        result = `${position.state}, ${position.location.title}`
                    }else{
                        result = `${position.location.title}`
                    }
                }
                return result;
            },
            checkFavicon(){
                let that = this as any;
                if(that.currentPortalLandingPage.config == 'simple') {
                    return that.currentPortalLandingPage.appearance_favicon = "";
                }else {
                    if(that.currentPortalLandingPage.appearance_favicon === ''){
                        if(that.currentPortalLandingPage.appearance_logo !== ''){
                            return that.currentPortalLandingPage.appearance_favicon = that.currentPortalLandingPage.appearance_logo;
                        }
                        return that.currentPortalLandingPage.appearance_favicon;
                    }else {
                        return that.currentPortalLandingPage.appearance_favicon;
                    }
                }
            },
            orderByElement(name_element){
                let that = this as any
                let index = that.currentPortalLandingPage.layout.findIndex((element) => element.name == name_element)
                return index
            },
            checkShowElmemt(name_element){
                let that = this as any
                let index = that.currentPortalLandingPage.layout.findIndex((element) => element.name == name_element)
                return that.currentPortalLandingPage.layout[index].is_show
            },

        }
    });

</script>
<style lang="scss">
    /*.app-content{*/
    /*    overflow: unset !important;*/
    /*}*/
    #landing-page{
         a.company-name{
             text-decoration: unset;
        }
    }

</style>

<style lang="scss">
    @import "~styles/landing_page";
</style>

