<template>
<div id="fullbody" class="bg-cjp-linear">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="@/assets/image/cjp.svg" width="220px" alt="">
                        </div>

                        <h3 class="card-title text-center text-cjp" id="login-title">Đăng nhập</h3>
                        <form class="form-signin" @submit="login">
                            <b-input :title="messages.SR_028_COLUMN_EMAIL"
                                     v-validate="'required|email'"
                                     name="email" :disabled="loading"
                                class="login-input" type="email" v-model="email" :placeholder="messages.SR_028_COLUMN_EMAIL"></b-input>
                            <b-alert variant="danger" :show="error.email">{{error.message}}</b-alert>
                            <b-alert variant="danger" :show="errors.has('email')">{{errors.first('email')}}</b-alert>

                            <b-input :title="messages.SR_001_PASSWORD"
                                     v-validate="'required|min:6'"
                                     data-vv-as="Mật khẩu"
                                     name="password" :disabled="loading"
                                    class="login-input" type="password" v-model="password" :placeholder="messages.SR_001_PASSWORD"></b-input>
                            <b-alert variant="danger" :show="error.password">{{error.message}}</b-alert>
                            <b-alert variant="danger" :show="errors.has('password')">{{errors.first('password')}}</b-alert>

                            <button id="login-button" v-if="!loading"
                                class="btn-block bg-cjp-linear text-uppercase" :disabled="loading"
                                type="submit">{{messages.COMMON_SIGN_IN}}</button>
                            <b-progress v-else :max="10" style="height: 3em;border-radius: 1em">
                                <b-progress-bar :value="10" variant="info" striped animated>
                                    {{messages.SR_002_LOGIN_TEXT}}...
                                </b-progress-bar>
                            </b-progress>

                            <hr class="my-4">
<!--                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>-->
<!--                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->
                            <b-link to="/reset-password">Quên Mật Khẩu!</b-link> &nbsp;·&nbsp;
                            <a target="_blank" href="https://help.cloudjetpotential.com">Cần giúp đỡ?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</template>
<style lang="scss">
    :root {
        --input-padding-x: 1.5rem;
        --input-padding-y: .75rem;
    }

    #fullbody {
        height: 100%;
    }

    .card-signin {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-body {
        padding: 2rem;
    }

    .form-signin {
        width: 100%;
    }

    .form-signin .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
    }

    #login-title {
        font-weight: 700;
        font-size: 1.5rem;
    }
    .login-input {
        border-color: #888 !important;
        padding: 1.5em !important;
        margin: 2em 0;
        border-radius: 1em !important;
        &:focus {
            border-color: #2077a0 !important;
        }
    }
    #login-button {
        color: white;
        border: none;
        outline: none;
        border-radius: 1em;
        padding: 1em;
        font-weight: 700;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }
</style>

<script lang="ts">
    import Vue from "vue";
    import {ERROR, fauth} from '@/firebase';
    import {FirebaseError} from 'firebase';
    import User from '../models/User';
    import {messages} from '@/messages';
    import * as firebase from "firebase";

    export default Vue.extend({
        name: "LoginPage",
        data() {
            return {
                email: <string>this.$route.query.email || '', // register will redirect to this with email
                password: "",
                loading: false,
                error: {
                    email: false,
                    password: false,
                    message: '',
                },
            }
        },
        mounted(){
            window.onpopstate = event => {
                if(event){
                     window.history.go(0)
                }
            };
        },
        methods: {
            async login(ev: Event): Promise<any>
            {
                ev.preventDefault();
                if (!await this.$validator.validateAll()) return;
                this.loading = true;
                this.error = {
                    email: false,
                    password: false,
                    message: '',
                };

                try {
                    await fauth.setPersistence(firebase.auth.Auth.Persistence.LOCAL);
                    const userCredential = await fauth.signInWithEmailAndPassword(this.email, this.password);
                    const user = await User.instance.getUserbyEmail(userCredential.user.email);

                    if (user.status != "0") {
                        await this.$store.dispatch("setUser");
                        this.$router.replace('/');
                    } else {
                        this.$message.error(messages.SR_002_SETTING_TEMPORAY_DISABLE);
                        await firebase.auth().signOut();
                    }
                } catch (e) {
                    switch (e.code) {
                        case ERROR.AUTH.USER_NOT_FOUND:
                            this.$message.error(messages.SR_002_USER_NOT_FOUND);
                            break;
                        case ERROR.AUTH.TOO_MANY_REQUEST:
                            this.$message.error(messages.SR_001_TOO_MANY_REQUEST);
                            break;
                        case ERROR.AUTH.WRONG_PASSWORD:
                            this.$message.error(messages.SR_001_WRONG_PASS);
                            break;
                        default:
                            this.$message.error(e.message || e + "");
                            break;
                    }
                } finally {
                    this.loading = false;
                }
            }
        },

        beforeRouteEnter(to, from, next) {
            fauth.onAuthStateChanged(user=>{
                if (user) {
                    return next('/');
                }
                return next();
            })
        }
    });
</script>
