<!--created: An Hoang-->

<template>
    <div class="position-page d-flex flex-column overflow-auto" style="height: 100%">
        <header class="p-3 border flex-shrink-0" style="background: rgb(249, 250, 250);">
            <h3>{{messages.SR_051_POSITION_PAGE}}</h3>
        </header>
        <header class="p-3 px-4 flex-shrink-0">
            <div class="clearfix">
                <!-- Left buttons -->
                <div class="float-left d-flex" style="min-width: 300px">
                    <b-button variant="gray mx-2 flex-shrink-0" @click="filterNav.open = !filterNav.open">
                        <i class="fas fa-filter"></i>
                        <template v-if="filterNav.open">
                            <i class="fas fa-angle-left"></i>
                        </template>
                        <template v-else>
                            <i class="fas fa-angle-right"></i>
                        </template>
                    </b-button>


                    <candidate-columns-filter-dropdown v-model="filter.tableColumns"></candidate-columns-filter-dropdown>

                </div>
                <!-- Right buttons -->
                <div class="float-right position-page-controls">
                    <position-status-all-dropdown  :disabled="selectedPositions.length==0" @update="updateStatePos">
                    </position-status-all-dropdown>
                    <b-button class="mx-2" variant="blue" to="/positions/new">
                        <i class="fas fa-plus"></i>&nbsp;
                        <span>{{messages.SR_051_ADD}}</span>
                    </b-button>
                </div>
            </div>
        </header>
        <!-- Task content -->
        <div class="d-flex flex-grow-1 flex-shrink-1 overflow-auto align-items-start">
            <aside class="flex-shrink-0 position-page-filter-column" style="" :class="{closed: !filterNav.open}">
                <position-filter-column  class="candidate-filters"
                                         @update="UpdateFilter" :filterObject="sqlFilter"></position-filter-column>
            </aside>
            <div class="flex-grow-1 overflow-auto bg-gray msticky-table" style="height: 100%;border: 1px solid #dedede;border-radius: 4px; ">
                <div class="position-page-table-wrapper mx-0 " >
                    <!-- Table content -->
                    <b-form-checkbox-group v-model="row_check" style="width: 100%;">
                        <b-table class="position-page-table"
                                 :sortBy="initialSort"
                                 :sort-desc="true"
                                 hover
                                 show-empty
                                 @row-clicked="choosePosition"
                                 :fields="tableColumns" :items="tableItems"
                                 :busy="loading"
                                 :current-page="currentPage"
                                 :perPage="pageSize"
                                 :tbody-tr-class="rowClass"
                            >
                            <template slot="table-busy">
                                <div class="d-flex align-items-center flex-column">
                                    <h3>Loading</h3>
                                    <b-spinner></b-spinner>
                                </div>
                            </template>

                            <template slot="empty" slot-scope="scope">
                                <div  style="text-align: center; padding-top: 100px;color: #84929f;">
                                    <h1><i class="fa fa-briefcase"></i><span style="margin-left: 5px;">{{messages.SR_032_NO_RESULT}}</span>
                                    </h1><p>{{messages.SR_032_NO_RESULT_DESC}}</p>
                                </div>
                            </template>
                            <!-- CUSTOM CHECK COLUMN-->
                            <template slot="HEAD_selected">
                                <input type="checkbox" v-model="selectedAll" name="selectedAll" ></input>
                            </template>
                            <template slot="selected" slot-scope="{ item }" class="custom-table-select">
                                <b-form-checkbox :value="item.id" style="margin-right: 0px;top: -5px;"></b-form-checkbox>
                            </template>

                            <!--CUSTOM STATE-->
                            <template slot="HEAD_state">
                                <i class="fas fa-circle" ></i>
                            </template>
                            <template slot="state" slot-scope="{item}">
                                <position-status-dropdown v-model="item" @trigerPublishModal="UpdatePublishId" ></position-status-dropdown>
                            </template>

                            <!--CUSTOM CANDIDATES-->
                            <template slot="HEAD_count_candidate">
                                <span v-tooltip="messages.SR_051_COLUMN_CANDIDATES">
                                    <i class="fas fa-users" ></i>
                                </span>
                            </template>
                            <template slot="HEAD_ccount_candidate" slot-scope="{item}">
                                <div class="align-items-center" style="height: 100%;text-align: center;" >
                                    {{item.count_candidate}}
                                </div>
                            </template>



                            <!--CUSTOM CREATE AT-->
                            <template slot="HEAD_createdAt">
                                <div class="align-items-center" style="height: 100%;text-align: center;">
                                    <i class="fas fa-clock"  v-tooltip.bottom-start="messages.SR_028_COLUMN_CREATED_AT"></i>
                                </div>
                            </template>
                            <template slot="createdAt" slot-scope="{item}">
                                <div class="align-items-center" style="height: 100%;text-align: center;"  v-tooltip.bottom-start="formatTooltipCreateAt(item.createdAt)">
                                    {{formatCreateAt(item.createdAt)}}
                                </div>
                            </template>


                            <template slot="HEAD_updatedAt">
                                <div class="align-items-center" style="height: 100%;text-align: center;" >
                                    <i class="fas fa-bolt" v-tooltip.bottom-start="messages.SR_028_COLUMN_UPDATED_AT"></i>
                                </div>
                            </template>
                            <template slot="updatedAt" slot-scope="{item}">
                                <div class="align-items-center" style="height: 100%;text-align: center;"  v-tooltip.bottom-start="formatTooltipUpdatedAt(item.updatedAt)">
                                    {{formatUpdatedAt(item.updatedAt)}}
                                </div>
                            </template>

                            <!--CUSTOM NAME WITH DROPDOWN & PROMOTE-->
                            <template slot="name" slot-scope="{item}">
                                <div class="d-flex justify-content-between">
                                    <div class="text-overflow">{{item.name}}</div>
                                    <div class="d-flex">
                                        <b-button variant="gray btn-xxs"
                                                  v-if="item.candidate_type === 'unlisted' && item.state === 'published'"
                                                  @click="actionUpdateControlApplication(item.id)"
                                                  v-tooltip.bottom-start="messages.SR_051_CANDIDATE_UNLISTED_TOOLTIP" style="margin-right: 5px;">
                                            <i class="fa fa-user-secret"></i>&nbsp;
                                            <span>{{messages.SR_051_CANDIDATE_UNLISTED}}</span>
                                        </b-button>
                                        <b-button variant="gray btn-xxs"
                                                  v-if="item.candidate_type === 'disabled' && item.state === 'published'"
                                                  @click="actionUpdateControlApplication(item.id)"
                                                  v-tooltip.bottom-start="messages.SR_051_CANDIDATE_DISABLED_TOOLTIP" style="margin-right: 5px;">
                                            <i class="fa fa-pause"></i>&nbsp;
                                            <span>{{messages.SR_051_CANDIDATE_DISABLED}}</span>
                                        </b-button>

                                        <b-dropdown variant="gray btn-xxs" no-caret
                                                    boundary="body">
                                            <template slot="button-content">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </template>
                                            <b-dropdown-item v-if="$can('modify', item)" @click="actionInPosition('edit', item)">{{messages.SR_051_ACTION_EDIT}}</b-dropdown-item>
                                            <b-dropdown-item v-if="$can('modify', item)" @click="actionInPosition('clone', item)">{{messages.SR_051_ACTION_CLONE}}</b-dropdown-item>
                                            <b-dropdown-item  @click="actionInPosition('share', item)" v-if="item.state == 'published'">{{messages.SR_051_ACTION_SHARE}}</b-dropdown-item>
                                            <b-dropdown-item  @click="actionInPosition('view_on_portal', item)" v-if="item.state == 'published'">{{messages.SR_051_ACTION_VIEW_ON_PORTAL}}</b-dropdown-item>
                                        </b-dropdown>
                                    </div>
                                </div>
                            </template>
                        </b-table>
                        <div v-if="!loading && tableItems.length > pageSize" class="d-flex justify-content-center">
                            <el-pagination
                                background
                                layout="prev, pager, next"
                                @current-change="handleCurrentChange"
                                :page-size="pageSize"
                                :current-page.sync="currentPage"
                                :total="tableItems.length">
                            </el-pagination>
                        </div>
                    </b-form-checkbox-group>
                    <CopyLink :showModalCopy="show_share_link" :linkShare="share_link" v-on:handleClose="closeSharelink"></CopyLink>
                    <PublishedModal
                        @handleCloseModal="handleClosePublishedModal"
                        :show-modal="showModalPublished" :posID="posid"></PublishedModal>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import OptionDropdown from '@/components/OptionDropdown/OptionDropdown.vue';
    // import "@/assets/customPositonExpanse.js";
    import OwnerOptions from '@/components/Position/Filter/PositionOwner';
    import CandidateColumnsFilterDropdown from '@/components/Candidate/CandidateColumnFilterDropdown.vue';
    import PositionStatusDropdown from '@/components/OptionDropdown/PositionStatusDropdown.vue';
    import PositionStatusAllDropdown from '@/components/OptionDropdown/PositionStatusAllDropdown.vue';
    import CopyLink from "@/components/modals/CopyLink.vue";
    import tableColums from '@/components/Position/Filter/TableColumns';
    import PositionFilterColumn from '@/components/Position/Filter/PositionFilterColumn.vue';
    import PositonType from '@/models/Position';
    import {positioncategories} from "../common/positioncategories";
    import moment from 'moment';
    import ViNormalize from '@/helpers/normalize.vi';
    import _ from "lodash";
    import PublishedModal from '@/components/Position/PublishedModal.vue';

    import {mapGetters, mapActions, mapMutations} from 'vuex';
    import Position from "@/models/Position";
    import PositionStateHistory from '@/models/PositionStateHistory';

    export default Vue.extend({
        name: "position-page",
        components: {
            OptionDropdown,
            CandidateColumnsFilterDropdown,
            PositionFilterColumn,
            PositionStatusDropdown,
            PositionStatusAllDropdown,
            CopyLink,
            PublishedModal
        },
        data() {
            return {
                initialSort : 'state',
                filterOptions: {
                    own: OwnerOptions,
                },
                filterNav: {
                    open: true,
                },
                filter: {
                    owner: null,
                    tableColumns: {...tableColums},
                },
                row_check: [],
                selectedAll: false,
                show_share_link:false,
                share_link:"",
                sqlFilter : {
                    position_name: '',
                    rules: {},
                    AddDate:{},
                    archived: false,
                },
                showModalPublished:false,
                posid:"",
                loading:false,
                pageSize: 15,
                currentPage: 1,
            };
        },
        watch:{
            tableItems(value,old){
                let that = this as any;

            },
            selectedAll(value,old) {
                let that = this as any;
                that.checkAll(value);
            },
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'listPipeline',
                'listAllPosition',
            ]),
            positions() {
                let that = this as any;
                return that.listAllPosition;
            },
            selectedPositions():any[] {
                let that = this as any;
                let result = [] as Position[];

                result = that.positions.filter((v: any) => {
                    if (_.includes(that.row_check, v.id)) {
                        return true;
                    } else {
                        return false;
                    }
                });
                console.log(result);
                return result;
            },

            tableItems(): any[] {
                let that = this as any;
                var table_data = [] as any;

                table_data = [...that.positions];
                let pipelines = that.listPipeline;
                // console.log(that.listPipeline);
                that.currentPage = 1;



                //filter theo cac dieu kien cot trai
                if (that.sqlFilter.rules) {


                    //filter by status
                    let filter_by_status = [];
                    if (that.sqlFilter.rules.status) {
                        that.sqlFilter.rules.status.forEach((status) => {
                            if (status.value) {
                                filter_by_status.push(status.value);
                            }
                        })
                        filter_by_status = _.uniq(filter_by_status);
                        table_data = table_data.filter((v: any) => {
                            return (_.includes(filter_by_status,v.status));
                        });

                    }


                    //filter by location
                    let filter_by_location = [];
                    if (that.sqlFilter.rules.locations) {
                        filter_by_location = that.sqlFilter.rules.locations.filter(e => {
                            return (e.value !== null);
                        }).map((v: any) => {
                            return v.value;
                        });

                        if (filter_by_location.length > 0) {
                            filter_by_location = _.uniq(filter_by_location);
                            table_data = table_data.filter((v: any) => {

                                if (_.includes(filter_by_location,v.state+','+v.location.title)) {
                                    return true;
                                } else {
                                    return false;
                                }

                            });
                        }
                    }



                    //catalog value
                    let filter_by_catalog = [];
                    if (that.sqlFilter.rules.catalogs) {
                        filter_by_catalog = that.sqlFilter.rules.catalogs.filter(e => {
                            return (e.value !== null);
                        }).map((v: any) => {
                            return v.value;
                        });


                        if (filter_by_catalog.length > 0) {
                            filter_by_catalog = _.uniq(filter_by_catalog);
                            table_data = table_data.filter((v: any) => {

                                if (v.category.value) {
                                    if (_.includes(filter_by_catalog, v.category.value)) {
                                        return true;
                                    } else {
                                        return false;
                                    }
                                } else {
                                    return false;
                                }

                            });
                        }
                    }

                    //filter by pipline
                    let filter_by_pipline = [];
                    if (that.sqlFilter.rules.piplines) {
                        that.sqlFilter.rules.piplines.forEach((pipline) => {
                            if (pipline.value) {
                                filter_by_pipline.push(pipline.value);
                            }
                        })
                        filter_by_pipline = _.uniq(filter_by_pipline);
                        table_data = table_data.filter((v: any) => {
                            return (_.includes(filter_by_pipline,v.pipeline_id));
                        });

                    }


                    //addeddate value
                    let filter_by_addeddate = [];

                    if (that.sqlFilter.rules.addeddate) {
                        if(that.sqlFilter.rules.addeddate.length > 0) {
                            const addDate = that.sqlFilter.rules.addeddate[0].value;

                            const start = addDate.start;
                            const end = addDate.end;

                            if (start && end) {
                                table_data = table_data.filter((v: any) => {
                                    return _.inRange(v.createdAt, start, end);
                                });
                            } else if (start) {
                                table_data = table_data.filter((v: any) => {
                                    return (v.createdAt >= start);
                                });
                            } else if (end) {
                                table_data = table_data.filter((v: any) => {
                                    return (v.createdAt <= end);
                                });
                            }
                        }
                    }

                    //filter by name
                    if (that.sqlFilter.position_name) {
                        table_data = table_data.filter((v: any) => {
                            const inputDatatext = that.sqlFilter.position_name.toLowerCase().trim();
                            if (inputDatatext != '') {
                                var location_title = "";

                                if (v.state !="")
                                    location_title = v.state +', '+v.location.title;
                                else
                                    location_title = v.location.title;

                                if (ViNormalize(location_title).includes(ViNormalize(inputDatatext))) {
                                    return true;
                                }
                            }

                            return v && ViNormalize(v.title.toLowerCase()).includes(ViNormalize(inputDatatext));
                        });
                    }

                    if (!that.sqlFilter.archived) {
                        table_data = table_data.filter((v: any) => {
                            return v.status != "archived";
                        });
                        that.setShowArchived(false);
                    } else {
                        that.setShowArchived(true);
                    }

                }

                table_data = table_data.filter((pos)=>that.$can('read', pos));

                return table_data
                    .map((pos: PositonType)=>{
                        const _pos = pos as any;

                        let pipeline = _.find(pipelines, function (o) {
                            return (_pos.pipeline_id == o.id);
                        });

                        let pipeline_name ="";

                        if (pipeline) {
                            pipeline_name = pipeline.title;
                        }

                        var location_title = "";

                        if (_pos.state !="")
                            location_title = _pos.state +', '+_pos.location.title;
                        else
                            location_title = _pos.location.title;

                        return {
                            ..._pos,
                            state: _pos.status,
                            name: _pos.title,
                            pipeline:pipeline_name,
                            location: location_title,
                            category: _pos.category.value ? _pos.category.name :'',
                            experience: _pos.experience.value ? _pos.experience.title:'',
                        }
                    });

            },

            tableColumns(): any[] {
                return Object.keys(this.filter.tableColumns)
                    .reduce((columns: any[], columnName: string) => {
                        if (this.filter.tableColumns[columnName].check) {
                            return [
                                ...columns,
                                {
                                    key: columnName,
                                    label: this.filter.tableColumns[columnName].text,
                                    sortable: this.filter.tableColumns[columnName].sort,
                                    disabled: this.filter.tableColumns[columnName].disabled,
                                }
                            ]
                        } else {
                            return columns;
                        }
                    }, ['selected']);
            },
        },

        methods: {
            ...mapMutations([
                'setShowArchived',
            ]),
            handleCurrentChange(val: number) {
                if (!val) {
                    this.currentPage = 1;
                } else {
                    this.currentPage = val
                }
            },
            ...mapActions([
                'getListPipeline',
                'setCurrentPosition',
            ]),
            handleClosePublishedModal(){
                let that = this as any;
                that.showModalPublished = false;
                that.$modal.hide('modal');
                that.posid ="";
            },

            UpdatePublishId(value){
                let that = this as any;
                //alert(value);
                that.showModalPublished =false;
                that.posid = "";
                if(value != '') {
                    that.showModalPublished =true;
                    that.posid =value;
                    // alert(that.posid+' '+that.showModalPublished);
                }
            },

            UpdateFilter(newValue): void {
                let that = this as any;
                that.sqlFilter = newValue;
                that.row_check =[];
                that.selectedAll = false;
            },

            async updateStatePos(val): Promise<void> {
                let that = this as any;

                await _.forEach(that.selectedPositions, function (position) {
                    if (position.status != val) {
                        PositionStateHistory.createHistory(position.id, val)
                    }
                    position.status = val;
                    Position.updateStatusRelation(position);
                     position.update().catch(e => {
                         console.log(e);
                    })
                });
                that.selectedAll = false;
                that.row_check = [];

            },
            closeSharelink(val): void {
                let that = this as any;
                that.show_share_link = false;
                that.share_link ="";
            },
            formatCreateAt(val):string {
                return  moment(val).fromNow();
            },

            formatTooltipCreateAt(val):string {
                return  moment(val).format('DD/MM/YYYY @ h:mm:ss a');
            },

            formatUpdatedAt(val):string {
                return  moment(val).fromNow();
            },

            formatTooltipUpdatedAt(val):string {
                return  moment(val).format('DD/MM/YYYY @ h:mm:ss a');
            },

            checkAll(checked: boolean): void {
                if (checked)
                    this.row_check = this.tableItems.map(c => c.id);
                else
                    this.row_check = [];
            },

            promotePosition({id}): void {
                // TODO: handle position id & promote it
            },

            getCurrentUrl(): string {
                let that = this as any;
                return that.$urlLandingPage('', that.currentCompany.domain);
            },

            actionUpdateControlApplication(id:string) :void {
                let that = this as any;
                const current_position = _.find(that.positions, function (e) {
                    return e.id == id;
                });

                var pos = _.cloneDeep(current_position.cloneNewObject());
                let clone_position = new Position();

                Object.assign(clone_position, pos);

                that.setCurrentPosition(clone_position);

                that.$router.push({
                    name: "PositionApplicationTab",
                    params: {
                        position_id: id,
                        type:"edit",
                    },
                });
            },
            actionInPosition(action: string, item): void {
                let that = this as any;
                const id = item.id;
                let url =  'position/'+id;
                switch (action) {
                    case 'edit':
                        that.$router.push({
                            name: "PositionDetailModal",
                            params: {
                                position_id: id,
                            },
                        });
                        break;
                    case 'clone':
                        const current_position = _.find(that.positions, function (e) {
                            return e.id == id;
                        });

                        //clone new object tu object position cu
                        var pos = _.cloneDeep(current_position.cloneNewObject());
                        let clone_position = new Position();
                        delete pos["id"];
                        delete pos["createdAt"];
                        delete pos["updatedAt"];
                        delete pos["created_by"];
                        delete pos["updated_by"];
                        delete pos['COLLECTION'];
                        delete pos['count_candidate'];
                        delete pos['last_view_date'];
                        delete pos['hired'];
                        delete pos['disqualified'];


                        Object.assign(clone_position, pos);

                        that.setCurrentPosition(clone_position);
                        that.$router.push({
                            name: "NewPosition",
                            params: {
                                type: 'new',
                                isClone: true,
                            },
                        });
                        break;
                    case 'share':
                        that.show_share_link = true;
                        that.share_link = that.getCurrentUrl()+'/'+url;
                        break;
                    case 'view_on_portal':
                        window.open(that.getCurrentUrl()+'/'+url);
                        break;
                }
            },

            choosePosition({id}) {
                this.$router.push({
                    name: "PositionDetail",
                    params: {
                        position_id: id,
                    },
                })
            },

            rowClass(item, type) {
                let that = this as any;
                if (!item) return;
                if (_.includes(that.row_check,item.id))
                    return 'table-check';
            }

        },
        mounted() {
            let that = this as any;

            that.getListPipeline(that.currentCompany.id);
            that.setShowArchived(false);
            that.selectedAll = false;
        }
    });
</script>

<style lang="scss">
    @import "~styles/position_page";
    .position-page-table-wrapper{
        background-color: #f9fafa;
    }

    .v-popper--theme-tooltip .v-popper__inner {
        background: rgba(0,0,0,.8);
        color: #fff;
        border-radius: 6px;
        font-size: 9px !important;
    }

    .position-page {
        .table.b-table>tfoot>tr>th[aria-sort]::after, .table.b-table>thead>tr>th[aria-sort]::after {
            position: absolute;
            display: block;
            bottom: 0;
            right: 1.5em;
        }

        .table.b-table > thead > tr > th {
            outline: none;
        }

        .table td, .table th {
            padding: .75rem;
        }

        .position-page-table tr {
            outline: none !important;
        }
        .position-page-table tr th:nth-child(2) {
            text-align: center;
        }

        .sticky-table {
            position: sticky;
            top: 0;
        }

        dropdown-item:focus, .dropdown-item:hover {
            color: #16181b;
            text-decoration: none;
            background-color: #dedede;
        }

        .table-hover tbody tr:hover {
            color: #212529;
            background-color: rgba(0,0,0,.075);
            cursor:pointer;
        }

        .table-check {
            background-color: #fffee0 !important;
        }

    }
</style>
