<template>
    <div class="position-detail d-flex flex-column" style="height: 100%" v-if="positionKanban && $can('read', positionKanban)">
        <header class="bzy-page-header no-padding position-header flex-shrink-0">
            <div class="position-info flex-grow-1 overflow-auto">
                <div class="position-state flex-shrink-0">
                    <Dropdown @command="updateStatus" placement="bottom-start" class="custom-dropdown-el"
                              trigger="click">
                      <span class="el-dropdown-link">
                        <i class="icon fa fa-circle " :class="positionKanban.status">
                        </i>
                          <i class="el-icon-arrow-down el-icon--right"></i>
                      </span>
                        <DropdownMenu slot="dropdown">
                            <DropdownItem :command="status.value" :key="index" v-for="status, index in listStatus">
                                <i class="icon fa fa-circle " :class="status.value">
                                </i> {{status.name}}
                            </DropdownItem>
                        </DropdownMenu>
                    </Dropdown>

                </div>
                <div class="position-detail-info flex-grow-1">
                    <h1 class="my-0" v-if="positionInListPosition">{{positionInListPosition.title}}</h1>
                    <div class="position-secondary-info">
                        <small class="text-secondary">
                            <i class="fas fa-map-marker-alt"></i>
                            <span v-show="locationPosition"> {{locationPosition}}</span>
                        </small>
                        <!--<div class="team">-->
                        <!--<div class="avatar color4">-->
                        <!--<img-->
                        <!--src="https://breezy-avatars.imgix.net/8b49f/20190325095513.jpg?w=200&amp;h=200&amp;crop=faces&amp;fit=crop">-->
                        <!--</div>-->
                        <!--<span>+</span>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="flex-shrink-0">
                <div class="mainbar clearfix">
                    <div class="tabs-container">
                        <b-nav tab class="position-detail-top-menu">
                            <b-nav-item :to="nav_link('candidates')">
                                <i class="fas fa-users"></i>
                                <span class="menu-title">{{messages.SR_021_KANBAN_CANDIDATE}}</span>
                            </b-nav-item>
                            <b-nav-item :to="nav_link('pipeline')">
                                <i class="fas fa-columns"></i> <span class='menu-title'>{{messages.SR_021_KANBAN_PIPELINE}}</span>
                            </b-nav-item>
                            <b-nav-item :to="nav_link('tasks')">
                                <i class="fas fa-check-square"></i> <span class='menu-title'>{{messages.SR_021_KANBAN_TASKS}}</span>
                            </b-nav-item>
                            <b-nav-item :to="nav_link('inbox')" v-if="$can('modify', positionKanban)">
                                <i class="fas fa-envelope"></i> <span class='menu-title'>{{messages.SR_021_KANBAN_INBOX}}</span>
                            </b-nav-item>
                            <b-nav-item :to="nav_link('analytics')" v-if="$can('modify', positionKanban)">
                                <i class="fas fa-chart-bar"></i> <span class='menu-title'>{{messages.SR_021_KANBAN_REPORT}}</span>
                            </b-nav-item>
<!--                            <b-nav-item :to="nav_link('activity')">-->
<!--                                <i class="fas fa-bolt"></i>  <span class='menu-title'>Activity</span>-->
<!--                            </b-nav-item>-->
                            <b-nav-item :to="nav_link('calendar')">
                                <i class="fas fa-calendar-alt"></i> <span class='menu-title'>{{messages.SR_021_KANBAN_CALENDAR}}</span>
                            </b-nav-item>
                        </b-nav>
                        <b-nav tab>
                            <b-nav-item @click="followPosition" title="">
                                <i class="fas fa-star"
                                   :class="{'starred': currentUser.position_liked.indexOf(position_id)>-1}"></i>
                            </b-nav-item>
                            <!--Nguyen comment this-->
                            <!--<b-nav-item title="">-->
                                <!--<i class="fas fa-bell"></i>-->
                            <!--</b-nav-item>-->
                            <b-nav-item title="" :to="`/positions/${position_id}/edit/detail`">
                                <i class="fas fa-cog"></i>
                            </b-nav-item>
                        </b-nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="flex-grow-1 overflow-auto">
            <router-view :position_id="position_id"></router-view>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import "~styles/position_detail";

    .starred {
        color: #F9E921;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #d7ce51;
    }
</style>
<style lang="scss">
    .custom-dropdown-el {
        border: 1px solid #eee;
        line-height: 1;
        height: 46px;
        width: 50px;

        display: flex !important;
        justify-content: center !important;
        justify-items: center !important;
        align-items: center !important;
        border-radius: 5px;
    }
</style>
<script>
    import Vue from 'vue';
    import {messages} from "@/messages";
    import Position from "@/models/Position";
    import {mapGetters, mapActions, mapMutations} from 'vuex';
    import PipelineStage from "../models/PipelineStage";
    import Candidate from "../models/Candidate";
    import PositionPipelineAction from "../models/PositionPipelineAction";
    import Pipeline from "../models/Pipeline";
    import {Dropdown, DropdownMenu, DropdownItem} from 'element-ui';
    import PositionStateHistory from "../models/PositionStateHistory";

    export default Vue.extend({
        name: "PositionDetail",
        components: {
            Dropdown,
            DropdownMenu,
            DropdownItem
        },
        beforeRouteUpdate(to, from, next){
            let that = this;
            // if (from.name == 'Pipeline' && to.name == 'Pipeline'){
            if (to.params.hasOwnProperty('position_id') && to.name == 'Pipeline'){
                let positionInListPosition = this.listPosition.find((position)=>{
                    return position.id == to.params.position_id;
                })
                if (positionInListPosition){
                    this.setPositionKanban(positionInListPosition);
                    positionInListPosition.updateLastViewDate();
                    this.getStages().then(() => {
                        this.getListCandidate().then(()=>{
                            console.log('Done', this.listCandidate);
                        })
                    })
                }
            }
            // }

            // Check condition to fetch data again.
            next();
        },
        destroyed(){
            if (this.unsubscribeCandidateKanban){
                this.unsubscribeCandidateKanban()
            }
        },
        data() {
            return {
                listStatus: [
                    {
                        value: 'published', name: messages.SR_051_POSITION_STATUS_ACTIVE
                    },
                    {
                        value: 'draft', name: messages.SR_051_POSITION_STATUS_DRAFT
                    },
                    {
                        value: 'closed', name: messages.SR_051_POSITION_STATUS_CLOSED
                    },
                    {
                        value: 'archived', name: messages.SR_051_POSITION_STATUS_ARCHIVED
                    }
                ],
            }
        },
        computed: {
            ...mapGetters([
                'positionKanban',
                'modals/addCandidateWithStage',
                'listCandidate',
                'modals/addCandidate',
                'currentUser',
                'cachePipeline',
                'listStage',
                'needRefetchKanban',
                'unsubscribeCandidateKanban',
                'listPosition'
            ]),
            position_id() {
                return this.$route.params.position_id || '';
            },
            positionInListPosition(){
                let positionInListPosition = this.listPosition.find((position)=>{
                    return position.id == this.position_id;
                })
                if (!positionInListPosition){
                    return this.positionKanban;
                }
                return positionInListPosition;
            },
            modalCandidate() {
                return this['modals/addCandidate'];
            },
            locationPosition() {
                let result = '';
                if (Object.keys(this.positionInListPosition).length > 0){
                    if (this.positionInListPosition.address && this.positionInListPosition.address.trim() != '') {
                        result = `${this.positionInListPosition.address}, ${this.positionInListPosition.state}, ${this.positionInListPosition.location.title}`
                    } else if (this.positionInListPosition.state && this.positionInListPosition.state.trim() != '') {
                        result = `${this.positionInListPosition.state}, ${this.positionInListPosition.location.title}`
                    }else{
                        result = `${this.positionInListPosition.location.title}`
                    }
                }
                return result;
            },
        },
        mounted() {
            let that = this;
            let positionInListPosition = this.listPosition.find((position)=>{
                return position.id == this.position_id;
            })
            if (positionInListPosition){
                this.setPositionKanban(positionInListPosition);
                positionInListPosition.updateLastViewDate();
                this.getStages().then(() => {
                    this.getListCandidate().then(()=>{
                        console.log('Done', this.listCandidate);
                    })
                })
            }

        },
        watch: {
            '$route.name': {
                 handler(val, oldVal) {
                    let that = this;
                    if (this.needRefetchKanban.status == true && val == 'Pipeline') {
                        new Position().getById(this.position_id).then((position_data) => {
                            new PipelineStage().getAllStages(position_data.pipeline_id).then(async (stages) => {
                                this.setListStage(stages);
                            })
                        })
                        this.setNeedRefetchKanban({
                            status: false,
                            stage: {}
                        });
                    }
                }
            },
            modalCandidate(val) {
                let that = this;
                // if (val == false
                //     && that['modals/addCandidateWithStage'].hasOwnProperty('stage')) {
                //     if (that['modals/addCandidateWithStage'].position.id == this.position_id){
                //         let stageToMove = that['modals/addCandidateWithStage'].stage;
                //         let listCandidate = _.cloneDeep(this.listCandidate);
                //         new Candidate().getCandidatesByPipelineID(this.position_id, stageToMove.id).then((candidates) => {
                //             listCandidate[stageToMove.id] = candidates.map((candidate) => {
                //                 return candidate.cloneNewObject()
                //             })
                //         });
                //     }
                // }
            },
        },
        methods: {
            ...mapMutations([
                'setListStage',
                'setListActions',
                'setIsLoading',
                'setPositionKanban',
                'setNeedRefetchKanban'
            ]),
            ...mapActions([
                'setCurrentPosition',
                'setListCandidate',
                'setCachePipeline',
                'getStages',
                'getListCandidate'
            ]),
            followPosition() {
                let index = this.currentUser.position_liked.indexOf(this.position_id);
                if (index > -1) {
                    this.currentUser.position_liked.splice(index, 1);
                } else {
                    this.currentUser.position_liked.push(this.position_id);
                }
                this.currentUser.update();
            },
            updateStatus(status) {
                if (this.positionKanban.status != status) {
                    PositionStateHistory.createHistory(this.positionKanban.id, status)
                }
                this.positionKanban.status = status;
                Position.updateStatusRelation(this.positionKanban);
                this.positionKanban.update();
            },
            nav_link(path) {
                return `/p/${this.position_id}/${path}`;
            }
        }
    });
</script>


