<template>
    <div id="fullbody">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card my-5">
                        <div class="card-body">
                            <template v-if="isCallback">

                                <div v-if="loading">
                                    <div class="mx-auto">
                                        <b-spinner></b-spinner> Loading
                                    </div>
                                </div>
                                <div v-else>
                                    <div v-if="email">
                                        <h3 class="text-center">
                                            {{'Đặt lại mật khẩu cho ' + email}}
                                        </h3>
                                        <form action="#" class="form" @submit="confirmPasswordReset">
                                            <!-- for Chrome saving login if user use suggest password -->
                                            <b-input style="display: none"
                                                     name="email"
                                                     :value="email"></b-input>

                                            <div class="form-group">
                                                <label for="password">{{messages.SR_001_NEW_PASSWORD}}</label>
                                                <b-input type="password" id="password"
                                                         v-model="password"
                                                         key="password"
                                                         :class="{'is-custom-invalid': errors.has('password')}"
                                                         v-validate="'required|min:6'"
                                                         data-vv-as="Mật khẩu"
                                                         data-vv-validate-on="blur"
                                                         ref="password"
                                                         name="password"></b-input>
                                            </div>
                                            <b-alert variant="danger"
                                                :show="errors.has('password')">{{errors.first('password')}}</b-alert>

                                            <div class="form-group">
                                                <label for="confirm">{{messages.SR_001_CONFIRM_PASSWORD}}</label>
                                                <b-input type="password" id="confirm"
                                                         v-model="confirm"
                                                         key="confirm"
                                                         :class="{'is-custom-invalid': errors.has(messages.SR_001_CONFIRM_PASSWORD)}"
                                                         v-validate="'required|confirmed:password'"
                                                         data-vv-validate-on="blur"
                                                         :name="messages.SR_001_CONFIRM_PASSWORD"></b-input>
                                            </div>
                                            <b-alert variant="danger"
                                                :show="errors.has(messages.SR_001_CONFIRM_PASSWORD)">
                                                {{errors.first(messages.SR_001_CONFIRM_PASSWORD)}}
                                            </b-alert>

                                            <b-button variant="blue"
                                                      block
                                                      type="submit">{{messages.SR_003_BUTTON_SAVE}}</b-button>
                                        </form>
                                    </div>
                                    <div v-else>
                                        <h2>{{'SOME THING WENT WRONG'}}</h2>
                                    </div>
                                </div>

                            </template>

                            <template v-else>
                                <h3 class="card-title text-center">{{'Quên mật khẩu'}}</h3>

                                <template v-if="!emailSent">
                                    <form action="#" class="form" @submit="sendPasswordReset">
                                        <div class="form-group">
                                            <label for="email">{{messages.SR_002_EMAIL_TEXT}}</label>
                                            <b-input name="email"
                                                     :disabled="loading"
                                                     id="email"
                                                     key="email"
                                                     :class="{'is-custom-invalid': errors.has('email')}"
                                                     :state="(fields.email && fields.email.valid) ? 'valid' : null"
                                                     v-model="email"
                                                     data-vv-validate-on="blur"
                                                     v-validate="'required|email'"></b-input>
                                            <div class="invalid-feedback d-block" v-show="errors.has('email')">
                                                {{errors.first('email')}}
                                            </div>
                                        </div>

                                        <b-button variant="blue"
                                                  type="submit"
                                                  block
                                                  :disabled="loading">
                                            {{'Gửi xác nhận đến email'}}
                                        </b-button>
                                    </form>
                                </template>
                                <template v-else>
                                    <div class="d-flex flex-column align-items-center">
                                        <div>
                                            <i class="fas fa-check-circle" style="font-size: 100px"></i>
                                        </div>
                                        <h4>
                                            {{'Đã gửi xác nhận quên mật khẩu đến email '}}
                                            <strong>{{email}}</strong>
                                        </h4>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
    @import "~styles/app_color";
    label {
        display: inline-block;
        margin-top: .5rem;
        margin-bottom: 0px;
    }
    .form-label-group {
        margin-bottom: .5rem;
    }

    #fullbody {
        background: linear-gradient(45deg, $cjp-variant, $cjp-primary);
        height: 100vh;
    }
    .is-custom-invalid {
        border-color: red !important;
    }
</style>


<script lang="ts">
    import Vue from "vue";
    import {fauth, ERROR} from '@/firebase';

    export default Vue.extend({
        data() {
            return {
                email: "",
                password: "",
                confirm: "",
                loading: false,
                emailSent: false,
            }
        },
        computed: {
            isCallback(): boolean {
                return this.$route.query.mode === "resetPassword";
            },
            oobCode(): string {
                const oobCode = this.$route.query.oobCode;
                return typeof oobCode === "string" ? oobCode : "";
            },
        },
        methods: {

            sendPasswordReset(ev: Event) {
                ev.preventDefault();
                this.loading = true;
                this.$validator.validateAll().then((isValidated)=>{
                    if (!isValidated) {
                        this.loading = false;
                        return;
                    }
                    fauth.sendPasswordResetEmail(this.email, {
                        handleCodeInApp: true,
                        url: window.location.origin,
                    }).then(()=>{
                        this.emailSent = true;
                    }).catch(error=>{
                        switch (error.code) {
                            case ERROR.AUTH.USER_NOT_FOUND:
                                this.$message.error(this.$cjpmessages.SR_002_USER_NOT_FOUND);
                                break;
                            default:
                                this.$message.error(error.message);
                                break;
                        }
                        console.error({error});
                    }).finally(()=>{
                        this.loading = false;
                    });
                }).finally(()=>{
                    this.loading = false;
                });
            },

            confirmPasswordReset(ev: Event) {
                ev.preventDefault();
                this.$validator.validateAll().then((isValidated)=>{
                    if (!isValidated) return;
                    this.loading = true;
                    fauth.confirmPasswordReset(this.oobCode, this.password)
                        .then(()=>{
                            window.location.href = '/login';
                        }).catch((error: Error) => {
                            this.$message.error(error.message);
                            console.error({error});
                        }).finally(()=>{
                            this.loading = false;
                    });
                }).finally(()=>{
                    this.loading = false;
                });
            },

        },
        async created() {
           if (this.isCallback) {
               this.loading = true;
               try {
                   this.email = await fauth.verifyPasswordResetCode(this.oobCode);
               } catch (e) {
                   console.error(e.message);
               } finally {
                   this.loading = false;
               }
           }
        }
    })

    function handleSignIn() {

    }

</script>
