<template>
    <div class="setting-company">
        <header class="bg-dark text-light py-3 px-3">
            <h4 style="margin-bottom: 0px;"> {{messages.SR_002_TITLE}}</h4>
        </header>
        <div class="d-flex" style="background: #fff;">
            <div class="flex-shrink-0 border p-2" id="navbar">

                <ul class="">
                    <li class="breezy-nav-item" role="tab">
                        <router-link :to="{name: 'SettingsGeneral'}">
                            <i class="fa fa-cog"></i><span>{{messages.SR_002_SETTING_GENERAL_LABEL}}</span>
                        </router-link>
                    </li>
                    <li class="breezy-nav-item">
                        <router-link :to="{ name: 'SettingsMembers' }">
                            <i class="fa fa-user"></i><span>{{messages.SR_002_SETTING_MEMBER_LABEL}}</span>
                        </router-link>
                    </li>
                    <li class="breezy-nav-item">
                        <router-link :to="{ name: 'ConnectSourceData' }">
                            <i class="fas fa-plug"></i><span>{{messages.SR_002_SETTING_CONNECT_SOURCE_DATA_LABEL}}</span>
                        </router-link>
                    </li>
                </ul>
            </div>
            <div class="flex-grow-1 overflow-auto px-4 pt-3">
                <keep-alive>
                    <router-view name="modal_child"></router-view>
                </keep-alive>
            </div>
        </div>
    </div>

</template>





<style>

</style>
