<template>
    <!-- Table -->
        <div class="mx-0 px-0 pb-3 my-3 rounded" style="background: #F9FAFA;">
            <!-- Header -->
            <div class="chart-label mt-3 d-flex justify-content-between align-items-center">
                <h2>{{messages.SR_050_CATEGORY_TIME_TO_FILL_STATISTICS}}</h2>
<!--                <button class="btn py-1 px-1" style="background: #edeff0">-->
<!--                    <i class="fas fa-cloud-download-alt text-secondary mr-2"></i>-->
<!--                    <small class="text-secondary">Xuất file</small>-->
<!--                </button>-->
            </div>
            <!-- Table content -->
            <div class="my-3">
                <table style="width: 100%" border="1" frame="void" rules="rows">
                    <tbody>
                    <tr style="font-size: 13px; font-weight: bold" >
                        <td height="50">{{messages.SR_050_CATEGORY}}</td>
                        <td class="text-center" height="50">{{messages.SR_050_AVG_TIME_TO_FILL}}</td>
                        <td class="text-center" height="50">{{messages.SR_050_CATEGORY_AVG_TIME_TO_HIRE}}</td>
                    </tr>
                    <tr :key="category" v-for="(candidates, category) in pipeline_reports_category_time_to_fill" style="border-bottom: 1px solid #dedede;">
                        <td class="text-secondary" height="40">{{candidates[0].category.name}}</td>
                        <td class="text-center" height="40">{{avgCategoryTimeToFill[category].time_to_fill | toFixNumber}}</td>
                        <td class="text-center" height="40">{{avgCategoryTimeToFill[category].time_to_hired | toFixNumber}}</td>
                    </tr>

                    <tr style="border-bottom: 1px solid #dedede;">
                        <td class="text-secondary" height="40">{{messages.SR_050_TOTAL_AVG}}</td>
                        <td class="text-secondary text-center" height="40">{{totalAvgTimeToFill | toFixNumber}}</td>
                        <td class="text-secondary text-center" height="40">{{totalAvgTimeToHire | toFixNumber}}</td>
                    </tr>
                    </tbody></table>
            </div>
        </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapMutations, mapState, mapActions} from 'vuex';
    import Component from 'vue-class-component';
    import _ from "lodash";

    @Component({
        components: {
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'currentUser',
            ]),
            ...mapGetters('report',[
                'pipeline_reports_category_time_to_fill',
            ]),

            avgCategoryTimeToFill(){
                let that = this as any;
                let results = {};
                Object.keys(that.pipeline_reports_category_time_to_fill).forEach((category)=>{
                    let candidates = that.pipeline_reports_category_time_to_fill[category];
                    let avg = {};
                    avg['time_to_hired'] = that.avgTimeToHire(candidates);
                    avg['time_to_fill'] = that.avgTimeToFilled(candidates);
                    results[category] = avg;
                });
                return results
            },
            totalAvgTimeToFill(){
                let that = this as any;
                let count = 0;
                let total = 0;

                Object.keys(that.avgCategoryTimeToFill).forEach((category: any)=>{
                    count += 1;
                    total += that.avgCategoryTimeToFill[category].time_to_fill;
                });
                if (count > 0) {
                    return  total / count;
                }
                return 0;
            },
            totalAvgTimeToHire(){
                let that = this as any;
                let count = 0;
                let total = 0;
                Object.keys(that.avgCategoryTimeToFill).forEach((category: any)=>{
                    count += 1;
                    total += that.avgCategoryTimeToFill[category].time_to_hired;
                });
                if (count > 0) {
                    return total / count;
                }
                return 0;
            }
        },
        filters:{
            toFixNumber(n){
                if(isNaN(parseInt(n)) == false){
                    return n.toFixed(0)
                }
                return n;
            }
        }
    })
    export default class CategoryTimeToFiill extends Vue{

        timeToFilled(movement_date_in: number, created_date: number){
            return  _.ceil((new Date(movement_date_in).valueOf() - new Date(created_date).valueOf())/1000/3600/24)
        }

        avgTimeToHire(c){
            let that = this as any;
            const total_candidate = Object.keys(_.groupBy(c, (grcd)=>{
                return grcd.candidate.id
            })).length;
            let totalTTF = _.sumBy(c, (item:any)=>{
                  return that.timeToFilled(item.movement_date.in, item.created_date);
            });
            if(total_candidate> 0){
                let avgTTH = totalTTF/total_candidate;
                return avgTTH
            }
            return 0

        }

        avgTimeToFilled(c){
            let that = this as any;
            const total_candidate = Object.keys(_.groupBy(c, (grcd)=>{
                return grcd.candidate.id
            })).length;

            const grp = _.groupBy(c, (grp)=>{
                return grp.position.id
            });

            Object.keys(grp).forEach( (position_id) => {
                grp[position_id] = _.sortBy(grp[position_id], (item) => {
                    return item.movement_date.in;
                });
            });

            let totalTTF = _.sumBy(_.values(grp), (item:any)=>{
                return that.timeToFilled(item[0].movement_date.in,item[0].created_date);
            });

            if(total_candidate > 0){
                let avgTTF = totalTTF/total_candidate;
                return avgTTF
            }
            return 0

        }
    }
</script>

<style lang="scss" scoped>

</style>
