<template>
    <div id="reportNo07" class="view-analytics-container">
        <div class="analytics-header mx-0 px-0 d-flex justify-content-between">
            <h1>{{messages.SR_050_TIME_TO_FILL_REPORT}}</h1>
        </div>
        <div class="bg-light p-4 border rounded mb-5">
            <PositionTimeToFill></PositionTimeToFill>
        </div>
        <div class="bg-light p-4 border rounded">
            <CategoryTimeToFiill></CategoryTimeToFiill>
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import PositionTimeToFill from '@/components/Analytics/TimeToFill/PositionTimeToFill.vue'
    import CategoryTimeToFiill from '@/components/Analytics/TimeToFill/CategoryTimeToFiill.vue'
    import Component from 'vue-class-component'
    import { Get } from 'vuex-pathify'
    import { Watch } from 'vue-property-decorator'
    import {IAnalyticsPositionFilterOption} from "@/components/Analytics/AnalyticsPositionFilterOption";
    import { mapActions,mapGetters} from 'vuex';

    @Component({
        components: {
            PositionTimeToFill,
            CategoryTimeToFiill,
        },

        methods: {
            ...mapActions('report', [
                'getPipelineReportTimeToFill'
            ]),
        },
    })

    export default class ReportTimeToFill extends Vue {
        getPipelineReportTimeToFill: Function;
        @Get('report/position_filter') position_filter!: IAnalyticsPositionFilterOption;

        async getDataByFilterConditions() {
            await Promise.all([
                this.getPipelineReportTimeToFill(),
            ])
        }

        async mounted() {
            await this.getDataByFilterConditions()

        }

        @Watch('position_filter')
        onPositionFilterChange() {
            this.getDataByFilterConditions()
        }
    }
</script>
