<template>
    <!-- Table -->
        <div class="mx-0 px-0 pb-3 my-3 rounded">
            <!-- Header -->
            <div class="chart-label mt-3 d-flex justify-content-between align-items-center">
                <h2>{{messages.SR_050_POSITION_TIME_TO_FILL_STATISTICS}}</h2>
<!--                <button class="btn py-1 px-1" style="background: #edeff0">-->
<!--                    <i class="fas fa-cloud-download-alt text-secondary mr-2"></i>-->
<!--                    <small class="text-secondary">Xuất file</small>-->
<!--                </button>-->
            </div>
            <!-- Table content -->
            <div class="my-3">
                <table style="width: 100%" border="1" frame="void" rules="rows">
                    <tbody>
                        <tr style="font-size: 13px; font-weight: bold">
                            <td height="50">{{messages.SR_050_POSITION}}</td>
                            <td height="50">{{messages.SR_050_CREATOR}}</td>
                            <td height="50">{{messages.SR_050_LOCATION}}</td>
                            <td class="text-center" height="50">{{messages.SR_050_DATE_CREATED}}</td>
                            <td class="text-center" height="50">{{messages.SR_050_DATE_FILLED}}</td>
                            <td class="text-center" height="50">{{messages.SR_050_TIME_TO_FILL}}</td>
                            <td class="text-center" height="50">{{messages.SR_050_AVG_TIME_TO_HIRE}}</td>
                        </tr>
                        <tr :key="index" v-for="p, index in pipeline_reports_time_to_fill" style="border-bottom: 1px solid #dedede;">
                            <td class="p-2"><span>{{p[0].position.name}}</span></td>
                            <td class="p-2"><span>{{creatorPosition(p[0].created_by)}}</span></td>
                            <td class="p-2"><span>{{locationPosition(p[0].position.id)}}</span></td>
                            <td class="text-center p-2"><span>{{p[0].created_date | formatTimeDateCreated}}</span></td>
                            <td class="text-center p-2"><span>{{p[0].movement_date.in | formatTimeToFill}}</span></td>
                            <td class="text-center p-2"><span>{{dateFilled(p[0].created_date,p[0].movement_date.in)}}</span></td>
                            <td class="text-center p-2"><span>{{dateTimeToHire(p) | toFixNumber}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapMutations, mapState, mapActions} from 'vuex';
    import Component from 'vue-class-component';
    import { mapFields } from 'vuex-map-fields';
    import { Watch, Prop } from 'vue-property-decorator';
    import _ from "lodash";
    import moment from "moment"
    import User from "@/models/User";


    @Component({
        components: {
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'currentUser',
                'companyUsers',
                'listPosition'
            ]),
            ...mapGetters('report',[
                'pipeline_reports_time_to_fill',
            ]),
        },
        filters: {
            formatTimeToFill: function (value) {
                return moment(value).format("L")
            },
            formatTimeDateCreated: function (value) {
                return moment(value).format("L")
            },
            toFixNumber(n){
                if(isNaN(parseInt(n)) == false){
                    return n.toFixed(0)
                }
                return n;
            }
        },
    })
    export default class PositionTimeToFill extends Vue{
        locationPosition(lp){
            let that = this as any;
            let locationPosition;
            locationPosition = _.filter(that.listPosition, (item)=>{
                return  item.id == lp
            });
            return locationPosition.length > 0?locationPosition[0].location.title:""
        }
        creatorPosition(cb) {
            let createdBy;
            let that = this as any;
            createdBy = _.filter(that.companyUsers, (user)=>{
                return user.id == cb
            });
            return createdBy.length > 0?createdBy[0].name: ""
        }

        dateFilled(created_date: number, movement_date_in: number){
            return  _.ceil((new Date(movement_date_in).valueOf() - new Date(created_date).valueOf())/1000/3600/24)
        }

        dateTimeToHire(p){
            let that = this as any;
            let totalDate = _.sumBy(p, (item:any)=>{
                  return that.dateFilled(item.created_date, item.movement_date.in);
            });
            let totalDatePosition = totalDate/p.length;
            return totalDatePosition
        }
    }
</script>

<style lang="scss">

</style>
