<template>
    <div class="schedule-interview schedule-interview-panel">
        <form action="#" autocomplete="off">
            <div class="schedule-interview-panel-details">
                <div class="panel-details">
                    <div class="panel-times">
                        <div class="panel-time">
                            <div class="row">
                                <div class="column start-time ui-select-bootstrap">
                                    <Select size="small"
                                            @change="handleChangeTime"
                                            :class="errorForm.start_time_by_number ? 'error-class' : ''"
                                            v-model="currentScheduleMeeting.listMeeting[index111].start_time_by_number"
                                            :placeholder="messages.SR_021_SCHEDULE_MEETING_TIME">
                                        <Option
                                            v-for="(item, index) in optionsStartTime"
                                            :key="index"
                                            :label="item.text"
                                            :value="item.value">
                                        </Option>
                                    </Select>
                                </div>
                                <div class="column  duration ui-select-bootstrap">
                                    <Select size="small"
                                            class="custom-duration-input"
                                            :class="errorForm.duration ? 'error-class' : ''"
                                            @change="handleChangeTime"
                                            v-model="currentScheduleMeeting.listMeeting[index111].duration" :placeholder="messages.SR_021_SCHEDULE_MEETING_DURATION">
                                        <Option
                                            v-for="(item, index) in durations1"
                                            :key="index"
                                            :label="item.text"
                                            :value="item.value">
                                        </Option>
                                    </Select>
                                </div>
                                <Select
                                    :class="errorForm.interviewers ? 'error-class' : ''"
                                    multiple
                                    suffix-icon=""
                                    class="select-interviews"
                                    filterable
                                    default-first-option
                                    size="small"
                                    ref="select_user"
                                    @remove-tag="removeUser"
                                    :popper-class="'select-candidate' +  (lengthUsers ? ' hidden' : '')"
                                    v-model="currentScheduleMeeting.listMeeting[index111].interviewers"
                                    value-key="id"
                                    :placeholder="messages.SR_021_SCHEDULE_MEETING_INTERVIEWERS">
                                    <Option
                                        v-for="item in listUsers"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item">
                                        <div>
                                            <avatar
                                                :username="item.name"
                                                :size="24" show-score-sm="show-score-sm"
                                                :src="item.photoURL"
                                                class="ng-isolate-scope sm avatar color2">
                                            </avatar>
                                            <strong style="margin-left:5px;margin-top:3px;"> {{item.name}}</strong>

                                        </div>
                                    </Option>
                                </Select>
                                <div class="column">
                                    <b-button
                                        :disabled="renderingTimeGrid"
                                        style="border:none"
                                        :class="[{'btn-green': choosingTimeline}]"
                                        @click="choosingTimeline = !choosingTimeline">
                                        <i class="fas fa-search"></i>&nbsp;
                                        <span>{{messages.SR_021_SCHEDULE_MEETING_AVAILABILITY}}</span>
                                    </b-button>
                                    <ElButton
                                        v-if="listInterviewCard.length > 1"
                                        size="small"
                                        class="button-X"
                                        @click="removeCard"
                                        type="text">
                                        <i class="fa fa-times"></i>
                                    </ElButton>
                                </div>
                            </div>
                            <div class="row" v-if="choosingTimeline">
                                <div class="column">
                                    <div class="schedule-interview-calendar" :id="'calendar-block-'+uid_random_element">
                                    </div>
                                </div>
                            </div>

                            <!-- BOTTOM FORM -->
                            <div class="row">
                                <div class="column description">
                                    <div class="section" :class="{'error-class': errorForm.title}">
                                        <b-input
                                            :placeholder="messages.SR_021_SCHEDULE_MEETING_INTERVIEWTITLE"
                                            v-model="currentScheduleMeeting.listMeeting[index111].title"></b-input>
                                    </div>
                                    <div class="section">
                                            <textarea v-model="currentScheduleMeeting.listMeeting[index111].description"
                                                      :placeholder="messages.SR_021_SCHEDULE_MEETING_DESCRIPTION"></textarea>
                                    </div>
                                </div>

                                <div class="column meta">
                                    <div class="section location">
                                        <!-- TODO: handle this select input -->
                                        <b-input v-model="currentScheduleMeeting.listMeeting[index111].location" :placeholder="messages.SR_020_MODAL_NEW_POSITION_TITLE_2"></b-input>
                                    </div>
                                    <div class="section interview-guide">
                                        <Select size="small"
                                                value-key="id"
                                                v-model="currentScheduleMeeting.listMeeting[index111].interview_guide" :placeholder="messages.SR_021_SCHEDULE_MEETING_GUIDE">
                                            <Option
                                                v-for="item in interviewGuides"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item">
                                            </Option>
                                        </Select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</template>

<script>
    import {VueEditor} from 'vue2-editor'
    import FullCalendar from '@fullcalendar/vue';
    import {Calendar} from '@fullcalendar/core';
    import TimeGridPlugin from '@fullcalendar/timegrid';
    import InterationPlugin from '@fullcalendar/interaction';
    import {mapGetters, mapMutations} from 'vuex';
    import {Select, Option, OptionGroup, DatePicker, Button as ElButton, Input} from 'element-ui';
    import User from "@/models/User";
    import avatar from 'vue-avatar';
    import _ from "lodash";
    import Schedule from "../../../models/Schedule";
    import resourceTimeGridPlugin from '@fullcalendar/resource-timegrid';
    import Activity from "@/models/Activity"
    import moment from 'moment';
    import Conversation from "@/models/Conversation";
    import {messages} from "@/messages";
    import viPlugin from "@fullcalendar/core/locales/vi";
    import {server_time} from "@/firebase";

    export default {
        name: "InterviewCard",
        props: [
            'interviewGuides',
            'users',
            'saveChange',
            'currentPosition',
            'currentCandidate',
            'listInterviewCard',
            'index111',
        ],
        components: {
            FullCalendar,
            VueEditor,
            ElButton,
            Input,
            Select,
            Option,
            avatar
        },
        mounted(){
        },
        watch: {
            saveChange(val) {
                if (val == true) {
                    if (this.checkError() == false){
                        this.$emit('cancelMoveToNextStep', true);
                        return;
                    }
                    this.$emit('cancelMoveToNextStep', false);
                    // this.saveChangeFunction();
                }
            },
            choosingTimeline(val) {
                if (val) {
                    this.renderingTimeGrid = true;
                    this.getAllMeeting(this.currentCandidate.id).then(()=>{
                        this.renderCalendar('render');
                        this.renderingTimeGrid = false;
                    })
                }

            },

            step(val){
                this.$forceUpdate();
            },
            'currentScheduleMeeting.interviewDate':{
                handler(newVal, oldVal){
                    let newDate = moment(newVal).format('MM DD YYYY');
                    let currentDate =  moment(server_time.now).format('MM DD YYYY');

                    if (newDate == currentDate){
                        this.nowIndicatorTimeGrid = true;
                    }else{
                        this.nowIndicatorTimeGrid = false;
                    }

                    this.sortedEvent = [];
                    this.sortEventByDate();
                    if (this.choosingTimeline){
                        this.calendarElement.setOption('nowIndicator', this.nowIndicatorTimeGrid);
                        let allEvent = this.calendarElement.getEvents();
                        let newEvent = allEvent.filter(event=> {
                            return event.extendedProps.new;
                        });
                        allEvent.forEach((oldEvent)=>{
                            oldEvent.remove();
                        });
                        if (newEvent.length > 0 ){
                            this.calendarElement.addEvent(newEvent[0])
                        };
                        this.calendarElement.destroy();
                        this.renderCalendar('render');
                        if (this.sortedEvent.length > 0){
                            // this.sortedEvent.forEach((_sortedEvent)=>{
                            //     this.calendarElement.addEvent({
                            //         title: '',
                            //         resourceIds: _sortedEvent.resourceIds,
                            //         start: _sortedEvent.start,
                            //         end: _sortedEvent.end,
                            //         new: false,
                            //     });
                            // })
                        }
                        // this.calendarElement.addEventSource(this.sortedEvent);
                    }
                }
            },
            interviews_to_watch:{
                handler(newUsers, oldUsers) {
                    if (newUsers.length > oldUsers.length) {
                        let differentObject = newUsers.filter(newUser => !oldUsers.some(oldUser => (oldUser.id === newUser.id)))[0];
                        if (this.choosingTimeline) {
                            differentObject['title'] = differentObject['name'];
                            this.calendarElement.addResource(differentObject);
                        }

                    }else{
                        let differentObject = oldUsers.filter(oldUser => !newUsers.some(newUser => (newUser.id === oldUser.id)))[0];
                        if (this.choosingTimeline) {
                           let resource =  this.calendarElement.getResourceById(differentObject.id);
                           if (resource) resource.remove();
                        }
                    }
                    let element = document.getElementById(`calendar-block-${this.uid_random_element}`)
                    if (element){
                        if (newUsers.length == 0) {
                            element.getElementsByClassName('fc-time-grid')[0].classList.add("fc-unselectable");
                        } else {
                            element.getElementsByClassName('fc-time-grid')[0].classList.remove("fc-unselectable");
                        }
                    }
                },
                deep:true
            },
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'listScheduleMeeting',
                'templateMeeting',
                'currentUser',
                'currentScheduleMeeting'
            ]),
            listUsers() {
                let listUsers = this.users;
                return listUsers;
            },
            interviews_to_watch(){
                if (this.currentScheduleMeeting.listMeeting[this.index111]){
                    return this.currentScheduleMeeting.listMeeting[this.index111].interviewers || [];
                }else{
                    return [];
                }
            },
            lengthUsers() {
                if (this.currentScheduleMeeting.listMeeting[this.index111].interviewers){
                    return this.currentScheduleMeeting.listMeeting[this.index111].interviewers.length == this.listUsers.length;
                }else{
                    return this.listUsers.length == 0;
                }
            },
            optionsStartTime() {
                const arr = [];

                // TODO: handle this options start time
                let h = 8;// 8am -> 7am tomorrow
                for (let i = 0; i < 24; i++) {
                    const localH = (i + 8) % 12;
                    const amOrPm = ((i + 8) >= 0 && (i + 8) < 12 || (i + 8) >= 24) ? ' SA' : ' CH';
                    const plusTime = (i + 8) > 24 ? 8 - 24 : 8;
                    if (localH != 0){
                        arr.push(
                            {text: `${localH}:00${amOrPm}`, value: i + plusTime },
                            {text: `${localH}:15${amOrPm}`, value: i + plusTime + 0.25},
                            {text: `${localH}:30${amOrPm}`, value: i + plusTime + 0.5},
                            {text: `${localH}:45${amOrPm}`, value: i + plusTime + 0.75},
                        );
                    }else{
                        if (amOrPm=='am'){
                            arr.push(
                                {text: `12:00${amOrPm}`, value: 0},
                                {text: `12:15${amOrPm}`, value: 0 + 0.25},
                                {text: `12:30${amOrPm}`, value: 0 + 0.5},
                                {text: `12:45${amOrPm}`, value: 0 + 0.75},
                            );
                        }else{
                            arr.push(
                                {text: `12:00${amOrPm}`, value: 12},
                                {text: `12:15${amOrPm}`, value: 12 + 0.25},
                                {text: `12:30${amOrPm}`, value: 12 + 0.5},
                                {text: `12:45${amOrPm}`, value: 12 + 0.75},
                            );
                        }
                    }

                }
                return arr;
            },
            durations1() {
                let arrDurations = [];

                let hour = 0;
                for (let i = 0; i <= 5; i++) {
                    if (i == 0) {
                        let data = [
                            {text: `15 ${messages.SR_021_MIN}` , value: 900000},
                            {text: `30 ${messages.SR_021_MIN}`, value: 1800000},
                            {text: `45 ${messages.SR_021_MIN}`, value: 2700000},
                        ];
                        arrDurations = arrDurations.concat(data);
                    } else {
                        if (i < 5) {
                            for (let time = 0; time < 1; time += 0.25) {
                                let text = i % 1 == 0 ? (i + time == 1 ? messages.SR_021_HR : messages.SR_021_HRS) : messages.SR_021_HRS;
                                let value = time % 1 == 0 ? i : i + time;
                                let toMs = value * 60 * 1000 * 60;
                                arrDurations = arrDurations.concat({text: `${value} ${text}`, value: toMs});
                            }
                        } else {
                            let toMs = 5 * 60 * 1000 * 60;
                            arrDurations = arrDurations.concat({text: `${i} ${messages.SR_021_HRS}`, value: toMs})
                        }
                    }
                }

                return arrDurations;
            }
        },
        data() {
            return {
                nowIndicatorTimeGrid: true,
                meetingsByCandidate:[],
                errorForm: {
                    start_time_by_number: false,
                    duration: false,
                    interviewers: false,
                    title: false,
                },
                calendar_event: [],
                uid_random_element:Math.random().toString(36).substring(7),
                calendarElement: {},
                resources: [],
                cloneUsers: [],
                duration: messages.SR_021_SCHEDULE_MEETING_DURATION, // in minutes
                date: server_time.now,
                location: '',
                start_time_by_number: messages.SR_021_SCHEDULE_MEETING_TIME,
                interview_guide: messages.SR_021_SCHEDULE_MEETING_GUIDE,
                emailSubject: '',
                title: `${this.currentCandidate.name} ${messages.SR_021_SCHEDULE_MEETING_MEETING} (${this.currentPosition.title})`,
                description: '',
                choosingTimeline: false,
                selectedUsers: [],
                timeline_plugins: [resourceTimeGridPlugin, InterationPlugin],
                durationText: `15 ${messages.SR_021_MIN}`,
                renderingTimeGrid: false,
                sortedEvent: [],
            }
        },
        methods: {
            ...mapMutations([
                'setCurrentScheduleMeeting'
            ]),
            async getAllMeeting(candidate_id){
                let that = this;
                await new Schedule().getCurrentScheduleByCandidateID(candidate_id).then(async (data)=>{
                    that.meetingsByCandidate = data;
                    const Parray = data.map((meeting)=>{
                        that.calendar_event.push({
                            title: '',
                            resourceIds: meeting.interviewer_ids,
                            start: meeting.start_time,
                            end: meeting.end_time,
                            new: false,
                            backgroundColor: '#ccc',
                            borderColor: '#ccc',
                        });
                        return meeting;
                    });
                    await Promise.all(Parray);
                    that.sortEventByDate();
                });
            },
            sortEventByDate(){
                this.sortedEvent = this.calendar_event.filter((_event)=>{
                    let eventConverted = moment(_event.start).format('MM DD YYYY');
                    let currentDateConverted = moment(this.currentScheduleMeeting.interviewDate).format('MM DD YYYY');
                    if (eventConverted == currentDateConverted){
                        return _event;
                    }
                })
            },
            emailMeetingWithData(dateMeeting, schedules){
                let emailTemplate = _.template(this.templateMeeting);
                return emailTemplate({dateMeeting:dateMeeting, schedules: schedules, regardByWho: this.currentUser.name});
            },
            checkError(){
                let dataCheck = this.currentScheduleMeeting.listMeeting[this.index111];
                Object.keys(this.errorForm).forEach((field)=>{
                    switch (field) {
                        case 'start_time_by_number':
                            if (dataCheck[field] == messages.SR_021_SCHEDULE_MEETING_TIME){
                                this.errorForm[field] = true;
                            }else{
                                let dateCheck = moment(new Date(this.currentScheduleMeeting.interviewDate).setHours(0,0,0)).add(dataCheck.start_time_by_number, 'hours').format();
                                let currentDate = server_time.now;
                                if (new Date(dateCheck) < currentDate){
                                    this.errorForm[field] = true;
                                }else{
                                    this.errorForm[field] = false;
                                }
                            }
                            break;
                        case 'duration':
                            if (dataCheck[field] == messages.SR_021_SCHEDULE_MEETING_DURATION){
                                this.errorForm[field] = true;
                            }else{
                                this.errorForm[field] = false;
                            }
                            break;
                        case 'interviewers':
                            if (dataCheck[field].length == 0){
                                this.errorForm[field] = true;
                            }else{
                                this.errorForm[field] = false;
                            }
                            break;
                        case 'title':
                            if (dataCheck[field].trim() == ''){
                                this.errorForm[field] = true;
                            }else{
                                this.errorForm[field] = false;
                            }
                            break;
                        default:
                            break;
                    }
                });
                if (Object.values(this.errorForm).indexOf(true) > -1){
                    return false;
                }
                return true;
            },
            handleChangeTime(){
                let that = this;
                let meeting = this.currentScheduleMeeting.listMeeting[this.index111];
                // this.checkError();
                if (that.choosingTimeline){
                    let events = that.calendarElement.getEvents().filter((event) => {
                        return event.extendedProps.new;
                    });

                    if (events.length > 0){
                        let event = events[0];
                        // let date = new Date(this.currentScheduleMeeting.interviewDate);
                        let start_time = new Date(event.start).setHours(0,0,0);
                        start_time = moment(start_time).add(meeting.start_time_by_number, 'hours').format();
                        let end_time = moment(start_time).add(meeting.duration/1000/3600, 'hours').format();
                        event.setStart(start_time);
                        if ((meeting.start_time_by_number + meeting.duration/1000/3600)>=24){
                            end_time = moment(new Date(this.currentScheduleMeeting.interviewDate).setHours(24,0,0)).format();
                        }
                        event.setEnd(end_time);
                    }else{
                        if (this.currentScheduleMeeting.listMeeting[this.index111].duration == 'Duration'
                            || this.currentScheduleMeeting.listMeeting[this.index111].start_time_by_number == 'Time'){

                        }else{
                            let start_time = new Date(event.start).setHours(0,0,0);
                            start_time = moment(start_time).add(this.currentScheduleMeeting.listMeeting[this.index111].start_time_by_number, 'hours').format();
                            that.calendarElement.addEvent({
                                title: '',
                                resourceIds: _.map(that.selectedUsers, 'id'),
                                start: start_time,
                                end: moment(start_time).add(this.currentScheduleMeeting.listMeeting[this.index111].duration/1000/3600, 'hours').format(),
                                new: true,
                            });
                        }
                    }

                }
            },
            renderCalendar(type) {
                let that = this;
                if (type == 'render') {
                    that.$nextTick(() => {
                        let calendarEl = document.getElementById(`calendar-block-${that.uid_random_element}`);
                        that.calendarElement = new Calendar(calendarEl, {
                           locale:viPlugin,
                            plugins: [resourceTimeGridPlugin, InterationPlugin],
                            columnHeader: true,
                            eventTimeFormat:{
                                hour: 'numeric',
                                minute: '2-digit',
                                meridiem: 'short',
                                hour12: true,
                            },
                            slotLabelFormat:{
                                hour: 'numeric',
                                minute: '2-digit',
                                meridiem: 'short',
                                hour12: true,
                            },
                            header: false,
                            selectable: true,
                            height: 260,
                            defaultView: "resourceTimeGridDay",
                            allDaySlot: false,
                            resources: that.currentScheduleMeeting.listMeeting[that.index111].interviewers.map((user) => {
                                user['title'] = user['name'];

                                return user;
                            }),
                            nowIndicator:that.nowIndicatorTimeGrid,
                            events: that.sortedEvent,
                            forceEventDuration: true,
                            snapDuration: '00:15',
                            defaultDate: that.currentScheduleMeeting.interviewDate,
                            select: function (info) {
                                let listNewEvent = that.calendarElement.getEvents().filter((event) => {
                                    return event.extendedProps.new;
                                });
                                listNewEvent.forEach((e) => {
                                    e.remove();
                                });
                                let start_time_by_number = new Date(info.startStr);
                                let endTime = new Date(info.endStr);
                                if ((endTime.getHours() - start_time_by_number.getHours())>5){
                                    endTime.setHours(start_time_by_number.getHours() + 5, start_time_by_number.getMinutes());
                                }

                                that.calendarElement.addEvent({
                                    title: '',
                                    resourceIds: _.map(that.currentScheduleMeeting.listMeeting[that.index111].interviewers, 'id'),
                                    start: start_time_by_number,
                                    end: endTime,
                                    new: true,
                                });
                                that.calendar_event = [{
                                    title: '',
                                    resourceIds: _.map(that.currentScheduleMeeting.listMeeting[that.index111].interviewers, 'id'),
                                    start: start_time_by_number,
                                    end: endTime,
                                    new: true,
                                }];
                                that.currentScheduleMeeting.listMeeting[that.index111].duration = endTime - start_time_by_number;
                                that.currentScheduleMeeting.listMeeting[that.index111].start_time_by_number = (info.start.getHours() + (info.start.getMinutes() / 60));
                                let element = calendarEl.getElementsByClassName('fc-highlight')[0];
                                element.classList.remove('fc-highlight');
                                that.checkError();
                            }
                        });

                        that.calendarElement.render();
                        let element = calendarEl.getElementsByClassName('fc-time-grid')[0];
                        if (that.currentScheduleMeeting.listMeeting[that.index111].interviewers.length == 0) {
                            element.classList.add("fc-unselectable");
                        }
                    })
                }
            },
            removeCard() {
                this.$emit('removeThisCard');
            },
            userHasInSelectedUser(id) {
                let userObject = this.currentScheduleMeeting.listMeeting[this.index111].interviewers.find((user) => {
                    return user.id == id;
                });
                return !(_.isEmpty(userObject));
            },
            saveChangeFunction() {

            },
            removeUser(userObject) {
                if (this.choosingTimeline){
                    let objectRemove = this.calendarElement.getResourceById(userObject.id);
                    objectRemove.remove();
                        this.$forceUpdate();
                    }
                },
            },
        }
    </script>

    <style lang="scss">
        .custom-duration-input {
            .el-input{
                input{
                    width:150px!important;
                }
            }
        }
        .fc-resource-cell{
            word-break: break-word;
        }
        .fc-time-grid.fc-unselectable {
            pointer-events: none;
        }

        .fc-license-message {
            display: none !important;
        }

        .button-X {
            margin-left: 10px;
            color: #68747e !important;
            width: 35px;

            &:hover {
                background-color: #edeff0 !important;
                color: #68747e !important;
            }
        }

        .select-interviews {
            input{
                padding-right:10px;
            }
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>
