<template>
    <div id="gallery" class="container gallery six">
        <div class="container-wrapper">
            <ul class="images row" v-if="listImage.length < 4">
                <li :key="index" class="item col-sm-6 col-md-4" v-for="(image, index) in listImage">
                    <a data-fancybox="gallery"
                       :href="image.url">
                        <div :style="{'background-image': 'url(' + image.url + ')'}"
                            class="gallery-image">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>
<script lang="ts">
    import {mapGetters} from 'vuex';
    import _ from "lodash";
    export default {
        name: "Gallery",
        data(){
            return{

            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage'
            ]),
            listImage(){
                let that = this as any
                let new_list_photo = _.cloneDeep(that.currentPortalLandingPage.photos)
                let length_list = that.currentPortalLandingPage.photos.length
                if(length_list > 3){
                   for(var i= 0 ;i < (length_list -3); i++){
                       let index_random = Math.floor(Math.random()*(length_list-i))
                       new_list_photo.splice(index_random,1)
                   }
                }else {

                }

                return new_list_photo
            }
        },
        methods: {

        }
    }
</script>

<style scoped lang="scss">
    #gallery{
        padding: 70px 0;
        border-bottom: 1px solid #eee;
        &.gallery .container-wrapper {
            max-width: 900px;
            margin: auto;
            .item {
                padding: 5px;
                overflow: hidden;
                .gallery-image {
                    width: 300px;
                    height: 300px;
                    margin: 0 auto;
                    background-size: cover;
                    background-position: center;
                    background-repeat:no-repeat;
                    border-radius: 4px;
                }
            }
        }
    }

</style>
