<template>
    <div id="testimonials" class="container testimonials">
        <div class="container-wrapper">
            <ul class="testimonials">
                <li :key="index" class="testimonial" v-for=" (testimonial,index) in listTestimonaials ">
                    <img
                    :src="testimonial.photo"
                    class="avatar">
                    <h2 class="name">{{testimonial.name}}</h2>
                    <h3 class="role">{{testimonial.position}}</h3>
                    <p class="body">" {{testimonial.testimonial}} "</p>
                </li>
            </ul>
        </div>
    </div>
</template>

<script lang="ts">
    import _ from "lodash";
    import {mapGetters} from 'vuex'
    export default {
        name: "Testimonials",
        data(){
            return{

            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage'
            ]),
            listTestimonaials(){
                let that = this as any
                let new_testimonials = _.cloneDeep(that.currentPortalLandingPage.testimonials)
                let length_list = that.currentPortalLandingPage.testimonials.length
                if(length_list > 2){
                   for(var i= 0 ;i < (length_list -3); i++){
                       let index_random = Math.floor(Math.random()*(length_list-i))
                        new_testimonials.splice(index_random,1)
                   }
                }else {

                }

                return new_testimonials
            }
        },
        methods: {

        }
    }
</script>

<style scoped lang="scss">
    #testimonials {
        .container-wrapper {
            .testimonials {
                display: flex;
                margin: auto;
                /*max-width: 900px;*/
                justify-content: space-around;
                flex-flow: row wrap;
                .testimonial {
                    display: inline-block;
                    padding: 50px 20px;
                    text-align: center;
                    vertical-align: top;
                    min-height: 350px;
                    background: #fff;
                    border-radius: 10px;
                    width: 320px;
                    margin: 10px;
                    border: 1px solid #eee;
                    border-bottom: 3px solid #eee;
                    .avatar{
                        width: 100px;
                        height: 100px;
                        border-radius: 50px;
                        margin-bottom: 20px;
                        border: 4px solid #eee;
                        object-fit: cover;
                    }
                    .name{
                        margin-bottom: 0;
                        font-size: 20px !important;
                        color: #444444;
                    }
                    .role {
                        font-size: 14px !important;
                        color: #444444;
                        margin-bottom: 30px;
                        font-weight: 300;
                    }
                    .body {
                        font-size: 14px !important;
                        color: #666;
                        font-weight: 300;
                    }
                }
            }
        }
    }

</style>
