<!--
    input: v-model
-->

<!-- output:
    {
        type: 'by_system' | 'by_position'
        value: system name | position id,
        text: string,
    }
-->

<template>
    <b-dropdown :text="value.text || '' "
                variant="gray"
                class="my-2 custom-dropdown">
        <template>
            <b-dropdown-header tag="em">{{messages.SR_050_FILTER_POSITION_CATEGORY_TEXT_SYSTEM}}</b-dropdown-header>
            <b-dropdown-item v-for="(item, idx) in analyticsPositionFilterBySystemOptions" :key="`system_${idx}`"
                             @click="choose(item)">{{item.text}}</b-dropdown-item>
        </template>
        <template>
            <b-dropdown-header tag="em">{{messages.SR_050_FILTER_POSITION_CATEGORY_TEXT_POSITIONS}}</b-dropdown-header>
            <b-dropdown-item v-for="(item, idx) in analyticsPositionFilterByPositionsOptions"  :key="`position_${idx}`"
                             @click="choose(item)">{{item.text}}</b-dropdown-item>
        </template>
    </b-dropdown>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapState} from 'vuex';
    import {Getter} from 'vuex-class';
    import AnalyticsPositionFilterBySystemOptions  from "@/components/Analytics/AnalyticsPositionFilterOption";
    import {IAnalyticsPositionFilterOption}  from "@/components/Analytics/AnalyticsPositionFilterOption";
    import Component from 'vue-class-component'
    import { Watch, Prop } from 'vue-property-decorator'
    import Position from '@/models/Position'
    import _ from 'lodash'
    import {messages} from '@/messages'
    import User from "@/models/User";

    // The @Component decorator indicates the class is a Vue component
    @Component({
        components: {

        },
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        computed: {
            ...mapGetters([
                // 'positions', // map position here
            ]),
            ...mapState('report', {
                positions: "all_positions"
            }),

        },
        methods: {

        }
    })
    export default class AnalyticsFilter extends Vue {

    //     props: {
    //         value: {
    //             type: Object,
    //             defaultValue: {
    //                 text: '',
    //             },
    //         }
    //     },
        @Getter('currentUser')
        currentUser: User | null;

        @Prop({default: {text:''}, type: Object})
        value;

        positions: Position[];


        get analyticsPositionFilterBySystemOptions(): IAnalyticsPositionFilterOption[]
        {
            return AnalyticsPositionFilterBySystemOptions.filter(opt=>{
                return (opt.value !== "all" || (this.currentUser && this.currentUser.role === User.ROLE.ADMIN));
            });
        }

        get analyticsPositionFilterByPositionsOptions():IAnalyticsPositionFilterOption[] {
            return this.positions.map(({id, title})=>({value: id, text: title, type:"by_position"} as IAnalyticsPositionFilterOption ));

            // return list_position
        }

        choose(positionFilterOption:IAnalyticsPositionFilterOption): void {
            // console.log(positionFilterOption)
            // debugger
            this.$emit("input", positionFilterOption);
        }

        mounted(): void {
            // const that = this as any;
            // const position_id = that.$route.params.position_id;
            //
            // const list_position:IAnalyticsPositionFilterOption[] = that.analyticsPositionFilterByPositionsOptions;
            // // alert(list_position.length);
            // // need fix later, case: positions have not loaded yet
            // if(position_id){
            //     //@ts-ignore
            //     const current_report_position:IAnalyticsPositionFilterOption = _.find(list_position, { value: position_id});
            //     if(current_report_position){
            //         that.choose(current_report_position);
            //         return;
            //     }
            //
            // }
            // alert('choose');

            this.choose(this.analyticsPositionFilterBySystemOptions[0]);
        }
    }
</script>

<style scoped>
    /* '>>>' is deep scope */
    /* https://vue-loader.vuejs.org/guide/scoped-css.html#deep-selectors */
    /** make dropdown with larger */
    .dropdown >>> ul.dropdown-menu {
        width: auto;
        transform: none !important;
        top: 2em !important;
    }
</style>
