<template>
    <div class="d-flex" style="height: 100%; width: 100%">
        <div class="flex-shrink-0 p-4" style="max-width: 300px">
            <!-- Filter -->
<!--            <AnalyticsFilter v-if="!position_id" v-model="positionFilter"></AnalyticsFilter>-->
            <AnalyticsFilter v-if="!position_id" v-model="position_filter"></AnalyticsFilter>
            <filter-date-dropdown v-show="checkShowFilterDate()" v-model="timeFilter"
                                  :options="analyticsTimeRanges"
                                  :autoApplyCustomTime="false"
                                  :custom_apply_text="messages.SR_050_GET_REPORT"
                                  emitValueType="Moment"
            ></filter-date-dropdown>
            <!-- Analytics types -->
            <aside class="pt-3 analytics-sidebar-container">
                <h2 class="mx-2">{{messages.SR_050_SIDEBAR_MENU_HEADING}}</h2>
                <div class="px-2">
                    <b-nav class="report-list">
                        <b-nav-item :class="nav_class" :to="nav_link('overview')">{{messages.SR_050_SIDEBAR_MENU_TEXT_OVERVIEW}}</b-nav-item>
<!--                        <b-nav-item :class="nav_class" :to="nav_link('applied')">Ứng viên đã đăng ký</b-nav-item>-->
<!--                        <b-nav-item :class="nav_class" :to="nav_link('sourced')">Báo cáo nguồn ứng viên</b-nav-item>-->
<!--                        <b-nav-item :class="nav_class" :to="nav_link('referred')">Báo cáo ứng viên được đề nghị</b-nav-item>-->
<!--                        <b-nav-item :class="nav_class" :to="nav_link('recruited')">Báo cáo ứng viên được tuyển dụng</b-nav-item>-->
                        <b-nav-item :class="nav_class" :to="nav_link('pipeline-performance')">{{messages.SR_050_SIDEBAR_MENU_TEXT_PIPELINE_PERFORMANCE}}</b-nav-item>
                        <b-nav-item v-if="!position_id" :class="nav_class" :to="nav_link('time-to-fill')">{{messages.SR_050_SIDEBAR_MENU_TEXT_TIME_TO_FILL}}</b-nav-item>
<!--                        <b-nav-item :class="nav_class" :to="nav_link('questionaires')">Bảng câu hỏi</b-nav-item>-->
                        <b-nav-item v-if="!position_id" :class="nav_class" :to="nav_link('open-positions')">{{messages.SR_050_SIDEBAR_MENU_TEXT_OPEN_POSITIONS}}</b-nav-item>
                    </b-nav>
                </div>
            </aside>
        </div>
        <div id="reportTypes" class="flex-grow-1 overflow-auto px-4">
<!--            <keep-alive>-->
<!--                <router-view></router-view>-->
<!--            </keep-alive>-->
<!--            <router-view :time_range="time_range"></router-view>-->
            <router-view ></router-view>


        </div>
    </div>
</template>

<style lang="scss">
    @import "~styles/analytics";
</style>

<script lang="ts">
    import Vue from 'vue';
    import moment from 'moment';
    import AnalyticsFilter from "@/components/Analytics/AnalyticsFilter.vue";
    // import {IAnalyticsTimeRange} from './AnalyticsTimeRange';
    // import AnalyticsTimeRanges from './AnalyticsTimeRange';
    import AnalyticsTimeRanges, {IAnalyticsTimeRange} from "@/components/Analytics/AnalyticsTimeRange";


    import FilterDateDropdown from "@/components/OptionDropdown/FilterDateDropdown.vue";

    import Component from 'vue-class-component'
    import { Watch, Prop } from 'vue-property-decorator'
    import {messages} from '@/messages'
    // import {mapGetters, mapMutations, mapState} from 'vuex'
    // https://vuex.vuejs.org/guide/modules.html#binding-helpers-with-namespace
    import { createNamespacedHelpers } from 'vuex'
    // const { mapGetters, mapMutations, mapState, mapActions } = createNamespacedHelpers('../../store/report')
    const { mapGetters, mapMutations, mapState, mapActions } = createNamespacedHelpers('report');

    // https://markus.oberlehner.net/blog/form-fields-two-way-data-binding-and-vuex/
    // https://github.com/maoberlehner/vuex-map-fields
    import { mapFields } from 'vuex-map-fields';

    import store from '@/store/report/store'
    import { Get, Sync, Call } from 'vuex-pathify'
    import {IAnalyticsPositionFilterOption} from "@/components/Analytics/AnalyticsPositionFilterOption";


    // alert('fk')
    let asdfasd=AnalyticsTimeRanges;
    // console.warn(`AnalyticsTimeRanges: ${AnalyticsTimeRangesee[0].start.format()}`)
    // The @Component decorator indicates the class is a Vue component
    @Component({
        // store:store,
        components: {
            AnalyticsFilter,
            FilterDateDropdown,
        },
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        computed: {

            ...mapState([
                'time_range'
            ]),
            // ...mapFields('report', [
            //     'position_filter',
            // ]),

        },
        methods: {
            ...mapActions(['getAllPositions']),
            // ...mapMutations(['modals/showAddCandidate']),
        }
    })

    export default class Analytics extends Vue {
        // About question mark (?) and exclamation mark (!) post-fix expression operator
        // https://stackoverflow.com/a/42274019
        // https://stackoverflow.com/a/37632914
        //
        // About Prop Validation:
        // https://vuejs.org/v2/guide/components-props.html#Prop-Validation
        // https://github.com/kaorun343/vue-property-decorator#-propoptions-propoptions--constructor--constructor---decorator
        @Prop({default: '' })
        readonly position_id: string
        // my_position_id: (
        //     ()=>{
        //     return this.position_id
        //     }());

        time_range: IAnalyticsTimeRange;
        // position_filter: any
        // @Get('report/position_filter') position_filter!: IAnalyticsPositionFilterOption;
        @Sync('report/position_filter') position_filter!:IAnalyticsPositionFilterOption;

        // https://davestewart.github.io/vuex-pathify/#/api/property-decorator?id=usage
        @Sync('report/is_position_report') is_position_report!:boolean;
        getAllPositions: Function;

        // store;

        // time_range_input:string = '7 ngày gần đây'

        nav_class:string = 'report-list-item-1'

        // will be default key for imported value
        // AnalyticsTimeRanges
        analyticsTimeRanges:IAnalyticsTimeRange[] = AnalyticsTimeRanges;


        /* methods */
        nav_link(path): string {
            const self = this as any;
            if (self.position_id) {
                return `/p/${self.position_id}/analytics/${path}`;
            } else {
                return `/analytics/${path}`;
            }
        }

        /* computed */
        get timeFilter(){
            return this.time_range
        }
        set timeFilter(value){
            // https://vuex.vuejs.org/guide/forms.html#two-way-computed-property
            this.$store.commit('report/updateTimeRange', value)
        }
        created(){
            // https://vuejs.org/v2/guide/components-edge-cases.html#Cheap-Static-Components-with-v-once
            this.$once('hook:beforeMount', ()=>{
                // // set position_filter
                // if(this.position_id){
                //     // this.positionFilter={
                //     this.position_filter={
                //         type: 'by_position',
                //         value: this.position_id,
                //         text: 'Specific Position'
                //     } as IAnalyticsPositionFilterOption;
                //
                //     // update is_position_report
                //     this.is_position_report = true;
                //
                // }
            });

        }
        async mounted(){

            // alert (`this.position_id ${this.position_id}`);
            // set position_filter

            if(this.position_id){
                // this.positionFilter={
                this.position_filter={
                    type: 'by_position',
                    value: this.position_id,
                    text: 'Specific Position'
                } as IAnalyticsPositionFilterOption;

                // update is_position_report
                this.is_position_report = true;

            }else{
                // update is_position_report
                this.is_position_report = false;
            }
            await this.getAllPositions();


        }

        get positionFilter(){
            return this.position_filter
        }
        set positionFilter(value){

            this.$store.commit('report/updatePositionFilter', value)
        }

        checkShowFilterDate(){
            let that = this as any;
            if(that.$route.path == "/analytics/time-to-fill" || that.$route.path == "/analytics/open-positions"){
                return false;
            }
            return true;
        }

    }
</script>
