<template>
    <div data-id="modal-wrapper">
        <slot></slot>
        <template v-if="userLogged">
            <modal :scrollable="true" name="modal"
                   width="90%" :min-width="300" :max-width="maxWidth"
                   height="auto"
                   :clickToClose="false" :pivotY="0.25" :adaptive="true"
                   @before-close="checkDiffDataWhenClose"
                   @closed="closeModal(false)">
                <router-view name="modal_content"
                             v-if="true"
                             v-on:checkDiff="compareDataPosition=true"
                             v-on:changeMaxWidth="(w)=>{maxWidth = w}"></router-view>
                <b-button class="close-button" @click="closeModal(true)">
                    <i class="fas fa-times"></i>
                </b-button>
            </modal>
            <UnSavedChangeModal
                v-if="compareDataPosition"
                :showModal="showModalConfirm"
                :sub-title-modal="subTitleModal"
                :title-modal="titleModal"
                :titleOkButton="messages.SR_028_MODAL_CONFIRM_DELETE_CANDIDATE_YES" @handleSaveChange="saveChange()"
                @handleClose="handleCloseUnSavedChange">
            </UnSavedChangeModal>
        </template>
    </div>
</template>

<style lang="scss">
    .close-button {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    .v--modal-overlay .v--modal-box {
        overflow: visible !important;
        height: auto !important;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .v--modal-overlay .v--modal-background-click {
        overflow: auto;
        height: 100% !important;
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import {Route, RouteRecord} from "vue-router";
    import {mapGetters} from 'vuex';
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import _ from 'lodash';
    import {messages} from "@/messages";

    export default Vue.extend({
        name: 'ModalWrapper',
        // props: ['class', 'style'],
        data() {
            return {
                isCheckNavigate: false,
                titleModal: messages.SR_020_MODAL_UNSAVED_CHANGE_TITLE,
                subTitleModal: '',
                showModal: false,
                maxWidth: 900,
                compareDataPosition: false,
                showModalConfirm: false,
            }
        },
        components: {
            UnSavedChangeModal
        },
        computed: {
            ...mapGetters([
                'currentPosition',
                'templatePosition',
                'cachePosition',
                'steps',
                'unsubscribeCandidate',
                'unsubscribePositionCandidate',
                'unsubscribeCandidateNotes',
                'unsubscribePublicNotes',
                'unsubscribeCandidateScorecards',
                'unsubscribeCandidateSchedules',
                'unsubscribeCandidateTasks',
                'unsubscribeCandidateSources',
                'unsubscribeCandidateQuestionnaire',
                'unsubscribeConnectSourceData'
            ]),
            userLogged() {
                return !!(this as any).$store.getters.currentUser;
            },
        },
        watch: {
            '$route'(route: Route, oldRoute) {
                if (route.meta.showModal)
                    this.$modal.show('modal');

                // Scroll to Top when change tag;
                let scrollElement = document.getElementById("scroll-modal");
                if (scrollElement) scrollElement.scrollTo(0,0);
                if (this.compareDataPosition){
                    if (oldRoute.params.type == 'edit' && oldRoute.name == 'PositionDetailTab' && !route.params['pushFromDetail']) {
                        let checkDiff = this.checkDiffData();
                        if (Boolean(checkDiff) == false) {
                            this.$router.back();
                            this.showModalConfirm = true;

                            this.isCheckNavigate = true;
                            this.subTitleModal = messages.SR_020_MODAL_UNSAVED_CHANGE_SUB_TITLE_4;
                        }
                    }
                }

            }
        },
        methods: {
            checkDiffData() {
                let that = this as any;
                let isSame = true;

                if (that.compareDataPosition == true && that.steps[0].done == false) {
                    let fields = ['position_type',
                        'department',
                        'internal_id',
                        'location',
                        'state',
                        'title',
                        'is_remote',
                        'other_information',
                        'category', 'education', 'job_description', 'tags',
                        'experience'];

                    fields.forEach(field => {
                        let compareData = this.$route.params.type == 'new' ? that.templatePosition[field] : that.cachePosition[field];
                        switch (typeof (that.currentPosition[field])) {
                            case 'string':
                                if (that.currentPosition[field] != compareData) {
                                    isSame = false;
                                }
                                break;
                            case 'boolean':
                                if (that.currentPosition[field] != compareData) {
                                    isSame = false;
                                }
                                break;
                            default:
                                if (!_.isEqual(that.currentPosition[field], compareData)) {
                                    isSame = false;
                                }
                                break;

                        }
                    });
                }
                return isSame;
            },
            checkDiffDataWhenClose(event) {
                let isSame = this.checkDiffData();
                if (!isSame) {
                    this.subTitleModal = messages.SR_020_MODAL_UNSAVED_CHANGE_SUB_TITLE_3;
                    this.showModalConfirm = true;
                    event.stop();
                }
            },
            handleCloseUnSavedChange() {
                this.showModalConfirm = false;
            },
            saveChange() {
                let that = this as any;
                this.showModalConfirm = false;
                if (!this.isCheckNavigate){
                    this.compareDataPosition = false;
                    this.closeModal(true);
                }else{
                    that.$router.push({
                        name: 'PositionApplicationTab',
                        params: {
                            pushFromDetail: true,
                        }
                    });

                }
            },
            closeModal(isShow: boolean): void {
                this.isCheckNavigate = false;
                if (isShow) this.$modal.hide("modal");
                // const returnPath = this.$route.matched[0].meta.returnPath || "/";
                // this.$router.replace(returnPath);
                if (!this.showModalConfirm) this.$router.replace(this.$store.state.last_route);

                let that = this as any;
                if (that.unsubscribeCandidate) {
                    that.unsubscribeCandidate();
                }
                if (that.unsubscribePositionCandidate) {
                    that.unsubscribePositionCandidate();
                }
                if (that.unsubscribeCandidateNotes) {
                    that.unsubscribeCandidateNotes();
                }
                if (that.unsubscribePublicNotes) {
                    that.unsubscribePublicNotes();
                }
                if (that.unsubscribeCandidateScorecards) {
                    that.unsubscribeCandidateScorecards();
                }
                if(that.unsubscribeCandidateSchedules) {
                    that.unsubscribeCandidateSchedules();
                }
                if(that.unsubscribeCandidateTasks) {
                    that.unsubscribeCandidateTasks();
                }
                if(that.unsubscribeCandidateSources) {
                    that.unsubscribeCandidateSources();
                }
                if(that.unsubscribeCandidateQuestionnaire) {
                    that.unsubscribeCandidateQuestionnaire();
                }
                if(that.unsubscribeConnectSourceData) {
                    that.unsubscribeConnectSourceData();
                }

            }
        },
        mounted() {
            // console.log(this.$route.matched);
            if (this.$route.matched.some((route: RouteRecord) => route.meta.showModal)) {
                this.$modal.show("modal");
            } else if (this.$route.matched.some((route: RouteRecord) => route.meta.forget)) {
                this.$store.state.last_route = this.$route.fullPath;
            }
        },
        updated(): void {
            // console.log(this.$route.matched);
            if (this.$route.matched.some((route: RouteRecord) => route.meta.showModal)) {
                this.$modal.show("modal");
            } else {
                this.$modal.hide("modal");
                this.$store.state.last_route = this.$route.fullPath;
            }
        },
    })
</script>
