<template>
    <div id=""></div>
</template>
<script lang="ts">

    import Excel from 'exceljs'
    import { saveAs } from 'file-saver';
    // var Excel = require('exceljs');
    function nextChar(c) {
        var u = c.toUpperCase();
        if (same(u,'Z')){
            var txt = '';
            var i = u.length;
            while (i--) {
                txt += 'A';
            }
            return (txt+'A');
        } else {
            var p = "";
            var q = "";
            if(u.length > 1){
                p = u.substring(0, u.length - 1);
                q = String.fromCharCode(p.slice(-1).charCodeAt(0));
            }
            var l = u.slice(-1).charCodeAt(0);
            var z = nextLetter(l);
            if(z==='A'){
                return p.slice(0,-1) + nextLetter(q.slice(-1).charCodeAt(0)) + z;
            } else {
                return p + z;
            }
        }
    }

    function nextLetter(l){
        if(l<90){
            return String.fromCharCode(l + 1);
        }
        else{
            return 'A';
        }
    }

    function same(str,char){
        var i = str.length;
        while (i--) {
            if (str[i]!==char){
                return false;
            }
        }
        return true;
    }
    export interface inputExport{
        // alive: Pipeline[],
        text: any,
        slug: string,
    }

    export default {
        name: "exportExecel",
        props: {
            dataBodyExport: {
                type: Object,
                default() {
                    return {};
                }
            },
            dataHeaderExport: {
                type: Array,
                default() {
                    return [];
                }
            },
            fileName: {
                type: String,
                default() {
                    return "";
                }
            }
        },
        methods: {
            createWorkBook(): void {
                let that = this as any
                let wb = new Excel.Workbook()
                wb.creator = 'Potential';
                wb.views = [
                    {
                        x: 0, y: 0, width: 100000, height: 20000,
                        firstSheet: 0, activeTab: 1, visibility: 'visible'
                    }
                ]
                that.addWorkSheet(wb)
            },
            addWorkSheet(wb): void {
                let that = this as any
                let style_sheet: object = {
                    tabColor: {argb: 'FFC0000'},
                    showGridLines: false,
                }
                let ws = wb.addWorksheet(
                    'My Potential', {
                        pageSetup: {
                            showGridLines: true,
                            orientation: 'landscape',
                            paperSize: 9,
                            fitToPage: true,
                            fitToHeight: 0,
                            fitToWidth: 1
                        }
                    }, {properties: style_sheet}, {views: [{xSplit: 1, ySplit: 1}]}
                )
                ws.pageSetup.margins = {
                    left: 0.1, right: 0.1,
                    top: 0.2, bottom: 0.2,
                    header: 0.3, footer: 0.3
                };
                that.renderHeaderData(wb, ws)
                that.rederBodyData(wb, ws)
                that.downloadReport(wb, ws)
            },
            renderHeaderData(wb, ws): void {
                let that = this as any
                let id_start: string = 'A';
                let row_start: number = 1
                let header: object = {
                    row_start: 1,
                    height: 20,
                    row: that.dataHeaderExport,
                }
                let cell: string = ''
                header['row'].forEach((row: inputExport): void => {
                    cell = id_start + row_start
                    ws.getRow(row_start).height = header['height'];
                    ws.getCell(cell).value = row.text;
                    row_start++
                })

                // moment(a).format(`MMM, DD-${moment(b).format('DD')`)
            },
            rederBodyData(wb, ws): void {
                let that = this as any
                let height_row = 20;
                let id_start: string = 'B';
                let col_start: string = 'B'
                let row_start: number = 1
                let cell: string = ''
                that.dataHeaderExport.map((header_data)=>{
                    ws.getRow(row_start).height = height_row;
                    col_start = id_start
                    // console.log(that.dataBodyExport[header_data.slug])
                    if(that.dataBodyExport[header_data.slug] && that.dataBodyExport[header_data.slug].length >0){
                        that.dataBodyExport[header_data.slug].map((data_exp: inputExport) => {
                            cell = col_start + row_start
                            ws.getCell(cell).value = data_exp.text;
                            col_start = nextChar(col_start)
                        })
                    }

                    row_start++
                })

            },
            downloadReport(wb, ws): void {
                let that = this as any
                let file_name = `${that.fileName}.xlsx`
                if (wb) {
                    wb.xlsx.writeBuffer().then(function (buffer) {
                        let filesaver = saveAs(new Blob([buffer], {
                            type: "application/octet-stream"
                        }), file_name);
                    });

                }
            },
            created(): void {

            }
        }
    }
</script>

<style scoped>

</style>
