<template>
    <b-dropdown no-caret variant="dark" id="sidebar_settings"
                boundary="body">
        <template slot="button-content">
            <i title="Thiết lập" class="fas fa-cog"></i>
        </template>

        <b-dropdown-header style="padding-left:1em ">
            <div class="d-flex align-items-center" v-if="currentUser">
<!--                <b-img :src="currentUser.photoURL|| 'https://ui-avatars.com/api/?name=' + currentUser.name"-->
<!--                       :width="35" :height="35"-->
<!--                       rounded="circle"-->
<!--                    alt=""></b-img>-->
                <avatar class="avatar xl color2" :size="40" :username="currentUser.name"  :src="currentUser.photoURL|| 'https://ui-avatars.com/api/?name=' + currentUser.name"></avatar>
                <div class="px-2" v-if="currentUser">
                    <h6 class="my-0"><b>{{ currentUser.name }}</b></h6>
                    <small>{{ currentUser.email }}<br></small>
                </div>
            </div>
        </b-dropdown-header>
        <b-dropdown-item :to="{name: 'UserPopupSetting'}">
            <i class="fas fa-user"></i>&emsp;
            {{messages.SR_001_USER_SETTING_TITLE}}
        </b-dropdown-item>
        <b-dropdown-item href="https://help.cloudjetpotential.com" target="_blank">
            <i class="fas fa-question-circle"></i>&emsp;
            Trợ giúp & Tài liệu
        </b-dropdown-item>
        <b-dropdown-item @click="signOut">
            <i class="fas fa-sign-out-alt"></i>&emsp;
            Đăng xuất
        </b-dropdown-item>

        <b-dropdown-divider></b-dropdown-divider>

        <b-dropdown-header style="padding-left:1em ">
            <div class="d-flex align-items-center">
                <avatar :username="currentCompany.name" :size="40"></avatar>
                <div class="px-2" v-if="currentCompany">
                    <h6 class="my-0"><b>{{ currentCompany.name }}</b></h6>
                    <a target="_blank">
                        <small>{{ currentCompany.address }}<br></small>
                    </a>
<!--                    <router-link :to="{name:'LandingPage'}">-->
                        <a :href="urlLandingPage"
                           v-if="$can('admin', {company_id: currentCompany.id})"
                           target="_blank" class="link">
                            <small v-text="urlLandingPage"></small>
                        </a>
<!--                    </router-link>-->
                </div>
            </div>
        </b-dropdown-header>

        <b-dropdown-item
            v-if="$can('admin', {company_id: currentCompany.id})"
            :to="{name: 'Settings'}">
            <i class="fas fa-building"></i>&emsp;
            Công ty
        </b-dropdown-item>

        <b-dropdown no-caret :dropup="sidebar_collapse"
                    v-if="$can('admin', {company_id: currentCompany.id})"
                    offset="100%"
                    variant="white" class="dropdown-hover p-0">
            <template slot="button-content">
                <div class="text-left">
                    <i class="fas fa-cogs"></i>&nbsp;
                    Tuyển dụng
                    <div class="float-right">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </template>
            <template v-for="(submenu, idx) in RecruitingMenu">
                <b-dropdown-divider v-if="idx != 0"></b-dropdown-divider>
                <b-dropdown-item
                    v-for="(item) in submenu"
                    :key="item.to"
                    @click="submenuClicked(item.to)">
                    <i :class="'fas fa-' + item.icon"></i>&nbsp;
                    {{item.text}}
                </b-dropdown-item>

            </template>

        </b-dropdown>

<!--        <b-dropdown-item>-->
<!--            <i class="fas fa-envelope"></i>&emsp;-->
<!--            Mời các thành viên-->
<!--        </b-dropdown-item>-->

    </b-dropdown>
</template>

<style lang="scss">
    @import "~styles/_app_color";
    #sidebar_settings {
        a.dropdown-item, .dropdown {
            margin: 0 5px;
            width: auto;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            position: relative;

            &:hover {
                background-color: $default-btn-color;
            }
        }
        a.link{
            cursor: pointer;
            text-decoration: unset;
        }
        .dropdown-hover {
            > .dropdown-menu {
                left: 100%;
                top: unset;
                bottom: 0;
                .open & {
                    top: 0;
                    bottom: unset;
                }
            }
            &:hover > .dropdown-menu {
                display: block;
            }
        }
    }
</style>

<script lang="ts">
    import Vue from "vue";
    import {fauth} from '../../firebase';
    import {mapGetters} from 'vuex';
    import RecruitingMenu from "./RecruitingMenu";
    import {Avatar} from 'vue-avatar';

    export default Vue.extend({
        components: {
            Avatar,
        },
        props: {
            sidebar_collapse: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                RecruitingMenu,
            }
        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentCompany',
                // ...
            ]),
            urlLandingPage() {
                const _this = this as any;
                return _this.$urlLandingPage('/', _this.currentCompany.domain);
            }
        },
        methods: {
            signOut() {
                fauth.signOut().then(_ => {
                    this.$router.push('/login');
                })
            },
            submenuClicked(nextRouteName): any
            {
                document.querySelector("#sidebar_settings .dropdown-menu").classList.remove("show");
                this.$router.push({name: nextRouteName});
            }
        },
    });
</script>
