<template>
    <div :class="classSidebar">
        <!-- Header -->
        <div class="d-flex flex-nowrap align-items-center"
            :class="[currentCompany ? '' : 'blur', 'bk']">
            <a class="hamburger"
                href="javascript:void(0)"
                @click="nav.open = !nav.open">
                <i v-if="nav.open" class="fa fa-chevron-left"></i>
                <i v-if="!nav.open" class="fa fa-chevron-right"></i>
            </a>
            <div v-if="nav.open" class="flex-grow-1 header-sidebar-company">
                <h5 v-if="currentCompany" class="text-light my-0 text-left">{{ currentCompany.name }}</h5>
                <p class="user">{{ currentUser.name }}</p>
                <!--                <p class="text-left my-0">Hong Le Viet</p>-->
            </div>
            <div class="d-flex app-sidebar-control">
<!--                <SidebarNotification/>-->
                <SidebarSettings v-bind:sidebar_collapse="!nav.open"/>
            </div>
        </div>

        <div v-if="!nav.open" id="sidebar-add-collapsed">
            <b-dropdown no-caret variant="blue add-collapsed-button" dropleft>
                <template slot="button-content">
                    <i class="fas fa-plus"></i>
                </template>
                <b-dropdown-item @click="showNewPositionModal">
                    <div><i class="fas fa-briefcase"></i></div>
                    <div>
                        <h5>{{$cjpmessages.SR_028_COLUMN_POSITION}}</h5>
                        <small>{{$cjpmessages.SR_051_ADD}}</small>
                    </div>
                </b-dropdown-item>
                <b-dropdown-item @click="showAddCandidateModal">
                    <div><i class="fas fa-user-circle"></i></div>
                    <div>
                        <h5>{{$cjpmessages.SR_051_COLUMN_CANDIDATES}}</h5>
                        <small>{{$cjpmessages.SR_032_BTN_TEXT_ADD_CANDIDATE}}</small>
                    </div>
                </b-dropdown-item>
                <b-dropdown-item @click="showAddTaskModal">
                    <div><i class="fas fa-check-square"></i></div>
                    <div>
                        <h5>{{$cjpmessages.SR_021_KANBAN_TASKS}}</h5>
                        <small>{{$cjpmessages.SR_009_CREATE_A_TASK}}</small>
                    </div>
                </b-dropdown-item>
            </b-dropdown>
        </div>

        <div v-if="nav.open" class="m-3">
<!--            <b-form-input id="sidebarSearchBar" name="searchbox"-->
<!--                          autocomplete="off"-->
<!--                          type="search"-->
<!--                          placeholder="Tìm kiếm ứng viên"/>-->
        </div>

        <!-- Search and menu -->
        <div class="menu overflow-auto">
            <b-nav vertical fill>

                <b-nav-item to="/" exact>
                    <i class="fas fa-home"></i>
                    <span>Trang chủ</span>
                </b-nav-item>
                <b-nav-item :href="urlLandingPage" exact target="_blank">
                    <i class="fas fa-globe"></i>
                    <span>Trang tuyển dụng</span>
                </b-nav-item>
                <b-nav-item to="/inbox" id="sidebar-inbox">
                    <i class="fas fa-envelope"></i>
                    <span>{{messages.SR_010_INBOX_LABEL}}</span>
                </b-nav-item>
                <b-nav-item to="/tasks" id="sidebar-task">
                    <i class="fas fa-check-square"></i>
                    <span>Công việc</span>
                    <create-task
                        :showModal="showModal"
                        @handleClose="showModal=false"
                        @createdTaskAssigee="createdTaskAssigeeSidebar">
                    </create-task>
                    <b-button class="nav-action"
                        variant="blue"
                        title="Thêm công việc"
                        @click="showAddTaskModal">
                        <i class="fas fa-plus"></i>
                    </b-button>
                </b-nav-item>
                <b-nav-item to="/calendar" id="sidebar-calendar">
                    <i class="fas fa-calendar-alt"></i>
                    <span>{{messages.SR_008_CALENDAR_TITLE}}</span>
                </b-nav-item>
                <b-nav-item to="/analytics" id="sidebar-report">
                    <i class="fas fa-chart-bar"></i>
                    <span>Báo cáo / Phân tích</span>
                </b-nav-item>
                <b-nav-item to="/positions">
                    <i class="fas fa-briefcase"></i>
                    <span>Vị trí</span>
                    <b-button class="nav-action" variant="blue" title="Thêm Vị trí"
                              to="/positions/new">
                        <i class="fas fa-plus"></i>
                    </b-button>
                </b-nav-item>
                <template v-if="nav.open">
                    <b-nav-item v-for="position in sortedPosition"
                                link-classes="text-overflow"
                                :to="`/p/${position.id}`" :key="position.id">
                        <span v-if="currentUser.position_liked.indexOf(position.id) > -1" data-v-60ef2d09="" class="ml-4 fas fa-star starred"></span>
                        <span v-else :class="{
                            'ml-4 fas fa-circle': true,
                            [position.status]: true,
                            'fa-archive': position.status === 'archived',
                        }"></span>&nbsp;
                        <small>{{position.title}}</small>
                    </b-nav-item>
                </template>

                <b-nav-item to="/candidates" id="sidebar-candidates">
                    <i class="fas fa-users"></i>
                    <span>Ứng viên</span>
                    <b-button class="nav-action" title="Thêm ứng viên" variant="blue"
                              v-if="$can('create', 'Candidate')"
                        @click="showAddCandidateModal">
                        <i class="fas fa-plus"></i>
                    </b-button>
                </b-nav-item>
                <template v-if="nav.open">
                    <b-nav-item link-classes="text-overflow" v-for="(ca, index) in currentUser.candidate_star" :to="`/candidate/${ca.id}/experience`" :key="index" class="candidatename" v-if="currentUser.candidate_star">
                         <span class="ml-4 fas fa-star starred"></span>
                        <small> &nbsp; {{ca.name}}</small>
                    </b-nav-item>
                </template>
            </b-nav>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .candidatename{
        width:213px;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
    .starred {
        color: orange;
    }
    .header-sidebar-company{
        line-height: 1;
        h5{
            line-height: 1;
        }
        p.user{
            font-size: 12px;
            color: #777;
            font-weight: 400;
            margin-bottom: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 115px;
            /*line-height: 1.5;*/
        }

    }

    .nav-item {
        display: flex;
        flex-direction: column;
    }

    .nav-link {
        color: #aaa;
        transition: background-color 200ms, color 200ms;

        > i {
            width: 2em;
            text-align: center;
        }



        &.router-link-active, &:hover {
            color: white;
            background-color: #000;
        }
    }


    #sidebarSearchBar {
        background-color: var(--gray);
        transition: background-color 200ms;
        border: none;

        &:focus {
            background-color: white;
        }
    }

    .bk {
        transition: all 1s ease-out;
    }

    .blur {
        filter: blur(2px);
        color: red;
        opacity: 0.4;
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import SidebarSettings from './SidebarSettings.vue';
    import SidebarNotification from './SidebarNotification.vue';
    import {mapGetters, mapMutations, mapActions} from "vuex";
    import {messages} from "@/messages";
    import _ from 'lodash'
    export default Vue.extend({
        name: "Sidebar",

        components: {
            SidebarSettings,
            SidebarNotification,
        },
        data() {
            return {
                nav: {
                    open: +(localStorage.getItem("settings.nav.open") || 1),
                },
                showModal: false,
            }
        },
        watch: {
            "nav.open"(val: boolean = true) {
                localStorage.setItem("settings.nav.open", val ? "1" : "0");
            }
        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentCompany',
                'listAllPosition'
                // ...
            ]),
            urlLandingPage(){
                let that = this as any;
                return  that.$urlLandingPage('', that.currentCompany.domain);
            },
            sortedPosition(){
                let that = this as any;
                let arrayStatus = ['published', 'draft', 'closed'];

                //@ts-ignore
                let positionStarred = this.currentUser.position_liked;

                let positions = _.filter(that.listAllPosition, (pos) => {
                    return this.$can('read', pos);
                })
                let positionByType = _.groupBy(positions, 'status');
                let arrayResult = [];

                //@ts-ignore
                positions.forEach((position)=>{
                    if ((positionStarred.indexOf(position.id) > -1) && (position.status != 'archived')){
                        arrayResult.push(position);
                    }
                })
                arrayStatus.forEach((status)=>{
                    if (positionByType.hasOwnProperty(status)){
                        let a = positionByType[status].filter((position)=>{return positionStarred.indexOf(position.id) == -1});
                        arrayResult = arrayResult.concat(a);
                    }
                });
                if (arrayResult.length > 10){
                    arrayResult = arrayResult.slice(0, 10);
                }
                return arrayResult;
            },
            classSidebar(): any {
                return {
                    "text-light": true,
                    "text-left": true,
                    "open": this.nav.open,
                    "app-sidebar": true,
                }
            },
            position_id(): string {
                let that = this as any;
                return that.$route.params.position_id || "";
            },
        },
        methods: {
            ...mapMutations([
                'modals/showAddTask',
                'modals/showAddCandidate',
            ]),
            ...mapActions([
                'setListPosition',
                'createdTasks',
                'getFilteredTasks',
            ]),
            createdTaskAssigeeSidebar(e){
                let that = this as any;
                e.task.add_log.push({
                    timeUpdate: e.task.createdAt,
                    title: messages.SR_009_CREATED_TASK ,
                    created_by: that.currentUser.cloneNewObject()
                });
                that.createdTasks(e).then(()=>{
                    if(that.$route.params.task_id){
                        let compareListUserAssign = e.users.some(user => {
                            return user.id != that.currentUser.id
                        });
                        if(compareListUserAssign){
                            that.getFilteredTasks({value:that.currentUser.id, position_id: that.position_id})
                        }
                    }
                });
            },
            showAddTaskModal(event): void {
                let that = this as any;
                event.preventDefault();
                that.showModal = true;
            },

            showAddCandidateModal(event): void {
                event.preventDefault();// chan trigger cua nav-link cua menu
                this['modals/showAddCandidate'](true);
            },

            showNewPositionModal(event): void {
                event.preventDefault();
                this.$router.push({name: 'NewPosition'});
            }
        },
    })
</script>
