<template>
    <div class="flex-grow-1 flex-shrink-0 border rounded bg-light p-3 mb-2 candidate-section">
        <div style="padding: 10px 0px">
            <div class="dropdown">
                <button
                    class="dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="background: none;border: none">
                    <i class="fas fa-users">&nbsp;</i>
                    <span  class="font-weight-bold">{{this.getTextFilter()}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:void(0)" @click="setFilterOption('new_candidates')">{{messages.SR_045_LBL_NEW_CANS}}</a>
                    <a class="dropdown-item" href="javascript:void(0)" @click="setFilterOption('my_candidates')">{{messages.SR_045_LBL_MY_CANS}}</a>
<!--                    <a class="dropdown-item" href="#" @click="setFilterOption('unseen_candidates')">Unseen Candidates</a>-->
                </div>
            </div>
        </div>

        <div style="background-color: white; padding: 20px;" v-if="loading">
            <vcl-code></vcl-code>
        </div>

        <div v-if="!loading && dashboardCandidates.length == 0" class="no-activity-container ng-scope"
             ng-if="candidates.length == 0">
            <h1><i class="fa fa-user"></i></h1>
            <p>{{messages.SR_045_LBL_NO_RECENT_CANS}}</p>
        </div>

        <div class="flex-scroll" v-if="!loading && dashboardCandidates.length > 0" style="flex-grow: 1;overflow: auto">
            <ul class="list candidate-list ng-scope">
                <li class="card small still ng-scope" style="cursor: pointer;"
                    v-for="candidate in candidates" :key="candidate.id"
                    @click="navigateToCandidateKeys(candidate)">
                    <div class="card-box candidate"
                         :class="{'unseen': !checkSeenCandidate(candidate), 'good': isCandidateScored(candidate) == 'good', 'poor': isCandidateScored(candidate) == 'poor', 'neutral': isCandidateScored(candidate) == 'neutral' }">
                        <div class="unseen-marker" v-tooltip="{content: messages.SR_045_LBL_UNSEEN, placement: 'bottom', class: 'tooltip-unseen'}" data-container="body"
                             tooltip-append-to-body="true"></div>
                        <div class="candidate-container d-flex">
                            <div class="candidate-color-bar-container">
                                <ul class="color-bars">
                                    <li class="assigned-bar ng-scope"
                                        v-if="candidate.assignee_id">
                                        <div class="bar assigned" v-tooltip="getTooltip(candidate)"></div>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <avatar :size="30" :username="candidate.name" :initials="candidate.name.charAt(0).toUpperCase()" :src="candidate.profile_photo_url"
                                        class="ng-isolate-scope sm avatar color4"></avatar>
                                <div v-if="candidate.overall_score.scored_count > 0" class="candidate-f-score" :class="isCandidateScored(candidate)">{{candidate.overall_score.score}}</div>
                            </div>
                            <div class="candidate-info">
                                <div class="candidate-header"><h3><span class="ng-binding">{{candidate.name}}</span></h3>
                                </div>
                                <div class="candidate-body">
                                    <p class="headline mb-0"><!-- ngIf: candidate.headline -->
                                        <span v-if="candidate.headline" class="ng-binding ng-scope">{{candidate.headline}}<br></span>
                                        <span class="ng-binding"><i class="fa fa-briefcase"></i>{{candidate.position.name}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import {VclCode} from "vue-content-loading";
    import Avatar from 'vue-avatar';
    import {mapMutations, mapActions, mapGetters,mapState} from 'vuex';
    import _ from "lodash";
    import Candidate from "../../models/Candidate";

    export default {
        name: "CandidateSection",
        components: {
            VclCode,
            Avatar
        },
        data() {
            return {
                filter_option: 'my_candidates',
                loading: false
            }
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'currentUser',
                'dashboardCandidates',
                'unsubscribeCandidateDashboard'
            ]),
            candidates() {
                let that = this;
                let listCandidates = [];
                listCandidates = that.dashboardCandidates.filter(candidate => {
                    return that.$can('read', candidate);
                });

                return _.sortBy(listCandidates, 'createdAt').reverse();
            }
        },
        mounted() {
            let that = this;
            that.loading = true;
            let value = this.currentUser.id;
            let option = this.filter_option;
            that.getCandidateForDashboard({option, value}).then(() => {
                that.loading = false;
            });
        },
        methods: {
            ...mapActions([
                'getCandidateForDashboard',
            ]),
            setFilterOption(option) {
                let that = this;
                let value = this.currentUser.id;
                if (that.filter_option != option) {
                    that.loading = true;
                    that.filter_option = option;
                    that.getCandidateForDashboard({option, value}).then(() => {
                        that.loading = false;
                    });

                }

            },
            getTextFilter() {
                switch (this.filter_option) {
                    case "my_candidates":
                        return this.messages.SR_045_LBL_MY_CANS;
                    case "new_candidates":
                        return this.messages.SR_045_LBL_NEW_CANS;
                    case "unseen_candidates":
                        return "Unseen Candidates"
                    default:
                        return ""
                }
            },
            isCandidateScored(candidate) {
                let score = candidate.overall_score.score;
                if (candidate.overall_score.scored_count > 0) {
                    if (score == 0) {
                        return "neutral";
                    } else if (score < 0) {
                        return "poor";
                    } else if (score > 0) {
                        return "good";
                    }
                }
                return "";
            },
            navigateToCandidateKeys(candidate) {
                this.$router.push(`/candidate/${candidate.id}`);
            },
            getTooltip(candidate) {
                let content = candidate.assignee_id == this.currentUser.id ? `${this.messages.SR_045_LBL_ASSIGNED_TO} ${this.messages.SR_045_LBL_YOU}`: `${this.messages.SR_045_LBL_ASSIGNED_TO} ${candidate.assignee.name}`
                return {
                    content: content,
                    class: "assigned-tooltip"
                }
            },
            checkSeenCandidate(candidate) {
                return new Candidate().checkSeenCandidate(candidate);
            }
        },
        destroyed() {
            let that = this;
            if (that.unsubscribeCandidateDashboard) {
                that.unsubscribeCandidateDashboard();
            }
        },
    }
</script>

<style lang="scss">
    .candidate-section {
        .flex-scroll {
            flex: 1;
            overflow: auto;
            min-height: 100px;
        }
        .candidate-list {
            margin-bottom: 0;
            border-radius: 0;
        }
        .candidate-list .card:not(:last-child) {
            margin-bottom: 0;
            border-bottom: 0;
            border-radius: 0;
        }
        .candidate-list .candidate {
            background: #ffffff;
            padding: 10px;
            min-height: 50px;
            position: relative;
        }
        .candidate-list .candidate .candidate-container {
            position: relative;
        }
        .candidate-list .candidate .candidate-info {
            margin-left: 10px;
        }
        .candidate-list .candidate .candidate-header h3 {
            font-size: 16px;
            color: #4c555c;
            line-height: 20px;
            margin: 0 20px 0 0;
            font-weight: 600;
        }
        .candidate .candidate-body {
            max-width: 200px;
        }
        .candidate-list .candidate .candidate-body p {
            font-size: 12px;
            color: #68747e;
            line-height: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .candidate-body p i {
            margin-right: 5px;
        }
        .card .card-box.unseen .unseen-marker {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 14px 14px 0 0;
            border-color: #76d691 transparent transparent transparent;
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .candidate .candidate-color-bar-container {
            position: absolute;
            right: 0;
            top: -18px;
        }
        ul {
            margin-bottom: 0;
        }
        .candidate .candidate-color-bar-container .color-bars li {
            width: 30px;
            display: inline-block;
            margin-left: 5px;
        }
        .candidate .candidate-color-bar-container .color-bars li .bar.assigned {
            background: #5ac0e5;
            display: block;
        }
        .candidate .candidate-color-bar-container .color-bars li .bar {
            border-radius: 0px 0px 4px 4px;
        }
        .candidate .candidate-color-bar-container .color-bars li .bar {
            display: block;
            height: 4px;
        }
        .candidate-f-score {
            background-color: #d6d076;
            border: 2px solid #edeff0;
            border-radius: 44px;
            color: #fff;
            font-size: 9px;
            height: 19px;
            left: 15px;
            line-height: 16px;
            padding: 0;
            position: absolute;
            text-align: center;
            top: 15px;
            width: 19px;
            z-index: 3;
        }
        .candidate-f-score.good {
            background-color: #76d691;
        }
        .candidate-f-score.poor {
            background-color: #e15258;
        }
        .candidate-f-score.neutral {
            background-color: #f5d44f;
        }

    }
    .tooltip-unseen {
        .v-popper__inner {
            max-width: 200px;
            padding: 3px 8px;
            color: #fff;
            text-align: center;
            background-color: #000;
            border-radius: 4px;
        }
    }
    .assigned-tooltip {
        font-size: 12px;
    }
</style>
