<template>
    <div class="border rounded p-3 mt-4 bg-light inbox-content">
        <div style="padding: 10px 0;">
            <div class="dropdown">
                <button
                    class="dropdown-toggle"
                    type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="background: none;border: none">
                    <i class="fas fa-envelope">&nbsp;</i>
                    <span class="font-weight-bold">{{this.getTextFilter()}}</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:void(0)" @click="setFilterOption('all')">{{messages.SR_045_LBL_ALL_CONVERSATION}}</a>
                    <a class="dropdown-item" href="javascript:void(0)" @click="setFilterOption('my')">{{messages.SR_045_LBL_MY_CONVERSATION}}</a>
                </div>
            </div>
        </div>

        <div style="background-color: white; padding: 20px;" v-if="loading">
            <vcl-code></vcl-code>
        </div>

        <div class="no-activity-container ng-scope" v-if="!loading && conversations.length == 0">
            <h1><i class="fa fa-comments"></i></h1>
            <p>{{messages.SR_045_LBL_NO_CONVERSATION}}</p>
        </div>

        <div class="flex-scroll" style="flex-grow: 1;overflow: auto" v-if="!loading && conversations.length > 0">
            <div class="position-inbox-candidates">
                <ul>
                    <li v-for="conversation in conversations"
                        @click="navigateToCandidate(conversation.candidate)" :key="conversation.id"
                        class="ng-scope" style="">
                        <div class="inbox-candidate">
                            <avatar :size="30"  :username="conversation.candidate.name" :initials="conversation.candidate.name.charAt(0).toUpperCase()" :src="conversation.candidate.profile_photo_url" style="position: absolute;top:0;left: 0"
                                    class="ng-isolate-scope sm avatar color4"></avatar>
                            <div class="candidate-info d-flex">
                                <h3 class="font-weight-bold" style="margin-right: 85px;min-height: 20px">{{conversation.candidate.name}}</h3>
                                <a class="v_time_ago_a">{{conversation.updatedAt | formatTimeTask}}</a>
                            </div>
                        </div>
                        <div class="conversation-snippet"
                             ng-class="{&quot;from-candidate&quot;: conversation.candidate._id == conversation.from._id}">
                            <avatar :size="20" :username="conversation.acting_user.name" :initials="conversation.acting_user.name.charAt(0).toUpperCase()" :src="conversation.acting_user.photoURL"
                                    class="ng-isolate-scope sm avatar color4" style="position: absolute;top:0;left: 15px"></avatar>
                            <p class="ng-binding">{{conversation.body}}</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import Avatar from 'vue-avatar';
    import {mapMutations, mapActions, mapGetters} from 'vuex';
    import {VclCode} from "vue-content-loading";
    import _ from 'lodash';
    import moment from "moment"

    export default {
        name: "ConversationSection",
        components: {
            Avatar,
            VclCode
        },
        data() {
            return {
                loading: true,
                filter_option: 'my'
            }
        },
        computed: {
            ...mapGetters([
                'dashboardInbox',
                'currentUser'
            ]),
            conversations() {
                let that = this;
                let list_inbox = that.dashboardInbox;
                return _.orderBy(list_inbox, 'updatedAt', 'desc');
            },
            is_admin() {
                return this.$can('admin', {company_id: this.$store.getters.currentCompany.id})
            }
        },
        mounted() {
            this.getDashboardInbox(this.currentUser).then(() =>{
                this.loading = false;
            })
        },
        filters: {
            formatTimeTask(value){
                return moment(value, "x").fromNow();
            }
        },
        methods: {
            ...mapActions([
                'getDashboardInbox',
            ]),
            setFilterOption(option) {
                let that = this;
                if (that.filter_option != option) {
                    that.loading = true;
                    that.filter_option = option;
                    if (option == 'my') {
                        that.getDashboardInbox(that.currentUser).then(() => {
                            that.loading = false;
                        });
                    } else {
                        that.getDashboardInbox().then(() => {
                            that.loading = false;
                        });
                    }
                }
            },
            getTextFilter() {
                switch (this.filter_option) {
                    case "my":
                        return this.messages.SR_045_LBL_MY_CONVERSATION;
                    case "all":
                        return this.messages.SR_045_LBL_ALL_CONVERSATION;
                    default:
                        return ""
                }
            },
            navigateToCandidate(candidate) {
                this.$router.push(`/candidate/${candidate.id}`);
            }
        }
    }
</script>

<style scoped lang="scss">
    $color-1: #30a6d1;

    .inbox-content {
        .position-inbox-candidates {
            background-color: #fff;
            border: 1px solid #dedede;
            border-radius: 0px;
        }
        .position-inbox-candidates ul li {
            padding: 15px;
            border-left: 0;
        }
        .position-inbox-candidates li {
            border-bottom: 1px solid #dedede;
            border-left: 9px solid transparent;
            cursor: pointer;
            padding: 10px 10px 10px 5px;
            transition: background-color .3s ease;
        }
        .position-inbox-candidates li:last-child {
            border-bottom: none;
        }
        .inbox-candidate {
            padding-left: 38px;
            position: relative;
        }
        .inbox-candidate h3 {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
        }
        .inbox-candidate h4 {
            font-size: 12px;
            margin-bottom: 10px;
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 5px;
            color: #84929f;
        }
        .inbox-candidate .v_time_ago_a {
            position: absolute;
            right: 0;
            top: 3px;
            font-size: 12px;
            text-transform: lowercase;
        }
        .position-inbox-candidates {
            background-color: #fff;
            border: 1px solid #dedede;
            border-radius: 0px;
        }
        .conversation-snippet p {
            height: 20px;
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .position-inbox-candidates li .conversation-snippet p {
            border-left: 3px solid #5ac0e5;
            font-size: 12px;
            overflow: hidden;
            padding-left: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .conversation-snippet {
            padding-left: 38px;
            margin-top: 15px;
        }
        .position-inbox-candidates li .conversation-snippet {
            position: relative;
        }
        .conversation-snippet .avatar {
            left: 15px;
            top: 0;
            height: 18px;
            width: 18px;
        }
        .avatar.color1 {
            background-color: $color-1;
        }
        ul, p {
            margin-bottom: 0;
        }
        .v_time_ago_a {
            font-size: 12px;
        }
    }
</style>
