<template>
    <div class="border rounded bg-light p-3 overflow-auto agenda-content">
        <div style="padding: 10px 0">
            <i class="far fa-calendar-alt">&nbsp;&nbsp;</i>
            <span class="font-weight-bold">{{messages.SR_045_LBL_MY_AGENDA}}</span>
        </div>
        <div style="background-color: white; padding: 20px;" v-if="loading">
            <vcl-code></vcl-code>
        </div>
        <div class="no-activity-container ng-scope"
             v-if="!loading && todaysAgenda.length == 0 && tomorrowsAgenda.length == 0">
            <h1><i class="fa fa-calendar-alt"></i></h1>
            <p>{{messages.SR_045_LBL_NO_MEETINGS}}</p>
        </div>

        <div class="flex-scroll" style="flex-grow: 1;overflow: auto" v-if="!loading">
            <ul class="activity-stream">
                <h4 v-if="todaysAgenda.length > 0" class="font-weight-bold">
                    {{messages.SR_045_LBL_TODAY}}
                </h4>
                <li class="activity-container ng-scope"
                    v-for="activity in todaysAgenda" :key="activity.id"  @click="showModalInterview(activity)" style="cursor: pointer">
                        <div class="activity candidate-interview-added interviewAdded"
                             ng-click="openInterview(activity)">
                            <div class="activity-object">
                                <div class="activity-info">
                                    <div class="activity-body">
                                        <p class="title font-weight-bold">{{activity.title}}</p>
                                        <p class="datetime">
                                            <i class="fa fa-clock"></i><span
                                            v-tooltip="{content: messages.SR_045_LBL_START_TIME, class: 'common-tooltip', placement: 'bottom'}" :data-time="activity.start_time">
                                            {{formatDate(activity)}} ({{activity.timezone}})</span>
                                        </p>
                                        <ul class="attendees">
                                            <li class="attendee ng-scope">
                                                <avatar :size="20" :username="activity.candidate.name" :initials="activity.candidate.name.charAt(0).toUpperCase()" :src="activity.candidate.profile_photo_url"
                                                        class="ng-isolate-scope sm avatar color4"></avatar>
                                            </li>
                                            <li class="attendee ng-scope"
                                                v-for="attendee in activity.interviewers" :key="attendee.id">
                                                <avatar :size="20" :username="attendee.name" :initials="attendee.name.charAt(0).toUpperCase()" :src="attendee.photoURL"
                                                        class="ng-isolate-scope sm avatar color4"></avatar>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </li>
                <h4 v-if="tomorrowsAgenda.length > 0" class="font-weight-bold">
                    {{messages.SR_045_LBL_TOMORROW}}
                </h4>
                <li class="activity-container"
                    v-for="activity in tomorrowsAgenda" :key="activity.id" @click="showModalInterview(activity)" style="cursor: pointer">

                    <div class="activity candidate-interview-added interviewAdded ng-scope"
                         ng-click="openInterview(activity)">
                        <div class="activity-object">
                            <div class="activity-info">
                                <div class="activity-body">
                                    <p class="title font-weight-bold">
                                        {{activity.title}}
                                    </p>
                                    <p class="datetime">
                                        <i class="fa fa-clock"></i>
                                        <span v-tooltip="{content: messages.SR_045_LBL_START_TIME, class: 'common-tooltip', placement: 'bottom'}" :data-time="activity.start_time">{{formatDate(activity)}} ({{activity.timezone}})</span>
                                    </p>
                                    <ul class="attendees">
                                        <li class="attendee ng-scope">
                                            <avatar :size="20" :username="activity.candidate.name" :initials="activity.candidate.name.charAt(0).toUpperCase()" :src="activity.candidate.profile_photo_url"
                                                    class="ng-isolate-scope sm avatar color4"></avatar>
                                        </li>
                                        <li class="attendee ng-scope"
                                            v-for="attendee in activity.interviewers" :key="attendee.id">
                                            <avatar :size="20" :username="attendee.name" :initials="attendee.name.charAt(0).toUpperCase()" :src="attendee.photoURL"
                                                    class="ng-isolate-scope sm avatar color4"></avatar>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <interview-detail-modal v-model="visibleModal" :interview="selected_interview"
            v-on:handledModalClose="handleClose"
            v-on:canceledInterview="canceledInterview"></interview-detail-modal>
    </div>
</template>

<script>
    import Avatar from 'vue-avatar';
    import Vue from "vue";
    import {VclCode} from "vue-content-loading";
    import {mapMutations, mapActions, mapGetters} from 'vuex';
    import InterviewDetailModal from "../Calendar/InterviewDetailModal";
    import _ from "lodash";
    import moment from 'moment';
    import {server_time} from "@/firebase";

    export default Vue.extend({
        name: "MyAgendaSection",
        components: {
            Avatar,
            VclCode,
            InterviewDetailModal
        },
        data() {
            return {
                loading: false,
                visibleModal: false,
                selected_interview: {}
            }
        },
        computed: {
            ...mapGetters([
                'mySchedules',
            ]),
            todaysAgenda() {
                return _.orderBy(_.filter(this.mySchedules, (item) => {
                    return moment(item.start_time).format("YYYY-MM-DD") == moment(server_time.now).format("YYYY-MM-DD");
                }), 'start_time');
            },
            tomorrowsAgenda() {
                return _.orderBy(_.filter(this.mySchedules, (item) => {
                    return moment(item.start_time).format("YYYY-MM-DD") == moment(server_time.now).add(1, 'days').format("YYYY-MM-DD");
                }), 'start_time');
            }
        },
        mounted() {
            this.getMyInterview()
        },
        methods: {
            ...mapActions([
                'getMySchedules',
            ]),
            getMyInterview() {
                this.loading = true;
                this.getMySchedules().then(() => {
                    this.loading = false;
                });
            },
            formatDate(activity) {
                return moment(activity.start_time).format("hh:mm A");
            },
            showModalInterview(activity) {
                this.visibleModal = true;
                this.selected_interview = activity;
            },
            handleClose() {
                this.visibleModal = false;
                this.selected_interview = {};
            },
            canceledInterview() {
                this.getMyInterview()
            }
        }
    })
</script>

<style scoped lang="scss">
    .agenda-content {
        .activity-stream h4:first-child {
            margin-top: 0;
        }
        .activity-stream .activity-container {
            margin-bottom: 10px;
        }
        .activity-stream .activity:last-child {
            margin-bottom: 0;
        }
        .activity-stream .activity {
            padding: 0;
            margin-bottom: 10px;
            cursor: pointer;
        }
        .activity-stream .activity-body .title {
            font-size: 16px;
        }
        .activity .activity-info .activity-body p {
            font-size: 14px;
            word-break: break-word;
        }
        .activity.candidate-interview-added .title, .activity.candidate-interview-canceled .title {
            font-weight: 400;
            margin-bottom: 2px;
        }
        .activity.candidate-interview-added .datetime, .activity.candidate-interview-canceled .datetime {
            font-size: 12px !important;
            color: #84929f;
        }
        .activity.candidate-interview-added .datetime i, .activity.candidate-interview-canceled .datetime i {
            margin-right: 5px;
        }
        ul {
            margin-bottom: 0;
        }
        .activity.candidate-interview-added .attendees .attendee {
            display: inline-block;
            margin-top: 5px;
        }
        .activity-stream h4 {
            font-weight: 400;
            margin-bottom: 10px;
            margin-top: 20px;
            font-size: 12px;
        }
        .activity .activity-info {
            margin-left: 0;
            border-left: none;
        }
        .activity.candidate-interview-added .activity-body, .activity.candidate-interview-canceled .activity-body {
            margin-top: 5px;
            border-left: none;
            padding-left: 0px;
        }
        p {
            margin-bottom: 0;
        }

    }
</style>
