<template>
    <div class="flex-grow-1 overflow-auto bg-light rounded border mt-2 p-3">
        <div style="padding: 10px 0;">
            <i class="fas fa-check-square">&nbsp;&nbsp;</i>
            <span class="font-weight-bold">{{messages.SR_045_LBL_MY_TASKS}}</span>
        </div>
        <div style="background-color: white; padding: 20px;" v-if="loading">
            <vcl-code></vcl-code>
        </div>
        <div class="no-activity-container ng-scope" v-if="!loading && myTasks.length == 0">
            <h1><i class="fa fa-check-square"></i></h1>
            <p>{{messages.SR_045_LBL_NO_TASKS}}</p>
        </div>
        <div class="border bg-white tasks-content" v-if="!loading && myTasks.length > 0">
            <ul class="activity-stream task-list mb-0">
                <task-list-item v-for="(task, idx) in orderedTasks" :task="task" :key="idx"></task-list-item>
            </ul>
        </div>
    </div>
</template>

<script>
    import TaskListItem from "../tasks/TaskListItem.vue";
    import {VclCode} from "vue-content-loading";
    import {mapGetters, mapActions} from "vuex";
    import _ from "lodash";

    export default {
        name: "MyTaskSection",
        components: {
            TaskListItem,
            VclCode
        },
        data() {
            return {
                loading: false
            }
        },
        computed: {
            ...mapGetters([
                'myTasks',
                'currentCompany',
                'currentUser',
            ]),
            orderedTasks() {
                return _.sortBy(this.myTasks, ['_deadline']);
            }
        },
        mounted() {
            this.loading = true;
            this.getMyTasks().then(() => {
                this.loading = false;
            })
        },
        methods: {
            ...mapActions([
                'getMyTasks',
            ])
        }
    }
</script>

<style lang="scss">
    .home .tasks-content .task-list:last-child {
        border-bottom: none;

        .home .tasks-content .task-list {
            border-top: none;
            margin-bottom: 0;
        }
    }

    .tasks-content {
        background-color: #f9fafa;
        border-radius: 4px;
        overflow: auto;
        -ms-overflow-style: scrollbar;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);

        .task-list {
            background-color: #fff;
            border-bottom: 1px solid #dedede;
            border-radius: 4px;
            margin-bottom: 0;
            overflow: hidden;

            .task .activity-info .activity-body p {
                margin-bottom: 0;
            }

            .activity-container {
                border-bottom: 1px solid #dedede;

                cursor: pointer;
                margin-bottom: 0;
            }

            .activity-container:last-child {
                border-bottom: none;
            }

            .task {
                padding: 10px 5px;
                transition: .3s;
            }

            .activity-type {
                transition: .3s;
                cursor: pointer;
            }

            .activity .activity-type {
                position: relative;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                top: 3px;
                background: #fff;
                font-size: 14px;
                float: left;
                margin-right: 10px;
                border: 2px solid #dedede;
                z-index: 300;
                left: 3px;
            }

            .task .activity-type i {
                right: 5.2px;
            }
        }

        .task-overdue .task .activity-type {
            border-color: #e79195;
        }

        .task-overdue .task .activity-type i {
            color: #e79195;
        }

        .task-today .task .activity-type {
            border-color: #f5e49f;
        }

        .task-today .task .activity-type i {
            color: #f5e49f;
        }

        .task-list .task.inactive .activity-type i.active {
            display: none !important;
        }

        .task-list .task .activity-info {
            margin-left: 36px;
        }

        .task-list .task .actions {
            margin-bottom: 4px;
        }

        .task-list .task .actions .action {
            color: #84929f;
            display: inline-block;
            font-size: 12px;
            margin-right: 10px;
        }

        .task-list .task .datetime {
            font-size: 12px;
        }

        .task-list .task.inactive .activity-type i.active {
            display: none !important;
        }

        .task-list .task .datetime i {
            margin-right: 5px;
        }

        .task-list .task .activity-type:hover {
            background-color: #76d691;
            border-color: #76d691 !important;
            color: #fff;
        }

        .task .activity-type:hover i {
            color: #fff !important;
        }
    }

    .activity .activity-type i {
        position: absolute;
        right: 6px;
        top: 5px;
        font-size: 10px;
    }

    .activity.task .activity-body .title {
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 4px;
    }

    .activity .activity-info .activity-body p {
        font-size: 14px;
        word-break: break-word;
    }

    .activity.task .activity-body .datetime {
        font-size: 10px;
        text-transform: initial !important;
    }
</style>
