<template>
    <div class="border rounded bg-light p-3" style="height: 100%">
        <div class="dropdown" style="padding: 10px 0px;">
            <button
                class="dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                style="background: none;border: none">
                <i class="fas fa-briefcase">&nbsp;</i>
                <span class="font-weight-bold">{{createdBy? messages.SR_045_LBL_MY_POSITIONS: messages.SR_045_LBL_ALL_POSITIONS}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" v-if="$can('admin', {company_id: currentCompany.id})" href="javascript:void(0)" @click="changeFilter(null)">{{messages.SR_045_LBL_ALL_POSITIONS}}</a>
                <a class="dropdown-item" href="javascript:void(0)" @click="changeFilter(currentUser.id)">{{messages.SR_045_LBL_MY_POSITIONS}}</a>
            </div>
        </div>

        <div style="background-color: white; padding: 20px;" v-if="loading">
            <vcl-code></vcl-code>
        </div>

        <div class="no-activity-container ng-scope" v-if="!loading && dashboardPositions.length == 0">
            <h1><i class="fa fa-briefcase"></i></h1>
            <p>{{messages.SR_045_LBL_NO_POSITIONS}}</p>
        </div>
        <div class="d-flex flex-column overflow-auto" v-if="!loading && dashboardPositions.length > 0">
            <div class="block-position" v-for="(position, idx) in positions" :key="idx">
                <position-item :position="position"/>
            </div>
        </div>
    </div>
</template>

<script>
    import {VclCode} from "vue-content-loading";
    import PositionItem from "@/components/Position/PositionItem.vue";
    import {mapGetters, mapActions, mapState} from "vuex";
    import _ from "lodash";

    export default {
        name: "PositionSection",
        components: {
            VclCode,
            PositionItem
        },
        data() {
            return {
                loading: false,
                createdBy: this.$can('admin', {company_id: this.$store.getters.currentCompany.id}) ? null : this.$store.getters.currentUser.id,
            }
        },
        computed: {
            ...mapGetters([
                'currentCompany',
                'currentUser',
                'dashboardPositions',
                'unsubscribePositionDashboard'
            ]),
            positions() {
                return _.orderBy(this.dashboardPositions, ['last_view_date','status'], ['desc', 'desc'])
            }
        },
        mounted() {
            let that = this;
            that.loading = true;
            that.getDashboardPositions({
                company_id: that.currentCompany.id,
                createdBy: that.createdBy
            }).then(() => {
                that.loading = false;
            })
        },
        methods: {
            ...mapActions([
                'getDashboardPositions',
            ]),
            changeFilter(value) {
                let that = this;
                if (value != that.createdBy) {
                    that.createdBy = value;
                    this.loading = true;
                    that.getDashboardPositions({
                        company_id: that.currentCompany.id,
                        createdBy: that.createdBy
                    }).then(() => {
                        this.loading = false;
                    })
                }
            },
        },
        destroyed() {
            let that = this;
            if (that.unsubscribePositionDashboard) {
                that.unsubscribePositionDashboard();
            }
        }

    }
</script>

<style scoped>
    .block-position:last-child {
        border-bottom: 1px solid #dedede;
    }
</style>
