<template>
    <div>
        <ul>
            <li :key="question.id" v-for="question in questions" class="question" style="margin-bottom: 30px">
                <div v-if="question.response_type.value == 'text' || !question.response_type.value">
                    <h2>
                        <span>{{question.name}}</span>
                        <span v-if="question.required == true" class="required">*</span>
                    </h2>
                    <div v-if="question.description" class="question-body">
                        <p class="description_question">{{question.description}}</p>
                    </div>
                    <input v-model="question.response"
                           :class="!checkValidateRequire(question) && validate_form?'error':''"
                           type="text"
                           placeholder="">
                    <div class="error-container">
                        <span v-show="!checkValidateRequire(question) && validate_form" style="color: #cc0000!important;">{{$cjpmessages.SR_048_MGS_ERR_VALIDATE}}</span>
                    </div>
                </div>

                <div v-if="question.response_type.value == 'paragraph'">
                    <h2>
                        <span>{{question.name}}</span>
                        <span v-if="question.required == true" class="required">*</span>
                    </h2>
                    <div v-if="question.description" class="question-body">
                        <p class="description_question">{{question.description}}</p>
                    </div>
                    <textarea style="width: 100%;height: 200px" v-model="question.response" placeholder="" :class="!checkValidateRequire(question) && validate_form?'error':''"></textarea>
                    <div class="error-container">
                        <span v-show="!checkValidateRequire(question) && validate_form" style="color: #cc0000!important;">{{$cjpmessages.SR_048_MGS_ERR_VALIDATE}}</span>
                    </div>
                </div>

                <div v-if="question.response_type.value == 'multiplechoice'" class="multiplechoice">
                    <h2>
                        <span>{{question.name}}</span>
                        <span v-if="question.required == true" class="required">*</span>
                    </h2>
                    <div v-if="question.description" class="question-body">
                        <p class="description_question">{{question.description}}</p>
                    </div>
                    <ul class="options">
                        <li :key="idx" v-for="(opt,idx) in question.options" class="option">
                            <input class="mr-2" type="radio" v-model="question.response" :value="opt.text" :id="question.id + idx">
                            <label :for="question.id + idx">{{opt.text}}</label>
                        </li>
                    </ul>
                    <div class="error-container">
                        <span v-show="!checkValidateRequire(question) && validate_form" style="color: #cc0000!important;" >{{$cjpmessages.SR_048_MGS_ERR_VALIDATE}}</span>
                    </div>
                </div>

                <div v-if="question.response_type.value == 'dropdownlist'" class="dropdown">
                    <h2>
                        <span>{{question.name}}</span>
                        <span v-if="question.required" class="required">*</span>
                    </h2>
                    <div v-if="question.description" class="question-body">
                        <p class="description_question">{{question.description}}</p>
                    </div>
                    <div class="dropdown-container">
                        <div class="select-wrapper">
                            <select v-model="question.response" class="options-dropdown">
                                <option :value="opt.text" :key="idx" v-for="(opt,idx) in question.options">{{opt.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="error-container">
                        <span v-show="!checkValidateRequire(question) && validate_form" style="color: #cc0000!important;">{{$cjpmessages.SR_048_MGS_ERR_VALIDATE}}</span>
                    </div>
                </div>

                <div v-if="question.response_type.value == 'checkboxes'">
                    <h2>
                        <span>{{question.name}}</span>
                        <span v-if="question.required == true" class="required">*</span>
                    </h2>
                    <div v-if="question.description" class="question-body">
                        <p class="description_question">{{question.description}}</p>
                    </div>
                    <ul class="options">
                        <li :key="idx" v-for="(opt,idx) in question.options" class="option">
                            <div class="form-group form-check">
                                <input class="form-check-input" type="checkbox" v-model="question.responses[idx]" :id="question.id + idx">
                                <label class="form-check-label" :for="question.id + idx">{{opt.text}}</label>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <span v-show="!checkValidateRequire(question) && validate_form" style="color: #cc0000!important;">{{$cjpmessages.SR_048_MGS_ERR_VALIDATE}}</span>
                    </div>
                </div>

                <div v-if="question.response_type.value == 'fileattachment'">
                    <h2>
                        <span>{{question.name}}</span>
                        <span v-if="question.required == true" class="required">*</span>
                    </h2>
                    <div v-if="question.description" class="question-body">
                        <p class="description_question">{{question.description}}</p>
                    </div>
                    <div class="file-input-container type">
                        <a style="cursor: pointer;font-size: 14px;color: #cc0000!important;" @click="showQuestionnaireFileSelector(question)" v-if="!question.response.file_name">
                            <span class="mr-2">{{$cjpmessages.SR_048_UPLOAD_FILE}}</span>
                            <i v-if="uploading" class="fas fa-sync-alt fa-spin"></i>
                        </a>
                        <a style="cursor: pointer;font-size: 14px;color: #cc0000!important;" @click="showQuestionnaireFileSelector(question)" v-if="question.response.file_name">
                            <span class="mr-2">{{$cjpmessages.SR_048_ATTACHED}}: {{question.response.file_name}}</span>
                            <i v-if="uploading" class="fas fa-sync-alt fa-spin"></i>
                        </a>
                        <input :ref="'inputFileQuestion' + question.id"
                               type="file" style="display:none "
                               @change="onQuestionnaireFileSelect($event.target.files, question)"
                               accept=".abw, .djvu, .doc, .docm, .docx, .html, .lwp, .md, .odt, .pages, .zip, .rar, .pdf, .rst, .rtf, .sdw, .tex, .txt, .wpd, .wps, .zabw, .png, .jpg, .gif, .jpeg, .xls, .xlsx, .ppt, .pptx, .sldx" class="attachment">
                        <div class="error-container">
                            <span v-show="!checkValidateRequire(question) && validate_form" style="color: #cc0000!important;">{{$cjpmessages.SR_048_MGS_ERR_VALIDATE_FILE}}</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue'
    import {mapActions, mapGetters} from 'vuex';
    import {fstorage, server_time} from '@/firebase';
    import _ from 'lodash'

    export default Vue.extend({
        name: "QuestionnairePositionApplyComponent",
        props: {
            validate_form: {
                type: Boolean,
                default: false,
            },
            currentPositionView: {
                type: Object,
                default: null,
            },
            currentCompanyLandingPage: {
                type: Object,
                default: null,
            }
        },
        watch: {
            questions: {
                handler(val, oldval) {
                   this.$emit('input', val);
                }, deep: true

            },
        },
        data() {
            return {
                questions: [],
                upload: {} as firebase.storage.UploadTask,
                files: {},
                validate_questions: false,
                uploading: false
            }
        },
        mounted(): void {
            let that = this as any;
            that.getQuestionsLandingPage({questionnaire_id:that.currentPositionView.questionnaire_id,company_id:that.currentCompanyLandingPage.id}).then((questions) => {
                let objs = [], obj;
                _.orderBy(questions, 'order').forEach((q) => {
                    obj = q.cloneNewObject();
                    if (obj.response_type.value == "checkboxes") {
                        obj.responses = []
                    } else if (obj.response_type.value == "fileattachment") {
                        obj.response = {
                            "file_name": "",
                            "url": "",
                        }
                    }else {
                        obj.response = null;
                    }
                    objs.push(obj);
                });
                that.questions = objs;
            })
        },
        computed: {
            ...mapGetters([
                'currentQuestionsLandingPage'
            ]),
        },
        methods: {
            ...mapActions([
                'getQuestionsLandingPage'
            ]),
            onQuestionnaireFileSelect(file,question){
                let _file = file[0];
                let fileInput = `inputFileQuestion${question.id}`;
                let file_name = Math.random().toString(36).substring(7) + _file.name;
                let file_size = _file.size / 1024 / 1024;
                let that = this as any;
                if(file_size > 20){
                    that.$refs[fileInput][0]['value'] = null;
                    alert("Kích thước các tập tin không vượt quá 20MB!");
                    return;
                }
                that.uploading = true;
                that.upload = fstorage.ref('questionnaire/documents/' + file_name).put(_file);
                that.upload.on('state_changed', sp => {},
                    null,
                    () => {
                        that.upload.snapshot.ref.getDownloadURL().then(downloadURL => {
                            question.response.file_name =_file.name;
                            question.response.url = downloadURL;
                            that.uploading = false;
                            that.$refs[fileInput][0]['value'] = null;
                        });
                    })
            },
            showQuestionnaireFileSelector(question){
                let fileInput = `inputFileQuestion${question.id}`;
                this.$refs[fileInput][0].click()
            },
            checkValidateRequire(question){
                if(question.required == true){
                    switch (question.response_type.value) {
                        case 'checkboxes':
                            return question.responses.indexOf(true) != -1 ? true : false
                            break
                        case 'fileattachment':
                            return question.response.file_name ? true : false
                            break
                        case 'dropdownlist':
                            return question.response ? true : false
                            break
                        case 'multiplechoice':
                            return question.response ? true : false
                            break
                        case 'paragraph':
                            return question.response ? true : false
                            break
                        case 'text':
                            return question.response ? true : false
                            break
                        default :
                            //not thing
                            break
                    }
                }
                return true
            },
            isValidateQuestions(questionnaire){
                let that = this as any;
                let is_valid = true;
                questionnaire.forEach((q)=>{
                    if(that.checkValidateRequire(q) === false) {
                        is_valid = false;
                    }
                });
                return is_valid;
            },
            checkresponse(questionnaire){
                let that = this as any;
                let is_response = false;
                questionnaire.forEach((q)=>{
                    switch (q.response_type.value) {
                        case 'checkboxes':
                            is_response = is_response || q.responses.indexOf(true) != -1 ? true : false
                            break
                        case 'fileattachment':
                            is_response = is_response || q.response.file_name ? true : false
                            break
                        default :
                            is_response = is_response || q.response ? true : false
                            break
                    }
                });
                return is_response
            }
        }
    })
</script>

<style lang="scss" scoped>
    .description_question {
        white-space: pre-line;
    }
    .options-dropdown {
        height: 35px;
        width: 30%;
        min-width: 30%;
        max-width: 100%;
        border: 2px solid #edeff0;
        background: #fff;
        font-size: 14px;
        font-weight: 300;
        border-radius: 4px;
        }
</style>
