<template>
    <div class="portal-wrapper container">
        <div>
            <h2 class="company-name">
                <router-link :to="{name:'LandingPageHome'}" class="back">
                    <i class="fa fa-arrow-left"></i>
                    <span> {{currentPositionView.title}}</span>
                </router-link>
            </h2>
        </div>
        <div v-if="Object.keys(candidate).length >0" class="content-container polygot-parent">
            <div class="container application-form">
                <div class="container-wrapper">
                    <div class="application-container">
                        <form name="form" class="ng-pristine ng-invalid ng-invalid-required" @submit.prevent="apply">
                            <div class="section">
                                <div class="section-header">
                                    <h2 class="polygot">{{$cjpmessages.SR_048_FORM_TITLE}}</h2>
                                </div>
<!--                                <h3>-->
<!--                                    <span class="polygot">{{$cjpmessages.SR_048_FORM_LABLE_NAME}}</span>-->
<!--                                    <span title="Required" class="required">*</span>-->
<!--                                </h3>-->
                                <input name="cName"
                                       v-model.trim="candidate.name"
                                       v-validate="{ required: true }"
                                       type="text"
                                       :placeholder="$cjpmessages.SR_048_FORM_PLACEHODER_NAME"
                                       :class="errors.has('cName')?'error':''"
                                       class="name polygot ng-pristine ng-invalid ng-invalid-required placeholder">
                                <div ng-show="formSubmitted" class="error-container ng-hide">
                                    <span v-show="errors.has('cName')" class="error polygot">{{$cjpmessages.SR_048_FORM_MESSAGE_ERROR_NAME}}</span>
                                </div>
                                <div class="form-divider"></div>
                                <div class="email-field " :class="validate_form ?'block-field':'inline-field'">
                                    <input name="cEmail"
                                           v-model.trim="candidate.email_address"
                                           v-validate="'required|email'"
                                           type="text"
                                           :class="errors.has('cEmail') && validate_form ?'error':''"
                                           :placeholder="$cjpmessages.SR_048_FORM_PLACEHODER_EMAIL"
                                           class="email-address polygot ng-pristine ng-invalid ng-invalid-required ng-valid-email placeholder">
                                    <div ng-show="formSubmitted"
                                         class="error-container ng-hide">
                                        <span v-show="errors.has('cEmail') && validate_form" class="error polygot">{{$cjpmessages.SR_048_FORM_MESSAGE_ERROR_EMAIL}}</span>
                                    </div>
                                    <div class="form-divider"></div>
                                </div>
                                <div v-if="checkshow('phone')" :class="validate_form?'block-field':'inline-field'">
<!--                                    <h3>-->
<!--                                        <span class="polygot">Phone Number</span>-->
<!--                                        <span v-show="checkRequire('phone')" title="Required" class="required">*</span>-->
<!--                                    </h3>-->
                                    <input name="cPhoneNumber"
                                           v-model.trim="candidate.phone_number"
                                           type="text"
                                           :placeholder="$cjpmessages.SR_048_FORM_PLACEHODER_PHONE"
                                           :class="errors.has('cPhoneNumber')&& validate_form?'error':''"
                                           v-validate="{ required: checkRequire('phone') }"
                                           class="phone-number polygot ng-pristine ng-valid placeholder">
                                    <div v-show="errors.has('cPhoneNumber') && validate_form" class="error-container ng-hide">
                                        <span class="error polygot ng-hide">{{$cjpmessages.SR_048_FORM_MESSAGE_ERROR_PHONE}}</span>
                                    </div>
                                    <div class="form-divider"></div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="section">
                                    <div v-if="checkshow('work_history')">
                                        <div class="section-header">
                                            <h2 class="polygot">{{$cjpmessages.SR_048_FORM_MESSAGE_LABLE_EXPERIENCE}}</h2>
                                        </div>
<!--                                    <input type="hidden" id="work_required" value="optional">-->
                                        <div class="section-header">
                                            <h3>
                                                <span class="polygot">{{$cjpmessages.SR_048_FORM_MESSAGE_LABLE_WORK_HISTORY}}</span>
                                                <span title="Required" v-show="checkRequire('work_history')" class=" required">*</span>
                                            </h3>
                                        </div>
                                        <ul class="breadcrumbs">
                                            <!-- ngRepeat: candidatePosition in candidate.work_history -->
                                            <li :key="index" v-for="(candidatePosition, index) in candidate.work_history" class="experience ng-scope">
                                                <input v-model.trim="candidatePosition.company_name"
                                                       type="text"
                                                       :placeholder="$cjpmessages.SR_048_FORM_PLACEHODER_COMPANY"
                                                       name="cWorkHistory"
                                                       v-validate="{ required: checkRequire('work_history') }"
                                                       class="polygot ng-pristine ng-valid placeholder">
                                                <div class="form-divider"></div>
                                                <input v-model.trim="candidatePosition.title"
                                                       type="text"
                                                       :placeholder="$cjpmessages.SR_048_FORM_PLACEHODER_COMPANY_TITLE"
                                                       name="cWorkHistory"
                                                       v-validate="{ required: checkRequire('work_history') }"
                                                       class="polygot ng-pristine ng-valid placeholder">
                                                <div class="form-divider"></div>
                                                <textarea msd-elastic=""
                                                      v-model.trim="candidatePosition.summary"
                                                      :placeholder="$cjpmessages.SR_048_FORM_PLACEHODER_COMPANY_SUMMARY"
                                                      class="polygot summary ng-pristine ng-valid placeholder">
                                                </textarea>
                                                <div class="form-divider"></div>
                                                <a @click="deleteWorkStory(index)" class="blue bzyLinkColor polygot">{{$cjpmessages.SR_048_FORM_BTN_DEL}}</a>
                                                <div class="form-divider"></div>
                                            </li><!-- end ngRepeat: candidatePosition in candidate.work_history -->
                                        </ul>
                                        <div class="section-footer">
                                            <ul class="breadcrumbs">
                                                <li>
                                                    <a @click="addWorkStory()" class="blue bzyLinkColor">
                                                        <i class="fa fa-plus"></i>
                                                        <span> </span>
                                                        <span class="polygot">{{$cjpmessages.SR_048_FORM_BTN_ADD_POSITION}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div v-show="(errors.has('cWorkHistory') || check_work_history) && validate_form" class="error-container ">
                                            <span class="error polygot">{{$cjpmessages.SR_048_FORM_MESSAGE_ERROR_RESPONSE}}</span>
                                        </div>
                                    </div>

                                    <div v-if="checkshow('education')">
                                        <div class="form-divider"></div>
                                        <input type="hidden" id="education_required" value="optional">
                                        <div class="section-header">
                                            <h3>
                                                <span class="polygot">{{$cjpmessages.SR_048_FORM_LABLE_EDUCATION}}</span>
                                                <span title="Required" v-show="checkRequire('education')" class="required">*</span>
                                            </h3>
                                        </div>
                                        <ul class="breadcrumbs">
                                            <!-- ngRepeat: candidateSchool in candidate.education -->
                                            <li :key="index" v-for="(candidateSchool,index) in candidate.education"
                                                class="experience ng-scope">
                                                <input v-model.trim="candidateSchool.school_name"
                                                       type="text"
                                                       :placeholder="$cjpmessages.SR_048_FORM_PLACEHODER_SCHOOL"
                                                       name="cEducation"
                                                       v-validate="{ required: checkRequire('education') }"
                                                       class="polygot ng-pristine ng-valid placeholder">
                                                <div class="form-divider"></div>
                                                <input v-model.trim="candidateSchool.field_of_study"
                                                       type="text"
                                                       :placeholder="$cjpmessages.SR_048_FORM_PLACEHODER_SCHOOL_FIELD"
                                                       name="cEducation"
                                                       v-validate="{ required: checkRequire('education') }"
                                                       class="polygot ng-pristine ng-valid placeholder">
                                                <div class="form-divider"></div>
                                                <textarea v-model.trim="candidateSchool.summary"
                                                         :placeholder="$cjpmessages.SR_048_FORM_PLACEHODER_SCHOOL_SUMMARY"
                                                          class="ng-pristine summary ng-valid placeholder">
                                                </textarea>
                                                <div class="form-divider"></div>
                                                <a @click="deleteEducation(index)"
                                                   class="blue bzyLinkColor polygot">{{$cjpmessages.SR_048_FORM_BTN_DEL}}</a>
                                                <div class="form-divider"></div>
                                            </li>
                                            <!-- end ngRepeat: candidateSchool in candidate.education -->
                                        </ul>
                                        <div class="section-footer">
                                            <ul class="breadcrumbs">
                                                <li>
                                                    <a @click="addEducation()"
                                                       class="blue bzyLinkColor">
                                                        <i class="fa fa-plus"></i>
                                                        <span> </span>
                                                        <span class="polygot">{{$cjpmessages.SR_048_FORM_BTN_ADD_EDUCATION}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div v-show="(errors.has('cEducation') || check_education) && validate_form" class="error-container ng-hide">
                                            <span class="error-container error polygot ng-hide">{{$cjpmessages.SR_048_FORM_MESSAGE_ERROR_RESPONSE}}
                                            </span>
                                        </div>
                                        <div class="form-divider"></div>
                                    </div>
                                    <div v-if="checkshow('experience')">
                                        <div class="section-header">
                                            <h3>
                                                <span class="polygot">{{$cjpmessages.SR_048_FORM_LABLE_EXP_SUMMARY}}</span>
                                                <span title="Required" v-show="checkRequire('experience')" class="required">*</span>
                                            </h3>
                                        </div>
                                        <textarea v-model.trim="candidate.summary"
                                                  placeholder=""
                                                  name="cExperience"
                                                  v-validate="{ required: checkRequire('experience') }"
                                                  :class="errors.has('cExperience') && validate_form?'error':''"
                                                  class="description ng-pristine ng-valid placeholder">
                                        </textarea>
                                        <div v-show="errors.has('cExperience') && validate_form" class="error-container">
                                            <span class="error polygot ng-hide">{{$cjpmessages.SR_048_FORM_MESSAGE_ERROR_EXP_SUMMARY}}</span>
                                        </div>
                                        <div class="form-divider"></div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="checkshow('resume')">
                                <div class="section-header">
                                    <h3>
                                        <span class="polygot">{{$cjpmessages.SR_048_FORM_LABLE_RESUME}}</span>
                                        <span v-show="checkRequire('resume')"
                                              title="Required"
                                              class="required">*</span>
                                    </h3>
                                </div>
<!--                            <input type="hidden" id="resume_required" value="optional">-->
                                <div class="file-input-container type">
                                    <!-- ngIf: candidate.resume.file_name -->
                                    <!-- ngIf: !candidate.resume.file_name -->
                                    <ul class="breadcrumbs">
                                        <li>
                                            <a
                                               @click="$refs.uploadFileResume.click()"
                                               v-if="!candidate.resume.file_name"
                                               class="placeholder bzyLinkColor ng-scope">
                                                <span class="polygot">{{$cjpmessages.SR_048_FORM_BTN_UPLOAD_RESUME}}</span>
                                                <span> </span><!-- ngIf: uploading -->
                                            </a>
                                            <a @click="$refs.uploadFileResume.click()"
                                               v-if="candidate.resume.file_name" class="bzyLinkColor ng-scope">
                                                <span class="fa fa-paperclip"></span>
                                                <span> </span>
                                                <span class="ng-binding">{{candidate.resume.file_name}}</span></a>
                                        </li>
                                    </ul>
                                    <!-- end ngIf: !candidate.resume.file_name -->
                                    <input id="main-attachment"
                                           name="cResume"
                                           ref="uploadFileResume"
                                           @change="showFileSelector($event.target.files)"
                                           style="display:none;" type="file"
                                           accept=".pdf, .doc, .docx, .txt, .rtf, .pages"
                                           class="attachment">
                                    <div v-show="checkRequire('resume') && !candidate.resume.file_name && validate_form" class="error-container ng-hide">
                                        <span class="error polygot ng-hide">{{$cjpmessages.SR_048_FORM_MESSAGE_ERROR_RESUME}}</span>
                                    </div>
                                </div>
                                <div class="form-divider"></div>
                            </div>
                            <div v-if="checkshow('cover_letter')">
                                <div class="section">
                                    <div class="section-header">
                                        <h3>
                                            <span class="polygot">{{$cjpmessages.SR_048_FORM_LABLE_COVER_LETTER}}</span>
                                            <span v-show="checkRequire('cover_letter')" title="Required" class="required ng-hide">*</span>
                                        </h3>
                                    </div>
                                    <textarea name="cCoverLetter"
                                              v-model.trim="candidate.cover_letter"
                                              placeholder=""
                                              :class="errors.has('cCoverLetter') && validate_form?'error':''"
                                              v-validate="{ required: checkRequire('cover_letter') }"
                                              class="description ng-pristine ng-valid placeholder">
                                    </textarea>
                                    <div v-show="errors.has('cCoverLetter') && validate_form" class="error-container ng-hide">
                                        <span class="error ng-hide">{{$cjpmessages.SR_048_FORM_MESSAGE_ERROR_COVER_LETTER}}</span>
                                    </div>
                                </div>
                            </div>
                            <div v-show="currentPositionView.questionnaire_id" style="margin-top: 30px">
                                <QuestionnairePositionApplyComponent
                                    ref="validateQuestions"
                                    v-model="questionnaire"
                                    :validate_form="validate_form"
                                    :currentPositionView="currentPositionView"
                                    :currentCompanyLandingPage="currentCompanyLandingPage">
                                </QuestionnairePositionApplyComponent>
                            </div>
                            <div class="apply-container">
                                <ul class="apply-buttons">
                                    <li class="apply-button">
                                        <button type="button" disabled="disabled" v-if="loading_sumbmit" class="button large bzyButtonColor">
                                            <i class="fas fa-spin fa-sync-alt"></i>
                                        </button>
                                        <button v-else type="submit" class="button large bzyButtonColor">
                                            <i class="fa fa-refresh fa-spin"></i>
                                            <span class="polygot">{{$cjpmessages.SR_048_FORM_BTN_SUBMIT_APPLY}}</span>
                                        </button>
                                    </li>
                                </ul>
                                <div v-show="validate_field && validate_form" class="ng-hide error-container">
                                    <span class="error polygot">{{$cjpmessages.SR_048_FORM_MESSAGE_ERROR_FORM}}</span>
                                </div>
                                <div v-if="emai_existed && validate_form" class="error-container ng-scope">
                                    <span class="error ng-binding">{{$cjpmessages.SR_048_FORM_MESSAGE_ERROR_APPLIED}}</span>
                                </div>
                                <!-- ngIf: errorMessage -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import Vue from 'vue'
    import {mapActions, mapGetters} from 'vuex';
    import {fauth, fstorage} from '@/firebase';
    import Candidate from "@/models/Candidate";
    import _ from 'lodash'
    import VeeValidate from 'vee-validate';
    import PipelineStage from '@/models/PipelineStage.ts';
    import PipelineReport from '@/models/PipelineReport.ts'
    import Pipeline from '@/models/Pipeline.ts'
    import Activity from "@/models/Activity";
    import {messages} from "@/messages";
    import QuestionnairePositionApplyComponent from "../../LandingPage/ApplyPositionComponent/QuestionnairePositionApplyComponent.vue";
    import CandidateQuestionnaire from "@/models/CandidateQuestionnaire";
    import Questionnaire from "@/models/Questionnaire"
    Vue.use(VeeValidate);
    export default {
        name: "SimpleApplyComponent",
         components: {
            QuestionnairePositionApplyComponent
        },
        data(){
            return {
                candidate:{},
                new_position_history:{
                    "company_name":  "",
                    "title": "",
                    "summary":  "",
                    "is_current": true,
                    "start_date": {
                        "month":  "",
                        "year":  ""
                    },
                    "end_date": {
                        "month":  "",
                        "year":  ""
                    }
                },
                new_education:{
                    school_name:'',
                    field_of_study:'',
                    summary:''

                },
                validate_field:false,
                check_education:false,
                check_work_history:false,
                loading_sumbmit : false,
                validate_form:false,
                emai_existed: false,
                validate_quesition: false,
                questionnaire: [],
            }
        },
        computed:{
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'currentDepartmentsLandingPage',
                'currentLocationsLandingPage',
                'currentPositionView',
                'convertLinkToEmbedLink',
                'currentCandidateLandingPage'

            ]),
        },
        mounted(){

        },
        watch:{
            currentCandidateLandingPage:{
                handler(val,oldval){
                    this.candidate = JSON.parse(JSON.stringify(val))
                }, deep: true
            },
            candidate:{
                handler(val,oldval){
                    let position_id = this.$route.params['position_id']
                    let candidate_str = JSON.stringify(val)
                    localStorage.setItem(position_id,candidate_str)
                },deep: true
            }
        },
        methods:{
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage',
                'checkCurrentNamePage',
                'setPositionView',
                'validateUrlResume',
                'sendEmailManagerPosition'
            ]),
            checkRequire(field_require){
                switch (field_require) {
                    case 'work_history':
                        return this.currentPositionView.application_form.workhistory == 0
                        break
                    case 'education':
                        return  this.currentPositionView.application_form.education == 0
                        break
                    case 'experience':
                        return  this.currentPositionView.application_form.experience == 0
                        break
                    case 'resume':
                        return  this.currentPositionView.application_form.resume == 0
                        break
                    case 'cover_letter':
                        return  this.currentPositionView.application_form.coverletter == 0
                        break
                    case 'phone':
                        return  this.currentPositionView.application_form.phone == 0
                    default :
                        // notthing
                        break
                }
            },
            checkshow(field_show){
                switch (field_show) {
                    case 'work_history':
                        return this.currentPositionView.application_form.workhistory == 2 ? false: true
                        break
                    case 'education':
                        return  this.currentPositionView.application_form.education == 2 ? false: true
                        break
                    case 'experience':
                        return  this.currentPositionView.application_form.experience == 2 ? false: true
                        break
                    case 'resume':
                        return  this.currentPositionView.application_form.resume == 2 ? false: true
                        break
                    case 'cover_letter':
                        return  this.currentPositionView.application_form.coverletter == 2 ? false: true
                        break
                    case 'phone':
                        return  this.currentPositionView.application_form.phone == 2 ? false: true
                    default :
                        // notthing
                        break
                }
            },
            addWorkStory(){
                let new_position = _.cloneDeep(this.new_position_history)
                this.candidate.work_history.push(new_position)
            },
            deleteWorkStory(index){
                this.candidate.work_history.splice(index,1)
            },
            addEducation(){
                let new_education = _.cloneDeep(this.new_education)
                this.candidate.education.push(new_education)
            },
            deleteEducation(index){
                this.candidate.education.splice(index,1)
            },
            async showFileSelector(file) {
                let that = this
                let validate_type_file_resume = true
                await that.validateUrlResume(file[0].name).then((data)=>{
                    validate_type_file_resume = data
                })
                if(validate_type_file_resume){
                    let company_id = that.currentCompanyLandingPage.id
                    let file_name_up = company_id + '_' + file[0].name;
                    let upload = fstorage.ref('image/candidate/' + company_id + '/' + file_name_up).put(file[0])
                    that.candidate.resume.file_name = file[0].name;
                    upload.on('state_changed', sp => {
                            if (sp.bytesTransferred = sp.totalBytes) {
                            }
                        }, null,
                        () => {
                            upload.snapshot.ref.getDownloadURL().then(downloadUrl => {
                                that.candidate.resume.url = downloadUrl
                                that.candidate.resume.pdf_url = downloadUrl
                                that.$refs.uploadFileResume['value'] = null
                            })
                        })
                }else {
                    that.$refs.uploadFileResume['value'] = null
                }
            },
            checkConditionSubmit(){
                this.check_education = this.checkRequire('education')?this.candidate.education.length>0?false:true : false
                this.check_work_history = this.checkRequire('work_history')?this.candidate.work_history.length>0?false:true : false
                 if(this.currentCompanyLandingPage.id){
                     return true && !this.check_education && !this.check_work_history
                 }else {
                     return false
                 }
            },
            nextToApplySuccessPage(){
                let that = this
                let router = {
                    name: `LandingPageApplyPositionSubmitted`,
                    params: {
                        position_id: that.$route.params['position_id'],
                    },
                }
                that.$router.push(router)
            },
            checkStateApplied(){
                // check affter check filed require form
                let that = this
                if((that.candidate.work_history.length >0) || (that.candidate.education.length >0) || that.candidate.summary ||that.candidate.resume.file_name || that.candidate.cover_letter ){
                    return true
                }else {
                    return false
                }
            },
            setHeadline() {
                let that = this
                let headline = ''
                if(that.candidate.work_history.length > 0 ){
                    headline = that.candidate.work_history[0].title?that.candidate.work_history[0].title:'Worked'
                    headline =  headline + " @ "  + that.candidate.work_history[0].company_name
                    return headline
                }else if(that.candidate.education.length > 0){
                    headline = that.candidate.education[0].field_of_study ?that.candidate.education[0].field_of_study : "Studied"
                    headline = headline  + " @ "  + that.candidate.education[0].school_name
                    return headline
                }else {
                    return headline
                }
            },
            checkValidateResume(){
              if(this.checkRequire('resume') && !this.candidate.resume.file_name) {
                  return false
              } else {
                  return true
              }
            },
            updatePipeLineReport(candidate_apply) {
                let that = this;
                let update_pipeline_report = new PipelineReport()
                let pipeline_apply = new Pipeline()
                update_pipeline_report.company_id = that.currentCompanyLandingPage.id;
                update_pipeline_report.stage = candidate_apply.stage
                update_pipeline_report.position.id = candidate_apply.position_id
                update_pipeline_report.position.name = candidate_apply.position.name
                update_pipeline_report.position.name = candidate_apply.position.name
                update_pipeline_report.position.user_id = that.currentPositionView.created_by
                update_pipeline_report.position.status = that.currentPositionView.status
                update_pipeline_report.candidate.id = candidate_apply.id
                update_pipeline_report.candidate.name = candidate_apply.name
                update_pipeline_report.source.id = candidate_apply.source.id
                update_pipeline_report.source.name = candidate_apply.source.name
                update_pipeline_report.source.type = candidate_apply.source.type
                update_pipeline_report.source.origin = candidate_apply.origin
                update_pipeline_report.source.sourced_by = candidate_apply.sourced_by
                update_pipeline_report.pipeline.id = that.currentPositionView.pipeline_id
                update_pipeline_report.category = {
                    name: that.currentPositionView.category.name,
                    value: that.currentPositionView.category.value,
                };
                pipeline_apply.getById(update_pipeline_report.pipeline.id).then((data) => {
                    update_pipeline_report.pipeline.name = data.title;
                    update_pipeline_report.pipeline.is_default = data.is_default;
                    update_pipeline_report.insert()
                })
            },
            apply() {
                let that = this;
                let candidate_apply = new Candidate();
                let responseQuestion = true
                that.validate_quesition = true;
                this.validate_form = true;
                that.emai_existed = false;
                this.$validator.validateAll().then((result) => {
                    that.validate_field = !result;
                    let rule = this.checkConditionSubmit() && that.checkValidateResume();
                    if(that.questionnaire.length > 0){
                        that.validate_quesition = that.$refs.validateQuestions.isValidateQuestions(that.questionnaire);
                        responseQuestion = that.$refs.validateQuestions.checkresponse(that.questionnaire)
                    }
                    if (rule && result && that.validate_quesition) {
                        let company_id = that.currentCompanyLandingPage.id;
                        let email = that.candidate.email_address;
                        let position_id = that.currentPositionView.id;
                        let is_stage_applied = that.checkStateApplied() || responseQuestion;
                        that.loading_sumbmit = true;
                        candidate_apply.checkExistCandidateByEmail(company_id, email, position_id).then( (data) => {
                            if (!data) {
                                // Get default stage of Position
                                let defaultStage = {};
                                new PipelineStage().getAllStages(this.currentPositionView.pipeline_id).then(async (data) => {
                                    // Set stage follow by infomation which user input
                                    if (is_stage_applied){
                                        defaultStage = data.find((stage) => {
                                            return stage.stage_type == 'applied';
                                        });
                                        candidate_apply.stage.id = defaultStage.id;
                                        candidate_apply.stage_id = defaultStage.id;
                                        candidate_apply.stage.name = defaultStage.title;
                                        candidate_apply.stage.type = defaultStage.stage_type
                                    }else{
                                        defaultStage = data.find((stage) => {
                                            return stage.stage_type == 'disqualified';
                                        });
                                        if (!defaultStage){
                                        // if disqualified don't exist in stage
                                            await new PipelineStage().getMissingStage(this.currentPositionView.pipeline_id).then((data) => {
                                                defaultStage = data;
                                                candidate_apply.stage.id = defaultStage.id;
                                                candidate_apply.stage_id = defaultStage.id;
                                                candidate_apply.stage.name = defaultStage.title;
                                                candidate_apply.stage.type = defaultStage.stage_type
                                            })
                                        }else{
                                            candidate_apply.stage.id = defaultStage.id;
                                            candidate_apply.stage_id = defaultStage.id;
                                            candidate_apply.stage.name = defaultStage.title;
                                            candidate_apply.stage.type = defaultStage.stage_type
                                        }
                                    }
                                    candidate_apply.company_id = that.currentCompanyLandingPage.id;
                                    candidate_apply.origin = "applied";
                                    candidate_apply.name = that.candidate.name;
                                    candidate_apply.email_address = that.candidate.email_address;
                                    candidate_apply.phone_number = that.candidate.phone_number;
                                    candidate_apply.work_history = that.candidate.work_history;
                                    candidate_apply.education = that.candidate.education;
                                    candidate_apply.resume = that.candidate.resume;
                                    candidate_apply.summary = that.candidate.summary;
                                    candidate_apply.cover_letter = that.candidate.cover_letter;
                                    candidate_apply.position_id = that.currentPositionView.id;
                                    candidate_apply.position._id = that.currentPositionView.id;
                                    candidate_apply.position.name = that.currentPositionView.title;
                                    candidate_apply.position.location = that.currentPositionView.location;
                                    candidate_apply.headline = that.setHeadline();
                                    candidate_apply.source.id = 'Portal';
                                    candidate_apply.source.name = 'Portal';
                                    candidate_apply.source.type = 'Portal';
                                    candidate_apply.questionnaire = that.questionnaire;
                                    candidate_apply.created_by = that.currentPositionView.created_by;
                                    await candidate_apply.insert().then((data) => {
                                        that.validate_form = false;
                                        that.loading_sumbmit = false;
                                        let data_send_email = {
                                            candidate: data,
                                            position: that.currentPositionView
                                        };
                                        that.sendEmailManagerPosition(data_send_email);
                                        localStorage.removeItem(that.currentPositionView.id)
                                        that.nextToApplySuccessPage();
                                        that.updatePipeLineReport(data);
                                        that.addLogApplyPosition(data);
                                        if(that.currentPositionView.questionnaire_id){
                                            that.insertCandidateQuestionnaire(data)
                                        }
                                    })

                                });

                            }
                            else {
                                that.emai_existed = true;
                                that.loading_sumbmit = false
                            }
                        })

                    } else {

                    }
                })
            },

            addLogApplyPosition(data){
                let that = this;
                let activity = new Activity();
                activity.company_id = that.currentCompanyLandingPage.id;
                activity.position_id = data.position_id;
                activity.candidate_id = data.id;
                activity.action_text = that.$cjpmessages.SR_037_APPLIED_TO;
                activity.target_object = data.cloneNewObject();
                activity.activity_type = "log";
                activity.action ="applied";
                activity.insert();
            },

            async getQuestionnaire(){
                let questionnaire = {};
                questionnaire = await new Questionnaire().getById(this.currentPositionView.questionnaire_id);
                return questionnaire.name
            },

            async insertCandidateQuestionnaire(data){
                let new_candidate_questionnaire = new CandidateQuestionnaire();
                new_candidate_questionnaire.company_id = data.company_id;
                new_candidate_questionnaire.candidate_id = data.id;
                new_candidate_questionnaire.position_id = data.position_id;
                new_candidate_questionnaire.questionnaire_id = this.currentPositionView.questionnaire_id;
                new_candidate_questionnaire.questions = data.questionnaire;
                new_candidate_questionnaire.sent_by.name = 'Application';
                new_candidate_questionnaire.status = 'completed';
                new_candidate_questionnaire.name = await this.getQuestionnaire();
                new_candidate_questionnaire.insert()
            }
        }
    }
</script>

<style scoped lang="scss">
    .portal-wrapper {
        margin: 70px auto;
        .company-name{
            max-width: 900px;
            margin: auto;
            padding: 0px 40px;
            a{
                text-decoration: unset;
                color: #8d9aa5;
            }
            &:hover{
                color: #5d6b76;
            }
        }
        a:hover{
            text-decoration: unset;
        }
        .content-container{
            .application-form{
                max-width: 900px;
                margin: 0 auto;
                padding: 40px 0;
                h2 {
                    font-size: 24px;
                    padding: 0;
                    margin-bottom: 10px;
                    color: #444444;
                }
                .inline-field{
                    display: inline-block;
                    margin-right: 10px;
                }
                .block-field{
                    display: block;
                }
                .container-wrapper{
                    .breadcrumbs{
                        margin-bottom: 30px;
                        li{
                            display: inline-block;
                            a{
                                text-decoration: unset;
                                span{
                                    opacity: 1;
                                    font-size: 16px;
                                }
                            }
                            i{
                                font-size: 12px;
                                margin: 0 6px;
                                opacity: 0.5;
                            }
                            span{
                                opacity: 0.5;
                                font-size: 16px;
                            }
                        }
                    }
                    .application-container {
                        padding: 40px;
                        /*background: #f9fafa;*/
                        border-radius: 4px;
                        .section-header h2 {
                            margin-bottom: 20px;
                        }
                        .section{
                            .breadcrumbs{
                                margin-bottom: 0px;
                                li{
                                    width: 100%;
                                }
                            }
                            span.required{
                                padding-left: 5px;
                            }
                        }
                        h3{
                            position: relative;
                            font-size: 18px;
                            padding: 0;
                            margin-bottom: 10px;
                            color: #444444;
                        }
                        input[type=text].name {
                            font-size: 18px;
                            width: 450px;
                            max-width: 100%;
                        }
                        input[type=email], textarea, input[type=text], input[type=tel]{
                            font-size: 18px;
                            font-weight: 300;
                            display: block;
                            border: none;
                            border: 1px solid #ddd;
                            line-height: 1.2;
                            width: 250px;
                            outline: none;
                            padding: 10px;
                            border-radius:unset;
                            -webkit-transition: 0.3s;
                            -moz-transition: 0.3s;
                            -ms-transition: 0.3s;
                            -o-transition: 0.3s;
                            transition: 0.3s;
                            &:focus{
                                box-shadow: none;
                            }
                        }
                        .error-container {
                            color: #F7634B;
                            font-weight: 300;
                            .error{
                                border: none !important;
                            }

                        }
                        .form-divider{
                            margin-bottom: 30px;
                        }
                        textarea {
                            height: 200px;
                            width: 100%;
                        }
                        input:focus, textarea:focus{
                            border-bottom: 1px solid #86c68f;
                        }
                        a:hover{
                            cursor: pointer;
                        }
                        a .fa-paperclip{
                            margin-right: 5px;
                        }
                        .apply-container{
                            margin-top: 40px;
                            .apply-buttons{
                                .bzyButtonColor{
                                    border: 2px solid transparent;
                                    background: #888;
                                }
                                .btn-loading-apply{
                                    i{
                                        font-size: 20px;
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</style>
