<template>
    <b-dropdown style="width:200px;" class="custom-btn-light" variant="light" :class="{greenactive: selectedValue == selectedOption.value &&  selectedValue !='all'}">
        <template slot="button-content">
                <div class="content-c"  style="   " >
                <i class="fas fa-user"></i>&nbsp;
                {{ selectedOption ? selectedOption.text : messages.SR_028_SELECT_OPTION }}
                </div>
        </template>
        <b-dropdown-item v-for="(type, idx) in types" :key="idx" v-if="type && type.value != 'custom'"
                         @click="choose(type)">
            {{ type ? type.text:''}}
        </b-dropdown-item>

    </b-dropdown>
</template>
<style lang="scss">
    .content-c{
        text-align: unset;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
    }
    .custom-btn-light{
        .btn-light{
            text-align: unset;
        }
        .dropdown-toggle::after{
            float:right;
            margin-top:10px;
        }
    }
    .greenactive button {
        background-color: #76d691 !important;
        color: #fff !important;
    }

    .greenactive button:hover {
        background-color: #76d691 !important;
        color: #fff !important;
    }
    .custom-btn-light{
        .btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
            -webkit-box-shadow: none;
            box-shadow: none;

        }
    }
</style>
<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapActions} from 'vuex';
    import types from './CandidateType';
    import _ from "lodash";

    export default Vue.extend({
        name: "CandidatePiplineTypeDropdown",
        props: ["value",],
        data() {
            return {
                types: [...types],
                selectedValue: null,
            }
        },
        computed: {
            ...mapGetters([
                'currentCandidateType',

            ]),
            selectedOption: {
                get() {
                    let that = this as any;
                    let objs = _.keyBy(types, 'value');

                    if (that.selectedValue) {
                        return objs[that.selectedValue];
                    }
                    return {};
                },
                set(val: any) {
                    let that = this as any;
                    that.selectedValue = val.value;
                }
            },
        },
        methods: {
            ...mapActions([
                'setRamdomFlag',
            ]),
            choose(option): void {
                let that = this as any;
                let force_change = false;
                if (this.selectedValue == option.value) {
                    force_change = true;
                }

                this.selectedOption = option;
                this.$emit("input", option.value);
            }
        },
        watch: {
            value(val) {
                let that = this as any;
                that.selectedValue = val;
                that.setRamdomFlag();
            }
        },
        created(): void {
            let that = this as any;
            that.selectedValue = that.value;
        }
    });
</script>
