<template>
    <div class="d-flex flex-column candidate-list" style="height: 100%">
        <header class="flex-shrink-0 p-3">
            <div class="d-flex justify-content-between">
                <!-- Left buttons -->
                <div class="d-flex">
                    <!-- Filter -->
                    <b-button
                        @click="filterNav.open = !filterNav.open"
                        class="mx-3 text-secondary"
                        style="background: #E9ECEF; height: 30px;">
                        <i class="fas fa-filter"></i>
                        <template v-if="filterNav.open">
                            <i class="fas fa-angle-left"></i>
                        </template>
                        <template v-else>
                            <i class="fas fa-angle-right"></i>
                        </template>
                    </b-button>
                    <!-- Position filter -->
                    <CandidateTypeDropdown v-model="candidateType"/>

                    <!-- Column checkboxes -->
                    <CandidateColumnFilterDropdown v-model="column_filters"/>

                    <!-- Number of candidates -->
                    <p
                        class="ml-3 my-0 text-secondary d-flex justify-content-start align-items-center"
                    > {{tableItems.length+' '+messages.SR_028_TOTAL_CANDIDATE_FILTER_LABEL}}</p>
                </div>
                <!-- Right buttons -->
                <div class="d-flex custom-candidate-actions">
                    <!-- More button -->
                    <b-dropdown :disabled="checkCandidates" variant="gray" :text="messages.SR_028_MORE">
                        <!--                        <b-dropdown-item @click="showModalChangeCandidate">{{messages.SR_028_MOVE_MODAL_TITLE}}</b-dropdown-item>-->
                        <b-dropdown-item @click="exportCandidate">{{messages.SR_028_EXPORT_EXCEL}}</b-dropdown-item>
                    </b-dropdown>
                    <!-- Trash button -->
                    <b-button class="mx-2" variant="gray"
                              :disabled="!canDelete"
                              @click="showModalDeleteCandidate"
                              v-tooltip="{
                                        content: messages.SR_028_DELETE,
                                       placement:'bottom-start',
                                       trigger: 'hover'
                                      }">
                        <i class="fas fa-trash"></i>
                    </b-button>
                    <!-- Messages button -->
                    <!--                    <b-button class="mx-2" variant="gray"
                                                  :disabled="checkCandidates">-->
                    <!--                        <i class="fas fa-comments"></i>-->
                    <!--                    </b-button>-->
                    <!-- Candidate email button -->
                    <!--                    <b-button class="mx-2" variant="gray" disabled>-->
                    <!--                        <i class="fas fa-envelope"></i>-->
                    <!--                        <span class="candidate-actions-button-name">&nbsp;Email ứng viên</span>-->
                    <!--                    </b-button>-->
                    <b-button class="mx-2" variant="blue" @click="addCandidate">
                        <i class="fas fa-plus"></i>
                        <span class="candidate-actions-button-name">&nbsp;{{messages.SR_032_MSG_ADD_CANDIDATES}}</span>
                    </b-button>
                </div>
            </div>
        </header>
        <!-- Task content -->
        <div class="d-flex flex-grow-1 flex-shrink-1 overflow-auto align-items-start">
            <!-- Left border -->
            <FilterColumn :open="filterNav.open" class="candidate-filters"
                          @update="UpdateFilter" :filterObject="sqlFilter" :positionId="position_id"/>
            <!-- Right border -->
            <div class="p-3 flex-grow-1 overflow-auto sticky-table" style="height: 100%;  background-color: #f9fafa;">
                <div class="candidate-table-wrapper p-2 mx-0">
                    <!-- Table content -->
                    <b-form-checkbox-group v-model="row_check">
                        <b-table class="candidate-table"
                                 :sortBy="initialSort"
                                 :sort-desc="true"
                                 :tbody-tr-class="rowClass"
                                 v-on:row-clicked="tableItemClicked"
                                 hover :fields="tableFields" :items="tableItems"
                                 show-empty
                                 :current-page="currentPage"
                                 :perPage="pageSize"
                                 :busy="!loaded.candidate">

                            <template slot="table-busy">
                                <div class="d-flex align-items-center flex-column">
                                    <h3>{{messages.SR_028_LOADING}}</h3>
                                    <b-spinner></b-spinner>
                                </div>
                            </template>

                            <template slot="empty" slot-scope="scope">
                                <div  style="text-align: center; padding-top: 100px;color: #84929f;">
                                    <h1><i class="fa fa-users"></i><span style="margin-left: 5px;">{{messages.SR_028_NO_RESULT}}</span>
                                    </h1><p>{{messages.SR_028_NO_RESULT_DESC}}</p>
                                </div>
                            </template>


                            <!--CUSTOM OVERSCORE COLUMN-->
                            <template slot="overall_score" slot-scope="{item}">
                                    <span class="score" v-bind:class="showClass(item.overall_score)"
                                          v-if="item.overall_score!==''"
                                    >
                                      {{item.overall_score}}
                                    </span>


                            </template>

                            <!-- CUSTOM CHECK COLUMN-->
                            <template slot="HEAD_selected">
                                <input type="checkbox" v-model="selectedAll" name="selectedAll" />
                                <!--                                <b-form-checkbox v-model="selectedAll" name="selectedAll"  v-on:change="checkAll"></b-form-checkbox>-->
                            </template>
                            <template slot="selected" slot-scope="{ item }" class="custom-table-select">
                                <b-form-checkbox :value="item.id" :name="item.id"></b-form-checkbox>
                            </template>

                            <!-- CUSTOM TAG COLUMN-->
                            <template slot="tags" slot-scope="{item}">
                                <ul class="ng-scope">
                                    <li class="tag ng-scope" v-for="it in item.tags" v-bind:key="it.id">
                                        <div class="tag">
                                            <i class="fa fa-tag"></i><span class="ng-binding"> {{it.name}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </template>

                            <!--CUSTOM PHOTO COLUMN-->
                            <template slot="profile_photo_url" slot-scope="{item}">
                                <div class="d-flex align-items-center" style="height: 100%;">
                                    <avatar :size="30" :username="item.name" :initials="item.name.charAt(0).toUpperCase()" :src="item.profile_photo_url"></avatar>
                                </div>
                            </template>

                            <!--CUSTOM CV COLUMN-->
                            <template slot="resume" slot-scope="{item}">
                                <a :href="item.resume.url" target="_blank" class="ng-scope" v-if="item.resume.url !=''" download>
                                    <i class="fas fa-cloud-download-alt"></i><span> {{messages.SR_028_COLUMN_DOWNLOAD_LABEL}}</span>
                                </a>
                            </template>

                            <!--CUSTOM POSITION COLUMN-->
                            <template slot="position" slot-scope="{item}">
                                <div v-if="item.position">
                                    <i :class="'icon fa fa-circle ' + item._pos_status" v-if="item._pos_status != 'archived'"></i>
                                    {{item.position}}
                                </div>
                            </template>

                            <!--CUSTOM CREATE AT-->
                            <template slot="HEAD_createdAt">
                                <div class="align-items-center" style="height: 100%;text-align: center;" v-tooltip.bottom-start="messages.SR_028_COLUMN_CREATED_AT">
                                    <i class="fas fa-clock"></i>
                                </div>
                            </template>
                            <template slot="createdAt" slot-scope="{item}">
                                <div class="align-items-center" style="height: 100%;text-align: center;"  v-tooltip.bottom-start="formatTooltipCreateAt(item.createdAt)">
                                    {{formatCreateAt(item.createdAt)}}
                                </div>
                            </template>


                            <template slot="HEAD_updatedAt">
                                <div class="align-items-center" style="height: 100%;text-align: center;" v-tooltip.bottom-start="messages.SR_028_COLUMN_UPDATED_AT">
                                    <i class="fas fa-bolt"></i>
                                </div>
                            </template>
                            <template slot="updatedAt" slot-scope="{item}">
                                <div class="align-items-center" style="height: 100%;text-align: center;"  v-tooltip.bottom-start="formatTooltipUpdatedAt(item.updatedAt)">
                                    {{formatUpdatedAt(item.updatedAt)}}
                                </div>
                            </template>

                            <!--CUSTOM-BOOKMARK-->
                            <template slot="HEAD_bookmark"></template>
                            <template slot="bookmark" slot-scope="{item}">
                                <a @click="starCandidate(item.id,item.name)">
                                    <i class="fas bookmark fa-star" :class="{
                                           'starred':checkStarCandidate(item.id)
                                    }"></i>
                                </a>
                            </template>

                            <!--CUSTOM-SEEN-->
                            <template slot="HEAD_unseen">
                                <div></div>
                            </template>
                            <template slot="unseen" slot-scope="{item}">
                                <i v-if="!checkSeenCandidate(item)" class="fas unseen-marker fa-square" v-tooltip.bottom-start="messages.SR_028_TOOLTIP_UNSEEN"></i>
                            </template>

                        </b-table>
                        <div v-if="loaded.candidate && tableItems.length > pageSize" class="d-flex justify-content-center">
                            <el-pagination
                                background
                                layout="prev, pager, next"
                                @current-change="handleCurrentChange"
                                :page-size="pageSize"
                                :current-page.sync="currentPage"
                                :total="tableItems.length">
                            </el-pagination>
                        </div>
                    </b-form-checkbox-group>
                    <ConfirmDeleteCandidate :showModal="show_confirm_delete" v-on:handleClose="noDeleteCandidate()"
                                            :deleteAll="checkDeleteAll"
                                            v-on:handleSaveChange="deleteCandidate()"></ConfirmDeleteCandidate>
                    <ChangePositionCandidate :showModal="show_confirm_change" v-on:handleClose="noChangeCandidate()"
                                             v-on:handleSaveChange="changeCandidate()"></ChangePositionCandidate>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    @import "~styles/candidate";

    .candidate-list {
        .sticky-table {
            position: sticky;
            top: 0;
        }

        .unseen-marker {
            visibility: visible;
            font-size: 12px;
            color: #76d691;
            left: 0px;
            top: 0px;
            margin-right: 3px;
        }
        .candidate-table td, .candidate-table th {
            padding-bottom: 0.2em;
            padding-top: 0.2em;
            padding-left: 0.9em;
            padding-right: 0.9em;
            cursor: pointer;
        }
        .table.b-table>thead>tr>th {
            outline: none;
        }
        .candidate-table tr {
            outline: none !important;
        }

        .avatarCircle {
            color: #ffffff;
            background: #30a6d1;
            border-radius: 50%;
        }

        span.score.good {
            background-color: #76d691;
            color: #fff;
        }

        span.score.neutral {
            background-color: #f5d44f;
            color: #fff;
        }

        span.score.poor {
            background-color: #e15258;
            color: #fff;
        }

        span.score {
            width: 22px;
            height: 22px;
            border-radius: 44px;
            display: inline-block;
            padding: 0px 0;
            font-size: 11px;
            text-align: center;
            margin-left: 5px;
            line-height: 21px;
            border: none;
            color: #fff;
        }

        .tag {
            border-radius: 4px;
            font-size: 10px;
            white-space: nowrap;
            background: #eee;
            padding: 2px 4px;
            border-radius: 3px;
            font-size: 12px;
            display: inline-block;
            margin-right: 2px;
            line-height: 12px;
        }

        .fa-circle.published {
            color: #76d691 !important;
        }

        .fa-circle.draft {
            color: #5ac0e5 !important;
        }

        .fa-circle.closed {
            color: #778591 !important;
        }

        .table-check {
            background-color: #fffee0 !important;
        }
    }
</style>


<script lang="ts">
    import Vue from "vue";
    import avatar from 'vue-avatar';
    import CandidateTypeDropdown from "@/components/Candidate/CandidateTypeDropdown.vue";
    import CandidateColumnFilterDropdown from "@/components/Candidate/CandidateColumnFilterDropdown.vue";
    import FilterColumn from "@/components/FilterColumn/FilterColumn.vue";
    import CandidateColumnFilter from "@/components/Candidate/CandidateColumnFilter";
    import Candidate from "@/models/Candidate";
    import ModalWrapper from "@/components/ModalWrapper.vue";
    import {mapMutations, mapActions, mapGetters, mapState} from 'vuex';
    import {Component, Prop, Watch} from "vue-property-decorator";
    import moment from 'moment';
    import _ from "lodash";
    import ConfirmDeleteCandidate from "@/components/modals/Candidate/ConfirmDeleteCandidate.vue";
    import ChangePositionCandidate from "@/components/modals/Candidate/ChangePositionCandidate.vue";
    import User from '@/models/User';
    import ViNormalize from '@/helpers/normalize.vi';
    import Excel from 'exceljs/modern.browser';
    import {stream} from "exceljs";
    import { saveAs } from 'file-saver';
    import $ from 'jquery'
    moment.locale('vi');
    moment.updateLocale('vi', {
        meridiem : function (hours, minute, isLowercase) {
            if (hours < 12) {
                return  'SA' ;
            } else {
                return  'CH' ;
            }
        }
    });
    import {Getter, Action} from 'vuex-class';
    import {messages} from "@/messages";
    import {server_time} from "@/firebase";


    @Component({
        components: {
            CandidateTypeDropdown,
            CandidateColumnFilterDropdown,
            FilterColumn,
            ModalWrapper,
            avatar,
            ConfirmDeleteCandidate,
            ChangePositionCandidate
        },
        methods: {
            ...mapMutations([
                'modals/showAddCandidate',
                'modals/setAddCandidateWithStage',
                'setShowArchived',
            ]),
            ...mapActions([
                'getCandidates',
                'setUser',
                'setFlagResetFilter',
                'setCandidateType',
                'setFlagFormSubmit',
                // 'setCurrentCandidateType'
                // 'setRamdomFlagDefault'
                // 'getCandidatesByPosition'
            ]),
        },
        computed: {
            ...mapGetters([
                // 'currentCandidates', // using Getter notation of 'vuex-class'
                'currentUser',
                'companyUsers',
                'listPosition',
                'resetFilters',
                'currentCandidateType',
                'currentFlagFormSubmit',
                'candidateLoading',
                'unsubscribeCandidates',
                'positionKanban',
                'currentShowArchived'
            ]),
            position_id(): string {
                let that = this as any;
                return that.$route.params.position_id || "";
            },
            // candidates() {
            //     let that = this as any;
            //     return that.currentCandidates;
            // }
        },
        destroyed(): void {
            let that = this as any;
            if (that.unsubscribeCandidates) {
                that.unsubscribeCandidates();
            }
        }
    })
    export default class CandidatePage extends Vue {
        @Prop({default: null})
            //position_id: string | null;
        initialSort = 'updatedAt';

        @Getter("currentCandidates") candidates;

        loaded = {
            candidate: false,
        };
        filterNav = {
            open: true,
        };
        candidateType = "all";
        column_filters = {...CandidateColumnFilter};
        row_check = [] as string[];
        show_confirm_delete = false;
        currentPage: number = 1;
        pageSize: number = 15;
        sqlFilter = {
            candidate_name: '',
            unseenflag:false,
            resetflag:false,
            starflag:false,
            rules: {},
            AddDate:{},

        };
        search_flag = false;
        searchTemp = [] as any;
        flagcustom = false;
        reset_filter_left = false;
        selectedAll = false;
        show_confirm_change = false;

        @Action getCandidatesByPosition;
        @Action setRamdomFlagDefault;
        @Action('setCurrentCandidateType') setCurrentCandidateType;

        addCandidate(): void {
            //Check if current router name is Candidate Position
            if (this.$route.name == 'PositionCandidates'){
                let data = {
                    //@ts-ignore
                    position: this.positionKanban.cloneNewObject(),
                    stage: null,
                    status: true,
                };
                this['modals/setAddCandidateWithStage'](data);
            }
            this['modals/showAddCandidate'](true);
        }

        reset(ev: Event): void {
            ev.preventDefault();
        }

        showModalDeleteCandidate(): void {
            let that = this as any;
            that.show_confirm_delete = true;
        }

        showModalChangeCandidate():void {
            let that = this as any;
            that.show_confirm_change = true;
        }

        noDeleteCandidate(): void {
            let that = this as any;
            that.show_confirm_delete = false;
        }

        noChangeCandidate():void {
            let that = this as any;
            that.show_confirm_change = false;
        }

        changeCandidate():void{
            let that = this as any;
            that.show_confirm_change = false;
        }

        UpdateFilter(newValue): void {
            let that = this as any;
            that.sqlFilter = newValue;
            that.flagcustom = true;
            that.candidateType = "custom";
        }

        get checkDeleteAll():boolean {
            let that = this as any;
            return  that.tableItems.length === that.row_check.length;
        }

        get canDelete(): boolean {
            return this.row_check.length > 0
                && this.row_check.every((id: string)=>{
                    const candidate = _.find(this.candidates, (it)=>{
                        return it.id === id;
                    });
                    console.log(candidate, this.$can('delete', candidate));
                    return this.$can('delete', candidate);
                });
        }
        //xoa candidate
        async deleteCandidate(): Promise<void> {
            let that = this as any;
            that.show_confirm_delete = false;
            //alert(that.row_check.length);

            if (that.row_check.length > 0) {

                that.row_check.forEach(async function (id) {

                    var delete_candidate = _.find(that.candidates, function (o) {
                        return o.id == id;
                    }) as Candidate;

                   // let posid = delete_candidate.position._id;

                    await delete_candidate.delete().then(async result => {

                        that.row_check = [];
                        that.selectedAll = false;

                        await that.companyUsers.forEach(async function (user) {

                            var indexID = user.candidate_star.findIndex(u => u.id === id);
                            if (indexID !== -1) {
                                console.log(user);
                                user.candidate_star.splice(indexID, 1);
                                await user.update().then(result => {

                                }).catch(err => {
                                    console.log(err);
                                })
                            }
                        });

                        // await that.listPosition.forEach(async function (pos) {
                        //
                        //     if (pos.id == posid) {
                        //         if( pos.count_candidate !=0)
                        //             pos.count_candidate = pos.count_candidate - 1;
                        //
                        //         await pos.update().then(result => {
                        //
                        //         }).catch(err => {
                        //             console.log(err);
                        //         })
                        //     }
                        // });


                    }).catch(err => {
                        console.log(err);
                    })

                });
            }
        }

        //export Candidates
        exportCandidate(): void {
            let that = this as any;
            let workbook = new Excel.Workbook();
            workbook.creator = 'Cloujet Potential';
            workbook.lastModifiedBy = 'Cloujet Potential';
            workbook.created = server_time.now;
            workbook.modified = server_time.now;
            workbook.lastPrinted = server_time.now;
            var worksheet = workbook.addWorksheet('Cloujet Candidate');
            worksheet.state = 'visible';

            let columnsArr = [];
            let  columnTable = [];

            columnsArr = Object.entries(that.column_filters);


            _.forEach(columnsArr,function(e) {
                const att = e;
                //console.log(att[1]);
                if(att[1].check)
                    columnTable.push(att[0]);
            });

            //alert(JSON.stringify(columnTable));

            let header_excels = [];

            const list_headcolumn = [
                { header: that.messages.SR_028_COLUMN_NAME, key: 'name', width: 32  },
                { header:  that.messages.SR_028_COLUMN_SCORE, key: 'overall_score', width: 10 },
                { header:  that.messages.SR_028_COLUMN_HEADLINE, key: 'headline', width: 32, },
                { header: that.messages.SR_028_COLUMN_RESUME, key: 'resume', width: 32 },
                { header:  that.messages.SR_028_COLUMN_EMAIL, key: 'email_address', width: 32 },
                { header:  that.messages.SR_028_COLUMN_PHONE, key: 'phone_number', width: 32, },
                { header:  that.messages.SR_028_COLUMN_POSITION, key: 'position', width: 32, },
                { header:  that.messages.SR_028_COLUMN_LOCATION, key: 'location', width: 32, },
                { header:  that.messages.SR_028_COLUMN_STAGE, key: 'stage', width: 32, },
                { header:  that.messages.SR_028_COLUMN_SOURCE, key: 'source', width: 32, },
                { header:  that.messages.SR_028_COLUMN_CREATED_AT, key: 'createdAt', width: 32, },
                { header:  that.messages.SR_028_COLUMN_UPDATED_AT, key: 'updatedAt', width: 32, },

            ];

            list_headcolumn.forEach(function(e) {
                const indexID = columnTable.findIndex(u => u == e.key);

                if (indexID !== -1) {
                    header_excels.push(e);
                }
            });


            worksheet.columns = header_excels;


            if (that.row_check.length > 0) {

                that.row_check.forEach(function (id) {
                    var candi = _.find(that.candidates, function (o) {
                        return o.id == id;
                    });

                    if (candi) {

                        let position = _.find(that.listPosition, function (o) {
                            return (candi.position._id == o.id);
                        });

                        var position_title = "";
                        var location_title = "";
                        var position_status = "";

                        if (position) {

                            position_status = position.status;
                            position_title = position.title;
                            if (position.state != "")
                                location_title = position.state + ', ' + position.location.title;
                            else
                                location_title = position.location.title;
                        }

                        let row = {
                            name:candi.name,
                            overall_score:candi.overall_score.scored_count > 0 ? candi.overall_score.score : '',
                            headline:candi.headline,
                            resume: candi.resume.url != '' ?  candi.resume.url :'',
                            email_address:candi.email_address,
                            phone_number: candi.phone_number,
                            position:position_title,
                            location:location_title,
                            stage: candi.stage ? candi.stage.name :'',
                            source:  candi.source ? candi.source.name :'',
                            createdAt: that.formatTooltipCreateAt(candi.createdAt),
                            updatedAt: that.formatTooltipCreateAt(candi.updatedAt),
                        };


                        worksheet.addRow(row);
                    }
                });

            }


            const filename ="cloudjet-candidates.xlsx";

            workbook.xlsx.writeBuffer()
                .then(function(buffer) {
                    that.row_check =[];
                    that.selectedAll = false;
                    let filesaver = saveAs(new Blob([buffer], {
                        type: "application/octet-stream"
                    }), filename);
                });


        }

        @Watch('selectedAll')
        onCheckAllChange(checked) {
            let that = this as any;
            that.checkAll(checked);
        }

        checkAll(checked: boolean): void {
            let that = this as any;

            if (checked) {
                const listid = that.tableItems.map(c => c.id);
                that.row_check =  listid;

            }else {
                that.row_check = [];
            }
        }

        async loadCandidates() {
            const that = this as any;
            if (that.position_id) {
                // load by position here
                // replace code under
                that.loaded.candidate = false;
                that.setShowArchived(true);
                this.getCandidatesByPosition(that.position_id).then(() => {
                    that.loaded.candidate = true;
                });
            } else {
                that.setShowArchived(false);
                that.loaded.candidate = false;
                that.getCandidates().then(() => {
                    that.loaded.candidate = true;
                });
            }


        }

        photoLink(candidate: Candidate): string {
            console.log(candidate);
            return candidate.profile_photo_url
                || "https://ui-avatars.com/api/?name=" + candidate.name.slice(0, 1) + '&size=64&background=c00&color=fff';
        }

        tableItemClicked(item: Candidate): void {
            console.log(item);
            this.$router.push(`/candidate/${item.id}`);
        }

        rowClass(item, type) {
            let that = this as any;
            if (!item) return;
            if (_.includes(that.row_check,item.id))
                return 'table-check';
        }

        formatCreateAt(val):string {
            return  moment(val).fromNow();
        }

        formatTooltipCreateAt(val):string {
            return  moment(val).format('DD/MM/YYYY @ h:mm:ss A');
        }

        formatUpdatedAt(val):string {
            return  moment(val).fromNow();
        }

        formatTooltipUpdatedAt(val):string {
            return  moment(val).format('DD/MM/YYYY @ h:mm:ss A');
        }


        checkSeenCandidate(candidate: any) {
            return new Candidate().checkSeenCandidate(candidate);
        }

        checkStarCandidate(candidate_id: string) {
            let that = this as any;
            let flag = false;
            if (that.currentUser.candidate_star) {
                const indexID = that.currentUser.candidate_star.findIndex(u => u.id == candidate_id);
                if (indexID !== -1) {
                    flag = true;
                }
            }
            return flag;
        }

        starCandidate(candidate_id: string, candidate_name: string) {

            const data_candidate = {
                id: candidate_id,
                name: candidate_name
            };

            let that = this as any;
            if (that.currentUser) {
                if (that.currentUser.candidate_star) {
                    const indexID = that.currentUser.candidate_star.findIndex(u => u.id == candidate_id);
                    if (indexID !== -1) {
                        that.currentUser.candidate_star.splice(indexID, 1);
                    } else {
                        that.currentUser.candidate_star.push(data_candidate);
                    }

                } else {
                    that.currentUser.candidate_star = [];
                    that.currentUser.candidate_star.push(data_candidate);
                }

                that.currentUser.update().then(result => {

                }).catch(err => {
                    console.log(err);
                })
            }
        }

        showClass(score_num: any): string {
            let that = this;
            let class_css = 'good';

            if (score_num < 0) {
                class_css = 'poor';
            } else if (score_num == 0) {
                class_css = 'neutral';
            }

            return class_css;
        }

        // @Watch('candidateType')
        // onPropertyChanged(value: any, oldValue: any) {
        //     // Do stuff with the watcher here.
        //     let that = this as any;
        //
        // }

        @Watch('candidateType')
        onCandidateTypeChange(newValue) {
            let that = this as any;
            that.setCandidateType(newValue);
            that.selectedAll = false;
            that.row_check = [];

            if (newValue !== "custom") {
                that.setFlagResetFilter(true);
                that.sqlFilter = {
                    candidate_name: '',
                    unseenflag:false,
                    resetflag:false,
                    starflag:false,
                    rules: {},
                    AddDate:{},
                };
            } else {
                that.flagcustom = false;
            }



        }



        validateEmail(inputText: string) {
            const mailformat = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (inputText.match(mailformat)) {
                return true;
            } else {
                return false;
            }
        }

        validateTelephone(inputText: string) {
            return $.isNumeric(inputText);
        }

        handleCurrentChange(val: number) {
            if (!val) {
                this.currentPage = 1;
            } else {
                this.currentPage = val
            }
        }
        // COMPUTED
        //Filter apply to table
        get tableItems(): any[] {
            let that = this as any;
            var table_data = [] as any;
            that.row_check = [];
            that.currentPage = 1

            //alert(JSON.stringify(that.sqlFilter));


            // if ( that.candidateType == "all"){
            table_data = [...that.candidates];
            // }

            if ( that.candidateType != "custom") {
                that.flagcustom = false;
                if ( that.candidateType != "all"){


                    if (that.candidateType == "unseen") {
                        table_data = _.filter(that.candidates, function (o) {
                            return !that.checkSeenCandidate(o);
                        });

                        that.sqlFilter.unseenflag = true;
                    }


                    if (that.candidateType == "mine") {
                        const userid = that.currentUser.id;

                        table_data = _.filter(that.candidates, function (o) {

                            return ((o.assignee_id != "") && (userid == o.assignee_id));
                        });
                    }

                    if (that.candidateType == "starred") {
                        const userid = that.currentUser.id;
                        if (that.currentUser.candidate_star) {
                            table_data = _.filter(that.candidates, function (o) {
                                const indexID = that.currentUser.candidate_star.findIndex(u => u.id == o.id);
                                return (indexID !== -1);
                            });
                        }
                        that.sqlFilter.starflag = true;
                    }


                    if (that.candidateType == "new") {

                        table_data = that.candidates.filter((v: any) => {
                            return _.inRange(v.createdAt, moment(server_time.now).startOf('day').subtract(6, "day").valueOf(), moment(server_time.now).endOf('day').valueOf());
                        });

                    }


                }
            }


            //filter theo cac dieu kien cot trai
            // if (that.currentFlagFormSubmit === true) {
            //     table_data = [...that.candidates];
            if (that.sqlFilter.rules) {

                if (that.sqlFilter.unseenflag) {
                    table_data = _.filter(table_data, function (o) {
                        return !that.checkSeenCandidate(o);
                    });
                }

                if (that.sqlFilter.starflag) {
                    const userid = that.currentUser.id;
                    if (that.currentUser.candidate_star) {
                        table_data = _.filter(table_data, function (o) {
                            const indexID = that.currentUser.candidate_star.findIndex(u => u.id == o.id);
                            return (indexID !== -1);
                        });
                    }
                }



                //filter by pipline
                let filter_by_pipline = [];
                if (that.sqlFilter.rules.piplines) {
                    that.sqlFilter.rules.piplines.forEach((pipline) => {
                        if (pipline.value) {
                            filter_by_pipline.push(pipline.value);
                        }
                    })
                    filter_by_pipline = _.uniq(filter_by_pipline);
                    table_data = table_data.filter((v: any) => {
                        if (v.stage)
                            return (_.includes(filter_by_pipline,v.stage.id));
                        else
                            return false;
                    });

                }


                //position id
                let filter_by_position = [];
                if (that.sqlFilter.rules.positions) {
                    filter_by_position = that.sqlFilter.rules.positions.filter(e => {
                        return (e.value !== null);
                    }).map((v: any) => {
                        return v.value;
                    });

                    if (filter_by_position.length > 0) {
                        filter_by_position = _.uniq(filter_by_position);
                        table_data = table_data.filter((v: any) => {
                            if (_.includes(filter_by_position, v.position._id)) {
                                return true;
                            } else {
                                return false;
                            }
                        });
                    }
                }

                //location value
                let filter_by_location = [];
                if (that.sqlFilter.rules.locations) {
                    filter_by_location = that.sqlFilter.rules.locations.filter(e => {
                        return (e.value !== null);
                    }).map((v: any) => {
                        return v.value;
                    });


                    if (filter_by_location.length > 0) {
                        filter_by_location = _.uniq(filter_by_location);
                        table_data = table_data.filter((v: any) => {
                            let position = _.find(that.listPosition, function (o) {
                                return (v.position._id == o.id);
                            });

                            if (position) {
                                if (_.includes(filter_by_location,position.state+','+position.location.title)) {
                                    return true;
                                } else {
                                    return false;
                                }
                            } else {
                                return false;
                            }

                        });
                    }
                }

                //catalog value
                let filter_by_catalog = [];
                if (that.sqlFilter.rules.catalogs) {
                    filter_by_catalog = that.sqlFilter.rules.catalogs.filter(e => {
                        return (e.value !== null);
                    }).map((v: any) => {
                        return v.value;
                    });


                    if (filter_by_catalog.length > 0) {
                        filter_by_catalog = _.uniq(filter_by_catalog);
                        table_data = table_data.filter((v: any) => {
                            let position = _.find(that.listPosition, function (o) {
                                return (v.position._id == o.id);
                            });

                            if (position) {
                                if (_.includes(filter_by_catalog, position.category.value)) {
                                    return true;
                                } else {
                                    return false;
                                }
                            } else {
                                return false;
                            }

                        });
                    }
                }

                //addeddate value
                let filter_by_addeddate = [];
                //alert(JSON.stringify(that.sqlFilter.rules));
                if (that.sqlFilter.rules.addeddate) {
                    if(that.sqlFilter.rules.addeddate.length > 0) {
                        const addDate = that.sqlFilter.rules.addeddate[0].value;

                        const start = addDate.start;
                        const end = addDate.end;

                        if (start && end) {
                            table_data = table_data.filter((v: any) => {
                                return _.inRange(v.createdAt, start, end);
                            });
                        } else if (start) {
                            table_data = table_data.filter((v: any) => {
                                return (v.createdAt >= start);
                            });
                        } else if (end) {
                            table_data = table_data.filter((v: any) => {
                                return (v.createdAt <= end);
                            });
                        }
                    }
                }

                //stage
                if (that.sqlFilter.rules.stages) {
                    let stages = [];
                    that.sqlFilter.rules.stages.forEach((stage) => {
                        if (stage.value) {
                            stages.push(stage.value);
                        }
                    })
                    if (stages.length > 0) {
                        table_data = table_data.filter((item: any) => {
                            return item.stage && stages.indexOf(item.stage.id) != -1;
                        });
                    }

                }

                //assigned
                if (that.sqlFilter.rules.assigned_to) {
                    let assigned_to = [];
                    let has_any = false;
                    let has_unassigned = false;
                    that.sqlFilter.rules.assigned_to.forEach((user) => {
                        if (user.value == "unassigned") {
                            has_unassigned = true;
                        }
                        if (user.value == "any") {
                            has_any = true;
                        }
                        if (user.value && user.value != "any") {
                            assigned_to.push(user.value);
                        }
                    })


                    table_data = table_data.filter((item: any) => {
                        if (has_any && item.assignee_id) {
                            return true
                        }
                        if (has_unassigned && (item.assignee_id == null || item.assignee_id === '') ) {
                            return true;
                        }
                        return assigned_to.indexOf(item.assignee_id) != -1;
                    });
                }

                //source by
                if (that.sqlFilter.rules.sourced_by) {
                    let sourced_by = [];
                    that.sqlFilter.rules.sourced_by.forEach((user) => {
                        if (user.value) {
                            sourced_by.push(user.value);
                        }
                    })
                    if (sourced_by.length > 0) {
                        table_data = table_data.filter((item: any) => {
                            return item.sourced_by && sourced_by.indexOf(item.sourced_by._id) != -1;
                        });
                    }

                }

                //candidate type
                if (that.sqlFilter.rules.candidatetype) {
                    let candidate_type = [];
                    that.sqlFilter.rules.candidatetype.forEach((el) => {
                        if (el.value) {
                            candidate_type.push(el.value);
                        }
                    })
                    if (candidate_type.length > 0) {
                        candidate_type = _.uniq(candidate_type);
                        table_data = table_data.filter((item: any) => {
                            return (_.includes(candidate_type,item.origin)) ;
                        });
                    }

                }


            }

            table_data = table_data.filter((v: any) => {
                const inputDatatext = that.sqlFilter.candidate_name.toLowerCase().trim();
                let validate_search = false;
                if (inputDatatext != '') {
                    if (that.validateEmail(inputDatatext) && v && v.email_address.toLowerCase().includes(inputDatatext)) {
                        validate_search = true;
                    }
                    if (that.validateTelephone(inputDatatext) && v && v.phone_number.toLowerCase().includes(inputDatatext)) {
                        validate_search = true;
                    }
                    if (v.questionnaire && v.questionnaire.length > 0) {
                        let responses = [];
                        v.questionnaire.forEach((quesition) => {
                            if (quesition.response) {
                                responses.push(quesition.response)
                            } else if (quesition.responses) {
                                quesition.responses.forEach((q, index) => {
                                    if (index < quesition.options.length && q == true) {
                                        responses.push(quesition.options[index].text);
                                    }
                                })

                            }
                        });
                        if (responses.join('`').toLocaleLowerCase().indexOf(inputDatatext) != -1) {
                            validate_search = true;
                        }
                    }
                }
                return validate_search || (v && ViNormalize(v.name.toLowerCase()).includes(ViNormalize(inputDatatext)));
            });

            that.setFlagFormSubmit(false);
            // }

            //remove archived position
            table_data = table_data.filter((v: any) => {

                let position = _.find(that.listPosition, function (o) {
                    return (v.position._id == o.id);
                });

                if (that.currentShowArchived) {
                    return position;
                }

                return ((position) && (position.status != 'archived'))
            })

            //that.loaded.candidate = true;

            return table_data.map((v: any) => {
                    let position = _.find(that.listPosition, function (o) {
                        return (v.position._id == o.id);
                    });

                    var position_title = "";
                    var location_title = "";
                    var position_status = "";

                    if (position) {

                        position_status = position.status;
                        position_title = position.title;
                        if (position.state !="")
                            location_title = position.state +', '+position.location.title;
                        else
                            location_title = position.location.title;
                    }

                    return {
                        ...v,
                        stage: v.stage ? v.stage.name :'',
                        overall_score: v.overall_score.scored_count > 0 ?  v.overall_score.score : '',
                        source: that.candidateSourceName(v.source),
                        resume: v.resume,
                        createdAt: v.createdAt,
                        updatedAt: v.updatedAt,
                        position: position_title,
                        _pos_status: position_status,
                        location: location_title,

                    }
                }
            );
        }

        candidateSourceName(source){
            let that = this as any;
            if(source.id == 'Portal'){
                return messages.SR_028_PORTAL
            }else if( !source.id){
                return messages.COMMON_SOURCED
            }else{
                return source.name
            }

        }
        get sourceByOptions(): Array<any> {
            let options = [], that = this as any;
            that.candidates.forEach((item) => {
                if (item.sourced_by._id) {
                    options.push({
                        value: item.sourced_by._id,
                        text: item.sourced_by.name
                    })
                }
            })
            return options;
        }

        get checkCandidates(): boolean {
            let that = this as any;
            let flag = true;

            if (that.row_check.length > 0) {
                flag = false;
            }
            return flag;
        }

        get tableFields(): any[] {
            return Object.keys(this.column_filters)
                .reduce((fields: any[], filter: any) => {
                        if (this.column_filters[filter].check) {
                            return [
                                ...fields,
                                {
                                    key: filter,
                                    label: this.column_filters[filter].text,
                                    sortable: this.column_filters[filter].sort,
                                    disabled: this.column_filters[filter].disabled,
                                }
                            ];
                        } else {
                            return fields;
                        }
                    },
                    ["selected", 'unseen'],
                );
        }

        // HOOK

        mounted() {
            let that = this;
            that.candidateType = "all";
            that.show_confirm_delete = false;
            that.setRamdomFlagDefault();
            that.setCurrentCandidateType( that.candidateType);
            that.loadCandidates();

            that.sqlFilter = {
                candidate_name: '',
                unseenflag:false,
                resetflag:false,
                starflag:false,
                rules: {},
                AddDate:{},
            };

            that.selectedAll = false;


        }
    }
</script>
