@import "styles/constants";
@import "styles/app_color";
@import "styles/custom_dropdown";
@import "styles/nav_item";
@import "styles/breezy_modal";
@import "styles/defaults_controls";
@import "styles/default_types";
@import "styles/position_status";
@import "styles/stream";
@import "styles/sidebar";
@import "styles/modal";


body {
    height: 100vh;
    //overflow-x: auto;
    //overflow-y: hidden;
}

.loading-screen {
    margin: auto;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100%;

    &-content {
        flex: 1 1 auto;
        max-width: 100%;
    }

    &.hasSidebar {
        overflow: hidden;
    }
}
@media screen and (max-width: $mobile_max) {
    body {
        font-size: 12px;
    }
}

.user_sign .editr--content {
    max-height: 200px;
}

.modal-header h5.modal-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}
.messages-template .editr--content {
    max-height: 200px;
}

b, strong {
    font-weight: bold !important;
}

.fa-circle.published {
  color: #76d691 !important;
}

.fa-circle.draft {
  color: #5ac0e5 !important;
}

.fa-circle.closed {
  color: #778591 !important;
}
.vue-avatar--wrapper{
    background-size: cover !important;
}
