<template>
    <div class="tabs-container">
        <b-nav vertical class="tabs">
            <b-nav-item v-for="(item, index) in menu"
                        v-show="$can(item.can[0], item.can[1])"
                        :class="navClass(item.to)" :to="item.to" :key="index">
                <i :class="'fas fa-' + item.icon"></i>
                <span>{{item.title}}</span>
            </b-nav-item>
        </b-nav>
    </div>
</template>

<style lang="scss" scoped>
    @import "~styles/app_screen_sizes";
    @media screen and (max-width: $mobile_max) {
        .tabs {
            flex-direction: unset !important;
        }

        .breezy-nav-item i,
        .breezy-nav-item .router-link-exact-active i {
            background: none;
            border: none;
            color: inherit;
        }
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import {Component} from 'vue-property-decorator';

    @Component({
        name: 'candidate-modal-sidebar',
    })
    export default class CandidateModalSidebar extends Vue {
        get candidate() {
            return this.$store.getters.currentCandidate;
        }
        get menu() {
            return [
                {
                    icon: 'book',
                    title: 'Detail',
                    to: 'details',
                    can: [['view detail'], this.candidate],
                },
                {
                    icon: 'file-alt',
                    title: 'Resume',
                    to: 'resume',
                    can: [['view resume'], this.candidate],
                },
                {
                    icon: 'briefcase',
                    title: 'Experience',
                    to: 'experience',
                    can: [['view experience'], this.candidate],
                },
                {
                    icon: 'paperclip',
                    title: 'Attachments',
                    to: 'attachments',
                    can: [['view attachments'], this.candidate],
                },
                {
                    icon: 'comments',
                    title: 'Team Discussion',
                    to: 'discussion',
                    can: [['view discussion'], this.candidate],
                },
                {
                    icon: 'pen',
                    title: 'Notes',
                    to: 'notes',
                    can: [['view notes'], this.candidate],
                },
                {
                    icon: 'thumbs-up',
                    title: 'Scorecard',
                    to: 'scorecard',
                    can: [['view scorecard'], this.candidate],
                },
                {
                    icon: 'envelope',
                    title: 'Email',
                    to: 'email',
                    can: [['view email'], this.candidate],
                },
                {
                    icon: 'check-square',
                    title: 'Tasks',
                    to: 'tasks',
                    can: [['view tasks'], this.candidate],
                },
                {
                    icon: 'list',
                    title: 'Questionnaires',
                    to: 'questionnaires',
                    can: [['view questionnaires'], this.candidate],
                },
                {
                    icon: 'calendar-alt',
                    title: 'Calendar',
                    to: 'calendar',
                    can: [['view calendar'], this.candidate],
                },
                {
                    icon: 'certificate',
                    title: 'References',
                    to: 'references',
                    can: [['view references'], this.candidate],
                },
                {
                    icon: 'clipboard-check',
                    title: 'Assessments',
                    to: 'assessments',
                    can: [['view assessments'], this.candidate],
                },
            ]
        }

        navClass(path: string): string {
            const active = path === this.$route.path.split('/').pop() ? "activeTab" : "";
            return `breezy-nav-item tab${path} ${active}`;
        }
    }
</script>
