<template>
    <nav>
        <ul>
            <li v-for="(item, idx) in menu" :key="idx"
                :class="{active: item.to === activePath}"
                v-show="$can(item.can[0], item.can[1])"
                @click="choose(item.to)">
                <span>{{item.title}}</span>
            </li>
            <li class="other-tab" :class="{active: inOtherTab}">
                <span><span style="padding-bottom: 0">{{messages.SR_033_MENU_MORE}} </span><i class="fa fa-caret-down"></i></span>
                <div class="tab-subnav" style="margin-left: -120px">
                    <ul>
                        <li @click="choose(item.to)" v-for="(item, idx) in menu_more"
                            :class="{active: item.to === activePath}"
                            :key="idx">
                            <i :class="`fas fa-${item.icon}`"></i>
                            <span>&nbsp;{{item.title}}</span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {messages} from "@/messages";

    export default Vue.extend({
        data() {
            return {
                menu_more: [
                    {
                        icon: 'certificate',
                        title: messages.SR_033_MENU_TAB_REFERENCES,
                        to: 'references',
                        can: ['view attachments', "Candidate"],
                    },
                ],
            };
        },
        computed: {
            activePath(): string {
                return (this.$route.query.left as string) || this.$route.path.split('/').pop();
            },
            inOtherTab(): boolean {
                return this.menu_more.some(v => {
                    return v.to === this.activePath;
                });
            },
            candidate() {
                return (this as any).$store.getters.currentCandidate;
            },
            menu() {
                return [
                    {
                        title: messages.SR_033_MENU_TAB_DETAIL,
                        to: 'details',
                        can: ['view details', "Candidate"],
                    },
                    {
                        title:messages.SR_033_MENU_TAB_EXPERIENCE,
                        to: 'experience',
                        can: ['view experience', "Candidate"],
                    },
                    {
                        title: messages.SR_033_MENU_TAB_RESUME,
                        to: 'resume',
                        can: ['view resume', "Candidate"],
                    },
                    {
                        title: messages.SR_033_MENU_TAB_ATTACHMENTS,
                        to: 'attachments',
                        can: ['view attachments', "Candidate"],
                    },
                    {
                        title: messages.SR_033_MENU_TAB_QUESTIONNAIRES,
                        to: 'questionnaires',
                        can: ['view questionnaire', "Candidate"],
                    },

                ];
            },
        },
        methods: {
            choose(to: string): void {
                this.$router.push({
                    path: to,
                    query: this.$route.query,
                });
            },
        },
    })
</script>
