<template>
    <div class="candidate-modal-view-container">
            <div class="candidate-view-container" v-if="candidate"  v-loading="isLoading">
            <div v-if="currentInterview.length > 0" class="" style="">
                <div class="interview-scheduled-container clearfix">
                    <ul class="actions mb-0">
                        <!-- ngIf: nextEvent.video_session_id && position.is_member -->
                        <!-- ngIf: nextEvent.type === 'panel' -->
                        <li ng-if="nextEvent.type === 'panel'" class="ng-scope">
                            <!-- ngIf: ::position.is_admin -->
                            <a href="javascript:void(0)"
                               @click="rescheduleInterview()"
                               v-if="$can('admin', positionCandidate)"
                               class="ng-scope">{{messages.SR_021_RESCHEDULE}}</a>
                            <!-- end ngIf: ::position.is_admin -->
                        </li>
                        <!-- end ngIf: nextEvent.type === 'panel' -->
                        <li>
                            <!-- ngIf: ::position.is_admin -->
                            <a href="javascript:void(0)" @click="cancelInterview()"
                               v-if="$can('admin', positionCandidate)">{{messages.SR_021_CANCEL}}</a>
                            <!-- end ngIf: ::position.is_admin -->
                        </li>
                    </ul>
                    <p class="mb-0">
                        <i class="fa fa-calendar-alt"></i> <b class="ng-binding"> {{ formatDate(firstMeeting.start_time)}}</b>
                    </p>
                </div>
            </div>
            <div class="candidate-modal candidate-main">
                <div class="candidate-header">
                    <div class="candidate-header-actions">
                        <ul class="actions">
                            <li class="action" v-if="$can('schedule_interview', candidate) || $can('schedule_interview', positionCandidate)">
                                <b-button variant="blue" v-tooltip="messages.SR_021_SCHEDULE_MEETING" @click="scheduleInterview">
                                    <i class="fas fa-calendar-alt"></i>
                                </b-button>
                            </li>
                            <li class="action">
                                <b-button variant="blue" @click="showEmailModal">
                                    <i class="fas fa-envelope"></i>&nbsp;
                                    {{messages.SR_021_SEND_EMAIL}}
                                </b-button>
                                <!--<b-dropdown variant="blue" split @click="showEmailModal">-->
                                    <!--<template slot="button-content">-->
                                        <!--<i class="fas fa-envelope"></i>&nbsp;-->
                                        <!--Send Email-->
                                    <!--</template>-->
                                    <!--&lt;!&ndash;<b-dropdown-item @click="showSendQuestionnaireModal">Send Questionnaire</b-dropdown-item>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<b-dropdown-item @click="showSendAssessmentModal">Send Assessment</b-dropdown-item>&ndash;&gt;-->
                                <!--</b-dropdown>-->
                            </li>
                        </ul>
                        <ul class="actions">
                            <li class="action">
                                <b-dropdown variant="gray" no-caret v-tooltip="messages.SR_038_CHANGE_STAGE">
                                    <template slot="button-content">
                                        <i class="fas fa-arrows-alt-h"></i> {{candidate.stage.name}}
                                    </template>
                                    <b-dropdown-item
                                        @click="changeStage(stage)"
                                        :key="index" v-for="stage, index in listPipelineStage">{{stage.title}}</b-dropdown-item>
                                </b-dropdown>
                                <button aria-haspopup="false"
                                        v-tooltip="messages.SR_038_DISQUALIFY"
                                        v-if="hasDisqualifiedStage"
                                        @click="dropCandidateToDisqualified"
                                        aria-expanded="false"
                                        type="button"
                                        style="border-left: 1px solid #ccc;border-top-left-radius: unset;border-bottom-left-radius: unset  "
                                        class="btn"
                                        >
                                   <i class="fa fa-times-circle"></i>
                                </button>

                            </li>
                            <li class="action" v-if="$can('admin', positionCandidate)">
                                <!-- TODO: handle this dropdown -->
                                <b-dropdown variant="gray" no-caret v-tooltip="messages.SR_010_ASSIGN">
                                    <template slot="button-content">
                                        <i class="fas fa-user-plus"></i>
                                    </template>
                                    <b-dropdown-item
                                        v-if="$can('admin', candidate) && user.id != candidate.assignee_id"
                                        @click="areUConfirmAssign(user)"
                                        :key="index"
                                        v-for="user, index in listUser">
                                        {{user.name}}
                                    </b-dropdown-item>
                                    <b-dropdown-item
                                        @click="areUConfirmAssign(assign_to_user, 'unassign')"
                                        v-if="candidate.assignee_id">
                                        <i>{{messages.SR_010_UNASSIGN}}</i>
                                    </b-dropdown-item>
                                </b-dropdown>
                            </li>
                            <li class="action">
                                <b-button variant="gray" @click="moveCandidate" v-tooltip="messages.SR_021_MOVE_POSITION">
                                <span class="move-icon">
                                    <i class="fa fa-file"></i>
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </span>
                                </b-button>
                            </li>
                            <li class="action" v-if="$can('admin', {company_id: currentCompany.id})">
                                <b-dropdown variant="gray" :text="messages.SR_028_MORE">
                                    <b-dropdown-item @click="copyCandidate">{{messages.SR_021_COPY_CANDIDATE}}</b-dropdown-item>
                                    <!--<b-dropdown-item>Add Task</b-dropdown-item>-->
                                    <!--<b-dropdown-item>Print Candidate</b-dropdown-item>-->
                                    <!--<b-dropdown-item>Share Candidate</b-dropdown-item>-->
                                    <!--<b-dropdown-item>Set Reminder</b-dropdown-item>-->
                                    <b-dropdown-item @click="confirmDeleteModal">{{messages.SR_021_OP_DEL}}</b-dropdown-item>
                                </b-dropdown>
                            </li>
                        </ul>
                        <ul class="actions">
<!--                            <li class="action">-->
<!--                                <b-button variant="gray" @click="followCandidate" v-tooltip="messages.SR_021_FOLLOW_CANDIDATE" :class="{following: candidate.follow_by != '' }">-->
<!--                                    <i class="fas fa-rss"></i>-->
<!--                                </b-button>-->
<!--                            </li>-->
                            <li class="action">
                                <b-button variant="gray"
                                          :class="addClassScore()"
                                          @click="showModalScorecard = true">
                                    <i class="fas fa-thumbs-up" v-if="isGood"></i>
                                    <i class="fas fa-thumbs-down" v-else-if="isPoor"></i>
                                    <i class="fas fa-circle" v-else></i>
                                    <span>&nbsp;{{messages.SR_021_BTN_YOUR_SCORE}}</span>
                                </b-button>
                            </li>
                        </ul>
                    </div>

                    <div class="media">
                        <div class="candidate-avatar-wrap">
                            <avatar class="avatar xl color2" :class="checkColorScore(candidate.overall_score.score)" :size="80" :username="candidate.name" :score="candidate.overall_score.score" :src="candidate.profile_photo_url"></avatar>
                        </div>
                        <div class="candidate-info">
                            <h1 class="name">
                                {{candidate.name}}
                                <a @click="starCandidate()">
                                    <i class="fas bookmark fa-star" :class="{'starred':checkStarCandidate()}"></i>
                                </a>
                            </h1><!-- ngIf: ::position.is_admin -->
                            <ul class="contact-points" v-if="$can('admin', positionCandidate)">
                                <li class="candidate-detail-item phone-number"
                                    :class="candidate.phone_number ? 'is-set' : 'not-set'">
                                    <a class="is-set">
                                        <i class="fa fa-phone"></i>
                                        <span> {{candidate.phone_number}}</span>
                                    </a>
                                    <a class="not-set" @click="openEditCandidate()">
                                        <i class="fa fa-plus mg-r"></i>
                                        <span> {{messages.SR_033_ADD_PHONE}}</span>
                                    </a>
                                </li>
                                <li class="candidate-detail-item email-address"
                                    :class="candidate.email_address ? 'is-set' : 'not-set'">
                                    <a class="is-set" target="_blank">
                                        <i class="fa fa-envelope"></i>
                                        <span class="ng-binding">&nbsp;{{candidate.email_address}}</span>
                                    </a>
                                    <a class="not-set" href="javascript:void(0)" @click="openEditCandidate()">
                                        <i class="fa fa-plus mg-r"></i>
                                        <span>&nbsp;{{messages.SR_033_ADD_EMAIL}}</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="candidate-stage">
                                <li v-if="candidate.position.name">
                                    <span>{{messages.SR_033_HEARD_TITLE_POSITIONS}} </span>
                                    <span>{{candidate.position.name}}</span>
                                </li>
                                <li v-if="otherPositionsOfCandidate.length > 1" >
                                    <div uib-dropdown="uib-dropdown" class="dropdown">
                                        <a href="javascript:void(0)"
                                           style="text-decoration: unset"
                                           uib-dropdown-toggle="uib-dropdown-toggle"
                                           class="dropdown-toggle"
                                           data-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="position-count ng-binding">{{messages.SR_033_HEARD_OTHER_POSITIONS}} ({{otherPositionsOfCandidate.length -1}}) </span>
                                            <!--                                        <i class="fa fa-caret-down"></i>-->
                                        </a>
                                        <ul class="dropdown-menu position-selector" role="menu">
                                            <!-- ngRepeat: candidate in candidate.other_positions -->
                                            <li v-if="candidateOther.id != candidate.id" class="card-box position ng-scope dropdown-item"
                                                v-for="candidateOther in otherPositionsOfCandidate"
                                                @click="navigateToCandidate(candidateOther)">
                                                <div>
                                                    <div style="display: flex">
                                                    <span>
                                                        <i style="font-size: 8px;display:inline-block;vertical-align: middle;" class="fa fa-circle" :class="getPositionOtherCandidate(candidateOther)"></i>&nbsp;
                                                    </span>
                                                        <h3 style="">
                                                            <span class="ng-binding">{{candidateOther.position.name}} </span>
                                                        </h3>
                                                    </div>

                                                    <div style="" class="position-body" v-if="candidateOther.position.location.title" >
                                                        <!-- ngIf: candidate.position.org_type === "pool" -->
                                                        <!-- ngIf: candidate.position.org_type !== "pool" && candidate.position.location.is_remote -->
                                                        <!-- ngIf: candidate.position.org_type !== "pool" && !candidate.position.location.name && !candidate.position.location.is_remote -->
                                                        <!-- ngIf: candidate.position.org_type !== "pool" && candidate.position.location.name && !candidate.position.location.is_remote -->
                                                        <p ng-if="candidate.position.location.name" class="ng-scope">
                                                            <i class="fa fa-map-marker-alt"></i>&nbsp;
                                                            <span class="ng-binding">{{getLocation(candidateOther)}}</span>
                                                        </p>
                                                        <!-- end ngIf: candidate.position.org_type !== "pool" && candidate.position.location.name && !candidate.position.location.is_remote -->
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- end ngRepeat: candidate in candidate.other_positions -->
                                        </ul>
                                    </div>
                                    <!--                                <span>{{messages.SR_033_HEARD_OTHER_POSITIONS}} </span>-->
                                    <!--                                <span>{{candidate.name}}</span>-->
                                </li>
                                <li>

                                </li>
                                <li>
                                    <span>{{messages.SR_033_HEARD_TITLE_SOURCE}} </span>
                                    <span>{{candidateSourceName}}</span>
                                </li>
                                <li class="split-hide">
                                    <span>{{messages.SR_033_HEARD_TITLE_STAGE}} </span>
                                    <span class="heavy stage applied">{{candidate.stage.name}}</span>
                                </li>
                                <li v-if="candidate.sourced_by.name" class="ng-scope">
                                    <span>{{messages.SR_033_HEARD_TITLE_ADDED_BY}} </span>
                                    <span class="heavy sourced-by-name ng-binding">{{candidate.sourced_by.name}}</span>
                                </li>
                                <li class="ng-scope" v-if="candidate.assignee && candidate.assignee.name">
                                    <span>{{messages.SR_021_TITLE_ASSIGN}}: </span>
                                    <span class="heavy stage ng-binding">{{candidate.assignee.name}}</span>
                                </li>
                            </ul>
                            <!--                        <ul class="candidate-tags ng-scope inactive" :class="showAddTags ? 'active' : 'inactive'"-->
                            <!--                            v-if="currentUser.role === 'admin'">&lt;!&ndash; ngRepeat: tag in candidate.tags track by $index &ndash;&gt;-->
                            <!--                            <li>-->
                            <!--                                <a class="add" href="#" @click="openAddTags()">-->
                            <!--                                    <i class="fa fa-plus"></i>-->
                            <!--                                    <span> Add tag</span>-->
                            <!--                                </a>-->
                            <!--                            </li>-->
                            <!--                        </ul>&lt;!&ndash; end ngIf: ::position.is_admin &ndash;&gt;</div>-->
                        </div>
                    </div>


                </div>
                <div class="candidate-actions">
                    <div class="section" v-if="$can('admin', positionCandidate)">
                        <ul class="actions">
                            <!--CHANGE STATE-->
                            <li class="action">
                                <b-dropdown variant="blue" class="custom-dropdown">
                                    <template slot="button-content">
                                        <i class="fas fa-arrows-alt-h"></i>
                                        <span>&nbsp;Change state</span>
                                    </template>
                                    <b-dropdown-item>Test</b-dropdown-item>
                                    <b-dropdown-item>Replace this</b-dropdown-item>
                                </b-dropdown>
                            </li>
                            <!--SCHEDULE INTERVIEW-->
                            <li class="action" v-if="candidate.email_address && $can('admin', {company_id: currentCompany.id})">
                                <b-button variant="gray" type="button" @click="scheduleInterview()">
                                    <i class="fa fa-calendar-alt"></i>
                                    <span>&nbsp;Schedule Meeting</span>
                                </b-button>
                            </li>
                            <!--SEND EMAIL-->
                            <li class="action" v-if="candidate.email_address">
                                <b-button variant="gray" type="button" @click="showEmailModal()">
                                    <i class="fa fa-envelope"></i>
                                    <span>&nbsp;Send Email</span>
                                </b-button>
                            </li>
                        </ul>
                    </div>
<!--                    <div class="section">-->
<!--                        <ul class="actions">-->
<!--                            <li class="action">-->
<!--                                <b-button variant="gray" type="button" @click="openPostNote">-->
<!--                                    <i class="fa fa-comments"></i>-->
<!--                                    <span>&nbsp;Team Message</span>-->
<!--                                </b-button>-->
<!--                            </li>-->
<!--                            <li class="action">-->
<!--                                <b-button variant="gray"-->
<!--                                          @click="openCandidateScorecard"-->
<!--                                          :disabled="true"-->
<!--                                          :class="addClassScore()">-->
<!--                                    <i class="fa fa-thumbs-up" v-show="isGood" style=""></i>-->
<!--                                    <i class="fa fa-thumbs-down" v-show="isPoor"></i>-->
<!--                                    <i class="fa fa-circle" v-show="!(isGood || isPoor)"></i>-->
<!--                                    <span>&nbsp;{{messages.SR_021_BTN_YOUR_SCORE}}</span>-->
<!--                                </b-button>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>
                <div class="candidate-content" style="min-height: 500px">
                    <CandidateModalSidebar></CandidateModalSidebar>
                    <div class="candidate-content-left">
                        <CandidateNavLeft></CandidateNavLeft>
                        <keep-alive>
                            <router-view name="modal_child" :candidate="candidate" class="content-section"></router-view>
                        </keep-alive>
                    </div>
                    <CandidateRight class="candidate-content-right"></CandidateRight>
                </div>
            </div>
        </div>
<!--        <b-modal id="add-email" title="Add Email"></b-modal>-->
        <AddEmail :showModal="show_modal" v-on:dismissModal="closeModal()"></AddEmail>
        <ScheduleInterviews :currentPosition="positionCandidate"
            :currentCandidate="candidate"
            :type="typeSchedule"
            :showModal="show_modal_schedule"
                            v-if="$can('schedule_interview', candidate) || $can('admin', positionCandidate)"
            v-on:closeModal="handleScheduleClose"></ScheduleInterviews>
        <UnSavedChangeModal
            :showModal="isShowModalConfirm"
            :title-modal="titleUnsaved"
            :sub-title-modal="subTitleUnsaved"
            :title-ok-button="messages.SR_021_DES_OKAY"
            @handleSaveChange="chooseAction"
            @handleClose="isShowModalConfirm=false"/>
        <SendEmailCandidateModal
            @handleCloseModal="showModalSendEmail = false"
            :currentCandidate="candidate"
            :currentPosition="positionCandidate"
            :showModal="showModalSendEmail"/>
        <CopyCandidate
            @handleCloseModal="showModalCopy = false"
            :type="typeMove"
            :candidate="candidate"
            :showModal="showModalCopy"/>
        <ModalYourScorecard
            @dismiss="closeModalScorecard()"
            :showModal="showModalScorecard"
            :candidateScoreCard="currentCandidate"
            ref="my-scorecard">
        </ModalYourScorecard>
    </div>
</template>

<style lang="scss">
    @import "~styles/candidate_view";
</style>
<style lang="scss">
    /*.modal-unsaved-change .modal-header{*/
    /*    background: white;*/
    /*}*/
</style>

<script lang="ts">
    import Vue from "vue";
    import avatar from 'vue-avatar';
    import SendEmailCandidateModal from '@/components/Position/SendEmailCandidateModal.vue';
    import CopyCandidate from '@/components/Position/CopyCandidate.vue';
    import {mapGetters, mapMutations, mapActions} from "vuex";
    import Candidate from "@/models/Candidate";
    import CandidateModalSidebar from "@/components/modals/Candidate/CandidateModalSidebar.vue";
    import CandidateNavLeft from "@/components/modals/Candidate/CandidateNavLeft.vue";
    import CandidateRight from "@/components/modals/Candidate/CandidateRight.vue";
    import AddEmail from "@/components/modals/Candidate/ComponentCandidate/AddEmail.vue";
    import ModalYourScorecard from "@/components/modals/Candidate/ComponentCandidate/modalYourScorecard.vue";
    import ScheduleInterviews from '@/components/modals/ScheduleInterviews.vue'
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import { Watch, Prop, Component } from 'vue-property-decorator';
    import moment from "moment";
    import User from '@/models/User.ts';
    import PipelineStage from "@/models/PipelineStage";
    import Activity from "@/models/Activity";
    import Schedule from "@/models/Schedule";
    import _ from "lodash";
    import debounce from 'lodash/debounce'
    import Position from "@/models/Position";
    import {messages} from "@/messages";
    import axios from "axios"
    moment.locale('vi');
    moment.updateLocale('vi', {
        meridiem : function (hours, minute, isLowercase) {
            if (hours < 12) {
                return  'SA' ;
            } else {
                return  'CH' ;
            }
        }
    });
    import {requestFunctionUrl, server_time} from '@/firebase/index'
    import PositionPipelineAction from "@/models/PositionPipelineAction";

    // The @Component decorator indicates the class is a Vue component
    //@ts-ignore
    @Component({
        components: {
            CandidateModalSidebar,
            CandidateNavLeft,
            CandidateRight,
            avatar,
            AddEmail,
            ScheduleInterviews,
            UnSavedChangeModal,
            SendEmailCandidateModal,
            CopyCandidate,
            ModalYourScorecard
        },
        // All component options are allowed in here
        // template: '<button @click="onClick">Click!</button>'
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                "currentUser",
                "currentCompany",
                "currentCandidate",
                "currentInterview",
                'positionCandidate',
                'scorecardPosition',
                'companyUsers',
                'listPosition',
                'otherPositionsOfCandidate'
                // ...
            ]),
            ...mapGetters({
                // map `this.doneCount` to `this.$store.getters.doneTodosCount`
                candidate: 'currentCandidate',
                listPipelineStage: 'listPipelineStage'
            }),
            candidateSourceName(){
                let that = this as any;
                if(that.candidate.source.id == 'Portal'){
                    return messages.SR_028_PORTAL
                }else if( !that.candidate.source.id){
                    return messages.COMMON_SOURCED
                }else{
                    return that.candidate.source.name
                }
            }
        },

        watch:{
            candidate(val){
                let that = this as any;
                // if (that.candidate){
                //
                //     new Candidate().getPositionOfCopyCandidate(that.candidate).then((candidates)=>{
                //         that.copyCandidateInAnotherPosition = candidates;
                //         console.log(that.copyCandidateInAnotherPosition);
                //     })
                //     // let candidateObject = new Candidate();
                //     // Object.assign(candidateObject, that.candidate);
                //     // // @ts-ignore
                //     // if (candidateObject.unseen){
                //     //     // @ts-ignore
                //     //     candidateObject.unseen = false;
                //     //     // @ts-ignore
                //     //     candidateObject.update();
                //     // }
                // }
            },
            currentInterview:{
                handler(val,oldval){
                    let that = this as any
                    if(val){
                        that.getFirstMeeting();
                    }
                }, deep: true
            }
        },
        methods: {
            ...mapActions([
                'cancelInterview',
                "clearTasksCandidate",
                'clearTasksCandidate',
                'getCandidate',
                'getCurrentInterview',
                'getListPipelineStage',
                'doActionSetted',
                'removeCandidate'
            ]),
            ...mapMutations([
                'setCurrentInterview',
                'setCurrentScheduleMeeting',
                'setNeedRefetchKanban',
                'setCandidateOrtherPosition'
            ])
        },
    })
    export default class CandidateModal extends Vue {

        /*props*/
        @Prop({default: null})
        some_prop: boolean;
        typeSchedule: string = 'new';
        listStage: Array<object> = [];
        titleUnsaved: string = '';
        subTitleUnsaved: string = '';
        typeConfirm: string = '';
        showModalSendEmail: boolean = false;
        showModalCopy: boolean = false;
        typeMove: string = 'copy';
        /*data*/
        // currentCompany: any
        // currentUser: any
        // currentCandidate: Candidate
        show_modal: boolean = false;
        showModalScorecard: boolean = false;
        show_modal_schedule: boolean = false
        candidate: Candidate;
        isShowModalConfirm: boolean = false;
        assign_to_user: object = {};
        firstMeeting: object = {};
        isLoading: boolean = false;
        needRefetchKanban: object = {
            status: false,
            stage:{
                id: ''
            }
        };

        // copyCandidateInAnotherPosition: Array<object> = [];
        // candidate:any = {
        //     name: "Dinh Tung",
        //     // @ts-ignore
        //     email: "gmaail@tung.com",
        //     // @ts-ignore
        //     phone: null,
        //     photo: null,
        //     starred: true,
        // }
        /*computed*/
        get candidate_id(): string {
            let that = this as any
            return that.$route.params.candidate_id;
        }
        get listUser(): Array<object> {
            let that = this as any;
            return that.companyUsers;
        }
        get doIFollow(): boolean {
            return 1 + 1 == 2;
        }
        get hasDisqualifiedStage(): boolean{
            let that = this as any
            let result = that.listPipelineStage.findIndex((stage)=>{
                return stage.stage_type == 'disqualified';
            })
            return result > -1 ? true : false;
        }
        get isGood(): boolean {
            let that = this as any
            let overall_score = that.getYourScore()
            if(overall_score == 'good' || overall_score == 'very_good' ){
                return true;
            }else{
                return false
            }
        }

        get isPoor(): boolean {
            let that = this as any
            let overall_score = that.getYourScore()
            if(overall_score == 'poor' || overall_score == 'very_poor' ){
                return true;
            }else{
                return false
            }
        }

        get showAddTags(): boolean {
            return true;
        }

        get isMyPosition(): boolean {
            // TODO: handle this
            return true;
        }

        // mounted
        // async mounted() {
        async mounted() {
            let that = this as any;
            that.isLoading = true;
            that.$emit("changeMaxWidth", 1200);

            that.clearTasksCandidate();
            that.handleScheduleClose();

            // Reset data to default.
            that.setCandidateOrtherPosition([]);
            that.isLoading = false;
        }



        /*methods*/
        cancelInterview(){
            let that = this as any;
            let confirmRemoveMeeting = confirm(messages.SR_008_CALENDAR_CONFIRM_DELETE);
            if (confirmRemoveMeeting == true) {
                new Schedule().getById(that.firstMeeting.id).then((data:any)=>{
                    let activity = new Activity();
                    data.cancelSchedule().then(()=>{
                        activity.target_object = data.cloneNewObject();
                        activity.company_id = that.currentCompany.id;
                        activity.position_id = that.currentCandidate.position_id;
                        activity.candidate_id = that.currentCandidate.id;
                        activity.actor = that.currentUser.cloneNewObject();
                        activity.title = `${that.currentCandidate.name} ${that.messages.SR_037_MEETING} (${that.currentCandidate.position.name})`;
                        activity.action_text = that.messages.SR_037_CANCELED_MEETING;
                        activity.activity_type = "meeting";
                        activity.action = "canceled";
                        activity.insert();
                        that.getCurrentInterview(that.candidate_id).then(()=>{
                            that.getFirstMeeting();
                        });
                        console.log('Cancel Complete!');
                    })
                })
            } else {

            }
        }
        getLocation(candidate) {
            let that = this as any;
            let position = that.listPosition.find((pos) => {
                return pos.id == candidate.position_id;
            })
            if (position && position.location) {
                return position.state ? `${position.state}, ${position.location.title}`: `${position.location.title}`;
            }
            return candidate.position.location.title;
        }
        closeModalScorecard(){
            let that = this as any
            that.showModalScorecard = false
        }
        moveCandidate(){
            this.typeMove = 'move';
            this.showModalCopy = true;
        }
        isMissingEmail() {
            return this.candidate.email_address == '' || this.candidate.email_address == null;
        }
        navigateToCandidate(candidate){
            let that = this as any
            // let router = {
            //     name: 'Positions',
            //     params:{
            //         candidate_id: candidate.id,
            //         is_other_position_candidate: 'other-position',
            //     }
            // }
            if(candidate.id != that.candidate.id ){
                that.$modal.hide('modal');
                setTimeout(()=>{
                    that.$router.push({path:`/candidate/${candidate.id}`})
                },500)
            }


        }
        getPositionOtherCandidate(candidate){
            let that = this as any
            let index_position = _.findIndex(that.listPosition, function(position) { return position['id'] == candidate.position_id; });
            if(index_position != -1){
                return that.listPosition[index_position].status ? that.listPosition[index_position].status:""
            }else{
                return ""
            }

        }
        showEmailModal(): void {
            let that = this as any
            if (that.isMissingEmail()){
                that.titleUnsaved = that.messages.SR_021_MISSING_EMAIL;
                that.subTitleUnsaved = that.messages.SR_021_SUB_MISSING_EMAIL2;
                that.typeConfirm = 'missingEmail';
                that.isShowModalConfirm = true;
            }else{
                that.showModalSendEmail = true;
            }
        }
        closeModal(): void {
            (this as any).show_modal = false
        }
        copyCandidate(): void{
            this.typeMove = 'copy';
            this.showModalCopy = true;
        }
        chooseAction(){
            let that = this as any;
            switch (that.typeConfirm) {
                case 'changeStage':
                    let result = that.listPipelineStage.find((stage)=>{
                        return stage.stage_type == 'disqualified';
                    })
                    if (result){
                        that.changeStage(result);
                    }
                    break;
                case 'assign':
                    that.assignTask();
                    break;
                case 'deleteCandidate':
                    that.$router.replace(that.$store.state.last_route);
                    // this.$modal.hide('modal');
                    that.removeCandidate(that.candidate.id);
                    // that.candidate.delete().then(()=>{
                    // });
                    break;
                case 'missingEmail':
                    this.openEditCandidate();
                    this.isShowModalConfirm = false;
                    break;
                default:
                    break;
            }
        }

        confirmDeleteModal(){
            let that = this as any
            that.typeConfirm = 'deleteCandidate';
            that.titleUnsaved = that.messages.SR_021_DEL_CANDIDATE;
            that.subTitleUnsaved = that.messages.SR_021_SUB_DEL_CANDIDATE;
            that.isShowModalConfirm = true;
        }

        dropCandidateToDisqualified(){
            let that = this as any;
            that.typeConfirm = 'changeStage';
            that.titleUnsaved = that.messages.SR_021_SUB_DISQUALIFY_CANDIDATE;
            that.subTitleUnsaved = `${that.messages.SR_021_PRE_SUB_DISQUALIFY_CANDIDATE} ${that.positionCandidate.title} ${that.messages.SR_021_SUFFIX_SUB_DISQUALIFY_CANDIDATE}`;
            that.isShowModalConfirm = true;
        }
        changeStage(stage){
            let that = this as any;
            if (stage.id != that.candidate.stage.id){
                let activity = new Activity();
                activity.currentStage = that.currentCandidate.stage;
                that.candidate.stage_id = stage.id;
                that.candidate.stage = {
                    id: stage.id,
                    name: stage.title,
                    type: stage.stage_type
                }
                that.candidate.update().then((data)=>{
                    // TODO: Improve this :(.
                    // Cheat để reload lại kanban. Nếu đang mở modal này ở Kanban
                    that.needRefetchKanban = {
                        status: true,
                        stage:{
                            id: 'all'
                        }
                    };

                    new PositionPipelineAction().getActionsByPositionStage(that.positionCandidate.id, that.candidate.stage_id).then((dataPL)=>{
                        // Send email nếu stage đó có action.
                        that.doActionSetted({
                            actions: dataPL.actions,
                            candidate: that.candidate,
                            position: that.positionCandidate,
                            companyUsers: that.companyUsers,
                            currentUser: that.currentUser,
                        }).then(()=>{
                            console.log('Send email actions success!!!');
                        })

                    })


                    activity.company_id = that.currentCompany.id;
                    activity.position_id = that.positionCandidate.id;
                    activity.candidate_id = that.currentCandidate.id;
                    activity.actor = that.currentUser.cloneNewObject();
                    activity.action_text = that.messages.SR_037_UPDATE;
                    activity.activity_type = "log";
                    activity.action = "updated";
                    activity.target_object = that.candidate.cloneNewObject();
                    activity.insert();
                    console.log('Done update');
                    that.isShowModalConfirm = false;
                })
            }

        }
        getFirstMeeting(){
            let that = this as any;
            let currentInterviewFromNow = that.currentInterview.filter((meeting)=>{
                let currentDate = moment(server_time.now).format('MM DD YYYY');
                let compareDate = moment(meeting.start_time).format('MM DD YYYY');
                if (currentDate<= compareDate){
                    return meeting;
                }
            });
            if (currentInterviewFromNow.length > 0){
                that.firstMeeting =  _.sortBy(currentInterviewFromNow, (meeting)=>{
                    return new Date(meeting.start_time);
                })[0];
            }
        }
        scheduleInterview(): void {
            let that = this as any
            that.typeSchedule = 'new';
            if (that.isMissingEmail()){
                that.titleUnsaved = that.messages.SR_021_MISSING_EMAIL;
                that.subTitleUnsaved = that.messages.SR_021_SUB_MISSING_EMAIL;
                that.typeConfirm = 'missingEmail';
                that.isShowModalConfirm = true;
            }else{
                that.typeSchedule = 'new';
                that.show_modal_schedule = true;
            }
        }
        rescheduleInterview() {
            let that = this as any;

            let currentScheduleMeeting = {
                interviewDate: that.firstMeeting.interview_date,
                timezone: that.firstMeeting.timezone,
                listMeeting: [_.cloneDeep(that.firstMeeting)],
            };

            that.setCurrentScheduleMeeting(currentScheduleMeeting);
            that.typeSchedule = 'edit';
            that.show_modal_schedule = true;
        }
        assignTask(){
            let that = this as any;
            that.candidate.assignee_id = that.assign_to_user != null ? that.assign_to_user.id : '';
            that.candidate.assignee = that.assign_to_user != null ? that.assign_to_user.cloneNewObject() : {};
            that.candidate.update().then(()=>{
                that.addLogAssignCandidate(that.candidate);
                that.sendEmailAssignCandidate(that.candidate);
                console.log("Done");
            });
            that.isShowModalConfirm = false;
        }
        sendEmailAssignCandidate(candidate){
            let that = this as any;
            let data = {
                toWho:{
                    name: candidate.assignee.name,
                    email: candidate.assignee.email,
                },
                data:{
                    actor: that.currentUser.name,
                    candidate_name: candidate.name,
                    link: `${window.location.origin}/candidate/${candidate.id}/experience/`,
                }
            };
            axios.post(requestFunctionUrl('sendEmailAssignCandidate'), data)
                .then(function (response) {
                    console.log(response)
                })
                .catch(function (error) {
                    console.log(error)
                });
        }
        addLogAssignCandidate(candidate){
            let that = this as any;
            let activity = new Activity();
            activity.company_id = that.currentCompany.id;
            activity.position_id = that.positionCandidate.id;
            activity.candidate_id = that.currentCandidate.id;
            activity.actor = that.currentUser.cloneNewObject();
            activity.title = `${that.currentCandidate.name} ${that.messages.SR_037_MEETING} (${that.positionCandidate.title})`;
            if (that.assign_to_user != null){
                if(that.assign_to_user.id != that.currentUser.id){
                    activity.action_text = `${that.messages.SR_037_WAS_ASSIGNED_TO} ${that.assign_to_user.name}`;
                }else {
                    activity.action_text = `${that.messages.SR_037_WAS_ASSIGNED_TO} ${that.messages.SR_037_YOU}`;
                }
            }else{
                activity.action_text = that.messages.SR_037_WAS_ASSIGNED_TO;
            }
            activity.activity_type = "log";
            activity.action = "assigned";
            activity.target_object = candidate.cloneNewObject();
            activity.insert();
        }
        areUConfirmAssign(user, type){
            let that = this as any;
            that.typeConfirm = 'assign';
            if (type == 'unassign'){
                that.assign_to_user = null;
                that.titleUnsaved = that.messages.SR_021_TITLE_UNASSIGN;
                that.subTitleUnsaved = `${that.messages.SR_021_PRE_SUB_UNASSIGN} ${that.candidate.name} ${that.messages.SR_021_SUFFIX_SUB_UNASSIGN}`;
                that.isShowModalConfirm = true;
            }else{
                that.assign_to_user = user;
                that.titleUnsaved = that.messages.SR_021_TITLE_SAVE_ASSIGN;
                that.subTitleUnsaved = `${that.messages.SR_021_PRE_SUB_ASSIGN} ${that.candidate.name} ${that.messages.SR_021_TO} ${user.name}?`;
                that.isShowModalConfirm = true;
            }

        }
        followCandidate(){
            let that = this as any;
            if (that.candidate.follow_by != ''){
                that.candidate.follow_by = '';
            }else{
                that.candidate.follow_by = that.currentUser.id;
            }
            that.candidate.update().then((data)=>{
            })
        }

        formatDate(date) {
            return moment(date).format("ll hh:mm A")
        }
        showSendQuestionnaireModal(): void {

        }
        getYourScore(): string {
            let that = this as any
            let new_score
            let overall_score = ''
            let new_overall_score =  Object.keys(that.currentCandidate.overall_score).map((index)=>{
                    if(index != 'scored_count' && index != 'score')
                        new_score = that.currentCandidate.overall_score[index].map((id)=>{
                            if(id == that.currentUser.id) overall_score = index ;
                            return id != that.currentUser.id
                        })
                    return that.currentCandidate.overall_score
                })
            return overall_score
        }
        addClassScore(): string{
            let that = this as any
            let score_current = that.getYourScore()
            let class_score = ''
            switch(score_current){
                case 'very_good':
                    class_score = "score-green"
                    break
                case 'good':
                    class_score = "score-green"
                    break
                case 'neutral':
                    class_score = "score-yelow"
                    break
                case 'poor':
                    class_score = "score-red"
                    break
                case 'very_poor':
                    class_score = "score-red"
                    break
                default:
                    break
            }
            return class_score
        }

        showSendAssessmentModal(): void {

        }

        starCandidate() {
            let that = this as any
            let candidate_id = that.candidate.id
            let candidate_name = that.candidate.name
            const data_candidate = {
                id: candidate_id,
                name: candidate_name
            };
            if (that.currentUser) {
                if (that.currentUser.candidate_star) {
                    const indexID = that.currentUser.candidate_star.findIndex(u => u.id == candidate_id);
                    if (indexID !== -1) {
                        that.currentUser.candidate_star.splice(indexID, 1);
                    } else {
                        that.currentUser.candidate_star.push(data_candidate);
                    }

                } else {
                    that.currentUser.candidate_star = [];
                    that.currentUser.candidate_star.push(data_candidate);
                }

                that.currentUser.update().then(result => {

                }).catch(err => {
                    console.log(err);
                })
            }
        }
        checkStarCandidate() {
            let that = this as any;
            let candidate_id = that.candidate.id
            let flag = false;
            if (that.currentUser.candidate_star) {
                const indexID = that.currentUser.candidate_star.findIndex(u => u.id == candidate_id);
                if (indexID !== -1) {
                    flag = true;
                }
            }
            return flag;
        }


        openPostNote(): void {

        }
        checkColorScore(score): string{
            if(score == 0){
                return 'yelow-point'
            }else if(score > 0){
                return 'green-point'
            }else{
                return 'red-point'
            }
        }

        openCandidateScorecard(): void {

        }

        openEditCandidate(): void {
            // (this as any).$bvModal.show('add-email');
            (this as any).show_modal = true
        }
        handleScheduleClose() {
            let that = this as any;
            that.show_modal_schedule = false;
            that.getCurrentInterview(this.candidate_id).then((data)=>{
                that.getFirstMeeting();
                console.log(data)

                console.log('Reload candidates');
            })
        }
        destroyed(): void {
            let that = this as any;
            that.setCurrentInterview([]);
            that.$store.dispatch('resetCandidate')
            that.$emit("changeMaxWidth", 900);
            console.log('Destroyed');
        }
    }
</script>
<style scoped lang="scss">
    .mg-r{
        margin-right: 10px;
    }
    .candidate-info a{
        cursor: pointer;
    }
    .avatar[score]:after {
        background-color: #fff9db;
        border: 2px solid #edeff0;
        border-radius: 44px;
        color: #fff;
        content: attr(score);
        display: inline-block;
        font-size: 12px;
        height: 29px;
        left: 47px;
        line-height: 16px;
        padding: 6px 0;
        position: absolute;
        text-align: center;
        top: 60px;
        width: 29px;
        z-index: 3;
    }
    .candidate-modal-view-container{
        .position-selector{
            padding: 0;
            max-height: 250px;
            overflow-y: auto;
        li.card-box{
            &.position{
                &:hover{
                    background-color: #f5f5f5;
                }
                width: unset;
                max-width: 200px;
                background-color: initial;
                border: none;
                padding: 5px;
                cursor: pointer;
                display: block;
                line-height: 14px;
                h3{
                    /*padding-left: 5px;*/
                    display: inline-block;
                    font-size: 12px !important;
                    font-weight: 400;
                    color: #4c555c;
                    margin-bottom: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    line-height: 14px;
                }
                .position-body{
                    margin-bottom: 0;
                    color: #68747e;
                    font-size: 11px;
                    p{
                        font-weight: 200;
                        font-size:11px !important;
                        margin-bottom: 2px !important;
                    }
                }
        }
    }
    }
    }
    .avatar[score].green-point:after {
        background-color: #76d691;
    }
    .avatar[score].yelow-point:after {
        background-color: #f5d44f;
    }
    .avatar[score].red-point:after {
        background-color: #e15258;
    }
    .btn.score-green{
        background-color: #76d691 !important;
        border-color:#76d691;
        color: #fff !important;
    }
    .btn.score-yelow{
        background-color: #f5d44f !important;
        border-color: #f5d44f;
        color: #fff !important;
    }
    .btn.score-red{
        background-color: #e15258 !important;
        border-color: #e15258;
        color: #fff !important;
    }
    .candidate-info{
        a{
            cursor: pointer;
            .starred {
                color: #F9E921;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #d7ce51
            }
        }

    }

    .candidate-header .media{
        /*display: block;*/
        /*overflow: hidden;*/
        /*_overflow: visible;*/
        /*zoom: 1;*/

        .candidate-header-actions{

        }
        .candidate-avatar-wrap{
            float: left;
            margin-bottom: 0;
            font-size: 74px;
            color: #007dab;
            font-weight: 500;
            margin-right: 10px;
            width: 80px;
            height: 80px;
        }
        .candidate-info{
            /*overflow: auto;*/
            /*margin: 0;*/
            margin-left:10px!important;
            max-width: 500px;
            h1{
                line-height: 64px;
            }
        }
    }



</style>
