<template>
    <div>
        <nav class="mb-0">
            <ul class="mb-0">
                <li v-for="(item, idx) in menu" :key="idx"
                    :class="{active: item.to === activePath}"
                    @click="choose(item.to)">
                    <span>{{item.title}}</span>
                </li>
            </ul>
        </nav>
        <div class="content-section-wrapper">
            <!--<keep-alive>-->
                <component
                    @handleOpenModalMissingEmail="toogleModalMissingEmail"
                    :is="currentComponent"></component>
            <!--</keep-alive>-->
        </div>


        // Missing Email
        <UnSavedChangeModal
            :showModal="isShowModalConfirm"
            :title-modal="titleUnsaved"
            :sub-title-modal="subTitleUnsaved"
            :title-ok-button="messages.SR_021_DES_OKAY"
            @handleSaveChange="handleOkayAction"
            @handleClose="isShowModalConfirm=false"/>
        // Update email, phone candidate
        <AddEmail :showModal="isShowModalUpdateInfo" v-on:dismissModal="isShowModalUpdateInfo = false"></AddEmail>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Router from '@/router';
    import Discussion from './Tab/Discussion.vue';
    import Calendar from './Tab/Calendar.vue';
    import EmailTab from './Tab/Email.vue';
    import ScorecardTab from './Tab/Scorecards.vue';
    import NotesTab from './Tab/Notes.vue';
    import TasksTab from './Tab/Tasks.vue';
    import {messages} from "@/messages";
    import UnSavedChangeModal from '@/components/modals/UnsavedChange.vue';
    import AddEmail from "@/components/modals/Candidate/ComponentCandidate/AddEmail.vue";
    import { Watch, Prop, Component } from 'vue-property-decorator';
    @Component({
        components:{
            UnSavedChangeModal,
            AddEmail
        }
    })
    export default class CandidateRight extends Vue {
        isShowModalConfirm: Boolean = false;
        isShowModalUpdateInfo: Boolean = false;
        titleUnsaved: String = '';
        subTitleUnsaved: String = '';
        get candidate() {
            return this.$store.getters.currentCandidate;
        }

        get menu() {
            return [
                {
                    title: messages.SR_038_DISCUSSION,
                    to: 'discussion',
                    can: ['view discussion', this.candidate],
                },
                {
                    title: messages.SR_021_KANBAN_CALENDAR,
                    to: 'calendar',
                    can: ['view calendar', this.candidate],
                },
                {
                    title: messages.SR_038_SCORECARDS,
                    to: 'scorecards',
                    can: ['view scorecards', this.candidate],
                },
                {
                    title: messages.SR_038_NOTES,
                    to: 'notes',
                    can: ['view notes', this.candidate],
                },
                {
                    title: messages.SR_032_MSG_PLACEHOLDER_EMAIL,
                    to: 'email',
                    can: ['view email', this.candidate],
                },
                {
                    title: messages.SR_021_KANBAN_TASKS,
                    to: 'tasks',
                    can: ['view tasks', this.candidate],
                },
            ];
        }

        get activePath(): string {
            if (this.$route.query.right) {
                if (typeof this.$route.query.right === "object") {
                    return this.$route.query.right[0];
                } else {
                    return this.$route.query.right;
                }
            }
            return this.menu[0].to;
        }

        get currentComponent(): any {
            switch (this.activePath) {
                case "discussion":
                    return Discussion;
                    break
                case "calendar":
                    return Calendar;
                    break
                case "scorecards":
                    return ScorecardTab;
                    break
                case "notes":
                    return NotesTab;
                    break
                case "email":
                    return EmailTab;
                    break
                case "tasks":
                    return TasksTab;
                    break
                default:
                    this.choose(this.menu[0].to);
                    break
            }
        }

        // METHOD
        choose(to: string): void {
            let that = this as any;
            that.$router.push({
                query: {
                    ...that.$route.query,
                    right: to,
                }
            });
        }

        toogleModalMissingEmail(data){
            if (data){
                this.titleUnsaved = data.titleModal;
                this.subTitleUnsaved = data.subTitleModal;
            }
            this.isShowModalConfirm = !this.isShowModalConfirm;
        }
        handleOkayAction(){
            this.toogleModalMissingEmail({});
            this.isShowModalUpdateInfo = true;
        }
    }
</script>
