<template>
    <b-modal
        :hide-footer="true"
        no-close-on-esc
        no-close-on-backdrop
        v-model="showModal"
        modal-class="confirm-change-position"
       >
        <div>
            <h3 >{{messages.SR_028_MOVE_MODAL_TITLE}}</h3>
            <p>{{messages.SR_028_MOVE_MODAL_DESCR}}</p>
            <Select
                v-model="selected_position"
                filterable
                @change="onSelectPosition"
                default-first-option
                popper-class="select_position"
                :no-match-text="messages.SR_032_TEXT_NOT_FOUND"

                value-key="value"

                autocomplete
                :placeholder="messages.SR_032_LABEL_CHOOSE_POSITION">
                <Option
                    v-for="item in position_options"
                    :key="item.value"
                    :label="item.text"
                    :value="item.value">

                    <div class="ui-select-choices-row-inner">
                        <div class="card position">

                            <div class="card-box position">
                                <h3>
                                    <i class="fa fa-circle"
                                       :class="{ published:item.status==='published', draft:item.status==='draft', closed: item.status==='closed' }"></i>
                                    <span> {{ item.title }}</span>
                                </h3>
                                <div class="">
                                    <p>
                                        <i class="fa fa-map-marker-alt" ></i><span> {{ item.formated_location }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </Option>
            </Select>
            <div class="text-right">
                <button class="btn btn-none" @click="handleCloseModal" type="button" style="margin-right:10px">{{messages.SR_028_MODAL_CONFIRM_DELETE_CANDIDATE_NO}}</button>
                <button class="btn btn-blue" @click="handleSaveChange" type="button" ng-click="yes()">
                    <i class="fa fa-check"></i>
                    {{messages.SR_028_MODAL_CONFIRM_DELETE_CANDIDATE_YES}}
                </button>
            </div>
        </div>
    </b-modal>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Pipeline from '@/models/Pipeline';
    import PipelineStage from '@/models/PipelineStage';
    import Position from '@/models/Position';

    const _ = require('lodash');

    export default Vue.extend ({

        name: "ChangePositionCandidate",
        props: {
            showModal: {
                type: Boolean,
                default: false
            },
        },

        data(){
          return {
              selected_position : null,
              position_options:[],
              all_pipeline_stages:null,
              pipeline_stage_options:[],
              selected_pipeline:null,
              selected_pipeline_stage:null,
              all_positions:[]

          }
        },

        methods: {
            handleSaveChange(){
                let that = this as any;
                that.$emit('handleSaveChange')
            },
            handleCloseModal() {
                let that = this as any;
                that.$emit('handleClose')
            },
            findIndexDefaultPipelineStage(all_pipeline_stages){
                let found_index = -1
                found_index = all_pipeline_stages.findIndex((ps, index)=>{
                    return ps.stage_type == 'applied'
                })
                return found_index

            },
            async getAllCompanyPositions(){
                let that = this as any;
                let all_positions = await new Position().getAllPositions();

                that.all_positions = all_positions
                console.log(all_positions)

                let formated_location_postions=Position.getFormatedLocationPositions(that.all_positions)

                // that.position_options = all_positions.map(function (position) {
                that.position_options = formated_location_postions.map(function (position) {
                    let p = position
                    p['value'] = position['id']
                    p['text'] = position['title']
                    // return {value: position.id, text: position.title}
                    return p
                });
            },
            async onSelectPosition(position_id) {
                let that = this as any
                let pipeline_id: string
                let position = null
                if (position) {
                    let pipeline_id = position.pipeline_id
                    const pipeline: Pipeline = await new Pipeline().getById(pipeline_id) as Pipeline
                    let all_pipeline_stages = await new PipelineStage().getAllStages(pipeline_id)
                    let defaultPipelineStage = null
                    // that.all_pipeline_stages = all_pipeline_stages

                    let defaultPipelineStageIndex = that.findIndexDefaultPipelineStage(all_pipeline_stages)
                    // pop the default pipeline stage from list of all pipeline stages
                    if (defaultPipelineStageIndex != -1) {
                        defaultPipelineStage = all_pipeline_stages.splice(defaultPipelineStageIndex, 1)[0]
                    }
                    //prepend the default pipeline stage to top of array
                    if (defaultPipelineStage) {
                        all_pipeline_stages.unshift(defaultPipelineStage)
                    }

                    that.all_pipeline_stages = all_pipeline_stages


                    that.pipeline_stage_options = all_pipeline_stages.map(function (pipeline_stage) {
                        return {value: pipeline_stage.id, text: pipeline_stage.title}
                    })

                    that.selected_pipeline = pipeline
                    that.selected_pipeline_stage = that.pipeline_stage_options ? that.pipeline_stage_options[0].value : null

                } else {
                    alert('cannot find data of the selected position')
                }
            }
        },
        mounted(): void {
            let that = this as any;
            that.getAllCompanyPositions();
        }
    })
</script>

<style lang="scss">
    .confirm-change-position {



        .modal-content {
            border: none;
        }

        .modal-body {
            padding-top: 0px;
        }


        .el-select-dropdown__item{
            height: auto;
        }
        .el-select-dropdown__item.selected{
            color: #606266;
        }
        .select_position {
            .card-box {
                div p {
                    max-width: 500px;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .ui-select-choices-row-inner .card.position {
            margin-bottom: 0;
            border: none;
            background: none;
            .card-box.position {
                background-color: initial;
                border: none;
                padding: 5px 0;
                h3 {
                    margin-bottom: 0;
                    font-size: 14px;
                }
                i.fa-circle {
                    font-size: 12px;
                    min-height: initial;
                    background-color: initial;
                    margin: 0;
                    .published {
                        color: #76d691 !important;
                    }
                    .draft {
                        color: #5ac0e5 !important;
                    }
                    .closed {
                        color: #778591 !important;
                    }
                }
                .position-body p {
                    margin-bottom: 0;
                    color: #68747e;
                    font-size: 12px;
                }
            }
        }


        .card .card-box {
            background-color: #fff;
            border: 1px solid #edeff0;
            border-radius: 4px;
            cursor: pointer;
            padding: 15px 10px;
            position: relative;
            transition: .3s ease;
            h3 {
                max-width: 500px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #4c555c;
            }
            p{
                font-weight:200;
            }
        }

        .fa-circle.published {
            color: #76d691 !important;
        }


    }
</style>
