<template>
    <div class="welcome-dashboard" v-loading="loadingHome">
        <div class="hero">
            <div class="ng-hide" v-show="isFirstVisit">
                <h1>{{messages.SR_I81_TITLE_FIRST_VISIT}}👋</h1>
                <p>{{messages.SR_I81_DES_FIRST_VISIT}}</p>
            </div>
            <div class="" v-show="!isFirstVisit">
                <h1>{{messages.SR_I81_TITLE_MORE_VISIT}} 👋</h1>
<!--                <p class="" v-show="!todo_invite_team && !todo_portal_logo && watchedIntroVideo">{{messages.SR_I81_DES_CREATE_NEW_POSITION}}</p>-->
                <p class="ng-hide" v-show="!todo_invite_team && todo_portal_logo">{{messages.SR_I81_DES_CREATE_INVITE}}</p>
                <p class="ng-hide" v-show="todo_invite_team && !todo_portal_logo">{{messages.SR_I81_DES_CREATE_CAREERS_SITE}}</p>
<!--                <p class="ng-hide" v-show="!todo_invite_team && !todo_portal_logo && !watchedIntroVideo">{{messages.SR_I81_DES_SETEP_FINAL}}</p>-->
                <p class="ng-hide" v-show="!todo_invite_team && !todo_portal_logo">{{messages.SR_I81_DES_SETEP_FINAL_ONBOARDING}}</p>
            </div>
        </div>
        <div class="actions-container">
            <ul class="actions">
                <li class="action add-position" :class="listAllPosition.length > 0 ?'complete': ''">
                    <h2>
                        <i class="fa fa-briefcase" v-if="listAllPosition.length == 0"></i>
                        <i class="fa fa-check" v-else></i>
                        <span>{{messages.SR_I81_TITLE_POSITION_BOX}}</span>
                    </h2>
                    <p>{{messages.SR_I81_DES_POSITION_BOX}}</p>
                    <div class="cta-container">
                        <button class="btn btn-blue" @click="newPosition">
                            <i class="fa fa-briefcase" v-if="listAllPosition.length == 0"> </i>
                            <i class="fa fa-check ng-hide" v-else> </i>
                            <span>{{messages.SR_I81_BTN_ADD_POSITION}}</span>
                        </button>
                    </div>
                </li>
                <li class="action invite-team" :class="pendingInvitation.length > 0 ? 'complete': ''">
                    <h2>
                        <i class="fa fa-users" v-if="pendingInvitation.length == 0"></i>
                        <i class="fa fa-check" v-else></i>
                        <span>{{messages.SR_I81_TITLE_INVITE_BOX}}</span>
                    </h2>
                    <p>{{messages.SR_I81_DES_INVITE_BOX}}</p>
                    <div class="cta-container">
                        <button class="btn btn-blue" @click="companySettings">
                            <i class="fa fa-users" v-if="pendingInvitation.length == 0"></i>
                            <i class="fa fa-check" v-else></i>
                            <span>{{messages.SR_I81_BTN_ADD_INVITE}}</span>
                        </button>
                    </div>
                </li>
                <!-- ngIf: shared.activeCompany.company.source.id === "checkr" -->
                <!-- ngIf: shared.activeCompany.company.source.id === "zenefits" -->
                <li class="action career-portal"
                    :class="currentOriginPortal && !todo_portal_logo ? 'complete' : ''">
                    <h2>
                        <i class="fa fa-globe " v-if="!currentOriginPortal || todo_portal_logo"></i>
                        <i class="fa fa-check" v-else></i>
                        <span>{{messages.SR_I81_TITLE_PORTAL_BOX}}</span>
                    </h2>
                    <p>{{messages.SR_I81_DES_PORTAL_BOX}}</p>
                    <div class="cta-container">
                        <button class="btn btn-blue" @click="jobPortalSettings">
                            <i class="fa fa-globe" v-if="!currentOriginPortal || todo_portal_logo"></i>
                            <i class="fa fa-check" v-else></i><span>{{messages.SR_I81_BTN_ADD_PORTAL}}</span>
                        </button>
                    </div>
                </li>
                <li class="action intro-video" :class="currentCompany.watchedIntroVideo ? 'complete': ''">
                    <h2>
                        <i class="fa fa-video-camera" v-if="!currentCompany.watchedIntroVideo"></i>
                        <i class="fa fa-check" v-else></i>
                        <span>{{messages.SR_I81_TITLE_VIDEO_BOX}}</span>
                    </h2>
                    <div class="video"><a href="#" @click="videoIntroModal" data-toggle="modal" data-target="#video-modal">
                        <img src="@/assets/image/thumbnail_Cloudjet_Potential.svg"></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="btn-document">
            <a class="btn btn-blue" href="https://help.cloudjetpotential.com/" target="_blank" >
                <span>{{messages.SR_I81_BTN_DOCUMENT}}</span>
            </a>
        </div>
        <b-modal :hide-footer="true"
                 no-close-on-esc
                 no-close-on-backdrop
                 v-model="showModal"
                 modal-class="video-intro-modal">
            <div>
                <div class="modal-content-video">
                    <div class="modal-body-video" style="padding: 40px 0px;text-align: center;">
                        <iframe src="https://www.youtube.com/embed/W2MV3ZhN68k"
                                width="560" height="290"
                                frameborder="0"
                                webkitallowfullscreen="webkitallowfullscreen"
                                mozallowfullscreen="mozallowfullscreen"
                                allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
            </div>
        </b-modal>
<!--        <modal :scrollable="true" name="modal"-->
<!--               width="90%" :min-width="300" :max-width="maxWidth"-->
<!--               height="auto"-->
<!--               :clickToClose="false" :pivotY="0.25" :adaptive="true"-->
<!--               @before-close="checkDiffDataWhenClose"-->
<!--               @closed="closeModal(false)">-->
<!--            <router-view name="modal_content"-->
<!--                         v-if="true"-->
<!--                         v-on:checkDiff="compareDataPosition=true"-->
<!--                         v-on:changeMaxWidth="(w)=>{maxWidth = w}"></router-view>-->
<!--            <b-button class="close-button" @click="closeModal(true)">-->
<!--                <i class="fas fa-times"></i>-->
<!--            </b-button>-->
<!--        </modal>-->

    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {mapGetters, mapActions} from 'vuex';
    import {messages} from "@/messages";
    let logo_default = "https://firebasestorage.googleapis.com/v0/b/cloudjet-work.appspot.com/o/image%2Fportal%2F7yNHTJiCg8OoWmwfTP8L%2Flogo%2F7yNHTJiCg8OoWmwfTP8L7yNHTJiCg8OoWmwfTP8L_Symbol-white.png?alt=media&token=851a1fa4-7931-487d-b2d3-2a25066d1ae0"
    export default Vue.extend({
        name: "Onboarding.vue",
        components:{},
        data(){
            return{
                showModal: false
            }
        },
        computed:{
            ...mapGetters([
                'currentCompany',
                'listAllPosition',
                'currentOriginPortal',
                'pendingInvitation',
                'loadingHome'

            ]),
            isFirstVisit(){
                let that = this as any
                return that.listAllPosition.length == 0 && that.todo_invite_team && that.todo_portal_logo
            },
            todo_invite_team(){
                let that = this as any
                return that.pendingInvitation.length == 0
            },
            todo_portal_logo(){
                let that = this as any
                // check có phải là logo default không
                return that.currentOriginPortal.appearance_logo == logo_default || that.currentOriginPortal.appearance_logo == ''
            }

        },
        mounted() {
        },
        methods:{
            newPosition (event): void {
                event.preventDefault();
                this.$router.push({
                    name: 'NewPosition',
                    params: {
                        type: 'new'
                    }
                });
            },
            companySettings(event):void{
                event.preventDefault();
                this.$router.push({
                    name: 'SettingsMembers',
                });
            },
            jobPortalSettings(event):void{
                event.preventDefault();
                this.$router.push({
                    name: 'portal-appearance',
                });
            },
            videoIntroModal(event):void{
                event.preventDefault();
                let that = this as any
                that.showModal = true
                that.currentCompany.watchedIntroVideo = true
                that.currentCompany.update()
            },
        }
    })
</script>

<style scoped lang="scss">
    .welcome-dashboard{
        .hero{
            max-width: 1024px;
            margin: 0 auto;
            text-align: center;
            padding-top: 80px;
            h1{
                font-size: 48px !important;
                font-weight: 400;
                font-family: "Nunito", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
                margin-bottom: 30px;
                color: rgb(76, 85, 92)
            }
            p{
                font-size: 24px !important;
            }
        }
        .actions-container{
            margin-top: 40px;
            .actions{
                text-align: center;
                .action{
                    display: inline-block;
                    width: 300px;
                    height: 200px;
                    padding: 20px;
                    background-color: #f9fafa;
                    border: 1px solid #edeff0;
                    vertical-align: top;
                    margin: 10px;
                    border-radius: 4px;
                    h2{
                        i{
                            margin-right: 5px;
                        }
                    }
                    p{
                        margin-top: 20px;
                        height: 85px;
                        margin-bottom: 0px !important;
                    }
                    .video{
                        img {
                            width: 250px;
                            height: 125px;
                            margin-top: 5px;
                        }
                    }
                    .btn {
                        i {
                            margin-right: 5px;
                        }
                    }
                    &.complete {
                        background: #e1f3df;
                        h2 {
                            text-decoration: line-through;
                        }
                        .btn {
                            background-color: #76d691 !important;
                        }
                    }

                }

            }
        }
        .btn-document{
            margin: 0 auto;
            padding-top: 50px;
            margin-bottom: 40px;
            text-align: center;
        }
    }
</style>
<style lang="scss">
    .video-intro-modal{
        .modal-dialog{
            max-width: 645px !important;
            .modal-content{
                width: 620px !important;
            }
        }
    }

</style>
