<template>
    <div v-if="loading" class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh">
        <img src="@/assets/image/cjp.svg" style="width: 256px" alt="">
        <b-spinner style="width: 64px; height: 64px;" type="grow" variant="cjp"></b-spinner>
    </div>
    <div v-else id="app" class="app" :class="{hasSidebar, 'landing-page': isLandingPage}">
        <Sidebar v-if="hasSidebar"></Sidebar>
        <ModalWrapper class="app-content" :class="{'overflow-auto': hasSidebar}">
            <transition name="slide-fade" mode="in-out">
                <router-view class="main-router-view"></router-view>
            </transition>
        </ModalWrapper>
        <template v-if="userLogged">
            <AddCandidateModal></AddCandidateModal>
        </template>
    </div>
</template>

<style lang="scss">
    #app {
        /*font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
        font-family: Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /*text-align: center;*/
        color: #2c3e50;
    }

    .app-content {
        /*margin-top: 20px;*/
    }

    #nav {
        padding: 30px;

        a {
            font-weight: bold;
            color: #2c3e50;

            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }

    .slide-fade-enter-active,
    .slide-fade-leave-active {
        opacity: 1;
        transition: 200ms;
    }

    .slide-fade-enter, .slide-fade-leave-to {
        opacity: 0;
    }
</style>


<script lang="ts">
    import Vue from "vue";
    import Sidebar from "@/components/Sidebar/Sidebar.vue";
    import ModalWrapper from "@/components/ModalWrapper.vue";
    import AddCandidateModal from '@/components/modals/AddCandidateModal.vue';
    import {messages} from "@/messages";
    import CreateTask from "@/components/tasks/CreateTask.vue";
    import {server_time} from "@/firebase";
    import {urlLandingpage} from '@/helpers/joblinks';

    // using when `data` not created, example: beforeEach, created hook, ...
    Vue.prototype.$cjpmessages = messages;
    Vue.prototype.$urlLandingPage = urlLandingpage;

    Vue.mixin({
        data: function() {
            return {
                messages: messages,
            }
        }

    })

    Vue.component('create-task', CreateTask);
    export default Vue.extend({
        name: "home",
        components: {
            Sidebar,
            ModalWrapper,
            AddCandidateModal,
        },
        data() {
            return {
                loading: true,
                showModal: this.$route.meta.showModal,
            }
        },


        computed: {
            hasSidebar(): boolean {
                return !this.$route.meta.noSidebar;
            },
            userLogged(): boolean {
                return !!this.$store.getters.currentUser;
            },
            isLandingPage(): boolean
            {
                return this.$route.matched.some(r=>r.meta.landingPage);
            }
        },
        async created() {
            this.loading = true;
            if (this.$route.matched.some(route=>route.meta.noAuth)) {
                this.loading = false;
            } else {
                await this.setUser();
            }

            window.onunhandledrejection = (error) => {
                if (process.env.NODE_ENV !== 'production') {
                    this.$toasted.error(error.reason);
                }

                console.error({error});
            };
            window.onerror = (error) => {
                if (process.env.NODE_ENV !== 'production') {
                    this.$toasted.error(error.toString());
                }

                console.error({error});
            };
        },
        methods: {
            async setUser(): Promise<void> {
                if (!this.$store.getters.currentUser) {
                    await this.$store.dispatch("setUser");
                }
                this.loading = false;
            }
        },
    });
</script>
