<template>
    <div id="landing-page">
        <router-view></router-view>
    </div>
</template>

<script lang='ts'>
    import Vue from 'vue';

    export default Vue.extend({
        name: 'LandingPage',
        data() {
            return {};
        },
    });
</script>

<style lang="scss"></style>
