$default-bg-color: #F9FAFA;
$default-btn-color: #edeff0;
$cjp-primary: #1F93C1;
$cjp-variant: #1DA6B7;

.bg-cjp {
    background-color: $cjp-primary;
}
.bg-cjp-linear {
    background: $cjp-primary;
    background: linear-gradient(45deg, $cjp-primary, $cjp-variant);
}

.text-cjp {
    color: $cjp-primary;
}

.default-bg-color {
    background-color: $default-bg-color;
}

.btn-custom-bg-color {
    background-color: $default-btn-color;
}
