@import "app_screen_sizes";

@media screen and (max-width: $tablet_max) {
     .custom-candidate-actions {
          &-button-name {
               display: none;
          }

     }
     .candidate-list > header {
          .dropdown-toggle > span,
          .candidate-actions-button-name {
               display: none;
          }
     }
}
