@import "app_screen_sizes";

@media screen and (max-width: $mobile_max) {
     .candidate {
          &-actions {
               display: none !important;
          }
          &-filters {
               display: none !important;
          }
          &-table {
               th:first-child,
               td:first-child { // checkbox
                    display: none;
               }
          }
     }
}
