@import "constants";

body {
     -webkit-font-smoothing: subpixel-antialiased !important;
     text-rendering: optimizelegibility !important;
}

p {
     font-size: $text-small;
     line-height: 1.5;
     font-weight: 200;
}

h1 {
     font-size: $text-largest;
     font-weight: 400;
     line-height: 1.5;
}

h2 {
     font-size: $text-large;
     font-weight: 400;
     line-height: 1.5;
}

h5 {
     font-size: $text-small;
     font-weight: 400;
     line-height: 1.5;
}

a, a:focus {
     color: $text-color-default;
     outline: none;
}

a:hover {
     color: $text-color-darker;
     transition: .3s;
}

a.link-blue {
     color: $color-blue;
     font-weight: 200;
     font-size: 14px;

     &:hover {
          color: $color-blue;
     }

     i {
          margin-right: $margin / 2;
     }
}

.subtext {
     font-style: italic;
     opacity: .5;
     font-size: 12px !important;
}

.learn-more {
     color: $color-blue;
     font-weight: 500;
}

.file-download {
     color: $color-blue;
     font-size: 12px;
}

.capitalize {
     text-transform: capitalize;
}

.uppercase {
     text-transform: uppercase;
}

.heavy {
     font-weight: 400;
}

a.xsmall {
     font-size: $text-smaller;
}

a.blue {
     color: $color-blue;
}

.text-overflow {
     text-overflow: ellipsis;
     overflow: hidden;
     max-width: 100%;
     white-space: nowrap;
}
