
.landing-page {
    #hero{
        overflow: hidden;
        position: relative;
        margin-top: 70px;
    }
    .hero {
        .hero-background-image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            //background-blend-mode: overlay;
            //filter: brightness(40%);
            height: calc(100% + 10px);
            left: -5px;
            position: absolute;
            top: -5px;
            width: calc(100% + 10px);
            z-index: 1;
            transition: all 1s ease;
        }
    }
    #heroBackgroundColor {
        position: relative;
        transition: all 3s ease;
        z-index: 2;
        .banner{
            padding: 120px 0px;
            z-index: 2;
            color: #ffffff;
            text-align: center;
            margin: 0 auto;
            max-width: 900px;
            &, & .banner-text {
                h1 {
                    margin-bottom: 20px;
                    font-weight: 300;
                    font-size: 72px !important;
                    line-height: 1.2;
                    animation: fadein 0.6s 0.5s 1 forwards ease-in;
                }
                p {
                    max-width: 700px;
                    margin: 0 auto 40px;
                    font-size: 22px !important;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.5px;
                }

                .btn-outline-light {
                    padding: 20px;
                    border: 2px solid #fff;
                    opacity: 1;
                    font-size: 20px;
                    font-weight: 400;
                    color: #fff;
                    text-decoration: unset;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
        .banner-position-page{
            &.banner{
                .item{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: 0px 5px;
                    i{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    #landing-page .content-layout{
        flex-direction: column;
    }
    .testimonials-wraper-content{
        padding: 80px 0;
        background: #f9fafa;
    }
    .perks-wraper-content{
        border-bottom: 1px solid #eee;
    }

    @media screen and (max-width: $mobile_max) {
        #heroBackgroundColor {
            .banner, .banner .banner-text {
                h1 {
                    font-size: 40px !important;
                }
                p {
                    font-size: 1em !important;
                }
                font-size: 14px !important;
            }
        }
    }

    @import "landing_page.position";
}
