#nav-image {
    max-height: 40px;
    margin: 14px 10px;
}
.portal-wrapper {
    margin: 0 auto;
    max-width: 700px;
    .portal-content{
        margin: auto;
    }
    .company-container {
        margin-bottom: 40px;
        .description {
            margin-top: 20px;
            margin-bottom: 10px;
            img {
                max-width: 100%;
            }
        }
    }
    .positions-container{
        table {
            width: 100%;
            tr {
                display: flex;

                cursor: pointer;
                border-bottom: 1px solid #edeff0;
                .name {
                    padding: 20px 0;
                    color: #8d9aa5;
                    .mobile i{
                        margin: 0 5px;
                    }
                    flex-grow: 1;
                    overflow: auto;
                }
                .apply-button-container{
                    text-align: right;
                    min-width: 125px;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                }
                a{
                    text-decoration: unset !important;
                }
            }
        }
    }
    .portal-footer {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        a{
            text-decoration: unset;
            color: #8d9aa5;
            .lable{
                font-size: 12px;
                font-weight: 200;
            }
            .brand{
                font-size: 20px;
                margin-left: 5px;
                font-weight: 400;
            }
            &:hover{
                color: #5d6b76 !important;
            }
        }
    }
}
