.custom-select:focus {
    border: 1px solid #eee !important;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.position {
    &-apply-button {
        font-size: 16px;
        text-align: center;
        font-weight: 200;
        letter-spacing: 0.5px;
        color: #ffffff;
        max-height: 45px;
        line-height: 45px;
        padding: 0 1em !important;
        text-decoration: none;
        border: 2px solid transparent;
        outline: 0;
        border-radius: 4px;
        transition: 0.5s;
        background-color: #888;
        cursor: pointer !important;
        flex-shrink: 0;
        &:hover {

        }
    }

    &-title {
        font-size: 1.5em;
        line-height: 1.4;
        margin-bottom: 10px;
        color: #444444;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .meta {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

#position {
    padding: 40px 0;
    border-bottom: 1px solid #eee;

    .container-wrapper {
        margin: auto ;
        max-width: 900px;

        h1.polygot {
            text-align: center;
            font-size: 42px !important;
            font-weight: 300;
            margin-bottom: 40px;
        }
        .positions-container h2.no-position{
            text-align: center !important;
            font-size: 16px !important;
        }
        .positions {
            .group-header{
                font-size: 24px !important;
                padding: 0 20px 10px 20px;
                margin-top: 40px;
                margin-bottom: -20px;
                color: #444444;
                i{
                    margin-right: 5px;
                }
            }
            .transition {
                margin-bottom: 10px;
                margin-top: 10px;
                padding: 20px;
                cursor: pointer;
                border: 1px solid #fff;
                border-radius: 4px;

                &:hover {
                    background-color: #f9fafa;
                    border-radius: 4px;
                    border: 1px solid #eee;
                }

                a {
                    text-decoration: unset;
                }

                .lable-position {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                }

                .meta {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    color: #888888;

                    .location {
                        .country {
                            display: inline-block;
                            margin-right: 5px;
                        }

                        .remote {
                            display: inline-block;
                        }
                    }

                    li {
                        margin-right: 15px;

                        a {
                            text-decoration: unset;
                        }

                        i {
                            margin-right: 5px;
                        }
                    }
                }

            }
        }
        .filters-container {
            text-align: center;
            margin-bottom: 40px;
            h2 {
                display: inline-block;
                margin-right: 10px;
            }
            .filter-wrap {
                display: inline-block;
                padding: 5px;

                @media screen and (max-width: $tablet_max) {
                    h2 {
                        display: block;
                        text-align: left;
                        margin-left: 0.5em;
                    }
                }
            }

            .custom-select {
                display: inline-block;
                border: 1px solid #eee;
                padding: 6px;
                font-size: 16px;
                margin-right: 20px;
                width:200px
            }
        }
    }
}

@media screen and (max-width: $mobile_max) {
    .position {
        font-size: 14px;
        &-apply-button {
            //max-height: 30px;
            //line-height: 30px;
        }
        &-title {
            //font-size: 18px !important;
        }
    }
}
