@import "~styles/app_screen_sizes";

.header-nav {
    .container {
        margin: auto;
    }

    .link {
        &.company-name h1 {
            font-weight: 300;
            font-size: 32px;
            line-height: 70px;
        }

        color: #888888;
        cursor: pointer;

        a {
            color: #888888;
        }

        a:hover {
            color: #444444;
            text-decoration: none;
        }
    }

    .align-items-center {
        display: flex;
        justify-content: space-between;
        height: 70px;
        margin: auto;
        max-width: 900px;

        .nav {
            .menu-header {
                display: flex;
                margin: auto;
                /*justify-content: space-between;*/
            }
        }

        .links {
            display: flex;
            margin: auto 0;
            /*float: right;*/
            .link {
                display: inline-block;
                margin: auto;
                margin-left: 15px;
            }

            .bzyButtonColor {
                padding: 8px 10px;
                border: 2px solid #888888;
                border-radius: 4px;
                /*&:hover{*/
                /*    padding: 8px 10px;*/
                /*    border: 2px solid transparent;*/
                /*    background-color: rgb(87, 59, 199);*/
                /*background-color: var(--tungos);*/
                /*color: #ffffff !important;*/
                /*}*/
            }
        }
    }
}

/* Nav */

#nav-image {
    max-height: 40px;
    /*margin: 14px 10px;*/
}

.header-nav {
    background: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav .nav-username, .nav .nav-gallery, .nav .nav-testimonial {
    color: #888888;
    text-decoration: none;
}

.nav-links li.company a {
    color: #888888;
    text-decoration: none;
    padding: 6px 10px;
    border: 2px solid #888888;
    border-radius: 4px;
}

@media only screen and (max-width: 900px) {
    .header {
        .align-items-center {
            text-align: center !important;
        }

        .links-company {
            display: none !important;
        }

        .nav {
            margin: auto;

            .menu-header {
                display: none !important;
            }
        }
    }
}

@media screen and (max-width: 1243px) {
    .header-nav {
        font-size: 16px;
    }
}
@media screen and (max-width: 1200px) {
    .header-nav {
        font-size: 14px;
    }
}
