/*
* Position Status
*/

.fa-circle.published {
     color: $color-green !important; }

.fa-circle.pending {
     color: $color-yellow !important; }

.fa-circle.draft {
     color: $color-blue !important; }

.fa-circle.closed {
     color: $color-grey !important; }
