body > .section-contraint,
body > .questions-contraint {
  display: none; }


.option-container {
  input[type=checkbox] {
    margin-right: 10px;
    margin-top: 0; }
  label {
    span {
      font-weight: 400;
      font-size: 14px; }
    p {
      margin-top: 5px;
      font-size: 13px; } } }


.member-selector {
  width: 280px;
  margin-right: $margin;
  display: inline-block; }
.user-selector, .member-selector {
  div.user {
    .avatar, span {
      float: left;
      line-height: 22px;
      width: 28px;
      height: 28px;
      margin-top: 3px;
      margin-right: 5px; }
    span.ui-select-highlight {
      float: none;
      width: auto;
      height: 0;
      margin: 0; }
    span.user-name {
      margin-left: 5px;
      float: left;
      margin-top: 6px; } }
  div.team {
    line-height: 14px;
    .avatars-group {
      display: inline-block;
      height: 30px;
      position: relative;
      width: 42px;
      vertical-align: middle;
      .avatars {
        position: absolute;
        left: 0;
        z-index: 3;
        &:nth-child(2) {
          left: 6px;
          z-index: 2; }
        &:nth-child(3) {
          left: 12px;
          z-index: 1; }
        .avatar {
          width: 28px;
          height: 28px;
          line-height: 22px; } } }
    .team-name {
      display: inline-block;
      padding-left: 5px;
      vertical-align: middle;
      small {
        font-size: $text-smaller;
        color: $text-color-light;
        font-weight: 200; } } } }

.reference-custom-questionnaire {
  .subsection-container.add-questionnaire-container {
    padding: 0 $padding;
    .question {
      margin-top: 0;
      input[type=text] {
        margin-bottom: $margin; }
      div.textarea {
        min-height: 200px;
        margin-bottom: $margin; }
      .dropdown {
        width: 200px;
        margin-bottom: $margin; }
      div.required {
        span {
          margin-left: $margin;
          margin-left: 5px;
          font-size: 14px; } } } } }

.list-helpers {
  align-items: flex-end;
  display: flex;
  margin-bottom: $margin;
  width: 100%; }
.items-filter {
  flex: 1; }
.list-sort-order {
  font-size: $text-smaller;
  text-align: right;
  .sort-dropdown-toggle {
    cursor: pointer; }
  ul {
    padding: 3px;
    left: auto;
    right: 0;
    li {
      cursor: pointer;
      font-size: $text-smaller;
      padding: 3px;
      margin-bottom: 3px;
      &:hover {
        background-color: $background-color-2; } } } }

.bzy-numbered-list {
  position: relative;
  label {
    padding-left: 8px; }
  span.order {
    text-align: center;
    line-height: 22px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    top: 3px;
    background: #fff;
    font-size: 12px;
    float: left;
    border: 1px solid  $background-color-3;
    z-index: 300;
    left: 7px; }
  &:before {
    background-color: $background-color-3;
    content: "";
    position: absolute;
    top: 10px;
    left: 19px;
    bottom: 10px;
    z-index: 200;
    width: 3px; } }


.add-campaign-container {
  .bzy-numbered-list {
    .bzy-list .bzy-item {
      background: #fafafa;
      border: 1px solid #edeff0;
      .bzy-item-container {
        padding: 4px 10px 4px 30px;
        label {
          white-space: initial; }
        nav {
          top: 3px; }
        span.order {
          top: 6px; }
        input[type=number] {
          padding: 0 6px;
          width: 54px; }
        input[type=text] {
          width: 200px;
          margin-top: $margin /2;
          margin-bottom: $margin /2; } } } } }

.folders {
  .folder {
    margin: 0;
    padding: 0;
    cursor: pointer;
    .folder-main {
      padding: $padding;
      display: flex;
      background: #fafafa;
      border: 1px solid $border-color;
      border-bottom: none;
      justify-content: space-between;
      margin: 0;
      align-items: center;
      &.no-border-top {
        border-top: none; }
      &.round-top {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px; }
      &.round-bottom {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 1px solid $border-color; }
      &.border-bottom {
        border: 1px solid $border-color; }
      .folder-main-title {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        h3 {
          user-select: none;
          display: inline-block;
          margin-bottom: 0px !important;
          font-size: $text-small;
          font-weight: 400; }
        .count {
          padding: 2px 5px;
          background: $background-color-3;
          font-size: 10px;
          border-radius: 4px;
          margin-left: 10px; }
        .folder-icon {
          margin-right: 10px; }
        .folder-action {
          display: none;
          position: absolute;
          right: 10px;
          font-size: 10px;
          &.show {
            display: inline; } } }
      .folder-main-actions {
        display: flex;
        margin-right: 10px;
        li {
          .fa-chevron-right {
            transition: 200ms ease;
            transform: rotate(0deg) !important;
            &.folder-open {
              transform: rotate(90deg) !important; } } } } }
    .folder-options {
      margin-left: 20px;
      background: #fff;
      .application-options {
        border-radius: 0;
        border-top: none;
        border-bottom: none;
        margin-bottom: 0px; }
      .folder-option {
        background: #fafafa;
        border-left: 1px solid #edeff0;
        border-right: 1px solid #edeff0;
        border-bottom: 1px solid $border-color;
        display: flex;
        padding: $padding; }
      &.empty {
        h3 {
          font-size: $text-small;
          font-weight: 400;
          padding: $padding; } } } } }

.application-options {
  background: #fafafa;
  border: 1px solid #edeff0;
  border-radius: 4px;
  margin-bottom: $margin;
  &.round-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
  .option-item {
    border-bottom: 1px solid $border-color;
    display: flex;
    padding: $padding;
    margin: 0 !important;
    &:last-child {
      border-bottom: none !important; }
    &.with-header {
      display: block;
      padding-bottom: 0;
      .option-item-header {
        display: flex; } }
    .actions {
      align-items: center;
      color: #68747e;
      display: flex;
      height: 18px;
      font-size: 10px;
      .action {
        display: inline-block;
        margin-left: 10px; } }
    h3, .option-label {
      flex: 1;
      font-size: $text-small;
      font-weight: 400;
      margin-bottom: 0px !important;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      i {
        width: 18px;
        height: 18px;
        margin-right: 5px;
        vertical-align: middle; }
      &[as-sortable-item-handle] {
        cursor: move; } }
    .full-width {
      flex: 1;
      width: 100%; } } }

ul.application-list-options {
  background: #fafafa;
  border: 1px solid #edeff0;
  border-radius: 4px;
  margin-bottom: $margin;

  &.allow-text-wrap {
    li {
      h3 {
        white-space: normal; }
      .actions {
        align-self: normal; } } }
  li {
    border-bottom: 1px solid $border-color;
    margin: 0;
    &:last-child {
      border-bottom: none !important; }
    .option-list-item {
      padding: $padding;
      &[as-sortable-item-handle] {
        cursor: move; } }
    .option-list-header {
      align-items: center;
      display: flex;
      width: 100%;
      p {
        margin-bottom: 0 !important;
        margin-top: $margin / 2;
        opacity: .8; }
      h3 {
        font-weight: 400; } }
    .option-list-details {
      padding-left: $padding /2; //$padding * 2
      padding-top: 3px;
      span.sublabel, ul {
        line-height: 1;
        border-radius: 10px;
        font-size: 12px;
        display: block;
        opacity: 0.7;
        i {
          margin-right: 3px; } }
      ul {
        list-style: disc;
        margin-top: 0;
        margin-left: 0;
        li {
          display: inline-block;
          border-bottom: none;
          margin-bottom: 3px;
          margin-right: $margin;
          i {
            margin-right: 4px; } } } }
    .actions {
      color: #68747e;
      font-size: 10px;
      button.options {
        margin-right: $margin/2;
        span {
          margin-left: $margin/2;
          font-weight: 200; } }
      .action {
        cursor: pointer;
        display: inline-block;
        margin-left: 10px;
        border-bottom: none; } }
    h3, .option-label {
      flex: 1;
      font-size: $text-small;
      font-weight: 400;
      margin-bottom: 0px !important;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      i {
        height: 18px;
        margin-right: 5px;
        vertical-align: middle; } }
    .full-width {
      flex: 1;
      width: 100%; } } }

.slack-required {
  display: none !important; }
.has-slack {
  .slack-required {
    display: inline-block !important; } }

.add-reference-modal {
  .section {
    input[type=text], input[type=email] {
      width: 200px !important; }
    ul {
      font-size: 14px;
      li {
        margin-bottom: 5px; } } }
  .checkbox-container {
    font-size: 14px;
    margin-bottom: 10px; } }

.reference-custom-questionnaire {
  margin-top: $margin;
  .questionnaire-options .rule-options-container {
    margin-right: 0 !important;
    width: 200px !important; }
  .questionnaire {
    width: 200px;
    .selected {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px; } }
  .subsection-container.add-questionnaire-container {
    .reference-questions-contraint {} } }


.enforceauth {
  label {
    font-size: 14px;
    input[type="checkbox"] {
      margin-right: $margin/2; } }
  &.disabled {
    label {
      opacity: .6; } } }

.enforceauth-message {
  vertical-align: middle;
  i.fa {
    font-size: 11px;
    vertical-align: middle; } }

.modal-content {
  background-color: $background-color;

  .integration-modal.modal-body {
    .ui-select-bootstrap.dropdown {
      display: inline-block; }
    input[type=text], input[type=password], .ui-select-bootstrap.dropdown {
      width: 250px;
      margin-right: 10px;
      margin-bottom: 10px; }
    input[type=checkbox] {
      margin-right: 10px; }

    .resources-list {
      margin-top: 10px;
      font-size: 14px;
      margin-bottom: 30px;
      li {
        list-style: disc;
        margin-left: 20px;
        margin-bottom: 10px;
        span {
          margin-right: 10px; } } }

    .indeed-copy {
      h5 {
        margin-bottom: $margin / 2; }
      small {
        font-size: 12px; }
      .budget-options {
        font-size: 13px;
        li {
          display: inline-block;
          margin-right: 20px;
          list-style: none; } }
      .resources-list {
        font-size: 13px;
        li {
          margin-bottom: $margin / 2; } } } }


  .settings {
    .items-filter {
      margin-right: $margin;
      input {
        width: 250px; } } }

  .settings.company .main-content {
    min-height: 580px; }

  .settings.portal .main-content {
    min-height: 580px;

    .ace_editor {
      height: 250px;
      font-size: 11px;
      color: $color-dark-grey; } }

  .settings.profile .main-content {
    min-height: 280px; }

  .section.auto-join {
    .option-list-header {
      a.blue {
        i {
          font-size: 12px;
          height: initial;
          margin-left: $margin / 2; } } } }
  .auto-join-settings {
    input[type=text] {
      margin-right: $margin;
      display: inline-block; }
    a.btn {
      i {
        margin-right: 5px; } }

    .domains {
      margin-top: $margin;
      .domain {
        margin-bottom: $margin * 1.5;
        h4 {
          font-weight: 400;
          font-size: 14px; }
        .remove {
          font-size: 12px;
          display: block;
          color: #5ac0e5;
          margin-top: 5px; } } } }

  .settings .main-content .settings.profile {
    .subsection-container {
      padding: 0; } }

  .settings .main-content {
    background: #fff;

    margin-left: 170px !important; }

  .settings .main-content .section {
    margin-bottom: $margin * 3;
    background: #fff;}

  .settings .main-content .section {
    //margin-bottom: $margin * 3;

    .toggle-actions {
      float: right; } }

  .settings .main-content .section .option-input {
    display: inline-block;
    //-min-height: 34px
    //-line-height: 34px
    font-size: 14px;
    input {
      margin-right: 5px;
      display: inline-block; } }

  .main-content .section input[disabled] {
    background-color: $background-color;
    color: $color-grey-light;
    min-width: 300px; }


  .settings .main-content .section h2 {
    margin-bottom: 8px;
  }    //padding-left: 8px

  .settings .main-content .section h3 {
    margin-bottom: 5px; }

  .settings .main-content .section p {
    line-height: 1.4;
    margin-bottom: 15px; }

  .settings .main-content .section textarea,
  .settings .main-content .section .textarea {
    width: 100%;
    height: 100px; }

  .textarea {
    background-color: #fff;
    border: 2px solid $border-color;
    border-radius: $border-radius;
    color: $color-dark-grey;
    font-size: 14px;
    line-height: 20px;
    min-height: 350px;
    outline: none;
    overflow: auto;
    padding: 6px 10px;
    transition: .3s;
    white-space: pre-line;
    &:focus {
      border-color: $color-blue;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); } }


  .settings .main-content .section input[type='text'].half {
    width: 250px; }

  .settings .main-content .section input[type='text'].full,
  .settings .main-content .section input[type='url'].full {
    width: 400px; }

  .settings .footer {
    margin-top: $margin * 2; }

  .reasons .footer,
  .settings .footer {
    //text-align: right
    &.align-right {
      button {
        margin-right: 0;
        margin-left: $margin; } }
    button {
      margin-right: $margin;
      min-width: 120px;
      text-align: center;
      i {
        margin: 0 5px; }
      &.default {
        .default {
          display: inline; }
        .success {
          display: none; } }
      &.saved {
        .default {
          display: none; }
        .success {
          display: inline; } } } }

  /*
   * Position Description
   */

  .settings .main-content .profile .name {
    width: 320px;
    font-size: $text-large;
    display: block;
    margin-bottom: $margin;
    height: 38px; }

  .settings .main-content .profile input {
    margin-bottom: $margin;
    display: block; }

  .settings .main-content .profile .hero-text-color {
    label {
      margin-right: $margin;
      font-size: 14px; }
    input[type="radio"] {
      display: inline-block;
      margin-right: $margin/2; } }

  .settings .main-content .profile .company-logo-container img {
    max-width: 200px;
    max-height: 100px;
    margin-bottom: $margin; }

  .settings .main-content .profile .attach-file,
  .okta-settings .attach-file {
    color: $color-blue;
    .fa-refresh {
      display: none; }
    .fa-plus {
      display: inline-block; }

    &.uploading {
      .fa-refresh {
        display: inline-block; }
      .fa-plus {
        display: none; } } }
  .okta-settings {
    .sso-url {
      width: 350px !important; } }

  .settings .main-content .profile .company-logo-container .attach-file,
  .settings .main-content .profile .company-hero-container .attach-file,
  .okta-settings .attach-file {
    font-size: $text-small;
    color: $color-blue;
    display: block;
    cursor: pointer; }

  .settings .main-content .profile .company-hero-container {
    .hero-wrap {
      margin-bottom: 10px; }
    .hero-preview {
      height: 175px;
      background-position: center;
      background-repeat: repeat, no-repeat;
      background-size: 100%, cover;
      padding-top: 40px;
      text-align: center;
      color: #fff;
      line-height: 1.2;
      h1 {
        font-size: 28px;
        margin-bottom: $margin; } }

    .hero-slider {
      margin-top: 30px;
      p {
        margin-bottom: $margin; } } }
  .hero-image-controls {
    ul {
      li {
        margin-bottom: $margin;
        .remove {
          font-size: 14px !important; }
        .attach-file {
          font-size: 14px;
          cursor: pointer; } }

      margin-bottom: $margin; }

    .buttons .btn {
      margin-right: $margin; }

    //-.hero-remove
  }    //  margin-bottom: 20px

  .settings .main-content .profile .department {
    width: 120px; }

  .settings .main-content .profile .country {
    width: 200px;
    margin-bottom: $margin; }

  .settings .main-content .profile .state, .settings .main-content .profile .city {
    width: 200px;
    margin-bottom: $margin; }


  /*
   * Company Team
   */

  .settings .main-content .section.invite, .position-new .main-content .section.invite {
    margin-top: $margin * 2;
    margin-bottom: $margin * 3;

    .invite {
      width: 200px;
      margin-right: $margin; }
    .btn.btn-blue {
      height: 34px;
      margin-left: $margin; }
    .invite-user-type {
      width: 150px;
      display: inline-block; } }

  .settings .main-content .section.invite .member-header h3 {
    //width: 170px
    //max-width: 170px
    overflow-x: hidden;
    text-overflow: ellipsis; }

  .settings .member-info-wrap {
    float: left; }
  .settings .main-content .member-list, .position-new .main-content .member-list, .add-team-container .member-list {
    background-color: #f9fafa;
    border: 1px solid #edeff0;
    border-radius: 4px;
    padding: 0;

    .member {
      padding: 10px 10px;
      padding: $padding;
      min-height: $header-height;
      border-bottom: 1px solid $border-color;
      &.no-photo {
        .member-info {
          margin-left: 0;
          div.members .avatar {
            height: 18px;
            width: 18px;
            margin-right: 2px;
            vertical-align: middle;
            border-width: 1px;
            &.additional {
              padding: 0;
              background-color: #aaa;
              color: #fff;
              display: inline-block;
              span {
                margin-left: 2px; } }
            &.additional, &[initial]:before {
              font-size: 9px;
              line-height: 16px; } } } }

      .member-info {
        margin-left: 40px;
        margin-right: 40px; }

      .avatar {
        margin-top: 2px; }
      p {
        .role {
          margin-bottom: 0; } } } }


  .settings .main-content .member .actions {
    float: right; }

  .settings .main-content .member .actions-list, .position-new .main-content .member .actions-list {
    float: right;
    margin-top: 5px;
    li.action {
      margin-top: 8px;
      font-size: 13px;
      margin-left: 20px;
      display: inline-block;

      &.remove {
        width: 20px;
        text-align: right; }

      &.role {
        width: 110px;
        text-align: right;
        margin-right: 10px;
        i {
          margin-left: 5px; }
        .dropdown {
          cursor: pointer; }
        .dropdown-menu {
          overflow-y: auto;
          width: 140px;
          left: -40px;
          top: 18px;
          .item {
            border-radius: 4px;
            cursor: pointer;
            font-weight: 400;
            line-height: 1.4;
            margin: 0 5px;
            padding: 3px 5px;
            transition: all .3s ease;
            &:hover {
              background-color: #edeff0; } } } }
      &.manage {
        i {
          margin-right: 5px; } } } }


  .settings .main-content .member:last-child {
    border-bottom: none; }

  .settings .main-content .section.invite .dropdown-menu {}

  .settings .main-content .section.invite .member {
    padding: $padding;
    height: auto; }

  .settings .main-content .section.invite .member .invite-actions {
    //float: right
    margin-left: 40px;
    margin-top: 4px;
    button + button {
      margin-left: $margin / 2; } }

  .settings .main-content .member .avatar, .add-team-container .member .avatar {
    margin-top: 2px;
    border-radius: 20px;
    float: left; }

  .settings .main-content .section.invite .member .member-info {
    margin-left: 40px; }

  .settings .main-content .member.invited .fa-envelope {
    position: relative;
    top: -2px;
    font-size: 12px; }

  .settings .main-content .member .member-info h3, .add-team-container .member .member-info h3 {
    font-size: $text-small;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0; }

  .settings .main-content .member .member-info p, .add-team-container .member .member-info p {
    font-size: $text-smaller;
    line-height: 18px;
    //color: $text-color-light
    opacity: .8; }

  .settings .main-content .section.invite .member .member-info h3 {
    line-height: 30px; }

  .settings .main-content .member:last-child, .add-team-container .member:last-child {
    border-bottom: none; }

  /*
   * Plans
   */

  .settings .main-content .plans-container {
    margin-top: $margin * 3;
    .cancel-subscription {
      margin-top: $margin * 2;
      h2 {
        margin-bottom: $margin; }

      a {
        color: $color-grey-light;
        margin-right: $margin;
        cursor: pointer;
        &:hover {
          color: $color-grey; } } } }

  .settings .main-content .plans {
    font-size: $text-small; }

  .settings .main-content .plans th {
    color: $text-color-light; }

  .settings .main-content .plans td {
    width: 110px; }



  .settings .main-content .plans td h2 {
    line-height: 50px; }

  .settings .main-content .plans td input[type="radio"] {
    margin-right: 5px; }

  .settings .main-content .plans .name {
    line-height: 50px;
    width: 140px;
    font-size: $text-large; }

  .settings .main-content .plans .selection {
    width: 70px; }

  .settings .main-content .plans .selection .your-plan {
    font-size: $text-smaller; }

  .settings .main-content .plans .selection .your-plan i {
    color: $text-color-green; }

  .card-details {
    width: 300px;

    .name {
      width: 200px; }
    #card-element,
    #card-element-1 {
      border: 2px solid $border-color;
      border-radius: 4px;
      padding: 7px; } }


  div.update-card {
    button {
      margin-right: $margin; } }

  .settings .main-content .billing-details {
    p {
      margin-top: 5px;
      margin-bottom: 10px; }

    .section:last-child {
      margin-bottom: 0; }

    ul {
      margin-top: 10px;
      font-size: 14px;
      li {
        a {
          color: $text-color-blue;
          margin-left: 10px;
          i {
            margin-left: 5px;
            margin-right: 4px; } } } }

    .btn-none {
    } }      //-margin-left: 10px

  .settings .main-content .invoices-container {

    .invoice-details {
      h2 {
        a {
          margin-left: $margin * 2;
          font-size: 14px;
          color: $text-color-blue;
          i {
            margin-right: 5px; } } }
      h3 {
        font-size: 14px;
        font-weight: 400;
        color: $text-color-light;
        margin-bottom: $margin;
        margin-top: $margin * 2; }
      h4 {
        color: $color-dark-grey;
        font-size: 14px; }

      pre {
        background: initial;
        color: $color-dark-grey;
        font-size: 14px;
        line-height: 1.5; }

      input[type=text] {
        width: 200px; }

      textarea {
        width: 50%; }

      .btn-none {
      } }        //-margin-left: 10px


    .invoices {
      font-size: $text-small;

      tr {
        border-bottom: 1px solid #eee;
        &:last-child {
          border-bottom: none; } }

      th {
        color: $text-color-light;
        font-weight: 400; }

      th, td {
        padding: 15px 0; }

      td, th {
        width: 140px;
        &.id {
          width: 230px; }
        &.period {
          width: 150px; }
        &.ammount {
          width: 100px; }
        &.status {
          width: 130px; }
        h2 {
          line-height: 50px; } }
      td {
        i {
          margin-right: 5px; }
        i.fa.fa-close {
          color: $text-color-red; }

        i.fa.fa-check {
          color: $text-color-green; }

        i.fa.fa-reply {
          color: $text-color-blue; }

        a {
          color: $text-color-blue; } } } }

  .settings .main-content .cc-container {

    .cc-details {
      ul li {
        font-size: 14px; }
      h2 {
        a {
          margin-left: $margin * 2;
          font-size: 14px;
          color: $text-color-blue;
          i {
            margin-right: 5px; } } } } }

  .add-ons {
    .add-on {
      h3 {
        font-size: 14px;
        font-weight: 400;
        color: $text-color-light;
        margin-bottom: $margin/2;
        margin-top: $margin * 2; }
      p {
        margin-bottom: $margin; }

      a.btn + a.btn {
        margin-left: $margin / 2; } } }
  /*
   * Billing
   */

  .plan-confirm-v7 {
    .plan-change-confirm {
      text-align: center;
      padding-top: $padding * 4;
      i.fa-check-circle {
        font-size: 72px;
        color: $color-green; } }

    .billing-information {
      input.name, input.cc {
        width: 300px;
        display: block;
        margin-bottom: $margin; }
      .powered-by {
        display: block;
        margin-top: $margin;
        margin-bottom: $margin;
        img {
          width: 100px; } }

      input.zip {
        width: 150px; }
      input.expiry {
        margin-right: 10px;
        width: 90px; }

      input.cvc {
        width: 60px; } }

    .plan-container {
      margin-bottom: 20px; }

    .payment-container {
      margin-bottom: $margin * 2;
      li {
        border-bottom: 1px solid $border-color;
        padding: 8px 0;
        &.total {
          border-bottom: none;
          text-align: right;
          .small {
            display: block;
            font-size: 12px;
            opacity: 0.8;
            margin-bottom: 3px; }
          .amount {
            margin-top: 0; } }
        .name {
          display: inline-block;
          width: 80%;
          h3 {
            font-size: 16px; }
          h4 {
            font-size: 14px;
            text-transform: capitalize; } }
        .amount {
          display: inline-block;
          width: 20%;
          text-align: right;
          font-weight: 400;
          vertical-align: top;
          margin-top: $margin;
          font-size: 18px; } } }

    .losing-features {
      font-size: 14px;
      list-style: disc;
      overflow: auto;
      margin-bottom: 0;
      li {
        margin-bottom: $margin / 2;
        float: left;
        width: 45%;
        line-height: 1.5;
        margin-left: $margin * 2; } }

    .footer {
      background: #fcfcfc;
      border-top: 1px solid #eee;
      padding: 20px;
      margin: 0 -20px -20px;
      button {
        margin-left: $margin;
        &.btn-blue {
          i {
            margin-left: $margin/2; } }
        &.btn-none {
          i {
            margin-right: $margin/2; } } } } }

  .settings .main-content .billing input[type='text'] {
    margin-right: $margin;
    margin-top: $margin; }

  .settings .main-content .billing .name, .settings .main-content .billing .cc {
    width: 300px;
    display: block;
    margin-bottom: $margin; }

  .settings .main-content .billing .powered-by {
    display: block;
    margin-top: $margin;
    margin-bottom: $margin; }

  .settings .main-content .billing .powered-by img {
    width: 100px; }

  .settings .main-content .billing .expiry {
    width: 90px; }

  .settings .main-content .billing .cvc {
    width: 60px; }

  /*
    * Billing Confirm
    */

  .settings .subscription-details {
    margin-bottom: $margin * 3;
    a {
      font-size: 14px; }
    p {
      margin-bottom: $margin; }
    .extreme-measures {
      margin-top: $margin * 2;
      h3 {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: $margin; }
      a {
        margin-right: $margin / 2; } } }


  .settings .main-content .plan-confirm .plan-change-confirm i {
    color: $color-green;
    float: left;
    margin-right: $margin;
    line-height: 24px;
    font-size: $text-largest; }

  .settings .main-content .plan-confirm .bill-to-container {
    margin-top: $margin * 2; }


  .settings .main-content .plan-confirm {
    margin-top: $margin; }

  .settings .main-content .plan-confirm button {
    margin-left: $margin; }

  .settings .main-content .plan-confirm .plan-actions {
    margin-top: $margin * 2;
    &.active {
      button.active {
        display: initial !important; }
      button.inactive {
        display: none !important; } }
    &.inactive {
      button.inactive {
        display: initial !important; }
      button.active {
        display: none !important; } } }

  .settings .main-content a.add.small {
    font-size: $text-small;
    margin-top: $margin;
    color: $color-blue;
    cursor: pointer;
    i {
      font-size: $text-smaller; } }

  .settings .main-content .referral-links {
    margin-top: 15px;
    font-size: 14px;
    input[type=checkbox] {
      display: inline-block;
      margin: 0 $margin 0 0;
      font-size: 12px; } }

  .settings .main-content .profile .user-photo-container img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50px;
    border: none; }

  .settings .main-content .profile .user-photo-container .attach-file {
    font-size: $text-small;
    margin-top: $margin;
    color: $color-blue;
    cursor: pointer; }


  .settings .main-content .profile .calendar {
    font-size: $text-small;

    .option-item {
      .btn.options {
        float: right;
        padding: 1px 8px;
        margin-top: 4px;
        margin-right: 4px; } } }

  .settings .main-content .profile .calendar h2 {
    padding-left: 0; }

  .settings .main-content .profile .calendar p {
    margin-bottom: 5px; }

  .settings .main-content .profile .calendar a {
    font-size: $text-small;
    margin-top: $margin;
    color: $color-blue;
    cursor: pointer; }

  .settings .main-content .profile .calendar i {
  }    //color: $text-color-green

  /*
   * Integrations
   */

  .settings .main-content .integrations .option-item {
    //margin-top: $margin
    //padding-bottom: $padding
    border-bottom: 1px solid $border-color; }

  .settings .main-content .integrations .application-options {
    background: #fafafa;
    border: 1px solid #edeff0;
    //padding: 0 10px
    border-radius: 4px;

    .option-item {
      display: block;
      .service-logo {
        float: left;
        width: 40px;
        height: 40px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        background: #eee;
        border-radius: 4px;
        img {
          width: 100%;
          border-radius: 4px; } }
      .service-main {
      } } }        //min-height: 60px

  .settings .main-content .integrations .application-options .option-item .btn-blue {
    width: 80px !important; }

  .settings .main-content .profile.integrations .option-item {
    border-bottom: none;
    border-top: 1px solid $border-color;
    padding-top: 20px; }

  .settings .main-content .integrations h2 {
    margin-bottom: $margin; }

  .settings .main-content .integrations .option-item:last-child {
    border-bottom: none; }

  .settings .main-content .integrations .option-item p {
    margin-bottom: $margin;
    margin-right: 100px;
    margin-left: 50px;
    opacity: .8; }

  .settings .main-content .profile .option-item .option-required, .settings .main-content .integrations .option-item .option-required {
    font-size: $text-smaller; }

  .settings .main-content .integrations .option-item label {
    line-height: 30px;
    font-size: $text-small;
    font-weight: 400; }

  .settings .main-content .integrations .option-item .btn-default.options {
    float: right;
    margin-top: 4px;
    margin-right: 5px; }

  .settings .main-content .integrations .option-item .btn-light-gray.options {
    margin-right: 5px; }

  .settings-form .section .radio-options {
    font-size: $text-small;
    font-weight: 400;
    li {
      margin-bottom: $margin/2; }
    input[type="radio"] {
      margin-right: $margin; } }

  .settings-form .section .bullet-options {
    margin-top: $margin;
    .option {
      list-style-type: disc;
      margin-left: 15px; } }

  .settings-form .section p {
    font-size: 13px;
    margin-bottom: $margin;
    sup {
      font-size: 11px; } }

  .settings-form .option.inline-option {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0 !important; }

  .settings-form .option {
    margin-bottom: $margin;
    font-size: 13px; }


  .settings-form {
    .signing-order-container {
      margin-top: $margin * 2;
      h2 {
        margin-bottom: $margin; }
      ol.signers {
        font-size: $text-small;
        list-style-type: decimal;
        margin-left: $margin * 2;
        li:first-child {
          margin-bottom: $margin; }
        li:last-child {
          margin-bottom: $margin * 2; }
        li {
          margin-bottom: $margin / 2;
          input[type=text] {
            margin-bottom: 0; } } } } }


  .settings-form.interview-guide .file-attachments {
    margin-left: 0 !important; }

  .settings-form.email-templates .file-attachments {
    width: 100% !important; }

  .settings-form.email-templates .file-attachments .esignature-toggle {
    margin-top: $margin * 2; }

  .settings-form .section .file-attachments {
  }    //-width: 210px !important

  .settings-form .section .file-attachments {
    display: inline-block;
    margin-top: $margin;
    overflow: hidden;
    width: 270px;
    text-overflow: ellipsis;
    font-size: $text-small; }

  .settings-form .section.spacer {
    margin-top: $margin * 2; }
  .settings-form .section .file-attachment {
    margin-bottom: $margin; }

  .settings-form .section .file-attachment i {
    margin-right: $margin / 2; }

  .settings-form .section .file-attachment .remove {
    margin-left: $margin / 2;
    color: $color-dark-type;
    display: inline-block; }

  .settings-form .section .file-attachments .attach-file,
  .settings-form.email-templates a {
    font-size: $text-small;
    color: $color-blue;
    display: block;
    cursor: pointer;

    span.error {
      color: $color-red;
      margin-left: $margin; } }
  .settings-form.email-templates .redactor-box {
    a {
      display: inline-block; }
    .redactor-toolbar a {
      // background: #384047
      color: #ddd;
      min-width: 30px; } }


  .settings .main-content .integrations .option-item .btn-group {
    float: right;
    margin-top: 4px; }

  .settings .main-content .integrations .option-item .btn-group .active, .settings .main-content .integrations .option-item .btn-group .active:hover {
    background-color: $color-green !important;
    border-color: $color-green !important;
    color: #fff !important;
    width: 56px; }

  .settings .main-content .integrations .option-item .btn-group .btn-blue {
    width: 56px; }

  .settings .main-content .integrations .ui-select-bootstrap {
    width: 200px;
    float: left;
    margin-right: $margin / 2; }

  .settings .main-content .integrations .btn-grey {
    margin-left: $margin / 2; }

  .section input[type=text].width {
    width: 140px; }

  .widget-container {
    background: #fafafa;
    border: 1px solid #edeff0;
    margin-top: $margin;
    padding: $margin * 2;
    border-radius: 4px;

    &.stage-actions {
      .section {
        padding-bottom: 30px;
        margin-bottom: 0;
        margin-top: 0;
        &:last-child {
          padding-bottom: 0; }
        p {
          font-weight: 200; } } }

    .section {
      p {
        font-weight: 400; }

      .option-container {
        margin-top: 10px;
        padding-top: 10px;
        input[type=checkbox] {
          margin-right: 10px;
          font-size: 14px; }
        label {
          span {
            font-size: 14px;
            font-weight: 400; }
          p {
            margin-top: 5px; } }

        .sender-name {
          width: 200px; } }

      .option.indent {
        margin-left: 13px; }
      .option.indent.disabled {
        opacity: .5; } } }

  .widgets-container .section.widget a {
    color: $color-blue;
    font-size: $text-small; }

  .section.widget textarea {
    height: 80px;
    min-height: 80px;
    font-size: 13px; }


  /*
   * Pipeline
   */
  .add-stage-container {
    input[disabled] {
      background-color: $background-color;
      color: $color-grey-light; }
    .actions {
      margin-left: $margin; } }


  .add-item {
    display: inline-block;
    margin-top: $margin;
    font-size: 12px;
    color: $color-blue; }

  .cancel-item {
    display: inline-block;
    margin-top: $margin;
    font-size: 12px; }


  .add-pipeline-container {
    .add-stage {
      font-size: 12px;
      color: $color-blue; }
    input[disabled] {
      background-color: $background-color;
      color: $color-grey-light; }
    footer {
      text-align: right;
      .status {
        float: left;
        margin-top: 10px;
        font-size: 14px; } } }

  .position-pipeline-container {
    label {
      h3 {
        margin-top: 0 !important;
        margin-bottom: $margin !important; } } }

  .pipeline-container, .position-pipeline-container {
    .option-item {
      .subcontainer {
        font-weight: 200;
        padding-left: $padding * 2;
        margin-top: 3px;
        span.sublabel, ul {
          line-height: 1;
          border-radius: 10px;
          font-size: 12px;
          display: block;
          opacity: .8;
          i {
            margin-right: 3px; } }
        ul {
          list-style: disc;
          margin-left: 15px;
          margin-top: 8px;
          li {
            margin-bottom: 3px; } } } } }

  .pipeline-item, .as-sortable-placeholder {
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    padding: 0 $margin; }

  .pipeline-item {
    cursor: move;
    border: solid 1px $border-color;
    background-color: $background-color; }

  .pipeline-default {
    margin-bottom: 20px; }

  .pipeline-item a i {
    font-size: $text-smallest;
    color: $text-color-light; }


  .pipeline-item .remove {
    float: right; }

  .pipeline-item h3 {
    font-size: $text-small; }

  .pipeline-item h3 i {
    margin-right: 5px; }

  .pipeline-item h3, .pipeline-item .remove i {
    line-height: $margin * 3; }

  .as-sortable-placeholder {
    border: 1px dashed $border-color;
    box-sizing: border-box;
    background-color: $background-color-2; }

  .as-sortable-drag {
    opacity: .8; }

  .pipeline-container .add-stage {
    font-size: $text-smaller;
    color: $text-color-blue; }

  .pipeline-container .add-stage-container .stage-type {
    width: 150px; }

  .pipeline .footer {
    margin-top: $margin * 3; }

  .stage-options {
    &.half {
      display: inline-block;
      width: 50%;
      p {
        margin-bottom: 0;
        font-weight: 400 !important; }
      .stage-type {
        width: 180px; } }
    .stage-type {
      display: inline-block; }
    .stage-delay {
      display: inline-block;
      margin-left: $margin;
      width: 130px; }
    .btn-blue {
      margin-left: $margin; }
    .ui-select-match {
      text-overflow: ellipsis;
      overflow: hidden; }
    .ui-select-choices-row-inner {
      i {
        margin-right: 5px;
        width: 16px;
        text-align: center; } } }

  /*
   * Templates
   */


  .templates-container .actions li {
    display: inline-block;
    margin-left: $margin;
    .remove {
      margin-top: 0; } }

  .email-templates {
    h4 {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 4px;
      margin-top: $margin; }

    .template-subject {
      width: 400px !important;
      display: block; }
    .interview-options {
      margin-bottom: $margin * 2;
      width: 100%;
      .column {
        padding-top: 0;
        flex: 1; }
      .detail-toggle {
        text-align: right; } }

    .template-variables {
      .template-variable-select {
        display: inline-block;
        vertical-align: top;
        margin-right: $margin; } } }

  .template-item {
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    padding: 0 $margin;
    img.icon-signature {
      margin-bottom: -2px; } }

  .template-item {
    border: solid 1px $border-color;
    background-color: $background-color;
    border-radius: 4px; }

  .template-item a i {
    font-size: $text-smallest;
    color: $text-color-light; }

  .template-item .actions {
    float: right; }

  .template-item h3 {
    font-size: $text-small;
    margin-bottom: 0px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }

  .template-item h3 i {
    margin-right: 5px; }

  .template-item h3, .template-item .actions i {
    line-height: $margin * 3; }

  .reasons .add-reason,
  .templates-container .add-template {
    font-size: $text-smaller;
    color: $text-color-blue;
    margin-right: $margin;

    &.action-right {
      float: right;
      margin-right: 0px; } }

  .templates-container .footer {
    margin-top: $margin * 3; }

  .template-variable, .template-name {
    width: 200px !important;
    margin-bottom: $margin; }

  .templates .section h2 {
    padding-left: 0 !important; }

  .templates .section p {
    margin-bottom: $margin; }

  .templates .section .templates {
    width: 200px; }

  .templates .message-subject-container {
    margin-top: $margin * 2; }

  .templates .message-subject-container .subject {
    width: 400px; }

  .templates .message-subject-container .actions {
    margin-top: $margin; }

  /*
   * Questionnaires
   */


  .questionnaires-container .actions li {
    display: inline;
    margin-left: 10px; }


  .questionnaires-container .add-questionnaire {
    font-size: 12px;
    color: $text-color-blue;
    i {
      margin-right: $margin / 3; } }

  .questionnaires-container .questionnaires {
    margin-bottom: $margin * 2; }


  .questionnaires .message-subject-container {}

  .questionnaires .message-subject-container {
    margin-top: $margin * 2; }

  .questionnaires .message-subject-container .body {
    width: 100%;
    height: 200px; }

  .questionnaires .message-subject-container .actions {
    margin-top: $margin; }

  .add-questionnaire-container {
    .message-template-container {
      border: 2px solid $border-color;
      border-radius: $border-radius;
      margin-top: $margin * 4;
      header {
        background-color: $background-color;
        cursor: pointer;
        padding: $padding;
        margin-bottom: 0;
        h3 {
          margin-bottom: 0; } }

      .message-template-content {
        padding: $padding; } } }

  .add-questionnaire-container .message-template-container h3, .add-questionnaire-container .message-template-container p {
    margin-bottom: $margin; }


  .add-questionnaire-container,
  .add-question-container {
    .question {
      padding: $margin 0 $margin * 2;
      margin-bottom: $margin;
      position: relative;

      &:last-child {
        border-bottom: none; }

      .question-actions {
        float: right;
        font-size: $text-smaller;
        visibility: hidden;
        li {
          display: inline-block; } }
      &:hover {
        & > .question-actions {
          visibility: visible; } }

      .question-text {
        width: 100% !important; }

      .question-action {
        border-radius: 1px;
        cursor: pointer;
        margin-left: 10px;
        padding: 2px;
        i + span {
          margin-left: 5px; }
        &:hover {
          background: $background-color; } }

      textarea {
        margin-bottom: 8px; } }

    .additional-options {
      border-top: 1px solid $border-color;
      margin-top: $margin;
      padding-top: $padding;
      h3 {
        padding-top: $padding; }
      .option {
        display: flex;
        justify-content: space-between;
        label.required {
          margin-left: 0; }
        .option-dropdown {
          min-width: 250px; } } }

    .btn-group {
      width: 100%; }

    .dropdown-toggle {
      text-align: left;
      width: 100%;
      span.caret {
        float: right;
        margin-top: 8px; } }

    .dropdown-menu {
      max-height: 200px;
      overflow-y: auto;
      width: 200px; }
    .pipeline-section {
      border-bottom: 1px solid #eee;
      margin-bottom: 5px;

      .pipeline-header {
        font-weight: 400;
        padding: 5px 12px; }

      .check-item {
        margin: 3px 10px;
        min-width: 120px;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        line-height: 1.4;
        padding: 3px 3px 3px 20px;
        position: relative;
        transition: 0.3s all;
        input[type="radio"] {
          left: 3px;
          position: absolute;
          margin: 0;
          top: 6px; }
        &:hover {
          background-color: #f5f5f5; }
        .na {
          color: $color-dark-grey;
          font-style: italic;
          font-weight: 300; } } } }

  .no-activity-container {
    text-align: center;
    padding: 30px;
    border: 1px solid $border-color;
    background: $background-color-2;
    color: #84929f;
    h1 {
      margin-bottom: 0; } }


  .ui-select-choices-row.active a,
  .ui-select-choices-row a:hover {
  }    //-color: #fff !important

  .add-questionnaire-container h3 {
    font-weight: 400; }

  .add-question-container .question input[type=text],
  .add-question-container .question .response-type,
  .add-question-container .question .textarea {
    margin-bottom: $margin;
    input {
      margin-bottom: 0; } }

  .add-question-container .question .textarea {
    min-height: 80px; }

  .add-question-container .question .response-type {
    width: 140px;
    float: left; }

  .add-question-container .question .required {
    font-size: 14px;
    height: 30px;
    display: inline;
    line-height: 34px;
    margin-left: 15px; }

  .add-question-container .question .video-response {
    width: 150px;
    clear: both;
    display: inline-block;
    margin-left: 10px;
    input {
      margin-bottom: 0 !important; } }

  .add-question-container .question .reference-check {
    margin-top: $margin; }

  .add-question-container .question .reference-check .reference-count {
    margin-left: 0; }

  .add-question-container .question .multiple-choice {
    margin-left: $margin;
    clear: both; }

  .add-question-container .question .multiple-choice .options .option .circle {
    float: left;
    margin-top: $margin;
    font-size: $text-small;
    color: $border-color; }

  .add-question-container .question .multiple-choice .options .option input[type=text] {
    margin-bottom: 0; }

  .add-question-container .question .multiple-choice .options .option .clearfix {
    &:after {
      content: "";
      display: table;
      clear: both; } }

  .add-question-container .question .multiple-choice .options .option .remove-option {
    float: right;
    margin-top: $margin;
    font-size: $text-small; }

  .add-question-container .question .multiple-choice .options .option .option-container {
    margin-left: $margin * 2;
    margin-right: $margin * 2; }

  .add-question-container .question .multiple-choice .options.rule .option .option-container {
    width: 230px; }

  .questionnaire-options .rule-options-container,
  .subsection-container .questionnaire-options .rule-options-container,
  .add-question-container .questionnaire-options .rule-options-container,
  .add-question-container .question .multiple-choice .rule-options-container {
    float: right;
    width: 150px;
    margin-right: $margin; }

  .option {
    .move-to-reason {
      margin: $padding $padding 0 20px;
      .response-type {
        float: none;
        width: 100%; } } }

  .subsection-container .questionnaire-options,
  .questionnaire-options {
    .questionnaire-option {
      label.questionnaire-option-input {
        display: inline-block;
        min-height: 34px;
        line-height: 34px;
        font-size: 14px;
        input {
          margin-right: $margin / 2; } } } }

  .add-question-container .question .multiple-choice .rule-options-container button {
    text-overflow: ellipsis;
    overflow: hidden; }

  .add-question-container .question .multiple-choice .rule-options-container .ui-select-bootstrap .ui-select-choices-row>a {
    text-overflow: ellipsis;
    overflow: hidden; }

  .add-question-container .question .multiple-choice .add-option {
    font-size: $text-smaller;
    float: right; }

  .add-question-container .question .required span {
    margin-left: $margin / 2; }

  .add-question-container .add-question {
    font-size: $text-small;
    color: $text-color-blue; }


  .section.questionnaire-template a {
    color: $color-blue;
    font-size: $text-small; }

  /*
    * Scorecards
    */


  .scorecards-container .actions li {
    display: inline;
    margin-left: 10px; }


  .scorecards-container .add-scorecard {
    font-size: $text-smaller;
    color: $text-color-blue; }

  .scorecards-container .scorecards {
    margin-bottom: $margin * 2; }


  .add-scorecard-container {
    .question {
      .section-actions {
        display: none;
        float: right;
        font-size: $text-smaller;
        li {
          display: inline-block; } }
      &:hover {
        .section-actions {
          display: block; } }

      .section-action {
        border-radius: 1px;
        cursor: pointer;
        margin-left: 10px;
        padding: 2px;
        i + span {
          margin-left: 5px; }
        &:hover {
          background: $background-color; } } } }


  .add-scorecard-container .section {
    padding: $margin 0 $margin * 2;
    border-bottom: 1px solid $border-color;
    margin-bottom: $margin; }

  .add-scorecard-container .section:last-child {
    border-bottom: none; }

  .add-scorecard-container .section .section-actions {
    float: right;
    font-size: $text-smaller; }

  .add-scorecard-container .section h3 {
    font-weight: 400; }

  .add-scorecard-container .section input[type=text], .add-scorecard-container .section .response-type {
    margin-bottom: $margin; }

  .add-scorecard-container .section .response-type {
    width: 140px;
    float: left; }

  .add-scorecard-container .section .required {
    margin-left: 160px;
    margin-top: 8px;
    font-size: $text-small;
    height: $margin * 3; }

  .add-scorecard-container .section .multiple-choice {
    margin-left: $margin;
    clear: both; }

  .add-scorecard-container .section .multiple-choice .criteria .item .circle {
    float: left;
    margin-top: $margin;
    font-size: $text-small;
    color: $border-color; }

  .add-scorecard-container .section .multiple-choice .criteria .item .remove-option {
    float: right;
    margin-top: $margin;
    font-size: $text-small; }

  .add-scorecard-container .section .multiple-choice .criteria .item .option-container {
    margin-left: $margin * 2;
    margin-right: $margin * 2; }


  .add-scorecard-container .section .multiple-choice .add-option {
    font-size: $text-smaller;
    float: right; }

  .add-scorecard-container .section .required span {
    margin-left: $margin / 2; }

  .add-scorecard-container .add-section {
    font-size: $text-small;
    color: $text-color-blue; } }


// EEOC

.survey-options .option-item {
  margin-top: $margin;
  padding-bottom: $padding;
  border-bottom: 1px solid $border-color; }

.survey-options .option-item {
  margin-bottom: $margin * 2;
  border-bottom: none; }

.survey-options h2 {
  margin-bottom: 30px; }


.survey-options .option-item .btn-group {
  margin-top: 4px; }

.survey-options .option-item .btn-group .enabled.active {
  background-color: $color-green !important;
  border-color: $color-green !important;
  color: #fff; }

.tag-management {
  .input-tag {
    margin-bottom: $margin;
    input {
      width: 100%; } }
  .section {
    width: 300px;
    h2, p {
      margin-bottom: 8px; } } }

// Team permissions

.team-permissions {
  .team-member-options {
    border-top: 1px solid $border-color;
    padding: 10px;
    text-align: center;
    span {
      font-size: $text-small; }
    .btn {
      font-size: $text-smaller;
      margin-left: $margin / 2;
      padding: 6px 10px; } }
  .option-item {
    margin-top: $margin;
    padding-bottom: $padding;
    border-bottom: 1px solid $border-color;
    .option-info {
      label {
        max-width: 290px; }
      .location {
        font-size: 12px;
        color: #84929f;
        margin-top: 5px;
        line-height: 1.5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        i.fa {
          margin-right: 5px; } } }
    .actions {
      float: right; } }

  .empty {
    background: rgba(0,0,0,.02);
    border-radius: 4px;
    font-size: 13px;
    color: #84929f;
    padding: 12px 10px; }


  .section.invite {
    margin-bottom: $margin * 3; }
  .invite-positions {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    i {
      margin: 0 5px 0 0; }
    .fa-circle {
      min-height: initial;
      background-color: initial; }
    .dropdown-menu {
      width: 100%;
      a {
        padding: 6px 10px !important;
        p {
          margin-bottom: 0;
          font-size: 12px;
          color: #84929f; } } } }

  .btn.btn-blue {
    height: 34px;
    margin-left: $margin; }
  .invite-user-type {
    width: 150px;
    display: inline-block; }


  h2 {
    margin-bottom: $margin; }

  .member-list {
    background-color: #f9fafa;
    border: 1px solid #edeff0;
    border-radius: 4px;
    padding: 0px 0px;
    max-height: 450px;
    overflow: auto;

    .member {
      padding: 10px 10px;
      padding: $padding;
      height: $header-height;
      border-bottom: 1px solid $border-color;
      .member-info {
        margin-left: 40px;
        h3 {
          line-height: 1.2;
          i {
            min-height: initial;
            margin: 0 5px 0 0;
            font-size: 10px; } }
        p.location {
          font-size: 12px;
          line-height: 18px;
          color: #84929f;
          margin-bottom: 0;
          line-height: 18px;
          i {
            margin-right: 5px; } } }

      .actions {
        float: right; }

      .actions-list {
        float: right;
        margin-top: 5px;
        li.action {
          margin-top: 8px;
          font-size: 13px;
          margin-left: 20px;
          display: inline-block;

          &.remove {
            width: 20px;
            text-align: right; }

          &.role {
            width: 110px;
            text-align: right;
            margin-right: 10px;
            i {
              margin-left: 5px; }
            .dropdown {
              cursor: pointer; }
            .dropdown-menu {
              overflow-y: auto;
              width: 140px;
              left: -40px;
              top: 18px;
              .item {
                border-radius: 4px;
                cursor: pointer;
                font-weight: 400;
                line-height: 1.4;
                margin: 0 5px;
                padding: 3px 5px;
                transition: all .3s ease;
                &:hover {
                  background-color: #edeff0; } } } }
          &.manage {
            i {
              margin-right: 5px; } } } }

      .member:last-child {
        border-bottom: none; } } } }

// User Settings

.profile.settings .application-options {
  display: block;
  border: none;
  padding: 0 !important;
  .option-item {
    display: block;
    margin-top: $margin;
    padding-bottom: $padding;
    border-bottom: 1px solid $border-color; } }

.profile.settings.signature .application-options {
  background: none; }

.profile.settings.signature .application-options .option-item {
  border: none;
  padding: 0;
  .btn-group {
    float: initial; } }

.profile.settings .application-options h2 {
  margin-bottom: 30px; }


.profile.settings .application-options .option-item {
  display: block;
  .service-logo {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #eee;
    border-radius: 4px;
    img {
      width: 100%;
      border-radius: 4px; } }
  .service-main {
    input[type=text] {
      width: 500px; } }

  label {
    line-height: 1.5;
    font-size: $text-small;
    font-weight: 400; } }

.profile.settings .application-options .option-item p {
  margin-bottom: 0;
  opacity: .8; }

.profile.settings .application-options .option-item .btn-group {
  float: right;
  margin-top: 4px; }

.profile.settings .application-options .option-item .btn-group .active {
  background-color: $color-green !important;
  border-color: $color-green !important;
  color: #fff !important; }

.profile.settings .application-options .option-item .btn-group .active:hover {
  background-color: $color-green !important;
  border-color: $color-green !important;
  color: #fff !important; }

//.profile.settings .application-options .option-item .btn-group .btn-off.active
//  background-color: #eaeaea;
//  border-color: #edeff0 !important;
//  color: inherit !important;

//.profile.settings .application-options .option-item .btn-group .btn-off.active:hover
//  background-color: #edeff0!important;
//  border-color: #e0e0e0!important;
//  color: inherit !important;

.modal-content .settings .main-content.approvals-modal {
  margin-left: 0 !important; }

.approvals {
  .link-small {
    color: $color-blue;
    cursor: pointer;
    font-size: 14px;
    i {
      margin-right: $margin / 3; } } }

.approvals-modal {
  .flex-scrollable-widget {
    height: 100%; }
  .invite-container {
    input[type="text"].invite {
      max-width: 250px; }
    .dropdown-menu {
      display: block;
      padding: 0;
      width: 250px; } }
  .approval-types {
    font-size: $text-small;
    font-weight: 400;
    li {
      margin-bottom: $margin/2; }
    input[type="radio"] {
      margin-right: $margin; } }

  .approval-order {
    position: relative;
    width: 400px;
    label {
      padding-left: 8px; }
    span.order {
      text-align: center;
      line-height: 22px;
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 15px;
      top: 3px;
      background: #fff;
      font-size: 12px;
      float: left;
      border: 1px solid  $background-color-3;
      z-index: 300;
      left: 7px; }
    &:before {
      background-color: $background-color-3;
      content: "";
      position: absolute;
      top: 10px;
      left: 19px;
      bottom: 10px;
      z-index: 200;
      width: 3px; } }

  .member-list {
    border: none; }

  .list-item {
    padding: $padding;
    position: relative;
    .avatar {
      position: absolute; }
    .approval-actions {
      float: right;
      font-size: $text-smaller;
      visibility: hidden;
      li {
        display: inline-block;
        border-radius: 1px;
        cursor: pointer;
        margin-left: $margin;
        padding: 2px;
        i + span {
          margin-left: $margin / 2; } } }
    .member-info {
      margin-left: 40px !important; }
    .invite-actions {
      margin-left: 40px;
      margin-top: 4px; }
    &:hover {
      .approval-actions {
        visibility: visible; } } }
  .no-admins {
    background-color: $background-color-2;
    border: 1px solid $border-color;
    padding: $padding * 3;
    text-align: center;
    i {
      margin-right: $margin / 2; } }
  .status {
    float: left;
    margin-top: 10px;
    font-size: $text-small; }
  ul.actions {
    float: right; } }

ul.bulleted {
  list-style: disc;
  font-size: 14px;
  margin-left: 20px;
  li {
    margin-bottom: 5px;
    line-height: 1.5; } }

.gdpr {
  input[type="number"] {
    text-align: right;
    width: 70px; }

  .option-list-body p {
    margin-top: 5px;
    margin-bottom: 0 !important; }

  h2 {
    margin-bottom: 8px; }
  p {
    line-height: 1.4;
    margin-bottom: 15px; }
  section {
    margin-bottom: 25px; }

  h3 {
    font-size: 14px;
    line-height: 1.5; }

  input[type="text"] {
    width: 300px; }

  label {
    input[type="checkbox"] {
      margin-right: $margin;
      margin-top: 0;
      vertical-align: middle; }
    span {
      display: inline-block;
      vertical-align: middle; } }

  .type-selector {
    margin-top: 0;
    .type-option {
      position: relative; } }

  .edit-privacy {
    position: absolute;
    right: 0;
    top: 0; } }

.messenger {
  form {
    .company {
      h4 {
        font-size: 14px; }

      .section {
        .textarea {
          min-height: 200px; }
        .options {
          font-size: $text-small;
          li.option {
            margin-bottom: 5px; }
          input[type="radio"] {
            display: inline-block !important;
            margin-right: 10px;
            margin-bottom: 5px !important; } } } } }
  .position-select {
    margin-bottom: $margin; }
  .add.small {
    font-size: $text-smaller;
    color: $color-blue;
    display: inline-block;
    cursor: pointer;
    i {
      margin-right: $margin / 2; } }
  .ui-select-bootstrap.dropdown {
    display: inline-block;
    width: 300px; }
  .browser-preview-container {
    margin-top: $margin * 2; }
  div.user img.avatar,
  div.user span {
    float: left; }
  div.user span.user-name {
    margin-left: 5px;
    margin-top: 6px; }
  .hello {
    display: flex;
    .hello-blurb {
      flex: 1;
      padding-right: $padding * 2;
      h1 {
        font-size: 36px;
        margin-bottom: $margin * 3; }
      p {
        font-size: 16px !important;
        line-height: 1.4; } }
    .hello-image {
      flex: 1;
      img {
        width: 100%; } } } }

.add-scheduling-links-container {
  .available-days {
    margin-bottom: 10px;
    .available-day {
      display: inline-block;
      font-size: 14px;
      margin-right: 15px;
      input[type="checkbox"] {
        margin-right: 5px; } } }
  .available-range {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    .range-start,
    .range-end {
      display: inline-block;
      margin: 0 5px;
      width: 100px; }
    .range-timezone {
      width: 250px; } }

  .scheduling-details {
    font-size: 14px;
    .details-label {
      margin-bottom: 10px; }
    .column {
      margin-right: 10px;
      .dropdown {
        width: 120px; } } }


  form {
    height: 100%;
    max-height: 100%;
    .panel-times {
      width: 100%;
      .panel-time {
        margin-bottom: $margin;
        padding: $margin;
        border: 1px solid $border-color;
        border-radius: 4px;
        background-color: #fafafa;
        .avatar.sm:before {
          line-height: 21px; }
        .row {
          .column {
            padding: 5px;
            &:first-child {
              padding-left: 15px; }
            &:last-child {
              padding-right: 15px; }
            &.start-time {
              max-width: 120px;
              min-width: 120px; }
            &.duration {
              max-width: 150px;
              min-width: 150px; }
            &.interviewers {
              flex: 1; }
            &.location {}
            &.interview-guide {}
            &.column-align-middle {
              align-self: center; }
            &.location, &.interview-guide {
              width: 200px; }
            &.time {
              width: 100px; }
            &.description {
              width: 504px; }
            .section {
              margin-bottom: $margin;
              input[type=text], textarea {
                width: 100%; }
              textarea {
                height: 150px; } }
            /*.fc-header-toolbar
              display: none*/
            .fc {
              font-size: 13px; }
            .fc-time-grid {
              border-radius: 4px;
              .fc-slats td {
                height: 20px; } }
            span.option-label {
              display: inline-block;
              font-size: 14px;
              width: 150px;
              i {
                font-size: 12px;
                margin-left: 5px; } }
            .bzy-switch {
              margin-left: $margin; } } } } } }
  .row {
    display: flex;
    .column {
      padding: 15px;
      .section:first-child {
        margin-top: 0; } } }
  label.pseudo-dropdown {
    display: block;
    position: relative;
    span.caret {
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 15px; } }

  .interview-locations {
    min-width: 250px;
    li {
      cursor: pointer;
      position: relative;
      &.recent {
        cursor: default;
        display: block;
        padding: 3px 20px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #777;
        white-space: nowrap; }
      i.fa.fa-times {
        color: #68747e;
        position: absolute;
        font-size: 10px;
        top: 8px;
        right: 14px; } } }

  .panel-details {
    //max-height: 73vh
    flex: 1;
    div.ng-invalid-invalidtime button,
    .error .participants-select {
      border-color: #eba2a5; }
    .participants-select {
      border: 2px solid $border-color;
      box-shadow: none;
      padding: 3px;
      padding-top: 0;
      min-height: 34px;
      input {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        display: inline-block;
        margin-top: 3px;
        height: 24px;
        padding: 3px 8px;
        vertical-align: middle; }
      .ui-select-choices.ui-select-choices-content.dropdown-menu {
        width: 200px; }
      .ui-select-multiple {
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: {} }
      .ui-select-choices-row {
        .user {
          .avatar {
            border: none;
            width: 20px;
            height: 20px; }
          .user-name {
            margin-left: $margin / 2;
            line-height: 24px; } } }
      .ui-select-match {
        .ui-select-match-item {
          margin-top: 3px;
          border-width: 1px;
          position: relative;
          padding: 1px 3px;
          font-size: 12px;
          line-height: 1.5;
          border-radius: 3px;
          margin-bottom: 0;
          font-weight: 400;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          border: 1px solid transparent;
          display: inline-block;
          //padding-right: 20px
          &:hover {
            border-width: 1px !important; }
          .close {
            background-color: transparent;
            display: inline;
            line-height: 1em;
            padding: 0;
            position: static;
            right: 0; } } } }
    .ui-select-match-item {
      color: #fff !important;
      font-size: 14px;
      background-color: #ccc;
      .ui-select-match-close {
        color: #fff;
        box-shadow: none;
        text-shadow: none; }
      &[class*='available-']:before {
        font-family: "Font Awesome 5 Pro";
        content: '\f111';
        display: inline-block;
        min-width: 10px;
        margin-right: 5px; }
      &.available-yes:before {
        content: '\f058'; }
      &.available-no:before {
        content: '\f05e'; }

      &.participant-1 {
        background-color: $color-1; }
      &.participant-2 {
        background-color: $color-2; }
      &.participant-3 {
        background-color: $color-3; }
      &.participant-4 {
        background-color: $color-4; }
      &.participant-5 {
        background-color: $color-5; }
      &.participant-6 {
        background-color: $color-6; }
      &.participant-7 {
        background-color: $color-7; }
      &.participant-8 {
        background-color: $color-8; }
      &.participant-9 {
        background-color: $color-9; }
      &.participant-not-shared {
        background-color: #ccc; } } } }

.modal-content .settings .user-notification-settings {
  .notification-headers {
    float: right;
    padding-right: 11px;
    margin-top: 5px;
    small {
      display: inline-block;
      margin-left: 10px;
      font-size: $text-smaller;
      text-align: center;
      width: 40px; } }
  .option-item {
    display: flex; }
  .option-item-info {
    flex: 1; }
  .option-checkboxes {
    label {
      display: inline-block;
      margin-left: 10px;
      //padding: $padding
      text-align: center;
      width: 40px; }
    input[type="checkbox"] {
      display: inline; } } }

@media (max-width: 720px) {
  .modal-content .settings .main-content {
    margin-left: 0 !important; }
  .modal-content .settings .main-content .member-list .member {
    height: auto; }
  .modal-content .settings .member-info-wrap {
    float: none; }
  .modal-content .settings .main-content .member .actions-list {
    float: none;
    margin-top: 0; }
  .modal-content .settings .main-content .member .actions-list li.action {
    margin-top: 0; } }

@media (min-height: 899px) {
  .messenger.step-through {
    .main-content {
      height: 780px; } } }

@media (min-height: 800px) and (max-height: 899px) {
  .messenger.step-through {
    .main-content {
      height: 680px; } } }

@media (min-height: 700px) and (max-height: 799px) {
  .messenger.step-through {
    .main-content {
      height: 580px; } } }

@media (min-height: 600px) and (max-height: 699px) {
  .messenger.step-through {
    .main-content {
      height: 780px; } } }

@media (min-height: 500px) {
  .modal-content {
    .messenger.step-through {

      .main-content > div {
        margin-bottom: 75px; }

      .main-content {
        position: relative;
        overflow: scroll;
        max-height: 600px;
        .footer {
          position: fixed;
          bottom: 0px;
          background: #fff;
          left: 175px;
          right: 0;
          border-top: 1px solid #eee;
          padding: 20px; } } } } }