@import "constants";

.analytics-header {
     align-items: center;
     display: flex;
     margin: 10px 0 20px;
     width: 100%;
     max-width: 1024px;

     .report-timeframe {
          flex: 1;
          text-align: right;
     }
}

.line-analytics-container {

     margin-top: $margin * 4;
}

.line-analytics-container h2 {
     margin-bottom: $margin * 2;
     margin-left: $margin * 2;
}

.line-analytics-container canvas {
     padding: 0 $margin * 2;
}

.analytics-container {
     //margin-bottom: $margin * 4
     //width: 400px
     width: 33%;
     //float: left
     //padding: 50px
     /* box-sizing: border-box; */
     //border-right: 1px solid #eee
     display: inline-block;
     vertical-align: top;
}

.analytics-container.full {
     width: 100%;
}

.analytics-container.half {
     width: 50%;
}

.analytics-container:last-child {
     border-right: none;
}

.analytics-container h2 {
     margin-bottom: $margin;
}

.chart-timeinstage {
     h2.pipeline-label {
          padding: $padding * 2;
          padding-top: $padding / 2;
     }

     .timeinstage-category {
          margin-top: $margin * 2;
     }

     .show-disqualified-wrap {
          padding-top: $padding;

          a.link-blue {
               cursor: pointer;

               i.fa {
                    font-size: 12px;
               }
          }
     }

     .disqualified {
          display: none;
     }

     .show-disqualified .disqualified {
          display: table-row;
     }
}

.analytics-container .data-container {
     //position: relative
     background: #fff;
     padding-top: $margin * 2;
     border-radius: 4px;
     margin-right: $margin * 2;
}

.analytics-container.full .data-container {
     width: 100%;
     position: relative;
     min-height: 380px;
}

.analytics-container.half .data-container {
     position: relative;
}


.analytics-container .data-container canvas {
     //margin-rigeadert: $margin * 4
     width: 250px;
     height: 250px;
     display: block;
     margin: 0 auto;
}

.analytics-container.full .data-container canvas {
     margin: $margin * 2;
     width: 300px;
     height: 300px;
     float: left;
}

.analytics-container .data-container canvas.hidden {
}

//display: none

.analytics-container .data-container .chart-label {
     //position: absolute
     //left: 124px
     //top: 120px
     text-align: center;
     margin-top: -160px;
     margin-bottom: 100px;
}

.chart-wrap {
     position: relative;
}

.analytics-container .data-container .chart-label {
     left: 0;
     position: absolute;
     text-align: center;
     top: 25%;
     right: 0;
     width: 60px;
     height: 70px;
     margin: 0 auto;
     z-index: 0;

     i {
          font-size: 50px;
          margin-bottom: 5px;
          position: relative;
          z-index: -1;
     }

     span {
          display: block;
          font-size: $text-large;
     }
}

.analytics-container .data-container .data-table {
     //margin-left: 240px
     font-size: $text-small;
     width: 260px;
     margin: 0 auto;
}

.container-chart-left, .container-table-right {
     vertical-align: top;
}

.container-chart-left {
     display: inline-block;
     margin-right: 40px;
     width: 300px;
}

.container-table-right {
     display: inline-block;
     width: 610px;
}

.analytics-container.full .data-container .data-table {
     width: 610px;
     display: inline-block;
}

.analytics-container.half .data-container .data-table {
     width: initial;
     display: inline-block;
     margin: 0 20px;
}

.analytics-container .no-results {
     text-align: center;
     margin-bottom: $margin * 2;
}

.analytics-container .data-container .data-table tr {
     border-bottom: 1px solid $border-color;
}

.analytics-container.full .data-container .data-table tr:last-child, .analytics-container.half .data-container .data-table tr:last-child {
     border-bottom: none;
}

.analytics-container.full .data-container .data-table td.name {
     width: 250px;
     max-width: 250px;
}


.chart-full-container {
     table {
          font-size: $text-small;
          width: 100%;

          tr {
               border-bottom: 1px solid $border-color;

               &:last-child {
                    border-bottom: none;
               }
          }

          td {
               padding: 18px $padding 17px;
          }

          td.name {
               min-width: 150px;
               width: 150px;
               max-width: 150px;
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;

               &.long {
                    max-width: 350px;
               }

               span {
                    //line-height: 50px
                    margin-right: 10px;
               }
          }

          td.graph {
               vertical-align: middle !important;
               width: 100%;

               &.small {
                    width: 100px;
               }

               .bar {
                    background: #f7f7f7;
                    border-radius: 4px;
               }

               .line {
                    background-color: $color-blue;
                    border-radius: 4px;
                    display: inline-block;
                    height: 15px;
                    vertical-align: top;
               }

               &.bar-right {
                    border-right: 1px solid $border-color;
                    padding-right: 0;

                    .line {
                         border-radius: $border-radius 0 0 $border-radius;
                         float: right;
                    }
               }

               &.bar-left {
                    padding-left: 0;

                    .line {
                         border-radius: 0 $border-radius $border-radius 0;
                    }
               }
          }

          td.count {
               min-width: 50px;
               width: 50px;
               text-align: right;
          }
     }
}

.chart-pie {
     margin-bottom: $margin * 2;
     position: relative;

     &:last-child {
          margin-bottom: 0;
     }
}

.data-container-pie {
     background: #fff;
     border: 1px solid $border-color;
     border-radius: 4px;
     display: flex;
     padding: $padding * 2;
     position: relative;

     .pie-chart {
          padding-right: $padding * 4;
          min-height: 305px;
          max-height: 305px;
          width: 33%;

          canvas {
               border: none !important;
          }
     }

     .pie-table {
          flex: 1;
     }
}


.analytics-container .data-container .data-table td.percentage {
     width: 50px;
}

// New stuff

.analytics-sidebar-container {
     min-width: 200px !important;
}

//top: 70px

.analytics-sidebar-container.company {
     padding-top: 0;
}

.analytics-sidebar-container h2 {
     margin-bottom: $margin * 2;
}

.analytics-sidebar-container .report-list-item.activeTab {
     background: $background-color;
     border-radius: 4px;
     border-left: $margin / 2 solid $color-green;
     padding-left: $margin / 2;
}

.analytics-sidebar-container .report-list-item {
     padding: 0 $margin;
     border-bottom: 1px solid $background-color;
}

.analytics-sidebar-container .report-list-item {
     line-height: 34px;
     font-weight: 400;
     font-size: $text-small;
}

.analytics-sidebar-container .report-list-item-1 {
     line-height: 34px;
     font-weight: 400;
     font-size: $text-small;
     width: 100%;
     a {
          border-bottom: 1px solid $background-color;
          display: block;
          padding: 0 $margin;

          &.activeTab {
               background: $background-color;
               border-radius: 4px;
               border-left: $margin / 2 solid $color-green;
               padding-left: $margin / 2;

               & + ul {
                    display: block;
               }
          }
     }

     ul {
          border-bottom: 1px solid $background-color;
          display: none;
     }

     //padding-left: $padding
     .report-list-subitem a {
          border-bottom: none;
          font-size: $text-small;
          padding: $padding;
     }
}

.report-criteria-container {
     margin-bottom: $margin;

     .date-range-group {
          .dropdown-menu {
               padding: 5px;
          }

          table th {
               font-weight: 400;
               padding: 5px;
               vertical-align: top;
          }

          .btn-default.activeTab {
               background-color: #e6e6e6;
               border-color: #edeff0 !important;
               box-shadow: none;
          }

          td .btn {
               background: none;
          }

          .alert {
               line-height: 1.2;
               margin-bottom: 10px;
               padding: 10px;
          }

          .date-field {
               //display: inline-block
               margin-bottom: $margin;
               position: relative;
               width: 100%;

               &:after {
                    color: $text-color-lighter;
                    content: '\f073';
                    font-family: 'Font Awesome 5 Free';
                    font-size: $text-smaller;
                    position: absolute;
                    right: 12px;
                    top: 10px;
               }
          }

          input {
               border: 1px solid $border-color;
               border-radius: $border-radius;
               font-size: $text-small;
               height: 34px;
               padding: 0 10px;
               width: 100%;
          }

          .actions {
               text-align: right;

               .btn {
                    width: 95px;
               }
          }
     }
}

.report-criteria-container .btn-group {
     margin-bottom: $margin;
     width: 100%;
}

.report-criteria-container .btn-group button {
     width: 100%;
     text-align: left;
     height: 34px;

     i.fa {
          margin-right: 5px;
          vertical-align: middle;
     }

     span.criteria {
          max-width: 150px;
          overflow: hidden;
          display: inline-block;
          text-overflow: ellipsis;
          vertical-align: middle;
     }

     .caret {
          float: right;
          margin-top: 8px;
     }
}

.view-analytics-container {
     .chart {
          background: #fff;
          border-radius: 4px;
          padding: $padding;
     }
}

.view-analytics-container canvas {
     width: 100%;
     height: 250px;
}

.view-analytics-container .chart-full-container {
     padding: $padding * 2;
     background-color: $background-color-2;
     border: 1px solid $border-color;
     margin-bottom: $margin * 4;
     border-radius: 4px;
     min-width: 800px;
     max-width: 1024px;

     &.minimal {
          margin-bottom: 20px;

          h2 {
               margin-bottom: 0;
          }

          &.with-count {
               padding: 15px 20px 14px;

               small {
                    color: $text-color-light;
                    display: block;
               }

               .chart-actions {
                    top: 0;
               }
          }
     }
}

.view-analytics-container .chart-half-container.stand-alone {
     padding: $padding * 2;
     background-color: $background-color-2;
     border: 1px solid $border-color;
     margin-bottom: $margin * 4;
     border-radius: 4px;
     max-width: 440px;
}

.chart-full-container {
     legend {
          color: $color-dark-grey;
          font-weight: 400;
          line-height: 1.5;
          font-size: 14px;
          margin-bottom: $margin * 2;

          .legend-item {
               display: inline-block;
               margin-right: 15px;

               i.fa.fa-square {
                    margin-right: 5px;
               }
          }
     }
}


.chart-label {
     position: relative;
}

.chart-actions {
     position: absolute;
     right: 0;
     top: -5px;

     a {
          i {
               margin-right: 5px;
          }
     }
}

.view-analytics-container .chart-full-container canvas,
.view-analytics-container .chart-full-container .analytics-container .data-container {
     border: 1px solid $border-color;
}

.view-analytics-container .chart-full-container .analytics-container canvas {
     border: none;
}

.view-analytics-container .chart-full-container.race-ethnicity {
     width: 770px;
}

.view-analytics-container .chart-full-container h2, .view-analytics-container .chart-half-container h2 {
     margin-bottom: $margin * 2;
}

.view-analytics-container .chart-full-container h2 .marker, .view-analytics-container .chart-half-container h2 .marker {
     margin-right: $margin / 2;
     margin-left: $margin * 1.5;
}

.view-analytics-container .chart-full-container h2 .marker.views {
     color: #fc6774;
}

.view-analytics-container .chart-full-container h2 .marker.sourced {
     color: #edaf5f;
}

.view-analytics-container .chart-full-container h2 .marker.candidates {
     color: #1ebbdc;
}

.view-analytics-container .chart-half-container {
     margin-bottom: $margin * 2;
     padding: $padding / 2;
     border-radius: 4px;
     background-color: $background-color;
}

.view-analytics-container .chart-full-container .metrics {
     display: flex;
     flex-direction: row;
     margin-right: -$margin;
     margin-left: -$margin;
     flex-wrap: wrap;
     //margin-top: $margin * 2
     .metric {
          //flex: 1
          padding: $margin * 2 $margin 0;
          flex: 0 0 auto;
          flex-basis: 33.333%;
          max-width: 33.333%;

          &:last-child {
               margin-right: 0;
          }
     }

     &.two-column {
          .metric {
               flex-basis: 50%;
               max-width: 50%;
          }
     }

     //min-width: 33.333%
     &.four-column {
          .metric {
               flex-basis: 25%;
               max-width: 25%;
          }
     }
}

//min-width: 33.333%

.view-analytics-container .chart-full-container .metrics .metric .total {
     padding: $padding * 2 $padding;
     background-color: #fff;
     border-radius: 4px;
     text-align: center;
     color: $text-color-light;
     border: 1px solid $border-color;
}

.view-analytics-container .chart-full-container .metrics .metric .total i {
     margin-right: 5px;
}

.view-analytics-container .chart-full-container .metrics .metric .total {
     .big {
          font-size: 40px;
          margin-top: $margin;
          font-weight: 400;
          display: block;
          color: $text-color-default;
     }
}


.view-analytics-container .chart-full-container .metrics .metric .total .big .previous-change {
     font-size: 18px;
     margin-left: $margin;
}

.chart-placeholder {
     position: relative;
     height: 200px;

     &.border {
          background-color: #fff;
          border: 1px solid $border-color;
          border-radius: $border-radius;
     }

     .empty-chart {
          top: 80px;
     }
}

.empty-chart {
     position: absolute;
     top: 180px;
     left: 0;
     text-align: center;
     width: 100%;
}

.previous-change {
     display: inline-block;
     vertical-align: middle;

     &:before {
          display: inline-block;
          font-family: 'Font Awesome 5 Free';
          margin-right: 5px;
     }
}

.previous-change.increase {
     color: $color-green;

     &:before {
          content: '\f062';
     }
}

.previous-change.decrease {
     color: $color-red;

     &:before {
          content: '\f063';
     }
}

.previous-change.reverse.increase {
     color: $color-red;
}

.previous-change.reverse.decrease {
     color: $color-green;
}


.view-analytics-container .chart-full-container .chart-container.half {
     width: 50%;
     display: inline-block;
     vertical-align: top;
}

.view-analytics-container .chart-full-container .chart-container.half:first-child {
     padding-right: $margin;
}

.view-analytics-container .chart-full-container .chart-container.half:last-child {
     padding-left: $margin;
}

.view-analytics-container .data-table {
     margin: 0 $margin;
}


table.data-table-grid {
     overflow: auto;

     tr:last-child {
          border-bottom: none;
     }

     th, td {
          //border-bottom: 1px solid $border-color
          font-size: 14px;
          padding: $padding;
          text-align: left;

          &.centered {
               text-align: center;
          }
     }

     th {
          font-weight: 400;
          white-space: nowrap;
     }

     td {
          font-weight: 200;

          .count {
               padding: 1px 4px;
               border-radius: 4px;
               background: $color-blue;
               color: #fff;
          }
     }

     &.four-column {
          td {
               width: 25%;
          }
     }

     &.seven-column {
          td {
               width: 14.285%;
          }
     }
}


.view-analytics-container .data-table tr {
     border-bottom: 1px solid $border-color;
}

.view-analytics-container .data-table td.name {
     width: 200px;
}

//text-transform: capitalize

.view-analytics-container .data-table td.name {
     padding-top: 15px;
     padding-bottom: 15px;

     span {
          //line-height: 50px
          white-space: nowrap;
     }
}

.view-analytics-container .data-table td.count {
     width: 50px;
     text-align: right;
}

.view-analytics-container .data-table td.graph {
     vertical-align: middle !important;
     width: 1000px;
}

.view-analytics-container .data-table td.percentage {
     width: 50px;
}


.view-analytics-container .data-table tr:nth-child(1) td.graph .line {
     background-color: $color-1;
}

.view-analytics-container .data-table tr:nth-child(2) td.graph .line {
     background-color: $color-2;
}

.view-analytics-container .data-table tr:nth-child(3) td.graph .line {
     background-color: $color-3;
}

.view-analytics-container .data-table tr:nth-child(4) td.graph .line {
     background-color: $color-4;
}

.view-analytics-container .data-table tr:nth-child(5) td.graph .line {
     background-color: $color-5;
}

.view-analytics-container .data-table tr:nth-child(6) td.graph .line {
     background-color: $color-6;
}

.view-analytics-container .data-table tr:nth-child(7) td.graph .line {
     background-color: $color-7;
}

.view-analytics-container .data-table tr:nth-child(8) td.graph .line {
     background-color: $color-8;
}

.view-analytics-container .data-table tr:nth-child(9) td.graph .line {
     background-color: $color-9;
}

.view-analytics-container .data-table tr:nth-child(10) td.graph .line {
     background-color: $color-10;
}

.grid {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;

     .grid-labels {
          padding-right: $padding * 2;
          position: relative;
          z-index: 10;

          .grid-column {
               text-align: left;
               white-space: nowrap;
          }
     }

     .grid-columns {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          overflow-x: auto;

          -ms-overflow-style: scrollbar;
          -webkit-overflow-scrolling: touch;
          -webkit-transform: translate3d(0, 0, 0);

          &::-webkit-scrollbar {
               -webkit-appearance: none;
               -moz-appearance: none;
               height: 8px;
               width: 8px;
          }

          &::-webkit-scrollbar-thumb {
               border-radius: 8px;
               border: none;
               background-color: rgba(0, 0, 0, .2);
          }

          &::-webkit-scrollbar-track-piece {
               border-radius: 8px;
               background: $background-color-3;
          }

          .grid-column {
               &:nth-child(even) {
                    background-color: $background-color-2;
               }
          }
     }

     .grid-labels + .grid-columns .grid-column {
          &:nth-child(odd) {
               background-color: $background-color-2;
          }

          &:nth-child(even) {
               background-color: transparent;
          }
     }

     .grid-column {
          font-size: $text-small;
          text-align: center;
          white-space: nowrap;
          min-width: 60px;

          &.first-column {
               text-align: left;
               white-space: nowrap;
               width: 140px;
          }

          &.wide {
               width: 100px;
          }

          h3 {
               line-height: 40px;
               text-align: center;
               text-overflow: ellipsis;
               overflow: hidden;

               strong {
                    font-weight: 400;
               }
          }

          p {
               line-height: 40px;
          }

          .count {
               padding: 1px 4px;
               border-radius: 4px;
               background: $color-blue;
               color: #fff;
          }
     }
}


canvas.chart-doughnut {
     height: 250px;
     width: 250px;
     position: relative;
     z-index: 1000;
}

.chart-horizontal-stacked-bar {
     .chart-horizontal-stacked-bar-layout {
          background-color: #fff;
          border-radius: $border-radius;
          border: 1px solid $border-color;
          padding: 0 $padding * 2;
     }

     .chart-horizontal-stacked-bar-row {
          align-items: center;
          border-bottom: 1px solid $border-color;
          display: flex;
          min-height: 50px;

          &:last-child {
               border-bottom: none;
          }

          .chart-horizontal-stacked-bar-label {
               margin-right: 50px;
               min-width: 150px;
               max-width: 150px;
               width: 150px;
               font-size: 14px;
               line-height: 1.2;
          }

          .chart-horizontal-stacked-bar-data {
               flex: 1;

               .axis {
                    font-size: 14px;
                    margin-top: $margin;

                    .ticks {
                         display: flex;

                         span {
                              width: 20%;
                         }
                    }

                    .axis-label {
                         margin: $margin 0 $margin * 2;
                         text-align: center;
                    }
               }
          }
     }

     .bar {
          border-radius: $border-radius;
          display: inline-block;
          height: 15px;
          overflow: hidden;

          .stack {
               display: inline-block;
               height: 100%;
          }
     }
}

#chartjs-tooltip {
     opacity: 1;
     position: absolute;
     background: rgba(0, 0, 0, .8);
     color: white;
     border-radius: 5px;
     -webkit-transition: all .1s ease;
     transition: all .1s ease;
     pointer-events: none;
     -webkit-transform: translate(-50%, 0);
     transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
     display: inline-block;
     width: 15px;
     height: 15px;
     margin-right: 1px;
}

.chartjs-tooltip-item {
     line-height: 1.4;
     vertical-align: bottom;
}
