/*
 * Main Calendar
 */

.company-calendar .bzy-content, .position-calendar .bzy-content {
     max-width: 1280px !important;
}

.fc-toolbar {
     h2 {
          margin-top: $margin / 2;
     }
}

.fc-view-container {
     background-color: #fff;

     .fc-view {
          background-color: #f9fafa;

          .fc-head {
               .fc-day-header {
                    font-weight: 400;
               }
          }
     }
}

.fc-time-grid-event.fc-short .fc-time {
     font-size: 1em;
     font-weight: bold;

     &:after {
          content: "\000A0";
     }
}

.fc-time-grid-event.fc-short .fc-title {
     font-size: 1em;
}

.fc-view-container .fc-event {
     border-color: $color-green;
     background-color: rgba(118, 214, 145, .8);
     cursor: pointer;
     padding: 2px 4px;
     margin: 2px 4px;
}

.fc-view-container .fc-month-view a.fc-event {
     height: 17px;
}

.fc-time-grid .fc-slats td {
     height: 35px;
}

.fc-toolbar .fc-left h2 {
     padding-top: 7px;
}

.fc-day-grid-event {
     margin: 2px 4px 0;
}

.fc-view-container .fc-event.assigned {
     border-color: $color-blue;
     background: rgba(90, 192, 229, .8);
}

.fc-view-container .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
     border-color: #edeff0;
}


.fc-view-container .fc-event.google-calendar {
     border-color: #ddd;
     background: #eee;
     color: #ccc;
     font-weight: 200;

     &:hover {
          cursor: default;
          color: #bbb;
     }
}

.fc-view-container th, td.fc-axis {
     padding: $padding !important;
}
