@import "constants";
@import "app_screen_sizes";

.candidate-update-container {
     input[type='email'], input[type='text'] {
          width: 250px !important;
          margin-bottom: 10px;
     }
}

@media (min-width: $tablet_max) {
     .modal-dialog.modal-xlg .candidates-list-container {
          display: block !important;
     }
}

@media (min-width: $mobile_max) and (max-width: $tablet_max) {
     .modal-dialog.modal-lg .candidate-view-container {
          margin: 0 auto;
     }
}

.dropdown li.position {
     margin: 4px;

     a {
          h4 {
               font-size: 12px;
               color: #84929f;
               font-weight: 200;
          }
     }
}

[dropdown] .tooltip {
     white-space: nowrap;
}

.editing-enabled {
     .is-editing {
     }

     .not-editing {
          display: none;
     }
}

.editing-disabled {
     .is-editing {
          display: none;
     }

     .not-editing {
     }
}

.reminder-calendar {
     .btn-default.active {
          color: #333 !important;
          background-color: #e6e6e6 !important;
          border-color: #edeff0 !important;
     }
}

.split-show {
     display: none !important;
}

.candidate-split-view {
     .split-hide {
          display: none !important;
     }

     .split-show {
          display: inline-block !important;
     }
}

.candidate-modal-view-container {
     display: flex;
     height: 100%;
     margin: 0 auto;
     //padding: 0 $margin * 2;
     //max-width: 1440px
     position: relative;

     .dropdown-right-align {
          .dropdown-menu {
               left: auto;
               right: 0;
          }

          &.full-width {
               .dropdown-menu {
                    width: auto;
               }
          }
     }

     .candidate-tasks {
          h1 {
               cursor: pointer;

               span.caret {
                    margin-left: $margin / 2;
               }
          }
     }

     .tasks-content {
          margin-right: 0;

          .task-list {
               border-top: none;
               margin-bottom: 0;

               &:last-child {
                    border-bottom: none;
               }

               .activity-container {
                    border-left: none;
               }
          }
     }

     .tabs-container {
          display: none;
     }

     .stage-name {
          margin-right: 5px;
     }

     .candidate-main {
          display: flex;
          flex-direction: column;
          height: 100%;
     }

     .candidate-view-container {
          //flex: 1
          //max-width: 1170px
          //width: 1170px
          //min-width: 1170px
          max-width: 1350px;
          width: 100%;
          //min-width: 1082px;
          margin: 0 auto;
          position: relative;


          .candidate-content {
               display: flex;
               flex: 1;
               position: relative;
               height: 100%;
               overflow: hidden;
               background-color: #fafafa;

               span.percentage {
                    background-color: #edeff0;
                    border-radius: 4px;
                    font-size: 11px;
                    padding: 2px 4px;
                    margin-left: 5px;
                    border-bottom: none;
               }

               .candidate-content-left, .candidate-content-right {
                    nav {
                         background: #fafafa;

                         .count {
                              background-color: #edeff0;
                              border-radius: 4px;
                              font-size: 11px;
                              padding: 2px 4px;
                              margin-left: 5px;
                              border-bottom: none;
                         }

                         li {
                              padding-bottom: 15px;
                              font-size: 14px;
                         }
                    }
               }

               .candidate-content-left,
               .candidate-content-right {
                    background-color: #fff;
                    //display: flex
                    //flex-direction: column
                    //padding-right: 2px
                    margin: 20px;
                    flex: 1;
                    //overflow: hidden;
               }

               .candidate-content-left {
                    //flex: 3
                    //margin-right: 0;
               }

               .candidate-content-right {
               }

               //flex: 2
               .content-section {
                    padding: 20px 20px 20px 20px;
                    border: 1px solid #edeff0;
                    border-radius: 4px;
               }

               @media (min-width: 1345px) {
                    .candidate-content-left {
                         flex: 1;
                         min-width: 550px;
                         position: relative;
                    }
                    .candidate-content-right {
                         max-width: 500px;
                         min-width: 472px;
                         position: relative;
                    }
                    .content-section {
                         //position: absolute;
                         left: 0;
                         right: 0;
                         top: 60px;
                         bottom: 0;
                         overflow: auto;
                         height: initial;
                    }
                    .content-section-wrapper {

                         .content-section {
                              overflow: auto !important;
                              top: 0;
                              bottom: 60px;
                         }

                         &.candidate-note {
                              top: 0;
                              bottom: 0;
                              left: 0;
                              right: 0;
                         }
                    }
               }

               @media (min-width: 1420px) {
                    .candidate-content-left {
                         width: 600px;
                         position: relative;
                    }
                    .candidate-content-right {
                         max-width: 500px;
                         min-width: 500px;
                         position: relative;
                    }
                    .content-section {
                         position: absolute;
                         left: 0;
                         right: 0;
                         top: 60px;
                         bottom: 0;
                         overflow: auto;
                         height: initial;
                    }
                    .content-section-wrapper {

                         .content-section {
                              top: 0;
                              bottom: 60px;
                              overflow: auto;
                         }

                         &.candidate-note {
                              top: 0;
                              bottom: 0;
                              left: 0;
                              right: 0;
                         }
                    }
               }

               @media (min-width: 1550px) {
                    .candidate-content-left {
                         width: 700px !important;
                    }
                    .candidate-content-right {
                         max-width: 500px !important;
                         min-width: 500px !important;
                    }
               }

               @media (min-width: 841px) {
                    .content-section {
                         iframe {
                              height: 90%;
                         }
                    }
               }

               @media (max-width: $mobile_max) {
                    .content-section {
                         padding: 10px;
                    }
               }

               nav {
                    //padding: $padding * 2;
                    padding-bottom: 0;
                    margin-bottom: $margin * 2;

                    li {
                         cursor: pointer;
                         display: inline-block;
                         margin-right: $margin * 2;
                         padding-bottom: 25px;

                         span {
                              display: inline-block;
                              padding-bottom: 5px;

                              i {
                                   margin-left: 5px;
                              }
                         }

                         &:hover.other-tab.active {
                              border-bottom: none;
                         }

                         &.active > span {
                              border-bottom: 4px solid $color-green;
                         }

                         &:last-child {
                              margin-right: 0;
                         }
                    }
               }

               .content-section {
                    flex: 1;
                    overflow: auto;
               }
          }
     }

     //height: 100%
     .candidates-list-container {
          max-width: 230px;
     }

     @media (max-width: $tablet_max) {
          .candidates-list-container {
               max-width: 230px;
          }
     }
}


// safari hack to fix flexbox height 100% issue
.candidate-modal-view-container .candidate-view-container .candidate-main:not(:root:root) {
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
}

.candidate-modal-view-container .candidate-view-container .tabs-container:not(:root:root) {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
}

/*@media (max-width: 1200px)
  .candidate-modal-view-container
    max-width: 800px
    margin: 0 auto
    &.with-sidebar
      max-width: 1070px
    .candidate-view-container
      .tabs-container
        display: block !important
      .candidate-content-left,
      .candidate-content-right
        bottom: 0
        left: 200px
        margin-right: 0
        position: absolute
        right: 20px
        top: 0
        nav
          display: none*/

//@media (max-width: 1419px)
@media (max-width: $tablet_max) {
     .candidate-modal-view-container {
          //max-width: 1060px;

          .candidate-view-container {
               //max-width: 800px;
               //width: 800px;
               //min-width: 800px;

               .tabs-container {
                    display: block !important;
               }

               .content-section {
                    height: 100%;
               }

               .candidate-content-right {
                    display: none;
               }

               .candidate-content-left,
               .candidate-content-right {
                    //bottom: 0;
                    left: 160px;
                    margin-right: 0;
                    //position: absolute;
                    right: 20px;
                    top: 20px;
                    overflow: auto !important;

                    nav {
                         display: none;
                    }
               }
          }
     }
}

@media (max-width: $mobile_max) {
     .candidate-modal-view-container {
          max-width: 100%;
          width: 100%;
          min-width: 100%;

          .candidate-view-container {
               .candidate-content {
                    flex: none;
                    flex-direction: column;
                    height: auto;

                    .tabs-container {
                         display: block !important;
                         //flex: auto;
                         width: 100%;
                    }

                    .candidate-content-left,
                    .candidate-content-right {
                         flex: 1;
                         position: relative;
                         margin: 0;
                         padding: 10px;
                         left: 0;
                         top: 0;
                    }
               }
          }
     }
     .candidate-view-container .tabs-container .tabs {
          background-color: #fff;
     }

     // safari hack to fix flexbox height 100% issue
     .candidate-modal-view-container .candidate-view-container .candidate-main:not(:root:root) {
          position: relative;
     }

     .candidate-modal-view-container .candidate-view-container .tabs-container:not(:root:root) {
          position: relative;
     }
}


.dropdown-menu {
     .unassign {
          border-top: 1px solid $border-color;
          font-style: italic;
          margin-top: $margin / 2;
          padding-top: $padding / 2;

          a {
               color: $color-dark-grey;
          }
     }
}

.modal-dialog.modal-xlg .modal-content {
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     border: none !important;
     background: transparent !important;
}

.modal-dialog.modal-xlg .candidate-view-container .loader-container {
     right: 270px;
}

.candidates-tag-filter {
     margin-bottom: 5px;
     padding: 0 10px;
     position: relative;

     .fa-search {
          font-size: 10px;
          left: 15px;
          position: absolute;
          top: 7px;
     }

     input {
          border: 1px solid $border-color;
          border-radius: $border-radius;
          padding: 3px 3px 3px 18px;
          width: 100%;
     }
}

.modal-content {
     //background-color: $background-color;
}

.candidate-view-container {
     background-color: #fff;
     border-radius: 4px;
     min-height: 300px;
}

//width: 800px

.candidate-view-container .candidate-sidebar {
     display: none;
}

.candidate-view-container.with-sidebar {
     @media (min-width: $mobile_max) {
          .candidate-sidebar {
               display: block;
          }
          .candidate-main {
          }
     }
}

//margin-right: 150px


.candidate-view-container .candidate-header {
     //min-height: 120px
     padding: $padding * 2;
     background-color: #384047;
     border-radius: 4px 0 0 0;
}

.candidate-view-container {
     .activity-stream-container {
          width: 100%;

          .load-more {
               margin-left: 74px;
               margin-top: 40px;
               max-width: 360px;

               a {
                    padding: $margin;
                    background: #efefef;
                    border-radius: 5px;
                    display: block;
                    text-align: center;
               }
          }
     }

     .candidate-conversation .activity-stream-container .load-more {
          width: auto;
     }
}

.candidate-view-container .candidate-header .candidate-header-actions {
     float: right;

     .dropdown {
          display: inline-block;

          .dropdown-menu {
               max-height: none;
          }
     }

     .btn-group {
          & > .btn:first-child {
               border-bottom-right-radius: 0;
               border-top-right-radius: 0;

               & + .btn {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    border-bottom-right-radius: 3px !important;
                    border-top-right-radius: 3px !important;
                    border-left: 1px solid #ccc;
                    margin-left: 0;
               }
          }
     }
}

.candidate-view-container .candidate-header .candidate-header-actions .actions {
     text-align: right;
     margin-bottom: $margin / 2;
}

.candidate-view-container .candidate-header .candidate-header-actions .actions li.action {
     display: inline;
     margin-left: $margin / 2;
}

.candidate-view-container .candidate-header .candidate-header-actions .actions li.action button.good {
     background: $color-green !important;
     color: #fff !important;
}


.candidate-view-container .candidate-header .candidate-header-actions .actions li.action button.neutral {
     background: #f5d44f !important;
     color: #fff !important;
}

.candidate-view-container .candidate-header .candidate-header-actions .actions li.action button.poor {
     background: $color-red !important;
     color: #fff !important;
}

//.candidate-view-container .candidate-header .avatar
//width: 78px
//height: 78px
//border-radius: 44px
//border: 2px solid rgba(0,0,0,.1)
//line-height: 74px
//font-size: 42px

.candidate-view-container .candidate-header .candidate-avatar-wrap {
     display: inline-block;
     height: 70px;
     position: relative;
     width: 70px;
}

.candidate-view-container .candidate-header .score.good {
     background-color: $color-green;
     color: #fff;
}

.candidate-view-container .candidate-header .score.neutral {
     background-color: #f5d44f;
     color: #fff;
}

.candidate-view-container .candidate-header .score.poor {
     background-color: $color-red;
     color: #fff;
}

.candidate-view-container .candidate-header .score {
     position: absolute;
     width: 29px;
     height: 29px;
     border-radius: 44px;
     border: 2px solid #edeff0;
     display: inline-block;
     left: 50px;
     top: 56px;
     background-color: #76d691;
     padding: 7px 0;
     font-size: $text-smaller;
     text-align: center;
     background: #fff9db;
     color: #b48f44;
}

@media (min-width: $mobile_max) {
     .candidate-view-container .candidate-header .candidate-avatar-wrap {
          float: left;
     }
}

@media (max-width: $mobile_max) {
     .candidate-view-container .candidate-header {
          text-align: center;
     }
     .candidate-view-container .candidate-header .candidate-avatar-wrap {
          display: inline-block;
          margin-bottom: 20px;
     }
}

.candidate-view-container .candidate-header .candidate-info {
     margin-left: 90px;
     min-height: 68px;
}

@media (max-width: $mobile_max) {
     .candidate-view-container {
          width: 100%;
          text-align: center;
     }

     .candidate-view-container .candidate-header .score {
          left: 52%;
     }

     .candidate-modal-view-container .candidates-list-container {
          display: none;
     }

     .candidate-view-container .candidate-header {
          text-align: center;
     }


     .candidate-view-container .candidate-header .candidate-header-actions {
          display: none;
     }

     .candidate-view-container .candidate-header .candidate-info {
          margin-left: 0px;
     }

     .candidate-view-container .candidate-content .tabs-container {
          float: none;
     }

     .candidate-view-container .candidate-content .content-section {
          margin-left: 0 !important;
          text-align: left;
     }


     .candidate-view-container .candidate-content .tabs-container .tab-item {
          margin-right: 0;
          padding: 0px 0 0px 20px;
          background: #fff;
          border-bottom: 4px solid #edeff0;
          border-left: none;
     }

     .candidate-view-container .candidate-content .tabs-container .tab-item.active {
          border-bottom-color: $color-green;
          padding: 0px 0 0px 20px;
          border-left: none;
     }

     .candidate-view-container .candidate-content .tabs-container .tab-item i {
          line-height: 40px;
          float: left;
     }

     .candidate-view-container .candidate-content .tabs-container .tab-item a {
          line-height: 40px;
          padding-left: $padding;
          display: block;
     }
}

.candidate-view-container .candidate-header .name {
     margin-bottom: 6px;
     color: #fff;
}

.candidate-view-container .pdf-fullscreen iframe {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 10000;
     height: 100% !important;
}

.candidate-view-container .candidate-header .contact-points,
.candidate-view-container .candidate-header .candidate-stage,
.candidate-view-container .candidate-header .candidate-other-positions {
     margin-bottom: 8px;
}

.candidate-view-container .candidate-header .candidate-stage .heavy {
     display: inline-block;
}

.candidate-view-container .candidate-header .candidate-other-positions li {
     display: inline-block;
     margin-right: $margin * 1.5;
}

.candidate-view-container .candidate-header .contact-points, .candidate-main .candidate-header .contact-points a,
.candidate-view-container .candidate-header .candidate-stage, .candidate-main .candidate-header .candidate-stage a,
.candidate-view-container .candidate-header .candidate-other-positions, .candidate-view-container .candidate-header .candidate-other-positions a {
     font-size: $text-smaller;
     color: $color-grey-very-light;
}

.candidate-view-container .candidate-header .candidate-tags, .candidate-main .candidate-header .candidate-tags a {
     font-size: $text-smaller;
}

.candidate-view-container .candidate-header .candidate-stage li,
.candidate-view-container .candidate-header .candidate-tags li,
.candidate-view-container .candidate-header .contact-points li {
     display: inline-block;
     margin-right: $margin;
}

.candidate-view-container .candidate-header .contact-points {
     a.not-set, a.is-set {
          display: none;
     }

     a.not-set {
          opacity: 0.8;
          transition: 0.3s;

          &:hover {
               opacity: 1;
          }
     }

     //text-decoration: underline !important

     li.is-set .is-set {
          display: inline-block;
     }

     li.not-set .not-set {
          display: inline-block;
     }
}

@media (max-width: $mobile_max) {
     .candidate-view-container .candidate-header .candidate-stage li,
     .candidate-view-container .candidate-header .candidate-tags {
     }
     .candidate-view-container .candidate-header .contact-points li {
          display: block;
          margin-bottom: $margin;
     }
     .candidate-view-container .candidate-header .contact-points li.service {
          display: inline;
     }
}

.candidate-view-container .candidate-header .candidate-tags {
     margin-top: 15px;
     width: 400px;
}

.candidate-view-container .candidate-header .candidate-tags a.add {
     opacity: 0.8;
     color: #bbb;
     //opacity: 0.3s;

     &:hover {
          opacity: 1;
     }
}

//text-decoration: underline !important

.candidate-view-container .candidate-header .candidate-tags a {
     line-height: 20px;
}

.candidate-view-container .candidate-header .candidate-tags span.tag {
     background: #eee;
     padding: 3px 5px;
     border-radius: 3px;
     line-height: 24px;
}


.candidate-view-container .candidate-header .candidate-tags span.tag i {
     width: 14px;
     text-align: center;
     font-size: 10px;
}

.candidate-view-container .candidate-header .candidate-tags span.tag .remove {
     display: none;
}

.candidate-view-container .candidate-header .candidate-tags span.tag:hover i.fa-tag {
     display: none;
}

.candidate-view-container .candidate-header .candidate-tags span.tag:hover a.remove {
     display: inline;
}

.candidate-view-container .candidate-header .candidate-tags input {
     font-size: $text-smaller;
     height: 20px;
     border-width: 1px;
     padding: 5px;
     width: 150px;
}

.candidate-view-container .candidate-header .candidate-tags input, .candidate-main .candidate-header .candidate-tags a.add {
     display: none;
}

.candidate-view-container .candidate-header .candidate-tags.inactive a.add {
     display: inline;
}

.candidate-view-container .candidate-header .candidate-tags form {
     display: inline;
}


.candidate-view-container .candidate-header .candidate-tags.active input {
     display: inline;
}

.candidate-view-container .candidate-sidebar {
     float: right;
     width: 170px;
     padding: $margin;
}

.candidate-view-container .candidate-sidebar .section {
     margin-bottom: $margin * 3;
}

.candidate-view-container .candidate-sidebar h3 {
     font-weight: 400;
     margin-bottom: $margin;
}

.candidate-view-container .candidate-sidebar button, .candidate-sidebar .btn-group {
     width: 100%;
     font-size: $text-smaller;
     outline: none;
}

.candidate-view-container .candidate-sidebar button {
     background-color: $background-color;
     color: $text-color-light;
     text-align: left;
}

.candidate-view-container .candidate-sidebar button .caret {
     float: right;
     margin-top: 4px;
}

.candidate-view-container .candidate-sidebar li {
     margin-bottom: $margin/2;
}

.candidate-view-container .candidate-sidebar li.half button {
     width: 62.5px;
     text-align: center;
}

.candidate-view-container .candidate-sidebar li.half button.first {
     margin-right: $margin/2;
}


.candidate-view-container .candidate-actions {
     padding: $padding * 2;
     border-top: 4px solid $background-color;
}

@media (min-width: $mobile_max) {
     .candidate-view-container .candidate-actions {
          display: none;
     }
}

.candidate-view-container {
     .gdpr-consent-status {
          display: none;

          [class*="gdpr-status-"] {
               display: none;
               padding: 0 20px;
          }

          &.expiring {
               background: #fff9db;
               border-bottom: 1px solid #eddcb9;
               color: #b48f44;
               display: block;

               .gdpr-status-expiring {
                    display: block;
               }
          }

          &.expired {
               display: block;
               background-color: #f8d4d6;
               color: #e15258;

               .gdpr-status-expired {
                    display: block;
               }
          }

          p {
               font-weight: 400;
               line-height: 40px;
          }

          .actions {
               float: right;

               a {
                    line-height: 40px;
                    font-size: $text-smaller;
                    color: #b48f44;
               }
          }
     }
}


.candidate-view-container .candidate-actions button, .candidate-actions .btn-group {
     width: 100%;
     font-size: $text-smaller;
     outline: none;
}

.candidate-view-container .candidate-actions button {
     background-color: $background-color;
     color: $text-color-light;
     text-align: left;
}

.candidate-view-container .candidate-actions button .caret {
     float: right;
     margin-top: 4px;
}

.candidate-view-container .candidate-actions li {
     margin-bottom: $margin/2;
}

.candidate-view-container .candidate-actions li.half button {
     width: 50%;
     text-align: center;
}

.candidate-view-container .candidate-actions li.half button.first {
}

.candidate-view-container .candidate-actions li span.half {
     width: 50%;
     display: inline-block;
}

.candidate-view-container .candidate-actions li span.first {
     padding-right: $margin / 4;
}

.candidate-view-container .candidate-actions li span.second {
     padding-left: $margin / 4;
}

.candidate-view-container .candidate-actions li span.half button {
     text-align: center;
}

.candidate-view-container .interview-scheduled-container {
     padding: 0 20px;
     background: #fff9db;
     color: #b48f44;
     border-bottom: 1px solid #eddcb9;
}

.candidate-view-container .interview-scheduled-container {
     .actions {
          float: right;
     }

     .actions a {
          line-height: 40px;
          font-size: $text-smaller;
          color: #b48f44;
     }
}

.candidate-view-container .interview-scheduled-container .actions li {
     display: inline;
     margin-left: $margin;
}

.candidate-view-container .interview-scheduled-container p {
     line-height: 40px;
}

.candidate-view-container .interview-scheduled-container p b {
     font-weight: 400;
}

.candidate-view-container .candidate-header .candidate-actions-container {
     float: right;
     width: 175px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions {
     margin-bottom: 5px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action {
     margin-bottom: 5px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action button {
     font-size: $text-smaller;
     padding-top: 6px;
     padding-bottom: 6px;
     line-height: $text-smaller;
     border-radius: 15px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action button.main-action {
     width: 149px;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action button.dropdown-toggle {
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action button.dropdown-toggle {
     border-left: 1px solid $color-blue-hover;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action .dropdown-menu {
     font-size: $text-smaller;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action .dropdown-menu a {
     color: $text-color-default;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions.small .action {
     display: inline;
     margin-right: 5px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions.small .action:last-child {
     margin-right: 0;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action.half {
     float: left;
     width: 30px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action.half.vote {
     width: 50px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action.half.vote span {
     margin-left: 5px;
}

.candidate-view-container .candidate-sidebar .dropdown-menu {
     padding: 10px 0 5px;
}

.candidate-view-container .candidate-sidebar .action .btn.active {
     background: #e9ffef !important;
     color: #4cb369 !important;
}

.candidate-view-container .candidate-sidebar .vote .vote-up.active {
     background: #e9ffef !important;
     color: #4cb369 !important;
}

.candidate-view-container .candidate-sidebar .vote .vote-down.active {
     background: #ffe9ea !important;
     color: #d77579 !important;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action .vote .vote-up.active, .candidate-view-container .candidate-header .candidate-actions-container .actions .action.vote .vote-up.active {
     background: #e9ffef !important;
     color: #4cb369 !important;
}


.candidate-view-container .candidate-header .candidate-actions-container .actions .action .vote .vote-down.active, .candidate-view-container .candidate-header .candidate-actions-container .actions .action.vote .vote-down.active {
     background: #ffe9ea !important;
     color: #d77579 !important;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action.half {
     margin-right: 5px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action.half:last-child {
     margin-right: 0px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions a.action-link {
     line-height: 28px;
     color: $text-color-default;
     text-align: center;
     display: inline-block;
     background: $background-color-2;
     width: 100%;
     font-size: $text-smaller;
     transition: .3s;
     border-radius: 15px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions a.action-link:hover {
     background: $background-color;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions a.action-link i {
     margin-right: 5px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions .action.half a.action-link i {
     margin-right: 0px;
}

.candidate-view-container .candidate-header .candidate-actions-container .actions.small a {
     width: 40px;
}

.candidate-view-container .candidate-header .candidate-info.bump {
     margin-top: 12px;
}

.candidate-view-container .candidate-header .candidate-info .edit {
     font-size: 18px;
     margin-left: 8px;
}

.candidate-view-container .candidate-header .candidate-info .star {
     color: $color-grey-very-light;
     cursor: pointer;
     font-size: 18px;
     margin-left: 8px;
}

.candidate-view-container .candidate-header .candidate-info .star.starred,
.candidate-profile .candidate-profile-header .candidate-quick-access .starred {
     color: $color-yellow;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: #d7ce51;
}

.candidate-profile .candidate-profile-header .candidate-quick-access .followed {
     color: $color-green;
     -webkit-text-stroke-width: 1px;
}

.candidate-view-container .candidate-header .candidate-info .candidate-status {
     font-size: $text-smaller;
}

.candidate-view-container .candidate-header .candidate-info .candidate-status span {
     font-weight: 400;
     text-transform: capitalize;
}

.candidate-view-container .candidate-header .candidate-info .candidate-sourced-by {
     font-size: $text-smaller;
}

.candidate-view-container .candidate-header .candidate-info .candidate-sourced-by span {
     font-weight: 400;
     text-transform: capitalize;
}

.candidate-view-container .candidate-header .candidate-info .candidate-status span.disqualified {
     color: $color-red-hover;
}

.candidate-view-container .candidate-header .candidate-info .candidate-status span.hired {
     color: $color-green-hover;
}

.candidate-view-container .candidate-header .candidate-info .candidate-status span.interviewing {
}


.candidate-view-container .candidate-header .candidate-info .candidate-status span.applied, .candidate-view-container .candidate-header .candidate-info .candidate-status span.sourced {
}

.candidate-view-container .candidate-header .candidate-info .candidate- {
     font-size: $text-small;
     color: $text-color-default;
}

.candidate-view-container .candidate-header .candidate-info .candidate-details .candidate-detail-item {
     margin-top: 5px;
}

.candidate-view-container .candidate-header .candidate-info .candidate-details .candidate-detail-item a {
     color: $text-color-default;
     font-size: $text-smaller;
     transition: .3s;
}

.candidate-view-container .candidate-header .candidate-info .candidate-details .candidate-detail-item a:hover {
     color: $text-color-light;
}

.candidate-view-container .candidate-header .candidate-info .services {
     margin-top: 8px;
}

.candidate-view-container .candidate-header .candidate-info .services .service {
     display: inline;
     margin-right: 10px;
}

.candidate-view-container .candidate-header .candidate-info .services .service a {
     color: $text-color-lighter;
     transition: .3s;
}

.candidate-view-container .candidate-header .candidate-info .services .service a:hover {
     color: $text-color-light;
}


.candidate-view-container .content-section {
     &.candidate-conversation {
          .empty-state {
          }
     }

     &.candidate-questionnaires {
          .empty-state {
          }
     }

     &.candidate-scorecards {
          .empty-state {
          }
     }

     .empty-state {
          margin-top: 80px;
          text-align: center;
          color: #84929f;

          i {
               font-size: 50px;
               display: block;
          }

          p {
               margin-top: 10px;
          }
     }
}

.candidate-view-container {
     .input-dropdown label {
          position: static;
     }
}

.candidate-view-container .tabs-container {
     height: 100%;
     //width: 180px;
     flex-shrink: 0;
     padding-top: $margin * 2;
     overflow: auto;
}

.candidate-view-container .candidate-content-left {
     .other-tab {
          position: relative;

          &:hover {
               .tab-subnav {
                    display: initial;
               }
          }

          .tab-subnav {
               display: none;
               position: fixed;
               border: 1px solid #eee;
               border-radius: 4px;
               margin-top: 25px;
               margin-left: -150px;
               background: #fff;
               z-index: 1000;
               -webkit-background-clip: padding-box;
               background-clip: padding-box;
               border: 1px solid #ccc;
               border: 1px solid rgba(0, 0, 0, .15);
               border-radius: 4px;
               -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
               box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

               &:hover {
                    display: initial;
               }

               li {
                    display: block;
                    border-bottom: 1px solid #eee;
                    padding: 10px 12px 10px 7px;
                    margin-right: 0;
                    border-left: 4px solid transparent;

                    span {
                         padding-bottom: 0;
                         border-bottom: none !important;
                    }

                    i {
                         width: 25px;
                    }

                    &.active {
                         border-left: 4px solid $color-green;
                    }

                    &:hover {
                         background: #edeff0 !important;
                    }

                    &:last-child {
                         border-bottom: none;
                    }
               }
          }
     }
}

.candidate-view-container .candidate-content .candidate-loader {
     position: relative;
     margin-top: 100px;
}

.candidate-view-container .tabs-container .tab-item:first-child {
     margin-bottom: 0;
}

.candidate-view-container .tabs-container .tab-item {
     padding: 10px 0 10px 20px;
     margin: 0 0 0 0px;
     transition: .3s;
}

.candidate-view-container .tabs-container .tab-item.active {
     margin: 0;
     padding: 10px 0 10px 10px;
     background: #fff;
     border-left: 10px solid $color-green;
}

.candidate-view-container .tabs-container .tab-item i {
     margin-right: $margin;
}

.candidate-view-container .tabs-container .tab-item a {
     line-height: 30px;
     font-size: $text-small;
}

.candidate-view-container .tabs-container .tab-item a:hover {
     background: initial !important;
}


.candidate-view-container .candidate-content .tabs-container .tab-item .count {
     background-color: $border-color;
     line-height: 1.5;
     padding: 2px 4px;
     font-size: 11px;
     border-radius: 4px;
     margin-top: 6px;
     margin-left: $margin / 2;
}

.candidate-view-container {
     .section.work-history-container, .section.education-container {
          .summary-container {
               margin-bottom: 10px !important;
          }
     }
}

.section.work-history-container,
.section.education-container {
     .actions {
          float: right;

          .action {
               display: inline-block;
               margin-left: $margin / 2;

               i {
                    margin-right: 0;
               }
          }
     }
}

.modal-dialog .candidate-update-container .section.work-history-container, .modal-dialog .candidate-update-container .section.education-container {
     margin-top: 0;
     margin-bottom: $margin * 2;

     textarea {
          margin-bottom: $margin;
     }

     .start-date-container, .end-date-container {
          display: inline-block;
          width: 120px;

          .year.dd, .month.dd {
               width: 100%;
               margin-bottom: $margin;

               input[type=text] {
                    margin-bottom: 0;
               }
          }
     }

     .splitter {
          vertical-align: middle;
          margin: 0 15px;
     }
}

.modal-dialog .candidate-update-container .section.work-history-container {
     .splitter {
          height: 60px;
     }
}


.candidate-view-container .candidate-content .section-header {
     font-weight: 400;
     font-size: 20px !important;
     margin-bottom: 10px;
     color: $text-color-darker;

     .actions {
          float: right;

          .action i {
               margin-right: $margin / 2;
          }
     }
}

@media (max-width: $mobile_max) {
     .candidate-view-container .candidate-resume .attach-file {
          display: none;
     }
}

.candidate-view-container .candidate-resume iframe {
}


.candidate-view-container .candidate-experience .contact-container {
     font-size: $text-small;
}

.candidate-view-container .candidate-experience br {
}

.candidate-view-container .candidate-experience .contact-container .photo-upload-container {
     height: 50px;
}

.candidate-view-container .candidate-experience .contact-container h2.name {
     padding-top: 13px;
     margin-left: 60px;
     font-size: 18px;
}

.candidate-view-container .candidate-experience .contact-container .avatar {
     float: left;
}

.candidate-view-container .candidate-experience .contact-container .photo-upload-container div {
     padding-top: 15px;
     padding-left: 10px;
     color: $color-blue;
     cursor: pointer;
}

.candidate-view-container .candidate-experience .contact-container .name {
     margin-bottom: $margin;
     margin-top: $margin;
     font-size: $text-large;
}

.candidate-view-container .candidate-experience .contact-container .photo-upload-container {
}

.candidate-view-container .candidate-experience .contact-detail {
     margin-bottom: $margin;
}

.candidate-view-container .candidate-background-container .contact-detail {
     margin-bottom: $margin;
     padding-bottom: $padding;
     border-bottom: 1px solid $border-color;

     @media (max-width: $mobile_max) {
          a {
               display: block;
               margin-top: $margin;
          }
     }
}


.candidate-view-container .candidate-experience .contact-container .contact-detail:last-child,
.candidate-view-container .candidate-background-container .contact-detail:last-child {
     border-bottom: none;
}

.candidate-view-container .candidate-background-container .contact-detail:last-child {
     margin-bottom: 0;
     padding-bottom: 0;
}

.candidate-view-container .candidate-experience .contact-container .contact-detail h3,
.candidate-view-container .candidate-background-container .contact-detail h3 {
     width: 100px;
     text-overflow: ellipsis;
     overflow: hidden;
     display: inline-block;
     vertical-align: top;
     font-weight: 400;
     line-height: 1.5;

     & + span {
          line-height: 1.5;
     }
}

.candidate-view-container .candidate-background-container .contact-detail ul {
     list-style: outside none;
}

.candidate-view-container .candidate-background-container .contact-detail li {
     margin-top: 5px;
     margin-bottom: 5px;
}

.background-checks-container {
     background-color: #f4f4f4;
     padding: 10px;
     border-radius: 5px;
     margin-bottom: 10px;

     .background-fullreport {
          float: right;

          a {
               color: #5ac0e5;
          }
     }
}

.candidate-view-container .candidate-experience .contact-container h2.other-information-header {
     margin-bottom: 5px;
}

.candidate-view-container .candidate-experience .contact-container .other-information {
     input[type=text] {
          display: inline-block !important;
          margin-right: $margin;
     }

     .item-name {
          width: 150px !important;
     }

     .item-value {
          width: 250px !important;
     }
}

.candidate-view-container .candidate-experience .contact-container h2 {
     font-size: $text-default;
     margin-bottom: $margin / 2;
     margin-top: $margin * 3;
}

.candidate-view-container .candidate-experience .contact-container .candidate-source {
     width: 250px;
     display: inline-block;
     margin-right: $margin;
}

.candidate-view-container .candidate-experience .contact-container .social-profile-type {
     width: 120px;
     display: inline-block;
     margin-right: $margin;
}

.candidate-view-container .candidate-experience .contact-container .social-resource {
     display: inline-block !important;
}

.candidate-view-container .candidate-experience .contact-container .contact-detail a {
     color: $color-blue;
     font-weight: 400;
}

.candidate-view-container .candidate-experience .contact-details.social-profiles .contact-detail .btn-xs,
.candidate-view-container .candidate-experience .contact-details.other-information .contact-detail .btn-xs {
     margin-left: $margin;
}

.candidate-view-container .candidate-experience .contact-container textarea {
     margin-bottom: $margin * 2;
}

.candidate-view-container .candidate-experience .contact-container .other-information input[type=checkbox] {
     margin-right: $margin / 2;
}

.candidate-view-container .candidate-experience .experience-header {
     font-weight: 400;
     line-height: 24px;
}

.candidate-view-container .candidate-experience .update-actions.main-action {
     margin-top: $margin * 3;
}

.candidate-view-container .candidate-experience .update-actions {
     margin-top: $margin * 1.5;
}

.candidate-view-container .candidate-experience .update-actions li {
     display: inline-block;
     margin-right: $margin * 1.5;
}

.candidate-view-container .candidate-experience .update-action.cancel {
     color: $color-dark-grey;
}

.candidate-view-container .candidate-experience .update-action.smaller {
     font-size: $text-smaller;
}

.candidate-view-container .candidate-experience .update-action.btn-blue {
     color: #fff !important;
}

.candidate-view-container .candidate-experience .update-action {
     font-size: $text-small;
     color: $color-blue;
     display: block;
     cursor: pointer;
}

@media (min-width: $mobile_max) {
     .candidate-view-container {
          div.positions, div.education {
               display: block;
          }

          iframe {
               width: 100%;
               min-height: 400px;
          }
     }
}

@media (max-width: $mobile_max) {
     .candidate-view-container {
          max-width: 100% !important;
          width: 100% !important;
          min-width: 100% !important;

          .candidate-tags {
               width: 100% !important;
          }

          .tabs-container {
               height: initial;
               padding-top: 0;

               .tabs .breezy-nav-item {
                    display: none;
                    border-left: none;
                    border-bottom: 4px solid #eee;
                    width: 33%;

                    &.activeTab {
                         border-bottom: 4px solid #76d691;
                    }

                    i {
                         font-size: 22px;
                    }

                    span {
                         display: block;
                         line-height: 0;
                         margin-top: 6px;
                    }
               }
          }

          .tabs-container .tabs .breezy-nav-item.tabdetails,
          .tabs-container .tabs .breezy-nav-item.tabresume,
          .tabs-container .tabs .breezy-nav-item.tabexperience {
               display: inline-block;
          }

          iframe {
               width: 100%;
               min-height: 600px;
          }
     }
}

.candidate-view-container .candidate-experience div.name {
}


.candidate-view-container .candidate-experience div.name h3 {
     margin-right: $margin * 2;
     line-height: $margin * 2;
     font-weight: 400;
}

.candidate-view-container .candidate-experience div.question-item h3 {
     font-weight: 400;
     line-height: 1.5;
     margin-bottom: $margin;
}

.candidate-view-container .candidate-experience div.company h3 {
     line-height: $margin * 2;
}

.candidate-view-container .candidate-experience div.dates h3 {
     line-height: $margin * 2;
}

.candidate-view-container .candidate-experience table tr h3 {
     line-height: 40px;
     font-weight: 400;
     font-size: $text-small;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
}

.candidate-view-container .candidate-experience table {
     table-layout: fixed;
}

.candidate-view-container .candidate-experience table td.name {
     width: 40%;
}

.candidate-view-container .candidate-experience table td.name h3 {
     margin-right: $margin * 2;
}

.candidate-view-container .candidate-experience table td.company {
     width: 40%;
}

.candidate-view-container .candidate-experience table td.dates {
     text-align: right;
     width: 20%;
}

.candidate-view-container .candidate-experience .section {
     margin-bottom: 40px;

     &:last-child {
          margin-bottom: 0;
     }
}

.candidate-view-container .candidate-experience .experience-item {
     margin-top: $margin * 2;
     margin-bottom: $margin * 3;

     a.remove {
          float: right;
     }

     textarea {
          margin-bottom: $margin;
     }

     &:hover {
          .action {
               display: inline-block;

               a {
                    font-size: 12px;
               }
          }
     }

     .action {
          display: none;
     }
}


.candidate-view-container .candidate-experience .default-items .experience-item:last-child,
.candidate-view-container .candidate-experience .experience-item:last-child {
     margin-bottom: 0;
}

.candidate-view-container .candidate-experience .experience-item h2 {
     font-weight: 400;
     line-height: 24px;
     color: $text-color-darker;
     line-height: 40px;
}

.candidate-view-container .candidate-experience .experience-item h3 {
     font-size: $text-small;
     line-height: 40px;
}

.candidate-view-container .candidate-experience .experience-item .summary {
}

.candidate-view-container .candidate-experience .experience-item .summary {
     padding-left: $padding;
     border-left: 2px solid #eee;

     br {
          display: none;
     }
}

.candidate-view-container .candidate-experience .experience-item .company h3 {
}

.candidate-view-container .candidate-experience .experience-item .dates {
     font-size: $text-smaller;
     color: $text-color-lighter;
}

.candidate-view-container .candidate-experience .question-item.experience-item i {
     float: left;
     margin-right: 5px;
     line-height: 1.2;
}

.candidate-view-container .candidate-experience .question-item.experience-item .question-response {
     margin-bottom: $margin;
}

.candidate-view-container .candidate-experience .question-item.experience-item .question-response p {
     margin-left: 0px !important;
     margin-bottom: $margin;
}

.candidate-view-container .candidate-experience .question-item.experience-item .question-response ul {
     list-style-type: disc;
}

.candidate-view-container .candidate-experience .question-item.experience-item .question-response ul, .candidate-view-container .candidate-experience .question-item.experience-item .question-response ol {
     margin-bottom: $margin;
     margin-left: 20px;
     font-size: 14px;
}

.candidate-view-container .candidate-experience .question-item.experience-item .question-response ul li, .candidate-view-container .candidate-experience .question-item.experience-item .question-response ol li {
     margin-bottom: $margin / 2;
}


.candidate-view-container .candidate-experience .section .summary-container {
     margin-bottom: $margin * 3;
}

.candidate-view-container .candidate-experience .section .summary {
     margin-top: $margin;
     line-height: 1.7;
     font-size: $text-small;
     background: inherit;
     color: $text-color-default;

     pre {
          background: none;
     }
}

.candidate-view-container .candidate-experience .section .summary {
     p, h1, h2, h3, h4, h5, code, pre {
          margin-top: $margin;
          line-height: 1.7;
          font-size: $text-small;
          font-weight: 200;
          background: inherit;
          color: $text-color-default;
     }

     a {
          color: $color-blue;
     }
}

.candidate-update-container .section {
     input.ui-select-search {
          width: 100% !important;
     }

     .splitter {
          margin-right: 10px;
          display: inline-block;
     }

     .month.dd, .year.dd {
          width: 95px;
          display: inline-block;
          margin-right: 10px;
     }
}

.candidate-view-container .candidate-experience .section .splitter {
     margin-right: 10px;
     display: inline-block;
}

.candidate-view-container .candidate-experience .section .month.dd, .candidate-view-container .candidate-experience .section .year.dd {
     width: 120px;
     display: inline-block;
     margin-right: 10px;
}

.candidate-view-container .candidate-experience .section input[type=text].data {
     width: 250px;
     margin-bottom: 10px;
     display: block;
}

.candidate-update-container .section textarea,
.candidate-view-container .candidate-experience .section textarea {
     width: 100%;
     line-height: 1.5;
     height: 150px;
}

.candidate-view-container .candidate-experience .section .question-item .summary {
     margin-top: 0;
}

.candidate-view-container .candidate-experience .section .summary p {
     margin-left: 0px !important;
     margin-bottom: $margin;
}

.candidate-view-container .candidate-experience .section .summary ul {
     list-style-type: disc;
}

.candidate-view-container .candidate-experience .section .summary ul, .candidate-view-container .candidate-experience .section .summary ol {
     margin-bottom: $margin;
     margin-left: 20px;
     font-size: 14px;
}

.candidate-view-container .candidate-experience .section .summary ul li, .candidate-view-container .candidate-experience .section .summary ol li {
     margin-bottom: $margin / 2;
     line-height: 1.5;
}

//.candidate-view-container
div.message-compose {
     .info i, .warning i {
          margin-right: $margin / 2;
     }

     &.note-private {
          button {
               .fa-lock {
                    display: inline-block;
               }
          }

          .info.public {
               display: none;
          }
     }

     &.note-public {
          button {
               .fa-unlock {
                    display: inline-block;
               }
          }

          .warning.private {
               display: none;
          }
     }

     button {
          .fa-lock {
               display: none;
          }

          .fa-unlock {
               display: none;
          }
     }
}

.content-section-wrapper {
     height: 100%;
     width: 100%;
     position: relative;
     flex: 1;
     overflow: auto;

     &.editing {
          overflow: hidden !important;

          .edit-note-modal, .edit-discussion-note-modal {
               display: block;
          }
     }

     &.notes-wrapper, &.discussion-notes-wrapper {
          height: auto;
          width: auto;
     }

     .candidate-notes {
          height: 100%;

          .attachment a span {
               font-size: 12px;
               display: inline-block;
               margin-right: 3px;
          }
     }

     .edit-note-modal, .edit-discussion-note-modal {
          background-color: rgba(0, 0, 0, .3);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 400;
          display: none;

          .edit-note-dialog, .edit-discussion-note-dialog {
               padding: 0 $padding;
               background: #fafafa;
               margin: $margin / 2;
               border-radius: 4px;
          }

          div.message-compose {
               margin: 0;

               .textarea {
                    margin: 0;
                    //max-height: calc(100% - 113px)
                    overflow: auto;
               }

               &.hasAttachments {
                    .textarea {
                         border-radius: $border-radius $border-radius 0 0;
                    }
               }
          }

          .actions {
               float: right;
               margin-top: $margin;

               .action {
                    display: inline-block;
                    margin-left: $margin;
               }
          }
     }

     .activity {
          .activity-footer {
               margin: 0;
          }

          .activity-attachments {

               float: left;
               margin: 0;
               padding: 5px;
               text-align: right;

               li:last-child {
                    margin: 0;
               }

               a {
                    display: inline !important;
               }
          }
     }
}

.candidate-view-container {
     .candidate-content {
          .other-meta {
               margin-bottom: $margin;

               .section-header {
                    font-size: 16px;
                    margin-bottom: 0;
                    margin-top: $margin * 2;
               }

               .section-sub-header {
                    opacity: .8;
                    margin-bottom: $margin;
               }
          }
     }
}

.candidate-view-container .candidate-notes {
     .message-compose {
          .activity-attachments {
               float: left;
               margin: 0;
               padding: 5px;
               text-align: right;

               li:last-child {
                    margin: 0;
               }
          }
     }

     .message-compose {
          input[type=text] {
               margin-bottom: $margin;
               width: 200px;
          }
     }
}


.meta-data {
     float: left;

     li {
          padding-left: 5px;
     }

     i.fa {
          margin-right: 3px !important;
     }
}

.candidate-view-container .candidate-tasks .add-task,
.candidate-view-container .candidate-notes .add-note,
.candidate-view-container .candidate-documents .attach-file,
.candidate-view-container .candidate-questionnaires .send-questionnaire,
.candidate-view-container .section-primary-action,
.candidate-view-container .candidate-resume .attach-file,
.candidate-view-container .candidate-resume .download-resume,
.candidate-view-container .candidate-references .add-reference,
.candidate-view-container .candidate-scorecards .request-scorecards,
.candidate-view-container .candidate-conversation .btn-group.compose {
     float: right;
     font-size: $text-small;
     margin-left: $margin * 2;
     margin-top: 2px;
     color: $color-blue;
     cursor: pointer;

     button:last-child {
          border-left: 1px solid #4cabcd !important;
     }
}

.candidate-view-container .section-primary-action {
     margin-top: 0;
     margin-left: 0;

     a {
          font-size: inherit;
          color: inherit;
     }
}

.add-reference-modal {
     .margin-left {
          margin-left: $margin / 2;
     }

     .option {
          margin-bottom: $margin;
     }
}

.candidate-view-container .candidate-tasks .section-header {
     display: inline-block;
}

.candidate-view-container .candidate-documents .uploading-document,
.candidate-view-container .candidate-resume .uploading-resume {
     float: right;
     font-size: $text-small;
     margin-top: $margin;
}

.candidate-view-container .candidate-documents h3,
.candidate-view-container .candidate-questionnaires h3,
.candidate-view-container .candidate-background-checks h3,
.candidate-view-container .candidate-references h3 {
     line-height: $margin * 2;
}

.candidate-view-container .candidate-documents .document,
.video-conversation .candidate-documents .document {
     padding: $margin;
     margin-bottom: 0px !important;
     border-bottom: 1px solid #f4f4f4;
     cursor: pointer;
     border-radius: 4px;
}

.candidate-view-container .candidate-documents .document.video-interview:first-child {
     border-top: 1px solid #f4f4f4;
}

.candidate-view-container .candidate-documents .document:last-child,
.video-conversation .candidate-documents .document:last-child {
     border-bottom: none;
}

.candidate-documents .documents .document .document-type {
     float: left;
     font-size: 20px;
     margin-right: 12px;
     margin-top: 3px;
}

.candidate-view-container .candidate-documents {
     .videos-container {
          margin-left: 32px;
          margin-top: 10px;
     }

     video {
          width: 200px;
     }
}

.video-conversation .candidate-documents .document .document-type {
     float: left;
     font-size: 20px;
     margin-right: 12px;
     margin-top: 30px;
}

.candidate-view-container {
     ul.background-check-results, p.background-check-results {
          margin-bottom: $margin * 2;
     }

     ul.background-check-results {
          margin-bottom: $margin * 2;

          li {
               list-style: disc;
               margin-left: $margin * 2;

               h4.check-name {
                    font-size: 14px;
                    display: inline-block;
                    margin-right: $margin;
               }

               span.check-status {
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: capitalize;
               }
          }
     }
}

.candidate-view-container .questionnaire-container,
.candidate-view-container .background-check-container,
.candidate-view-container .reference-container {
     margin-bottom: $margin;
}

.candidate-view-container .candidate-documents .document:hover,
.candidate-view-container .candidate-questionnaires .questionnaire:hover,
.candidate-view-container .candidate-background-checks .background-check:hover,
.candidate-view-container .candidate-references .reference:hover {
     background: $background-color;
     transition: .3s;
}


.candidate-view-container .candidate-questionnaires .questionnaire,
.candidate-view-container .candidate-background-checks .background-check,
.candidate-view-container .candidate-references .reference {
     padding: $margin;
     cursor: pointer;
     background: #fafafa;
     border: 1px solid #edeff0;
     border-radius: 4px;
}

.candidate-view-container .candidate-background-checks .question-item {
}

.candidate-view-container .candidate-background-checks .question-item:first-child {
     margin-top: 0;
}

.candidate-view-container .candidate-background-checks .question-item:last-child {
     margin-bottom: 0;
}

.candidate-view-container .candidate-documents .document {
     margin-bottom: $margin;
}

.candidate-view-container .candidate-references .reference-container .contact-point {
     font-size: $text-smaller;
     margin-top: 3px;
     margin-bottom: $margin / 2;
}

.candidate-view-container .candidate-questionnaires .questionnaire-container.open .questionnaire,
.candidate-view-container .candidate-background-checks .background-check-container.open .background-check,
.candidate-view-container .candidate-references .reference-container.open .reference {
     border-radius: 4px 4px 0 0;
     background: $background-color;
}

.candidate-view-container .candidate-documents .document h3,
.candidate-view-container .candidate-questionnaires .questionnaire h3,
.candidate-view-container .candidate-background-checks .background-check h3,
.candidate-view-container .candidate-references .reference h3 {
     line-height: $margin * 2;
     font-weight: 400;
}

.candidate-view-container .candidate-documents .document h3 span,
.candidate-view-container .candidate-references .reference h3 span {
     font-size: $text-smaller;
     color: $text-color-lighter;
     margin-left: $margin;
}

.candidate-view-container .candidate-questionnaires .questionnaire .details .status,
.candidate-view-container .candidate-background-checks .background-check .details .status {
     float: right;
}

.candidate-view-container .candidate-background-checks .background-check {
}

.candidate-view-container .candidate-references .reference-container .details .actions {
     float: right;

     .status {
          display: inline-block;
          vertical-align: middle;
     }
}

.candidate-view-container .candidate-questionnaires .questionnaire .details .status,
.candidate-view-container .candidate-background-checks .background-check .details .status,
.candidate-view-container .candidate-references .reference-container .details .status {
     font-size: $text-smallest;
     color: $text-color-lighter;
     margin-left: $margin;
}

.candidate-view-container .candidate-questionnaires .questionnaire .details .status.completed,
.candidate-view-container .candidate-background-checks .background-check .details .status.completed-clear,
.candidate-view-container .candidate-background-checks .background-check .details .status.completed,
.candidate-view-container .candidate-references .reference-container .details .status.completed {
     background-color: $color-green;
     padding: 4px;
     color: #fff;
     border-radius: 4px;
}

.candidate-view-container .candidate-background-checks .background-check .details .status.completed-alert {
     background-color: $color-red;
     padding: 4px;
     color: #fff;
     border-radius: 4px;
}

.candidate-view-container .background-checks {
     margin-bottom: $margin * 3;
}

.candidate-view-container .candidate-documents .creator,
.candidate-questionnaires .creator,
.candidate-background-checks .creator,
.candidate-view-container .reference-container .creator,
.candidate-view-container .candidate-references .creator {
     font-size: $text-smallest;
}

.candidate-view-container .candidate-references .creator .type {
     text-transform: capitalize;
     margin-right: $margin / 2;
}

.candidate-view-container .candidate-references .creator strong {
     font-weight: 400;
}

.candidate-view-container .candidate-references .reference .timestamp,
.candidate-view-container .candidate-documents .document .timestamp,
.candidate-view-container .candidate-documents .document .remove,
.candidate-view-container .candidate-background-checks .background-check .timestamp,
.candidate-view-container .candidate-questionnaires .questionnaire .timestamp,
.candidate-view-container .candidate-questionnaires .questionnaire .remove,
.candidate-view-container .candidate-references .reference .remove {
     color: $text-color-lighter;
     font-size: $text-smallest;
}

.candidate-view-container .candidate-references .reference .remove {
     vertical-align: middle;
}

.candidate-view-container .reference .timestamp,
.candidate-view-container .candidate-documents .document .timestamp,
.candidate-view-container .candidate-background-checks .background-check .timestamp,
.candidate-view-container .candidate-questionnaires .questionnaire .timestamp {
     margin-top: $margin;
     text-transform: lowercase;
}

.candidate-view-container .candidate-documents .document .remove,
.candidate-view-container .candidate-questionnaires .questionnaire .remove {
     float: right;
     margin-top: 0;
}

.candidate-view-container .candidate-documents .document .remove {
     text-transform: capitalize;
     margin-left: $margin;
}

.candidate-view-container .candidate-documents .document:hover .remove {
     display: inline;
}

.candidate-view-container .candidate-assessments .candidate-experience {

     .full-report {
          line-height: 1;

          a {

               color: #5ac0e5;

               i {
                    margin-right: $margin / 2;
               }
          }
     }
}

.candidate-view-container .candidate-experience {
     .traitify-report {
          font-family: $font-sans-serif !important;

          .personality-blend .badges-container, .personality-type .badges-container {
               .badge {
                    width: 40px;
               }
          }

          .tf-personality-types {
               font-family: $font-sans-serif !important;
          }

          .personality-types-container-scroller {
               height: 120px;
          }

          .personality-types-container .personality-types {
               background-color: #384047;

               .arrow {
                    .icon {
                         border-top: 20px solid #384047;
                    }
               }

               .personality-type {
                    font-family: $font-sans-serif !important;
                    font-size: 20px;

                    .name {
                         font-family: $font-sans-serif !important;
                         font-size: 14px;
                         margin-bottom: $margin / 2;
                    }

                    .score {
                         font-size: 14px;
                    }
               }
          }


          .personality-traits .trait {
               .name {
                    font-family: $font-sans-serif !important;
                    font-weight: 400;
               }
          }

          .type-description, .description {
               line-height: 1.5;
               font-weight: 200;
               font-size: 14px;
               text-align: left;
               margin-bottom: $margin * 2;
          }
     }
}

.candidate-view-container .candidate-background-checks .candidate-experience {
     .background-check-fullreport {
          line-height: 1;
          margin-top: 10px;

          a {
               color: #5ac0e5;

               i {
                    margin-right: $margin / 2;
               }
          }
     }
}


.candidate-view-container .candidate-background-checks .assessments-questions {
     list-style: decimal;
     font-size: 14px;
     margin-left: 15px;
     margin-bottom: $margin * 2;

     .question-list-item {
          margin-bottom: $margin * 2;

          h4 {
               line-height: 1.5;

               &.question {
                    margin-bottom: $margin;
               }
          }
     }
}


.candidate-view-container .candidate-assessments .candidate-experience .details .detail,
.candidate-view-container .candidate-background-checks .candidate-experience .details .detail {
     margin-bottom: $margin;
     padding-bottom: $margin;
     border-bottom: 1px solid $background-color;

     &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
     }

     h3 {
          font-weight: 400;
          margin-bottom: 5px;
     }

     h4 {
          font-size: 14px;
          margin-bottom: 5px;
     }

     li {
          margin-bottom: $margin;
     }
}


.candidate-view-container .candidate-questionnaires .candidate-experience,
.candidate-view-container .candidate-background-checks .candidate-experience,
.candidate-view-container .candidate-references .candidate-experience {
     padding: $margin * 2;
     border: 2px solid $background-color;
     border-radius: 0px 0px 4px 4px;
     margin-bottom: $margin;
}

.candidate-view-container .candidate-references .candidate-experience .question-response p,
.candidate-view-container .candidate-questionnaires .candidate-experience .question-response p {
     margin-left: 0px !important;
     margin-bottom: $margin;
}

.candidate-view-container .candidate-references .candidate-experience .question-response ul,
.candidate-view-container .candidate-background-checks .candidate-experience .question-response ul,
.candidate-view-container .candidate-questionnaires .candidate-experience .question-response ul {
     list-style-type: disc;
     display: block;
}

.candidate-view-container .candidate-references .candidate-experience .question-response ul,
.candidate-view-container .candidate-references .candidate-experience .question-response ol {
}

.candidate-view-container .candidate-background-checks .candidate-experience .question-response ul,
.candidate-view-container .candidate-background-checks .candidate-experience .question-response ol,
.candidate-view-container .candidate-questionnaires .candidate-experience .question-response ul,
.candidate-view-container .candidate-questionnaires .candidate-experience .question-response ol {
     margin-bottom: $margin;
     margin-left: 20px;
     font-size: 14px;
}

.candidate-view-container .candidate-experience .question-response .reference-container {
     border-bottom: 1px solid $background-color;
}

.candidate-view-container .candidate-experience .reference-container strong {
     text-transform: capitalize;
     font-weight: 400;
}

.candidate-view-container .candidate-experience .reference-container .contact-points {
     margin-left: 0 !important;
     margin-bottom: 0 !important;
}

.candidate-view-container .candidate-experience .reference-container .contact-points li {
     margin-right: $margin !important;
     list-style-type: none;
     margin-bottom: 0 !important;
}

.candidate-view-container .candidate-background-checks .candidate-experience .question-response ul,
.candidate-view-container .candidate-background-checks .candidate-experience .question-response ol,
.candidate-view-container .candidate-questionnaires .candidate-experience .question-response ul li,
.candidate-view-container .candidate-questionnaires .candidate-experience .question-response ol li {
     margin-bottom: $margin / 2;
}

.candidate-view-container .candidate-experience .question-response h4 {
     font-size: $text-small;
     margin-bottom: 4px;
     font-weight: 400;
}

.candidate-view-container .candidate-experience .question-response h5 {
     font-size: $text-smaller;
     margin-bottom: 4px;
}

.candidate-view-container .candidate-experience .question-response h5 a,
.candidate-view-container .candidate-experience .question-response h5 i {
     color: $color-blue;
}

.candidate-view-container .candidate-questionnaires .candidate-experience video,
.candidate-view-container .candidate-questionnaires .candidate-experience video {
     width: 100%;
     max-width: 400px;
}

.candidate-view-container .candidate-experience video {
     width: 100%;
     max-width: 400px;
}

.candidate-view-container .candidate-scorecards .submit-scorecard {
     float: right;
     font-size: $text-small;
     margin-top: $margin;
     color: $color-blue;
     cursor: pointer;
}

.candidate-view-container .candidate-scorecards h3 {
     line-height: $margin * 2;
}

.candidate-view-container .scorecard-container {
     margin-bottom: $margin;
}

.candidate-view-container .candidate-scorecards .scorecard:hover {
     background: $background-color;
     transition: .3s;
}

.candidate-view-container .candidate-scorecards .scorecard {
     background: #f4f4f4;
     padding: $margin;
     border-radius: 4px;
     cursor: pointer;
}

.candidate-view-container .candidate-scorecards .scorecard-container.open .scorecard {
     border-radius: 4px 4px 0 0;
     background: $background-color;
}

.candidate-view-container .candidate-scorecards .scorecard h3 {
     line-height: $margin * 2;
     font-weight: 400;
}

.candidate-view-container .candidate-scorecards .scorecard .details .status {
     float: right;
}

.candidate-view-container .candidate-scorecards .scorecard .details .status {
     font-size: $text-smallest;
     color: $text-color-lighter;
     margin-left: $margin;
     padding: 4px;
     border-radius: 4px;
}


.candidate-view-container .candidate-scorecards .scorecard-container .status i {
     margin-right: $margin / 2;
}

.candidate-view-container .candidate-scorecards .scorecard-container .status.very_good, .candidate-view-container .candidate-scorecards .scorecard-container .status.good {
     background-color: $color-green;
     color: #fff;
}

.candidate-view-container .candidate-scorecards .scorecard-container .status.very_poor, .candidate-view-container .candidate-scorecards .scorecard-container .status.poor {
     background-color: $color-red;
     color: #fff;
}

.candidate-view-container .candidate-scorecards .scorecard-container .status.neutral {
     background-color: #f5d44f;
     color: #fff;
}

.candidate-view-container .candidate-scorecards .scorecard-container .status.incomplete {
}

.candidate-view-container .candidate-scorecards .activity-stream .activity .activity-info {
     margin-left: 40px;
}

.candidate-view-container .candidate-scorecards .activity-stream-container .end {
     position: absolute;
     bottom: 0;
     width: $margin;
     height: $margin;
     background-color: #eee;
     border-radius: $margin;
     left: -3px;
}

.candidate-scorecards .creator {
     font-size: $text-smallest;
}

.candidate-view-container .candidate-scorecards .scorecard .timestamp {
     color: $text-color-lighter;
     font-size: $text-smallest;
}

.candidate-view-container .candidate-scorecards .scorecard .timestamp {
     margin-top: $margin;
     text-transform: lowercase;
}

.candidate-view-container .candidate-scorecards .scorecard .remove {
     float: right;
     margin-top: 0;
}


.candidate-modal-view-container .candidates-list-container .candidate-list .tags, .candidate-modal-view-container .candidates-list-container .candidate-list .candidate-header-actions {
     display: none;
}

.candidate-modal-view-container .lists-container .list-column {
     padding: $padding;
     margin: 0 0 0 $margin;
     border-radius: 4px;
     background-color: #f9fafa;
     border: 1px solid #edeff0;
     vertical-align: top;
}


.candidate-modal-view-container .list-column .list-column-header {
     position: relative;
}

.candidate-modal-view-container .list-column .list-column-header {
     margin-bottom: $margin;
     padding-left: $padding;
}

.candidate-modal-view-container .list-column .list-column-header i {
     font-size: 12px;
     line-height: $header-height / 2;
     margin-right: 4px;
     float: left;
}

.candidate-modal-view-container .list-column .list-column-header {
}


.candidate-modal-view-container .list-column-header .info-container {
     float: right;
}

.candidate-modal-view-container .list-column .list-column-header h3 {
     line-height: $header-height / 2;
     font-weight: 400;
     overflow: hidden;
     text-overflow: ellipsis;
}

.candidate-modal-view-container .list {
     overflow-y: auto;
     overflow-x: hidden;
     bottom: $padding;
     max-height: 470px;
}

.candidate-modal-view-container .list .list-item {
     border: 1px solid #fff;
     border-radius: 4px;
}

.candidate-modal-view-container .list .list-item.still {
     cursor: pointer;
}

.candidate-modal-view-container .list .list-item.clicked {
     background-color: $background-color-2;
}

.candidate-modal-view-container .list .list-item:hover {
     border: 1px solid $background-color-3;
}

//-webkit-transition: .3s
//-moz-transition: .3s
//-ms-transition: .3s
//-o-transition: .3s
//transition: .3s

.candidate-modal-view-container .list .list-item h3 {
     font-weight: 400;
     padding-right: 10px;
     overflow: hidden;
     text-overflow: ellipsis;
}

.candidate-modal-view-container .list .list-item h3 a {
     color: $text-color-darker;
}

.candidate-modal-view-container .list .list-item .action {
     display: none;
}

.candidate-modal-view-container .list-column .candidate-list {
     padding: 0;
}

.candidate-modal-view-container .candidate-list .candidate-card {
     background: #ffffff;
     border: 1px solid #edeff0;
     padding: $margin;
     margin-bottom: $margin;
     cursor: pointer;
}

.candidate-modal-view-container .candidate-list .candidate-card .candidate-container {
     position: relative;
}

.candidate-modal-view-container .candidate-list .candidate-card .score.good {
     background-color: $color-green;
     color: #fff;
}

.candidate-modal-view-container .candidate-list .candidate-card .score.poor {
     background-color: $color-red;
     color: #fff;
}

.candidate-modal-view-container .candidate-list .candidate-card .score.neutral {
     background-color: #f5d44f;
     color: #fff;
}

.candidate-modal-view-container .candidate-list .candidate-card .score {
     width: 19px;
     height: 19px;
     border-radius: 44px;
     display: inline-block;
     padding: 0px 0;
     font-size: 9px;
     text-align: center;
     margin-left: 5px;
     line-height: 16px;
     vertical-align: top;
     border: 2px solid $border-color;
     background: #d6d076;
     color: #fff;
     position: absolute;
     left: 10px;
     top: 20px;
}


.candidate-modal-view-container .candidate-list .candidate-card .avatar {
     float: left;
     border-radius: 20px;
}

.candidate-modal-view-container .candidate-list .candidate-card .candidate-info {
     margin-left: 40px;
}

.candidate-modal-view-container .candidate-list .candidate-card .candidate-header .starred, .candidate-modal-view-container .candidate-list .candidate-card .candidate-footer .starred {
     color: $color-yellow;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: #d7ce51;
}

.candidate-modal-view-container .candidate-list .candidate-card .candidate-header .thumbs {
     display: none;
}

.candidate-modal-view-container .candidate-list .candidate-card .candidate-header h3 {
     font-size: $text-default;
     color: $text-color-darker;
     line-height: 24px;
     margin: 0;
     font-weight: 400;
}

.candidate-modal-view-container .candidate-list .candidate-card .candidate-body p {
     font-size: $text-smaller;
     color: $text-color-light;
     line-height: 18px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.candidate-modal-view-container .candidate-list .candidate-card .candidate-footer {
     display: none;
}


.candidate-modal-view-container .content-section.candidate-calendar .fc-toolbar {
     height: 40px;
     margin-bottom: 5px;

     .fc-left {
          h2 {
               font-size: 20px !important;
               padding-top: 0;
          }
     }
}

.candidate-modal-view-container .content-section.candidate-calendar .fc-view-container {
     font-size: $text-small !important;
}

.candidate-modal-view-container .content-section.candidate-calendar .fc-view-container th {
     padding: $margin / 2;
}

.candidate-view-container .candidate-scorecards .scorecard-overview-container h3 {
     font-weight: 400;
     margin-bottom: $margin;
}

.candidate-view-container .candidate-scorecards .scorecard-overview-container ul.users .avatar {
     vertical-align: text-top;
}

.candidate-view-container .candidate-scorecards .scorecard-overview-container .score.good {
     background-color: $color-green;
     color: #fff;
}

.candidate-view-container .candidate-scorecards .scorecard-overview-container .score.neutral {
     background-color: #f5d44f;
     color: #fff;
}

.candidate-view-container .candidate-scorecards .scorecard-overview-container .score.poor {
     background-color: $color-red;
     color: #fff;
}

.candidate-view-container .candidate-scorecards .scorecard-overview-container .score {
     width: 60px;
     height: 60px;
     border-radius: 50px;
     display: inline-block;
     padding: 0px 0;
     font-size: 28px;
     font-weight: 400;
     text-align: center;
     line-height: 55px;
     vertical-align: top;
     border: 2px solid $border-color;
     background: #d6d076;
     color: #fff;
     float: left;
}

.candidate-view-container .candidate-scorecards .scorecard-overview-container .completed {
     margin-left: 70px;
     border-left: 1px solid $border-color;
     padding-left: $padding;
}

.candidate-view-container .candidate-scorecards .scorecard-overview-container .section {
     margin-top: $margin * 3;
}

.candidate-view-container .candidate-scorecards .data-overview-container {
     //margin-left: 240px
     font-size: $text-small;
     width: 100%;
}

.candidate-view-container .candidate-scorecards .data-overview-container tr {
     border-bottom: 1px solid $border-color;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.name {
     width: 120px;
     text-transform: capitalize;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.section-item {
     padding: 8px 0;
     line-height: 18px;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.name span {
     line-height: 30px;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.count {
     width: 20px;
     text-align: right;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.results-list {
     padding-left: $margin;
     text-align: right;
     width: 150px;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.results-list li {
     display: inline-block;
     margin-right: 5px;
}


.candidate-view-container .candidate-scorecards .data-overview-container td.results-list li .result {
     font-size: 12px;
     display: inline-block;
     width: 18px;
     height: 18px;
     border-radius: 18px;
     text-align: center;
     color: #fff;
     line-height: 18px;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.results-list li .result.poor {
     color: $color-red;
}

//color: #fff

.candidate-view-container .candidate-scorecards .data-overview-container td.results-list li .result.good {
     color: $color-green;
}

//color: #fff

.candidate-view-container .candidate-scorecards .data-overview-container td.results-list li .result.good.very {
}


.candidate-view-container .candidate-scorecards .data-overview-container td.results-list li .result.good.very, .candidate-view-container .candidate-scorecards .data-overview-container td.results-list li .result.poor.very {
     width: 32px;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.results-list li .result.good.very i:nth-child(even), .candidate-view-container .candidate-scorecards .data-overview-container td.results-list li .result.poor.very i:nth-child(even) {
     margin-left: -5px;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.results-list li .result.neutral {
     color: #f5d44f;
     font-size: 11px;
}

//color: #fff

.candidate-view-container .candidate-scorecards .data-overview-container td.graph .bar {
     padding: 0 $padding;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.graph .bar.very_good .line {
     background-color: $color-green;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.graph .bar.good .line {
     background-color: $color-green-light;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.graph .bar.neutral .line {
     background-color: #f5d44f;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.graph .bar.very_poor .line {
     background-color: $color-red;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.graph .bar.poor .line {
     background-color: $color-red-light;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.graph .line {
     height: $margin;
     border-radius: 4px;
}

.candidate-view-container .candidate-scorecards .data-overview-container td.percentage {
     width: 40px;
}

.candidate-view-container .candidate-scorecards .users li {
     display: inline-block;
     margin-right: $margin / 2;
}

// view_candidate.jade
.view-candidate-wrapper {
     display: flex;

     .wrapper {
          flex: 1;
     }

     .side-options {
          position: sticky;
          top: 0;
          bottom: 0;
          width: 600px;
          border: 20px solid #edeff0;
          overflow-y: auto;
          margin-top: -60px;
          height: 100vh;

          .team-discussion {
               background-color: #fff;
          }

          .tabs-container {
               background-color: #fff;
          }

          .message.discussion {
               width: 100%;

               &::placeholder {
                    font-style: italic;
                    color: #aaa;
               }

               &.error {
                    box-shadow: 0 0 5px 1px #e15258;
               }
          }

          .bzy-option {
               background-color: $background-color-2;
          }

          .footer {
               .status {
                    float: left !important;
               }

               .actions {
                    button {
                         float: right;
                    }
               }
          }
     }

     .loader {
          border-bottom: 3px solid $color-blue;
          border-top: 3px solid #f3f3f3;
          border-left: 3px solid #f3f3f3;
          border-right: 3px solid #f3f3f3;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          animation: spin 1s linear infinite;
     }

     @keyframes spin {
          0% {
               transform: rotate(0deg)
          }
          100% {
               transform: rotate(360deg)
          }
     }
}

button {
     span.move-icon {
          margin-right: -3px;
          display:inline-block;
     }
     span.move-icon i.fa-long-arrow-alt-right {
          position: relative;
          left: -3px;
          top: 3px;
     }
}
