.custom-dropdown {
    width: 99%;
    height: 2em;

    > button.dropdown-toggle {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 1em;

        &::after {
            position: absolute;
            right: 1em;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .b-dropdown-form {
        width:200px;
    }
    .dropdown-menu {
        width: 200px;
        overflow-y: scroll;
        max-height: 250px;
    }
}
