@import "constants";
@import "app_screen_sizes";

.home {
     & &-content {
          display: flex;
          max-width: 100%;
          height: 100%;
          overflow: auto;
          flex-direction: row;

          &-column {
               flex-grow: 1;
               flex-shrink: 0;
          }
     }
     & &-candidate-item {
          cursor: pointer;
     }
     & &-candidate-avatar {
          position: relative;

          .starred {
               position: absolute;
               bottom: 1em;
               right: 1em;
               width: 2em;
               height: 2em;
               line-height: 2em;
               text-align: center;
          }
     }
}

// TABLET
@media screen and (max-width: $tablet_max) {
     .home {
          & &-content {
               flex-direction: column;
               &-column {

               }
          }
     }
}
