
.settings {
  .list-group-item {
    position: relative;
    display: block;
    padding: .57rem 1.20rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
  }

  .btn-light {
    background-color: #f9fafa;
  }

  .avatar {
    width: 30px;
  }

  .avatar img {
    border-radius: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    vertical-align: top;
    z-index: 2;
  }

  .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    color: inherit;
    background-color: #f9fafa;
    border-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;

  }

  .btn.focus, .btn:focus, .btn:active, .btn:hover {
    outline: 0;
    box-shadow: none;
    background-color: transparent;
    color: inherit;
  }

  .btn-light {

    &:hover {
      background-color: #f9fafa !important;
      border-color: transparent;
    }

    &:active {
      background-color: #f9fafa !important;
      border-color: transparent;
    }

    &:focus {
      background-color: #f9fafa !important;
      border-color: transparent;
    }
  }

  .error {
    border: 2px solid #eba2a5;
  }


  .modal.show .modal-dialog {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    background: #edeff0;
  }

  .modal-content {
    border: none;
  }

  .modal-body {
    padding-top: 0px;
  }

  .modal-footer {
    border-top: none;
    background-color: #f9fafa;
    border-top: 1px solid #edeff0;
  }

  .modal-content .close {
    color: #444;
    display: block;
    position: absolute;
    right: 2px;
    padding: 10px;
    background: #dedede;
    opacity: 1;
    border-radius: 4px;
    transition: color .3s ease;
    z-index: 1000;
  }

  .close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
  }

  .member-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
  }

  .role-user {
    font-size: 12px;
    line-height: 18px;
    opacity: .8;
  }

  .btn:hover {
    background-color: inherit;
    /* color: #68747e !important; */
  }

  .modal-invite h5.modal-title {
    font-size: 25px !important;
  }

  .modal-invite .member-group {
    background-color: #f9fafa;
    border: 1px solid #edeff0;
  }

  .invitation-container {
    background-color: #f9fafa !important;
    border: 1px solid #edeff0 !important;
    border-radius: 4px !important;
    padding: 10px !important;
  }

  .modal-invite .modal-content {
    border: none;
  }

  .add-member-actions {
    margin-top: 10px;
    text-align: right;
  }

  .user-type-option label input[type='radio'] {
    margin: 0 10px 0 0 !important;
  }


  .avatar.grey {
    background-color: #aaa;
  }

  .avatar .fa-envelope {
    position: relative;
    top: -3px;
    font-size: 12px;
  }

  .avatar.css-initial {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .page-option-role {
    padding-left: 22px;
  }


  .button:hover, .button:focus, .btn:hover, .btn:focus {
    color: #ffffff;
  }

  .btn {
    crusor: pointer;
  }
}