@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";

html, body {
    scroll-behavior: smooth;
}

.landing-page {
    font-family: "Nunito", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;

    .app-content {
        overflow: unset;
    }

    .content-layout {
        flex-direction: column;
    }

    .header-modal-portal-setting {
        background-color: #384047;
        min-height: 50px;
        /*justify-content: stretch;*/
        align-items: center;

    }

    .testimonials-wraper-content {
        padding: 80px 0;
        background: #f9fafa;
    }

    .perks-wraper-content {
        border-bottom: 1px solid #eee;
    }

    .addthis-smartlayers, div#at4-follow, div#at4-share, div#at4-thankyou, div#at4-whatsnext {
        padding: 0;
        margin: 0;
    }

    .slideInDown.addthis-animated,
    .slideInLeft.addthis-animated,
    .slideInRight.addthis-animated,
    .slideInUp.addthis-animated,
    .slideOutDown.addthis-animated,
    .slideOutLeft.addthis-animated,
    .slideOutRight.addthis-animated,
    .slideOutUp.addthis-animated {
        animation-duration: .4s;
    }

    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
    }

    .slideOutLeft {
        -webkit-animation-name: slideOutLeft;
        animation-name: slideOutLeft;
    }

    .slideOutLeft {
        animation-name: slideOutLeft;
    }

    .slideInLeft {
        animation-name: slideInLeft;
    }

    .addthis-animated {
        animation-fill-mode: both;
        animation-timing-function: ease-out;
        animation-duration: .3s;
    }

    .atss {
        position: fixed;
        top: 20%;
        width: 3pc;
        z-index: 100020;
        background: none;
    }

    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
    }

    .atss .at-share-btn .at-icon-wrapper, .atss a .at-icon-wrapper {
        display: block;
        padding: 8px 0;
    }

    a .at-icon-wrapper {
        cursor: pointer;
    }

    .at-icon-wrapper {
        display: inline-block;
        overflow: hidden;
    }

    .atss .at-share-btn, .atss a {
        position: relative;
        display: block;
        width: 3pc;
        margin: 0;
        outline-offset: -1px;
        text-align: center;
        float: left;
        transition: width .15s ease-in-out;
        overflow: hidden;
        background: #e8e8e8;
        z-index: 100030;
        cursor: pointer;
    }

    .atss .at-share-btn span .at-icon, .atss a span .at-icon {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 2pc;
        height: 2pc;
        line-height: 2pc;
        border: none;
        padding: 0;
        margin: 0 auto;
        overflow: hidden;
        cursor: pointer;
        /*cursor: hand;*/
    }

    .at-icon {
        fill: #fff;
        border: 0;
    }

    .atss .at-share-btn:focus, .atss .at-share-btn:hover, .atss a:focus, .atss a:hover {
        width: 4pc !important;
    }

    .atss .at-share-btn {
        border: 0;
        padding: 0;
    }

    .at-share-close-control .at4-arrow.at-left {
        float: right;
    }

    #at4-recommendedpanel-outer-container .at4-arrow.at-left, div.at4-arrow.at-left {
        background-position: 0 0;
    }

    div.at4-arrow {
        /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAAoCAYAAABpYH0BAAAAGXRFW…QarO77TyKdBsyRPuwV0h0gmoGnTWFYzVkYBoAA+I/2FmAAt6+b5XM9mFkAAAAASUVORK5CYII=);*/
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: left;
        cursor: pointer;

        i {
            color: #888888;
            font-size: 20px;
        }

        &.at-right {
            padding-left: 5px;
        }
    }

    .at4-hide-content {
        /*opacity: 0!important;*/
        /*visibility: hidden;*/
    }

    .at4-show {
        /*display: none!important;*/
        opacity: 0 !important;
    }

    #at4-share.at4-share:hover .at4-show {
        display: block !important;
        opacity: 1 !important;
        background: transparent;
    }

    .at-share-close-control {
        position: relative;
        width: 3pc;
        overflow: auto;
    }

    .at-share-open-control-left {
        position: fixed;
        top: 20%;
        z-index: 100020;
        left: 0;
        width: 22px;
    }

    @keyframes slideInLeft {
        0% {
            -webkit-transform: translate3d(-100%, 0, 0);
            -ms-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
    }
    @keyframes slideOutLeft {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
        100% {
            visibility: hidden;
            -webkit-transform: translate3d(-100%, 0, 0);
            -ms-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0)
        }
    }
    @media only screen and (max-width: 900px) {
        .landing-page {
            #at4-share {
                display: none;
            }

        }
    }

    @media screen and (max-width: 768px) {
        .app-content {
            margin-left: 0px !important;
        }
    }
}
@import "app_screen_sizes";
@media screen and (max-width: $mobile_max) {
    html, body {
        font-size: 12px;
    }
}

@import "landing_page.home";


