.settings.portal {
  .browser.full {
    height: auto;
    padding-bottom: 7px;
    padding-right: 4px;
    .content {
      position: relative; }
    .section {
      position: relative;
      margin-bottom: 0;
      .hero, .video-container {
        position: initial !important; }
      .media-container {
        margin: 15px 15px;
        padding: 0;
        .image-big {
          display: inline-block;
          background-color: #ddd;
          height: 53px;
          width: 100px;
          float: left; }
        .image {
          display: inline-block;
          background-color: #ddd;
          height: 24px;
          width: 31px;
          margin-left: 5px;
          margin-bottom: 5px;
          vertical-align: top; } }

      .testimonials-container {
        margin: 0px 15px;
        padding: 15px 0px;
        .testimonials {
          text-align: center; }
        .testimonial {
          display: inline-block;
          width: 25%;
          text-align: center;
          background-color: #fafafa;
          margin: 0 5px;
          padding: 10px 0;
          .dot {
            width: 16px;
            height: 16px;
            border-radius: 60%;
            margin-left: 18px;
            background: #fff;
            border: 1px solid #ddd; }
          .line {
            width: 20px;
            height: 2px;
            background-color: #ddd;
            margin-bottom: 4px;
            margin: 5px auto 5px auto; }
          .subline {
            width: 40px;
            height: 1px;
            background-color: #ddd;
            margin-bottom: 4px;
            margin: 0px auto 2px auto; } } }

      .employees-container {
        margin: 0px 15px;
        padding: 15px 0px;
        .title {
          width: 70px;
          height: 4px;
          background-color: #ddd;
          margin: 0 auto;
          margin-bottom: 10px;
          text-align: center; }
        .employees {
          text-align: center; }
        .employee {
          display: inline-block;
          width: 23%;
          text-align: center;
          margin-bottom: 5px;
          margin-left: 0;
          .dot {
            width: 16px;
            height: 16px;
            border-radius: 60%;
            margin-left: 18px;
            background: #fafafa;
            border: 1px solid #ddd; }
          .line {
            width: 20px;
            height: 2px;
            background-color: #ddd;
            margin-bottom: 4px;
            display: inline-block; } } }
      .perks-container {
        margin: 0px 15px;
        background: #fafafa;
        padding: 15px 5px 5px 5px;
        .perks {
          text-align: center; }
        .perk {
          display: inline-block;
          width: 32%;
          text-align: center;
          margin-bottom: 0;
          margin-left: 0;
          .dot {
            width: 14px;
            height: 14px;
            border-radius: 60%;
            margin-left: 27px; }
          .line {
            width: 40px;
            height: 2px;
            background-color: #ddd;
            margin-bottom: 4px;
            display: inline-block; } } } } }


  .browser.full.grid_layout {
    .positions-container {
      margin: 10px 15px;
      .position {
        padding: 5px;
        background-color: #fafafa;
        margin-bottom: 4px;
        display: inline-block;
        width: 47%;
        &:first-child {
          margin-right: 10px; } }
      .title {
        width: 70px;
        height: 4px;
        background-color: #ddd;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center; }
      .apply.bt {
        width: 50px;
        height: 5px;
        background-color: #ddd;
        margin: 5px auto; }
      .apply.tr {
        display: none; }
      .position-title {
        width: 100%;
        height: 6px;
        background-color: #ddd; }
      .meta {
        text-align: center;
        .line {
          width: 10px;
          height: 2px;
          background-color: #ddd;
          display: inline-block;
          margin: 0 2px; } } } }

  .browser.full.dense_list_layout {
    .positions-container {
      margin: 10px 15px;
      .position {
        padding: 5px;
        background-color: #fafafa;
        margin-bottom: 4px; }
      .title {
        width: 70px;
        height: 4px;
        background-color: #ddd;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center; }
      .apply.bt {
        display: none; }
      .apply.tr {
        float: right;
        width: 20px;
        height: 4px;
        background-color: #ddd; }
      .position-title {
        width: 150px;
        height: 4px;
        background-color: #ddd; }
      .meta {
        margin-top: -5px;
        .line {
          width: 10px;
          height: 2px;
          background-color: #ddd;
          display: inline-block;
          margin-right: 5px; } } } }

  .browser.full.list_layout {
    .positions-container {
      margin: 10px 15px;
      .position {
        padding: 5px;
        background-color: #fafafa;
        margin-bottom: 4px; }
      .title {
        width: 70px;
        height: 4px;
        background-color: #ddd;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center; }
      .apply.bt {
        display: none; }
      .apply.tr {
        float: right;
        width: 20px;
        height: 6px;
        background-color: #ddd; }
      .position-title {
        width: 150px;
        height: 6px;
        background-color: #ddd; }
      .line {
        width: 10px;
        height: 2px;
        background-color: #ddd;
        display: inline-block;
        margin-right: 5px; } } } }





.settings.portal {
  .browser.simple.messenger {
    .controls div,
    .content .header .logo,
    .content .header .actions .action,
    .content .content-body .title,
    .content .content-body .meta .meta-item,
    .content .content-body .body .line,
    .content .content-body .body .video-container .video {

      background-color: $border-color; }
    .messenger-preview {
      bottom: 10px;
      position: absolute;
      right: 10px;
      .messenger-preview-content {
        border-radius: 1px;
        height: 75px;
        margin-bottom: 2px;
        position: relative;
        transition: 300ms ease;
        width: 60px;
        .messenger-preview-header {
          height: 10px; }
        .messenger-preview-avatar {
          position: absolute;
          background-color: inherit;
          border-radius: 100%;
          height: 16px;
          padding: 4px;
          top: -3px;
          left: 3px;
          transition: 300ms ease;
          width: 16px;
          z-index: 5;
          .circle {
            background-color: rgba(255,255,255,0.7);
            border-radius: 100%;
            height: 8px;
            width: 8px; } }

        .messenger-preview-body {
          background-color: rgba(255,255,255,0.3);
          border-radius: 1px;
          height: 65px;
          padding-top: 5px;
          padding-left: 2px;
          padding-right: 2px;
          position: relative;
          .chat {
            background-color: rgba(255,255,255,0.3);
            padding: 2px;
            margin-bottom: 4px;
            width: 40px;
            &.right {
              float: right; } }
          .line {
            background-color: #fff;
            height: 2px;
            margin-bottom: 3px;
            &:last-child {
              width: 50%; } }
          .chatarea {
            background-color: #fff;
            border-radius: 1px;
            bottom: 2px;
            height: 10px;
            width: 56px;
            padding: 2px;
            position: absolute;
            .line {
              background-color: #bbb; } } } }

      .messenger-preview-launcher {
        border-radius: 1px;
        float: right;
        height: 12px;
        transition: 300ms ease;
        width: 12px; } } } }


.settings.portal .browser {
  position: relative;
  width: 250px;
  height: 200px;
  background: $border-color;
  border-radius: 4px; }

.settings.portal .browser .controls {
  position: absolute;
  top: 2px;
  height: $margin / 2;
  left: $margin / 4;
  right: $margin / 4; }

.settings.portal .browser .controls div {
  position: relative;
  display: inline;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: $color-dark-grey; }

.settings.portal .browser .address-bar {
  position: absolute;
  top: 12px;
  height: $margin / 2;
  left: $margin / 4;
  right: $margin / 4;
  background: #ffffff; }

.settings.portal .browser .content {
  position: absolute;
  top: 20px;
  bottom: $margin / 4;
  left: $margin / 4;
  right: $margin / 4;
  background: #ffffff; }

.settings.portal .browser.bold .content .hero {
  position: absolute;
  top: 0;
  height: 110px;
  left: 0;
  right: 0; }

.settings.portal .browser.bold .content .hero .hero-header {
  height: 16px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.settings.portal .browser.bold .content .hero .hero-header {
  background: #fff; }

.settings.portal .browser.bold .content .hero .logo {
  position: absolute;
  top: $margin / 2;
  background: #9b9b9b;
  width: $margin * 3;
  left: $margin * 4;
  height: 6px; }

.settings.portal .browser.bold .content .hero .actions {
  position: absolute;
  top: -5px;
  right: $margin * 4;
  height: 4px; }

.settings.portal .browser.bold .content .hero .actions .action {
  display: inline-block;
  background: #9b9b9b;
  width: $margin;
  height: 2px;
  margin-left: $margin / 2; }

.settings.portal .browser.bold .content .hero .title {
  background: #ffffff;
  width: 140px;
  height: 4px;
  margin: 0px auto $margin; }

.settings.portal .browser.bold .content .hero .sub-title {
  background: #ffffff;
  width: 100px;
  height: 2px;
  margin: 0px auto $margin; }

.settings.portal .browser.bold .content .hero .cta {
  width: 44px;
  height: 14px;
  margin: 0px auto $margin; }

.settings.portal .browser.bold .content .video-container {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  height: 60px; }

.settings.portal .browser.bold .content .video-container .video {
  position: absolute;
  width: 100px;
  background-color: #ddd;
  height: 40px;
  top: 15px;
  left: 15px; }

.settings.portal .browser.bold .content .video-container .copy {
  position: absolute;
  width: 100px;
  left: 130px;
  top: 15px;
  bottom: 15px; }

.settings.portal .browser.bold .content .video-container .line {
  height: 2px;
  background-color: #ddd;
  margin-bottom: 4px; }



// Basic
.settings.portal .browser.simple .content .header {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.settings.portal .browser.simple .content .header .logo {
  position: absolute;
  top: $margin / 2;
  background: #9b9b9b;
  width: $margin * 3;
  left: $margin * 4;
  height: 6px; }

.settings.portal .browser.simple .content .header .actions {
  position: absolute;
  top: -5px;
  right: $margin * 4;
  height: 4px; }

.settings.portal .browser.simple .content .header .actions .action {
  display: inline-block;
  background: #9b9b9b;
  width: $margin;
  height: 2px;
  margin-left: $margin / 2; }


.settings.portal .browser.simple .content .content-body {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0; }

.settings.portal .browser.simple .content .content-body .title {
  position: absolute;
  top: 20px;
  left: 40px;
  height: 5px;
  background-color: #ddd;
  width: 80px; }

.settings.portal .browser.simple .content .content-body .meta {
  position: absolute;
  top: 20px;
  left: 40px;
  height: 3px; }

.settings.portal .browser.simple .content .content-body .meta .meta-item {
  display: inline-block;
  background-color: #ddd;
  margin-right: 4px;
  width: 10px;
  height: 3px; }

.settings.portal .browser.simple .content .content-body .body {
  position: absolute;
  left: 40px;
  top: 50px;
  right: 40px;
  bottom: 0; }

.settings.portal .browser.simple .content .content-body .body .line {
  height: 2px;
  background-color: #ddd;
  margin-bottom: 4px; }

.settings.portal .browser.simple .content .content-body .body .video-container {
  margin-top: $margin;
  margin-bottom: $margin; }

.settings.portal .browser.simple .content .content-body .body .video-container .video {
  height: 60px;
  background-color: #ddd; }


.settings.portal .columns .column {
  width: 45%;
  display: inline-block;
  vertical-align: top;

  &:first-child {
    margin-right: $margin * 3;
    input[type=text], .template-variable {
      width: 100% !important; } }

  .footer {
    margin-top: 30px; } }

.settings.portal .layout {
  display: inline-block;
  margin-top: $margin;
  margin-bottom: $margin * 2;
  width: 45%;
  vertical-align: top;
  &:first-child {
    margin-right: $margin * 3; }

  h3 {
    font-weight: 400;
    font-size: 16px;
    .small {
      color: inherit;
      font-weight: 200; } }
  .layout {
    margin-top: 0; } }

.settings.portal .column ul.bzy-list li.bzy-item.enabled {
  .disable-section {
    display: inline-block; }
  .enable-section {
    display: none; } }

.settings.portal .column ul.bzy-list li.bzy-item.disabled {
  label {
    opacity: 0.6;
    text-decoration: line-through; }
  i.fa-list {
    opacity: 0.6; }
  .disable-section {
    display: none; }
  .enable-section {
    display: inline-block; } }

.settings.portal .layout-options {
  margin-top: $margin * 2;
  h4 {
    font-weight: 400;
    margin-bottom: 10px; }
  ul {
    font-size: 14px;
    li {
      margin-bottom: $margin /2!important; } }

  input[type=radio] {
    display: inline-block !important;
    margin-right: $margin;
    margin-bottom: $margin/2 !important; } }

.settings.portal .layout input[type=radio] {
  float: left;
  margin-right: 5px;
  margin-bottom: 0 !important;
  margin-top: 0 !important; }


.settings.portal .header-cap-styles li,
.messenger .header-cap-styles li {
  display: inline-block;
  margin-right: $margin; }

.settings.portal .header-cap-styles li a,
.messenger .header-cap-styles li a {
  display: inline-block;
  height: 34px;
  width: 34px;
  border-radius: 4px; }

.messenger .active-color-container,
.settings.portal .active-color-container {
  margin-top: $margin * 2; }

.settings.portal .active-color-container.inline-color {
  width: 230px;
  display: inline-block; }

.messenger .active-color-container {
  .minicolors {
    display: inline-block; }
  .minicolors-panel {
    left: -45px;
    top: 42px; } }

.messenger .selected-color,
.settings.portal .selected-color {
  float: left;
  height: 34px;
  width: 34px;
  border-radius: 4px;
  margin-right: 10px; }

.settings.portal .perk-icons {
  width: 400px; }

.settings.portal .perk-icon {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px; }

.settings.portal .perk-icon a {
  background-color: #eee;
  border-radius: 4px;
  padding: 8px;
  display: block;
  width: 32px;
  text-align: center; }

.settings.portal .perk-icon a.active {
  background-color: $color-green;
  color: #fff; }

.settings.portal .section .remove {
  font-size: $text-smaller;
  display: block;
  color: #5ac0e5;
  margin-top: 5px; }


.settings.portal .perks .perk {
  list-style: initial;
  margin-left: 20px;
  margin-bottom: 20px; }

.settings.portal .perks .perk p {
  display: inline;
  margin-left: 10px; }

.settings.portal .domains .domain {
  margin-bottom: 15px; }

.settings.portal .domains .domain h4 {
  font-weight: 400; }

.settings.portal .testimonial-container .headshot-placeholder {
  float: left;
  height: 78px;
  width: 78px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #edeff0;
  background: #fff;
  font-size: 14px;
  color: $color-dark-grey; }

.settings.portal .testimonial-container .headshot-placeholder .headshot, .settings.portal .testimonial-container .headshot-placeholder .headshot img {
  height: 100%;
  width: 100%;
  border-radius: 0; }

.settings.portal {
  .section.half-block {
    vertical-align: top;
    width: 50%;
    display: inline-block;
    input[type=number] {
      width: 150px; }
    img.glassdoor {
      width: 200px; } } }

.settings.portal .testimonial-container .headshot-placeholder .headshot i {
  font-size: 32px;
  color: #aaa;
  margin-left: 22px;
  margin-top: 22px; }

.settings.portal .testimonials .testimonial.employee {
  width: 50%;
  display: inline-block; }

.settings.portal .testimonials .testimonial {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $background-color-2; }

.settings.portal .testimonials .testimonial:last-child {
  border: none;
  margin-bottom: 0; }

.settings.portal .testimonials .testimonial .avatar {
  float: left; }

.settings.portal .testimonials .testimonial .content {
  margin-left: 50px;
  padding-top: 5px; }

.settings.portal .testimonials .testimonial .content h4 {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 400; }

.settings.portal .testimonials .testimonial .content h5 {
  font-size: 12px; }

.settings.portal .testimonials .testimonial .content .body {
  margin-top: 10px; }

.settings.portal .testimonials .testimonial .content .body i {
  float: left;
  font-size: 11px; }

.settings.portal .testimonials .testimonial .content .body p {
  margin-left: 18px; }

.settings {
  .favicon {
    display: flex;
    align-items: center;
    margin-bottom: $margin;
    .preview {
      margin-right: $margin;
      img {
        height: 16px;
        width: 16px; } }
    input[type="text"].full {
      margin-bottom: 0 !important; } } }

.settings .meta {
  .columns {
    display: flex;
    .column {
      max-width: 50%;
      width: 50%; } }
  .attachments {
    font-size: 12px;
    margin-bottom: $margin;
    .fa.fa-paperclip {
      margin-right: $margin / 2; }
    .attachment {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      max-width: 250px;
      text-overflow: ellipsis; }
    .remove {
      display: inline-block; } }
  .preview {
    border: 4px solid #edeff0;
    border-radius: 4px;
    margin: 0 auto;
    .meta-image {
      max-height: 130px;
      overflow: hidden;
      .hero-preview {
        background-size: cover;
        text-align: center;
        color: #fff;
        padding: $margin *2 $margin;
        min-height: 130px;
        h1 {
          font-size: 20px;
          font-weight: 200; }
        p {
          font-size: 12px;
          i {
            margin-right: $margin; } } }
      img {
        max-width: 100%; } }
    .meta-text {
      line-height: 18px;
      padding: $padding; }
    .meta-title {
      font-size: 14px;
      font-weight: 500; }
    .meta-description {
      line-height: 18px;
      font-size: 12px; }
    .meta-link {
      color: #999;
      font-size: 10px; } } }

.settings.portal .gallery .gallery-item {
  display: inline-block;
  margin-right: $margin * 2;
  margin-bottom: $margin * 2; }

.settings.portal .gallery .gallery-item .image {
  height: 100px;
  width: 100px;
  background-size: cover; }

.settings.portal .gallery .gallery-item .image a {
  text-align: center; }

.settings.portal .video-options-container {
  margin-top: $margin * 2;

  .video-option {
      display: inline-block;
      margin-right: $margin * 2;

      input {
        display: inline-block !important;
        margin-right: $margin; }
      span {
        font-size: $text-small; } } }

.portal.settings .application-options-old .option-item {
  margin-top: $margin;
  padding-bottom: $padding;
  border-bottom: 1px solid $border-color; }

.portal.settings .application-options-old h2 {
  margin-bottom: 30px; }

.portal.settings .application-options-old .option-item label {
  line-height: 30px;
  font-size: $text-small;
  font-weight: 400; }

.portal.settings .application-options-old .option-item .btn-group {
  float: right;
  margin-top: 4px; }

.portal.settings .application-options-old .option-item .btn-group .active {
  background-color: $color-green !important;
  border-color: $color-green !important;
  color: #fff !important; }

.portal.settings .application-options-old .option-item .btn-group .active:hover {
  background-color: $color-green !important;
  border-color: $color-green !important;
  color: #fff !important; }




.portal.settings .main-content .application-form .option-item {
  margin-top: $margin;
  padding-bottom: $padding;
  border-bottom: 1px solid $border-color; }

.portal.settings .main-content .application-form .option-item.no-border {
  border-bottom: 0;
  padding-bottom: 0;

  h2 {
    line-height: 1.9;
    margin-bottom: 10px; } }

.portal.settings .main-content .application-form h2 {
  margin-bottom: 30px; }

.portal.settings .main-content .application-form h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400; }

.portal.settings .main-content .application-form .option-item label {
  line-height: 30px;
  font-size: $text-small;
  font-weight: 400; }

.portal.settings .main-content .application-form .option-item .bzy-switch {
  float: right; }

.portal.settings .main-content .application-form .option-item .btn-group {
  float: right;
  margin-top: 4px; }

.portal.settings .main-content .application-form .option-item .btn-group .active {
  background-color: $color-green !important;
  border-color: $color-green !important;
  color: #fff !important; }

.portal.settings .main-content .application-form .option-item .btn-group .active:hover {
  background-color: $color-green-hover !important;
  border-color: $color-green-hover !important; }

@media (max-width: 720px) {
  .modal-content .navbar.navbar-inverse {
    display: block;
    .collapse {
      display: inline-block !important;
      float: right;
      padding-top: 15px;
      .mobile-nav .dropdown-menu {
        left: initial;
        right: -10px; } } }

  .settings.portal .layout {
    width: 100%;
    &:first-child {
      margin-right: 0; } }

  .modal-content .settings.portal .main-content {
    margin-left: 0 !important;
    width: 100% !important; }
  .modal-content .settings.portal .main-content .footer {
    text-align: left !important; }

  .modal-content .portal.settings .main-content .section input[type='text'].full {
    width: 100% !important; }
  .settings.portal .testimonial-container .headshot-placeholder {
    margin-bottom: $margin; }
  .settings.portal .perk-icons {
    width: 100%; } }

@media (min-height: 500px) {
  .modal-content {
    .settings {

      .main-content > div {
        margin-bottom: 75px; }

      .main-content {
        position: relative;
        overflow: scroll;
        .footer {
          position: fixed;
          bottom: 0px;
          background: #fcfcfc;
          left: 175px;
          right: 0;
          border-top: 1px solid #eee;
          padding: 20px; } } } } }





