@import "app_screen_sizes";
@import "constants";

.position-page {

     &-controls {

     }

     &-filter-column {
          max-width: 500px;
          transition: max-width 200ms;
          overflow: visible;
          width: 210px;
          margin-right: 1em;

          &.closed {
               max-width: 0;
               overflow: hidden;
          }
     }

     &-table {
          width: max-content;
          min-width: 100%;
          max-height: 100%;

          &-wrapper {
               width: 100%;
               height: 100%;
               overflow: auto;
               background-color: $background-color;
               position: sticky;
               top: 0;
          }

          td {
               max-width: 300px;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
          }

          td:nth-child(2), th:nth-child(2) { // select box
               padding-left: 1em;
               padding-right: 0;
          }

          //custom sort icon
          th[aria-sort]::after {
               // important for override bootstrap styles
               font-family: "Font Awesome 5 Free" !important;
               content: "" !important;
               //margin-left: 1em;
               //display: inline-block !important;
               //position: initial !important;
               //height: 1em !important;
          }
          th[aria-sort][aria-sort=ascending]::after {
               content: "\f0de" !important;
          }
          th[aria-sort][aria-sort=descending]::after {
               content: "\f0dd" !important;
          }
     }
}

// TABLET
@media screen and (max-width: $tablet_max) {
     .position-page {
          &-controls {
               button > span {
                    display: none;
               }
          }
     }
}

// MOBILE
@media screen and (max-width: $mobile_max) {
     .position-page {
          &-controls {
               display: none;
          }
     }
}
