<template>
    <div>
        <div id="hero" class="hero ">
            <div id="heroBackgroundImage" :style="{'background-color':currentPortalLandingPage.appearance_header_backgroud_color,'background-image':'url('+ currentPortalLandingPage.appearance_header + ')'}"
                 class="hero-background-image"></div>
            <div id="heroBackgroundColor" >
                <div class="banner">
                    <div class="banner-img">
                        <div class="banner-text">
                            <h1 style="white-space: pre-line;" >{{currentPortalLandingPage.messaging_header}}</h1>
                            <p style="white-space: pre-line;">{{currentPortalLandingPage.messaging_subheader}}</p>
                            <a @click="scrollTo('position')" class=" btn-lg btn-outline-light" style="background-color: rgba(0,0,0,0.2);">
                                <span>{{$cjpmessages.SR_046_BTN_VIEW_OPENING}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex content-layout">
            <div v-if="checkShowElmemt('general')" :class="checkShowElmemt('general')?'order-'+orderByElement('general'):''">
                <General ></General>
            </div>

            <div v-if="checkShowElmemt('perks') && currentPortalLandingPage.perks.length  " :class="checkShowElmemt('perks')?'order-'+orderByElement('perks'):''" class="perks-wraper-content">
                <Perks ></Perks>
            </div>

            <div v-if="checkShowElmemt('gallery') && currentPortalLandingPage.photos.length" :class="checkShowElmemt('gallery')?'order-'+orderByElement('gallery'):''">
                <Gallery ></Gallery>
            </div>
            <div v-if="checkShowElmemt('positions_list')" :class="checkShowElmemt('positions_list')?'order-'+orderByElement('positions_list'):''">
                <Position ></Position>
            </div>
            <div v-if="checkShowElmemt('testimonials') && currentPortalLandingPage.testimonials.length" :class="checkShowElmemt('testimonials')?'order-'+orderByElement('testimonials'):''" class="testimonials-wraper-content">
                <Testimonials ></Testimonials>
            </div>
            <div v-else></div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import $ from 'jquery';
    import Perks from '@/components/LandingPage/HomePageComponent/ComponentHomeBold/perks.vue';
    import General from '@/components/LandingPage/HomePageComponent/ComponentHomeBold/general.vue';
    import Gallery from '@/components/LandingPage/HomePageComponent/ComponentHomeBold/gallery.vue';
    import Position from '@/components/LandingPage/HomePageComponent/ComponentHomeBold/position.vue';
    import Testimonials from '@/components/LandingPage/HomePageComponent/ComponentHomeBold/testimonials.vue'
    import Simple from '@/components/LandingPage/HomePageComponent/SimpleHome.vue'
    import {mapActions, mapGetters} from 'vuex'
    import _ from 'lodash'
    export default {
        name: "HomeBold",
        components: {
            Perks,
            General,
            Gallery,
            Position,
            Testimonials,
        },
        data() {
            return {
                // messages: messages
            }
        },
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage'
            ])
        },
        methods: {
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage',
                'checkCurrentNamePage'
            ]),
            scrollTo(id_element){
                let offSetTopElement = $(`#${id_element}`)[0].offsetTop;
                let offSetHeader = $(".landing .header").height();
                let offSetCustomToSmooth = 10;
                window.scrollTo(0,offSetTopElement-offSetHeader-offSetCustomToSmooth);
            },
            orderByElement(name_element){
                let that = this as any
                let index = that.currentPortalLandingPage.layout.findIndex((element) => element.name == name_element)
                return index
            },
            checkShowElmemt(name_element){
                let that = this as any
                let index = that.currentPortalLandingPage.layout.findIndex((element) => element.name == name_element)
                return that.currentPortalLandingPage.layout[index].is_show
            },
        }
    }
</script>

<!--<style scoped lang="scss">-->
    <!--#hero{-->
        <!--overflow: hidden;-->
        <!--position: relative;-->
        <!--margin-top: 70px;-->
    <!--}-->
    <!--.hero {-->
        <!--.hero-background-image {-->
            <!--background-position: center;-->
            <!--background-repeat: no-repeat;-->
            <!--background-size: cover;-->
            <!--height: calc(100% + 10px);-->
            <!--left: -5px;-->
            <!--position: absolute;-->
            <!--top: -5px;-->
            <!--width: calc(100% + 10px);-->
            <!--z-index: 1;-->
            <!--transition: all 1s ease;-->
        <!--}-->
    <!--}-->
    <!--#heroBackgroundColor {-->
        <!--position: relative;-->
        <!--transition: all 3s ease;-->
        <!--z-index: 2;-->
        <!--.banner{-->
            <!--padding: 120px 0px;-->
            <!--z-index: 2;-->
            <!--color: #ffffff;-->
            <!--text-align: center;-->
            <!--margin: 0 auto;-->
            <!--max-width: 900px;-->
            <!--.banner-text {-->
                <!--h1 {-->
                    <!--margin-bottom: 20px;-->
                    <!--font-weight: 300;-->
                    <!--font-size: 72px !important;-->
                    <!--line-height: 1.2;-->
                    <!--animation: fadein 0.6s 0.5s 1 forwards ease-in;-->
                <!--}-->
                <!--p {-->
                    <!--max-width: 700px;-->
                    <!--margin: 0 auto 40px;-->
                    <!--font-size: 22px !important;-->
                    <!--font-weight: 300;-->
                    <!--line-height: 1.5;-->
                    <!--letter-spacing: 0.5px;-->
                <!--}-->

                <!--.btn-outline-light {-->
                    <!--padding: 20px;-->
                    <!--border: 2px solid #fff;-->
                    <!--opacity: 1;-->
                    <!--font-size: 20px;-->
                    <!--font-weight: 400;-->
                    <!--color: #fff;-->
                    <!--text-decoration: unset;-->
                    <!--border-radius: 4px;-->
                    <!--cursor: pointer;-->
                <!--}-->
            <!--}-->
        <!--}-->
        <!--.banner-position-page{-->
            <!--&.banner{-->
                <!--.item{-->
                    <!--display: inline-block;-->
                    <!--margin: 0px 5px;-->
                    <!--i{-->
                        <!--margin-right: 5px;-->
                    <!--}-->
                <!--}-->
            <!--}-->
        <!--}-->
    <!--}-->
    <!--#landing-page .content-layout{-->
        <!--flex-direction: column;-->
    <!--}-->
    <!--.testimonials-wraper-content{-->
        <!--padding: 80px 0;-->
        <!--background: #f9fafa;-->
    <!--}-->
    <!--.perks-wraper-content{-->
        <!--border-bottom: 1px solid #eee;-->
    <!--}-->
<!--</style>-->
