<template>
    <div class="landing-page-simple">
        <div class="portal-wrapper">
            <div class="portal-content">
                <div class="company-container container">
                    <div class="company-header">
                        <img id="nav-image"
                             v-if="currentPortalLandingPage.appearance_logo"
                                 :src="currentPortalLandingPage.appearance_logo">
                        <h1 v-else>{{currentCompanyLandingPage.name}}</h1>
                        <div class="description" v-html="currentPortalLandingPage.description"></div>
                        <div class="videowrapper vimeo" v-if="convertLinkToEmbedLink">
                            <iframe :src="convertLinkToEmbedLink"
                                    width="500" height="281" frameborder="0"
                                    style="max-width: 100%;"
                                    webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
                            </iframe>
                        </div>
                    </div>
                </div>
                <div class="positions-container container">
                    <h1>{{$cjpmessages.SR_046_POSITION_OPENING_SIMPLE}} {{currentCompanyLandingPage.name}}</h1>
                    <h2 class="no-position" v-if="currentPositionLandingPage.length === 0">{{$cjpmessages.SR_046_POSTION_MESAGES_NONE}}</h2>
                    <table v-else class="positions">
                        <tbody>
                        <tr v-if="currentPositionLandingPage.length > 0"  @click="nextToPositionpage(position)" class="position" v-for="position in currentPositionLandingPage">
                            <td class="name">
                                <h2 class="text-overflow"><a>{{position.title}}</a></h2>
                                <div class="mobile">
                                    <div class="type">
                                        <span class="label partTime">{{position.position_type.title}}</span>
                                        <span style="margin-left: 5px" v-if="position.location.title" class="label partTime">{{$cjpmessages.SR_046_POSITION_SIMPLE_IN}}</span>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span> {{getAddress(position)}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="apply-button-container">
                                <button class="btn btn-blue">{{$cjpmessages.SR_046_POSITION_APPLY_NOW_BTN}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {mapGetters,mapActions} from 'vuex'
    export default {
        name: "SimpleHome",
        data(){
            return{

            }
        },
        inject: ['getAddress'],
        computed: {
            ...mapGetters([
                'currentPortalLandingPage',
                'currentCompanyLandingPage',
                'currentPositionLandingPage',
                'convertLinkToEmbedLink',
            ]),
        },
        mounted(){
            let that = this as any
            let name_route = that.$route.name
            that.checkCurrentNamePage(name_route)
        },
        methods: {
            ...mapActions([
                'getCompanyLandingPagebySlug',
                'getPortalLandingPage',
                'getPositionsPublishLandingPage',
                'setPositionView',
                'checkCurrentNamePage',
            ]),
            nextToPositionpage(position){
                let that = this as any
                let router = {
                    name: `LandingPageDetailPosition`,
                    params: {
                        position_id: position.id,
                    },
                };
                that.$router.push(router)
            }
        }
    }
</script>
<style lang="scss">
    .landing-page-simple {
        @import "~styles/landing_page.nav.simple";
    }
</style>
