<template>
    <div class="settings" id="connect-source-data">
        <div class="main-content">
            <!-- ngIf: activeTab == "plan" -->
            <!-- ngIf: activeTab == "planBilling" -->
            <!-- ngIf: activeTab == "planConfirm" -->
            <!-- ngIf: activeTab == "planConfirmComplete" -->
            <!-- ngIf: activeTab == "users" -->
            <div class="team">
                <div class="header">
                    <h1>{{messages.SR_002_CONNECT_SOURCE_DATA_TITLE_MODAL}}</h1>
                    <div class="position">
                        <div class="section invite">
                            <a class="add link-blue" href="javascript:void(0)" @click="addSource()">
                                <i class="fa fa-plus"></i>
                                <span>{{messages.SR_002_CONNECT_SOURCE_DATA_MODAL_BTN_ADD}}</span>
                            </a>
                        </div>
                        <div class="section" v-show="currentListService.length > 0">
                            <h2>{{messages.SR_002_CONNECT_SOURCE_DATA_MODAL_TITLE2}}</h2>
                            <b-list-group>
                                <b-list-group-item style="" class="d-flex member-group align-items-center"
                                                   v-for="(career,index) in currentListService"
                                                   :key="index">
                                    <div class="flex-grow-1 p-2 align-self-start">
                                        <div style="font-weight: bold">
                                            {{career.service}}
                                        </div>
                                        <small class="role-user">
                                            <div >
                                               {{messages.SR_002_CONNECT_SOURCE_DATA_MODAL_DES1_ITEM}} {{career.username}}
                                            </div>
                                            <div >
                                               {{messages.SR_002_CONNECT_SOURCE_DATA_MODAL_DES2_ITEM}} {{career.last_updated_consumed | timeInvite}}
                                            </div>
                                        </small>
                                    </div>
                                    <div class="align-self-start p-2">
                                        <div class="container-btn">
                                            <a v-if="career.is_active" class="btn-action-connect" href="javascript:void(0)" @click="handlerSyncData(career)">
                                                <i class="fas fa-redo-alt"></i>
                                                <span>{{messages.SR_002_CONNECT_SOURCE_DATA_MODAL_BTN_SYN_DATA}}</span>
                                            </a>
                                            <a class="btn-action-connect" style="margin-left: 7px" href="javascript:void(0)" @click="configSource(index)">
                                                <i class="fas fa-cog"></i>
                                                <span>{{messages.SR_002_CONNECT_SOURCE_DATA_MODAL_BTN_SETTING_CONNECT}}</span>
                                            </a>
                                        </div>
                                        <div v-if="career.is_active" class="status-connect on-connect">
                                            <span>{{messages.SR_002_CONNECT_SOURCE_DATA_MODAL_MES_CONNECTED}}</span>
                                        </div>
                                        <div v-else class="status-connect off-connect">
                                            <span>{{messages.SR_002_CONNECT_SOURCE_DATA_MODAL_MES_DISCONNECTED}}</span>
                                        </div>
                                    </div>

                                </b-list-group-item>
                            </b-list-group>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end ngIf: activeTab == "users" -->
            <!-- ngIf: activeTab == "teams" -->
            <!-- ngIf: activeTab == "billing" -->
            <!-- ngIf: activeTab == "general" -->
        </div>
        <b-modal id="modal-add-source-connect" class="modal-source-connect" :title="messages.SR_002_MODAL_ADD_SOURCE_DATA"
                 :no-close-on-backdrop="true" @hide="hideModal()"
                 :visible="flag_show" :hide-footer="true" :width="500" :height="420">
            <div class="modal-content" id="modal-add-source-connect">

                <div class="modal-body">
                    <div class="team-permissions add-membership">
                        <div class="header">
                            <h2>
                                {{messages.SR_002_MODAL_ADD_SOURCE_DATA_DES1}}
                            </h2>
                            <el-select @change="checkChange()" class="select-source" :class="new_service.service?'':'error'" v-model="new_service.service" :placeholder="messages.SR_002_MODAL_ADD_SOURCE_DATA_PLACEHOLDER3" size="small">
                                <el-option
                                    v-for="item in list_source"
                                    :key="item.title"
                                    :label="item.title"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                            <div class="login-source">
                                <h2>
                                    {{messages.SR_002_MODAL_ADD_SOURCE_DATA_DES2}}
                                </h2>
                                <p>
                                    {{messages.SR_002_MODAL_ADD_SOURCE_DATA_DES3}}
                                </p>
                                <el-input @change="checkChange()" @focus="checkChange()" :placeholder="messages.SR_002_MODAL_ADD_SOURCE_DATA_PLACEHOLDER1" class="input-source" v-model="new_service.username"></el-input>
                                <el-input @change="checkChange()" @focus="checkChange()" type="password"  :placeholder="messages.SR_002_MODAL_ADD_SOURCE_DATA_PLACEHOLDER2"  class="input-source" v-model="new_service.password"></el-input>
                            </div>
                            <div class="action-async" v-if="mode == 'edit'">
                                <a class="off-async" :class="!new_service.is_active?'connect':''" @click="turnOffSyncData()">{{messages.COMMON_DISABLE}}</a>
                                <a class="on-async" :class="new_service.is_active?'connect':''" @click="turnOnSyncData()">{{messages.COMMON_ENABLE}}</a>
                            </div>
                            <div class="section">
                                <div class="add-actions">
                                    <button class="btn btn-none" type="button" @click="flag_show = false">
                                        <span>{{messages.COMMON_CANCEL}}</span>
                                    </button>
                                    <button :disabled="dissable_submit" v-if="mode == 'edit'" class="btn btn-blue"
                                            type="button"
                                            @click="UpdateSoucreData()"
                                            style="margin-left:5px;">
                                        <span>
<!--                                            <span class="form-inactive" v-if="!has_send">{{messages.SR_002_SETTING_MEMBERS_INVITE_SEND}}</span>-->
                                            <span class="form-inactive">{{messages.SR_002_MODAL_ADD_SOURCE_DATA_BTN_SAVE}}</span>
                                        </span>
                                    </button>
                                    <button v-else class="btn btn-blue"
                                            :disabled="dissable_submit"
                                            type="button"
                                            @click="createNewSoucreData()"
                                            style="margin-left:5px;">
                                        <span>
<!--                                            <span class="form-inactive" v-if="!has_send">{{messages.SR_002_SETTING_MEMBERS_INVITE_SEND}}</span>-->
                                            <span class="form-inactive">{{messages.SR_002_MODAL_ADD_SOURCE_DATA_BTN_SYNC}}</span>
                                        </span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
    </div>
</template>
<style  lang="scss">
    @import "../../assets/styles/invite.scss";
</style>



<script lang="ts">
    import Vue from "vue";
    import Company from "@/models/Company";
    import {mapGetters, mapActions} from 'vuex';
    import User from '@/models/User';
    import {fauth, server_time} from '@/firebase';
    import Invite from "@/models/Invite";
    import {messages} from '@/messages';
    import moment from 'moment';
    import _ from "lodash";
    import SourceConnectData from "@/models/SourceConnectData";
    import urlSyncData from "../../../axiosConfig";
    import axios from 'axios'



    export default Vue.extend({
        data() {
            return {
                list_source:[{
                    title: "Careerbuilder",
                    value:"CareerBuilder.vn"
                }],
                new_service:{},//SourceConnectData
                mode:'add',
                flag_show: false,
                dissable_submit: false
            }
        },
        watch: {
            companyUsers: function (users) {

                const self = this;
                if (users) {
                    self.members = users;
                }
            }
        },
        filters: {
            timeInvite: function (value) {
                //console.log(value);
                return moment(value).format('HH:mm:ss DD/MM/YYYY');
            }
        },
        methods: {
            ...mapActions([
                'getListService',
                'fakeapi'
            ]),
            addSource(){
                let that = this as any
                that.mode = 'add'
                that.new_service = new SourceConnectData()
                that.new_service.service ="CareerBuilder.vn"
                that.showModal()
            },
            showModal(){
                let that = this as any
                that.flag_show = true;
                that.dissable_submit = false
            },
            configSource(index){
                let that = this
                that.mode = 'edit'
                that.new_service = that.currentListService[index].cloneNewObject()
                that.showModal()
            },
            hideModal(){
                let that = this as any
                that.flag_show = false
                that.new_service = {};
            },
            checkChange(){
                let that = this as any
                if(that.dissable_submit){
                    that.dissable_submit = false
                }
            },
            turnOffSyncData(){
                let that = this as any
                if(that.dissable_submit){
                    that.dissable_submit = false
                }
                that.new_service.is_active = false

            },
            turnOnSyncData(){
                let that = this as any
                if(that.dissable_submit){
                    that.dissable_submit = false
                }
                that.new_service.is_active = true

            },
            createNewSoucreData(){
                let that = this as any
                let new_source = new SourceConnectData()
                new_source.company_id = that.currentCompany.id
                new_source.service = that.new_service.service
                new_source.username = that.new_service.username
                new_source.password = that.new_service.password
                new_source.is_active = true
                that.dissable_submit = true
                that.syncData(new_source).then((res)=>{
                    if(res == 200){
                        new_source.insert().then(()=>{
                            that.flag_show = false
                            that.$message.success("Đồng bộ thành công")
                        })
                    }
                })


            },
            UpdateSoucreData(){

                let that = this as any
                let new_source = new SourceConnectData()
                new_source = Object.assign(new_source,that.new_service)
                that.dissable_submit = true
                that.syncData(new_source).then((res)=>{
                    if(res == 200){
                        new_source.update().then(()=>{
                            that.flag_show = false
                            that.$message.success("Đồng bộ thành công")
                        })
                    }
                })

            },
            handlerSyncData(current_service){
                let that = this as any
                that.syncData(current_service).then((res)=>{
                    if(res == 200){
                        current_service.update().then(()=>{
                            that.flag_show = false
                            that.$message.success("Đồng bộ thành công")
                        })
                    }
                })
            },
            async syncData(current_service){
                let that = this as any
                let data={
                   username: current_service.username,
                   password: current_service.password,
                   service:current_service.service,
                   company_id:current_service.company_id
                }
                let status_sync_data = null
                await that.fakeapi(data).then((rep)=>{
                        if(rep.status == 200){
                            status_sync_data = 200
                        }else if(rep.status == 400){
                            status_sync_data = 400
                            that.$message.error("Lỗi tài khoản không tồn tại")
                        }else{
                            status_sync_data = 500
                            that.$message.error("Đã có lỗi xảy ra trong quá trình đồng bộ")
                        }
                    })
                return status_sync_data
            }
        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'companyUsers',
                'pendingInvitation',
                'currentCompany',
                'currentListService'
                // ...
            ]),

        },
        mounted(){
            let that = this as any
            that.getListService()
        }
    });
</script>
<style lang="scss" scoped>
    #connect-source-data{
        .section{
            a.add{
                text-decoration: unset;
                &:hover{
                    color: #5ac0e5;
                }
                &:focus{
                    color: #5ac0e5;
                }
            }
        }
        .member-group{
            border-radius: 4px;
            margin: 10px 0px;
            background-color:#f9fafa ;
            .align-self-start{
                .container-btn{
                    text-align: right;
                    .btn-action-connect{
                        border-radius: 5px;
                        border: solid 1px #ced4da;
                        padding: 5px 5px;
                        text-decoration: unset;
                        background-color: #f1f1f1;
                        i{
                            margin-right: 5px;
                            font-size: 12px;
                        }
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }

                .status-connect{
                    text-align: right;
                    padding: 15px 0px;
                    &.on-connect{
                        color: #76d691;
                    }
                    &.off-connect{
                        color: #e73e3e;
                    }
                }
            }
        }

    }

</style>
<style lang="scss">
    #modal-add-source-connect{
        .modal-body{
            padding: 0px 10px !important;
        }
        .add-actions{
            text-align: right;
        }
        .select-source{
            width: 100%;
        }
        .login-source{
            margin: 10px 0px;
            .input-source{
                padding: 5px 0px;
            }
        }
        .connect{
            background-color: #76d691 !important;
            color: #ffffff;
        }
        .on-async{
            background-color: #edeff0;
            padding: 5px 25px;
            border-top-rigth-radius: 4px;
            border-bottom-right-radius: 4px;
            cursor: pointer;
        }
        .off-async{
            background-color: #edeff0;
            padding: 5px 25px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            cursor: pointer;
        }

    }
</style>
