<template>
  <div class="settings">
    <div class="main-content">

        <div class="profile">
            <div class="header">
                <h1>{{messages.SR_002_SETTING_COMPANY_TITLE}}</h1>
            </div><!-- ngIf: updateFailed -->
            <div name="form" novalidate="novalidate">
                <div class="company">
                    <div class="section">
                        <h2 style="font-weight: bold">{{messages.SR_002_SETTING_COMPANY_NAME_TITLE}}</h2>
                        <p>{{messages.SR_002_SETTING_COMPANY_NAME_DESCR}}</p>
                        <input v-model="name"
                            class="name" type="text"
                             :placeholder="messages.SR_002_SETTING_COMPANY_NAME_TITLE" required="required"  style="width: 320px;" maxlength="320" :class="{ error:has_error }">

                        <span style="color: red; padding-left: 10px;"
                              v-if="message_error!=''"> {{message_error}}</span>
                    </div>
                </div>

                <div class="company">
                    <div class="section">
                        <h2 style="font-weight: bold" >{{messages.SR_002_DOMAIN_NAME}}</h2>
                        <p>{{messages.SR_002_DOMAIN_DESCR_BEFORE +' '+currentCompany.domain +messages.SR_002_DOMAIN_APP+' '+messages.SR_002_DOMAIN_DESCR_AFTER}}</p>


                        <div style="width: 400px;" class="input-domain">
                            <Input  v-model="domain" class="name" :class="{ error:error_domain }">
                                <template slot="append">{{messages.SR_002_DOMAIN_APP}}</template>
                            </Input>
                        </div>


                        <span style="color: red; padding-left: 10px;"
                              v-if="message_error_domain!=''"> {{message_error_domain}}</span>
                    </div>
                </div>

                <div class="footer align-right">
                    <button class="my-3 btn btn-blue default" @click="updateCompany">
                        <i class="default fa fa-save" v-if="!saveflag">&nbsp;&nbsp;</i>
                        <span class="default" v-if="!saveflag">{{messages.COMMON_SAVE}}</span>
                        <i class="success fa fa-check" v-if="saveflag">&nbsp;&nbsp;</i>
                        <span class="success" v-if="saveflag">{{messages.COMMON_SAVED}}</span>
                    </button>
                </div>
            </div>
        </div><!-- end ngIf: activeTab == "general" -->
    </div>
  </div>
</template>
<style lang="scss">
    @import '~element-ui/lib/theme-chalk/index.css';
    .input-domain {
        input.el-input__inner {
            margin-bottom: 0px !important;
        }
    }
</style>
<script lang="ts">
    import Vue from "vue";
    import {fauth} from '@/firebase';
    import {mapGetters} from 'vuex';
    import ModalWrapper from "@/components/ModalWrapper.vue";
    import {messages} from '@/messages';
    import {Input} from 'element-ui';
    import Company from '@/models/Company';
    import Slug from 'slugify';
    import ViNormalize from '@/helpers/normalize.vi';


    export default Vue.extend({
        data() {
            return {
                saveflag: false,
                name:'',
                message_error:'',
                has_error:false,
                domain:'',
                message_error_domain:'',
                error_domain:false,
            }

        },
        components: {
            ModalWrapper,
            Input
        },
        props: {},
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentCompany',
                // ...
            ]),
        },
        watch: {
            currentCompany: function (company) {
                const self = this;
                self.name = company.name;
            }
        },
        mounted:function () {
            var self =this;
            if (self.currentCompany) {
                self.name =  self.currentCompany.name;
                self.domain = self.currentCompany.domain
                    ? self.currentCompany.domain
                    : Slug(ViNormalize(self.currentCompany.name), {
                        replacement: '-',
                    });
            }

        },
        methods: {
            validate: async function () {
                const self = this;
                let flag: boolean = true;
                self.name = self.name.trim();
                self.domain = self.domain.trim();
                self.message_error_domain = "";
                self.error_domain = false;


                self.has_error = false;
                self.message_error = '';
                if (self.name == "") {
                    self.message_error = messages.SR_002_SETTING_COMPANY_NAME_NULL;
                    flag = false;
                    self.has_error = true;
                }


                if (self.domain){
                    self.domain = self.domain.toLowerCase();
                    if (!self.domain.match(/^[A-Za-z0-9\-]+$/)) {
                        flag = false;
                        self.message_error_domain = messages.SR_002_DOMAIN_INVALID_CHAR;
                        self.error_domain = true;
                    } else {
                        const company = await Company.instance.getByAlias(self.domain);
                        if (company && company.id && company.id !== self.currentCompany.id) {
                            flag = false;
                            self.message_error_domain = messages.SR_002_DOMAIN_ERROR;
                            self.error_domain = true;
                        }
                    }
                } else {
                    flag = false;
                    self.message_error_domain = messages.SR_002_DOMAIN_REQUIRED;
                    self.error_domain = true;
                }

                return flag;

            },
            async updateCompany(): Promise<void> {

                let self = this;
                if (await self.validate()) {

                    self.currentCompany.name = self.name;
                    self.currentCompany.domain = self.domain;

                    self.currentCompany.update().then(function () {
                        self.saveflag = true;

                        setTimeout(function () {
                            self.saveflag = false;
                        }, 2000);
                    }).catch(error_message => {
                        self.message_error = error_message;
                    })
                }

            }
        },
    });
</script>
