<template>
    <div class="p-3 user_sign" style="background: white;">
        <h1>{{messages.SR_001_SIGNATURE}}</h1>
        <p>{{messages.SR_001_SIGNATURE_DESCR}}</p>
        <VueEditor
            @imageAdded="handleImageAdded"
            useCustomImageHandler
            :editorOptions="editorSettings"
            ref="editor"
            v-model="signatureHtml">
        </VueEditor>
        <b-button-group class="my-2">
            <b-button @click="EnableSignature" class="btn-xs" :class="[signatureFlag ? 'btn-success': 'btn-default']">{{messages.COMMON_ENABLE}}</b-button>
            <b-button @click="DisableSignature" class="btn-xs " :class="[signatureFlag ? 'btn-default' : 'btn-success']">{{messages.COMMON_DISABLE}}</b-button>
        </b-button-group>
        <div class="my-2 clearfix">
            <div class="float-right">
                <button class="my-3 btn btn-blue default" @click="SaveUserSignature">
                    <i class="default fa fa-save" v-if="!saveflag">&nbsp;&nbsp;</i>
                    <span class="default" v-if="!saveflag">{{messages.COMMON_SAVE}}</span>
                    <i class="success fa fa-check" v-if="saveflag">&nbsp;&nbsp;</i>
                    <span class="success" v-if="saveflag">{{messages.COMMON_SAVED}}</span>
                </button>
            </div>
        </div>
    </div>
</template>

<style lang="css" scoped>

    .btn-success {
        background-color: #76d691 !important;
        border-color: #76d691 !important;
        color: #fff !important;
    }
    .btn-secondary:focus , .btn-success:focus{
        -webkit-box-shadow:none;
         box-shadow:none;
    }
    .btn {
        box-shadow: none;
    }
    .btn:hover {
        background-color: inherit;
    }
</style>

<script lang="ts">
    import Vue from 'vue';
    import User from "@/models/User";
    import {fstorage, server_time} from '@/firebase';
    import {mapGetters} from 'vuex';
    import { VueEditor, Quill } from "vue2-editor";
    import { ImageDrop } from 'quill-image-drop-module';
    import ImageResize from 'quill-image-resize-module';

    Quill.register('modules/imageDrop', ImageDrop);
    Quill.register('modules/imageResize', ImageResize);

    export default Vue.extend({
        name: "UserSignature",
        components: {
            VueEditor
        },
        data() {
            return {
                signatureHtml: '',
                saveflag: false,
                signatureFlag: false,
                editorSettings: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image']
                        ],
                        history: {
                            delay: 1000,
                            maxStack: 50,
                            userOnly: false
                        },
                        imageDrop: true,
                        imageResize: {
                            displayStyles: {
                                backgroundColor: 'black',
                                border: 'none',
                                color: 'white'
                            },
                            modules: [ 'Resize', 'DisplaySize', 'Toolbar' ]
                        }
                    }
                }

            }
        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'currentCompany',
                // ...
            ]),
        },
        watch: {
            currentUser: function (user) {
                const that = this;

                if(user.currentUser) {
                    if (!user.currentUser.signatureFlag) {
                        that.signatureFlag = false;
                    }else {
                    that.signatureFlag = user.currentUser.signatureFlag
                }

                    if (user.currentUser.signatureHtml)
                        that.signatureHtml = user.currentUser.signatureHtml;
                }
            }
        },
        mounted: function () {

            let  that = this as any;

            if (that.currentUser) {

                if (!that.currentUser.signatureFlag) {
                    that.signatureFlag = false;
                }else {
                    that.signatureFlag = that.currentUser.signatureFlag
                }

                if (that.currentUser.signatureHtml){
                    that.signatureHtml = that.currentUser.signatureHtml;
                }
            }
        },
        methods: {
            handleImageAdded(file, Editor, cursorLocation, resetUploader){
                console.log(file);
                let that = this as any;
                let datetime = server_time.now;
                let randomString = Math.random().toString(36).substring(5);
                let upload = fstorage.ref(`attachment/message_signature/${datetime.getFullYear()}/${randomString}/${file.name}`).put(file);
                upload.on('state_changed',sp=>{
                    },null,
                    ()=>{
                        upload.snapshot.ref.getDownloadURL().then(downloadUrl=>{
                            Editor.insertEmbed(cursorLocation, "image", downloadUrl);
                            resetUploader();
                        })
                    })
            },
            EnableSignature: function () {
                let  that = this as any;
                that.signatureFlag = true;

            },
            DisableSignature: function () {
                let  that = this as any;
                that.signatureFlag = false;
            },
            SaveUserSignature: function () {
                let  that = this as any;
                if (that.currentUser) {
                    that.currentUser.signatureFlag = that.signatureFlag;
                    that.currentUser.signatureHtml = that.signatureHtml;
                    that.currentUser.update();
                    that.saveflag = true;
                    setTimeout(function () {
                        that.saveflag = false;
                    }, 2000);
                }
            }
        }
        })
</script>
