<template>
    <div class="settings">
        <div class="main-content">
            <!-- ngIf: activeTab == "plan" -->
            <!-- ngIf: activeTab == "planBilling" -->
            <!-- ngIf: activeTab == "planConfirm" -->
            <!-- ngIf: activeTab == "planConfirmComplete" -->
            <!-- ngIf: activeTab == "users" -->
            <div class="team">
                <div class="header">
                    <h1>{{messages.SR_002_SETTING_MEMBER_TITLE}}</h1>
                    <p>{{messages.SR_002_SETTING_MEMBER_DESC + ' '+ currentCompany.name + '.'}}</p>
                    <div class="position">
                        <div class="section invite">
                            <button class="show-add-member btn btn-blue" @click="show()">
                                <i class="fa fa-envelope"></i>
                                <span style="padding-left: 3px;"> {{messages.SR_002_EMAIL_INVITE_LABEL}}</span>
                            </button>
                        </div>
                        <div class="section">
                            <h2 v-if="sortedPendingInvitation.length > 0">{{messages.SR_002_EMAIL_TITLE_PENDING}}</h2>
                            <b-list-group>
                                <b-list-group-item class="d-flex member-group align-items-center"
                                                   v-for="invite in sortedPendingInvitation"
                                                   :key="invite.id" style="background-color:#f9fafa ;">
                                    <div class="" style="width: 30px">
                                        <span class="avatar sm css-initial grey" style="height: 30px">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                    <div class="flex-grow-1 p-2">
                                        <div class="member-info">{{invite.email}}</div>
                                        <small class="role-user">

                                            <span v-if="compareYesterday(invite.day_create)">
                                                {{messages.SR_002_SETTING_INVITE_EXPIRE}}
                                            </span>
                                            <span v-else>
                                                {{messages.SR_002_EMAIL_INVITE_BY_LABEL}} {{invite.invite_name}}
                                                 {{invite.day_create | timeInvite}}
                                            </span>
                                        </small>

                                    </div>
                                    <div class="p-2">

                                    </div>
                                    <div class="p-2">

                                    </div>

                                    <div class="p-2" style="width:23px;">
                                        <a href="javascript:void(0)" @click="deleteInvite(invite)"
                                           v-tooltip.bottom-start="messages.SR_002_TOOLTIP_CANCEL">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>

                                </b-list-group-item>
                            </b-list-group>
                        </div>
                        <div class="section">
                            <h2>{{messages.SR_002_SETTING_MEMBERS_LABEL}}</h2>
                            <b-list-group>
                                <b-list-group-item class="d-flex member-group align-items-center"
                                                   v-for="user in sortedMember"
                                                   :key="user.id" style="background-color:#f9fafa ;">
                                    <div class="" style="width: 30px">
                                        <img :src="user.photoURL|| 'https://ui-avatars.com/api/?name=' + user.name+'&size=128'" onerror="this.style.opacity='0'" style="height: 30px"
                                             class="avatar rounded-circle">
                                    </div>
                                    <div class="flex-grow-1 p-2">
                                        <div class="member-info">{{user.name}} <span v-if="user.id == currentUser.id">{{messages.SR_002_USER_TEXT}}</span></div>
                                        <small class="role-user">{{user.email}}</small>
                                    </div>
                                    <div class="p-2">

                                    </div>
                                    <div class="p-2">
                                        <b-dropdown variant="light" v-bind:text="user.role | formatOption" style="background-color:#f9fafa;"
                                                    v-model="user.role" :disabled="user.id == currentUser.id">
                                            <b-dropdown-item v-for="option in optionsCheckbox"
                                                             :key="option.value"
                                                             :value="option.value"
                                                             @click="changeRole(user,option)"
                                            >{{option.text}}
                                            </b-dropdown-item>
                                        </b-dropdown>
                                    </div>
                                    <div class="p-2" style="width:23px;">
                                        <a href="javascript:void(0)" @click="deleteUser(user)" v-if="user.id != currentUser.id"
                                           v-tooltip.bottom-start="messages.SR_002_TOOLTIP_DELETE">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>

                                </b-list-group-item>
                            </b-list-group>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end ngIf: activeTab == "users" -->
            <!-- ngIf: activeTab == "teams" -->
            <!-- ngIf: activeTab == "billing" -->
            <!-- ngIf: activeTab == "general" -->
        </div>
        <b-modal id="modal-invite-members" class="modal-invite" :title="messages.SR_002_MODAL_TITLE"
                 :no-close-on-backdrop="true" @hide="hide()"
                 :visible="flag_show" :hide-footer="true" :width="500" :height="420">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="team-permissions add-membership">
                        <div class="header">
                            <p>
                                {{messages.SR_002_SETTING_MEMBERS_INVITE_EMAIL_TITLE}}

                            </p>
                            <div class="section invite manage-hiring-teams">
                                <div class="section invitation-container">
                                    <h2>{{messages.SR_002_SETTING_MEMBERS_INVITE_EMAIL_LABEL}}</h2>
                                    <input
                                        class="invite"
                                        type="text"
                                        placeholder="e.g. kyle@company.com, julia@company.com"
                                        required="required"
                                        style="width: 100%;"
                                        v-model="email_invite"
                                    >
                                    <br/>
                                    <span style="color: red; padding-left: 10px;"
                                          v-if="message_error!=''"> {{message_error}}</span>

                                    <ul class="user-type-selector" id="rad" style="margin-top: 10px;">
                                        <li class="user-type-option">
                                            <label for="radio-admin">
                                                <input
                                                    v-model="role_type"
                                                    type="radio"
                                                    name="user-type"
                                                    id="radio-admin"
                                                    value="1"
                                                >
                                                <span>{{messages.SR_002_SETTING_MEMBERS_INVITE_EMAIL_ADMIN_CHECKBOX}}</span>
                                            </label>
                                            <p class="page-option-role" v-show="role_type == '1'">
                                                {{messages.SR_002_SETTING_MEMBERS_INVITE_EMAIL_OPTION_ADMIN_LABEL}}
                                            </p>
                                        </li>
                                        <li class="user-type-option">
                                            <label for="radio-member">
                                                <input
                                                    v-model="role_type"
                                                    type="radio"
                                                    name="user-type"
                                                    id="radio-member"
                                                    value="2"
                                                    checked
                                                >
                                                <span>{{messages.SR_002_SETTING_MEMBERS_INVITE_EMAIL_MEMBER_CHECKBOX}}</span>
                                            </label>
                                            <p class="page-option-role" v-show="role_type == '2'">
                                                {{messages.SR_002_SETTING_MEMBERS_INVITE_EMAIL_OPTION_MEMBER_LABEL}}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add-member-actions">
                                    <button class="btn btn-none" type="button" @click="hide()">
                                        <span>{{messages.COMMON_CANCEL}}</span>
                                    </button>
                                    <button class="btn btn-blue" type="button" @click="sendEmail()"
                                            style="margin-left:5px;">
                                              <span>
                                                <i class="fa fa-envelope"></i>
                                                <span class="form-inactive" v-if="!has_send">
                                                 {{messages.SR_002_SETTING_MEMBERS_INVITE_SEND}}
                                                </span>
                                                  <span class="form-inactive" v-if="has_send">
                                                  {{messages.SR_002_SETTING_MEMBERS_INVITE_HAS_SEND}}
                                                </span>

                                              </span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
    </div>
</template>
<style  lang="scss">
@import "../../assets/styles/invite.scss";
</style>



<script lang="ts">
    import Vue from "vue";
    import Company from "@/models/Company";
    import {mapGetters, mapActions} from 'vuex';
    import User from '@/models/User';
    import {fauth, server_time} from '@/firebase';
    import Invite from "@/models/Invite";
    import {messages} from '@/messages';
    import moment from 'moment';
    import _ from "lodash";



    export default Vue.extend({
        data() {
            return {
                role_type: User.ROLE.MEMBER,
                members: [] as User[],
                invite_pending_list: [] as Invite[],
                optionsCheckbox: [
                    {
                        "value": User.ROLE.MEMBER,
                        "text": messages.SR_002_EMPLOY_OPTION_TEXT
                    },
                    {
                        "value": User.ROLE.ADMIN,
                        "text": messages.SR_002_ADMIN_OPTION_TEXT
                    },

                ],
                flag_show: false,
                email_invite: '',
                message_error: '',
                has_send: false
            }
        },
        watch: {
            companyUsers: function (users) {

                const self = this;
                if (users) {
                    self.members = users;
                }
            }
        },
        filters: {
            formatOption: function (value) {
                let optionType = {
                    [User.ROLE.ADMIN]: messages.SR_002_ADMIN_OPTION_TEXT,
                    [User.ROLE.MEMBER]: messages.SR_002_EMPLOY_OPTION_TEXT,
                };
                return optionType[value];
            },
            timeInvite: function (value) {
                //console.log(value);
                return moment(value, "DD MM YYYY, h:mm:ss a").fromNow();
            }
        },
        methods: {
            ...mapActions([
                'getInvitations',
            ]),

            compareYesterday:function(value) {
                var flag = false;
                var today = moment(server_time.now,'DD MM YYYY, h:mm:ss a').format('DD MM YYYY');
                var inviteday = moment(value,'DD MM YYYY, h:mm:ss a').format('DD MM YYYY');

                if (today != inviteday) {
                    flag = true;
                }

                return flag;
            },

            validateEmail: function (inputText) {
                const self = this;
                const mailformat =  /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                self.message_error = '';

                if (inputText == '') {
                    self.message_error = messages.COMMON_NULL_EMAIL_ERROR;
                    return false;
                } else if (inputText.match(mailformat)) {
                    return true;
                } else {
                    self.message_error = messages.COMMON_EMAIL_ERROR;
                    return false;
                }
            },
            sendInvite: async function (email) {
                const self = this as any;
                let current_invite = null as Invite | null;
                let check_user = null as User | null;

                await Invite.instance.getbyEmail(email).then(result => {
                    current_invite = result;
                }).catch(error => {
                    console.log(error);
                });

                await User.instance.getUserbyEmail(email).then(result => {
                    check_user = result;
                }).catch(error => {
                    console.log(error);
                });

                console.log(current_invite);

                if (current_invite) {
                    self.message_error = messages.SR_002_INVITE_EXITS;
                } else if (check_user && check_user.status === "1") {
                    self.message_error = messages.SR_002_USER_EXITS;
                } else {
                    const actionCodeSettings = {
                        // URL you want to redirect back to. The domain (www.example.com) for this URL
                        // must be whitelisted in the Firebase Console.
                        url: window.location.origin + "?email=" + email, // Here we redirect back to this same page.
                        handleCodeInApp: true // This must be true.
                    };
                    fauth.sendSignInLinkToEmail(email, actionCodeSettings).then(function () {
                        // Save the email locally so you don’t need to ask the user for it again if they open
                        // the link on the same device.
                        window.localStorage.setItem('emailForSignIn', email);
                        // The link was successfully sent. Inform the user.
                        // alert('An email was sent to ' + email + '. Please use the link in the email to sign-in.');

                        const invite = new Invite();
                        invite.company_id = self.currentUser.company_id;
                        invite.email = email;
                        invite.invite_by = self.currentUser.id;
                        invite.invite_name = self.currentUser.name;
                        invite.role = self.role_type;
                        invite.day_create = moment(server_time.now).format('DD MM YYYY, h:mm:ss a');

                        invite.insert().then(result => {

                        }).catch(error => {
                            console.log(error);
                            //self.$toasted.error('Send error!');
                        });




                        // [START_EXCLUDE]
                        // Re-enable the sign-in button.
                        // [END_EXCLUDE]
                    }).catch(function (error) {
                        // Handle Errors here.
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        // [START_EXCLUDE]
                        console.log(error);
                        self.message_error = error;
                        // [END_EXCLUDE]
                    });
                }
            },
            sendEmail: async function () {
                const self = this as any;
                const email_list = self.email_invite.trim().split(",");
                let current_invite = null as Invite | null;
                let check_user = null as User | null;
                let email_list_check = [];
                let promises = [];


                email_list.forEach (email =>{

                    if (self.validateEmail(email.trim()))
                        email_list_check.push(email.trim());

                });

                email_list_check = _.uniq(email_list_check);

                console.log(email_list_check);

                email_list_check.forEach (async email => {
                    const orderPromise = self.sendInvite(email);
                    promises.push(orderPromise);
                });

                self.has_send = true;
                setTimeout(function () {
                    self.has_send = false;
                }, 2000);

                await Promise.all(promises).then(
                    result =>{
                        self.hide();
                    }
                );



                // if (self.validateEmail(email)) {
                //
                //     await Invite.instance.getbyEmail(email).then(result => {
                //         current_invite = result;
                //     }).catch(error => {
                //         console.log(error);
                //     });
                //
                //     await User.instance.getUserbyEmail(email).then(result => {
                //         check_user = result;
                //     }).catch(error => {
                //         console.log(error);
                //     });
                //
                //     console.log(current_invite);
                //
                //     if (current_invite) {
                //         self.message_error = messages.SR_002_INVITE_EXITS;
                //     } else if (check_user && check_user.status === "1") {
                //         self.message_error = messages.SR_002_USER_EXITS;
                //     } else {
                //         const actionCodeSettings = {
                //             // URL you want to redirect back to. The domain (www.example.com) for this URL
                //             // must be whitelisted in the Firebase Console.
                //             url: window.location.origin + "?email=" + email, // Here we redirect back to this same page.
                //             handleCodeInApp: true // This must be true.
                //         };
                //         fauth.sendSignInLinkToEmail(email, actionCodeSettings).then(function () {
                //             // Save the email locally so you don’t need to ask the user for it again if they open
                //             // the link on the same device.
                //             window.localStorage.setItem('emailForSignIn', email);
                //             // The link was successfully sent. Inform the user.
                //             // alert('An email was sent to ' + email + '. Please use the link in the email to sign-in.');
                //
                //             const invite = new Invite();
                //             invite.company_id = self.currentUser.company_id;
                //             invite.email = email;
                //             invite.invite_by = self.currentUser.id;
                //             invite.invite_name = self.currentUser.name;
                //             invite.role = self.role_type;
                //             invite.day_create = moment().format('DD MM YYYY, h:mm:ss a');
                //
                //             invite.insert().then(result => {
                //
                //             }).catch(error => {
                //                 console.log(error);
                //                 self.$toasted.error('Send error!');
                //             });
                //
                //             self.has_send = true;
                //             setTimeout(function () {
                //                 self.has_send = false;
                //             }, 2000);
                //             self.hide();
                //
                //
                //             // [START_EXCLUDE]
                //             // Re-enable the sign-in button.
                //             // [END_EXCLUDE]
                //         }).catch(function (error) {
                //             // Handle Errors here.
                //             var errorCode = error.code;
                //             var errorMessage = error.message;
                //             // [START_EXCLUDE]
                //             console.log(error);
                //             self.message_error = error;
                //             // [END_EXCLUDE]
                //         });
                //     }
                // }
            },
            show() {
                const self = this;
                self.flag_show = true;
                self.message_error = '';
                self.email_invite = '';
                self.role_type = '2';
            },
            hide() {
                const self = this;
                self.flag_show = false;
                self.message_error = '';
            },
            deleteUser(user) {

                let r = confirm(messages.SR_002_SETTING_MEMBERS_CONFIRM_DELETE);
                if (r == true) {
                    if (user) {
                        user.status = "0";
                        //user.company_id = "";
                        user.update().then(function () {
                            // store.dispatch("setUser");
                        }).catch(error_message => {
                            console.log(error_message);
                        });
                    }
                }

            },
            deleteInvite(invite) {
                if (invite) {

                    console.log(invite);

                    invite.delete().then(function () {

                    }).catch(error_message => {
                        console.log(error_message);
                    });
                }

            },
            changeRole: function (user, option) {
                if (user) {
                    user.role = option.value;
                    console.log(user.id + ' : ' + user.role);

                    user.update().then(function () {

                    }).catch(error_message => {
                        console.log(error_message);

                    })
                }
            },


        },
        computed: {
            // mix the getters into computed with object spread operator
            ...mapGetters([
                'currentUser',
                'companyUsers',
                'pendingInvitation',
                'currentCompany'
                // ...
            ]),
            sortedPendingInvitation (): Array<object> {
                let self = this as any;
                if (self['pendingInvitation']) {
                    return _.orderBy(self['pendingInvitation'], 'createdAt', 'asc');
                } else {
                    return [];
                }
            },
            sortedMember (): Array<object> {
                let self = this as any;
                if (self['companyUsers']) {
                    return _.orderBy(self['companyUsers'], 'createdAt', 'asc');
                } else {
                    return [];
                }
            },
        },
        mounted: async function () {
            const self = this as any;
            if (self.companyUsers) {
                self.members = self.companyUsers;
                self.getInvitations();
            }
        }
    });
</script>
